[2020-12-09 08:35] MichaelCzcz commented on #6311
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-09 08:35] #6311 closed

[2020-12-09 09:19] MichaelCzcz commented on #5809
@sandeep-tds Any updates?

[2020-12-09 09:40] RK7-RK opened #6312 "Install the SAP HANA Client"
Tutorial URL: https://developers.sap.com/tutorials/hana-clients-install.html

Hello,

i have installed the SAP HANA Client, but there is no 32 Bit driver, only the 64-bit driver.
Where can i find the 32-Bit driver?

Best regrads
Robin

[2020-12-09 10:51] NidhiMurkute opened #6313 "Use Machine Learning to Extract Information from Documents with Document Information Extraction Trial UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-aibus-dox-ui.html

Please specify the step you are referring to : Step 2: See and edit extraction results

The names of Header fields and Line items are different than the actual result. Such as Document Number(in screenshot its Invoice number), Receiver Name(Buyer Name) Receiver Address(Buyer Address) etc. as shown in screenshot below
Expected

[2020-12-09 12:37] pavanmulpur commented on #6290
Thanks  a lot @raz-korn . I was able to fix it and complete the tutorial.

Regards,
Pavan.

[2020-12-09 12:58] MichaelCzcz commented on #6247
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-09 12:58] #6247 closed

[2020-12-09 13:22] danielva commented on #6312
In the tutorial, under Step 3: Alternate Install Option, the SAP Software Downloads site has a drop down called Items Available to Download.  From there, you can choose the option Windows Server on IA32 32Bit to download a 32 bit version of the SAP HANA client for windows.

Hope that helps.  I will look into adding a note about that in a future update to the tutorial.

Regards,
Dan v

[2020-12-09 14:28] MichaelCzcz commented on #6312
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-09 14:28] #6312 closed

[2020-12-09 22:34] charles0488 opened #6316 "Build Skeleton React and UI5 Projects"
Tutorial URL: https://developers.sap.com/tutorials/luigi-app-basic-setup.html

Please specify the step you are referring to
npm i -P @luigi-project/core @luigi-project/client fundamental-styles fundamental-react @sap-theming/theming-base-content react-router-dom
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: react-core-mf@0.1.0
npm ERR

[2020-12-09 22:35] charles0488 opened #6317 "Build Luigi App with React"
Tutorial URL: https://developers.sap.com/tutorials/luigi-app-react.html

Please specify the step you are referring to
npm run eject

NOTE: Create React App 2+ supports TypeScript, Sass, CSS Modules and more without ejecting: https://reactjs.org/blog/2018/10/01/create-react-app-v2.html

✔ Are you sure you want to eject? This action is permanent. … yes
This git repository has untracked files or unco

[2020-12-10 04:22] equilibrium999 opened #6318 "Expose Integration Flow Endpoint as API and Test the Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html

Please specify the step you are referring to Step 5: Execute API

When I execute, it returns me this error.

`<!doctype html><html lang="en"><head><title>HTTP Status 403 – Forbidden</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;}

[2020-12-10 04:36] shivakumar-p-sap opened #6319 "Create an SAP Fiori App Using SAP Business Application Studio"
Tutorial URL: https://developers.sap.com/tutorials/appstudio-fioriapps-create.html

Step 1 -->  Sub step 2 :
                                      Update screenshot
![1](https://user-images.githubusercontent.com/65213299/101721631-6c533b00-3ace-11eb-92bb-7b9192db4b28.PNG)

Step 1 -->  Sub step 4 :
                                      Update screenshot
![2](https://user-images.githubusercontent.co

[2020-12-10 04:39] shivakumar-p-sap opened #6320 "Build and Deploy Your SAP Fiori App to SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/appstudio-fioriapps-mta-build-deploy.html

Step 3 : Last screenshot needs to update

![Last](https://user-images.githubusercontent.com/65213299/101722180-ab35c080-3acf-11eb-81d3-c4ba85593682.PNG)

Labels :
Landscape Labels: trail1, trail2, trail3
SCPTest-eboard: Develop an SAP Fiori App Using SAP Business Application Studio
Priority label :‘Low-pr

[2020-12-10 07:33] NidhiMurkute opened #6321 "Use Machine Learning to Extract Information from Documents with Document Information Extraction Trial UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-aibus-dox-ui.html

Please specify the step you are referring to : Step 1: Upload documents

Region : US, in trial account

Uploaded the given sample invoice in Document Information Extraction Trial UI but it is observed that the upload status will be in pending for longer time and later it fails to upload the document.

![image](https://user-im

[2020-12-10 08:03] mervey45 commented on #6152
Hi @shivakumar-p-sap ,

we have following ticket regrading this issue opened: https://github.wdf.sap.corp/ux-engineering/tools-suite/issues/10358.
@MichaelCzcz we can close this issue.

Thank you for your understanding.

Best regards,
Merve

[2020-12-10 08:05] mervey45 commented on #6224
Hi @SuuSuu9280 ,

we have currently an issue with that. The SAP Fiori Launchpad site don't show up right now, but we are working on this issue.
Thank you for your understanding.

Best regards,
Merve

[2020-12-10 08:07] mervey45 commented on #6299
Hi @AbeDong ,

we have currently some issues with the deployment. The SAP Fiori launchpad side don't show up. But we are working on this issue right now.

Thank you for your understanding.

Best regards,
Merve

[2020-12-10 08:09] mervey45 commented on #6270
Hi @tschalcktwm,

Can you please check whether you have already created an ABAP service? If so, the booster is unnecessary for you. You can only have 1 ABAP service at a time. If not, please contact me again.

Thank you.

Best regards,
Merve

[2020-12-10 09:57] PriyankaShivakumar opened #6322 "Add a step for Login into the Mobile Services Cockpit"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 3: Open card in Mobile Services Cockpit

After launching the Mobile Services Cockpit, we get a login screen as below. Include a step for the login operation.

![image](https://user-images.githubusercontent.com/65999547/101756619-3331bf80-3afc-11eb-9d62-357f253f2920.png)

Labels:
Landscape: trail1, trail2,

[2020-12-10 10:01] PriyankaShivakumar opened #6323 "Add Steps to close the Mobile cards Advisory popup."
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 3: Open card in Mobile Services Cockpit

After login to the Mobile services cockpit, we get a SAP Mobile cards Advisory popup as below. Add steps to close it.
![image](https://user-images.githubusercontent.com/65999547/101756913-8a379480-3afc-11eb-9b8a-53944b5de76b.png)

Labels:
Landscape: trail1, trail2,

[2020-12-10 10:05] PriyankaShivakumar opened #6324 "Mobile Services Cockpit: Screenshot has to be changed"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 3: Open card in Mobile Services Cockpit

While selecting the supplier card, booster welcome card is also present. Since the previous tutorial is mentioned as a prerequisite for this tutorial, From a customer perspective in order to avoid confusion, Screenshot has to be updated to the one given below.
![im

[2020-12-10 10:09] AkankshaKullu opened #6325 "Set Up SAP Cloud Platform Launchpad Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html

Please specify the step you are referring to:
**In step 2.3** The statement "Click sap.default to select the SAP ID Service." needs to be changed to "Click Default identity provider to select the SAP ID Service." The screenshot also needs to be updated. As it might create confusion for the new user.

*

[2020-12-10 10:26] PriyankaShivakumar opened #6326 "Add steps to re subscribe the card in Android"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 4: View card on your mobile device

Add steps to re subscribe the card in Android . It is mentioned for IOS but not for Android. Since re subscription is necessary if the card is not displayed, it is difficult to re subscribe the card in android if the steps are not mentioned.

Labels:
Landscape: trail1,

[2020-12-10 10:42] PriyankaShivakumar opened #6327 "Mobile Cards Application: Screenshot has to be changed"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 4: View card on your mobile device

Booster welcome card is also present along with supplier card. Since the previous tutorial is mentioned as a prerequisite for this tutorial, From a customer perspective in order to avoid confusion, Screenshot has to be updated to the one given below.
![image](https://us

[2020-12-10 10:43] AkankshaKullu opened #6328 "Create a Launchpad Site"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-create-sitelaunchpad.html

Please specify the step you are referring to
In step 1.1 Observation: in the left side panel new tool has been added for settings. The screenshot can be updated.

Expected:
![2](https://user-images.githubusercontent.com/69286515/101761698-7abb4a00-3b02-11eb-8b34-c482358bf2cd.png)

Actual:
<img wid

[2020-12-10 10:53] PriyankaShivakumar opened #6330 "Error Popup while using Build a micro app for SAP Mobile Cards booster."
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html

Step 2: Create contact card using Boosters

The following error popup is displayed for the booster-**Build a micro app for SAP Mobile Cards.**
This error is displayed when we try to create **more than 3 cards** with the same public ip address.
![image](https://user-images.githubusercontent.com/65999547/1017626

[2020-12-10 13:19] Vikramkulkarni01 commented on #6318
Hi @equilibrium999 ,

Thanks for your feedback.

Then error code that you are receiving is a generic one. The server understood the request but is refusing to fulfill it.

Could you please check the authorization?

Regards,
Vikram Kulkarni

[2020-12-10 14:30] tschalcktwm commented on #6270
Hi Merve,

Thanks for taking the time to help. I did not already have an Abap instance in my trial space. I followed some posts and decided to completely remove my subbacount then create it again, and then I was able to create the Abap instance.

Thibault

[2020-12-10 16:33] hvolk opened #6331 "Add a User Task to Your Workflow and Deploy"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-3-add-usertask-cf.html

In step 2.4, I read:
"These expressions refer to the attributes in the JSON file that we have created in the previous step."

However, I don't see any JSON file in the previous step. Can you please advice.

[2020-12-10 19:25] i353590 opened #6332 "Step not clear - Fiori App ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-data-model.html

Step 1.5 & 1.6:
"Define root view for ZI_TRAVEL_M_XXX and database table as source" & "Your result should look like this. Replace your code with following" ->
Step is confusing: First we are asking define root view.. but not asking to write anything in the code, and then next step first we are saying your

[2020-12-10 20:02] i353590 opened #6333 "Edit Step name to PUBLISH instead of ACTIVATE - Fiori App ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-data-model.html

step 4.4: Activate your service binding.
change step and screenshot:
now we have to PUBLISH, not activate.

Please refer to screenshot:
![image](https://user-images.githubusercontent.com/66831161/101823319-96e5d800-3b50-11eb-9287-3215153a74fb.png)

Labels to be added:
Sprint Label: SCPTest-2011A
Landscape

[2020-12-10 20:06] i353590 opened #6334 "Step not clear - Fiori App ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-behavior-action.html

Similar to issue:https://github.com/SAPDocuments/Tutorials/issues/6332
Step 1.1 & 1.2:
Step 1.1 doesn't make sense as we are replacing the entire code in 1.2 & also first we are saying result should look like this and then replacing the code which doesn't seem correct.

Please update the tutorial.

La

[2020-12-10 20:10] i353590 opened #6335 "Update trust Config. SAP ID name- Fiori app ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html

Step 1.6: Select sap.default.
Now the default name is "default Identity provider"
Please update step and screenshot.

Screenshot:
![image](https://user-images.githubusercontent.com/66831161/101824106-c0ebca00-3b51-11eb-945a-ab02a3dc6ea7.png)

Labels to be added:
Sprint Label: SCPTest-2011A
Landsc

[2020-12-10 20:13] i353590 opened #6336 "Change in step in create SAP fiori app - Fiori app ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
Step 4.3: Select SAP Fiori elements application and click Next >.

Now we need to click on "Start" instead of "Next"
Please update screenshot and step description

Labels to be added:
Sprint Label: SCPTest-2011A
Landscape label: trail1, trail2
Scenario label: SCPTest-fabap
Prio: low-prio

Thanks,

[2020-12-10 20:19] i353590 opened #6337 "Update Document: System and ABAP env. options changed - Fiori app ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
Step 4.5: Configure data source, system and service

 System: New System -> NO more exist now. we need to select "abap-cloud-default_abap-trial (SCP)" , and ABAP environment we no more need to select. that option itself doesn't come now.

Please refer to the screenshot and update the tutorial as a

[2020-12-10 20:23] i353590 opened #6338 "Click expose and open - Update comment - Fiori app ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
Step 5.3: Click Open in New Tab.
Please mention: "expose and open" instead of "open in new tab" ( You can also check the screenshot provided is correct which says expose and open).
Also, ADD A STEP -  "please press enter to use default port" after clicking expose and open.
![image](https://user-im

[2020-12-10 20:30] i353590 opened #6339 "Step missing - Navigate to Business app Studio - Fiori app ABAP"
Hello,

Scenario URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
Step 6.4: To add deploy config details enter npx fiori add deploy-config.
-> before this step, add step to go back to SAP Business App studio as we are navigating to eclipse in last step.
also, can we make statement more meaningful saying execute "npx fiori add deploy-config" from terminal?

Label

[2020-12-10 22:02] juanpablotoledo opened #6340 "Design and Deploy Your First Integration Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html

Please specify the step you are referring to

Hi.
I am in step 9-Deploy the integration flow. I got this error:

Connecting to operations server failed.
<!doctype html><html lang="en"><head><title>HTTP Status 400 – Bad Request</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1

[2020-12-10 22:36] equilibrium999 commented on #6318
Hi @Vikramkulkarni01

I've followed the whole tutorial, assign myself roles that are required in the tutorial.

Regards,

Minh

[2020-12-11 05:10] rvencu opened #6341 "Installing SAP HANA, express edition with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

Please specify the step you are referring to: Step 13: (Optional) Update Your Docker Image

Trying to run HXECheckUpdate_linux.bin which I only found in /usr/sap/HXE/home/bin/ seems to fail because no JRE is found.

which: no java in (/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin)
which: no java in

[2020-12-11 07:33] sagnik9393 opened #6342 "Create a Basic Flow with a SOAP Endpoint"
Tutorial URL: https://developers.sap.com/tutorials/cp-integration-create-basic-flow.html

The tutorial should also try to include the details of  GMAIL 2 Step Verification to sync up the sender properties.
The password in Security Material should not be Google Email Password ( in case Google SMTP ) is used. But it should refer to the  Gmail Auto Generated Password .

Thanks

[2020-12-11 09:11] Vikramkulkarni01 commented on #6340
Hi @juanpablotoledo ,

Thanks for the feedback.

Based on the error message, it seems like a technical glitch.

Could you please re-deploy the integration flow and check once?

Regards,
Vikram Kulkarni

[2020-12-11 10:00] muratalcal opened #6343 "Update and Maintain Your SAP Profile at people.sap.com"
Tutorial URL: https://developers.sap.com/tutorials/community-profile.html

Please specify the step you are referring to: "Step 1: Access your profile" does have different selections.
![image](https://user-images.githubusercontent.com/75835609/101889602-a563dc00-3bb0-11eb-84f8-678b48feba57.png)

[2020-12-11 10:18] IObert opened #6344 "Create an Application for Producing Messages"
Tutorial URL: https://developers.sap.com/tutorials/cp-enterprisemessaging-nodejs-producing-app.html

Please specify the step you are referring to 1

The SAP npm registry is not needed anymore and actually causes some [confusion](https://answers.sap.com/questions/13205048/npm-install-of-sap-npm-registry-keeps-failing-on-e.html?childToView=13209134&answerPublished=true#answer-13209134). I'd suggest

[2020-12-11 10:18] IObert opened #6345 "Create an Application for Receiving Messages"
Tutorial URL: https://developers.sap.com/tutorials/cp-enterprisemessaging-nodejs-receiving-app.html

Please specify the step you are referring to 1

The SAP npm registry is not needed anymore and actually causes some [confusion](https://answers.sap.com/questions/13205048/npm-install-of-sap-npm-registry-keeps-failing-on-e.html?childToView=13209134&answerPublished=true#answer-13209134). I'd suggest

[2020-12-11 10:39] Omrocks opened #6346 "Set Up Business Rules for Determining Equipment"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-businessrules.html

Please specify the step you are referring to
Step-3 While saving records I am getting error as below

"Bad Gateway Error"

![image](https://user-images.githubusercontent.com/19869495/101893775-38aa0b00-3bcb-11eb-8c57-dce0e3c7e343.png)

[2020-12-11 11:52] jankstar commented on #6289
Hi,
Thank you for the information.
I think that is the problem. In my account, the DESTINATION generation aborts with an error. I have defined a new SPACE in my account and run BOOSTER again - unfortunately the same problem: "... Creation of below destinations faild ... WM_CF_SPACE_PROVIDER ...".  When I call up DESTINATION, only a red bar appears "Could not load list of global accounts: Internal

[2020-12-11 11:52] #6289 closed

[2020-12-11 12:52] mervey45 commented on #6339
Hi @i353590 ,

we have an incident on this: https://github.wdf.sap.corp/ux-engineering/tools-suite/issues/10358.
Unfortunately we have to wait, until is is solved.

Thank you for your understanding.

Best regards,
Merve

[2020-12-11 14:24] juanpablotoledo commented on #6340
Hi Vikram.

Today is working well, the error was appearing when I tried to access the monitor. Finally the Iflow was deployed successfully.

Thank you.

Juan Pablo.

[2020-12-11 14:24] #6340 closed

[2020-12-11 15:22] mervey45 commented on #6332
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6333
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6334
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6335
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6336
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6337
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6338
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 15:22] mervey45 commented on #6339
Hi @i353590 ,

I created following pull request: #6347 for this issue.
@MichaelCzcz  we can close this ticket.

Best regards,
Merve

[2020-12-11 17:25] juanpablotoledo opened #6348 "Expose Integration Flow Endpoint as API and Test the Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html

Please specify the step you are referring to
Hi I am in Tutorial 3, Step 5: Execute API and I am getting this error:

LastError           = com.sap.it.rt.adapter.http.api.exception.HttpResponseException: An internal server error occured: Header/Property value not found for the parameter ${header.productIdenti

[2020-12-12 16:03] SaravanaKumarVelliyangiri opened #6349 "Build Your First FAQ Chatbot"
Tutorial URL: https://developers.sap.com/tutorials/conversational-ai-faq-chatbot-beginner.html

Please specify the step you are referring to Step 7. Test feature is not working and result in Cannot make request error

[2020-12-13 06:17] #6339 closed

[2020-12-13 06:18] #6338 closed

[2020-12-13 06:18] #6337 closed

[2020-12-13 06:18] #6335 closed

[2020-12-13 06:18] #6336 closed

[2020-12-13 06:19] #6334 closed

[2020-12-13 06:19] #6333 closed

[2020-12-13 06:19] #6332 closed

[2020-12-13 06:22] thecodester commented on #6306
@shilpavij If this is a limitation for this tutorial, you should indicate this in the prerequisites, and close this issue. Thanks.

[2020-12-13 08:53] thecodester commented on #6127
@adithyak369 Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-13 08:53] #6127 closed

[2020-12-13 08:54] thecodester commented on #6104
@IsabellaMasselli Is this still an issue?

@ArchanaShukla Let us know when this is resolved.

[2020-12-13 13:10] greg2git opened #6350 "Set Up Business Rules for Determining Equipment"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-businessrules.html

Please specify the step you are referring to 2.5&3.2: Importing the project.

The Connection to "BUSINESSRULES_APIHUB" established. Response returned: "200: OK" but when importing the Project I get
"Bad Gateway Error."

There seem to be missing context instructions to provide either:
/sap/op

[2020-12-13 22:27] DuoBelt opened #6351 "Store sensor data in SAP Vora in SAP Data Hub, developer edition"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-storeinvora.html

Please specify the step you are referring to

Hello
I have little problem with  (SAP Vora Loader )
SAP Vora Loader : ->  Status dead

I don't use a password for vora user, after the default installation SAP Data Hub, could this be a problem?
VORA.SENSORDATA has been created but no data is available

Message
.

[2020-12-14 04:19] FarozanFarman opened #6352 "Set Up Integration Suite Trial"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html

Step 5:   Assign roles for the capabilities:
1.Go to   Security > Trust Configuration and click sap.default.:
It should be Default Identity Provider instead of sap.default and screenshot needs to be updated.

Expected result:
![image](https://user-images.githubusercontent.com/71028764/102039843-07128900-3d

[2020-12-14 04:28] FarozanFarman opened #6353 "Expose Integration Flow Endpoint as API and Test the Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html
Step 3. Define the API:
12.In the editable section on the right part of the screen, change the content as shown in the following.

Change Payload to productIdentifier and add the following row as shown in the following screenshot: example: “HT-2000”:

Screenshot needs to be changed as there should not be any d

[2020-12-14 04:51] FarozanFarman opened #6354 "Set Up Process Visibility to Track Employee Onboarding Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-4-visibility.html

Step 1. Create a business scenario:
3. Enter Name as Employee Onboarding, any Description of your choice, and click Create.:
Screenshot needs to be changed:
Expected result:
![image](https://user-images.githubusercontent.com/71028764/102041059-75a51600-3df4-11eb-82c7-d7a551051da6.png)
Actual Re

[2020-12-14 06:35] Omrocks opened #6355 "Automate and Extend Employee Onboarding"
Mission URL: https://developers.sap.com/mission.cp-starter-ibpm-employeeonboarding.html

I am getting error "Bad Gatway Error"...no one is providing help ??

[2020-12-14 12:06] mmartinezfernandez opened #6359 "Build a Business Application Using CAP for Node.js"
Mission URL: https://developers.sap.com/mission.cp-starter-extensions-cap.html

Great tutorial!!

[2020-12-14 13:13] iwonahahn commented on #6359
Hi,

Thank you for this feedback. You can provide your feedback at the end of each CAP tutorial, cause here is the channel for channel 😅 :

![image](https://user-images.githubusercontent.com/22098308/102084776-f294b780-3e15-11eb-9b95-e9245c4ff646.png)

If you want to learn more, please visit our [community](https://community.sap.com/topics/cloud-application-programming) or try out the [learning jo

[2020-12-14 13:23] greg2git commented on #6355
no help, but a confirmation that i'm also getting the error.

[2020-12-14 14:04] Juliana-Morais commented on #6313
Hello,

The screenshots have been updated, as requested (https://github.com/SAPDocuments/Tutorials/pull/6356).

Best regards,
Juliana

[2020-12-15 13:18] Auggie9010 opened #6363 "The reason why sap.app.id in manifest.json must be updated"
Tutorial URL: https://developers.sap.com/tutorials/appstudio-fioriapps-mta-build-deploy.html

Please specify the step you are referring to
Step 4: Get URL to access the application>4 Locate the sap.app id from the manifest.json file located ~

Could you possibly tell me **the reason why this step is required**, please?

Without changing `sap.app id` in `manifest.json`, the URL `<URL_from_applicati

[2020-12-15 14:03] danhenry00 opened #6364 "Create a Basic Flow with a SOAP Endpoint"
Tutorial URL: https://developers.sap.com/tutorials/cp-integration-create-basic-flow.html

I was able to get this tutorial to work by following some additional steps:

1) configure GMail SMTP properly - https://blogs.sap.com/2020/01/15/cpi-gmail-smtp-integration/
2) User Plain User/Password instead of Encrypted.

Kindly suggest updating the tutorial so that others don't also have to figure it out a

[2020-12-15 14:15] danhenry00 commented on #6364
Also, how to assign the Role was not clear, but was able to get help.  The following could be helpful for the next person going through the tutorial.

Goto -> Security -> Roles on your tenant and look for the role it-rt-integration2 and you will see that it has the “MessagingSend” role template. That is the role template we want
Goto -> Security -> Role Collections and click on the “+” to create a

[2020-12-15 14:36] danhenry00 opened #6365 "Design and Deploy Your First Integration Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html

Kindly suggest adding a step to test and validate the deployed service to complete the development.

I found that posting the following Body to the endpoint was sufficient to accomplish it.

{
	"productIdentifier": "HT-1080"
}

[2020-12-15 14:55] LindsayBert commented on #6325
Updated - will publish today.

Thanks
Lindsay

[2020-12-15 15:21] LindsayBert commented on #6328
Updated

Thanks
Lindsay

[2020-12-15 16:11] tglobalops opened #6367 "Tour the SAP Community"
Tutorial URL: https://developers.sap.com/tutorials/community-start.html

Please specify the step you are referring to

Hi Team,
Pls help...
Step 10 in this tutorial has a bug... despite selecting the correct answers & following all the instructions it wont go ahead, here's attaching a screenshot for your refernce.

Regards,
Taher +918850518284
![image](https://user-images.githubusercontent.com/590

[2020-12-16 08:31] sandeep-tds commented on #6147
Hi @i353590

Thank you for raising this issue.

We will be tracking this issue as a part of this GitHub issue.
https://github.com/SAPDocuments/Tutorials/issues/6330

@MichaelCzcz Can you please close the ticket?

Warm Regards
Sandeep T D S

[2020-12-16 08:33] sandeep-tds commented on #6330
Hi @PriyankaShivakumar,

Thank you for raising the issue.

We have forwarded the error to the development team and will ensure that a solution is provided by the next release.

Warm Regards
Sandeep T D S

[2020-12-16 08:39] sandeep-tds commented on #6327
Hi @PriyankaShivakumar,

Thank you for raising this issue.

You are correct, the tutorial points to another tutorial as a pre-requisite. However, in some cases, people may choose to complete only this tutorial. Correspondingly we show the result of this tutorial in our image.

Thus, would it be ok if we close this ticket?

Warm Regards
Sandeep T D S

[2020-12-16 11:21] stevebannister2016 opened #6369 "Add a Web Dynpro ABAP App to Your SAP Cloud Platform Launchpad Site"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-webdynpro-app.html

In "Step 2: Configure the Web Dynpro ABAP app", the tutorial says to set the System value to ES5. However, I'm using the trial version and only "No System" can be entered (therefore only allowing URLs to be used),

[2020-12-16 11:26] thecodester commented on #6367
This is not a technical issue, since the answers provided are different than what is defined for this question. I'll let @lenastodal  discuss the actual qustion

[2020-12-16 11:28] thecodester commented on #6364
@gauthamkrishna-sap Please also put your name on the tutorials that you inherited from Meghna. Thanks.

[2020-12-16 11:29] thecodester commented on #6359
Yay! :-)

[2020-12-16 11:29] #6359 closed

[2020-12-16 11:30] Vikramkulkarni01 commented on #6365
Hi @danhenry00 ,

Thanks for reaching out to SAP.

With reference to your concern, you have deployed an integration flow.

To test the same, you need to proceed with the next set of tutorial i.e., https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html

Please complete the whole mission to get a better trial experience.

Regards,
Vikram

[2020-12-16 11:31] stevebannister2016 commented on #6369
Further to my last comment, I'm thinking maybe ES5 needs to be setup in the Provider Manager?  If so, step is missing from the tutorial.

[2020-12-16 11:31] thecodester commented on #6355
@Omrocks I have assigned the issue.

- I assume it will help to provide aditional information -- what steps were taken before the error occurred.
- What do you mean "no one is providing help"? You wrote that at the very instant you opened the ticket :-)

[2020-12-16 11:39] lenastodal commented on #6367
Hi @tglobalops - "Standalone videos are not recommended" shouldn't be selected as it's not correct.
Then the step should work and be validated.
Thanks and best,
Lena

[2020-12-16 11:46] thecodester commented on #6351
@dimvor  Also review your tutorials and republish the ones that do not have your name on them. Add your name in the metadata section.  Thanks.

[2020-12-16 12:59] sandeep-tds commented on #6326
Hi @PriyankaShivakumar,

Thank you for your feedback. I will add the details on how a user can subscribe to a card.

The changes will be available next week.

Warm Regards
Sandeep T D S

[2020-12-16 13:01] sandeep-tds commented on #6324
Hi @PriyankaShivakumar,

As mentioned in the earlier in [this issue](https://github.com/SAPDocuments/Tutorials/issues/6327), we treat each tutorial independently and so provide screenshots that show the result of that tutorial.

This allows the students to stay focussed and not be confused.

Thus, can we please close this ticket?

Warm Regards
Sandeep T D S

[2020-12-16 13:05] sandeep-tds commented on #6323
Hi @PriyankaShivakumar,

Thank you for your feedback. I will add the required details.
The changes will be available next week.

Warm Regards
Sandeep T D S

[2020-12-16 13:11] sandeep-tds commented on #6322
Hi @PriyankaShivakumar,

Thank you for your feedback. I will add the required details.
The changes will be available next week.

Warm Regards
Sandeep T D S

[2020-12-16 13:12] Vikramkulkarni01 commented on #6348
Hi @juanpablotoledo,

It seems like a temporary error.

Could you please redeploy the integration flow and execute the API.

Regards,
Vikram Kulkarni

[2020-12-16 13:13] sandeep-tds commented on #6187
Hi @QNBee,

Thank you for raising this issue. As mentioned in the [tutorial](https://developers.sap.com/tutorials/cp-mobile-cards-push-sales-card.html), if you don't see the Service Keys tab, please refresh the page.

Also, please note that due to a recent release this feature is not working as expected. We are working on providing a resolution at the earliest.

Thank you for your patience.

Warm

[2020-12-16 13:14] sandeep-tds commented on #6157
Hi @PriyankaShivakumar,

Thank you for your feedback. I will add the required details.
The changes will be available next week.

Warm Regards
Sandeep T D S

[2020-12-16 13:15] Vikramkulkarni01 commented on #6353
Hi @FarozanFarman ,

Thanks for the feedback. I will get this screenshot updated within the next release cycle.

Regards,
Vikram Kulkarni

[2020-12-16 13:16] Vikramkulkarni01 commented on #6352
Hi @FarozanFarman ,

Thanks for the feedback. I will get this screenshot updated within the next testing cycle.

Regards,
Vikram Kulkarni

[2020-12-16 13:16] sandeep-tds commented on #6150
Hi @i353590

We recently updated the tutorials. These issues have been addressed in the previous release.
Can you please confirm if the issues raised have been resolved?

Warm Regards
Sandeep T D S

[2020-12-16 13:16] sandeep-tds commented on #6149
Hi @i353590

We recently updated the tutorials. These issues have been addressed in the previous release.
Can you please confirm if the issues raised have been resolved?

Warm Regards
Sandeep T D S

[2020-12-16 13:16] sandeep-tds commented on #6148
Hi @i353590

Thank you for your feedback. I will add the required details.
The changes will be available next week.

Warm Regards
Sandeep T D S

[2020-12-16 14:51] LindsayBert commented on #6369
Hi

Have you done the other two tutorials in this group:

- [(https://developers.sap.com/tutorials/gateway-demo-signup.html](https://developers.sap.com/tutorials/gateway-demo-signup.html
- [(https://developers.sap.com/tutorials/cp-portal-cloud-foundry-gateway-connection.html)]

If you've done these two tutorials, the ES5 system should appear in the dropdown list of systems.

Thanks
Lindsay

[2020-12-16 14:52] Juliana-Morais commented on #6321
I've tested again today and the issue persists. I've opened an internal BCP ticket (https://support.wdf.sap.corp/sap/support/message/2080443362). The team is already following up on this and there's also a new release coming until the end of the week that might solve the issue.

[2020-12-16 14:54] Juliana-Morais commented on #6122
We plan to update the tutorials ASAP in January.

[2020-12-16 15:09] stevebannister2016 commented on #6369
Hi Lindsay,

Thanks for the quick reply, I had done both of those tutorials. I closed my browser and went back in, and the option is now there, so looks like a caching issue. I had a similar issue when I created a site in the launchpad, the tile didn't appear until I closed the session and went back in.

Anyway, all seems fine now. Thanks again, and great work with these tutorials!

Steve

[2020-12-16 15:09] #6369 closed

[2020-12-16 15:21] LindsayBert commented on #6369
Good to hear.
And thanks - glad you like the tutorials :)

[2020-12-16 18:51] iwonahahn commented on #6202
Hi @silasd23,

We haven't heard from you in a while, so we are closing the issue. (@thecodester) If you have questions, feel free to ask a question in the [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).

Best regards,
Iwona

[2020-12-16 18:52] iwonahahn commented on #6274
Hi @dheffernan-sap,

We haven't heard from you in a while, so we are closing the issue. (@thecodester)
If you still have questions, feel free to reopen the issue.

Best regards,
Iwona

[2020-12-17 04:48] i353590 commented on #6149
Hello @sandeep-tds ,

Yes, the tutorial has been updated with Sub-step nos. and I can also see the tutorial also looks updated.
So, the issue has been resolved.
Thanks for the fix.

You may close the ticket now.

Regards,
Shubham

[2020-12-17 06:59] PriyankaShivakumar commented on #6324
Hi Sandeep,
Thanks for the info. I will close this ticket.
Best Regards,
Priyanka

[2020-12-17 06:59] #6324 closed

[2020-12-17 06:59] PriyankaShivakumar commented on #6327
Hi Sandeep,
Thanks for the info. I will close this ticket.
Best Regards,
Priyanka

[2020-12-17 06:59] #6327 closed

[2020-12-17 10:46] mervey45 commented on #6270
Hi @MichaelCzcz ,

we can close this ticket.

Best regards,
Merve

[2020-12-17 11:03] #6270 closed

[2020-12-17 16:40] thecodester commented on #6302
@S0002623352 What is your community ID?

[2020-12-17 16:45] thecodester commented on #6302
@S0002623352 Do you get any history on the developers.sap.com when you click the DONE button? What happens?
![image](https://user-images.githubusercontent.com/11659786/102516859-03ecf680-4098-11eb-946c-8ae750c7425e.png)

[2020-12-18 14:38] lenastodal commented on #6343
Hi @muratalcal - Thanks for pointing that out. The tutorial will be updated shortly. I will keep you posted.
Cheers,
Lena

[2020-12-20 08:24] thecodester commented on #5808
@sandeep-tds Can you update us?

[2020-12-20 08:26] thecodester commented on #5947
@shilpavij Can you update this issue?

[2020-12-20 08:27] thecodester commented on #5963
@sandeep-tds What is the status of this issue?

[2020-12-20 08:27] thecodester commented on #5964
@sandeep-tds @shahchetali Has this been finished?

[2020-12-20 08:28] thecodester commented on #5965
@sandeep-tds  Any update?

[2020-12-20 08:28] thecodester commented on #6028
@AstridHerbst Any update here?

@IsabellaMasselli Is this still an issue? [Sorry for the delay]

[2020-12-20 08:29] thecodester commented on #6146
@shahchetali Any updates?

[2020-12-20 08:30] #6147 closed

[2020-12-20 08:30] thecodester commented on #6148
@sandeep-tds Please update this issue when changes are published.

[2020-12-20 08:30] #6149 closed

[2020-12-20 08:31] thecodester commented on #6150
Closing the issue since it seems resolved.

[2020-12-20 08:31] #6150 closed

[2020-12-20 08:31] thecodester commented on #6151
@shahchetali Any update?

[2020-12-20 08:32] #6152 closed

[2020-12-20 08:33] thecodester commented on #6153
I am closing this issue because it relates to the functionality of the product and not the tutorial.

@shahchetali Please consider sending this feedback to development, and consider any note that would help the user with this functionality.

[2020-12-20 08:33] #6153 closed

[2020-12-20 08:33] thecodester commented on #6155
@shahchetali Any update?

[2020-12-20 08:35] thecodester commented on #6157
@sandeep-tds Please let us know when this issue can be closed and changes are published?

[2020-12-20 08:35] thecodester commented on #6156
@shahchetali Can you respond to the feedback in this issue (Shubham's last comment)?

[2020-12-20 08:46] #6202 closed

[2020-12-20 08:51] thecodester commented on #6207
I will close this issue since it doesn't directly have to do with a problem with the tutorial. @JensHaley will decide what's feasible, and otherwise you can continue the conversation in the community. Thanks.

[2020-12-20 08:51] #6207 closed

[2020-12-20 08:52] thecodester commented on #6224
@mervey45 I will keep the issue open for now. Do you know when the issue will be resolved, about?

[2020-12-20 09:01] thecodester commented on #6232
I believe this has been solved -- the tag has been changed to products>identity-authentication

[2020-12-20 09:01] #6232 closed

[2020-12-20 09:02] thecodester commented on #6268
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-20 09:02] #6268 closed

[2020-12-20 09:02] #6274 closed

[2020-12-20 09:03] thecodester commented on #6281
Thanks for reporting. We will check what the issue might be for Mac.

[2020-12-20 09:03] #6281 closed

[2020-12-20 09:06] thecodester commented on #6285
@IrisSasson Can you respond?

[2020-12-20 09:09] thecodester commented on #6286
@mervey45 Can you respond?

[2020-12-20 09:10] thecodester commented on #6288
I assume starting the service solved the issue. In any event, we haven't heard back from you so I am closing the issue. If the issue persists, feel free to reopen the issue.

[2020-12-20 09:10] #6288 closed

[2020-12-20 09:11] thecodester commented on #6291
@gauthamkrishna-sap  Can you respond?

[2020-12-20 09:11] thecodester commented on #6301
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-20 09:11] #6301 closed

[2020-12-20 09:12] thecodester commented on #6305
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2020-12-20 09:12] #6305 closed

[2020-12-20 09:13] #6313 closed

[2020-12-20 09:16] thecodester commented on #6316
@alexandra-simeonova  Can you respond?

[2020-12-20 09:16] thecodester commented on #6317
@alexandra-simeonova  Can you respond?

[2020-12-20 09:16] thecodester commented on #6318
@Vikramkulkarni01 Can you follow-up and respond? Thanks.

[2020-12-20 09:17] thecodester commented on #6319
@raz-korn Let me know if you will be updating the screenshot. If not, I will close issue.

[2020-12-20 09:28] thecodester commented on #6325
@LindsayBert Is this published?

[2020-12-20 09:28] #6328 closed

[2020-12-20 09:28] thecodester commented on #6331
@AstridHerbst Can you respond?

[2020-12-20 09:30] thecodester commented on #6341
@JCurrie27 Can you respond?

[2020-12-20 09:36] thecodester commented on #6353
@Vikramkulkarni01 When is next testing cycle? This is Hi-Prio

[2020-12-20 09:37] thecodester commented on #6363
@raz-korn Can you respond?

[2020-12-20 09:38] #6367 closed

[2020-12-20 09:48] thecodester commented on #6349
I just did the entire tutorial and it works OK.

![image](https://user-images.githubusercontent.com/11659786/102710165-2578f880-42b9-11eb-8e62-2c1f98269ae8.png)

Can you provide more information? Perhaps click on Debug in the Chat Preview or copy and past the JSON for more information.

[2020-12-20 10:24] #6325 closed

[2020-12-20 10:25] IrisSasson commented on #6285
Hi,
Please try again
If this doesn't work - your user probably doesn't have the Launchpad_Admin role. Please follow Step 2 of this tutorial to make sure your user has this role: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html

Thanks

[2020-12-20 12:20] gauthamkrishna-sap commented on #6291
Hi,

Great that you have written a blog :)
We also have a new TechEd session where one of the parts is to configure connectivity to GMail account: https://github.com/SAP-samples/teched2020-DEV165/blob/main/exercises/Ex-1.Setting_Up_Connectivty_to_Non_SAP_Systems/Ex.1.4.Set_Up_Gmail_Connectivity.md

Please refer to that. In the meantime, we are working on updating this tutorial.

Best Regards,
Gaut

[2020-12-20 12:21] gauthamkrishna-sap commented on #6342
Hello,
We have an exercise in the new TechEd session that you can refer to in the short term: https://github.com/SAP-samples/teched2020-DEV165/blob/main/exercises/Ex-1.Setting_Up_Connectivty_to_Non_SAP_Systems/Ex.1.4.Set_Up_Gmail_Connectivity.md

We will also update this tutorial ASAP.

Best Regards, Gautham

[2020-12-20 22:55] raz-korn commented on #6363
@thecodester , @Auggie9010 -
I apologize for the delayed response - I was on vacation last week and on vacation most of this week.
When I'm back, I'll go over the list of open issues and respond accordingly.

[2020-12-21 00:00] Auggie9010 commented on #6363
@raz-korn
Thank you for your message.
I'm looking forward to receiving your reply.

[2020-12-21 04:55] shahchetali commented on #6146
Hi @thecodester , @i353590 ,

We have modified the tutorial, can you review it once now?

Thanks & Regards,
Chetali Shah

[2020-12-21 05:12] shahchetali commented on #5964
Hi @thecodester , @mounikat987 ,

We will be deleting this tutorial soon as the Automatic Instance generation template no longer exist.

Thanks & Regards,
Chetali

[2020-12-21 05:12] shahchetali commented on #5963
Hi @thecodester , @mounikat987 ,

We will be deleting this tutorial soon as the Automatic Instance generation template no longer exist.

Thanks & Regards,
Chetali

[2020-12-21 05:13] shahchetali commented on #6151
Hi @thecodester , @i353590  ,

We will be deleting this tutorial soon.

Thanks & Regards,
Chetali

[2020-12-21 05:14] shahchetali commented on #6151
Hi @thecodester , @i353590  ,

We will be deleting this tutorial soon.

Thanks & Regards,
Chetali

[2020-12-21 05:17] shahchetali commented on #6153
Hi @thecodester , @i353590  ,

We will be deleting this tutorial soon as the Automatic Instance generation template no longer exist. Also, we will be removing the feature to create mobile cards from the cockpit in future, so this issue will be no longer relevant then.

Thanks & Regards,
Chetali

[2020-12-21 05:18] shahchetali commented on #6155
Hi @thecodester , @i353590 ,

We will be deleting this tutorial soon.

Thanks & Regards,
Chetali

[2020-12-21 06:52] sandeep-tds commented on #6326
Hi @PriyankaShivakumar

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 06:53] sandeep-tds commented on #6323
Hi @PriyankaShivakumar

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 06:54] sandeep-tds commented on #6323
Hi @PriyankaShivakumar

The updated tutorial has been released, can you please verify the changes and update the ticket?
Thank you so much for your support.

Warm Regards
Sandeep T D S

PS: The step in question may have been deleted dut to the update.

[2020-12-21 06:54] sandeep-tds commented on #6322
Hi @PriyankaShivakumar

The updated tutorial has been released, can you please verify the changes and update the ticket?
Thank you so much for your support.

Warm Regards
Sandeep T D S

PS: The step in question may have been deleted dut to the update.

[2020-12-21 06:56] sandeep-tds commented on #6157
Hi @i353590

The updated tutorial has been released, can you please verify the changes and update the ticket?
Thank you so much for your support.

@thecodester thank you for your support. The changes have been released. We can close the ticket after @i353590's inputs.

Warm Regards
Sandeep T D S

PS: The step in question may have been deleted due to the update.

[2020-12-21 07:01] shahchetali commented on #6156
Hi @i353590

The updated tutorial has been released, can you please verify the changes and update the ticket?
Thank you so much for your support.

PS: The step in question may have been deleted due to the update.

[2020-12-21 07:05] sandeep-tds commented on #6148
Hi @i353590

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 07:06] sandeep-tds commented on #5965
Hi @mounikat987

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 07:07] sandeep-tds commented on #5809
Hi @NidhiMurkute

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 07:07] sandeep-tds commented on #5808
Hi @NidhiMurkute

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2020-12-21 07:24] alexandra-simeonova commented on #6317
Hi,
it seems like this error might be caused by not commit changes first before running the command. https://stackoverflow.com/questions/45671057/how-to-run-eject-in-my-react-app
Please try again after committing, thank you.

[2020-12-21 07:25] i353590 commented on #6157
Hello @sandeep-tds ,

Yes, after the tutorial release, the issue is resolved.
Thanks for the update :)
You may close the ticket now.

Thanks,
Shubham

[2020-12-21 07:26] i353590 commented on #6148
Hello @sandeep-tds,
yes, after the new tutorial release, this issue doesn't exist anymore.
You may close the ticket.

Thanks,
Shubham

[2020-12-21 07:40] PriyankaShivakumar commented on #6326
Hi @sandeep-tds

Thanks for the update.
I have verified the steps and its as expected. I will close the ticket.

Best Regards,
Priyanka

[2020-12-21 07:40] #6326 closed

[2020-12-21 07:43] PriyankaShivakumar commented on #6323
Hi @sandeep-tds

Thanks for the update. You are right the step is deleted now.

Best Regards,
Priyanka

[2020-12-21 07:43] #6323 closed

[2020-12-21 07:45] PriyankaShivakumar commented on #6322
Hi @sandeep-tds

Thanks for the update. You are right the step is deleted now.

Best Regards,
Priyanka

[2020-12-21 07:45] #6322 closed

[2020-12-21 08:24] #6148 closed

[2020-12-21 08:24] #6157 closed

[2020-12-21 08:38] pradeeppanda-sap commented on #6345
Yes.. now its not more needed as the npm packages are now hosted here: https://www.npmjs.com/package/@sap/xb-msg-amqp-v100

I will update the tutorial. Thanks for the message.

regards
Pradeep

[2020-12-21 08:39] pradeeppanda-sap commented on #6344
Yes.. now its not more needed as the npm packages are now hosted here: https://www.npmjs.com/package/@sap/xb-msg-amqp-v100

I will update the tutorial. Thanks for the message.

regards
Pradeep

[2020-12-21 08:46] AstridHerbst commented on #6331
Hi,

Thanks for your feedback. Please excuse the confusion. This sentence indeed makes no sense. The expressions refer to the workflow context. I will update the tutorial.
Thank you!
Best regards, Astrid

[2020-12-21 09:49] Juliana-Morais commented on #6321
Hello, I've just tested. The issue has been fixed by the latest release.

[2020-12-21 10:30] NidhiMurkute commented on #5808
I have verified the changes. The tutorial is updated, hence closing the ticket.

[2020-12-21 10:30] #5808 closed

[2020-12-21 10:49] NidhiMurkute commented on #6321
Thanks for the update. Issue is resolved, hence closing the ticket.

[2020-12-21 10:49] #6321 closed

[2020-12-21 11:21] thecodester commented on #5458
@juanfelipe82193 Can you send me your SAP community ID (P number)? You can send to my email -- daniel.wroblewski@sap.com

[2020-12-21 16:56] dimvor commented on #6351
@DuoBelt What did you choose as a root path when you defined the HDFS connection? Please note that tutorial is being deprecated and removed soon.

[2020-12-22 05:22] SaravanaKumarVelliyangiri commented on #6349
Hi,

I'm getting the below error.

![image](https://user-images.githubusercontent.com/42970328/102852212-baa7f880-4443-11eb-9de1-23af747f3558.png)

Thanks and Regards,
Saravana Kumar V

[2020-12-22 05:32] thecodester commented on #6349
What action did you take immediately before getting this error? Just opening the test panel?

[2020-12-22 05:34] SaravanaKumarVelliyangiri commented on #6349
I just typed and sent Hi message

[2020-12-22 05:41] thecodester commented on #6349
If the bot works, feel free to close the issue

[2020-12-22 05:46] SaravanaKumarVelliyangiri commented on #6349
Thank you so much for the immediate help !

[2020-12-22 05:46] #6349 closed

[2020-12-22 08:59] i353590 commented on #6152
Hello @mervey45,

The ticket that you mentioned was closed around 20 days back saying the issue is resolved, and I have retested the scenario on 10th December, till then the issue was still there.

Could you please check once again?

thanks,
Shubham

[2020-12-22 09:08] thecodester commented on #5458
Can you check or show me that you actually completed the steps in the tutorial "Set up and generate ...." ?

[2020-12-22 10:25] alexandra-simeonova commented on #6316
Hello,

This issue is caused by not having the latest npm version installed. (https://www.gitmemory.com/issue/npm/cli/2119/721608949)
Please run `npm install npm@latest -g` first and try again.
Thank you for checking out the tutorial.

[2020-12-23 03:19] jorgt commented on #3065
Still happening here, too.

[2020-12-23 08:10] lenastodal commented on #6343
@muratalcal - the tutorial us updated, the issue should be solved. Thanks!

[2020-12-23 12:19] #6343 closed

[2020-12-23 14:27] ArchanaShukla commented on #6355
Hello @Omrocks,
This issue occurs if you have user name or password wrong in the destination. If your user has 2FA enabled in your account, then you need to use password+passcode in the destination or else use a user without 2FA.

[2020-12-23 14:28] ArchanaShukla commented on #6354
yeah this was a recent new change in the UI, will update the tutorial by Jan-end 2021.

[2020-12-23 14:29] ArchanaShukla commented on #6350
@greg2git - You do not have to use any of those options. The screenshot clearly shows that. Bad gateway issue occurs if you have user name or password wrongly configured in the destination. If your user has 2FA enabled in your account, then you need to use password+passcode in the destination or else use a user without 2FA.

[2020-12-23 14:30] ArchanaShukla commented on #6346
@Omrocks - As mentioned in the previous issue as well, Bad Gateway issue occurs if you have user name or password wrongly configured in the destination. If your user has 2FA enabled in your account, then you need to use password+passcode in the destination or else use a user without 2FA.

[2020-12-23 14:31] ArchanaShukla commented on #6176
yeah this was a new change in the UI, will update the tutorial by Jan-end 2021.

[2020-12-23 14:32] ArchanaShukla commented on #6104
@thecodester - please close the ticket.
@IsabellaMasselli - Please resolve the storage issue, and reopen if you still have issues after storage issue is solved.

[2020-12-23 15:07] greg2git commented on #6350
not sure if i follow, if the destination does work for the combination of the user+password:

_Connection to "BUSINESSRULES_APIHUB" established. Response returned: "200: OK"_

 there is an additional verification step somewhere outside of the current tutorial to confirm the passcode for 2FA?

[2020-12-23 15:58] #6104 closed

[2020-12-24 02:16] flyingfish162 commented on #5900
We will publish the tutorials about flowv2 in the next few months.

[2020-12-28 08:03] Karunaharan commented on #6352
Hi @FarozanFarman
The screenshot is updated. Will send a pull request today to merge the changes.

[2020-12-28 09:32] Karunaharan commented on #6353
Hi @FarozanFarman
The screenshot is updated. Will send a pull request today to merge the changes.

@thecodester - please reassign this issue to me. Going forward, I will handle the tutorials for CPI/Integration suite.

[2020-12-28 09:41] pfefferf commented on #5574
Any update on this? Issue still appears.

[2020-12-28 10:10] pradeeppanda-sap commented on #5574
this seems to be some editor issue and that's why thecodester has assigned it to himself after our discussion.

[2020-12-28 10:12] pfefferf commented on #5574
Thanks for the info. Just wanted to comment, because the last activity is already 4 month in the past :)

[2020-12-28 11:48] thecodester commented on #5574
I have republished to try to fix issue. Can you try again? (Sorry for the delay.)

[2020-12-28 11:51] pfefferf commented on #5574
Same issue like before (result for 1st step is not persisted; browser cache etc. cleared before of course).

[2020-12-28 11:52] thecodester commented on #6353
https://github.com/SAPDocuments/Tutorials/pull/6388

[2020-12-28 11:52] #6353 closed

[2020-12-28 12:29] thecodester commented on #5458
@juanfelipe82193 Can you let me know if this is still a problem? Send image inside tutorial showing all steps completed, and then show the group page again.

[2020-12-28 12:31] thecodester commented on #6302
I will close this since I assume either there was login issue or you did not actually click the buttons -- the tutorial is not automatically updated. Feel free to reopen if the issue persists, and explain exactly what you do and what you expect. Thanks.

[2020-12-28 12:31] #6302 closed

[2020-12-28 15:07] raz-korn commented on #6363
Hi @Auggie9010 ,

The reason for this step is that if in the Cockpit you click on the "Application Route" (in the "Application ... Overview" page), you'll get an empty (Not Found) page. There's a need to concatenate the app id, etc. as mentioned in step 4.

Regards - Raz

[2020-12-29 15:33] JCurrie27 commented on #6341
Hi rvencu: Did you see this similar post in the HANA express Q&A? [SAP HANA 2.0 Express Edition - Failed to run Windows Download Manager ](https://answers.sap.com/questions/13006163/sap-hana-20-express-edition-failed-to-run-windows.html). The user is running Windows, but the thread might contain some solutions for you.

Many thanks if you could log your issue on the HANA Express community Q&A page

[2020-12-29 15:33] #6341 closed

[2020-12-29 16:07] rvencu commented on #6341
Thanks for the heads up... I'll go to the QA page then

[2020-12-29 16:15] rvencu commented on #6341
https://answers.sap.com/questions/13218224/installing-sap-hana-express-edition-with-docker-st.html

[2020-12-30 04:35] Auggie9010 commented on #6363
@raz-korn
Thank you for your reply!
I understood and let me close this issue.

[2020-12-30 04:35] #6363 closed

[2020-12-30 14:26] jrodriguez-rc commented on #3065
I had the problem, fixing it setting chmod -R 777 /data/hana

It seems that all the content in the folder needs to be rwx

[2021-01-04 15:03] PaulamiMitra opened #6392 "Outbound service authentication method"
Dear All,

We were trying to follow the developers tutorial "Execute an Outbound Service from Custom Business Object Logic" with the Business partner service(as the machine learning service given in the tutorial doesn't exist anymore.
Actually we have already configured the SCP based service in one of the productive CF account and have the key created(with endpoint urls,clientsecret,ID etc.).
Now

[2021-01-05 03:47] juanse-bcn opened #6393 "Expose Integration Flow Endpoint as API and Test the Flow"
Hi. Karunaharan V

Happy New Year !!!

I have an error when I test the API.

{
  "fault": {
    "faultstring": "**Execution of ServiceCallout getoauthtoken failed.** Reason: ResponseCode 400 is treated as error",
    "detail": {
      "errorcode": "steps.servicecallout.ExecutionFailed"
    }
  }
}

Do you know what is it ?

[2021-01-05 10:32] MichaelCzcz commented on #6365
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:32] #6365 closed

[2021-01-05 10:33] MichaelCzcz commented on #6355
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:33] #6355 closed

[2021-01-05 10:34] MichaelCzcz commented on #6351
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:34] #6351 closed

[2021-01-05 10:34] MichaelCzcz commented on #6348
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:34] #6348 closed

[2021-01-05 10:35] MichaelCzcz commented on #6346
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:35] #6346 closed

[2021-01-05 10:36] MichaelCzcz commented on #6317
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:36] #6317 closed

[2021-01-05 10:36] MichaelCzcz commented on #6316
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:36] #6316 closed

[2021-01-05 10:38] MichaelCzcz commented on #6285
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-05 10:38] #6285 closed

[2021-01-05 18:35] SAPDocs opened #6394 "Tutorial Page hxe-node-express.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/hxe-node-express/hxe-node-express.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/hxe-node-express/hxe-node-express.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Example:

[2021-01-05 18:35] SAPDocs opened #6395 "Tutorial Page hxe-nodejs-setup.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/hxe-nodejs-setup/hxe-nodejs-setup.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/hxe-nodejs-setup/hxe-nodejs-setup.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Example:

[2021-01-06 07:14] #6394 closed

[2021-01-06 07:14] #6395 closed

[2021-01-06 11:00] PaulLwrs opened #6396 "Set Up Your SAP Cloud Platform Integration Tenant"
![image](https://user-images.githubusercontent.com/75022508/103761090-6772a000-5016-11eb-96ba-65db4ab6f020.png)
I am trying to add capability 'Cloud Integration' to the Integration Suite. The status remains in progress and progress is 83%.

I tried a couple of times without success. What can I do?

[2021-01-07 06:31] ArchanaShukla commented on #6350
Hello @greg2git ,
This is a standard way to access 2FA based user password. It is difficult to include all the different ways to configure the destination password. The password entered by the user should be based on the kind of security protocols activated for it. A note is therefore included to ensure you are cautioned. Hope that helps!

@thecodester - please close the issue.

[2021-01-07 07:10] #6350 closed

[2021-01-07 10:46] Karunaharan commented on #6393
Hi @juanse-bcn
Happy New Year to you and your beloved ones.

I just got back after vacation.
I'm looking into your issue, will get back to you as soon as possible.

[2021-01-10 16:46] raz-korn commented on #6319
Hi @shivakumar-p-sap ,

Many screenshots were update in the tutorial.
Also the flow was changed to use SAP best practice - using managed approuter instead of standalone approuter.

Regards - Raz

[2021-01-10 16:47] raz-korn commented on #6320
Hi @shivakumar-p-sap ,

Many screenshots were update in the tutorial.
Also the flow was changed to use SAP best practice - using managed approuter instead of standalone approuter.

Regards - Raz

[2021-01-11 13:50] IsabellaMasselli commented on #6028
Still not resolved. Application Runtime, when selected does not enable the ADD SERVICE PLANS button See image below

![image](https://user-images.githubusercontent.com/72649728/104190260-46a2b400-5435-11eb-981e-73abdd69dce5.png)

[2021-01-11 14:20] MichaelCzcz commented on #5458
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-11 14:20] #5458 closed

[2021-01-12 10:22] MichaelCzcz commented on #6151
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:22] #6151 closed

[2021-01-12 10:23] MichaelCzcz commented on #6155
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:23] #6155 closed

[2021-01-12 10:24] MichaelCzcz commented on #6156
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:24] #6156 closed

[2021-01-12 10:24] MichaelCzcz commented on #6146
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:24] #6146 closed

[2021-01-12 10:25] MichaelCzcz commented on #6319
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:25] #6319 closed

[2021-01-12 10:25] MichaelCzcz commented on #6320
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:25] #6320 closed

[2021-01-12 10:27] MichaelCzcz commented on #6352
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-12 10:27] #6352 closed

[2021-01-12 15:23] juanse-bcn commented on #6393
Hi, Karunaharan, good morning

do you have any idea ?

[2021-01-13 07:48] Karunaharan commented on #6393
Hi @juanse-bcn,
From our initial analysis, it looks like something went wrong in Step 4: Assign policy template …
in https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html
We will get back as soon as possible.

[2021-01-13 11:30] Karunaharan commented on #6393
Hi @juanse-bcn
Looking at the error code,  the most likely culprit would be that either the oauth target URL is incorrect or the payload while copy-pasting has gone corrupt. To identify the issue it would be great if you can share the snippet of the getoauthtoken so that it can be analyzed further.

[2021-01-14 02:27] juanse-bcn commented on #6393
Hi Karunaharan.

I found the problem. In getoauthtoken the url was wrong.

I like this error because help you be more careful. :)

[2021-01-14 09:00] MartinPankraz opened #6408 "Use Default plan for Enterprise Messaging Service in trial"
Dear Tutorials team,

I am trying to follow the tutorial on the SAP EMS here: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html with my SCP trial account.

I verified successfully that the mentioned JSON payloads work in default plan outside of trial. When using the dev plan I need to revert to the legacy management UI and JSON payload as described [here](https://hel

[2021-01-14 13:45] Karunaharan commented on #6393
@thecodester - please close the issue.

[2021-01-15 01:06] #6393 closed

[2021-01-15 01:07] juanse-bcn commented on #6393
I found the problem. In getoauthtoken the url was wrong.

[2021-01-15 13:11] MichaelCzcz commented on #5900
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-15 13:11] #5900 closed

[2021-01-18 04:06] shilpavij commented on #5947
Dear Colleague,
I mean in CF we have SAP BAS and as far as I know SAP WEB IDE will be decommissioned soon. You can read about SAP BAS https://help.sap.com/viewer/9d1db9835307451daa8c930fbd9ab264/Cloud/en-US/8f46c6e6f86641cc900871c903761fd4.html?q=WEBIDE

@MichaelCzcz  can confirm since I am not from the WEB IDE team.
As part of Integration use-cases on CF ie on SAP BAS, dev teams are working on th

[2021-01-18 07:49] thecodester commented on #5947
@shilpavij This tutorial is part of a mission -- is the mission doable without this tutorial?

https://developers.sap.com/mission.apim-open-connectors.html

[2021-01-18 07:50] thecodester commented on #6306
@shilpavij Can you update us on this tutorial, and my question? If the tutorial won't work, we don't want it 😀

[2021-01-18 09:19] MichaelCzcz commented on #5809
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-18 09:19] #5809 closed

[2021-01-18 09:28] Juliana-Morais commented on #6122
Business Use Case descriptions are now available. This issue can be closed.

[2021-01-18 09:30] MichaelCzcz commented on #5964
@shahchetali Do you want me to delete it?

[2021-01-18 09:31] MichaelCzcz commented on #5963
https://github.com/SAPDocuments/Tutorials/issues/5964

[2021-01-18 09:32] MichaelCzcz commented on #5963
https://github.com/SAPDocuments/Tutorials/issues/5963

[2021-01-18 09:32] MichaelCzcz commented on #5964
https://github.com/SAPDocuments/Tutorials/issues/5963

[2021-01-18 09:48] MichaelCzcz commented on #6122
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-18 09:48] #6122 closed

[2021-01-18 09:48] Vikramkulkarni01 commented on #6396
Hi @PaulLwrs ,

Thanks for reaching out to SAP.

With reference to your concern, could you please check now? Ideally tenant provisioning might take sometime, not more than 20 mins.
If the same issue persisting, try creating new sub account or delete the existing one and recreate it to check the same.

Regards,
Vikram Kulkarni

[2021-01-18 09:49] MichaelCzcz commented on #6291
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-18 09:49] #6291 closed

[2021-01-18 09:49] pradeeppanda-sap commented on #6408
Hi Martin,
  Please note that in Trial landscape default plan is not available.

regards
Pradeep

[2021-01-18 09:50] MichaelCzcz commented on #6331
@AstridHerbst Has the tutorial been updated?

[2021-01-18 09:51] MichaelCzcz commented on #6342
@gauthamkrishna-sap Has the tutorial been updated?

[2021-01-18 09:51] MichaelCzcz commented on #6364
@gauthamkrishna-sap any updates?

[2021-01-18 10:28] AstridHerbst commented on #6331
Yes.

[2021-01-18 10:57] Alexd-sap commented on #4213
Apologies for reviving this old thread, but i wanted to bring to your attention, that in SCP Trial, while creating an EM service, you dont get the option to select Default Service Plan (only *dev* option is available. Aka. the tutorials available like this https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html are out of date.

[2021-01-18 11:22] MartinPankraz commented on #6408
Hi Pradeep,

so you are telling me that in SCP trial I cannot work with the Enterprise Messaging Service at all?

KR
Martin

[2021-01-18 11:45] pradeeppanda-sap commented on #6408
Hi Martin,
 Yes,  at present the default version is available in factory environment.
regards
Pradeep

[2021-01-18 11:58] MichaelCzcz commented on #6396
Thank you for your feedback. This channel is for problems with tutorials only, so I am closing the issue.
If you you are experiencing product related issues, please open a bug ticket.

[2021-01-18 11:58] #6396 closed

[2021-01-18 12:32] fjcarrasco commented on #4311
Hi  @andrecontax. Did you solve it ? I'm getting the same error.

Please, if you did, tell me how solved.

Thanks

[2021-01-18 14:53] MichaelCzcz commented on #6408
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-18 14:53] #6408 closed

[2021-01-19 07:38] MartinPankraz commented on #6408
@pradeeppanda-sap : what does factory environment mean? Are you talking about anything non-trial?

KR
Martin

[2021-01-19 12:15] pradeeppanda-sap commented on #6408
hi Martin,
  Yes. it is the productive environment.
And that's why if you notice, the topic has
_Requires Customer/Partner License_

regards
Pradeep

[2021-01-20 05:52] sandeep-tds commented on #5964
Hi @mounikat987

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2021-01-20 05:52] sandeep-tds commented on #5963
Hi @mounikat987

The updated tutorial has been released, can you please verify the changes and update the ticket?

Thank you so much for your support.

Warm Regards
Sandeep T D S

[2021-01-20 07:25] MichaelCzcz commented on #5963
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:25] #5963 closed

[2021-01-20 07:25] MichaelCzcz commented on #5964
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:25] #5964 closed

[2021-01-20 07:26] MichaelCzcz commented on #5965
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:26] #5965 closed

[2021-01-20 07:44] MichaelCzcz commented on #6345
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:44] MichaelCzcz commented on #6344
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:45] MichaelCzcz commented on #6331
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-01-20 07:45] #6331 closed

[2021-01-20 08:28] IObert commented on #6344
It seems that the tutorial is not yet upgraded. Please keep the issue open until the tutorial reflects the change.

[2021-01-20 08:28] IObert commented on #6345
It seems that the tutorial is not yet upgraded. Please keep the issue open until the tutorial reflects the change.

[2021-01-20 14:08] MartinPankraz commented on #6408
Thanks for clarifiying. Too bad that there are tutorials, which don't support trial accounts.

[2021-01-22 08:49] MichaelCzcz commented on #6392
@Liebherr Please respond!

[2021-01-22 09:00] AstridHerbst commented on #6028
Hi Isabella,
Can you try to create a new subaccount and see whether for this new subaccount the Entitlements work? If you do so, note that the Tutorial has been adjusted to reflect the switch to the central Fiori launchpad, including different prerequisites.
Best regards, Astrid

[2021-01-23 11:25] konrazem commented on #5568
I have the same problem

{"message":"fiori-project:app generator failed - env.on(error) Failed to consume services due to: undefined\nAbort ui5-simple creation.","stack":"Error: env.on(error) Failed to consume services due to: undefined\nAbort ui5-simple creation.\n at Ui5SimpleGenerator._abortGenerator (/extbin/generators/ui5-generators/generator-ui5-simple/generators/app/index.js:205:24)\n at /e

[2021-01-25 20:58] Liebherr commented on #6392
Hi Paulami, please excuse the delay, but I needed some time to get back into the topic.
Yes, seems the old Translation API was removed, thanks for making me aware of this. It's successor might be https://api.sap.com/api/translationhub/resource, I need to check and adapt the tutorial accordingly.
Regarding an how to for a service running on CF I need to ask the responsibles, if there is some guide

[2021-01-27 21:52] SAPDocs opened #6443 "Tutorial Page cp-azure-ad-saml.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cp-azure-ad-saml/cp-azure-ad-saml.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cp-azure-ad-saml/cp-azure-ad-saml.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Example:

[2021-01-28 08:35] #6443 closed

[2021-01-28 13:06] jayekulk commented on #5568
It can be solved by adding property HTML5.DynamicDestination in Northwind Destination

[2021-01-28 13:06] jayekulk commented on #5568
It can be solved by adding property HTML5.DynamicDestination in Northwind Destination

[2021-01-28 13:37] konrazem commented on #5568
Thank you, yes that solved my issue

[2021-01-29 06:25] Naresh1243 commented on #4586
11:47:35 AM (HTML5 application runner) Starting module "/YN_PO_PROJ1/YN_PO_MOD1".
11:47:50 AM (HTML5 application runner) html5_runner_log_cf_push_failure
11:47:50 AM (HTML5 application runner) Could not create the 'YNPOPROJ1-portalresourcesYNPOPROJ1yvpmhVlU+NmLOesg' instance of the 'portal' service type for the 'portal_resources_YN_PO_PROJ1' resource. Service portal does not exist
11:47:50 AM (HTM

[2021-02-01 12:58] MichaelCzcz commented on #6028
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-02-01 12:58] #6028 closed

[2021-02-01 12:58] MichaelCzcz commented on #6176
@ArchanaShukla Has the tutorial been updated?

[2021-02-01 12:59] MichaelCzcz commented on #6187
@sandeep-tds Any updates?

[2021-02-01 13:02] MichaelCzcz commented on #6330
@sandeep-tds Any updates?

[2021-02-01 13:04] MichaelCzcz commented on #6354
@ArchanaShukla Has the tutorial been updated?

[2021-02-02 12:18] qmacro commented on #5645
Hello @MichaelCzcz - sorry to be the bearer of more news about delays, but we are working on coming up with a more streamlined way we can produce and support tutorials, using appropriate experts. So while a migration is still planned, I'd like to close this issue as whatever we produce will not be along the same lines as the context of this issue (as the tools and tech have changed and improved) a

[2021-02-02 12:18] #5645 closed

[2021-02-02 12:23] MathiasEichel commented on #5645
100% agree (Y)

[2021-02-04 09:15] MichaelCzcz commented on #6306
The tutorial is no longer available.

[2021-02-04 09:15] #6306 closed

[2021-02-04 09:16] MichaelCzcz commented on #6354
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-02-04 09:16] #6354 closed

[2021-02-04 12:17] diraschk commented on #5296
maybe someone has a solution.
https://answers.sap.com/questions/13174374/sap-hana-express-edition-apps-with-docker-xsa-xs-c.html

[2021-02-04 14:33] ArchanaShukla commented on #6176
Tutorial have been updated with new screenshot.
@MichaelCzcz - please close this ticket

[2021-02-04 15:13] Naresh1243 opened #6470 "Deploy First SAPUI5 App to Cloud Foundry"
Dear Team,

11:47:35 AM (HTML5 application runner) Starting module "/YN_PO_PROJ1/YN_PO_MOD1".
11:47:50 AM (HTML5 application runner) html5_runner_log_cf_push_failure
11:47:50 AM (HTML5 application runner) Could not create the 'YNPOPROJ1-portalresourcesYNPOPROJ1yvpmhVlU+NmLOesg' instance of the 'portal' service type for the 'portal_resources_YN_PO_PROJ1' resource. Service portal does not exist
11:4

[2021-02-04 15:21] MichaelCzcz commented on #6470
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-02-04 15:21] #6470 closed

[2021-02-05 08:54] MichaelCzcz commented on #6299
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-02-05 08:54] #6299 closed

[2021-02-05 08:54] MichaelCzcz commented on #6286
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-02-05 08:54] #6286 closed

[2021-02-05 08:54] MichaelCzcz commented on #6224
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-02-05 08:54] #6224 closed

[2021-02-09 09:50] #6176 closed

[2021-02-11 05:57] pradeeppanda-sap commented on #6344
closing this as the tutorial has been updated.
Please let me know, should you think otherwise.

[2021-02-11 06:02] pradeeppanda-sap commented on #6345
we can close this issue as the fix has been provided. Please look into the tutorial and reopen it if you think otherwise.

[2021-02-11 06:43] thecodester commented on #6344
@IObert ?

[2021-02-11 06:44] thecodester commented on #6345
@IObert ?

[2021-02-11 09:20] IObert commented on #6345
Many thanks, LGTM

[2021-02-11 09:20] #6345 closed

[2021-02-11 09:21] IObert commented on #6344
Thanks. I still see a reference in the "Prerequisites" section here. Is this maybe a issue with the build system?

[2021-02-11 09:36] thecodester commented on #6344
@IObert Is this a question to me about the tutorial updating? If so, the PR had no change in prerequisites, and it was merged 9 days ago, and the tutorial seems to have been updated.

[2021-02-11 09:46] pradeeppanda-sap commented on #6344
Hi Daniel,
 It was to me. I need to make some other minor changes as pointed by @IObert  here.
  I will do and will commit again.
 Please keep this issue OPEN.

regards
Pradeep

[2021-02-11 10:44] Partha8824 opened #6492 "Not Able to Deploy UI5 Application to Cloud Foundry"
Hi Experts ,

I have build a list report application and trying to Deploy it to Cloud Foundry. But While trying to deploy it is throwing me the following error:

**Service operation failed: Controller operation failed: 404 Updating service "portal_resources_ZAssignment" failed: Not Found: Error creating service "portal_resources_ZAssignment" _from offering "portal" and plan "standard":_ Service pl

[2021-02-11 12:17] MichaelCzcz commented on #6492
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-02-11 12:17] #6492 closed

[2021-02-15 11:13] MichaelCzcz commented on #6392
@Liebherr Any updates?

[2021-02-17 14:38] henningrettenmaier commented on #4162
Hi all, I'm doing an integration to SAP WorkZone which is technically the same and I receive a 403 error. Do I need to set some permissions ?

[2021-02-24 06:01] sandeep-tds commented on #6187
Hi @MichaelCzcz

Thank you for the reminder. The issue has been resolved. @QNBee can you please verify the issue?

Warm Regards
Sandeep T D S

[2021-02-24 06:02] sandeep-tds commented on #6330
Hi @PriyankaShivakumar

The issue has been addressed. Can you please re-test to confirm the same?

Thank you so much for your support.

@MichaelCzcz  thank you for the reminder.

[2021-02-24 07:37] Vikramkulkarni01 commented on #6318
Hi Minh,

Could you please check now and see if you are still facing the same issue?

Regards,
Vikram

[2021-02-25 04:57] PriyankaShivakumar commented on #6330
Hi @sandeep-tds
The issue is fixed now. Thanks.
Best Regards,
Priyanka

[2021-03-03 04:54] equilibrium999 commented on #6318
Hi @Vikramkulkarni01
I still got the error.
However, I'll try with another account.

[2021-03-07 14:05] mbokkalapalli opened #6558 "Custom entity - Query class - Differentiate for line item or identification"
@julieplummer20 - I am trying to achieve clean erp by leveraging abap environment to build extension. As a baseline, i have used the custom entity samples created by you. However I am facing challenges and questions:
1) When custom entity is implemented with query class( QC1) and behavior(BC1) is added:  QC1 is called for over view ( i.e. table display) and also when navigating to detail( identifi

[2021-03-09 07:36] MichaelCzcz commented on #6187
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-03-09 07:36] #6187 closed

[2021-03-09 09:58] julieplummer20 commented on #6558
Hi, This appears to be a general query, not specific to the tutorial. The tutorial is intended as an introduction. If you want more in-depth instruction, I recommend the relevant openSAP course: [Building Apps with the ABAP RESTful Application Programming Model](https://open.sap.com/courses/cp13), self-paced.
BR Julie Plummer.

[2021-03-09 10:02] MichaelCzcz commented on #6558
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-03-09 10:02] #6558 closed

[2021-03-11 06:00] RJ1211 opened #6574 "https://developers.sap.com/tutorials/cap-service-deploy.html#951364b1-b93c-4c19-a290-203ecf51b421"
Hi,

I am very new to this CAP and Node.JS codeline, as coming from ABAP background.
I have followed the steps all well, and it has worked.

But in Step 2. 4 -
the command "cf login" does not work in VS Code command line.

I am getting the error in both CMD and Powershell. Attached the snapshot.  Can anyone help me with this.

Thanks,
Ravi J.

![Powershell error in VS code](https://user-images.git

[2021-03-11 08:18] MichaelCzcz commented on #6574
@RJ1211 Please tell me how did you get to this repository?

[2021-03-11 08:24] thecodester commented on #5947
@shilpavij Is the mission up to date, with no references to Web IDE?

[2021-03-11 08:28] thecodester commented on #5574
I have created a JIRA ticket internal to deal with this issue ... again sorry for the issues.

[2021-03-11 12:59] greg2git commented on #6574
Hi Ravi,

did you try running your commands in a BAS terminal? it's not the same as VS Code but they should overlap to a large extent.

Cheers and thx,
greg

[2021-03-11 21:32] shahrukhbhat opened #6577 "Tutorial - Call an External Endpoint to Retrieve Additional Information - Step 2 User Credential"
Hi,

In Step 2 of this tutorial, we have been asked to do the following:
**Enter the Client ID in the User and Client Secret in the Password fields respectively.**

I am not sure which Client ID and Client Secret this is referring to and how to get this information.

I am using the CPI trial.

Thanks.

[2021-03-12 04:50] shahrukhbhat commented on #6577
Nevermind, I just needed to create a Process Integration instance in the BPT cockpit and then generate the Client ID and Client Secret to be used in the Integration user credential. That resolved the issue.

I think, for people who are starting with the SAP Cloud Integration, this should be mentioned in the tutorial.

[2021-03-12 04:50] #6577 closed

[2021-03-12 07:28] RJ1211 commented on #6574
I am actually in VS Code terminal. Please refer the snapshot. Is this what you meant. The terminal is there on the VS code tool.
Though I observed one thing that when i run this on the Windows command prompt - it asks for login and proceeds further.

Was this expected the same when running via VS code tool terminal as per step 2.4.

![VS code terminal](https://user-images.githubusercontent.com/803

[2021-03-12 09:01] MichaelCzcz commented on #6574
@RJ1211 I was asking, because all issues regarding tutorials should be raised via the link in the respective tutorial. The issues are handled in their own repository. We are planning to deactivate issues in this repository.

[2021-03-14 10:18] thecodester commented on #5947
I am closing this issue as the mission is now up to date.

[2021-03-14 10:18] #5947 closed

[2021-03-15 07:52] RJ1211 commented on #6574
Ah sorry got it. I will check where to post this issue, as even i am new to GITHUB as well. Thanks.

[2021-03-15 11:13] MichaelCzcz commented on #6574
@RJ1211
![image](https://user-images.githubusercontent.com/57144076/111144741-c2c98d00-8587-11eb-9a73-16629966b9a0.png)

I'm closing this.

[2021-03-15 11:13] #6574 closed

[2021-03-16 07:45] MichaelCzcz commented on #6318
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-03-16 07:45] #6318 closed

[2021-03-16 07:46] MichaelCzcz commented on #6330
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-03-16 07:46] #6330 closed

[2021-03-17 07:42] Liebherr commented on #6392
Hi Paulami,
so your real use case that you need to get running productively is a Business Partner Service running in your CF Account?
About this I asked the responsibles some time back got some theoretical ideas, but still need clear guidance for you.
What about the API Hub Sandbox examples, those you used to get into the topic only? I am still trying to find out why Sandbox seems not to be availa

[2021-03-17 08:19] PaulamiMitra commented on #6392
Hi Ulrike,

So just to start with our exploration and POC we were able to consume Business Partner Service in a Custom Business Object by creating an instance on BTP and using the client secret and password.
**Coming back to issues which needs to be addressed for this Tutorial-
Tutorial needs to be updated with any other alternative API which is available on API HUB(instead of Machine Learning API

[2021-03-24 13:07] larshp opened #6604 "abap-environment-abapgit: update urls"
please perform the changes suggested in https://github.com/SAPDocuments/Tutorials/pull/6602

[2021-03-24 14:59] MichaelCzcz commented on #6604
I have re-opened the PR and assigned it to the tutorial's author.

[2021-03-24 14:59] #6604 closed

[2021-03-25 15:01] saketamraotkar13 commented on #3990
Hi Amandeepbal,

i am also facing same issue, could you please help to resolve this issue?

Regards
Saket

[2021-03-30 12:28] thecodester commented on #6392
@Liebherr Is this still an issue involving something that must be fixed in the tutorial? If so, can we fix? If not, can we take this discussion offline?

[2021-03-30 12:29] thecodester commented on #6344
@pradeeppanda-sap Any update on this update?

[2021-03-30 16:35] pradeeppanda-sap commented on #6344
it has been fixed...sorry i forgot the respond.

[2021-03-30 16:45] thecodester commented on #6344
@IObert I am closing but let us know if there is still something to do. Thanks for the feedback :-)

[2021-03-30 16:45] #6344 closed

[2021-04-02 05:35] ChandraDutt opened #6630 "HANA Cloud Trial : Could not get service plan metadata"
Dear Team,

I have an SAP HANA Cloud instance on BTP trial, CF space. But now I am not able to manage SAP HANA Cloud instances after logging into SAP HANA Cloud Central. Kindly check this or help me understand if anything to be done from my side.

I had created HANA Cloud instance few months back and was able to deploy HDI containers. I have recently extended the trial period.

![image](https://us

[2021-04-02 10:07] thecodester commented on #6630
Can you open this issue in the https://github.com/SAPDocuments/Issues/issues/ repo?

[2021-04-02 10:07] #6630 closed

[2021-04-04 14:34] JoaoGuedes01 commented on #4213
po crlh gajo do sap

[2021-04-04 14:34] JoaoGuedes01 commented on #4213
fdp

[2021-04-05 04:51] pradeeppanda-sap commented on #4213
not able to understand what is the issue.

[2021-04-06 06:23] ajmaradiaga opened #6635 "Branding issues in cp-sapcp-getstarted"
I just completed the tutorial and there are a few branding issues in the tutorial:
1. **Step 3 - VALIDATE_1** mentions _sapcp CLI_ in the question.

2. [Image in **Step 6 - Usage**](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cp-sapcp-getstarted/usage.png) is a screenshot of the old cli tool.

3. The answer for the question part of **Step 7: Understand the command syntax: optio

[2021-04-08 14:21] SAPDocs opened #6646 "Tutorial Page cp-cf-sapui5-local.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cp-cf-sapui5-local/cp-cf-sapui5-local.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cp-cf-sapui5-local/cp-cf-sapui5-local.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following tags:
- products>sap-

[2021-04-13 10:52] #6646 closed

[2021-04-13 10:54] thecodester commented on #6635
The place for issues is the Issues repo ... we can keep this here but next time open it there -- or use the Provide Feedback button from within the tutorial.

[2021-04-13 10:55] thecodester commented on #6392
I will close this issue, as it seems beyond the scope of the tutorial. But we invite you to open a question in the SAP Community to continue.

[2021-04-13 10:55] #6392 closed

[2021-04-15 09:45] annawenger20 commented on #6635
thanks @ajmaradiaga and sorry for the delay. I fixed the issues today and hope to get them through to production tomorrow.
Cheers, Anna

[2021-04-17 06:11] jmalla commented on #5519
I am having the same issue - I created a role collection and added the role "MessagingSend" but I still get the same error.  Not sure what I am missing.  These steps should be added to the tutorial.

- Jay

[2021-04-21 08:32] Uri-Shapira opened #6665 "Issue: Connecting to int.sap.eu2.hana.ondemand.come"
I am trying to add a server in Eclipse (Spring Tool Suite), and am facing the following error:

"Cannot reach host [int.sap.eu2.hana.ondemand.com]. Check host name for typing errors and make sure your proxy and network settings are correct."

I saw that someone posted this issue in the past, but I cannot seem to solve it in any way. I am connected to the SAP network, and I am able through the Ecli

[2021-04-21 10:19] MichaelCzcz commented on #6665
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-04-21 10:19] #6665 closed

[2021-04-29 05:59] Jr-zero commented on #4916
Could not create service instance "dest_tutorial". Service plan "lite" from service offering "destination" was not found.
In the command: `cf html5-list -di sap-btp-sapui5-dest-srv -u --runtime launchpad` just enter the name of your service instance.
Example: Service Instance: sap-btp-sapui5-dest-srv
Command: `cf html5-list -di sap-btp-sapui5-dest-srv -u --runtime launchpad`

![image](https://user

[2021-04-29 10:27] deepu-code opened #6674 "401 Unauthorized Error while testing Business Rules from API HUB"
- Response is Bank when I try to invoke the Rules Service from API HUB with response Code 401.

- Same response when trying from Postman. In Postman i am getting the Auth token, but when i use and call teh Rules, i get 401, unauthorized with blank Response.
- Roles "RuleRepositorySuperUser" & "RuleRuntimeSuperUser" have been assigned to my ID with a custom Role Collection

**Response Headers**
dat

[2021-04-29 10:43] MichaelCzcz commented on #6674
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-04-29 10:43] #6674 closed

[2021-04-29 11:15] deepu-code commented on #6674
I got the issue while following the tutorial. Hoped someone would have ecountered

[2021-04-29 11:23] MichaelCzcz commented on #6674
@deepu-code If you are referring to an issue with a tutorial, please use the "Provide Feedback" function from within the tutorial and please don't remove the link to the tutorial from the Github issue. The github issue will then be posted in the correct channel. Thank you.

[2021-04-29 13:04] gauthamkrishna-sap commented on #6364
Hello,
Thank you for your feedback. We are in the process of updating this tutorial and waiting for a minor fix. We will release a new version shortly and also update you when released. Apologies for the inconvenience caused and thank you for your patience.
Thanks and Best Regards,
Gautham

[2021-04-29 13:04] gauthamkrishna-sap commented on #6342
Hello,
Thank you for your feedback. We are in the process of updating this tutorial and waiting for a minor fix. We will release a new version shortly and also update you when released. Apologies for the inconvenience caused and thank you for your patience.
Thanks and Best Regards,
Gautham

[2021-05-17 07:39] MichaelCzcz commented on #6635
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-05-17 07:39] #6635 closed

[2021-05-17 08:25] zhmq0124v commented on #4687
In case you hit this error, please refer to the following blog and use Google App Password to connect to Gmail.
https://blogs.sap.com/2020/01/15/cpi-gmail-smtp-integration/comment-page-1

[2021-05-19 02:50] JoaoGuedes01 commented on #4213
i issue é que ainda nao foste po crlh

[2021-05-20 05:37] rmaripeddi commented on #4213
When I am trying this JSON for dev plan,

{
"emname": "emdev",
"options": {
"management": true,
"messagingrest": true,
"messaging": true
}

I am getting error as "Service broker error: Service broker enterprise-messaging-service-broker failed with: Pool for plan dev is exhausted.".

Please help

[2021-05-20 06:42] balajimurugesan2016 opened #6711 "SAP Fiori App generator failed"
Hi,
Im getting the following error when I try to create a UI5 application via the application generator for Fiori

{"message":"@sap/fiori:app generator failed - env.on(error) spawn /usr/local/lib/node_modules/@sap/generator-fiori/generators/deployment-generator/deploy/bin/mta ENOENT","stack":"Error: env.on(error) spawn /usr/local/lib/node_modules/@sap/generator-fiori/generators/deployment-generato

[2021-05-20 06:49] pradeeppanda-sap commented on #4213
can you try now and let me know please ?

[2021-05-20 06:58] MichaelCzcz commented on #6711
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-05-20 06:58] #6711 closed

[2021-05-20 07:16] rmaripeddi commented on #4213
Thanks Pradeep, Now I am able to create instance using the above code.

But I am getting below error if I use the below code which you have mentioned in the SAP developer site.

**Service broker error: Service broker enterprise-messaging-service-broker failed with: Service broker parameters are invalid: [{"message":"Unrecognized field","propertyPath":"namespace"}]**

I am using this JSON code

{
"

[2021-05-20 23:05] JoaoGuedes01 commented on #4213
mas vais ou precisas de ajuda?

[2021-05-21 05:11] rmaripeddi commented on #4213
I moved ahead but not facing authorization issue while opening application from Subscription.

Created now issue " Create Queues and Queue Subscriptions for SAP Event Mesh #382" .

Could you please assist me on that.

[2021-05-21 13:47] shruti0487 commented on #4117
Hi Archana, I am facing the same issue while testing the API from API Business Hub. Following role collections have been assigned to by user in BTP trial account
![Capture](https://user-images.githubusercontent.com/71022501/119147196-feda0c00-ba68-11eb-97a4-2db1c065c001.JPG)
and both the rules services are deployed as instructed in the blog
![Capture](https://user-images.githubusercontent.com/7102

[2021-05-31 13:50] wivwiv commented on #4213
When I am trying this JSON for dev plan:

### JSON

[code]

### Errors
[code]

### Which JSON can created?

[2021-06-01 03:55] pradeeppanda-sap commented on #4213
this descriptor file is for a default plan type.
Should you have default plan (possible, only if you are working on production version of BTP).
Should you intend to try this in trial version, you need to work with dev plan.
The descriptor definition for dev plan goes as below

{
	"emname": "<your-emname>",
	"options": {
		"management": true,
		"messagingrest": true
	}
}

[2021-06-03 10:50] thecodester commented on #5574
@pfefferf @jcailan I know it's been a long time ... can you try again?

[2021-06-03 10:53] pfefferf commented on #5574
@thecodester Looks/works good now. Thank for fixing it after that long time.

[2021-06-04 07:29] csramanujan commented on #5930
With the JSON below I am able to create the service instance. However, when i open the Event mesh application I dont see the message clients.
{
"emname": "",
"options": {
"management": true,
"messagingrest": true
}

<img width="802" alt="2021-06-04_12-55-44" src="https://user-images.githubusercontent.com/85331739/120763231-a6107600-c534-11eb-99a1-bf46b7039d30.png">

[2021-06-05 12:16] csramanujan opened #6737 "Create Instance of SAP Cloud Platform Enterprise Messaging Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html

@pradeeppanda-sap

With the JSON below I am able to create the service instance with the dev plan in the trial account. However, when I open the Event mesh application I don't see the message clients. If I create the instance with the publish and subscribe rules there is an error. With the trial account

[2021-06-07 17:24] jmalla commented on #4213
In the trial account, there is no Default plan.

[2021-06-07 17:31] jmalla commented on #4213
@pradeeppanda-sap

It does

[2021-06-07 17:32] jmalla commented on #4213
It works with this in the trial account.  The documentation really needs to be updated.  A lot of of users are using the trial account.

{
"emname": "emname",
"options": {
"management": true,
"messagingrest": true,
"messaging": true
}
}

[2021-06-08 06:20] pradeeppanda-sap commented on #4213
Hi @jmalla
  What you have done is for dev plan and dev plan will work in the trial environment. And as i have mentioned, trial environment does not have default plan, and hence if you are trying to create an instance with default plan in trial environment, it will not work. You need to be working in productive environment, to be able to work with the default plan. And hence, if you notice, this t

[2021-06-14 13:24] miffels opened #6758 "`test-tool` `global-checker` returns more issues than Atom plugin"
Hey,

I noticed that the checker exported from `global-checker.js` reports issues that are not otherwise reported in the Atom plugin, e.g. it will report HTML entities as spelling mistake:

Input:  `&#x2B;`
Output: `{reason: "x2B", kind: "spelling"}`

Seeing that this specific checker hasn't been updated in a while, as opposed to the others, I assume that it is no longer used. Are the other ones "

[2021-06-15 13:48] #5574 closed

[2021-06-16 07:22] rohan4888 opened #6764 "An error occurred during JWT validiation. The JWT is expired. Therefore please check your local system clock."
An error occurred during JWT validiation. The JWT is expired. Therefore please check your local system clock.
Getting Error

[2021-06-16 07:23] rohan4888 commented on #3990
dear I getting same Error

[2021-06-16 07:24] rohan4888 commented on #3990
Dear aman can You help me out how to resolve this issue I getting same Error

[2021-06-16 12:11] MichaelCzcz commented on #6764
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-06-16 12:11] #6764 closed

[2021-06-17 14:05] Jens-Schwendemann commented on #5519
For me not working, too. I even tried to create the user role "MessagingSend" in CI, but that isn't allowed. I tried with the S-User and the email address as user name.

Anyone got this working?

[2021-06-18 13:43] gauthamkrishna-sap commented on #6364
Hello,
Due to some issues, it is taking longer to update the tutorials. In the meantime, I can offer this tutorial as an alternative to get hands on experience of Integration Suite: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-06-18 13:44] gauthamkrishna-sap commented on #6342
Hello,
Due to some issues, it is taking longer to update the tutorials. In the meantime, I can offer this tutorial as an alternative to get hands on experience of Integration Suite: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-06-24 14:51] saket-sahi opened #6792 "SAP HANA XS Advanced - Node service throwing SAP HANA XS Advanced - Modules within Node.js SAP HANA applications 127.0.0.1:50126'"
I have created a Node service in my XSA project. When i try to start the service i get the below mentioned error. I have checked my HANA cockpit as well. It is also throwing the same error. Service is not crashing in HANA cockpit. I just get below error.
6/23/21 4:21:43.041 PM [RTR] OUT   10.10.56.103 - - to hana-srvr-03.sidf.gov.sa:51003 "POST /b5d1ddb8-82af-4893-9d5c-5f73dd95a730/softReset HTTP/

[2021-06-24 15:18] jung-thomas commented on #6792
Which tutorial and step is this?

[2021-06-24 15:27] saket-sahi commented on #6792
https://developers.sap.com/tutorials/xsa-node-modules.html
Service is running. When i click on the service url, i get an error Please open SAP Web IDE console to view more information about the error.

6/24/21 6:18:48.563 PM [API] OUT   Updated app 'EM1hjP3gJDjzAtur-SIDMain-srv' [Org 'SIDF_TERMINAL', Space 'DEV'] (state: STOPPED -> STARTED) with entity {'name':'EM1hjP3gJDjzAtur-SIDMain-srv', 'memo

[2021-06-24 15:32] jung-thomas commented on #6792
These issue forum is for problems related to specific tutorials or their steps.  For general system problems you should contact SAP Support or post your question in the Community Q&A.

[2021-06-24 15:32] #6792 closed

[2021-06-28 10:01] miffels commented on #6758
Hey,

Sorry for the late reply. Let me see if I can set up a "public" example of what I mean. I have shared with you the exact code I am seeing this with internally.

Cheers!

[2021-06-28 10:16] miffels commented on #6758
See https://github.com/miffels/catfood/blob/master/1dx-global-checker/index.js. Note that it assumes `Tutorials-Contribution` is cloned next to `catfood`.

[code]
[code]

[2021-06-28 16:28] ASRHARDING commented on #5519
Jens
The steps I listed above have been superseded by changes to SAP Integration Suite.

When I re-did SAP Integration Suite about a month ago, after I had deleted/re-instigated my account, "Step 5: Automatically assign roles and create service instances using Booster" of the tutorial "Set Up Integration Suite Trial" (https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html) c

[2021-06-28 17:07] S0021829595 opened #6797 "Error uploading content module "XXXX_ui_deployer" in service "XXXXl_html_repo_host":"
Error uploading content module "XXXX_ui_deployer" in service "XXXXl_html_repo_host": org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: com.sap.cloud.lm.sl.xs2.content.client.ContentDeployerException: Operation 'Upload File' to the URL 'https://html5-apps-repo-dt.cfapps.eu10.hana.ondemand.com/v2/files/upload' failed. Remote server responded with HTTP status code 500,

[2021-06-28 17:08] S0021829595 commented on #6797
Please help how to resolve the above issue. I am getting this Error while deploying the MTAR , build is successful.

[2021-06-29 06:35] MichaelCzcz commented on #6797
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-06-29 06:35] #6797 closed

[2021-06-29 07:06] Jens-Schwendemann commented on #5519
Thanks Andrew,
but the steps you outlined basically lead to a "normal" Basic Auth User in Cloud Integration like so: https://help.sap.com/viewer/368c481cd6954bdfa5d0435479fd4eaf/Cloud/en-US/647eeb3eca5d4c299009cacd1332247e.html

However, I wanted to achieve something where I can authenticate with my S-User like so: https://help.sap.com/viewer/368c481cd6954bdfa5d0435479fd4eaf/Cloud/en-US/5d46e56550

[2021-06-30 07:41] emdac opened #6799 "Retry Message Processing in Case of an Error"
Hi

https://developers.sap.com/tutorials/cp-integration-retry-processing.html

Is it possible to update this tutorial to use it with SAP Event Mesh ?

Regards

Emmanuel

[2021-07-07 18:54] ASRHARDING commented on #5519
Hi Jens
I have tried giving my user id access to call the integration endpoint, and assigned it the ESBmessaging role, to no avail. You can try asking the SAP Integration Community - you may find an answer already: https://answers.sap.com/index.html.

Basic Authentication is not meant to be used in production environments, in which case giving access to the a dev instance service key to a develope

[2021-07-14 09:01] gauthamkrishna-sap commented on #6799
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-14 09:01] gauthamkrishna-sap commented on #6364
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-14 10:15] emdac commented on #6799
Hi Gautham

Thank you for your help.
I have done the series when it was possible to do it.
I will try the teched example soon.

Thank you.

Emmanuel

Emmanuel Da Costa
________________________________
差出人: Gautham Krishna ***@***.***>
送信日時: Wednesday, July 14, 2021 6:01:57 PM
宛先: SAPDocuments/Tutorials ***@***.***>
CC: emdac ***@***.***>; Author ***@***.***>
件名: Re: [SAPDocuments/Tutorials] Retry

[2021-07-15 20:54] JoaoGuedes01 commented on #4213
é isso mm filho, no teu lugar é que estas bem

[2021-07-15 20:54] JoaoGuedes01 commented on #4213
fdp

[2021-07-18 11:14] thecodester commented on #6758
@wecreus Can you respond here? I'd like to remove unneeded code and use single code base for all checks.

[2021-07-18 11:15] thecodester commented on #6737
@pradeeppanda-sap Can you update this issue?

[2021-07-19 03:37] pradeeppanda-sap commented on #6737
Hi,
The management dashboard is for "default" plan which is available in the productive environment.
As you have created the "dev" plan in the trial environment, you will not be able to see any client here.

The tutorial with "default" plan is supposed to be exercised in productive environment.
![image](https://user-images.githubusercontent.com/51952722/126098977-ad5d119c-556b-45ca-8d8b-34ea25a94f

[2021-07-19 08:39] csramanujan commented on #6737
Hi Pradeep, I will close this ticket. You had already provided the solution for this earlier.

[2021-07-19 08:39] #6737 closed

[2021-07-20 10:21] saket-sahi opened #6848 "ODATA V2 support not working HANA-XSA Project"
I am trying to add ODATA V2 support in my HANA -XSA project. I have completed the changes to the package.json and loaded npm odata-v2-proxy on CDS bootstrap. Below is the code.
host:port/odata/v4/catalogservice is working but host:port/odata/v2/catalogservice is not working.
Error:Cannot GET /odata/v2/catalogservice

var https = require("https");
var port = process.env.PORT || 4000;
var express =

[2021-07-20 12:32] jung-thomas commented on #6848
By default the generated proxy URL path isn't going to be /odata/v2/*.  It is just normally just /v2.  You can see the proxy rewrite in the logs when you do a cds run:
![image](https://user-images.githubusercontent.com/12159356/126324285-2a2ef6ca-7455-4a89-93d8-ac1b9c7d2e25.png)

If you want to configure the url path for the proxy you can do that as well. In my sample I configure it to /odata/v2 b

[2021-07-20 12:32] #6848 closed

[2021-07-20 12:52] saket-sahi commented on #6848
proxy created -> http://localhost:50051
proxy rewrite rule created :"^v2"
host:51003:/catalogservice-> works fine
host:51002:/v2/catalogservice-> internal server error

[2021-07-20 13:13] jung-thomas commented on #6848
Did you add the configuration in the package.json I pointed to?  This is also necessary to configure a non-standard V4 source.  From your code you are setting a non-standard V4 URL path as well so you need to let the v2 proxy know about that

[2021-07-20 13:43] saket-sahi commented on #6848
I have added the configuration from beginning. It is still not working.I have couple of questions.
I am running the service on HANA on-prem. Why it shows localhost proxy created -> http://localhost:50051 instead of the actual host.
Do i need to add specific changes just for on-prem systems

[2021-07-20 14:15] saket-sahi commented on #6848
Just one last thing. We can run XSA services without server.js. It is just for custom bootstrapping. What changes do i need in package.json to run the services without server.js.

[2021-07-20 14:33] jung-thomas commented on #6848
If you want OData V2 you must have a server.js so that you can enhance the boostrapping.  See the documentation here: https://cap.cloud.sap/docs/advanced/odata#odata-v2-support

[2021-07-20 14:39] saket-sahi commented on #6848
If i do not want odata v2 then i should not be having server.js. My odata v4 services should run with out server.js. but they are still not running without server.js. package,json in srv folder has "start":"node server.js".
What if i just want to have ODATA V4 only. Do i need to add anything in package,.json . Its just anaylsis purpose. That will give me a better insight and probably i will be abl

[2021-07-20 14:48] jung-thomas commented on #6848
If you don't want OData V2 support then, no, you don't need a server.js.  cds run command should start your service with just a package.json and a cds model file somewhere.  The server.js is only if you want to customize the startup process.

[2021-07-20 14:55] saket-sahi commented on #6848
It give error. As start command expects start: node server.js . What changes are required in package.json to run it without server.js?

[2021-07-20 15:47] jung-thomas commented on #6848
What does your package.json scripts section look like?  Specifically the start script.  If its cds run then I don't see why it would require a server.js.

[2021-07-20 16:11] saket-sahi commented on #6848
in srv package.json
scripts:{
"start":"cds run"
}
Error SPAWN CDS EACCES
ealrier with server,js it node server.js

[2021-07-20 16:49] jung-thomas commented on #6848
Error SPAWN CDS EACCES - that's the complete error log?  Are you sure you don't still have it running in another terminal session and the port is already in use?

[2021-07-20 18:27] saket-sahi commented on #6848
7/20/21 6:25:25.502 PM [APP/3-0] ERR events.js:174
7/20/21 6:25:25.503 PM [APP/3-0] ERR throw er; // Unhandled 'error' event
7/20/21 6:25:25.503 PM [APP/3-0] ERR ^
7/20/21 6:25:25.503 PM [APP/3-0] ERR
7/20/21 6:25:25.503 PM [APP/3-0] ERR Error: spawn cds EACCES
7/20/21 6:25:25.503 PM [APP/3-0] ERR at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
7/20/21 6:25:25.503 PM [APP

[2021-07-20 18:27] saket-sahi commented on #6848
This is the error on start:cds run script

[2021-07-21 13:41] saket-sahi commented on #6848
I think it is the version issue. I have successfully implemented a model on Trial BTP. On BTP Trial I was using proxy version ^1.6 and it was generating ODATA V2 metadata. I changed the proxy version to 1.4.13 which is current proxy version of my XSA server and I started getting error for ODATA V2.
"Cannot GET /odata/v2/POService/"

[2021-07-21 15:20] saket-sahi commented on #6848
Client has barred the access to the internet on the XSA server. BASIS needs to download the latest version to web ide cache.

[2021-07-25 12:31] saket-sahi commented on #6848
When a specific npm package is uploaded the cache, is it  the specific version of the package that is getting loaded or all the versions for the package gets available as well? I thought I was restricted by the package version showing in the XSA server. I changed the package version from the XSA server version to the latest one available in npm and the code started working.

[2021-07-26 10:04] msshaik opened #6868 "RAP - Page size overrun: Query implementation of 'ZI_ZVOML_CUST' returned too many records"
Hello Experts,

When I execute Fiori App based on CDS custom Entity( data fetching through FM) is giving below error. Could you please help me how we can over come this issue.

I should display thousands of records in fiori app. Your help would be apricated.

**Runtime Error:**

The application has indicated exception "CX_SADL_DUMP_APPL_MODEL_ERROR" as the reason for the termination:
Processing wa

[2021-07-26 11:35] MichaelCzcz commented on #6868
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-07-26 12:26] #6868 closed

[2021-08-05 13:23] wecreus commented on #6758
Closing the issue since this workflow is not intended for the plugin.

[2021-08-05 13:23] #6758 closed

[2021-08-10 00:23] noorshaikh commented on #2247
Hi ,
with the above I am having the below issue.  Appreciate your help to fix it.

![Capture](https://user-images.githubusercontent.com/8439888/128790272-dafa0949-abef-402d-9e37-c20cc2b28086.PNG)

[2021-08-10 00:25] noorshaikh opened #6902 "SAP HANA XS Advanced, Creating a Node.js Module"
The application is throwing error while building the solution.

Any thoughts to solve the issue.

![Capture](https://user-images.githubusercontent.com/8439888/128790433-65ebf153-7e05-4a42-b20d-59b8811ed343.PNG)

[2021-08-10 06:11] MichaelCzcz commented on #6902
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-08-10 06:11] #6902 closed

[2021-08-21 12:13] MyCloudTrail commented on #3990
I am also facing the same Issue all of a sudden . Any help In this regard

[2021-08-29 10:10] DevRelations5 opened #6941 "Tutorial Page sac-embed-story-filter-parameters.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-embed-story-filter-parameters/sac-embed-story-filter-parameters.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-embed-story-filter-parameters/sac-embed-story-filter-parameters.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

E

[2021-09-02 06:30] draschke commented on #6341
The issue is until now not solved for SPS 04 (store/saplabs/hanaexpressxsa 2.00.045.00.20200121.1)

[2021-09-09 09:16] lcasavola commented on #4628
hello 4effo, I saw this old post . I have the same problem in my environment, did you sorted out? Can you give me som hints?
Thank you,

[2021-09-09 10:22] 4effo commented on #4628
Hey lcasavola,
as far I remember, I didn't changed anything. Later I couldn't reproduce the issue again.
Wish you good luck!

[2021-09-09 13:42] greg2git commented on #4628
Sorry for not having a solution to your issue but since it has been closed anyway, I might just leave a general comment.
I'm under the impression that with every new HANA Express release (now at 54) it is designed to run in a more and more limited environment.

A case in point: my ubuntu release has not been tested, so I need to switch to another distro to continue with an installation.
Also, what

[2021-09-24 20:55] sivaganapathyr commented on #5845
Hi,
If I used raise exception, am not getting the  message in Florida screen instead I am getting dump in the backend because the exception zcx.....x is not captured....please expalin elaborately to use the z exception type and how to capture it

[2021-09-25 17:36] shashankraj1987 commented on #3065
This saved me. Got me working on Fedora 34. Thanks.

[2021-09-28 07:55] sivaganapathyr commented on #5845
If I used raise exception, am not getting the message in Fiori screen instead I am getting dump in the backend because the exception zcx.....x is not captured....please expalin elaborately to use the z exception type and how to capture it

Pls reply asap...
Thanks

[2021-10-05 14:51] MiqueiasMaia commented on #4699
@jitendrakansal, i've made a createEntity action as the following, linking just one entity:
![image](https://user-images.githubusercontent.com/18472559/136046414-2da332c7-962f-4cd3-8bfe-ce638cba37cc.png)

When I create the DeleteteEntity and try to remove the object, i'm receiving an error "Cannot delete this entity instance. Another entity instance depends on it", but i've created the relation on

[2021-10-07 10:23] thecodester commented on #6941
Tutorial updated based on last GitHub commit so I am closing

[2021-10-07 11:45] julieplummer20 commented on #5845
Also, please create a new issue, rather than piggy-backing on Gregor's.
It helps other users, and us, to search for issues in future.
Thanks a lot,
Julie.

[2021-10-10 06:35] AmauryVanEspen opened #7042 "devtoberfest-week-sh-kyma"
Hello
not possible to submit the answer to https://developers.sap.com/tutorials/devtoberfest-week-sh-kyma.html
Could you please provide support to finish the tutorial with tips about sentence format related to video games ...
Thank you
Amaury

[2021-10-10 12:32] jung-thomas commented on #7042
That tutorial is for the upcoming Devtoberfest Scavenger Hunt which hasn't been released yet. Therefore the tutorial is intentionally not yet ready to be completed. Stay tuned for Week 3 when the details of the Scavenger Hunt will be released.

[2021-10-11 07:30] SAPDocs opened #7044 "Tutorial Page sac-secure-oauth.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-secure-oauth/sac-secure-oauth.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-secure-oauth/sac-secure-oauth.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Example:

[2021-10-11 07:35] SAPDocs opened #7045 "Tutorial Page sac-secure-oauth.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-secure-oauth/sac-secure-oauth.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/sac-secure-oauth/sac-secure-oauth.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following tags:
- products>sap-cloud-pl

[2021-10-11 12:00] #7045 closed, assigned to nobody

[2021-10-11 12:00] #7044 closed, assigned to nobody

[2021-10-15 19:34] MiqueiasMaia opened #7064 "Cannot use import statement outside a module"
I'm following the steps from [this](https://developers.sap.com/tutorials/cp-mobile-dev-kit-nativescript-geolocation.html) tutorial to get device coordinates but i I try to test on mobile device simulator, I'm retrieving the following error:

`JS: mdk.trace.app: failure error is 'SyntaxError: Cannot use import statement outside a module'`

How to fix it?

[2021-10-25 09:54] pfefferf opened #7090 "Tutorial "Secure a Basic Node.js App with XSUAA": outdated reference to npm.sap.com"
Tutorial https://developers.sap.com/tutorials/cp-cf-security-xsuaa-create.html has an outdated reference to npm.sap.com (in the "Prepare the package.json file" paragraph of step 1).

[2021-10-26 12:22] #7090 closed, assigned to MichaelPShea

[2021-10-27 13:43] GeorgeYu001 opened #7094 "Implement a Business Add-in (BAdI) To Check a Purchase Requisition"
Tutorials: https://developers.sap.com/tutorials/abap-s4hanacloud-procurement-purchasereq-checks.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi Julie,
I enjoyed your tutorials very much. It is well written and organized. The new version of limit the quantity is better than the original flow control, more obvious to the users.

However, I have a suggest

[2021-10-28 05:24] ShaileshYadav92 opened #7095 "Create Database Artifacts Using Core Data Services (CDS) for SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-database-cds.html
--------------------------

Hello,

While binding the database connection(Step-8), I am getting an error from cloud foundry. The service is not getting created in HANA.

Kindly find the screenshot attached:

![image](https://user-images.githubusercontent.com/25323258/139192161-3131812d-885d-466c-8454-1ffadff948

[2021-10-28 07:24] mintert91 opened #7096 "Create an Application for Producing Messages"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-nodejs-producing-app.html
--------------------------

This tutorial is tagged with "Java" but is a Node.js tutorial.

[2021-10-28 09:25] #7095 closed, assigned to jung-thomas

[2021-10-28 11:14] kennylomax opened #7099 "Use Redis in the Kyma Runtime to Store and Retrieve Data"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-redis-function.html
--------------------------

Write here how you think we can improve the tutorial ...
Hi
the sentences
"On line three, replace the value < REPLACE WITH GATEWAY_URL > with the GATEWAY_URL found in the Environment Variables below the function code. This value will defer from what is shown in the screenshot."
can be misinterpr

[2021-10-29 07:42] seVladimirs opened #7100 "tutorial cp-cf-security-xsuaa-create - npm.sap.com is not required anymore to run SAP packages locally"
Tutorials: https://developers.sap.com/tutorials/cp-cf-security-xsuaa-create.html
--------------------------

Not sure but I think the usage of registry https://npm.sap.com is not required, and actually recommended to remove it - https://blogs.sap.com/2020/07/02/sap-npm-packages-now-on-npmjs.org/
![image](https://user-images.githubusercontent.com/9819889/139395371-f1785781-b065-448f-8a44-6c71ffc7ed

[2021-10-29 07:53] seVladimirs opened #7101 "Access Protected SAP Analytics Cloud Resources with OAuth Two-Legged Flow"
Tutorials: https://developers.sap.com/tutorials/sac-secure-oauth.html
--------------------------
SAP Cloud Platform is renamed to SAP Business Technology Platform ;) but not yet changed in the tutorial.
![image](https://user-images.githubusercontent.com/9819889/139397037-15823629-ddc4-4021-bb90-e6308e1e42e3.png)

[2021-10-29 16:22] edwin7 opened #7102 "Install the Kubernetes Command Line Tool"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-download-cli.html
--------------------------

add this to Prerequisites:
https://developers.sap.com/tutorials/cp-kyma-getting-started.html

[2021-10-30 09:54] mohamedyosufdeenjmh opened #7103 "Use a Cost Function to Calculate Shortest Path"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-smart-multi-model-9.html
--------------------------

In Step 4, point number 5, there is a typo.
Current content: You have wrapped the **_GRPAH_** procedure into a table function which can be called in a SQL SELECT statement.
Expected content: You have wrapped the **_GRAPH_** procedure into a table function which can be called in a SQL SEL

[2021-10-31 08:45] ceedee666 opened #7104 "Create Data Model and Lock Object in SAP BTP, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-lock-object.html
--------------------------
In step 5 the ABAP source code listing contains
[code]

In the current version of the SAP BTP ABAP environment this value is not supported. Supported values are: `#DISPLAY`, `#ALLOWED`, `#NOT_ALLOWED` and `#RESTRICTED`.

In my opinion the listing should be changed to
[code]

[2021-10-31 09:01] ceedee666 opened #7105 "Create Data Model and Lock Object in SAP BTP, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-lock-object.html
--------------------------
In step 6 of the tutorial contains the CDS source contains in line 9 the following code
[code]
In the current version of the SAP BTP ABAP environment the usage of `I_BusinessUser`is not allowed. Trying to active the CDS view results in the following error message:

Use of element USERID of

[2021-11-01 09:41] seVladimirs opened #7107 "Monitor a Standalone Data Lake in SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-hdl-getting-started-4.html
--------------------------

I believe the question is wrongly defined, as the answer 'IQMONVIEWS' is not a procedure name, but a view/table.
![image](https://user-images.githubusercontent.com/9819889/139652542-e037421a-54ff-4a6c-9304-38bcb7430776.png)

[2021-11-01 10:23] VijayKrishnanSR commented on #7103
Hi,
Thank you very much for letting me know. I will update the tutorial with the correction. I hope you found the tutorial helpful.
Regards,
Vijay

[2021-11-01 10:38] mohamedyosufdeenjmh commented on #7103
Hi Vijay,

You are welcome. Yes, I found the tutorial to be very helpful.

Kind regards
Yosuf

[2021-11-01 11:36] AmauryVanEspen opened #7109 "Add a New Entitlement to Your Subaccount"
Tutorials: https://developers.sap.com/tutorials/cp-cf-entitlements-add.html
--------------------------

Hello,
It seems i'm not able to get the badge of this activity
however i've got the right answers to step 4.

Could you please check ?
Thank you

Amaury

[2021-11-01 11:38] AmauryVanEspen opened #7110 "Get a Free Account on SAP BTP Trial"
Tutorials: https://developers.sap.com/tutorials/hcp-create-trial-account.html
--------------------------

Hello
It seems there is an issue with the badge provide, I've successfully completed the activity and I'm not able to get the related badge
Regards
Amaury

[2021-11-01 12:15] Chathia opened #7111 "Create Data Model and Lock Object in SAP BTP, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-lock-object.html
--------------------------
While doing this tutorial, I'm facing an issue in "Step 6: Create data definition" while activating the CDS view: Z_I_ROOM_888.
In the below line of code, there is a syntax error:
**Code:**
 define root view Z_I_ROOM_888 as select from zroom_888 as room
  association [0..1] to I_BusinessUse

[2021-11-01 13:22] AmauryVanEspen opened #7112 "Connect to GitHub and create an MTA application"
Tutorials: https://developers.sap.com/tutorials/xsa-ml-e2e-github-mta.html
--------------------------

Hello
it's seems to me there is no question to answer

regards

Amaury

[2021-11-01 14:44] jung-thomas commented on #7112
Not sure what happened there, but it's fixed now. Thanks for reporting.

[2021-11-01 14:44] #7112 closed

[2021-11-01 14:55] seVladimirs commented on #7107
yep! tutorial is very well structured! thanks @VijayKrishnanSR

[2021-11-01 20:43] ahmedkhan29789 opened #7114 "Deploy a CAP Business Application to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/cap-service-deploy.html
--------------------------

step2. point number 4 "cf login"  doesn't work in visual studio code terminal, Getting below error

PS C:\Users\Ahmed_Ali_Khan\Music\SAP CAPM Learning\my-bookshop> cf login
cf : The term 'cf' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of

[2021-11-01 22:07] phdaucourt opened #7115 "Map Fields Between Open Connectors and HubSpot"
Tutorials: https://developers.sap.com/tutorials/cp-apim-openconnectors-common-resources.html
--------------------------

I cannot add new common resources as mentioned in the tutorial. I get the error message: "Failed to retrieve all templates We apologize for the inconvenience".

![image](https://user-images.githubusercontent.com/13801682/139748144-ee19275b-87a4-4c3f-87a7-b460cc9a45fd.png)

Did I

[2021-11-02 08:15] iwonahahn commented on #7114
Hi @ahmedkhan29789,

Have you downloaded and installed the cf command line client for Cloud Foundry as described in the prerequisites of the tutorial? You need this to execute `cf ...` commands.

Best regards,
Iwona

[2021-11-02 08:40] IObert commented on #7110
Hi,

can you please provide a screenshot that shows that all steps are marked with green checkmarks. And also add your community ID please.

[2021-11-02 08:40] IObert commented on #7109
Hi,

can you please provide a screenshot that shows that all steps are marked with green checkmarks. And also add your community ID please.

[2021-11-02 09:05] julieplummer20 commented on #7094
Hi George, It has just occurred to me that this graphic would be useful, if we adapted it, in the other BADI tutorials.
Since we are both internals, could you perhaps email me the original pptx file - for both speed and consistency?
I know this isn't your job ;-), but it would be really helpful.
Thanks a lot,
Julie.

[2021-11-02 09:31] AmauryVanEspen commented on #7109
Hello
amauryvanespen
![image](https://user-images.githubusercontent.com/4487041/139821391-a1ebaad0-2dae-410e-808b-1b509a961fa8.png)
Thank you
Amaury

[2021-11-02 09:32] AmauryVanEspen commented on #7110
Hello
amauryvanespen
![image](https://user-images.githubusercontent.com/4487041/139821499-3e54c14e-f60e-4d27-a69b-0f9836fac673.png)

Thank you
Amaury

[2021-11-02 09:50] SAPDocs opened #7118 "Tutorial Page cos-custom-rules.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cos-custom-rules/cos-custom-rules.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cos-custom-rules/cos-custom-rules.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following tags:
- topic>sap-api-busines

[2021-11-02 10:05] zeitiger opened #7119 "Determine the Distance to a Target POI"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-smart-multi-model-3.html
--------------------------

Step 2 should give the hint to add a `SET SCHEMA DAT260;` if the query failed, because it could not find `LONDON_POI`

[2021-11-02 12:17] GeorgeYu001 commented on #7094
Hi Julie,
Sure. Here is my PPT.

By the way, Karl Kessler pointed me to your tutorial, because I am learning Steampunk.  If you have other new tutorials, I will be more than happy to test drive them 😊.

Best Regards,
George

From: Julie Plummer ***@***.***>
Sent: Tuesday, November 2, 2021 5:06 AM
To: SAPDocuments/Tutorials ***@***.***>
Cc: Yu, George ***@***.***>; Author ***@***.***>
Subject: Re:

[2021-11-02 13:35] IObert commented on #7110
Thanks, I just checked and I can confirm that you completed the tutorial. Let me see why the badge hasn't been assigned.

[2021-11-02 13:35] IObert commented on #7109
Thanks, I just checked and I can confirm that you completed the tutorial. Let me see why the badge hasn't been assigned.

[2021-11-02 17:46] fleischr opened #7120 "Build Skeleton React and UI5 Projects"
Tutorials: https://developers.sap.com/tutorials/luigi-app-basic-setup.html
--------------------------

Step 1.5. Lots of issues trying to copy and paste these commands. Tried replacing quotations and also running commands from VS Code, Git Bash, Windows command, and Powershell with a lot of errors still taking place.

[2021-11-03 10:07] IObert commented on #7110
I see that badge #5DE96D shows in your profile now. Hence, I'll close the issue.

[2021-11-03 10:07] #7110 closed

[2021-11-03 12:33] draschke opened #7124 "Load Data into Standalone Data Lake in SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-hdl-getting-started-3.html
--------------------------

Step 2: Create tables in data lake
Hi, I think it would be better, if you would mention that the user needs to choose the schema to find his tables.

![image](https://user-images.githubusercontent.com/4199123/140060470-dc78ca49-c2b0-4371-9f37-f2cab9773b32.png)

[2021-11-03 12:54] SAPDocs opened #7126 "Tutorial Page cap-service-deploy.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cap-service-deploy/cap-service-deploy.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cap-service-deploy/cap-service-deploy.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following tags:
- software-prod

[2021-11-03 15:17] #7126 closed

[2021-11-03 15:43] kannankumar opened #7129 "Train Execution of ML Model (Postman)"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-postman-train.html
--------------------------

In Step 3: Create training configuration:

The endpoint looks incorrect
POST `{{apiurl}}/v2/lm/executions`

It should be
POST `{{apiurl}}/v2/lm/configurations`

[2021-11-03 16:29] VijayKrishnanSR commented on #7103
Hi Yosuf,

Thank you for your feedback. I hope that you find the rest of the tutorials also helpful as well.

Regards,
Vijay

[2021-11-03 21:18] draschke commented on #7124
Hi Vijay,
yes, as you said, as a validation/check that the tables were created and to know where to look for it.
Best regards, Dirk

[2021-11-03 21:54] draschke opened #7131 "Create an SAP HANA Graph Workspace"
Tutorials: https://developers.sap.com/tutorials/hana-graph-overview-setup.html
--------------------------
Step 11: Add more data
In my case I had to add the schema "SKIING" for the data import .

--Add lifts down to boarding stations
INSERT INTO "SKIING"."EDGES" VALUES (1061, 1755, '', 2, 1, 'lift', 'open') ;
INSERT INTO "SKIING"."EDGES" VALUES (1060, 2453, '', 5, 4, 'lift', 'open') ;
INSERT INTO

[2021-11-04 06:15] thecodester commented on #7110
@AmauryVanEspen Can you tell me about when you completed this and the other tutorial for which the badge is missing?

[2021-11-04 07:35] MichaelCzcz commented on #7096
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-04 07:35] #7096 closed

[2021-11-04 07:35] MichaelCzcz commented on #7099
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-04 07:35] #7099 closed

[2021-11-04 07:55] AmauryVanEspen commented on #7110
Hi Daniel,

find the date below
[image: image.png]
Regards
Amaury

Le jeu. 4 nov. 2021 à 07:16, Daniel Wroblewski ***@***.***> a
écrit :

[2021-11-04 08:00] AmauryVanEspen commented on #7109
Hello Marius,
about the tutorial, it has been fulfilled in January 2020
[image: image.png]
This may interest Daniel

Regards
Amaury

Le mar. 2 nov. 2021 à 14:35, Marius Obert ***@***.***> a
écrit :

[2021-11-04 08:53] VijayKrishnanSR commented on #7119
Hi,

Thank you for the feedback.
This tutorial is part of a tutorial group "Smart Multi-Model Data Processing with SAP HANA Cloud". In the first tutorial, it has been mentioned as a note:

<img width="300" alt="2021-11-04_09-46-34" src="https://user-images.githubusercontent.com/84376241/140284506-f301a9b3-f15b-4e5f-96a9-56716aea0710.png">

Here is the link [Step 5, Tutorial [1]](https://developers

[2021-11-04 09:01] MichaelCzcz commented on #7119
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-04 09:01] #7119 closed

[2021-11-04 09:27] VijayKrishnanSR commented on #7124
Hi Dirk,

I have added the information at the end of Step 2. It will be updated soon. Thank you for you feedback.
I hope you found the tutorial helpful.

Regards,
Vijay

[2021-11-04 09:27] mkemeter commented on #7131
Hi Dirk,

many thanks for your feedback! Explicitly adding the schema is only required if your current connection does not use `SKIING` as a default schema. In step 3 of the tutorial and line 3 of the code, you have executed `SET SCHEMA "SKIING"` to make sure that your current connection is using schema `SKIING` per default. The same is (redundantly) happening in step 5, line 1.

It sometimes occu

[2021-11-04 09:30] IObert commented on #7109
@thecodester  Could it be that the tutorial was completed so long ago?

[2021-11-04 09:41] draschke commented on #7131
Hi Mathias,
sorry, I didn't know that. I tried it and it works.  Thanks for this hint, very good to know.   :)
Regards Dirk

[2021-11-04 09:41] #7131 closed

[2021-11-04 10:20] mervey45 commented on #7111
Hi @Chathia ,

in which system did you try this out? This is a tutorial for a licensed system.

Best regards,
Merve

[2021-11-04 10:21] mervey45 commented on #7105
Hi @ceedee666 ,

in which system did you try this out? This is a tutorial for a licensed system.

Best regards,
Merve

[2021-11-04 10:21] mervey45 commented on #7104
Hi @ceedee666 ,

in which system did you try this out? This is a tutorial for a licensed system.

Best regards,
Merve

[2021-11-04 10:46] thecodester commented on #7109
We're checking on the backend, but in the meantime we can manually assign the badge. It shouldn't matter it was so long ago, but checking.

[2021-11-04 11:05] ceedee666 commented on #7104
Hi @mervey45,

i tried this in the ABAP Environment in the trial landscape.

Christian

[2021-11-04 12:40] IObert opened #7135 "Integrate Charts and Conditional Rendering"
Tutorials: https://developers.sap.com/tutorials/ui5-webcomponents-react-charts.html
--------------------------

Hi Lukas,

I'm testing this tutorial for the Devtoberfest which will feature this tutorial next week. While doing so, I found the following issue:

Step 1. I cannot install the charts dependency:
[code]

I noticed it works when I run
[code]

[2021-11-04 13:29] IObert opened #7136 "Develop a Vue Application for SAP BTP on Cloud Foundry"
Tutorials: https://developers.sap.com/tutorials/appstudio-vue-getting-started.html
--------------------------

Hi Raz,

I'm testing this tutorial for the Devtoberfest which will feature this tutorial next week. While doing so, I found the following issue:

Step 3:
I cannot run `npm run watch` and neither can I run `npm install`. See here for the detailed logs:

<img width="1766" alt="Screenshot 20

[2021-11-04 14:21] IObert commented on #7109
The badge is now associated to your profile. Thanks for your patience and sorry for the inconvenience :)

[2021-11-04 14:21] #7109 closed

[2021-11-04 14:54] Chathia commented on #7111
Hi Merve,

I tried this in the ABAP on cloud trial account. This tutorial is assigned as part of Devtoberfest.

Regards,
Chathia.

[2021-11-04 14:57] mervey45 commented on #7111
Hi @Chathia ,

unfortunately this tutorial can only be done in a licensed system. The trial system is limited.

Best regards,
Merve

[2021-11-04 14:57] mervey45 commented on #7104
Hi @Chathia ,

unfortunately this tutorial can only be done in a licensed system. The trial system is limited.

Best regards,
Merve

[2021-11-04 15:03] MichaelCzcz commented on #7111
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-04 15:03] #7111 closed

[2021-11-04 15:20] Lukas742 commented on #7135
Hi @IObert

thanks for brining this up! We had wrong versions of peer-dependencies in the `@ui5/webcomponents-react-charts` package which was causing this error. With `"@ui5/webcomponents-react-charts": "0.19.1"` it is working again.

[2021-11-04 16:06] #7135 closed

[2021-11-04 21:36] raz-korn commented on #7136
Hi @IObert ,

Hi Marius, I've just tested the tutorial - run smoothly. No hiccups.
Make sure that you opened the workspace on this specific project.
When in BAS > Explorer, at the bottom of the pane there's a "NPM SCRIPTS" section. When you expand it do you see that a watch script is available?

Regards - Raz

[2021-11-05 07:14] MichaelCzcz commented on #7124
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-05 07:14] #7124 closed

[2021-11-05 07:15] MichaelCzcz commented on #7107
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-05 07:15] #7107 closed

[2021-11-05 07:16] MichaelCzcz commented on #7103
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-05 07:16] #7103 closed

[2021-11-05 08:02] IObert commented on #7136
Yes, I see it but it doesn't work there either :(
![Screenshot 2021-11-05 at 09 01 59](https://user-images.githubusercontent.com/1873245/140477802-7639732b-7ea7-4103-a726-9df51493cb4e.png)

I'm running on Trial if that makes a difference and my workspace ID is ws-ckcmg.

[2021-11-05 08:28] mohamedyosufdeenjmh commented on #7103
You are welcome!

[2021-11-05 14:55] seVladimirs opened #7140 "Identify Relevant Networks in Spatial Data"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-smart-multi-model-4.html
--------------------------

Small typo
![image](https://user-images.githubusercontent.com/9819889/140530909-61650e3b-5258-4a25-8b4b-667b80a36071.png)

[2021-11-05 17:55] steven-g commented on #7136
I have the exactly same issue with my trial account.

[2021-11-06 05:55] AmauryVanEspen opened #7142 "Get Started with the SAP BTP Command Line Interface (btp CLI) - tips and tricks for btp.exe as btp"
Tutorials: https://developers.sap.com/tutorials/cp-sapcp-getstarted.html
--------------------------

Hello
could you provide a tip to alias .\btp.exe as btp in powershell ?
Thank you

![image](https://user-images.githubusercontent.com/4487041/140599610-33d5c386-8cda-4f99-96f7-ae07c8cf0d29.png)

Amaury

[2021-11-06 07:12] raz-korn commented on #7136
Hi @IObert ,

Can you share a screenshot of the top of the Explorer pane where the workspace is displayed?
Also the logfile of the run that is mentioned at the bottom of the screenshot you shared?

Regards - Raz

[2021-11-07 07:38] pjcools opened #7144 "Deploy Your Multi-Target Application (MTA)"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-mta-deployment.html
--------------------------

Write here how you think we can improve the tutorial ...

Step 8: Build, deploy, and test mtar file

When I perform the mbt build -t ./ I get the following error.

S C:\Users\PhilCooley\Documents\SAP\Tutorials\btpapptutorial\cpapp> mbt build -t ./
[2021-11-07 18:33:52]  INFO Cloud MTA Build

[2021-11-07 07:49] pjcools commented on #7144
Ignore - this was rectified when I ran my Command Prompt as an Administrator.  I thought of this after I logged the ticket. Sorry. Maybe others have this same issue as well, not sure.

Thanks Phil

[2021-11-07 07:50] #7144 closed

[2021-11-07 09:51] jcailan opened #7145 "Create an SAP Fiori Elements-Based UI"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-ui-fiori-elements.html
--------------------------

I just run through the tutorial today and below is my finding:

Step 4: Make header info editable > It looks like it is no longer need to put below setting:

[code]

Actual setting:

[code]

![image](https://user-images.githubusercontent.com/27951983/140638502-8b82a43f-c1cf-441e-9318-3

[2021-11-07 16:45] edwin7 opened #7146 "Help Thomas Get Started with SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html
--------------------------
a word "create" is missing

<img width="1238" alt="Screenshot 2021-11-07 at 23 45 02" src="https://user-images.githubusercontent.com/709198/140653937-e516e432-1c5d-4da7-b4e2-a876f825ac43.png">

[2021-11-07 17:42] edwin7 opened #7147 "Introduce Resilience to your Application"
Tutorials: https://developers.sap.com/tutorials/s4sdk-resilience.html
--------------------------

prerequisites?

[2021-11-07 18:01] AmauryVanEspen opened #7149 "enhancement - cp-aibus-dox-custom-schema : create custom schema and template for Document Information Extraction Trial UI"
Hello

please have a look to this contribution
[cp-aibus-dox-custom-schema](https://github.com/AmauryVanEspen/Tutorials/tree/patch-3/tutorials/cp-aibus-dox-custom-schema)

I've tried to start a feedback for the devtoberfest open source project and automatize my app with OpenSAP Certificates data from record of achivement documents

Regards

Amaury

[2021-11-07 18:02] ASRHARDING opened #7150 "Expose Integration Flow Endpoint as API and Test the Flow"
In the tutorial "Expose Integration Flow Endpoint as API and Test the Flow", Step 2, final action 13, I get the wrong error:
   404 Not Found:
   Requested route ('f74a39b1trial.it-cpitrial05-rt.cfapps.us10-001.hana.ondemand.com') does not exist.

Instead of expected error code 401:
   {
     "error": "unauthorised",
     "error_description": "An Authentication object was not found in the Security

[2021-11-08 01:30] I501000 opened #7151 "Create a User Interface with CAP (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-ui.html
--------------------------
When I binding the app to a existing HDI ,run into error ,the error is the following ： would you please help on this ?

user: CapXf4 $ npm start
npm WARN lifecycle The node binary used for scripts is /extbin/bin/node but npm is using /opt/nodejs/node-v14.17.6-linux-x64/bin/node itself. Use the

[2021-11-08 02:08] I501000 commented on #7151
Resolved, need to move the defaultenv to the root  directory .

[2021-11-08 02:08] #7151 closed

[2021-11-08 02:26] I501000 opened #7152 "Add User Authentication to Your Application (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-add-authentication.html
--------------------------

user: CapXf4 $ cds compile srv/ --to xsuaa
[ERROR] Cannot find module '@sap/cds/bin/utils/write'
Require stack:
- /home/user/.node_modules_global/lib/node_modules/@sap/cds-dk/bin/compile.js
- /home/user/.node_modules_global/lib/node_modules/@sap/cds-dk/bin/cds.js
    at Function.Modul

[2021-11-08 02:31] I501000 commented on #7152
resoved . npm i -g @sap/cds-dk

[2021-11-08 02:31] #7152 closed

[2021-11-08 04:36] muhamadnazimabubakar opened #7153 "Explore the ABAP Repository"
Tutorials: https://developers.sap.com/tutorials/abap-dev-learn-repo.html
--------------------------

I believe the for Step 3,  No 2,  the shortcut key should be Ctrl+Shift+A instead of Alt+Shift+A

[2021-11-08 06:36] shilpavij commented on #7115
Dear Colleague,

Have you clicked on basic companies? You can do two things:
1. Try to select other template
2. Or try to clear cache and create again.

Regards
shilpa

[2021-11-08 07:42] MichaelCzcz commented on #7149
@AmauryVanEspen Thank you for your feedback. This channel is for issues regarding tutorials in the SAP Tutorial Navigator.
But if you could please provide the tutorial's author, I can assign this Github issue and your pull request to him/her. Thank you.

[2021-11-08 08:04] AmauryVanEspen commented on #7149
Hello @MichaelCzcz
this was a "new submission" of tutorial. However, I've found this morning something quite similar here [Create Custom Schema for Custom Documents](https://developers.sap.com/tutorials/cp-aibus-dox-ui-schema-custom.html) from @Juliana-Morais
I've started a [draft blog](https://blogs.sap.com/?p=1434371) about my own experience with Document Information Extraction thanks to this tu

[2021-11-08 08:09] Juliana-Morais commented on #7149
Hi Amaury,

You're welcome! The tutorial missions have just been created:

- https://developers.sap.com/mission.btp-aibus-shape-ml.html
- https://developers.sap.com/mission.btp-aibus-shape-ml-custom.html

Let us know in case you have any feedback.

Best regards,
Juliana

[2021-11-08 08:22] IObert commented on #7136
Sure thing @raz-korn
Here are the other details:
`https://hc-test-lnqhafdr.us10cf.trial.applicationstudio.cloud.sap/index.html#ws-ckcmg`

[code]

[2021-11-08 08:24] AmauryVanEspen commented on #7149
Hello Juliana,

thank you for reaching me out.
I was looking for your linkedin profile and sap inbox =)
Great tutorial and mission,
would you be available for a short talk ?
Regards
Amaury

Le lun. 8 nov. 2021 à 09:10, Juliana Morais ***@***.***> a
écrit :

[2021-11-08 08:27] annawenger20 commented on #7142
Hi @AmauryVanEspen
try `new-alias btp <path-to-folder-with-btp.exe>\btp` - hope that'll work!
Thanks for the feedback - I'll add this info to the tutorial.
Bonne journée,
Anna

[2021-11-08 08:28] julieplummer20 commented on #7153
Hi, Yes, you're right.
Thanks a lot - I'll fix that at once.
Best wishes,
Julie.

[2021-11-08 08:31] MichaelCzcz commented on #7149
@AmauryVanEspen I see. If you want to publish your new tutorial, please align with @Juliana-Morais and @thecodester. Thank you.

[2021-11-08 09:16] jung-thomas commented on #7146
No actually adding CREATE would be incorrect.  With hdbgraphworkspace (like all the HDI artifacts) you leave the SQL verb off since the same design time artifact is used for both create and update of the objects.
https://help.sap.com/viewer/c2cc2e43458d4abda6788049c58143dc/2021_3_QRC/en-US/ff893731c8514b098223e4a47a6d5f39.html

[2021-11-08 09:16] #7146 closed

[2021-11-08 10:11] raz-korn commented on #7136
I experience the same in a new dev space.
I'm investigating.

[2021-11-08 10:53] VijayKrishnanSR commented on #7140
Hi,
Thank you for letting us know. This typo will be corrected soon. I hope you found the tutorial helpful.
Regards,
Vijay

[2021-11-08 11:00] nikegup opened #7159 "Add the SAP Launchpad Service"
Tutorials: https://developers.sap.com/tutorials/btp-app-launchpad-service.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi,
I was following the tutorial to build for my own project in a production environment. The steps which I had successfully done were:-
1. Created a CAP application
2. Added a Fiori App to the CAP application
3. Added Authentication t

[2021-11-08 12:11] MichaelCzcz commented on #7153
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-08 12:11] #7153 closed

[2021-11-08 16:07] phdaucourt commented on #7115
Hi Shilpa,

I cleared my cache and tried again but unfortunately I cannot click on "basic-companies" tile nor select any other templates because my screen is completely empty.

![image](https://user-images.githubusercontent.com/13801682/140775946-7f24a2eb-540f-44d5-b94c-5163bff5cdaa.png)

What should I do to get the missing templates? Would it be an authorization issue?

[2021-11-08 16:48] Mark-Simunov opened #7162 "Define a Validation Rule in an MDK App"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-dev-kit-add-validation.html
--------------------------

![image](https://user-images.githubusercontent.com/93543279/140783274-73500b14-3407-46f8-9437-2b811d893884.png)

In the emailValidation.js Rule file, the executeAction method is not returned, therefore it will not correctly function. This is not a major issue as typically the else stat

[2021-11-08 17:20] ag3silaus opened #7163 "Add Custom Styles and Components for UI5 Web Components for React"
Tutorials: https://developers.sap.com/tutorials/ui5-webcomponents-react-styling.html
--------------------------
Hi Guys,
 <FlexBox
      justifyContent={FlexBoxJustifyContent.Center}
      wrap={FlexBoxWrap.Wrap}
  **==>/**>
      <MyCustomElement />

You forgot the closing slash in step 4.

Regards
Burak

[2021-11-08 21:43] newtork commented on #7147
What do we do with this issue?

[2021-11-08 22:06] stevanic opened #7164 "Create Behavior and Service in SAP BTP, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-behavior-definition.html
--------------------------

Context menu to create New Behavior Implementation has been removed.

Reference:
https://answers.sap.com/questions/13215592/cannot-create-behavior-implementation-eclipse.html

Here is the updated steps to create a new behavior implementation
https://developers.sap.com/tutorials/aba

[2021-11-09 00:32] edwin7 commented on #7147
I think you need to add prerequisites for this tutorial. or at least the sample code to begin with.

[2021-11-09 02:30] edwin7 commented on #7146
Thank you Thomas for the info. I might have the old version of SAP HANA Cloud
<img width="968" alt="Screenshot 2021-11-09 at 09 30 03" src="https://user-images.githubusercontent.com/709198/140850830-bc2bcc5b-8503-471b-aeae-e720b8dff12b.png">

[2021-11-09 03:19] edwin7 opened #7165 "Create a Sample Application on Cloud Foundry Using SAP Cloud SDK"
running mvn clean package produces error.

 java/security/acl/Group is deprecated?

my javac:
`javac 11.0.11`

[code]

[2021-11-09 04:55] shilpavij commented on #7115
Dear Colleague,

I cross-checked and looks like for a new account it doesn't work. Templates are not getting loaded.
This is a bug and will report it.

Regards
shilpa

[2021-11-09 06:07] thecodester commented on #7147
Can you provide more detailed information?

[2021-11-09 07:20] NidhiMurkute opened #7166 "Expose Integration Flow Endpoint as API and Test the Flow"
Tutorials: https://developers.sap.com/tutorials/cp-starter-isuite-api-management.html
--------------------------

Step 3: Copy credentials from service key : The default instance name that the booster provides is 'default-it-rt-integration-flow'
Please update the sentence in the tutorial accordingly.
Expected:
![image](https://user-images.githubusercontent.com/50734023/140879021-7b0f2c1d-c79f-410e

[2021-11-09 07:31] jung-thomas commented on #7146
No you putting the content in the wrong spot. You are in a SQL Console Editor.  The instructions in the tutorial say:
_creating a file with the extension hdbgraphworkspace (and be sure to Deploy again)_

You should be creating a design time artifact with the above referenced file extension in your project not in the Database Explorer console.

[2021-11-09 07:49] FarozanFarman opened #7167 "Set Up Account for Document Information Extraction and Go to Application - Screenshot Update Required"
Hi,

Tutorials: https://developers.sap.com/tutorials/cp-aibus-dox-booster-app.html
--------------------------
At Step 4: Access subscription (optional):
5.Here, you can navigate to the application by clicking Go to Application and also manage the Document Information Extraction Trial UI roles.

Now we have only 3 roles, so the screenshot to check/see the roles can be updated.
Expected Result:
![im

[2021-11-09 08:27] Lukas742 commented on #7163
Hi @ag3silaus

the code snippet was shortened (indicated by the three dots) to only show where the `MyCustomElement` component should be placed. The `FlexBox` should contain the previously implemented `Cards` as well.

Full return:
[code]

[2021-11-09 08:45] edwin7 commented on #7147
STEP 4:
"Now let’s adapt the code in your integration test "
integration-tests/src/test/java/com/sap/cloud/sdk/tutorial/BusinessPartnerServletTest.java:

how can I get that file?
There is no information about this. In other tutorials, prerequisites are provided.

[2021-11-09 08:47] edwin7 commented on #7146
Thanks Thomas!

[2021-11-09 08:53] ag3silaus commented on #7163
Hi @Lukas742 ,
Thank you for your answer. I was facing this error because I used Flexbox object twice.
Regards

[2021-11-09 08:53] #7163 closed

[2021-11-09 08:58] Karunaharan commented on #7166
@NidhiMurkute - the issue is fixed. will publish as soon as I have other feedback from your entire testing.

[2021-11-09 09:00] Karunaharan commented on #7166
@NidhiMurkute - the issue is fixed. will publish as soon as I have other feedback from your entire testing.

[2021-11-09 09:23] MarcusSchiffer opened #7169 "Connect GitHub and Docker to SAP AI Core (Client SDK)"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-clientsdk-repository.html
--------------------------

Hi,
submitting the code to github gives
"Failed to post /admin/repositories: Jwt issuer is not configured"

No updates written.

[2021-11-09 09:53] VanitaDhanagar opened #7170 "Enhance Behavior With Action and Validation"
Tutorials: https://developers.sap.com/tutorials/abap-environment-behavior-action.html
--------------------------

Step 4 :Enhance behavior implementation

Point 7 : screenshot need to be updated

Old  :
![image](https://user-images.githubusercontent.com/80330660/140901837-65ad0c53-1df8-441d-8f03-24d6e17d3ba9.png)

New :
<img width="924" alt="UI2" src="https://user-images.githubusercontent.com/8033

[2021-11-09 09:58] VanitaDhanagar opened #7171 "Create Behavior Definition for Managed Scenario"
Tutorials: https://developers.sap.com/tutorials/abap-environment-behavior.html
--------------------------

Screenshot need to be updated
step 2 :Create behavior definition for projection view
Point 7:

Old :
![image](https://user-images.githubusercontent.com/80330660/140902887-88c4aa31-05b7-4dcd-9359-6d9b19bb0099.png)

New :
<img width="935" alt="UI" src="https://user-images.githubusercontent.com/

[2021-11-09 10:01] jkbschmid opened #7172 "Set Up SAP Web Analytics"
Tutorials: https://developers.sap.com/tutorials/cp-webanalytics-setup.html
--------------------------

Step 6 should be updated, since Default Identity Provider is not clickable anymore.
See https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/31532c77bd61421e9d40d100fd75ef52.html

[2021-11-09 10:14] edwin7 commented on #7147
Are these the prerequisites:

https://developers.sap.com/tutorials/s4sdk-setup.html
https://developers.sap.com/tutorials/s4sdk-cloud-foundry-sample-application.html

[2021-11-09 10:21] Karunaharan commented on #7166
@MichaelCzcz - I'm not able to close the issue which I used to do in the past. Could you please check why am I not able to close?

[2021-11-09 10:24] #7166 closed

[2021-11-09 11:35] Vikramkulkarni01 commented on #7172
Hi @jkbschmid ,

Thanks for reaching out to us and notifying this issue.

We are completely revamping this step as per the latest update in the BTP cockpit. You no longer required to assign the role collections from the **Trust configuration**. You can directly assign users while creating role collection itself.

The changes will be available to you shortly.

Since there are no actions required fr

[2021-11-09 11:54] newtork commented on #7147
It's right below the quote of yours:
![image](https://user-images.githubusercontent.com/22489773/140919193-ca6ee211-7af4-44bf-beec-1076968edb39.png)

[2021-11-09 11:54] newtork commented on #7147
This tutorial is part of a series and assumes knowledge, certain steps and code blocks already present:
https://developers.sap.com/mission.cloudsdk-cf-app.html

![image](https://user-images.githubusercontent.com/22489773/140919361-3e0372b3-8087-4125-a20f-2fcf019bd358.png)

[2021-11-09 11:58] newtork commented on #7147
If you are interested in a dedicated documentation towards Resilience with SAP Cloud SDK, please find our official material here:
https://sap.github.io/cloud-sdk/docs/java/features/resilience/resilience

The linked documentation is updated regularly, whereas the tutorial that you work on is almost 3 years old.

[2021-11-09 12:11] edwin7 commented on #7147
not always. depends where you have accessed the tutorial.

If you go to:
https://developers.sap.com/group.cloudsdk-more-features.html

You will not see it as a part of the mission you are mentioned.
We are also in the middle of devtoberfest. In this program, we shouldn't do the mission, just part of the group.
<img width="1231" alt="Screenshot 2021-11-09 at 19 07 45" src="https://user-images.githu

[2021-11-09 12:13] edwin7 commented on #7147
We are using this tutorial for devtoberfest.

[2021-11-09 12:15] edwin7 commented on #7147
This is not the file. It is just snippet code.

Where can we download the repository?

you miss a part like this:
<img width="631" alt="Screenshot 2021-11-09 at 19 15 07" src="https://user-images.githubusercontent.com/709198/140922550-bea05c9a-a503-4787-866f-d74df4b577c6.png">

[2021-11-09 12:23] edwin7 commented on #7147
It is just a suggestion to add it, as any other tutorials.

believe it or not, It helps a lots. Thank you.

This is another example with prerequisites:
<img width="1026" alt="Screenshot 2021-11-09 at 19 20 28" src="https://user-images.githubusercontent.com/709198/140923231-ca590386-c841-4e65-a8c3-8f8abbb884d7.png">
 https://developers.sap.com/tutorials/appgyver-create-application.html

[2021-11-09 12:54] newtork commented on #7147
These are the complete contents of the java source file. Do I understand you correctly, that you want to "download" a file and/or a repository instead of "viewing" the relevant contents?

Currently there is no repository maintained for the tutorials.

I totally agree with you. We'll try to improve this in the future. But please understand our current efforts are focused on documentation. We haven'

[2021-11-09 13:20] edwin7 commented on #7147
I mean the whole application code, with pom.xml,etc. In the tutorial there is an instruction "Simply run mvn clean install as in the **previous tutorials** to test and build your application."

It is not clear which one is the previous tutorial. Using only this tutorial, we could not run mvn. There is no reference to the previous tutorial mentioned in this tutorial.

[2021-11-09 17:35] newtork commented on #7165
I cannot reproduce the problem. I used archetype
[code]
didn't change the project and successfully ran
[code]

I'm using Java 11:
[code]

I tried different options, e.g. using
[code]
and/or
[code]

But I couldn't reproduce the error message of your post.

If possible please elaborate how you got the error, did you change anything on the source-code?
Kind regards
Alexander

[2021-11-10 03:50] Karunaharan commented on #7150
Hello @ASRHARDING - I checked the scenario and couple of other testers too checked this. We don't see such an issue. Looks like it is working well. Could you please try the scenario again? Please let me know if you need further assistance.

Regards,
Karuna

@MichaelCzcz - please close the issue.

[2021-11-10 07:06] #7150 closed

[2021-11-10 07:31] Juliana-Morais commented on #7167
Hi Farozan,

The screenshot has been updated.

Best regards,
Juliana

[2021-11-10 07:56] MichaelCzcz commented on #7064
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-10 07:56] #7064 closed

[2021-11-10 08:16] git-ashish opened #7176 "Integrate an SAP Fiori App into Your Portal Site – Standalone App Router (Cloud Foundry)"
Hello @IObert,

We have an advance use case of multi-tenancy. Is there a tutorial or demonstration on how to add a Fiori SAPUI5 app to Launchpad Service portal when using the **Standalone app router** in a multi module MTA app?

I have tried following the [Manual Integration Approach](https://help.sap.com/viewer/8c8e1958338140699bd4811b37b82ece/Cloud/en-US/ddb655ae45e44d499f2fa0ce503a46d9.html) as

[2021-11-10 08:39] mounikat987 opened #7177 "Deploy a CAP Business Application to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/cap-service-deploy.html
--------------------------
Step 2: Identify SAP BTP Cloud Foundry endpoint

3.From your subaccount copy the Cloud Foundry Environment API Endpoint value.

**Expected Result :-**

Please change screenshot as we have an extra tab called "Settings" under "Security" Tab.

![image](https://user-images.githubusercontent.com/33411431

[2021-11-10 09:25] artemkovalyov commented on #7147
@edwin7, it's good feedback. We'll consider making tutorials more independent. We also plan to brush up our repository with examples so that we can point at them to avoid confusion. The tutorials were created some time ago and I agree they don't serve the purpose as well as they used to. We've been focusing on our [documentation](https://sap.github.io/cloud-sdk/docs/java/getting-started) in the re

[2021-11-10 09:43] shivakumar-p-sap opened #7178 "Set Up the SAP Launchpad Service"
Tutorials: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html
--------------------------

Step 2: Add yourself to the Launchpad_Admin role

Please change the steps to add Launchpad_Admin role. Because in  Security > Trust Configuration Default Identity provider link is disabled as you can see in the below screenshot.
![image](https://user-images.githubusercontent.com

[2021-11-10 09:45] IObert commented on #7176
Hi @git-ashish,

I am afraid this is the wrong place for that kind of questions as we only use this org for tutorial-related problem. Your question is probably better suited in the SAP Community <answers.sap.com>.

I still want to comment your answers (I'm afraid I don't have a real answer): The approach you used in general is right, for MTX apps, you need to leverage standalone approuters and emb

[2021-11-10 09:45] #7176 closed

[2021-11-10 10:03] slavipande commented on #7145
Hi @jcailan ,

I tested the steps again, but unfortunately, I was not able to reproduce the behavior at your side. Here's what I got in the `app/risks/webapp/manifest.json`:
![2021-11-10_11-51-37](https://user-images.githubusercontent.com/46915717/141091783-dbcd409a-f4bf-419b-a2ed-8ce5c9758b80.png)

Also, the header info is not visible in the UI when creating a new risk:
![2021-11-10_11-52-49](htt

[2021-11-10 10:20] slavipande commented on #7159
Hi @nikegup,

Thanks for your feedback!

These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question is more general since it involves deployment to a production landscape and not documented or suggested app modifications. As such, it would likely get more visibility and a better answer in the SAP Community's [Questions & Answers](https://answers.sap.com/tag

[2021-11-10 10:50] #7159 closed

[2021-11-10 13:16] git-ashish commented on #7176
Thanks for a quick response and sharing your thoughts about the issue, @IObert. Sure, I'll post this as a question on the SAP community forum next.

The strange part is that the `mta.yaml` does not have a portal service instance. Here is the `mta.yaml` for your perusal.
I created an MTA app with standalone router and added a Freestyle UI5 module.

Any thoughts?

Also, is there a tutorial to add a

[2021-11-10 14:30] raz-korn commented on #7136
Due to issues with new releases of coa package, there's a need to manually install the latest valid release (2.0.2):

- Open a terminal
- Go to vue module folder
- Run "npm i coa@2.0.2"
- Run "npm i"

Regards - Raz

[2021-11-10 16:54] jastill opened #7181 "Import a Dataset into SAP Data Warehouse Cloud"
Tutorials: https://developers.sap.com/tutorials/data-warehouse-cloud-5-import-dataset.html
--------------------------

Write here how you think we can improve the tutorial ...

The tutorial refers to a best run bike dataset/csv. Is the dataset available?

Thanks

[2021-11-10 20:07] bask-alur-gh opened #7182 "Discover and Import the Live Process Package"
Tutorials: https://developers.sap.com/tutorials/cp-cf-workflowmanagement-discover.html
--------------------------

Write here how you think we can improve the tutorial ...
The step1 doesn't work. The instruction "Ensure that the credentials of the trial user that are entered in the destination do not have Two Factor Authentication enabled." -- does it mean the UserID (say abc@yahoo.com) the user u

[2021-11-10 20:20] jastill commented on #7181
I see the downloads are in Step 1.

[2021-11-10 20:20] #7181 closed

[2021-11-11 01:33] edwin7 commented on #7147
Thank you @artemkovalyov

[2021-11-11 06:12] aliilkertopcu opened #7183 "Create an ABAP Package - faulty prerequisite link"
Tutorials: https://developers.sap.com/tutorials/abap-dev-create-package.html
--------------------------

Hi,
Prerequisite link is faulty, it navigates to the same site
https://developers.sap.com/tutorials/abap-dev-create-package.html

It must navigate to this I think:
https://developers.sap.com/tutorials/abap-create-project.html

BR
İlker

[2021-11-11 06:33] MarcusSchiffer opened #7184 "Install Jupyter and Run SAP AI API Client SDK on Python"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-clientsdk-setup.html
--------------------------

Hi,

somehow the tutorial did not work for me in the first place, so I deleted the service instance on SAP BTP and created a new ai core service and service key. Without any creation of additional resources I still see the app ( aicore-test-app-m6600) from my old instance when calling
ai_

[2021-11-11 07:23] julieplummer20 commented on #7183
Hi,
Thank you for this.
I will fix this at once.
Best wishes,
Julie Plummer.

[2021-11-11 07:34] LunaticMaestro commented on #7184
Hi @MarcusSchiffer

Please follow this guide to properly opt for Service Offboarding of SAP AI Core.
LINK: https://help.sap.com/viewer/2d6c5984063c40a59eda62f4a9135bee/LATEST/en-US/08303fe594ce48768265235323963283.html

Your concern that, you are able to retain the component of you SAP AI Core is answered in the page (link above).

Regards,
Deepak.

[2021-11-11 09:10] MichaelCzcz commented on #7184
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-11 09:10] #7184 closed

[2021-11-11 09:10] MichaelCzcz commented on #7172
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-11 09:10] #7172 closed

[2021-11-11 09:11] MichaelCzcz commented on #7147
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-11 09:11] #7147 closed

[2021-11-11 09:12] #7136 closed

[2021-11-11 09:12] MichaelCzcz commented on #7115
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-11 09:28] KavithaSiva opened #7185 "[GH] Performance issue due to /oauth/token calls"
https://github.wdf.sap.corp/MA/sdk/issues/6361

[2021-11-11 09:29] #7185 closed

[2021-11-11 12:41] MarcusSchiffer opened #7187 "Create Training and Serving Docker Images (Client SDK)"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-clientsdk-workflows.html
--------------------------

ok. Have deleted tenant and recreated everything.
Now as before I get a different (from the one in tutorial) response from
app_name = "aicore-test-app-m6600"

ai_api_client.rest_client.get(
    path=f"/admin/applications/{app_name}/status"
)

like
{'health_status': 'Healthy',
 'messag

[2021-11-11 13:49] CJSwift opened #7188 "Load Data into Standalone Data Lake in SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-hdl-getting-started-3.html
--------------------------

In Step 2 (the first SQL Code block in Step 2), there's an extra '*/' at the end of line 1. This causes the SQL to not work correctly and must be removed manually after it is copied

[2021-11-11 14:20] phdaucourt commented on #7115
Hi Michael,

I’ve just tried again and unfortunately I’m still stuck with the same problem. My “Common Resources” screen has no tile and get the message “Failed to retrieve all templates We apologize for the inconvenience”.

Could you please reopen the issue?

Thanks.

Ph. Daucourt

From: Michael Czadankiewicz
Sent: November 11, 2021 4:13 AM
To: SAPDocuments/Tutorials
Cc: Philippe Daucourt; Author

[2021-11-11 14:30] alexandra-simeonova commented on #7120
Hi,
Thank you for the comment. We are trying to test the tutorial and find why there may be errors. In the meantime, you can try to install these Luigi examples instead: https://github.com/SAP/luigi/tree/master/core/examples

[2021-11-11 14:35] alexandra-simeonova commented on #7120
Also note that as [step 5 ](https://developers.sap.com/tutorials/luigi-app-basic-setup.html)says, `You may get a warning such as event not found, but this can safely be ignored.` Some messages that show up on the bash/terminal window are warnings instead of errors, which should have no effect on the application. If this is the issue you see, you should be able to proceed with the other steps.

[2021-11-12 05:14] shilpavij commented on #7115
This is a bug with the software and teams are working on it hence closing this issue on the tutorial.

[2021-11-12 06:46] PriyankaShivakumar opened #7190 "Set Up Workflow Management in Cloud Cockpit- Screenshot Update"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-1-setup.html
--------------------------

**Step 2 : Set up your account using Booster**

Here the screenshot of the Workflow Management Launchpad has to be changed. There is a new app-"Configure Workflow Intelligence Scenarios" under Productivity tools group as below:
![image](https://user-images.githubusercontent.c

[2021-11-12 06:50] PriyankaShivakumar opened #7191 "Run the Employee Onboarding Sample Scenario- Screenshot Update"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-5-run.html
--------------------------
**Step 3: View the process visibility workspace
Step 4: Execute the workflow sample application**

In Step 3- Point 1 and Step 4- Point 5, the screenshot of the Workflow Management Launchpad has to be changed. There is a new app-"Configure Workflow Intelligence Scenarios" under

[2021-11-12 06:52] ArchanaShukla commented on #7182
If you are using SAP Universal ID then please follow this SAP Note: https://launchpad.support.sap.com/#/notes/3085908. Check connection in Destination is bit faulty (we have informed the respective team). If you do check connection, and you get a green status which means that you connection is established. Ignore the error code.

[2021-11-12 07:02] #7115 closed

[2021-11-13 11:11] SCHELLK opened #7192 "Set Up Postman Client for SAP AI Core"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-postman-setup.html
--------------------------

In step 4 the service key variable ML_API_URL needs to be changed to AI_API_URL

[2021-11-13 11:37] SCHELLK opened #7193 "Connect GitHub and Docker to SAP AI Core (Postman)"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-postman-repository.html
--------------------------
Step 4: API to connect GitHub SAP AI Core

The response is wrong. As response I receive after creating the repository is :
{
    "message": "Repository has been on-boarded."
}

But maybe there is a difference between canary and production...

[2021-11-13 14:07] rohithch21 opened #7194 "Create a User Interface with CAP (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-ui.html
--------------------------

On running the template for creating a Fiori based freestyle application. Following are the observed difference from the steps provided in the tutorial.

1. The app "interaction_items" are automatically created within app folder.
2. index.html is missing in the webapp folder

![image](https://

[2021-11-13 14:22] jung-thomas commented on #7194
Are you sure that you choose SAPUI5 Freestyle as the application type in the first step of the wizard?
_Choose SAPUI5 freestyle as the application type, select SAP Fiori Worklist Application as the floor plan and press Next_

[2021-11-14 06:42] rohithch21 commented on #7194
Yeah, I selected SAP freestyle app and Worklist as the floor plan.

[2021-11-14 08:03] jung-thomas commented on #7194
Ok - let me run through the tutorial as well later today. There might have been some change to the wizard recently. But this seems like an odd change.  Targeting the /app founder is actually nice but the lack of index.html feels like a step backwards. I might have to check with development.  I'll let you know once I hear back.

[2021-11-14 08:11] rohithch21 commented on #7194
I agree. 😃
Thank you.

[2021-11-14 20:46] JuergenMair opened #7196 "Design and Deploy Your First Integration Flow"
Tutorials: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html
--------------------------
Hello,

I did the tutorial and got an error "Deployment can only be done for a tenant that this application drives. Tenant: 5d1307bctrial is not driven by this application". I did the tutorial twice (including fresh setup of Trial account and Integration Suite Tenant) and always

[2021-11-15 07:03] dantizpal opened #7197 "Create a Simple ABAP CDS View in ADT"
Tutorials: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html
--------------------------
I checked and only found SEPM_DG_OIA report, the other report is missing, even the tasklist has no EMP entry.

stc01
missing in the lasklist SAP_BASIS_EPM_OIA_CONFIG, found only 141 entries.

The only program found related to EPM is RS_EPM_DGC_HANA, the program mentioned SEPM_DG_OIA_NEW doe

[2021-11-15 07:49] Karunaharan commented on #7196
Hi @JuergenMair - as discussed over an email, the team is looking into the issue.

[2021-11-15 08:17] jitendrakansal commented on #7162
@Mark-Simunov  do you not see the line#5 (ValidationFailure.action) get executed in case email value doesn't contain @ ?

[2021-11-15 08:43] julieplummer20 commented on #7197
Hi Dantizpal,
Thanks for that. I will look into it at once.
BR Julie.

[2021-11-15 09:23] LunaticMaestro commented on #7193
@SCHELLK  Thank you for highlighting the mistake. No there is no difference between the response for the API call of canary and production instances.

[2021-11-15 09:52] LunaticMaestro commented on #7187
@MarcusSchiffer Thanks you for reaching out.

### Problem Source
The source for your issue is the app sync status.
SAP AI Core is unable to locate the application (GitHub folder)
[code]

### Solution
1. Create GitHub folder.
 An application (w.r.t. SAP AI Core) is a GitHub folder (except the parent folder), inside GitHub repository.
So ensure your created the required GitHub folder, lets assume yo

[2021-11-15 09:59] LunaticMaestro commented on #7169
Hi Markus,
The issue is discovered caused by incorrect provisioning of the SAP AI Core.
Please refer to the official SAP Guide of SAP AI Core.

Thanks & Regards.

[2021-11-15 12:14] MichaelCzcz commented on #7169
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-15 12:14] #7169 closed

[2021-11-15 12:30] MarcusSchiffer commented on #7187
thanks for the reply.
Creted a new repo with the workflows under aicore-m6600-new/workflows/

![image](https://user-images.githubusercontent.com/5195954/141782171-5380a03f-d257-472d-99b5-b83aa790c61d.png)

Unfortunately the status looks the same as above.
Might that be an issue with the user / password ? Do I need the "$" as leading char in both the password and user ?

[2021-11-15 12:40] MarcusSchiffer commented on #7187
List application API brings
{
    "count": 1,
    "resources": [
        {
            "applicationName": "aicore-m6600",
            "path": "workflows",
            "repositoryUrl": "https://github.com/username/aicore-m6600-new",
            "revision": "HEAD"
        }
    ]
}

[2021-11-15 12:47] LunaticMaestro commented on #7187
@MarcusSchiffer No, leading `$` is not required in the credentials for your GitHub when registering.

Pardo thats a blip on our part to, could you please suggest, any better way of mentioning (in dummy manner) value for username.
Following was what we initially thought of but its not great for conveying the meaning.
[code]

[2021-11-15 12:52] MarcusSchiffer commented on #7187
The examples with real data help a lot, but in the examples for this step the "$" is also included.

Still in the current step the status of my app displays the "unknown" results. What might be wrong ?

[2021-11-15 13:05] LunaticMaestro commented on #7187
I would suggest

1. Wait for 30 mins, see if it auto fixes.
2. Delete all the applications created.
3. Ensure that your connected repository is using correct credentials.
4. Add applications.
5. Call the status of applications.
6. If then also not resolved, then try after an hour or so. (**Another user experienced this and it was resolved for them**)

[2021-11-15 14:35] dhrubpaul commented on #7192
Hi Michael,
Please can you forward any queries or issues of the following groups
https://developers.sap.com/group.ai-core-aiapi-clientsdk-get-started.html
https://developers.sap.com/group.ai-core-aiapi-postman-get-started.html

to  ***@***.******@***.***> during my absence for the next two weeks.

Thanks,
Dhrub
From: Michael Czadankiewicz ***@***.***>
Reply to: SAPDocuments/Tutorials ***@***.***>

[2021-11-15 15:03] LunaticMaestro commented on #7192
@SCHELLK Thank you for notifying, we have made the suggested changes.

[2021-11-16 05:21] ShaileshYadav92 opened #7202 "Create a User Interface with CAP (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-ui.html
--------------------------

When we try to create a SAP Fiori Worklist Application using Fiori: Open Application Generator, it does not create index.html file in webapp folder.

[2021-11-16 06:13] MarcusSchiffer commented on #7187
Checked all the above and still no sucess, same response for the app status. Anything wrong with the tenant ? Should I remove the tenant and start from scratch ?

[2021-11-16 06:37] Karunaharan commented on #7196
Hi @JuergenMair
Kindly provide below details to investigate on this issue further

System ID:
Landscape:
Tenant affected:

[2021-11-16 06:57] JuergenMair commented on #7196
Hello @Karunaharan
please find the infos for my Trial environment below:

Account ID: 02be363c-91bc-4fc4-b20e-7f34ab357207
Tenant ID: 1712c112-3677-4d1b-855c-fd3dc16192c2
Subaccount ID: 1712c112-3677-4d1b-855c-fd3dc16192c2
Cloud Foundry Environment - Org Name: 5d1307bctrial
Cloud Foundry Environment - Org ID: f1c0609b-1803-4567-80ee-b88405debddc
Process Integration Runtime Instance: default_it-rt_

[2021-11-16 06:58] Karunaharan commented on #7196
Additionally can you provide the subdomain name as well, please? this is available in the subaccount overview page.

[2021-11-16 07:19] JuergenMair commented on #7196
Sure - Subdomain: 5d1307bctrial

[2021-11-16 07:34] Karunaharan commented on #7196
Thank you. I'll get back as soon as I have some news.

[2021-11-16 08:04] LunaticMaestro commented on #7187
Yes, remove everything within you SAP AI core instance and start again will resolve the issue. The same resolved the issue for the users facing it.

No action is required on your GitHub repo where the workflow templates are present.

[2021-11-16 08:47] MichaelCzcz commented on #7193
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:47] #7193 closed

[2021-11-16 08:47] MichaelCzcz commented on #7192
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:47] #7192 closed

[2021-11-16 08:47] MichaelCzcz commented on #7187
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:47] #7187 closed

[2021-11-16 08:48] MichaelCzcz commented on #7120
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:48] #7120 closed

[2021-11-16 08:48] MichaelCzcz commented on #7142
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:48] #7142 closed

[2021-11-16 08:48] MichaelCzcz commented on #7114
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:48] #7114 closed

[2021-11-16 08:49] MichaelCzcz commented on #7140
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-11-16 08:49] #7140 closed

[2021-11-16 09:45] jung-thomas commented on #7202
Yes there does appear to have been a change in the wizard very recently. Unfortunately this week I'm 100% consumed supporting SAP TechEd on site in Germany.  I will adjust this tutorial first thing when I return home next week.

[2021-11-16 10:39] VijayKrishnanSR commented on #7188
Hi,

Thank you for letting us know. This error will be corrected soon. Hope the tutorial was helpful.

Regards,
Vijay

[2021-11-16 11:06] JoseCarlosGZ opened #7204 "Create a CAP-Based Application"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-cap-application.html
--------------------------

This is not actually a bug within the code  but a path misspell in the tutorial:

Since the names of the folders inside 'templates' seems to have been changed, where it says "Copy the file schema.cds from templates/cap/create-service/db to the db folder of your app."  it should say   "Co

[2021-11-16 12:49] iwonahahn commented on #7204
Hi @JoseCarlosGZ,

Thank you for your feedback. An update is already prepared and will be published later today. Once the tutorial was updated I will close this issue here.

Best regards,
Iwona

[2021-11-16 16:16] #7204 closed

[2021-11-16 16:17] SAPDocs opened #7210 "Tutorial Page cap-service-deploy.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cap-service-deploy/cap-service-deploy.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/cap-service-deploy/cap-service-deploy.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following tags:
- software-prod

[2021-11-16 22:18] gregorwolf opened #7212 "Prepare for SAP BTP Development"
Tutorials: https://developers.sap.com/tutorials/btp-app-prepare-btp.html
--------------------------

Hi @iwonahahn,

the link in step 4 of the tutorial points to https://controlcenter.ondemand.com and there I end up with this error message:

<img width="605" alt="Screenshot 2021-11-16 at 23 17 44" src="https://user-images.githubusercontent.com/2639535/142075050-4ad53d8e-0ee2-4a49-92d8-7e41da282141

[2021-11-17 07:53] Karunaharan commented on #7196
@JuergenMair - The issue is resolved. You should be able to deploy now.

@MichaelCzcz - please close the issue.

[2021-11-17 09:00] JuergenMair commented on #7196
Ok, just tested it successfully - many thanks for your quick help!

[2021-11-17 09:48] rafaellyrat opened #7213 "Design and Deploy Your First Integration Flow"
Tutorials: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi!
I receive the error below on executing the point two of Step 8: Deploy the integration flow:
Deployment StatusDeployedNavigate to Manage Integration ContentRuntime StatusErrorDeployed Byrafael.lyra@seidor.com.brDeploy

[2021-11-17 13:10] julieplummer20 commented on #7197
Hi dantzipal,
I have just run SEPM_DG_OIA : I get 100 000 sales oreders (149,05 s).

What happens when you do this?
What messages / error messages do you get?
If you get the same result as me, I will clarify the text accordingly.
Thanks Julie.

![Snag_168d346](https://user-images.githubusercontent.com/22739917/142206896-e9603482-42c6-4c62-b555-b9cf56ebb27a.png)
![Snag_168bc05](https://user-images.

[2021-11-17 20:34] axeladam opened #7216 "Add Routing to a UI5 Web Components for React Project"
Tutorials: https://developers.sap.com/tutorials/ui5-webcomponents-react-routing.html
--------------------------

Write here how you think we can improve the tutorial ...

https://stackoverflow.com/questions/69854011/matched-leaf-route-at-location-does-not-have-an-element
In V6, you can't use the component prop anymore. It was replaced in favor of element:
`<Route path="/" element={<Home />}></Rout

[2021-11-18 08:03] dantizpal commented on #7197
This view "sepm_sddl_so_invoice_item" does not exists, the tasklist "SAP_BASIS_EPM_OIA_CONFIG" does not exist. We can't complete this excercise as the Docker image is not complete.
store/saplabs/abaptrial:1909

This is the only program found "SEPM_DG_OIA" but it does not create the CDS View  "sepm_sddl_so_invoice_item".
Should we work with another docker Image??

[2021-11-18 08:37] MarcusSchiffer commented on #7187
Have created everthing new from scratch , New tenant, new service etc.
After that I followed the tutorial once again and when calling the
app_json = setup_json["app"]
response = ai_api_client.rest_client.post(
		path="/admin/applications",#
		body={
				"applicationName": app_json["applicationName"],
				"repositoryUrl": app_json["repositoryUrl"],
				"revision": app_json["revision"],
				"path":

[2021-11-18 08:39] MarcusSchiffer opened #7217 "Connect GitHub and Docker to SAP AI Core (Client SDK)"
Tutorials: https://developers.sap.com/tutorials/ai-core-aiapi-clientsdk-repository.html
--------------------------

Hi,
I Have created everthing new from scratch , New tenant, new service etc.
After that I followed the tutorial once again and when calling the
app_json = setup_json["app"]
response = ai_api_client.rest_client.post(
path="/admin/applications",#
body={
"applicationName": app_json["app

[2021-11-18 08:40] LunaticMaestro commented on #7129
@kannankumar Thank you for pointing out, we have fixed the same in the latest push.

[2021-11-18 08:43] Lukas742 commented on #7216
Hello @axeladam

thanks for pointing this out! I have opened a [PR](https://github.com/SAPDocuments/Tutorials/pull/7218) that will fix this. It seems that this was overlooked during the last refactoring of the tutorial.

[2021-11-18 08:44] LunaticMaestro commented on #7187
@MarcusSchiffer Hi Marcus, can we reach out to you over ms teams, regarding the same issue ?

[2021-11-18 08:59] MarcusSchiffer commented on #7187
Sure, I would very much appreciate this. I am available now . If you schedule a meeting, we can check.

Mit freundlichen Grüßen - Yours sincerely
Dr. Marcus Schiffer
Digital Labs
IT
Telefon +49 2365 49-2723
Mobil +49 151-12025340
***@***.***

Evonik Industries AG
Paul-Baumann-Straße 1
45772 Marl
www.evonik.de<http://www.evonik.de/>

Aufsichtsrat​
Bernd Tönjes, Vorsitzender
Vorstand​
Christian Kull

[2021-11-18 09:58] iwonahahn commented on #7212
Hi @gregorwolf,

For me, the link is working. Could you please check again and get back to me here?

Thank you and best regards,
Iwona

[2021-11-18 10:05] CJSwift opened #7220 "Get Started to Collaborate in SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-collaborative-database-development-1.html
--------------------------

Step 6 "SQL" is included at the start of the command, but to my knowledge is not needed for use, or for the question at the end of the tutorial

[2021-11-18 10:06] iwonahahn commented on #7210
Already fixed two days ago, see [commit](https://github.com/SAPDocuments/Tutorials/pull/7211/files).

[2021-11-18 10:28] SMG1985 opened #7221 "Subscribe to the Low-Code / No-Code Service in SAP BTP"
Tutorials: https://developers.sap.com/tutorials/appgyver-subscribe-service.html
--------------------------

Hi, experts I have tried to find Low-code services in booster as well as service market place in my free BTP account swetagohil@gmail.com but it does not exists. Does it not available with Free Trial? Please guide.

[2021-11-18 10:36] Karunaharan commented on #7213
Hi @rafaellyrat
The deployment process is unable to create an endpoint because an endpoint already exists with the same Address used in the HTTP sender adapter. I guess you have another iflow in your tenant using the same Address (/products/details). If so, you won't be able to deploy since there will be a conflict in the endpoints. Please remove one of the iflows or change the Address in the othe

[2021-11-18 16:24] heytombeck commented on #7221
Hi @SMG1985 - this service is only available with an active SAP BTP EU10 account with entitlements, as noted in the prerequisites:

- Access to an SAP BTP account in EU10 with Low-Code / No-Code entitlements

While this means that you can't complete the mission with a free account, you can still create applications (and follow most of the tutorials) by signing up for free at www.appgyver.com. The

[2021-11-18 17:56] SMG1985 commented on #7221
Thank you for your quick response and guidance.

On Thu 18 Nov, 2021, 21:54 Tom Beck, ***@***.***> wrote:

[2021-11-18 20:29] #7129 closed

[2021-11-18 22:41] ERibe3 opened #7224 "Basic Data Modeling with a Graphical View"
Group: https://developers.sap.com/group.data-warehouse-cloud-data-modeling.html
--------------------------

Write here how you think we can improve the tutorial ...

I would like to be able to download the same .csv tables that are being used in the tutorial so I can use them to perform the exercises.

Is there any way that you can send me these files or make them available in the tutorial just li

[2021-11-18 22:53] fleischr commented on #7120
Hi - I was able to run the commands by running each line separately. The commands ran ok - however I'm not sure they executed properly. When I get to step 7 and run npm run buildConfig I get the following error
![luigierror](https://user-images.githubusercontent.com/5488489/142509513-10dc8869-eae9-4233-ba4c-6175f164c230.PNG)

When I run node -v : v14.15.4