[2019-01-29 18:11] #3002 closed

[2019-01-30 08:01] qmacro commented on #2801
@jarjarbentley can you please deal here - I've checked out the tutorial and the group it is in (https://developers.sap.com/group.mobile-app-2.html) which refers to (as an implicit and hard prerequisite) "mobile group 1" which I'm guessing is https://developers.sap.com/group.mobile-app-1.html (and @thecodester concurs with that guess). This prerequisite group contains a tutorial that gets the reade

[2019-01-30 10:29] sybitdst opened #3006 "Get Started with SAP UI Development / Create App from Prototype with SAP Web IDE / Change from mock server to live OData service"
Getting to step 8/9:
When opening the Detail Controller there are 2 errors at line 14+15. Also the validation of the initialization function is not working.

Running the Web Service is also looking different than the screenshots in the tutorial. The attached File is the screen that appears after running the Project as Web Service. And clicking on Inventory Dashboard leads to an error saying that "

[2019-01-30 11:35] cocopapagal commented on #2471
Hi JCurrie27.

Would be just great if we would have the new HANA XSA version on Docker.

Mr. T. Jung & R. Heilman are using the new version.

[Software Development on SAP HANA (Update Q1/2019) ](https://open.sap.com/courses/hana7/items/4ihHIejDyVbdyLJbF055gQ)

Thank you very much

[2019-01-30 13:21] mpw96 opened #3009 "How to write a simple go application that queries HANA, express edition. pyhdb?"
Tutorial URL: https://developers.sap.com/tutorials/hxe-golang-http.html

Hi application.go, line 69 talks about pyhdb driver? This cannot be right, can it?

T&R
Marc-Philip

[2019-01-30 16:38] agl-phenr opened #3010 "Create Your First ABAP Console Application"
Hello,

I am sticking to this link in order to hands on ABAP Cloud:
https://developers.sap.com/tutorials/abap-environment-console-application.html

I was not succeeded as it´s asking for service key in JSON format.
May I know where to get this file?

Besides this, I was wondering if ABAP cloud environment is already live? If not, may I know when it is planned to?

We just bought SCP Neo environmen

[2019-01-30 17:06] Kiemes commented on #2999
Wrong Download Manager.
IMDB Client: https://launchpad.support.sap.com/#/softwarecenter/search/imdb%2520client
SAPCAR: https://launchpad.support.sap.com/#/softwarecenter/search/sapcar

Also note the versions and platforms for each tool.

[2019-01-30 17:06] #2999 closed

[2019-01-30 18:01] CESolomon opened #3011 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/pre-teched-2018-build-import.html

There are actually THREE tutorials that are all the same topic:

1.Import your SAP Build project into SAP Web IDE (https://developers.sap.com/tutorials/build-import-webide.html) 9/20/18
2. Import your TechEd BUILD project into SAP Web IDE ( https://developers.sap.com/tutorials/pre-teched-2018-build-import.html )

[2019-01-31 09:06] mervey45 commented on #3010
Hi @agl-phenr,

you can also make you of the other way around. We can't make the service key in JSON public, because you need to copy it from your SAP Cloud Platform Cockpit. But you can make use by clicking on SAP Cloud Platform Cloud Foundry Environment. Yes, SAP Cloud Platform ABAP environment is live. But you need to buy it.

![image](https://user-images.githubusercontent.com/27953324/52043258

[2019-01-31 09:13] pushkargd opened #3016 "Topic Detection example with Java"
Tutorial URL: https://developers.sap.com/tutorials/ml-fs-java-topic-detection.html

Hello
There is bug in the code, irrespective of the value of number of keywords or number of topics to be detected , default values over write the values provided by user.
the reason for this is the below code snippets where all the while loops have 2 **!!** instead of **!** , kindly replace them with only one **!*

[2019-01-31 09:38] agl-phenr commented on #3010
Hi @mervey45,

Such a great pleasure talk to you :)

I have managed go through the credentials but now it´s asking Organization. I do not see my Organization but trial account only.
![image](https://user-images.githubusercontent.com/42214365/52043929-c5e49900-2538-11e9-8973-1b2f2b672f6d.png)
So, I am not sure if I have managed it as my trial account or my company´s SCP has something missing.

Anyw

[2019-01-31 10:05] mervey45 commented on #3010
Hi @agl-phenr ,

you're welcome. You need to have our new offering, the SAP Cloud Platform, ABAP environment, which is currently in the Cloud Foundry environment. Otherwise it won't work. We offer trial versions only in Code Jams and Events. But we're working on that topic.

Best regards,
Merve

[2019-01-31 10:50] agl-phenr commented on #3010
Hi @mervey45,

Got it.
Indeed I have managed to raise a CF sub account. See below:

![image](https://user-images.githubusercontent.com/42214365/52048708-f67e0000-2543-11e9-884c-0e0c2e18da3d.png)

Back to the Eclipse, I went through all the way up to instance. See below:

![image](https://user-images.githubusercontent.com/42214365/52048810-2cbb7f80-2544-11e9-8fed-d7a988f4823c.png)

On the SCP, I go

[2019-01-31 17:59] CESolomon commented on #3011
FYI, I had used....

https://account.hanatrial.ondemand.com/cockpit/#/acc/(my account name)/service/build/overview

.....which now doesn't even work in #1 anymore (unless it doesn't validate again when you were correct....wish it would show "old" correct answer to compare).

[2019-01-31 18:31] NewFolk commented on #3003
Hi songtui01,

It is a lot of log file there.
What i should look at first? What is the main for XSA?

[2019-01-31 21:56] hdix01 opened #3022 "Maintain a Communication Arrangement for an Exposed Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Please specify the step you are referring to

Step 9: Select scenario
Select your scenario and click on Create

It's not clear where the scenario is createt, I can only pick up an existing scenario

[2019-02-01 00:37] songrui01 commented on #3003
You could check there files first.
hxeadm@hxehost:/usr/sap/HXE/HDB90/hxehost/trace> ls *xsc*
hdbxscontroller_audit_0.log  xscontroller.out  xscontroller.out.20190130061158  xscontroller_0.log

[2019-02-01 10:04] cocopapagal opened #3024 "Create a Business Service with Node.js using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

How can we debug srv/cat-service.js ?

Thank you

[2019-02-01 16:58] andkopp opened #3025 "abap-environment-transactional-enablement: edit fails"
Hello!

I completed the tutorial **abap-environment-transactional-enablement**. In the Fiori Elements preview, I can add and delete bookings (changes are written to the database table) but I am not able to edit an entity. I get the following error message: Precondition failed for entity CDS~ZI_BOOKING_xxx with key 1

Any ideas?

Best regards
Andreas

[2019-02-01 18:20] lambavikas opened #3026 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

In the step 1 I encountered the error that was mentioned by you and the fix works. But there is no explanation provided fro what is the meaning of this error, why it occurred and how does the fix resolve it.

I would really appreciate if you can provide some details around this too?

[2019-02-02 17:13] Funkmyster opened #3027 "Import GDELT Data in Amazon Athena"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aws-athena-02.html

For "Step 2: Create the database objects"
The expected answer is 40, but the query "select count(distinct year) from gdelt_athena.events" returns 41.

![screenshot](https://user-images.githubusercontent.com/401350/52167112-40055100-26e4-11e9-96c3-fa7d1895469a.jpg)

[2019-02-03 05:58] vinita-k commented on #2894
HI There
Thanks a lot for your response
It has not been resolved and is quote frustrating
I have tried to use the NAT settings as well as bridge but still unable to run Webide or any of the tests mentioned in the link as successful
Issue 1: hxehost:53075 does not run still

![image](https://user-images.githubusercontent.com/23621930/52173237-547d4280-27e5-11e9-9994-51db76c66261.png)

Issue 2 VM ke

[2019-02-03 10:24] stuif opened #3028 "Create a Calculation View with K-anonymity (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-calculation-views-anonymization-k.html

Step 2.
Right-click Workspace and choose New > Project from template.

Wrong picture is showing

[2019-02-03 18:54] brighida opened #3030 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html

First of all:  I am a new adept of the fantastic world of HANA.

I'm following some tutorials trying to understand the various development tools.
In this tutorial I came across an error that I can not overcome.

I followed all the steps up to the eighth; at this point when I try to activate the DB m

[2019-02-04 07:19] anubhavnandan opened #3031 "Continue Your OData Exploration with EPM"
Tutorial URL: https://developers.sap.com/tutorials/odata-02-exploration-epm.html

Please specify the step you are referring to
**Issue:**
I have changed my password as suggested in the tutorial.

While accessing the service https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV

Credentials are required Username/Password.
I am using my Credentials but unable to login.

**Solution

[2019-02-04 08:04] mervey45 commented on #3022
Hi @niloofar-naseri,

can you have a look at it?
Thank you.

Best regards,
Merve

[2019-02-04 08:14] niloofar-naseri commented on #3022
Hi @hdix01
This Scenario is the same communication Scenario which you created in the step 9 of this tutorial,
https://developers.sap.com/tutorials/abap-environment-business-service-provisioning.html
If you do all tutorials in the right sequence, it will be clear what scenario is meant.
But I can make it specific and adress the other tutorial in this step.

[2019-02-04 08:35] qmacro commented on #3031
I have seen this issue before, there seems definitely something amiss with the authentication configuration in ES5. I have also seen folks experience this in the Developer Garage at TechEd. @jonathanbaker7 can you please take a look? Thanks.

[2019-02-04 08:48] adadouche commented on #3027
Hi @Funkmyster,

Thanks for raising this issue, I'll update the validation rule right away.

The S3 bucket file in use as a datasource keep growing which explains why the the result (40) is not correct anymore since Jan 1st.

I'll see how I can limit the loaded data to a smaller amount to both speed up the queries and avoid this issue in the future.

Thanks

[2019-02-04 09:41] adadouche commented on #3027
In the end I decided to replace the existing validation to avoid this issue in the future. For more details please check [commit](https://github.com/SAPDocuments/Tutorials/commit/cb3bbfd62f1e94427001ed7b01acea13de670e92)

[2019-02-04 09:41] #3027 closed

[2019-02-04 13:01] MarkusRichterWerth opened #3034 "Getting Started with the SAP Web IDE Full-Stack Version (Trial)"
Tutorial URL: https://developers.sap.com/tutorials/webide-innovation-beta.html

This tutorial does not really describes the steps for cloud foundry ;-( The link to the help pages of SAP is not really helping if the WebIDE is not picking up destionations that are already configured on the cloud foundry side. Hence, something is missing in the description ...

[2019-02-04 13:48] jhornik commented on #3034
Hi Markus,

I am looking into this issue this week. Thanks for bringing it to our attention.

Regards,
Julia

[2019-02-04 14:32] Lsubatin commented on #3030
Hi,

Please search the community for technical answers (answers.sap.com). You will find this error is quite frequent and happens if you have created the user-provided service pointing to a different database.

If you mapped the tenant database (HXE) to your developer space, you need to stick to the HXE tenant (and not SYSTEMDB). Otherwise, the default for the development space is SYSTEMDB.

The po

[2019-02-04 14:32] #3030 closed

[2019-02-04 14:52] mervey45 commented on #3025
Hi @andkopp,

please try it again. It should work. I've tested this tutorial again. Please be careful with every step.
I could change 1 object and save it.

Best regards,
Merve

[2019-02-04 18:38] CESolomon commented on #3011
I figured it out....and it is quite "crazy".....so using Firefox (if it matters), my URL to the service appears as ....

https://account.hanatrial.ondemand.com/cockpit/#/acc/(my account name)/service/build/overview

This ALWAYS failed the validation. However, I checked some "old" BUILD videos on YouTube and noticed something different......if I removed the "/" after "cockpit" and before the hash/p

[2019-02-04 20:51] Lsubatin commented on #3028
Thanks for that, Henry. It's fixed now.

[2019-02-04 20:51] #3028 closed

[2019-02-04 22:12] Lsubatin commented on #2980
Hi, thanks for the suggestion. I'll add it to the backlog but can't promise anything right now.

[2019-02-04 22:12] #2980 closed

[2019-02-05 16:12] Lsubatin commented on #2457
Sorry about the delay for this. The recommended channel for support is answers.sap.com.

Hopefully you have found how to activate Suse by now. You can also get HXE running on openSUSE or Ubuntu.

[2019-02-05 16:12] #2457 closed

[2019-02-06 12:20] lmtisme opened #3039 "Images are not displaying in tutorials"
Tutorial URL: https://developers.sap.com/tutorials/xsa-e2e-sapphire-analytics.html

Also when people respond with pictures you can not see those either.

[2019-02-06 13:27] lmtisme opened #3040 "An Open Data Protocol (OData) primer for developers"
Tutorial URL: https://developers.sap.com/tutorials/hcp-webide-odata-primer.html

I went through this tutorial but the percentage taken never changed from 0%.

[2019-02-06 21:34] chinhnguyen8855 opened #3041 "Installing SAP HANA, express edition Server + Apps, with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html

Per instruction, I tried to pull the docker image using below command, but the image is not available.
![image](https://user-images.githubusercontent.com/3290297/52375129-c509a680-2a13-11e9-8f72-64b4aa0469d5.png)

When I go to docker store, the docker image is still referenced to an older version (33)

![image

[2019-02-06 21:41] Lsubatin commented on #3039
Hi, Lana,

I can see the pictures so there may be a refresh problem.  What do you mean by "when people respond with pictures"?

I would also recommend you check the full version of this tutorial:
https://developers.sap.com/tutorials/xsa-calculation-views-anonymization-k.html

The one you are looking at depends on importing a file that you will not find in that format.

Best,

Lucia.

[2019-02-06 22:00] lmtisme commented on #3039
Could have been a refresh issue.    I checked about 10 tutorials and could not see any images.
I went to blogs and could not see images in their responses (sorry that was NOT clear).
Thanks for the link. 
Lana
    On Wednesday, February 6, 2019, 4:41:05 PM EST, Lucia Subatin <notifications@github.com> wrote:

Hi, Lana,

I can see the pictures so there may be a refresh problem. What do you mean by

[2019-02-07 05:58] thecodester commented on #3039
I will check the image issue.

@lmtisme If the other issues are resolved, please close the issue.

[2019-02-07 09:03] cdeil commented on #3039
I also noticed that the images don't load.
For https://developers.sap.com/tutorials/hcp-create-trial-account.html I see this in Chrome:

![screenshot 2019-02-07 at 10 02 11](https://user-images.githubusercontent.com/852409/52400478-87faee00-2abf-11e9-959d-7fd8b996db66.png)

[2019-02-07 09:18] cdeil opened #3044 "Get a Free Trial Account on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-trial-account.html

Step 6 "Validate URL" doesn't work for me:
https://account.hanatrial.ondemand.com/cockpit/#/acc/p2001104178trial/accountdashboard

![screenshot 2019-02-07 at 10 14 45](https://user-images.githubusercontent.com/852409/52401284-98ac6380-2ac1-11e9-944f-9e24164317cf.png)

[2019-02-07 09:20] cdeil commented on #3044
Also at step 1 it said "If you have an account on www.sap.com (e.g. an S, C, D or I number)"

I got a P number, which apparently can be used as well.

Looks like steps 1 & 6 in this tutorial need to be updated to accomodate P ID numbers also?

[2019-02-07 09:25] thecodester commented on #3039
I see the images now. Do you?

[2019-02-07 09:27] cdeil commented on #3039
Now I also see the images. Thank you for fixing the issue!

[2019-02-07 09:42] cdeil opened #3045 "Take a Tour of the SAP Cloud Platform Cockpit"
Tutorial URL: https://developers.sap.com/tutorials/cp-tour-cockpit.html

Step 5 currently says "Go ahead a click on Security, and then Roles to get to the Roles page for the application." and shows a screenshot with a "roles" page.

I only see "Trust", the "Roles" doesn't exist.
Maybe it has been renamed / changed a bit?

<img width="248" alt="screenshot 2019-02-07 at 10 36 21" src="https://user-i

[2019-02-07 09:51] Sygyzmundovych opened #3046 "Connect to SAP HANA, express edition using Python"
Tutorial URL: https://developers.sap.com/tutorials/hxe-python-connection.html

Please specify the step you are referring to: In "How-to details" the link in "For more details about the Python driver SAP HANA, please refer to the online documentation." is to HANA 2.0.02 help which still contains an error in one connection string example.

I suggest to relink to 2.0.03 (or "latest") doc: https://hel

[2019-02-07 10:24] thecodester commented on #3046
@adadouche I saw you did some work on this one. If someone else is the owner, let me know.

[2019-02-07 10:53] lmtisme commented on #3039
I can not see the images. I deleted my cache.  Same page.. same error as before.  Is it perhaps because the tutorial was meant for Sapphire?
![image](https://user-images.githubusercontent.com/40838326/52406721-63414f00-2a9c-11e9-8342-1650babfb95c.png)

[2019-02-07 11:08] cdeil commented on #3039
Another page that still has this issue: https://developers.sap.com/tutorials/cp-cf-fundamentals.html

[2019-02-07 11:12] thecodester commented on #3039
Working on it ...

[2019-02-07 13:04] lmtisme commented on #3039
Spoke to a developer here that said this is likely a server issue where it is overcapacity.  He said it happened at TechEd.

[2019-02-07 13:27] cdeil opened #3048 "Explore and Customize Your SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-customize.html

Step 8 says "To add features to your SAP Web IDE, click Features under Workspace Preferences."

Looks like "features" was renamed to "extensions" -> tutorial should be updated:

<img width="296" alt="screenshot 2019-02-07 at 14 26 36" src="https://user-images.githubusercontent.com/852409/52414372-6829f100-2ae4-11e9-9ebc-be8f

[2019-02-07 20:19] KevinMuessig commented on #2908
Hi @mahabaleshwarhnr,

I am in the middle of updating them but it will take a little bit. I will prioritize the tutorial you were trying to do.

Thank you

[2019-02-08 09:35] f4abap opened #3051 "Create a Global ABAP Class"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-new-class.html

Please specify the step you are referring to
The validation is to tricky. It's not possible to get a validation of the code easy. That will frustrate people while doing it.

[2019-02-08 11:41] 7ashiorkor7 opened #3053 "Create an ABAP Project in Eclipse"
Tutorial URL: https://developers.sap.com/tutorials/abap-create-project.html

Please specify the step you are referring to

ABAP communication layer is not configured properly. This might be caused by missing Microsoft Runtime DLLs VS2010. Consult the installation guide or download page for further details on how to install this component.
Native library sapjco3 is too old. Found library C:\Program

[2019-02-08 12:31] gepparta opened #3054 "Use the Face Detection API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-img-face-detection.html

Please specify the step you are referring to:
 "Here is a simple HTML code you can use to visualize other results"

My improvement suggestion:
Would be nice if you highlight the places in example html code for using with an own picture.
Was a little bit tricky as a abap developer to find out that for example th

[2019-02-08 12:57] cocopapagal commented on #3024
Sorry for my question. I didn't attached the node debugger to the correct process id. Please close this topic!

Thank you

[2019-02-08 12:57] #3024 closed

[2019-02-08 13:15] martin-moser opened #3055 "Create a Business Service with Node.js using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Please specify the step you are referring to: Prerequisites
Please add that cds version ^3.5.x must be installed.  If an npm install does not do the trick, the issue might be in the package.json file.  (Reference to wrong CDS version.)  If that still does not fix it (npm install does not install the latest versio

[2019-02-08 13:41] tricktresor opened #3056 "Use the Similarity Scoring with the Text Feature Extraction API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-similarity-text.html

Please specify the step you are referring to

Field Name | Value
-- | --
HTTP Method | POST
URL | https://mlftrial--doc-feats.cfapps.eu10.hana.ondemand.com/api/v2alpha1/text/feature-extraction

URL has one "-" to much...

Cheers
Enno

[2019-02-08 14:45] johanngoltz commented on #2911
I found a [solution](https://answers.sap.com/questions/737207/get-request-to-completed-with-status-500-jwt-token.html) that works for me. Maybe try that one.

[2019-02-08 14:58] adadouche commented on #3056
Thanks for your feedback.

It's now fixed in https://github.com/SAPDocuments/Tutorials/commit/0181a14ab20e42618e3dbf7116057b02422506a5

[2019-02-08 14:58] #3056 closed

[2019-02-08 16:25] xanderrijken opened #3057 "Configure the SAP HANA R integration with SAP HANA, express edition"
Tutorial URL: https://developers.sap.com/tutorials/mlb-hxe-setup-r.html

Could you pls help regarding step 3?
How to get the SAPJVM on suse in VirtualBox?
I tried to use curl, but no succes.... :(

Or is this on the localhost?

Hoping to hear from you soon.

Kind regards

Xander

[2019-02-08 19:53] valdirmendesgt opened #3058 "Add Basic Logging to Your Node.js App"
Tutorial URL: https://developers.sap.com/tutorials/cp-node-app-logging.html

Please specify the step you are referring to:
Step 5: Stream application logs

The application name on cf command is incorrect.

[2019-02-10 09:35] jhornik commented on #3048
Hi Christoph @cdeil

Thanks so much for bringing this to our attention. We have indeed recently changed "features" to "extensions" and sorry for any inconvenience that we somehow missed updating this tutorial.

The updates have now been made.

Thanks and regards,
Julia

[2019-02-10 10:28] jasmikou opened #3061 "Consume the API Proxy in SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/hcp-apim-webide-int.html
i got this error when i a choose the service.

Thank you very much
![sap_web_ide](https://user-images.githubusercontent.com/34094577/52532521-f68db500-2d26-11e9-86ba-2730af89d085.PNG)

[2019-02-10 10:44] thecodester commented on #3048
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-10 10:44] #3048 closed

[2019-02-11 12:21] the1bit opened #3065 "Installing SAP HANA, express edition with Docker - ERROR: Insufficient permissions on /hana/mounts. Required permissions: rwx"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

I have an issue at Step 8: Start SAP HANA, express edition Container, when I execute the command:

[code]
Error message: **ERROR: Insufficient permissions on /hana/mounts. Required permissions: rwx**
[code]

Tryings, which don'4 work:

- I tried execute command in name of root
- I tried execute command in name of

[2019-02-11 13:15] valdirmendesgt commented on #3058
Thank you so much! It is fixed!

[2019-02-11 13:15] #3058 closed

[2019-02-11 14:06] Apfohlmann commented on #3026
Hi @lambavikas,

thank you for asking the question.
This error is caused by a mismatch of an old HANA instances provided on CF trial and the static templates that generate version references to newer HANA versions.

Best regards,
André

[2019-02-11 15:02] jdubey opened #3069 "Add Map Support to the App - Part 2"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-scpms-teched18-08.html

Please specify the step you are referring to

Step 4: Add a FUIMapDetailPanel to show more details about the tracked package

The setupDetailPanel() method should have detailPanel.isSearchEnabled = false.  Otherwise the search panel is displayed

[2019-02-11 20:10] eliasmsiqueira opened #3070 "Internet of Things (IoT) made easy"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-9.html

Step 2 - Trial SCP does not offer IOT services anymore

[2019-02-12 09:06] f4abap opened #3072 "Create a CDS view (ABAP)"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html

All steps do not have the button "Done" below. That lead to that the group says that I stay at 50%

[2019-02-12 09:29] julieplummer20 commented on #3072
Hi Florian,
I have not yet added validation to this tutorial. It needs a thorough overhaul.
The tutorials that should be up-to-date are all in the mission: https://developers.sap.com/mission.abap-dev-get-started.html .
I cannot add validation to the other group at the moment, since I have a deadline for ADT 3.0 / ABAPPaaS 1902.
Do you want me to quickly add DONE statements? Does it make sense with

[2019-02-12 10:37] BaerbelW commented on #3039
It seems to be an "on-off" type of issue with images sometimes getting displayed and sometimes not. Sometimes, some of the images in a tutorial load but which ones changes when the page gets refreshed or is accessed again.

Just moments ago and using Firefox, this URL didn't show any images for me:
https://developers.sap.com/tutorials/abap-dev-adt-create-new-structure.html

When I hit <ENTER> with

[2019-02-12 12:09] haanto opened #3073 "Get a Free Trial Account on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-trial-account.html

Please specify the step you are referring to :
Step 6: Validate the SAP Cloud Platform cockpit URL

When I past the URL in the box I get the error "sorry that s incorrect. try again". please refer to the attached image
![desk_1](https://user-images.githubusercontent.com/47561735/52634371-5622c680-2ec7-11e9-9167-b8b37

[2019-02-12 13:48] russmartin304 opened #3074 "Get a Free Trial Account on SAP Cloud Platform"
Step 6:
 Unable to validate URL. Just gives me an error stating sorry, that is incorrect.

[2019-02-12 14:24] thecodester commented on #3070
@maxstreifeneder Can you check if this tutorial is still valid. It could be we recently removed the 2016 teched mission but not the individual tutorials. I can check.

[2019-02-12 14:53] TerryNing commented on #3065
Try to change:

-v /data/saphana:/hana/mounts --passwords-url file://data/masterpwd.json
==>
-v /data/saphana:/hana/mounts --passwords-url file:///hana/mounts/masterpwd.json

[2019-02-12 16:17] andkopp commented on #3025
I am sorry but I cannot try again because I have lost access to the trial instance. Thank you for checking.
Best regards
Andreas

[2019-02-12 16:17] #3025 closed

[2019-02-12 17:36] aplata-sap commented on #2990
This has been updated. @JCurrie27

[2019-02-12 17:37] aplata-sap commented on #3041
This has been corrected. @JCurrie27

[2019-02-12 17:58] #2990 closed

[2019-02-12 17:58] #3041 closed

[2019-02-12 19:40] f4abap commented on #3072
It does make sense also without. No problem if this will take a while. Just wanted to put attention on it.
IF you need help and I can do it in a proper way, let me know.
BTW: The tutorials are awesome. I love it and it makes it so much easier to onboard people.
Best Florian

[2019-02-12 19:49] f4abap commented on #3053
How do this refer to the tutorial? Looks like it's a problem on your computer...

[2019-02-13 01:58] equilibrium999 opened #3077 "Connect to Microsoft Graph"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-connect-graph.html

Please specify the step you are referring to:
I've done the tutorial and it's successful.
However, I have a scenario: the UI5 application is running via a launchpad, not a standalone application.
Can anyone please show me how to configure the redirect url in App Registration since it doesn't allow a long url or

[2019-02-13 06:31] thecodester commented on #3039
We are working on a solution to fix this intermittent problem. I see the images have reloaded -- yes, there is some reloading of images into cache that takes time. For now, I am closing this issue. If you still have the issue, let us know.

[2019-02-13 06:31] #3039 closed

[2019-02-13 08:19] the1bit commented on #3065
Hi,

Thank you for your response.
I made the changes but the result is same:
[code]

Command:
[code]

Do you have any other idea?

Thank again.

[2019-02-13 08:44] TerryNing commented on #3065
@the1bit

file://hana/mounts/masterpwd.json
==>
file:///hana/mounts/masterpwd.json

(file:///, 3 '/' , you could consider it as file:// + /hana/mounts/masterpwd.json )

[2019-02-13 09:16] lin1161 opened #3078 "How to tune Hana according to the machine hardware configuration"
When installing Hana on a machine, how to config hana according to the machine hardware configuration?

Such as how many memory/cpu can Hana use, or how many memory/cpu can XSA/optional components use?

Example: if there are two machines, one has 128GB memory and another has 256GB memory. How can we tune the Hana parameter to get better performance according to the machine physical memory size?

[2019-02-13 09:26] lin1161 opened #3079 "HANA One Console cannot get instance status"
According to the https://s3.amazonaws.com/hanaone-documentation/Rev+122.60.0/Getting+started+guide.pdf, after created Hana One instance from AWS, we need to Log on to the SAP HANA One Portal Console to configure Hana One, wait till Initial HANA settings are updated then I can see the instance status from the HANA One Console. These steps worked a few months ago! But for the Hana One instances I cr

[2019-02-13 09:32] thecodester commented on #3074
@russmartin304 Can you try again? The URL should end with something like

`.../<yourID>/accountdashboard`

[2019-02-13 09:32] thecodester commented on #3073
Sorry for the problem. Can you try again?

[2019-02-13 09:33] thecodester commented on #3044
Sorry for the issue. Can you try again?

[2019-02-13 09:37] thecodester commented on #3078
What tutorial does this relate to?

[2019-02-13 09:38] thecodester commented on #3079
What tutorial does this relate to?

[2019-02-13 09:55] the1bit commented on #3065
Great. I executed the fixed script and the result is same:
[code]

[2019-02-13 10:07] 7ashiorkor7 commented on #3053
yes i realized. please how do i fix it. i need help

[2019-02-13 12:36] BaerbelW opened #3080 "Create a Global ABAP Class"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-new-class.html

Please specify the step you are referring to
 Step 4: Instantiate the class
"Still in your program, create an instance of class zcl_invoice_retrieval using the new operator"

Step 2 included this instruction:
"In the run method, create a local variable of the type zcl_invoice_retrieval:data: invoices type ref to zcl

[2019-02-13 12:47] TerryNing commented on #3065
maybe redundant check, could you execute
    ls -l  /data
    ls -l  /data/saphana

Also the tutorial link mentioned two related operations, I assume you also tried before trying 777
    sudo chmod 600 /data/<directory_name>/<file_name>.json
    sudo chown 12000:79 /data/<directory_name>/<file_name>.json

[2019-02-13 13:02] BaerbelW commented on #3080
In Step 7 of the same tutorial ("Step 7: Format your code") the hint "If you want to specify your formatting settings, you can do this in the project’s properties. Right-click on the Project in the Project Explorer and choose Properties." appears twice.

P.S.: not having used Github before is it okay to just add more suggested tweaks to the same issue as I did just now or should each go into a sep

[2019-02-13 13:14] the1bit commented on #3065
I executed these:
[code]
Results:
[code]
[code]

Nevertheless the docker result is same:
[code]

[2019-02-13 14:04] BaerbelW commented on #3051
I agree with f4abap, that it's not really clear if there's anything substantially wrong with the code entered in the box, or if it's just not recognizing the provided solution (which seems okay if actually added to the class where it doesn't give any syntax warning).

Perhaps these types of "test yourself" exercises where code-snippets are involved need to be done differently, e.g. by providing 3

[2019-02-13 14:06] cdeil commented on #3044
Works now. Thanks!

[2019-02-13 14:06] #3044 closed

[2019-02-13 14:09] cocopapagal commented on #3041
:) i thought that the Image version would be changed in the docker hub not the documentation. :)

[2019-02-13 14:59] BaerbelW commented on #3080
One more comment: it may just be me not fully understanding what the code is supposed to look like from one step to the next, but it seems that the code snippets shown for the statements in method RUN in the screenshots are not consistent as one works through the steps.

[2019-02-13 15:13] IObert commented on #3077
Hi,

awesome that you were able to finish the tutorial successfully. This is a really good followup question and  I have to admit I don't know the answer to this question :( .
I'll close this issue here since github issues are for technical issues with the tutorial.

I've seen that you asked the same question[ in the SAP Community ](https://answers.sap.com/questions/752284/how-to-connect-to-micros

[2019-02-13 15:13] #3077 closed

[2019-02-13 15:28] marcvandriel opened #3082 "Deploy UI to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-cf-deploy.html

Please specify the step you are referring to Step 7: Adapt app router configuration
I'm wondering if there is also something that need to be changed for the UI deployer as I keep getting an error when deploying _"Error creating service "dt_BimInCloud_ManageTables_ui_deployer" from offering "html5-apps-repo" and pla

[2019-02-14 02:33] stephenkringas opened #3084 "Import the MovieLens dataset (MovieLens App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-03.html

Step 10 - Validate Import
I'm trying to submit the number of rows that have been loaded into the table "ratings" - 100,836

It says the answer is incorrect. I have uploaded the small dataset found here - https://grouplens.org/datasets/movielens/latest/

[2019-02-14 08:35] adadouche commented on #3084
Hi @stephenkringas,

As stated in step 1:

***If you have additional capacity resources, you can run this tutorial series with the larger datasets, but the validations steps implemented were built based on the small dataset.***

Which is why I provide links to the dataset files in Step 5: Import the dataset CSV files.

Please make sure to use the provided links instead.

Thanks

[2019-02-14 08:45] adadouche commented on #3084
clarification added in https://github.com/SAPDocuments/Tutorials/commit/6688e84dda30a1c3b16a10b3adcc74f6c43e09fd

[2019-02-14 08:54] adadouche commented on #3057
Hi @xanderrijken

In order to download the SAP JVM, you will need to accept the term and condition which is not straight forward using cURL.
It also implies that your VM has access to the internet which is not always the case.

When trying to do it from wget/cURL you will need to skip the certificate check and then add the cookie in the header.

Your link should/would look like this:

[code]
An al

[2019-02-14 08:54] #3057 closed

[2019-02-14 08:57] julieplummer20 commented on #3053
Hi, f4abap is quite correct; this is not an issue with the tutorial.
Are you a customer or partner? If so, you need to open an OSS message.
If not, I cannot guarantee support, but I can give a few pointers.
I googled your problem and got this: https://archive.sap.com/discussions/thread/3584657
Please follow the recommendations there.
If that fails, please post a question to the ABAP development fo

[2019-02-14 08:57] adadouche commented on #2975
Closing due to inactivity. Please feel free to reopen if needed.

[2019-02-14 08:57] #2975 closed

[2019-02-14 08:58] adadouche commented on #3016
Hi @pushkargd

Sorry for the late response, I'll check your PR and refactor the code to adapt it to the trial services too.

Thanks

[2019-02-14 08:59] adadouche commented on #3046
Hi @thecodester,

This was an How-to from HXE UA that I refreshed in the past. But not the owner.

Thanks

[2019-02-14 09:00] #3084 closed

[2019-02-14 09:04] stephenkringas commented on #3084
Thanks for the clarification. Regards,
 Stephen

[2019-02-14 09:15] julieplummer20 commented on #3051
Hi Florian, hi Baerbel,
OK, there seem to be several aspects here.
1. I will start by simplifying the test, so that you only have to create a method definition, not a table type.

2. In the meantime, here is the solution. Did you try this?
If so, this is a bug. I'll loop in Daniel.
If not, what did you try instead - so that I can word the question better? I mean, if you tried loads of things, one

[2019-02-14 09:29] julieplummer20 opened #3086 "abap-dev-create-new-class : Users have problems with Validation"
Hi colleagues,
Looping in [f4abap](https://github.com/f4abap),  [BaerbelW](https://github.com/BaerbelW)
The validation seems very intolerant. Here is the code Florian entered:
TYPES: ty_table_of_customers TYPE STANDARD
TABLE OF snwd_bpa WITH DEFAULT KEY.
METHODS get_customers_from_db
RETURNING VALUE(result) TYPE ty_table_of_customers.

TYPES: ty_table_of_customers TYPE STANDARD
TABLE OF SNWD_BPA W

[2019-02-14 09:35] danielbrumusescu opened #3087 "Connect to OData service on Neo using SAP S/4HANA Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-odata-service-neo.html

Step 1: Write the CostCenterServlet

Hi,

The `ErpEndpoint `class no longer exists in the latests sap s4hana sdk framework:
[code]

I used the `com.sap.cloud.sdk.s4hana.connectivity.ErpConfigContext` class instead, which worked.
[code]

[2019-02-14 09:44] julieplummer20 commented on #3051
Hi all,
Created a new issue for this: [#3086](https://github.com/SAPDocuments/Tutorials/issues/3086)

[2019-02-14 10:32] niloofar-naseri commented on #3082
Hi @marcvandriel
your subaccount need to have sufficient number of Quota for HTML5 application repository:
502 Bad Gateway: Service broker error: Store quota lower then 0 or bigger then already assigned quota!
You can find information, how you change the Quota for HTML5 application repository under:
https://help.sap.com/viewer/43aae20270c44f3190e01df87a3807e6/Cloud/en-US/b8343d9d8b984d73adbae5fe65

[2019-02-14 12:28] timojoh opened #3088 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Hi,

I followed the steps of this tutorial and everything works till the last step. When I try to receive data in the SAP Fiori Launchpad I get an error "No Connection to database" and under odata/v2/CatalogService/Books it is followed by "CDSRuntimeException.NO_CONNECTION".

Edit: It seems like the same error occurs d

[2019-02-14 12:37] julieplummer20 commented on #3080
Hi Baerbel, No it's not you, it's me. I wanted to make the code compliant with the new 7.40 syntax, eg for Inline Declarations. I then failed to make all the screenshots consistent.
I have updated the tutorial with all your corrections and pushed to QA. If everything works out, I will submit Pull Request to Prod. tonight, so it should look better by tomorrow morning.
Thanks a lot for your feedback

[2019-02-14 12:59] julieplummer20 commented on #3080
Sorry, am getting a error when I push to Prod. Am out of office tomorrow, but will resolve on Monday.

[2019-02-14 13:23] BaerbelW commented on #3080
Thanks, Julie!

[2019-02-14 13:26] thecodester commented on #3086
Thanks. I have added an issue about this and will update when I hear.

[2019-02-14 13:31] BaerbelW commented on #3086
This is what I had - very similar to Florian and with one line-break less in the types-statement:
TYPES: ty_table_of_customers TYPE STANDARD TABLE OF SNWD_BPA WITH DEFAULT KEY.
METHODS get_customers_from_db
RETURNING VALUE(result) type ty_table_of_customers.

I had also tried with the methods-definition all in one line which it didn't "like" either.

[2019-02-14 13:35] JCurrie27 commented on #3046
Hi: Chris owns this one, but I updated the link. It will now always point to the latest published SAP HANA Client Interface Programming Reference. Closing.

[2019-02-14 13:35] #3046 closed

[2019-02-14 13:57] johanngoltz commented on #2911
@JensHaley, any update on this?

[2019-02-14 14:02] JensHaley commented on #2911
It worked for me when I published the tutorial.
I tried again today and got "internal server error".

I'll check with XSUAA colleagues if they can imagine why the solution you linked to works.

[2019-02-15 09:06] Apfohlmann commented on #3088
Hi @timojoh,

thank you for your question. 👍

The tutorial works for me. I completed this two tutorials before:
[https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html](https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html
)
[https://developers.sap.com/tutorials/cp-apm-02-add-ui.html](https://developers.sap.com/tutorials/cp-apm-02-add-ui.html)

Did you al

[2019-02-15 09:43] timojoh commented on #3088
Hi @Apfohlmann

Thank your for your time and response.

Yes, I completed the previous tutorials. Any other ideas?

Best regards,
Timo

[2019-02-15 10:09] dazowens opened #3089 "Testing API Business Hub APIs with Curl"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-test-locally.html

Please specify the step you are referring to Step 5

The data has changed in the sandbox, so when the results are pasted, they do not match the values that it is being checked against once the answer is submitted..

[2019-02-15 10:44] joysonds opened #3090 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html

Please specify the step you are referring to : Step 4: SPS02 or lower - Create a User-Provided service using the XS CLI

We are creating a service called CROSS_SCHEMA_PRODUCTS as per the examples given. However in the first line it mentions "**CROSS_SCHEMA_LOCATIONS**" instead.

Similarly in the sec

[2019-02-15 11:53] thecodester commented on #3089
@shilpavij Do you know someone who can review this issue?

[2019-02-15 14:15] zlosch opened #3091 "Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

Please specify the step you are referring to

In Step 4, running the service failed without an error message. There was just a short notification in the Web IDE, which immediately disappeared when clicked. Neither console.log not run.log contained any information.

I then played around with the project in th

[2019-02-15 14:28] zlosch opened #3092 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Please specify the step you are referring to

Step 2: Workspace Preferences -> Features is now called Extensions

<img width="299" alt="screenshot 2019-02-15 at 15 28 07" src="https://user-images.githubusercontent.com/189945/52862776-58d72300-3136-11e9-9718-18ef204519a1.png">

[2019-02-15 15:23] Lsubatin commented on #3090
Done

[2019-02-15 15:23] #3090 closed

[2019-02-18 06:50] Apfohlmann commented on #3091
@zlosch thank you for your big feedback. We will improve the tutorial and mention the hdi-shared entitlement inside the tutorial.

We will also look at your suggestion about re-creating the trial subaccount.

Best regards,
André

[2019-02-18 08:33] jhornik opened #3096 "SAP Web IDE Full-Stack: tutorial needs product name update"
@jonathanbaker7

The tutorial: [Open SAP Web IDE in SAP Cloud Platform](https://developers.sap.com/tutorials/sapui5-webide-open-webide.html) needs to be updated with the new product name of Web IDE, including screen shots.

**SAP Web IDE Full-Stack**

![screenshot_new_webide](https://user-images.githubusercontent.com/26198200/52937647-65db5880-3368-11e9-9238-5409b621d4e4.png)

[2019-02-18 09:40] Apfohlmann commented on #3091
@thecodester this ticket can be closed.

[2019-02-18 09:41] Apfohlmann commented on #3092
@zlosch  thank you. We just updated the tutorial.

@thecodester this issue is solved.

[2019-02-18 09:42] #3091 closed

[2019-02-18 11:33] Vadoid opened #3100 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Hello,

Following the tutorial, while building DB module keep getting errors (on SPS03):

What could be the cause of this?

Here is the mta.yaml:

Thanks.

[2019-02-18 13:38] adadouche commented on #3054
Hi,

Thanks for your feedback.

I justed refactored the sample code provided and added some explanation about how to use it with your own image.

Let me know if that meet your expectation.

I'll close this issue for now, but feel free to reopen if needed.

[2019-02-18 13:38] #3054 closed

[2019-02-18 15:35] Lsubatin commented on #3100
Hi,

As the error message says, you are duplicating the definition for  ServiceName_1, so you have the same logical definition pointing at two different services. These resources also seem to be duplicate by the way.

Please post requests for help in answers.sap.com. This channel is for feedback on tutorials.

Lucia.

[2019-02-18 15:35] #3100 closed

[2019-02-18 15:40] Vadoid commented on #3100
Well, the tutorial explicitly says use ServiceName_1, so I am not sure what is duplicated. Posting full mta.yaml in tutorial would certainly help, as step by step doesn’t seem to work.

[2019-02-18 16:02] Vadoid commented on #3100
Just to be clear - on 9.png there is cross-container-service-1 which by default has key ServiceName_1, so your explanation re tutorial isn't clear.

[2019-02-18 16:53] Lsubatin commented on #3100
That's an interesting way of asking for help...

There is a full yaml example in the tutorial. You are defining replacements for ServiceName_1 **twice**. You are referencing the same service **twice** too in the resources.

Nothing in the tutorial would end up in a yaml like yours with duplicates, so don't blame it on a step by step you clearly did not follow.

[2019-02-18 17:06] Vadoid commented on #3100
As you can see on **9.png** there is a definition of cross-container-service-1 which is automatically generated and has a key of ServiceName_1 and CROSS_SCHEMA_PRODUCTS with SERVICE_REPLACEMENTS and key ServiceName_1.
So the screenshots for SP03 will be rather different.

[2019-02-18 17:26] Lsubatin commented on #3100
ServiceName_1 is only once in 9.png and also in the sample yaml.

You can have multiple user provided services, not just the same logical name twice in the service replacements.

Take luck,
Lucia.

[2019-02-19 08:09] karstenmelato commented on #3087
This content is outdated.

[2019-02-19 09:00] #3092 closed

[2019-02-19 09:02] thecodester commented on #3087
@karstenmelato Will you be updating?

[2019-02-19 09:06] karstenmelato commented on #3087
@thecodester It's updated with my last request

[2019-02-19 09:29] thecodester commented on #3087
https://github.com/SAPDocuments/Tutorials/pull/3099

[2019-02-19 09:29] #3087 closed

[2019-02-19 09:32] SAPDocs opened #3104 "Tutorial Page s4sdk-odata-service-cloud-foundry.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/s4sdk-odata-service-cloud-foundry/s4sdk-odata-service-cloud-foundry.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/s4sdk-odata-service-cloud-foundry/s4sdk-odata-service-cloud-foundry.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregar

[2019-02-19 13:28] ElenaShadskaja opened #3107 "A Flask application on Azure App Service that queries HANA, express edition."
DD test 1640
Tutorial URL: https://developers-qa.sap.com/tutorials/hxe-python-flask-azure.html

Please specify the step you are referring to

[2019-02-19 14:39] jhornik commented on #3096
I will make the update today. I'll notify here when the changes are implemented.

[2019-02-19 15:00] thecodester commented on #3096
You can just close the issue :-)

[2019-02-19 15:02] #3107 closed

[2019-02-19 15:20] #3096 closed

[2019-02-19 16:07] Kyrill996 commented on #2509
I got the same issue doing the same tutorial and also the previous prerequisited tutorial.
Thank you @git-ashish , your solution helped!

[2019-02-19 16:28] JensHaley commented on #2911
Hi everybody,

I checked with the XSUAA colleagues and the outcome is:

- it is required to define scope uaa.user as described in this [solution](https://answers.sap.com/questions/737207/get-request-to-completed-with-status-500-jwt-token.html) to make it work.
- the reason is that during the message flow between the application router and the involved components there has to be a token exchange be

[2019-02-19 18:59] agl-phenr opened #3111 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Please specify the step you are referring to: Step 3 - enable JTA support and container management.

There is no such folder named "gen" thus I cannot change the "persistence.xml" file.

Therefore at the statement:
import com.sap.demo.bookshop.jpa.my.bookshop.Books;
import com.sap.demo.bookshop.jpa.my.bookshop.Orders;
I s

[2019-02-19 21:14] vinita-k opened #3112 "HANA Webide not working"
HI
There I am opening a new issue as my previous one is still not resolved
Here is the link to the old one:
https://github.com/SAPDocuments/Tutorials/issues/2894
Ihave installed express edition and below is the screenshot of the command run

ls -la /usr/sap/HXE/home/
![image](https://user-images.githubusercontent.com/23621930/53047586-9bfb1280-34f7-11e9-953b-ee8dd9fbff68.png)

ls -la /var/tmp
![im

[2019-02-20 03:04] Lsubatin commented on #2894
Took this to where it belongs: https://answers.sap.com/questions/745374/hana-express-edition-installation-issues-and-askin.html

[2019-02-20 03:04] #2894 closed

[2019-02-20 03:05] Lsubatin commented on #3112
Vinita,
This kind of issue belongs in answers.sap.com - this is not the proper channel for support.

I have replied here: https://answers.sap.com/questions/745374/hana-express-edition-installation-issues-and-askin.html

The system you have has both the database and Web IDE, which is the new editor that allows you to do calculation views. I suggest taking a look at: https://blogs.sap.com/2017/09/04

[2019-02-20 03:05] #3112 closed

[2019-02-20 08:04] JijoRoyJacob commented on #3111
Hi Pietro,
In **Step 1: Generate JPA classes**, sub-step 10 requires you to build the project. If this sub-step was successful, then the JPA classes in the message would have been generated, including the gen folder. You can also perform the build by right-clicking the srv folder and selecting Build. Please let me know if you got any errors when performing this step.

Best regards,
Jijo

[2019-02-20 08:43] agl-phenr commented on #3111
Hi @JijoRoyJacob,

I went through all the sub-steps of step 1 and at the end a rebuilt the whole project.

![image](https://user-images.githubusercontent.com/42214365/53077354-b3cb9a00-34e9-11e9-93e3-29cb6d684bbe.png)

Right-clicked the main root folder and refreshed the workspace but even so I see no gen folder.

![image](https://user-images.githubusercontent.com/42214365/53077566-2472b680-34ea-1

[2019-02-20 09:52] JijoRoyJacob commented on #3111
Hi Pietro,
I checked your project and cannot see the root cause of the problem. I'll share the project with the dev team and I'll get back to you on what I learn from them.

Best regards,
Jijo

[2019-02-20 10:58] agl-phenr opened #3118 "Build a Business App by Reusing a CDS Model"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-06-reuse-extend.html

Please specify the step you are referring to Step 8 - Add an HTML5 template

By creating a new HTML5 module I see the OData Service created on previous steps.

![image](https://user-images.githubusercontent.com/42214365/53086247-a79d0800-34fc-11e9-8faa-7bd45e45c258.png)

I have attached the project .

[SampleApp.zip](h

[2019-02-20 12:07] qmacro commented on #3045
Hi @cdeil - what you report seeing is when you select "Security" in the main Neo cockpit menu ("Security" being the same level as, for example, "Applications" and "Connectivity").

The "Security" -> "Roles" referred to here is for the Java application that is being examined in the previous steps.

HTH!

[2019-02-20 12:07] #3045 closed

[2019-02-20 13:36] giovannidegani opened #3120 "Create an Account on the Gateway Demo System"
Tutorial URL: https://developers.sap.com/tutorials/gateway-demo-signup.html

Please specify the step you are referring to

The tutorial is pointing to system registration of at https://register.sapdevcenter.com/

The certificate for that website has expired 11 days ago and is not accessible due to browser security

[2019-02-20 13:37] giovannidegani commented on #3120
@JijoRoyJacob

[2019-02-20 13:55] thecodester commented on #3120
@qmacro I've assigned to Jonathan but wanted to alert you in case your tutorials make use of this tutorial.

[2019-02-20 13:56] jonathanbaker7 commented on #3120
No, this is on our end.  The certificate expired, and I didn’t realize it.  I’ll fix it this morning.

J

From: Daniel Wroblewski <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Wednesday, February 20, 2019 at 8:55 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Jonathan Baker <jonathan.baker@sap.com>, Assign <assign@noreply.github.com>
S

[2019-02-20 14:10] jonathanbaker7 commented on #3120
The problem is not a bad certificate, but some kind of mis-configuration problem in the NEO environment.  I’ll try to resovle it.  If I can’t, I’ll escalate it to Jim Jaquet.

Cheers,
Jonathan

From: Daniel Wroblewski <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Wednesday, February 20, 2019 at 8:55 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.githu

[2019-02-20 14:14] JensHaley commented on #2834
@WilbertKarremans : Did this solve your issue? If so I'd like to close this issue. - Thanks

[2019-02-20 14:31] WilbertKarremans commented on #2834
Yes, please close it. Many thanks!

Wilbert

From: Jens Haley <notifications@github.com>
Sent: Wednesday, 20 February 2019 15:15
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Wilbert Karremans <W.Karremans@vidaxl.com>; Mention <mention@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] SAP Cloud Platform Cloud Connector setup for secure on-premise connectivity (#2834)

@Wilb

[2019-02-20 15:15] thecodester commented on #2834
@WilbertKarremans For next time, if the issue you opened is resolved, you can close it yourself. Thanks for the feedback.

[2019-02-20 15:15] #2834 closed

[2019-02-20 15:48] jonathanbaker7 commented on #3120
Certificate updated, problem has been resolved.

[2019-02-20 15:48] #3120 closed

[2019-02-20 17:09] mhmmdmz opened #3121 "Onboarding a computer as the IoT thing"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

(Please specify the step you are referring to)
Step 5: Add your computer as a new thing

Seems like the Neo environment has been turned off. We don't have access to create new instance or proceed with other steps in tutorial.

[2019-02-20 17:33] aplata-sap commented on #2991
This has been added to the latest tutorial. @JCurrie27

[2019-02-20 17:49] #2991 closed

[2019-02-20 22:36] mts2605 opened #3122 "Add a Portal Widget"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-advanced-embed-widget.html

Please specify the step you are referring to - Step 1 - between 6 / 7 I am asked for PW. And no matter what PW I try I can't "get through"
I try s-user PW (both S-user with and without ...trial) No matter what error.

KR s0020098827trial / Michael ;-)

[2019-02-21 07:57] LindsayBert commented on #3122
Hi Michael - I didn't write this particular tutorial but I have written something similar so I'll try and help you. I checked out Step 1 (between 6 and 7).  This is referring to adding a widget to the page section.  Are you being asked to add your password when you try and do this?
Thanks Lindsay

[2019-02-21 08:05] mts2605 commented on #3122
Hi Lindsay
Yes, when adding the supplierlookup, i am asked for PW.
BR Michael

[2019-02-21 08:10] ZEdwin opened #3123 "Start SAP HANA, express edition Server"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-getting-started-vm-xsa.html

Please specify the step you are referring to

Installation always fails at "Start SAP HANA, express edition Server" --> "Step 10: Complete the installation".
I have entered the passwords according to the requirements (Numbers and letters only). But after proceeding with the configuration, I never get the message

[2019-02-21 09:20] maxstreifeneder commented on #3121
@marcuscbehrens can you please support here?

[2019-02-21 09:33] LindsayBert commented on #3122
Hi Michael I suspect that it has something to do with access to where the widget was deployed to.  I've written to Ido Shemesh who wrote this tutorial and I've asked him to help.

Thanks Lindsay

[2019-02-21 09:36] maxstreifeneder commented on #3070
@thecodester deprecated tutorial/mission, since IoT Service 2.0 is not available for new subscriptions anymore, but still for already subscribed users.

[2019-02-21 11:21] rericsson commented on #3065
I was able to use the URL option to get the install to work. I used http://myjson.com to store the snippet of JSON containing the password and then used the following:

docker run -p 39013:39013 -p 39015:39015 -p 39041-39045:39041-39045 -p 1128-1129:1128-1129 -p 59013-59014:59013-59014  -p 39030-39033:39030-39033 -p 51000-51060:51000-51060  -p 53075:53075  \
-h hxehost \
--ulimit nofile=1048576:10

[2019-02-21 12:13] ssurampally opened #3126 "SAP HANA, express edition, in Google Cloud Platform Launcher (Database + XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-gcp-getting-started-launcher-xsa.html

Hi Lucia, I am trying to find out the step for Optional installations like SDI,  EA designer etc., I remember that, it was part of this tutorial or may be in another one. can you navigate me to that?

[2019-02-21 12:17] ssurampally commented on #3126
also is there a tutorial to upgrade my HANA Express web ide to newer version in GCP VM?

[2019-02-21 12:47] JCurrie27 commented on #3123
Hello @ZEdwin: There are some Q@A posts in the community mentioning similar errors. Did you see https://answers.sap.com/questions/319954/hana-express-vm-configuration-error.html ? In that Q&A post, insufficient RAM was causing login issues. Can you verify the available RAM on your host machine?

[2019-02-21 14:18] ZEdwin commented on #3123
Should be plenty.

![image](https://user-images.githubusercontent.com/5278654/53175187-bf9f8500-35eb-11e9-839c-5f352535fba7.png)

But maybe I shouldn't have assigned all 32G to the VM... I'll try again with the default 16 or perhaps 24.
I hope that fixes the issue. I'll let you know!

[2019-02-21 14:54] ZEdwin commented on #3123
Tried 16G and 6 cores: Failed.
Tried 24G and 2 cores: Failed.

[2019-02-21 15:17] Lsubatin commented on #3126
Hi Sreekanth, instructions for additional plug ins are here (I'll add them to the tutorial now that you mention it):  [https://developers.sap.com/tutorials/hxe-ua-packages-binary.html](https://developers.sap.com/tutorials/hxe-ua-packages-binary.html )

I have two blog posts on upgrading web ide:

- Just Web IDE: https://blogs.sap.com/2018/03/09/upgrading-web-ide-in-hana-express/
- Updating HXE ent

[2019-02-21 15:20] JCurrie27 commented on #3123
@TerryNing - can you assist @ZEdwin with these VM scenario (server + applications) installation error messages?

[2019-02-21 15:27] Lsubatin commented on #3123
This belongs in the community (answers.sap.com) for support.
What is the hidden host? Is that an IP address?

[2019-02-21 15:39] ZEdwin commented on #3123
Question: Is deleting the hxexsa instance from the disk enough, or are more steps necessary to clean my PC for a new instalment? Maybe some old junk in the registry or somewhere else is messing up the re-install?

[2019-02-21 15:40] ZEdwin commented on #3123
Yes, it's the IP adress...

[2019-02-21 15:50] Lsubatin commented on #3123
If you right click on the VM from VMware it will give you the option to delete anything it form disk. Since it's a VM, it does not do anything with your laptop's registry so you can just import it again.

Before you start it, try changing the network to NAT. If you still have problems there, run sudo ifconfig and please open a question in the community with the details.

[2019-02-21 15:56] JCurrie27 commented on #3123
Hi @ZEdwin - as Lsubatin suggests, if these installation issues are still unresolved, please add questions to the HXE support community forum at ([answers.sap.com](https://answers.sap.com/index.html)).
The community has more visibility than this GitHub thread, and is monitored by technical experts.
I'm closing this issue - we can continue troubleshooting these issues on (answers.sap.com).

[2019-02-21 15:56] #3123 closed

[2019-02-21 16:02] jastill opened #3127 "Use the Similarity Scoring with the Text Feature Extraction API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-similarity-text.html

Please specify the step you are referring to
Step 3, reference Image Feature Extraction in the step title and first line, should it be Text Feature Extraction?

[2019-02-21 16:32] adadouche commented on #3127
Hi @jastill

thanks for the feedback, I just pushed a corrected version (copy/paste issue) : https://github.com/SAPDocuments/Tutorials/commit/1f37c7c7e6a399566ed5024e4b3f8359ac3e4c56

Thanks again!

[2019-02-21 16:32] #3127 closed

[2019-02-21 20:36] mts2605 opened #3129 "Commit your project to Git and deploy to the cloud"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-5.html

Please specify the step you are referring to - 18 (Step 18: Open the active version of your app)

I do not understand why I can not validate a link to a working app:
https://businesspartners-s0020098827trial.dispatcher.hanatrial.ondemand.com/index.html?hc_reset#/BusinessPartnerSet/0100000031

BR Michael

[2019-02-21 20:41] mts2605 commented on #3122
Hi Lindsay (& Ido)
I do not think more time should be used on this. I suspect cookies/logon from an earlier S-user access to ES5 to be the reason for the problem. I got it to work when this logon was deleted from my browser. (A bit scary what Chrome stores from years ago when I was working another place...)
Thanks for your assistance!
Best Rgds
Michael

[2019-02-21 20:41] #3122 closed

[2019-02-21 22:29] jastill opened #3130 "Trigger the Endpoints from an SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-rabbitmq-extend-producer-ui.html

Please specify the step you are referring to 2.

Coding seems to have a formatting issue. I get an error due to line 52, This is the code I ended up using:

      sap.ui.getCore().attachInit(function () {
        new sap.m.App({
          pages: new sap.m.Page({
              title: 'Producer',

[2019-02-22 01:15] mhmmdmz commented on #3121
Hi ... any luck with this? I'm trying to run a session with a large group of people and we're stuck with the Neo environment not being available. Looking at SAP to bail us out ... as we're learning and promoting SAP technologies.

[2019-02-22 01:18] jastill opened #3131 "Create a Consumer App"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-rabbitmq-create-consumer.html

Please specify the step you are referring to 7
Formatting appears to be a little incorrect:
[code]

[2019-02-22 08:59] aayushi22jain commented on #1864
Hi @adadouche,

My Request payload contains -
------WebKitFormBoundaryBDoVmWHrIY0KYEMA
Content-Disposition: form-data; name="files"; filename="30873712-c8c22790-a2b3-11e7-8c9e-2bce5d239d92.jpg"
Content-Type: image/jpeg

but i am still getting that bad request Error - "error":{"code":"400","message":"Invalid request: This service requires at least 1 file. Please put your file(s) into the `files` fi

[2019-02-22 09:47] Liebherr commented on #2932
Done in QA

[2019-02-22 09:49] Liebherr commented on #2936
Done in QA, but to be reviewed with Kai still as major additional changes and improvements done

[2019-02-22 09:49] Liebherr commented on #2933
Done in QA to be reviewed with Kai still as major additional changes and improvements done

[2019-02-22 09:55] #2945 closed

[2019-02-22 10:31] BaerbelW commented on #3086
Hi All!
Here is another example for a rather intolerant validation.

Tutorial - Create a Data Element:
https://developers.sap.com/tutorials/abap-dev-adt-create-data-element.html

I had the solution as this which gave an error:
LOOP AT Booking_list ASSIGNING FIELD-SYMBOL(<booking>).

The culprit? Simply the lower case "l" in "_list". Once I switched that to upper case it was happy.

Could the valid

[2019-02-22 10:42] Liebherr commented on #2948
Done

[2019-02-22 10:42] #2948 closed

[2019-02-22 11:31] marcuscbehrens commented on #3121
i had no problem creating a new thing: This thing has been created using the following provider:SAP Cloud Platform IoT Service for Neo Environment
Thing ID:
Device ID:
Token:
FAC5C9EC9970469EB53EE5388C36EEDB
FAC5C9EC9970469EB53EE5388C36EEDB
b4b75c375f4b9ae5ac24438e

[2019-02-22 11:38] mhmmdmz commented on #3121
Thank you for your reply. However not just me, it’s a group of ppl from various locations who get an error while creating a new thing. If you see the status of the service it is disconnected. When I use python to send data out, it gives me 202 which means the data is being queued and that’s forever.

[2019-02-22 12:28] adadouche commented on #1864
Hi @aayushi22jain

Can you open a new issue?

Thanks

[2019-02-22 14:28] ssurampally commented on #3126
Thanks Lucia, I book marked them now.

[2019-02-22 14:28] #3126 closed

[2019-02-22 18:56] Funkmyster opened #3134 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

In Step 8: Run your application:

Mock data is not deployed with demo application when following tutorial.

The documentation refers to testFLPService.html instead of testFLPServiceMockServer.html

[2019-02-23 05:18] pjcools commented on #2959
Can I please get an update on this, I would like to complete this tutorial?

[2019-02-23 07:18] Mohanmk1 opened #3135 "Build an SAP Fiori app with SAP Gateway data in SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-4.html

Please specify the step you are referring to step 19,
getting error HTTP Status 404 - Not Found

![image](https://user-images.githubusercontent.com/28388659/53283244-42018380-3769-11e9-867f-6056773a4639.png)

[2019-02-24 06:09] thecodester commented on #2959
@rbrainey ?

[2019-02-24 06:42] thecodester commented on #3135
Is this in trying to click Validate? Can you try again ... it is working for me currently

[2019-02-24 09:44] thecodester commented on #2933
@Liebherr Not clear to me -- what is status of this and who is taking care of it?

[2019-02-24 10:08] thecodester commented on #3086
I will request this feature. Thanks for the feedback.

[2019-02-24 12:57] IObert commented on #3130
Hi @jastill,

nice catch! The code snipped should look like this:
[code]

Thanks for reporting! I'll fix it asap.

Regards,
Marius

[2019-02-24 12:58] Liebherr commented on #2933
Hi Daniel (@thecodester ),
I am taking care of this now, and issues reported here are done, but as it pointed out that even more rework is needed, I still need some time to create the version for production.
Regards
Ulrike

[2019-02-25 08:15] JensHaley commented on #2911
Hi everybody,

I have adjusted step 4, substep4 in my [tutorial](https://developers.sap.com/tutorials/cp-connectivity-consume-odata-service-approuter.html#09e3259a-5398-49c3-a9d7-12679a2def8f).

Thanks again for reporting this.

@joymike : Could we close this issue now?

[2019-02-25 10:44] thecodester commented on #3079
Thank you for your feedback. We haven't heard from you, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 10:44] #3079 closed

[2019-02-25 10:45] thecodester commented on #3078
Thank you for your feedback. We haven't heard from you, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 10:45] #3078 closed

[2019-02-25 10:48] thecodester commented on #3104
https://github.com/SAPDocuments/Tutorials/commit/5f4d68004374eb461a7094a488574d798c837e62

[2019-02-25 10:48] #3104 closed

[2019-02-25 10:49] thecodester commented on #1824
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:49] #1824 closed

[2019-02-25 10:50] thecodester commented on #1855
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:50] #1855 closed

[2019-02-25 10:50] thecodester commented on #1884
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:50] #1884 closed

[2019-02-25 10:50] thecodester commented on #2039
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:50] #2039 closed

[2019-02-25 10:50] thecodester commented on #2116
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:50] #2116 closed

[2019-02-25 10:51] thecodester commented on #2118
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:51] #2118 closed

[2019-02-25 10:51] thecodester commented on #2248
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:51] #2248 closed

[2019-02-25 10:51] thecodester commented on #2262
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:51] #2262 closed

[2019-02-25 10:52] thecodester commented on #2201
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:52] #2201 closed

[2019-02-25 10:53] thecodester commented on #2310
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:53] #2310 closed

[2019-02-25 10:53] thecodester commented on #2360
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:53] #2360 closed

[2019-02-25 10:53] thecodester commented on #2394
Thank you for your feedback. Because of the amount of time that has elapsed, we are closing the issue.

If you still have questions, feel free to create a new issue.

[2019-02-25 10:53] #2394 closed

[2019-02-25 10:56] thecodester commented on #2411
These tutorials were removed.

[2019-02-25 10:56] #2411 closed

[2019-02-25 10:58] thecodester commented on #2453
@Lsubatin Can you address or close? Thanks

[2019-02-25 10:59] thecodester commented on #2459
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 10:59] #2459 closed

[2019-02-25 11:00] thecodester commented on #2534
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:00] #2534 closed

[2019-02-25 11:00] thecodester commented on #2527
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:00] #2527 closed

[2019-02-25 11:01] thecodester commented on #2496
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:01] #2496 closed

[2019-02-25 11:02] thecodester commented on #2487
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:02] #2487 closed

[2019-02-25 11:02] thecodester commented on #2482
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:02] #2482 closed

[2019-02-25 11:05] thecodester commented on #2888
@aptk001 Has this been completed? Can we close?

[2019-02-25 11:08] thecodester commented on #2831
The tutorial has been removed.

[2019-02-25 11:08] #2831 closed

[2019-02-25 11:08] thecodester commented on #2810
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:08] #2810 closed

[2019-02-25 11:09] thecodester commented on #2805
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:09] #2805 closed

[2019-02-25 11:10] thecodester commented on #2803
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:10] #2803 closed

[2019-02-25 11:11] thecodester commented on #2801
@jarjarbentley  Any updates?

[2019-02-25 11:11] thecodester commented on #2798
@mervey45 Has this been completed?

[2019-02-25 11:12] thecodester commented on #2794
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:12] #2794 closed

[2019-02-25 11:12] thecodester commented on #2781
@AstridHerbst Can you help here?

[2019-02-25 11:12] thecodester commented on #2780
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:12] #2780 closed

[2019-02-25 11:13] thecodester commented on #2731
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:13] #2731 closed

[2019-02-25 11:14] thecodester commented on #2648
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:14] #2648 closed

[2019-02-25 11:15] thecodester commented on #2647
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:15] #2647 closed

[2019-02-25 11:15] thecodester commented on #2622
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:15] #2622 closed

[2019-02-25 11:16] thecodester commented on #2577
We have removed this tutorial.

[2019-02-25 11:16] #2577 closed

[2019-02-25 11:17] thecodester commented on #2577
@raz-korn Are you referring to this group of tutorials? Is this issue still relevant?

[2019-02-25 11:21] thecodester commented on #3026
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:21] #3026 closed

[2019-02-25 11:22] thecodester commented on #3022
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:22] #3022 closed

[2019-02-25 11:23] thecodester commented on #3010
@mervey45 Any update from you?

[2019-02-25 11:24] thecodester commented on #3003
@aplata-sap @NewFolk Can this issue be closed?

[2019-02-25 11:25] thecodester commented on #2971
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:25] #2971 closed

[2019-02-25 11:26] thecodester commented on #2968
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:26] #2968 closed

[2019-02-25 11:29] thecodester commented on #2958
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:29] #2958 closed

[2019-02-25 11:29] thecodester commented on #2956
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:29] #2956 closed

[2019-02-25 11:30] agl-phenr commented on #3010
The issue is because I have not the SCP ABAP environment service purchased.

[2019-02-25 11:30] #3010 closed

[2019-02-25 11:33] thecodester commented on #2943
@danielva Any thoughts?

@JuBerndt Is this still an issue? I don't get this problem.

[2019-02-25 11:33] thecodester commented on #2938
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:33] #2938 closed

[2019-02-25 11:35] thecodester commented on #2924
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-02-25 11:35] #2924 closed

[2019-02-25 11:46] Apfohlmann commented on #2927
@vgup thank you for mentioning this error.

Can you provide a screenshot or any other additional information?

Best regards,
André

[2019-02-25 12:05] Kremer80 commented on #2956
Hi Anish,

I did not come back here, since the same image (dev edition 2.3) worked on my Mac.

I gave up trying on Windows for now.

Best regards
Marc

[2019-02-25 12:16] thecodester commented on #2811
I believe this tutorial will be removed shortly.

[2019-02-25 12:16] #2811 closed

[2019-02-25 12:17] thecodester commented on #2910
This tutorial has been removed.

[2019-02-25 12:17] #2910 closed

[2019-02-25 12:18] thecodester commented on #2889
@TerryNing any update?

[2019-02-25 12:19] thecodester commented on #2864
@D037411 Jerome, can respond to this issue?

[2019-02-25 12:32] vgup commented on #2927
It was too long ago and I don’t have that setup anymore. Thanks for following up.

Vineet

Sent from my iPhone

[2019-02-25 13:05] Sygyzmundovych commented on #2881
Lists are rendered properly now.

[2019-02-25 13:08] #2927 closed

[2019-02-25 14:07] mervey45 commented on #2798
@thecodester This isn't finished yet. But I'll do it. Thank you.

[2019-02-25 15:20] mervey45 commented on #2798
@thecodester You can close this issue. It's done.

[2019-02-25 15:23] the1bit commented on #3065
Hi @rericsson,

I tried your solution and it seems work. :-)

Nevertheless the official documentation is different and this is my biggest pain point. So thank you so much for your help. I am waiting for a working documentation. ;-) I am sure @TerryNing will be able to support me and the community.

Thank you for all of your help.

[2019-02-25 15:57] D037411 commented on #2864
Dear Petrosy, could you please  kindly provide us with  more  information such as the annotation you are refering to and what you would explicitly love to know.
Best regards
Jérôme Monteu Nana

[2019-02-25 15:58] jarjarbentley commented on #2801
Sorry guys. Not sure how I missed this. I’ll pull it up this afternoon

Cheers,

Josh Bentley
SAP Developer Relations
Cloud & Mobile Evangelist

On Feb 25, 2019, at 6:11 AM, Daniel Wroblewski <notifications@github.com<mailto:notifications@github.com>> wrote:

@jarjarbentley<https://github.com/jarjarbentley> Any updates?

—
You are receiving this because you were mentioned.
Reply to this email dire

[2019-02-25 16:42] #3131 closed

[2019-02-25 16:43] IObert commented on #3131
Thanks for reporting this. I just fixed the issue and you should be able to see the updated version shortly

[2019-02-25 16:43] IObert commented on #3130
Thanks for reporting this. I just fixed the issue and you should be able to see the updated version shortly

[2019-02-25 16:43] #3130 closed

[2019-02-25 19:43] kjetil-kilhavn commented on #3135
I get the same error (although with /SAP_Gateway/ as the first part of the requestUri).

[2019-02-25 20:24] kjetil-kilhavn commented on #3135
And by trial and error I found something that worked. The same approach should proably work for you @Mohanmk1  - and once you confirm @thecodester can either update the tutorial or add a "if you get a 404 response, try..." section or comment.

I went back to the 'neo-app.json' file and tried different combinations of 'path' and 'entryPath'.
When I prefixed 'path' with my system name it worked, i.e

[2019-02-25 21:01] kjetil-kilhavn opened #3139 "Commit your project to Git and deploy to the cloud - step 18 does not accept answer"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-5.html

Step 18 refuses to accept that business contact ID 100000031 is indeed the right answer.
![image](https://user-images.githubusercontent.com/14242355/53368206-69627700-3948-11e9-9327-1babcc5e6f2e.png)
![image](https://user-images.githubusercontent.com/14242355/53368374-dd9d1a80-3948-11e9-9f55-7bcd7cbb8d14.png)

[2019-02-25 22:00] the1bit commented on #3065
Hi All,

Finally I stepped back to the original command (of course I used @rericsson's example) and I got rid of "-v" part of script.

So I executed this:

[code]

Surprisingly it works. :-)

@TerryNing: Colud you please help me to understand why it goes to fail the command when we use "-v /data/saphana:/hana/mounts"?

Thanks in advance.

[2019-02-26 03:13] petrosy commented on #2864
Hi Jérôme,

Thanks for taking an interest. I guess as this is all very new to me .. I was kind of interested on why one chooses the annotation one does over another when setting up ones CDS component. I guess there are things that are clearly obvious once you know but until then some of it is a bit vague... It's been a while so I have forgotten what I was originally interested in.

Sorry for the m

[2019-02-26 03:13] #2864 closed

[2019-02-26 06:43] AstridHerbst commented on #2781
The tutorial was updated.

[2019-02-26 06:43] #2781 closed

[2019-02-26 07:01] thecodester commented on #3139
@mhassett92 Can you take a look at this?

@kjetil-kilhavn These are quite old tutorials and it could be that the URL has changed, but I will check.

[2019-02-26 07:07] #2798 closed

[2019-02-26 07:50] BaerbelW opened #3141 "Display Database Content and Run SQL Queries"
Tutorial URL: https://developers.sap.com/tutorials/abap-display-data-queries.html

Please specify the step you are referring to: Step 2 - Select a database table

The table specified in the tutorial - snwd_so_inv_item - doesn't seem to be filled via transaction SEPM_DG documented here: [The NetWeaver Enterprise Procurement Model - An introduction](https://www.sap.com/documents/2012/09/2a404253-5b7

[2019-02-26 07:58] BaerbelW opened #3142 "Create a Global ABAP Class - empty table snwd_so_inv_item"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-new-class.html

Please specify the step you are referring to: all steps

The table used for the tutorial - snwd_so_inv_item - doesn't seem to be filled via transaction SEPM_DG documented here: [The NetWeaver Enterprise Procurement Model - An introduction](https://www.sap.com/documents/2012/09/2a404253-5b7c-0010-82c7-eda71af511fa.ht

[2019-02-26 10:20] julieplummer20 commented on #3072
"BTW: The tutorials are awesome. I love it and it makes it so much easier to onboard people." - thanks - always good to know.

"IF you need help and I can do it in a proper way, let me know." - well actually, yes. The hardest part for me is gauging the difficulty of the validation questions - too hard, too easy, too hard to explain etc. So, if you are unhappy with any of the validation questions,

[2019-02-26 11:52] julieplummer20 commented on #3051
Hi [https://github.com/BaerbelW], hi [https://github.com/f4abap],
Since I have created a new issue for this, do either of you object if I close this?
I will simplify the code.
Thanks for the feedback; it is good to tighten these tutorials up asap.
Cheers Julie.

[2019-02-26 12:07] f4abap commented on #3051
No problem, you can close this one. I have a look at the other:-)

[2019-02-26 12:07] #3051 closed

[2019-02-26 13:32] rericsson commented on #3065
The -v option is for bind mounting to a folder on the host.  I'm not sure why it would fail but I always got a permissions problem on the password JSON file. I suppose it has something to do with the user accessing the file, but I could never get it to work even after opening the file to world+dog, so I tried the http option and that worked so I didn't pursue it. Maybe someone more steeped in the

[2019-02-26 14:45] Ksandala opened #3144 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

Please specify the step you are referring to 1- Question

Answer to this question is the URL of BUILD service from SCP is 'https://account.hanatrial.ondemand.com/cockpit/#/home/service/build/overview' or 'https://account.hanatrial.ondemand.com/cockpit/#/acc/  <USER> /service/build/overview'. I hve tried both but none f th

[2019-02-26 15:41] f4abap commented on #3072
I will do, what way do you prefer for the answers. Just a comment here or mail / slack

[2019-02-26 16:58] marcuscbehrens commented on #3121
Can you please provide more specific description of what goes wrong or open a ticket on iot-bsv-ops-onb or call my skype for business at marcus.behrens@sap.com?

[2019-02-26 18:24] mts2605 commented on #3139
Just the same problem I have. Please review the "validation";-)

[2019-02-27 06:33] thecodester commented on #3139
From where did you start doing the tutorial? I believe the tutorial assumes you've set up a project te2016. Also, the URL you posted has an app name of businesspartners but the tutorials has it as te2016 (though this isn't the only problem with the validation).

[2019-02-27 06:55] Mohanmk1 commented on #3135
@kjetil-kilhavn, Thanks for your help, i have followed your instruction its work fine for me. one more point to add. when i used the code in step17 also work fine.
    {
      "path": "/ES5",
      "target": {
        "type": "destination",
        "name": "ES5"
      },
      "description": "SAP Gateway ES5"
    }
now i can continue with the next step.

[2019-02-27 08:03] mts2605 commented on #3139
@thecodester I did get the exact same url as @kjetil-kilhavn (with different S-user of course) And even if I change the URL to include "te2016" as replacement for "businesspartners", it makes no difference. I believe there must be some kind of validation failure. (Or outdated..!?)

[2019-02-27 09:16] niloofar-naseri commented on #3082
@thecodester
I think you can close this ticket.
Thanks

[2019-02-27 09:16] julieplummer20 commented on #3142
Hi Baerbel, I've just checked in my system. It's working for me - both snwd_so_inv_item in Data Preview, and my report.
Therefore, whatever the problem is, it does not appear to be specific to SNWD_SO_INV_ITEM.
Best wishes,
Julie.

[2019-02-27 09:19] nimble-123 opened #3146 "Test Hyperledger Fabric Chaincode API"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-test-chaincode.html

Please specify the step you are referring to
- all steps

Problem
- Images are not shown/loaded. (404 error in chrome dev tools)

[2019-02-27 09:47] #3082 closed

[2019-02-27 09:55] heytombeck commented on #3146
@thecodester - the images are appearing for me currently, can you see any issues?

[2019-02-27 09:58] thecodester commented on #3146
@nimble-123 Can you clear cache and try again?

[2019-02-27 10:14] BaerbelW commented on #3142
Hi Julie,
the code in the tutorials works, it's just that table snwd_so_inv_item is empty even after transaction SEPM_DG was exectuted to populate the tables in the data model. So, it's difficult to "play" with some actual data as the select doesn't find anything. This is why I'm wondering if there's another means to get data into the table (or - if others have the same issue - to use another but

[2019-02-27 12:06] nimble-123 commented on #3146
my bad, clearing cache did the trick :) thx for this fast support!

[2019-02-27 12:06] #3146 closed

[2019-02-27 12:55] Apfohlmann commented on #3088
Hi @timojoh,

Thank you for your further investigations.

@qmacro can you help us out?

Best regards,
André

[2019-02-27 13:04] Apfohlmann commented on #3118
Hi @agl-phenr,

thank you for your message. We will add images to this Step for our next update.

Do you think about other additional information?

Best regards,
André

[2019-02-27 13:28] agl-phenr commented on #3118
hi @Apfohlmann,

By reviewing my issue posted, I saw I mistyped it.
What I meant was I see no OData service created at the previous steps.
I was wondering if you might guide me through the fixing.

In regards to additional info, I got nothing so far as I stuck at this point.

Best Regards,
Pietro

[2019-02-27 13:41] Apfohlmann commented on #3118
@agl-phenr,

in this tutorial you are just creating the template for your Data. If you want to add data to your OData service. There is a link at the very bottom of the tutorial referring to this tutorial:

[https://developers.sap.com/tutorials/odata-06-add-data-odata-service.html](https://developers.sap.com/tutorials/odata-06-add-data-odata-service.html)

Does this help you?

Best regards,
André

[2019-02-27 15:37] julieplummer20 commented on #3142
Hi Baerbel,
Hmmm. I am not in the office this afternoon, but one possibility: the transaction SEPM_DG_OIA generates these tables, not SEPM_DG. I’ll check this tomorrow and, if so, update the prerequisites accordingly.
Can you run this too?
Best wishes Julie.

[2019-02-27 15:44] dash042 opened #3148 "Set up SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

- Creation of Docker Image: image-name (FROM) is not correct
- Docker RUN command is incorrect

More specific:
Command
`docker run -ti --env VORA_USERNAME=admin --env VORA_PASSWORD=admin --publish 127.0.0.1:8090:8090 --publish 127.0.0.1:9225:9225 --publish 30115:30115 --name datahub --hostname datahub --network dev-ne

[2019-02-27 16:37] chgeo commented on #3055
@martin-moser, which error are you referring to?  Npm install error?  Or an 'old' unexpected cds version that you get?

[2019-02-27 16:57] dnkantonio commented on #2266
Do you have any example on this - using the xsjs router and separate nodejs (express) routes within the same application?  How do you do this in a way that you only define one server - single listen().

[2019-02-27 19:07] kjetil-kilhavn commented on #3139
I am quite sure it was this https://developers.sap.com/tutorials/teched-2016-4.html

@thecodester - that was a good question :-)
One of the problems with the linked content on world wide web is exactly that, remembering where you started. I started a tutorial for WebIDE to create an application based on a master-detail template. I see now there is not only one such tutorial - but since I haven't c

[2019-02-28 00:14] KevinMuessig commented on #3069
That is true. Thank you for noticing. Will be in the next patch.

[2019-02-28 00:14] #3069 closed

[2019-02-28 00:16] RandomThis opened #3150 "Set up SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-setup.html

Please specify the step you are referring to

All of them ... if I click Done it just scrolls back to the top of the screen but progress still shows 0%. I put the url in the answer block at the end and clicked "Submit Answer" and nothing happened.

Note the problem is with the tutorial behavior ... I was able to comple

[2019-02-28 00:28] KevinMuessig commented on #2754
Hi @yanniks,

Apologizes for taking care of that so late.

Please let me know if this is still an issue.

Thanks,

Kevin

[2019-02-28 09:02] julieplummer20 commented on #3080
Hi all, I have simplified the validation and pushed this to QA. If it looks OK, I'll submit the Pull Request pronto. Thanks for the feedback, [Baerbel](https://github.com/BaerbelW) - makes the tutorials more robust. (PS I'll look at the other issue, re SEPM_DG asap).
Julie.

[2019-02-28 09:15] yanniks commented on #2754
Hi @KevinMuessig,

no problem.
Unfortunately, this problem still exists, but it was not a high priority for us as we are not yet sending push notifications. For testing, I authenticated using Basic Authentication but OAuth would be the preferable way to go. When creating the OAuth Client, I selected `hanamobileprod/mobilejava` as subscription type, maybe that's wrong?

Thanks,
Yannik

[2019-02-28 09:39] xtough opened #3151 "Use abapGit to Transform ABAP Source Code to the Cloud"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-abapgit.html

The questionnaire in the last step has the wrong answer: I need a Github user, not a Google account, to create a new Git repository.

[2019-02-28 11:24] julieplummer20 commented on #3072
Thank you. I don't have many people messaging me on Slack, but email and GitHub are both fine - whichever of those 2 works for you.
Cheers Julie.

[2019-02-28 12:19] julieplummer20 commented on #3142
Hi Baerbel, I have asked for a list of all objects filled by each tx. In the meantime, you can try SEPM_DG_OIA, SEPM_DG_OIA_NEW or tasklist STC01 -> SAP_BASIS_EPM_OIA_CONFIG .
Otherwise, I 'll look into this when I get back.
Best wishe sJulie.

[2019-02-28 12:31] dtrefzer opened #3153 "Create a Business Service with Node.js using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Hello and thanks a lot for the great tutorial!
This node-functionality for the application programming model was exactly what we are looking for to migrate our products to the SAP cloud platform.
I have one question though:
We rely heavily on Function Imports for our OData services. Is there a way to implement a

[2019-02-28 12:32] anishgupta85 commented on #3150
Hi ,
Did you really log in to the developers.sap.com and are shown above on the extreme right as the user?
Regards,
Anish

[2019-02-28 12:59] anishgupta85 commented on #3148
Hi,
Did you build the image in the directory where you downloaded the developer edition?
Regards,
Anish

[2019-02-28 13:31] Apfohlmann commented on #3153
Hi @dtrefzer,

thank you for asking the question.

I just looked it up at help.sap.com: [https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/a3c9699ea82a42d4bae0b1babf231015.html](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/a3c9699ea82a42d4bae0b1babf231015.html)

Does this help you?

[2019-02-28 14:00] BaerbelW commented on #3142
Hi Julie,
thanks for the alternative transactions. I ran the underlying program for SEPM_DG_OIA_NEW (couldn't execute the TCode) and now the invoice table does have entries. Some documentation for the programs would help to really know which tables get flled with data - but that's a different topic I guess!

[2019-02-28 14:57] dtrefzer commented on #3153
Hi @Apfohlmann,

thanks for your fast reply.
You pointed me in the right direction there: we will handle function imports with a call of srv.use((req, res, nect) =>...) for the time being. Maybe they will be added to srv.on() directly in the future.
But we can work with that and thanks again for your help.

Kind regards,
Dominik Trefzer

[2019-02-28 15:00] Apfohlmann commented on #3153
Hi @dtrefzer,

I am happy to help.

@thecodester you can close this issue.

Best regards,
André

[2019-02-28 15:20] thecodester commented on #3153
@dtrefzer If you are happy with Andre's help, feel free to close the issue. Thanks for the feedback.

[2019-02-28 15:23] RandomThis commented on #3150
Hi Anish,
Yes I did. Tried again this morning to be sure. Same result. FYI my user name is different on SAP Community than here, but linked to the same email address.  When logged into developers.sap.com, I only see my name if I hover over the little user icon in the upper right of the screen.

More info: I have tried in 2 different browsers: Chrome and Vivaldi. In Chrome I initially had a script

[2019-02-28 16:03] anishgupta85 commented on #3150
Hi Margaret,
I am also using chrome and I don't have any problems.
Please restart your system or update the version of chrome.
Regards,
Anish

[2019-02-28 16:41] ssurampally opened #3154 "Deploy SAP HANA as a Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-deploying-haas.html

I understand from this tutorial header note that, deploying HANA service on trial account is not available at this point of time, but I can use a service called  "HANA Schemas and HDI containers" right?  What difference it is going to make with these 2 services?

[2019-02-28 18:05] dash042 commented on #3148
Hi Anish,

yes.

___
Sent from my mobile

[2019-02-28 18:33] #3153 closed

[2019-02-28 19:55] entmike commented on #2234
Thank you @lbe for posting this.  The HXE docker tutorial was not ever updated to talk about supported filesystems but I managed to Google my way to this page thanks to your post.

[2019-02-28 19:58] BerndKaestner opened #3155 "Generate sensor data in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-pipelines-part01.html

Dear Anish,
In this tutorial I miss the buttons to complete each step like in the other tutorials, labeled as "Done". You can find an example in the attachment. Without these buttons the progress cannot be captured and the tutorial cannot be marked as complete.

Thanks and best regards,
Bernd
![complete_butt

[2019-02-28 22:37] rbrainey commented on #2882
Fixed these issues, although I had to contact the BUILD team, as there's a permissions problem with the link to the SAP Employee instructions for resetting a BUILD password.

[2019-02-28 22:50] rbrainey commented on #2959
There's something about the BUILD account structure that we're working to integrate into our tutorial.  For now, you can safely enter "standard" as the answer to that question. A different organization membership won't have any impact on your downstream usage of BUILD.

Thanks,

Riley

[2019-03-01 07:40] shenjiansj opened #3156 "Test Run with unknown errors when Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

Hi Experts,
I am developer from SAP China and do some research on the CAP when developing on SCP.
I just follow the tutorials and create my project with CDS and services, but when I test run it as JAVA application, it returns error that I could not solved, could you please help? The error is below:
Service p

[2019-03-01 14:27] prabhatpathania opened #3157 "Create Hyperledger Fabric Service Keys"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-hlf-servicekeys.html

Please specify the step you are referring to:

Step 2: Create service key
Images are not available.

[2019-03-01 15:32] Lsubatin commented on #3156
Hi Jay,
Please refer to the community (answers.sap.com) for this kind of support. The service is now back up:

[https://answers.sap.com/questions/772873/cloud-foundry-trial-failed-to-bind-hdi-container.html](https://answers.sap.com/questions/772873/cloud-foundry-trial-failed-to-bind-hdi-container.html)

Best,
Lucia.

[2019-03-01 15:32] #3156 closed

[2019-03-01 16:49] ksadayan opened #3158 "SAP HANA XS Advanced - Package your MTA application for transport"
Tutorial URL: https://developers.sap.com/tutorials/xsa-mta-package-transport.html

Transporting in Phases:
If I want to transport only the changes instead of the entire development artifacts, what options do I have ?

[2019-03-02 00:49] RandomThis commented on #3150
Hi Anish, I have tried restart, cleared cache, different computer. I now tried other tutorials. None of them work. I am definitely logged in on developers.sap.com and have an active SAP community profile.
This is apparently not an issue with your tutorial, but the tutorials in general not working for me. Is it possibly because I am logged in with P# rather than S#?

[2019-03-02 11:37] mts2605 opened #3160 "Create your own Fiori Launchpad"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-fiori-create.html

Please specify the step you are referring to - Step 8 - Update the SAPUI5 version

After selection "Custom" - and waiting for minutes - the field for selecting 1.40.18 is blank / there are no values to select.

What to do?

![empty](https://user-images.githubusercontent.com/43760831/53681354-bcda1980-3ce8-11e9-8993-c

[2019-03-02 12:30] mts2605 opened #3161 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-build-import.html

Please specify the step you are referring to. Step 1 - Enable BUILD Services
Can't figure why the link to the service will not be validated.
Some kind of trick to know here?

[2019-03-02 12:51] mts2605 opened #3162 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-build-import.html

Please specify the step you are referring to Step 5
Plugins are now called "Extensions"

So just a hint.

[2019-03-02 17:55] mts2605 opened #3163 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-build-import.html

Please specify the step you are referring to step 9 "Run your application"

The app is not working. Get error like this;

"
Request failed
\{
	"requestUri": "/here/goes/your/serviceUrl/local/$metadata?sap-language=EN",
	"statusCode": 404,
	"statusText": "",
	"headers": [],
	"body": "HTTP Status 404 - Not Found"
}
"
P

[2019-03-03 09:36] thecodester commented on #3157
I see the images. Perhaps clear cache and reload?

[2019-03-03 20:22] julieplummer20 commented on #3142
Hi Baerbel, Thanks for testing this. Am now on holiday w/ limited wifi. Will look into this when I’m back.

[2019-03-03 22:13] BerndKaestner opened #3164 "Store sensor data in SAP Vora in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-pipelines-part04.html

Dear all,
In Step 2: Configure the SAP VORA Loader Operator you have to specify the different parameters for the SAP VORA Loader Operator. As I use the Google Could Storage I need to set the parameter "Storage service" to GCS but there is no such option in the value help. S3 seems to be support but not GCS.

[2019-03-04 09:55] anishgupta85 commented on #3155
Hi Bernd,
In this tutorial we did not put the done buttons explicitly as there was not a possibility for a question that could be asked.
That's why we left it.
Regards,
Anish

[2019-03-04 10:05] anishgupta85 commented on #3148
Hi ,
Actually you are trying to run the base image and this will not work.
Could you first try to run the below command?
docker run -ti --env VORA_USERNAME=admin --env VORA_PASSWORD=admin --publish 127.0.0.1:8090:8090 --publish 127.0.0.1:9225:9225 --publish 30115:30115 --name datahub --hostname datahub --network dev-net datahub run --agree-to-sap-license
Regards,
Anish

[2019-03-04 12:07] dash042 commented on #3148
Hi,
I did the following:
1. I downloaded DEV-Edition & unzipped it
2. In the unzip directory I reveled over my new files: `dev-edition-base.Dockerfile  Dockerfile  **files**  **kubernetes**  **readme**`
3. I executed the command: `docker build --tag datahub .`
4. I got annoyed over the following error:
[code]
5. I read the README.md and realized I had to create 2 images... both of which didn't wor

[2019-03-04 12:22] anishgupta85 commented on #3148
Hi Daniel,
Let's try the following:-
1. Issue the command for creation of the base image docker build --tag sapdatahub/dev-edition-base:15.0-01 -f dev-edition-base.Dockerfile .

2. Issue the command for creation of the final image docker build --tag sapdatahub/dev-edition:2.4 .

3. docker run -ti --env VORA_USERNAME=admin --env VORA_PASSWORD=admin --publish 127.0.0.1:8090:8090 --publish 127.0.0.1:

[2019-03-04 13:57] nilpeksen opened #3167 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

Build service up and running however not possible to complete tutorial without copy paste link.
Link variations are not working. Get Started with SAP UI Development mission completed but this step :)
Thank you

[2019-03-04 14:20] nilpeksen commented on #3011
thank you for your helpful answer, I was going crazy before your answer @CESolomon

[2019-03-04 14:22] nilpeksen commented on #3167
Solved with https://account.hanatrial.ondemand.com/cockpit#/acc/(my account name)/service/build/overview thanks to @CESolomon

[2019-03-04 14:23] #3167 closed

[2019-03-04 15:01] dash042 commented on #3148
Hi Anish,

I have tried these exact commands.
I also tried something different - the ARG problem should have clued me in... I updated to the latest docker CE version and built the image again.

However...  the errors I posted earlier remain and the start fails trying to connect to 172.18.0.2:2202 - i.e. the container's IP.
![image](https://user-images.githubusercontent.com/11177097/53741446-b42746

[2019-03-04 15:09] anishgupta85 commented on #3148
Hi Daniel,
Did you create the network as shown below:-

docker network create dev-net

Regards,
Anish

[2019-03-04 15:23] dash042 commented on #3148
Yes - if not the run command would have failed:

NETWORK ID          NAME                DRIVER              SCOPE
8200a147b2db        dev-net             bridge              local

[2019-03-04 15:45] nilpeksen opened #3168 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Sorry for opening this issue again but problem is going on :(
This time  efreshing page, working in different browsers etc nothing works.
Here is the code which gives an incorrect answer.

onInit: function () {
this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
this.oRouter.getTarget("1472700396090_S1").attachDispla

[2019-03-04 16:54] peterpersiel opened #3169 "Create Custom UI for S/4HANA on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-ui-tile.html

Images are defect

[2019-03-04 20:09] rahul4sap opened #3170 "Install Optional Packages"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-packages-vm.html

SAP HANA smart data integration | Install the Optional SAP HANA Smart Data Integration Package for SAP HANA, express edition

Link is broken

[2019-03-04 20:16] datajohngraham opened #3171 "Store sensor data in Cloud Storage in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-pipelines-part02.html

Please specify the step you are referring to

One step is missed in the write up.    When connecting read file to 'to_string', image shows connect to terminal operator,  but steps to connect to terminal are not written.

[2019-03-04 23:44] RandomThis commented on #3150
Hi Anish, I found the problem. I was connecting via a VPN. I haven't noticed any other issues with sap.com when I connect via VPN (my normal connection). But I could not get these tutorials to work. So I disconnected the VPN and connected directly through my ISP and now it is working.  I will close this issue. But it would be good for the tutorials to work even when connected by VPN.

[2019-03-04 23:44] #3150 closed

[2019-03-05 05:31] thecodester commented on #3170
@JCurrie27 Can we modify the title to "Install Option Packages for SAP HANA, express edition"?

[2019-03-05 05:37] thecodester commented on #3169
@mervey45 Many of the pictures are 0 bytes. Also, the QA version is much different than production -- are you in the middle of updating?

[2019-03-05 05:39] thecodester commented on #3011
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-03-05 05:39] #3011 closed

[2019-03-05 05:41] thecodester commented on #3155
@anishgupta85 For install-type tutorials, it is worth putting in DONE buttons only. Can you add?

[2019-03-05 07:50] mervey45 commented on #3169
@thecodester This is Niloofars tutorial, but she isn't there anymore, due to her pregnancy. We had a lot of issues. When the users delete their caches, the images appear again. I don't know what the cause is. And I'm not in the middle of an updating process for this tutorial.

[2019-03-05 08:13] thecodester commented on #3169
The cache issue I can take care of.

But if you look at the images in GitHub, many are 0 Bytes, I assume the ones updated 15 days ago. Can you check why? And why is the version in QA -- at least images -- different from the version in production?

![image](https://user-images.githubusercontent.com/11659786/53790140-ebe1cc80-3f2e-11e9-8701-efbfb0c397db.png)

@mstmustisnt Can you check this out and

[2019-03-05 08:18] mervey45 commented on #3169
@thecodester I'll check it. Maybe Niloofar did some changes.

[2019-03-05 09:13] shenjiansj opened #3173 "Create a Business Service Using CDS"
Hi Experts,

I am a developer in SAP and I run in a real SCP environment and purchase HANA service and hdi container, when I get started to build my project following the tutorials, I face some errors:

1.When I run srv as java application, it returns error like: [INFO] --- exec-maven-plugin:1.6.0:exec (npm run build) @ POC-srv --- npm ERR! missing script: build

2.When I build my simple db packag

[2019-03-05 09:36] mervey45 commented on #3169
@thecodester
This is the QA folder:
![image](https://user-images.githubusercontent.com/27953324/53795447-4cbed400-3f32-11e9-9443-d52e853aa0bb.png)

And this is my fork:
![image](https://user-images.githubusercontent.com/27953324/53795525-7677fb00-3f32-11e9-9a93-bf762e81fb0b.png)

Should I just trigger the everything for this tutorial again?

[2019-03-05 09:53] thecodester commented on #3169
@mervey45 Are you looking at abap-custom-ui-tile? From the screenshots it doesn't seem so.

[2019-03-05 10:02] mervey45 commented on #3169
@thecodester  Ok, I see it now. I think Ulrike Liebherr did some changes there. Should I just republish this tutorial?

[2019-03-05 10:08] thecodester commented on #3169
Probably the best. Just make sure the tutorial is updated and ready to be published.

[2019-03-05 10:16] mervey45 commented on #3169
@thecodester Ok, I'll do that.

[2019-03-05 14:21] luto65 opened #3176 "UI5 package for oxygen ?"
Hi, I would like to install the UI5 components for oxygen release of eclipse.
In the tutorial only "luna" is shown
https://tools.hana.ondemand.com/luna

I've tried
https://tools.hana.ondemand.com/oxygen

but there is no UI5 package there.

Does it means that eclipse support of UI5 development is only for "luna" ?

[2019-03-05 14:23] IObert commented on #3040
This issue solved be resolved by #3175, please confirm that you can see blue "Done" buttons after each step.

[2019-03-05 14:43] mjturnr opened #3177 "Try Out SAP Cloud Platform SDK for Android Wizard"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-wizard-app.html

None of the images included in the tutorial are visible - they all return a 404 when accessed.

[2019-03-05 14:46] xtough opened #3178 "Create a UI that Consumes an Exposed ABAP Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-webide-ui-generation.html

all images broken (404)

[2019-03-05 16:18] dash042 commented on #3148
got it **working**:
1. re-created image(s) & network after docker CE update
2. changed port publishing to 0.0.0.0 (see below)

`docker run -ti --env VORA_USERNAME=vora --env VORA_PASSWORD=password123 -p 8090:8090 -p 9225:9225 -p 30115:30115 --name datahub --hostname datahub --network dev-net sapdatahub/dev-edition:2.4 run --agree-to-sap-license`

I still get errors documented above - but now I get

[2019-03-05 16:40] thecodester commented on #3177
I see all the images. Clear your cache perhaps?

[2019-03-05 16:47] thecodester commented on #3178
Checking ...

[2019-03-05 16:51] thecodester commented on #3176
Is this about a tutorial? These types of questions are generally best asked in the Answers hub -- https://answers.sap.com/index.html.

[2019-03-05 16:52] thecodester commented on #3148
If you are satisfied and the issue is resolved, please close the issue. Thanks.

[2019-03-05 16:55] mervey45 commented on #3178
@thecodester I can see the pictures. Maybe cache problems?

[2019-03-05 16:56] thecodester commented on #3178
I can also see them now

@xtough Can you see them now?

[2019-03-05 19:13] JCurrie27 commented on #3170
Broken links have been fixed.

[2019-03-05 19:13] #3170 closed

[2019-03-05 21:37] RandomThis commented on #3155
@anishgupta85 : this tutorial is part of a "mission" but the mission cannot be completed unless this tutorial is marked as completed. As is, there is no way for the tutorial to be marked as completed.  Can you please add a similar question as you have at the end of the next part, like:

** Open the output Terminal. Copy any row from the output and paste it in the frame below and click on Submit An

[2019-03-06 06:28] xtough commented on #3178
yes, it is working again, even though I was sure that I had refreshed my local cache before. maybe a server-side issue.

[2019-03-06 06:28] #3178 closed

[2019-03-06 07:41] xtough opened #3179 "Maintain a Communication Arrangement for an Exposed Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Step 11: Basic Authentication does not work. I always get the UAA redirect in Postman:
[code]

[2019-03-06 07:41] xtough commented on #3179
same for colleagues of mine.

[2019-03-07 10:33] nbnayak88 opened #3181 "Tour the SAP Community"
Tutorial URL: https://developers.sap.com/tutorials/community-start.html

Please specify the step you are referring to  Step 5 shows technical error while submitting

[2019-03-07 11:07] nbnayak88 opened #3182 "Getting started with the SAP API Business Hub"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-getting-started.html

Please specify the step you are referring to

Step 2: Open SAP API Business Hub

Go to service option not available

[2019-03-07 11:09] nbnayak88 commented on #3182
Resolved it, I didn't click the respective account

[2019-03-07 11:13] thecodester commented on #3182
Do you mean you were not signed in?

[2019-03-07 11:13] #3182 closed

[2019-03-07 12:19] mjturnr commented on #3177
They're working for me now - thanks (I didn't even need to clear my cache :)

[2019-03-07 12:19] #3177 closed

[2019-03-07 12:30] mahabaleshwarhnr commented on #2908
@KevinMuessig  any update on issue?

[2019-03-07 15:30] #3148 closed

[2019-03-07 15:54] dash042 opened #3184 "SAP Data Hub, developer edition 2.4 - SCOPE"
What is the scope of the Developer Edition? I
I can't seem to find most of the components shown in the openSAP presentation about the Datahub Launchpad:
- "Connection Management"
- "Metadata Explorer"
- "Systems Management"
- "Monitoring"

The only components I see are:
- "Vora Tools" (port 9225)
- "Modeler" (port 8090)

Where can I find (first and foremost) the "Connection Management"?
Does is be

[2019-03-07 19:11] anishgupta85 commented on #3184
Hi,
Developer edition is just  to provide the glimpse of operators in the modeler  and vora component. Hiw to work with pipelines and stuff.
If you want to learn about the full fledged SAP data hub with the other components you mentioned then you need to spin up the trial mentioned in the opensap course.
Regards,
Anish

[2019-03-07 19:53] scurry888 opened #3185 "Create a sample application on SCP Neo using SAP S/4HANA Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-scp-neo-sample-application.html

Please specify the step you are referring to:

*** I am able to get 'remote deployment'(step 6) to work, but not 'local deployment' (step 5).  I'm trying to use IIS on Windows 10.  Should I be using Tomcat instead?

[2019-03-07 21:31] I811644 opened #3186 "Import the OVA"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-ova-vm.html

Please specify the step you are referring to
Following the HXEDownloadManager's downloading in the previous step, the tutorial directs one to open a Virtual Machine -- but the VMware Player is not on the laptop.

What is the missing step needed to fully install the VMware player and perform the Import OVA step?

[2019-03-08 08:02] mts2605 commented on #3144
Look very much forward to response to this, and my, questions regarding this issue...

[2019-03-08 08:24] mts2605 opened #3187 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to
In step 9 - Validate your initialization function
The validation of the OnInit function fails. I've tried it several times without luck.
Is there an error in the validation, or have I misunderstood the step?
KR Michael

[2019-03-08 10:09] pfefferf opened #3188 "Tutorial "Implement A Card With Content-Based Actions" cannot be completed"
The tutorial "Implement a Card With Content-Based Actions" (https://developers.sap.com/tutorials/cp-mobile-cards-content-actions.html) cannot be completed, because for step 3 no "complete" button is available.

BR,
Florian

[2019-03-08 10:20] pfefferf opened #3189 "Tutorial "Perform Text Analysis with SAP HANA Express Edition" - Graph Creation Issue"
In tutorial "Perform Text Analysis with SAP HANA Express Edition" (https://developers.sap.com/tutorials/hxe-docstore-05-graph-analysis.html) the last point of step 7 (Create Graph Workspace) is not working, because of following points:
- The source column name must be upper case: SOURCE COLUMN "src_id" -> SOURCE COLUMN "SRC_ID"
- The target column must be upper case: TARGET COLUMN "dest_id" -> TAR

[2019-03-08 16:43] #3186 closed

[2019-03-08 16:43] I811644 commented on #3186
My error - skipped a step

[2019-03-08 18:29] DutchKevv commented on #2234
It doesn't work on the newest docker version. Anyone found a solution?

[2019-03-09 12:44] ZEdwin opened #3191 "Upload and query documents in SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-02-query-jsondocs.html

Step 2: Insert JSON documents into Document Store

Maybe a known issue, but I use the WebIDE SQL editor to enter the data. When copying the code to insert the records, I had some issues.
I had to replace the single quotes around the values with double quotes and add single quotes at the start and end of the sta

[2019-03-09 16:33] DuoBelt opened #3192 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Please specify the step you are referring to
Step 2: Create CDS Table
Save the artifact after entering this code. Go back to the graphical editor to gain better clarity of the data model.

Save the artifact after entering this code `**close-> open tab or refresh  in (SPS03)**`
Go back to the graphical editor to gain better cla

[2019-03-10 07:27] thecodester commented on #3188
@jitendrakansal The rules file had multi-choice instead of multiple-choice. Please be carefule.

@pfefferf Tutorial republished and you can finish it now. If there still is an issue with this tutorial, feel free to reopen.

[2019-03-10 07:27] #3188 closed

[2019-03-10 07:30] thecodester commented on #3144
@rbrainey @mhassett92 Any ideas here?

[2019-03-10 09:24] mts2605 commented on #3144
I tried the above mentioned also. First links tried was;

https://www.build.me/
https://www.build.me
https://www.build.me/splashapp
https://standard.build.me/

All failed...

[2019-03-10 11:56] thecodester commented on #3144
@Ksandala @mts2605 I have updated the tutorial. Can you try again? (One of those URLs is correct).

@rbrainey The rules used the regex-with-id-exact-match code and not the exact-match code (it would have been better for me to have used the contains code, but didn't think of it)

[2019-03-10 12:25] mts2605 commented on #3144
@thecodester Thanks, now it works for me;-)

[2019-03-10 13:33] NewFolk commented on #3003
As you wish. XSA did not start on DS918+ and I did not find any suitable log information.

[2019-03-10 14:45] Ksandala opened #3193 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to :  Step 9: Validate your initialization function.

Tutorial is not accepting the answer for this step, i have made changes as suggested in step 8 and copying the code from onInit() as answers to step 9. it comes as "Sorry, that’s incorrect. Please try again."

-Krishna Sandala

[2019-03-10 14:46] Ksandala commented on #3187
I too have same issue and looking forward for any solution on this.

[2019-03-10 14:48] Ksandala commented on #3144
@thecodester  thanks, It is  working fine now..!

[2019-03-10 14:48] #3144 closed

[2019-03-10 19:43] mts2605 commented on #3161
@thecodester , couldl You please do the same in this tutoriak as mentioned in
https://github.com/SAPDocuments/Tutorials/issues/3144 ?

[2019-03-11 05:57] thecodester commented on #3161
I fixed, but note that the URL you need is the URL to the overview page of the service in SAP Cloud Platform (not the build application). Can you try and let me know if it works for you? I have checked and works for me.

[2019-03-11 06:07] thecodester commented on #3187
I have updated the validation and if you take the code and beautify it with https://beautifier.io/ it will work.

If it doesn't please paste your code. We are essentially checking your oBindingParameters property within the onInit method.

[2019-03-11 06:09] thecodester commented on #3193
Duplicated in https://github.com/SAPDocuments/Tutorials/issues/3187

[2019-03-11 06:09] #3193 closed

[2019-03-11 06:35] mts2605 commented on #3161
@thecodester
Great, it works as intended;-)
Thank You

[2019-03-11 06:35] #3161 closed

[2019-03-11 08:27] JijoRoyJacob commented on #3111
Hi Pietro,
Sorry for the late response. The dev team colleague, I was following up with, could not replicate and also could not determine the cause of the issue you're facing. I created a brand new project followed the JPA tutorial and I was able to see the gen folder and all the succeeding steps worked as well. Kindly retest with a new project and please let me know if you still see the issue. If

[2019-03-11 10:22] mts2605 commented on #3187
I tried with this, after "beutifier,io"
_
onInit: function() {
    this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
    this.oRouter.getTarget("1472700396090_S1").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
    var oView = this.getView();
    oView.addEventDelegate({
        onBeforeShow: function() {
            if (sap.ui.Device.system.phone) {
                var oPage

[2019-03-11 12:18] amarpreet opened #3195 "Send the CPU usage data to SAP IoT Application Enablement"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-sendpy0.html

Please specify the step you are referring to
pushing data only returns a 202 message. I've tried modifying the payload. Hence i'm not able to see the data in the app

[2019-03-11 13:08] thecodester commented on #3187
@mhassett92 What we are looking for is simply this.oBindingParameters whereas what's here is much more complicated, and not sure what is the best way to solves. Can you suggest something?

[2019-03-11 20:08] mts2605 opened #3197 "Add a User Task and Generic UI to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-02-add-user-task.html

Please specify the step you are referring to step 9 - "Re-deploy the workflow definition and try it out"

I do not get any data shown. Deployment is fine with no errors.

![nodata](https://user-images.githubusercontent.com/43760831/54154248-c0d10e80-4441-11e9-9c87-0e4d7c82cd59.png)

What have i done wrong?

[2019-03-11 20:48] MaximilienFourmyBeyond opened #3198 "Grunt Build in SAP Web IDE: ES6 supported with new version of Grunt build"
Tutorial URL: https://developers.sap.com/tutorials/webide-grunt-basic.html

Hi,

There is a new version of "@sap/grunt-sapui5-bestpractice-build" (1.3.65) which now supports ES6:
https://stackoverflow.com/questions/49237874/const-and-let-declarations-in-ui5/55054360#55054360

[2019-03-12 09:35] jhornik commented on #3198
@MaximilienFourmyBeyond :

Thanks for bringing this to our attention. We are planning on updating the Grunt documentation in the SAP Web IDE Developer Guide and the tutorial you mentioned on Thursday, with the new release of SAP Web IDE.

Regards,
Julia

[2019-03-12 10:50] karstenmelato commented on #3185
It is recommended to use ‘local deployment’ for testing your application in a SCP-like environment; with similar behavior as having it run remotely on SCP Neo or CloudFoundry. This “SCP-like” environment is established with a modified tomcat container, which is started from a Maven plugin and includes particular SAP libraries into the application classpath.

Hence running your packaged application

[2019-03-12 12:08] onceup opened #3199 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Please specify the step you are referring to
screenshot's URL are broken, not visible

[2019-03-12 12:21] onceup opened #3200 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Please specify the step you are referring to

Screenshot's URL are broken

[2019-03-12 12:21] thecodester commented on #3199
I see the images. Can you refresh, maybe clear cache?

[2019-03-12 12:34] thecodester commented on #3200
This seems to be a duplicate. If you still need this issue, feel free to reopen.

[2019-03-12 12:34] #3200 closed

[2019-03-12 12:54] dellagustin opened #3201 "Installing SAP HANA, express edition Server + Apps, with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html

Please specify the step you are referring to

On step `docker pull store/saplabs/hanaexpressxsa:2.00.035.00.20190223.1` I am getting the error `Error response from daemon: manifest for store/saplabs/hanaexpressxsa:2.00.035.00.20190223.1 not found`

I'm running it on docker for desktop on windows, which is stat

[2019-03-12 18:12] socenmarc commented on #2925
I'm also getting this error in Central US. Maybe some datacenter restriction with hana database?

[2019-03-12 21:17] aplata-sap commented on #3201
Hi there,

Looks like the pull number is incorrect. It should be 2.00.036.20... A fix will be issued soon. Thank you for highlighting this mistake.

[2019-03-12 21:54] xochilpili commented on #2034
I have installed many times HANA Express on RHEL 7.6 (Maipo), got several & different errors, but finally here's an installation process that works out of the box :+1:
### Requirements

1. Machine requirements for SAP HANA Express. [Requirements here](https://developers.sap.com/topics/sap-hana-express.html)
2. Fresh Install of RHEL 7.6 (Maipo)

### Rhel 7.6 (Maipo) & Repos Configuration:
[code]

#

[2019-03-13 00:53] mpredolim opened #3204 "Add API Business Hub API to a UI5 Application"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html

Please specify the step you are referring to

Step 4 - Run your application.

When i run the app, i have CORS error and i can't see JSON results.

[2019-03-13 12:54] ZEdwin opened #3205 "Build a PHP app connecting to SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-04-php-app.html

Step 6: Run the PHP file

I get an error when executing the code. The message is:
"Base table not found;259 invalid table name: Could not find table/view FOOD_COLLECTION in schema SYSTEM".
Here's a screenshot:
![PHP_Error_001](https://user-images.githubusercontent.com/5278654/54279994-b3796880-4596-11e9-8e7b-a6c3d7351

[2019-03-13 14:43] ZEdwin commented on #3205
Uhm. The name of the table in the screenshot is not the one I use, btw. That was just another test of mine to check if the name in the eror would change after adapting the code (to see if I was changing the right file).

[2019-03-13 14:46] camilo2312 commented on #2647
I present the same problem, because it does not allow me to test the connection, implement the solution that was raised about the name and now I have a 404 error and I do not know what it could be

somebody help me please

[2019-03-13 15:14] thecodester commented on #2647
@VinoGandhiM Can you help here?

[2019-03-13 15:40] dellagustin opened #3207 "Installing SAP HANA, express edition with Docker - Ports"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html

Please specify the step you are referring to

This refers to _Additional Information_ and step _Start SAP HANA, express edition Container_ from both versions of the tutorial (with and without XSA).

The command for running the

[2019-03-13 15:50] MariusPlaceWorkers opened #3208 "SAP HANA XS Advanced, Creating a Node.js Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-xsjs-xsodata.html

I do not now at which point of the tutorial i make a mistake, so i can not speciefied the step.
When i try to run the node.js module in the end of the Tutorial i get an error

MaxListenersExeceedWarning: Possible EventEmitter memory leak detetected. 11 message Listeners added. Use emitter.setMaxListeners() to increase limit.

[2019-03-13 16:01] dellagustin opened #3209 "Installing SAP HANA, express edition with Docker - Networking considerations"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html

Please specify the step you are referring to

This issue is somewhat related to #2038

It refers to step "Log Into System or Tenant Database"

When running HANA express on docker, one will most likely want to connect to it from

[2019-03-13 20:13] eliasjsj commented on #2088
Hello! I´m having the same issue. And I´m sure that I´m executing the search right (Alt + F8).
My SAP_BASIS is 731 SP level 0018.
My Eclipse version is 2018-12 with the ABAP ADT tools for this version.

[2019-03-13 20:25] eliasjsj opened #3210 "Display database content and run SQL queries"
I am having an issue while entering a database table in eclipse. I followed the needed steps outlined in this link tutorial.

https://www.sap.com/developer/tutorials/abap-display-data-queries.html

STEP 2: Select a database table

I entered snwd_so_inv_item in the search field.
No result.

I read 's document.
https://www.sap.com/documents/2012/09/2a404253-5b7c-0010-82c7-eda71af511fa.html
I generat

[2019-03-14 05:32] VinoGandhiM commented on #2647
@lnoenssap can you help here?

[2019-03-14 09:27] lnoenssap commented on #2647
Hi @camilo2312 , please let me know on which environment you are facing this problem. Is it on the trial landscape, as used in the tutorial ?

[2019-03-14 09:40] thecodester commented on #2088
@olgadolinskaja Any ideas?

[2019-03-14 10:17] olgadolinskaja commented on #2088
Hi!
the tutorial is actually SAP NetWeaver 7.5-based. Data Preview in ADT is available with NetWeaver 7.4, that's why you don't get it with NetWeaver 7.31

[2019-03-14 10:32] julieplummer20 commented on #3210
Hi eliasjsj,
Yes, these tutorials were adapted from a CodeJam. We used a different tx to generate the data: SEPM_DG_OIA_NEW . Can you please try this, or failing that tasklist : STC01 -> SAP_BASIS_EPM_OIA_CONFIG ?
I'll update the prerequisites accordingly.
Best wishes
Julie.

[2019-03-14 10:33] julieplummer20 commented on #3210
Just fyi : Report underlying the Tx SEPM_DG_OIA_NEW = RS_EPM_DGC_HANA_NEW .
BR Julie

[2019-03-15 03:21] kavishdahekar opened #3215 "SAPUI5 - Setup the DataSource in the local application"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

There's no "Done" button on the page for recording my progress. The progress always stays at 0%.

[2019-03-15 15:49] JOPereyra opened #3217 "Get a Free Trial Account on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-trial-account.html

Please specify the step you are referring to

buen dia. porque no se actualizan los porcentajes de los tutoriales si ya jan sido realizados?

gracias

[2019-03-15 17:10] VenkateshhKonduri opened #3218 "Create and Run an ABAP Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-create-basic-app.html

Please specify the step you are referring to --> Step 11

I tried the following code but it shows incorrect.

Class Demo definition.
Public Section.
class-methods: Main(r_result) type ref to Demo.
protected section.
private section.
EndClass.

Class Demo implementation.
method Main.
r_result = new Demo( ).
endmethod.
en

[2019-03-15 19:25] mts2605 commented on #3135
Perfect assistance here.
When my file was changed to like below - it all worked!
_
    {
      "path": "SAP_Gateway/sap/opu/odata",
      "target": {
        "type": "destination",
        "name": "SAP_Gateway",
        "entryPath": "sap/opu/odata"
      },
      "description": "SAP Gateway ES5"
    }
  ],

[2019-03-16 14:17] MariusPlaceWorkers commented on #3208
Okay i have fixed it. My problem was that i used the firefox browser instead of Chrome. In the Firefox was no Database explorer available.

So if somone else got also problems try to use chrome and set the setting that the cerificate form your hana system is okay.

[2019-03-17 06:00] thecodester commented on #3208
Thanks for the feedback. If the issue is resolved, please close the issue, thanks.

[2019-03-17 06:04] thecodester commented on #3135
@Mohanmk1 If the issue is resolved, please close the issue.

[2019-03-17 06:07] thecodester commented on #3217
What do you mean percentages? Where do you see them not updating?

[2019-03-17 14:21] jhornik commented on #3198
The tutorial has now been updated (with Thursday's release).
https://developers.sap.com/tutorials/webide-grunt-basic.html

[2019-03-17 17:15] benuantony commented on #3111
Hello Jijo,

I had struck up with the same issue mentioned by Pietro during the build. (step 10 of Use JPA in Custom Logic)

import com.sap.demo.bookshop.jpa.my.bookshop.Books;
import com.sap.demo.bookshop.jpa.my.bookshop.Orders;
I see the error message: "error: JAVA: the import com.sap.demo cannot be resolved".

There is something missing or misleading in the documentation.

Regards,
Benu

[2019-03-17 17:32] #3208 closed

[2019-03-18 02:53] JijoRoyJacob commented on #3111
Hi Benu,
Are you testing this from your trial account?

Best regards,
Jijo

[2019-03-18 06:44] shenjiansj opened #3220 "Could not access the SAP Corporate Nexus system. Make sure the system destination is properly defined."
Hi,

When I create a business service using CDS and try to deploy to my SCP cloud foundry space, the WEBIDE reports error like:
Could not access the SAP Corporate Nexus system. Make sure the system destination is properly defined.
And the console ouput:
Could not resolve dependencies for project sap:Selfbilling_monitor-srv:war:1.0-SNAPSHOT: Failed to collect dependencies at com.sap.cloud.servicesd

[2019-03-18 06:59] thecodester commented on #3220
What tutorial are you referencing?

[2019-03-18 07:00] thecodester commented on #3198
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-03-18 07:00] #3198 closed

[2019-03-18 07:22] shenjiansj commented on #3220
https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

[2019-03-18 07:54] mpern opened #3221 "Connect to SAP HANA, express edition using JDBC"
Tutorial URL: https://developers.sap.com/tutorials/hxe-connect-hxe-using-jdbc.html

Please specify the step you are referring to

Step 1: Install the SAP HANA client

The link to the SAP Store is broken. Isn't there an easier way to get my client libraries?

[2019-03-18 08:15] julieplummer20 commented on #3142
Hi Baerbel, I have asked colleagues for a list of which objects are filled by which transaction / report.
This may become available in time. In the meantime, I have edited the prerequisites to include the correct tx.
Do you mind if I close this issue, since I don't think I can do any more from my side at present?
Thanks for all your feedback - it is really helping us.
Julie.

[2019-03-18 08:16] julieplummer20 commented on #3210
Hi Eliasjsj,
How did you get on after running the transaction?
I hope it worked. If so, do you mind if I close this issue?
Thanks Julie.

[2019-03-18 08:18] mpern opened #3222 "Installing SAP HANA, express edition with Docker - Barely useful"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

Please specify the step you are referring to:

There is no specific step

The whole setup guide is quite anemic and unfortunately only covers the most basic steps, that are already covered by basically any other Docker tutorial.

What I would like to know is:

- How does the Dockerfile look like?
- What scripts et

[2019-03-18 08:41] julieplummer20 commented on #3218
Hi Venkata,
Sorry, you're not doing anything wrong. The validation engine is currently case-sensitive. We are working on changing this.
Therefore, please enter the code in the same case as in the sample code. START-OF-SELECTION. is uppercase. The class=>method statement is all lowercase. I will look at changing the question, until the validation is improved.
Sorry for the inconvenience.
Best wishe

[2019-03-18 08:43] julieplummer20 commented on #3141
Hi Baerbel,
Again, SEPM_DG_OIA_NEW or report RS_EPM_DGC_HANA_NEW should work.
I'll fix the link.
Is it ok if I close this?
Thanks Julie.

[2019-03-18 09:03] julieplummer20 commented on #3218
Also, just the 2 lines : event, class + method. You don't need to  the class definition / implementation blocks.
BR Julie.

[2019-03-18 09:13] thecodester commented on #3053
This may be a more general question and not about the tutorial itself. Feel free to continue the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-03-18 09:13] #3053 closed

[2019-03-18 09:16] thecodester commented on #3072
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-03-18 09:16] #3072 closed

[2019-03-18 09:16] thecodester commented on #3080
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-03-18 09:16] #3080 closed

[2019-03-18 12:10] tmundt opened #3227 "Continue Your OData Exploration with EPM"
Tutorial URL: https://developers.sap.com/tutorials/odata-02-exploration-epm.html

Please specify the step you are referring to: Step 1 Find the EPM OData service
How are the credentials (username/password) to log on to the demo system?
It is not explained (not visible to me) in the tutorial.

Thank you!

[2019-03-18 13:54] thecodester commented on #3227
IT's the credentials you created for the Gateway service, no?

[2019-03-18 15:18] mpern opened #3231 "Installing SAP HANA, express edition with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

Please specify the step you are referring to

Step 11: (Optional) Log Into System or Tenant Database

---

The JDBC URLs have the wrong format, they should look like this:

[code]
(notice the `?` in front of `databaseName`)

And a link to the JDBC Connection Properties would also be nice

https://help.sap.com/view

[2019-03-18 15:56] zouzounos opened #3232 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Have completed step 8 and i try to run the app. oData batch request fails with message:

\{
	"message": "HTTP request failed",
	"headers": \{
		"Content-Type": "application/xml;charset=utf-8",
		"content-language": "en-GB",
		"Content-Length": "242"
	},
	"statusCode": "500",
	"statusText": "Internal Server Error",
	"respons

[2019-03-18 17:45] JCurrie27 commented on #3221
mpern - can you try the SAP Store link again? It should open a page asking if you want to stay on the United States site, or choose another country or region.

[2019-03-18 17:58] JCurrie27 commented on #2034
Hi @xochilpili - could you post your installation process -- and your unresolved installation issues, in the Questions and Answers community? ([https://answers.sap.com/questions/ask.html](https://answers.sap.com/questions/ask.html)) When prompted for a primary tag, search for "express" and choose SAP HANA, express edition.

[2019-03-18 19:29] #3201 closed

[2019-03-19 13:56] rkonnerth opened #3235 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Please specify the step you are referring to:
Step 4: Change the runtime from Tomcat to TomEE

Hi @JijoRoyJacob

I have some trouble completing this tutorial.
I could complete steps 1 and 2. Meaning that I could see the generated JPA classes in srv/src/gen...

I did all the changes described in steps 3 and 4, built the co

[2019-03-19 14:25] JCurrie27 commented on #3231
Thanks for these corrections. The JDBC URLs were corrected in hxe-ua-install-using-docker and hxe-ua-install-using-docker-xsa. A link was added to the JDBC connection properties topic.

[2019-03-19 14:25] #3231 closed

[2019-03-20 11:55] oluseguni opened #3237 "Start SAP HANA, express edition Server"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-getting-started-vm-xsa.html

Step 3: Log in

At the hxehost login prompt, enter hxeadm.
NO PROBLEM WITH ENTERING hxeadm

For Password, enter the temporary password HXEHana1.
PROBLEM: The system does not respond to my keyboard(except the Enter key). Unable to enter password HXEHana1

[2019-03-20 13:08] scurry888 commented on #3185
Thank you for your explanation and insight.

[2019-03-20 16:05] Sygyzmundovych commented on #3184
You can find the description of the Developer edition in https://blogs.sap.com/2017/12/06/sap-data-hub-developer-edition/

The scope of Trial edition is described in https://blogs.sap.com/2018/04/26/sap-data-hub-trial-edition/

Regards.

[2019-03-20 17:15] JCurrie27 commented on #3237
Hi @oluseguni: Two things to check:

1. Did you set your keyboard? HXE assumes your host machine is using a US-English QWERTY keyboard. If your keyboard is a different type, you need to specify it as described in the previous tutorial in the group: [https://developers.sap.com/tutorials/hxe-ua-keyboard-vm.html](https://developers.sap.com/tutorials/hxe-ua-keyboard-vm.html)

2.  Are you using VMWare?

[2019-03-20 18:46] mpern commented on #3221
Still doesn't work.

BTW, newer driver versions of ngdbc are available in Maven (like they should be 😄 ), I think you should add a link to those + a compatibility matrix which driver to use with which HANA version.

https://mvnrepository.com/artifact/com.sap.cloud.db.jdbc/ngdbc

[2019-03-20 19:04] JCurrie27 commented on #3221
@Lsubatin - is there a location-agnostic link we use for the SAP Store so users can download HANA client software packages? It appears the link in the tutorial doesn't work for users in all countries.
Can you respond to the Maven repository / compatibility matrix request?

[2019-03-21 00:52] oluseguni commented on #3237
Hello . I tried with the US keyboard option and UK keyboard option.
In both cases I was able to enter the login id hxeadm and then press enter.
After pressing 'enter' the next line with Password:  appears. Then the system does not respond to any keys except 'enter'.

[2019-03-21 00:57] oluseguni commented on #3237
I initially tried using the VMware Workstation PRO. I have also tried using the  VMware Workstation 15 player and still had the same issue

[2019-03-21 10:58] JCurrie27 commented on #3237
@TerryNing - could your team please investigate this reported password entry problem on the VM image?

[2019-03-21 17:19] scurry888 commented on #3185
Karsten - I decided to re-open the issue:  I get a 404 when I try to navigate to http://localhost:8080/hello in the Chrome browser.  Attached is the output from the mvn scp:clean scp:push -pl application command, along with logs from SAP's temporary Tomcat server:

[Mvn_clean_push_output.txt](https://github.com/SAPDocuments/Tutorials/files/2993182/Mvn_clean_push_output.txt)

[jpaas_audit_log.log](

[2019-03-21 17:28] roscoe44 opened #3239 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

I believe this page needs updating to reflect the latest versions of files. My manifest.json is at v1.8 vs v1.1 mentioned in the tutorial. I have tried to follow it but I am getting an error when trying to run a live version of the demo . . .

Failed to load UI5 component for navigation intent "#BUILD-prototype".

My _S1.co

[2019-03-21 19:27] mts2605 opened #3240 "SAPPHIRE - Create a cloud-native application in SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/xsa-e2e-sapphire-cloud-native.html

Please specify the step you are referring to "ALL steps" Why are there not any "Complete" buttons?

[2019-03-21 19:32] mts2605 opened #3241 "Build a mobile app from an SAP Web IDE template"
Tutorial URL: https://developers.sap.com/tutorials/hcp-template-mobile-web-app.html

Please specify the step you are referring to - All of them

There are no way to complete any steps. How come? (I am logged in)

[2019-03-22 05:34] eralper opened #3242 "Use SAP HANA Tools for Eclipse as SQL Query Tool with SAP HANA, express edition"
Tutorial URL: https://developers.sap.com/tutorials/mlb-hxe-tools-sql-eclipse.html

Please specify the step you are referring to

During connection setting in additional steps, I realized that 39015 port is added to the end of the host information on the other hand for SAP HANA Express multitenant databases the connection has 39013 as the port number

I cannot modify this port in the Eclipse IDE SA

[2019-03-22 06:38] karstenmelato commented on #3185
Hi,

“HTTP Error 404” shows us the web server is running, which is good.

For more recent versions of S/4HANA Cloud SDK, we changed the path on which the application is being hosted from “/” to “/[NAME]-application”. So assuming your application is called “firstapp” you will find your website on http://localhost:8080/firstapp-application/hello

[2019-03-22 08:04] amarpreet commented on #3195
Found the solution , i was suing the older version of the resource_sensor , Read  the text and followed instead of only looking at the screen shots :p

[2019-03-22 10:00] mpern commented on #3222
To answer my own question:

- The database bootstrap happens in the script `/run_hana.sh`
- The script has two "hook points", the folders `/hana/hooks/pre_start` and `/hana/hooks/post_start`. Any executable shell script in this folders gets executed before and after the startup is finished
- the `run_hana.sh` scripts also provides environment variables to the hook scripts to distinguish between in

[2019-03-22 11:12] ml5hj opened #3243 "Create a sample application on SCP Neo using SAP S/4HANA Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-scp-neo-sample-application.html

Please specify the step you are referring to: Step 5
I am trying to go through this but at this step I am unable to get the browser to display the login page. When I look back up the command prompt I see Errors
[ERROR] java version "1.8.0_201"
[ERROR] Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
[ERR

[2019-03-22 11:24] adadouche commented on #3242
Hi @eralper

When using the Eclipse plugin to connect to a tenant like HXE, an initial connection to the SYSTEMDB will be made to request the tenant port. Once done, it will be recorded in the Eclipse metadata.

39013 is the SYSTEMDB port.

So in fact you don’t need to set the ports (unless you are using some port forwarding mechanisms like NAT)

Hope this helps

[2019-03-22 13:09] eralper commented on #3242
Thank you @adadouche for response,
A friend on stackoverflow asked this question at  https://stackoverflow.com/questions/55261120/cannot-connect-to-sap-hana-express-db-using-eclipse-studio/55275332#55275332

I tried to simulate the case and I actually cannot connect to a SAP HANA Express edition which I obtained on AWS from Amazon AWS Marketplace

I installed the Eclipse on Mac and on Systems I tr

[2019-03-22 13:26] ml5hj commented on #3243
Information in tutorial is wrong.
Url to go to is http://localhost:8080/firstapp-application/

[2019-03-22 14:00] adadouche commented on #3242
Hi,
I checked you StackOverFlow post, and I think you are missing the HXE security group which allows remote connections.

Please refer to the following tutorial with **Step 3 - configure your Network** for more details: https://developers.sap.com/tutorials/hxe-aws-setup.html

[2019-03-22 14:01] scurry888 commented on #3185
Thanks, Karsten - that worked!

[2019-03-22 14:01] #3185 closed

[2019-03-22 14:07] scurry888 commented on #3185
For others' benefit:  Another issue I had encountered with this was symbolic link creation was failing until I ran my (Windows 10) command-window as an administrator: "Successfully created symbolic link to SAP CP Neo SDK: C:\SCP_Java_Projects\masssalesorders\application/scp/sdk -> C:\SCP_Java_Projects\masssalesorders\application/scp/sdk-1.44.12"

[2019-03-22 18:19] TonyDag opened #3245 "Create a CDS view (ABAP)"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html

Please specify the step you are referring to

Step 9: Test yourself - I was able to get my code to generate in eclipse, copied it into the work area, it submit,  get: Submit Answer
×
Sorry, that’s incorrect. Please try again.
Tried several different variations.
At some point we should be able to see the exact cod

[2019-03-23 07:27] eralper commented on #3242
Hello adadouche,
I can connect to HXE applications remote via browser on my computer

I copy down the security group settings allowing ports for remote access below

<img width="971" alt="Screenshot 2019-03-23 at 10 15 18" src="https://user-images.githubusercontent.com/26281964/54863148-fcc77600-4d55-11e9-973d-a7e601667010.png">

And I can launch Web IDE and connect to SYSTEMDB via Database Explor

[2019-03-23 08:40] eralper commented on #3242
I installed  Eclipse 2018-09 (4.9) first and then use https://tools.hana.ondemand.com/2018-09 for SAP HANA Tools and ADT, etc. I decided to go with these releases by looking at the table given at https://tools.hana.ondemand.com/
I doubt if I would have the same issues if I chose Oxygen release

[2019-03-23 16:10] Lsubatin commented on #3237
Please note that there will be no characters and the cursor will not move when entering the password in the console. It looks like it is not writing anything but it is.

[2019-03-24 03:07] oluseguni commented on #3237
Hello. Thank you for the information on how the cursor does not move when entering the password. I was expecting the cursor to move and perhaps show the characters *** when keying in the password. I have been able to proceed based on your information. Thanks.

[2019-03-24 03:07] #3237 closed

[2019-03-24 06:25] thecodester commented on #3243
@karstenmelato Can you address this and fix tutorial, as needed?

[2019-03-24 07:35] Lsubatin commented on #3240
Because this tutorial is not meant to have them.

[2019-03-24 07:35] #3240 closed

[2019-03-24 13:27] firfarmer opened #3246 "Set Up SAP Mobile Cards"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-setup.html

It appears that the image links are broken for all the tutorial steps.

[2019-03-25 06:11] thecodester commented on #3246
I see them now. Do you? If not, clear cache and try again.

[2019-03-25 07:36] mts2605 opened #3247 "Enable Services for Sales Tracker App"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-services-enable.html

Please specify the step you are referring to - Step 5 - Maybe it's me, but to my knowledge the step approval is not working. No matter which services I choose I get error. Is the validation working?
KR Michael

[2019-03-25 08:13] thecodester commented on #3247
Yes, the validation is working, I just tried it.

As far as I can calculate, there are 32 possible answer cobinations. Did you try all of them?

[2019-03-25 10:40] avonkorf opened #3250 "Create your own Fiori Launchpad"
Tutorial URL: https://developers.sap.com/tutorials/pre-teched-2018-fiori-create.html

Hello, I study Step 1: Go to Services. Unfortunately, there are no active pictures in the whole course. Please, check it.
Thank you.

[2019-03-25 12:21] AlexNecula opened #3252 "Build an SAP Fiori app with SAP Gateway data in SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-4.html

Please specify the step you are referring to
Step 19

App is staying in the loading screen(first screen) forever when running the app.
When I press check connection from destinations screen for sap gateway, I get status code 307. Is that what it should be?

[2019-03-25 16:46] russellw999 opened #3256 "Add an XML fragment for a tab in your app"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-6.html

Please specify the step you are referring to

Unfortunately this Tutorial from 2017 is tutorial 6 in a series of 10 SAP FIORI Tutorials and refers to a Detail View layout from an earlier version of the SAP Fiori Master Detail Template than used in tutorial number 4 ( Build and SAP Fiori App with SAP Gateway Data in SAP Web IDE

[2019-03-26 00:25] firfarmer commented on #3246
Yes, it looks like the links are working now...  thanks.

[2019-03-26 00:25] #3246 closed

[2019-03-26 03:56] JijoRoyJacob commented on #3235
Hi Reinhold,
Apologies for the delay. Just got back from my sick leave. To solve your problem, try increasing the memory quota of the service module in mta.yaml as show in the following screenshot:
![JPA-mta](https://user-images.githubusercontent.com/41678923/54970638-f5e47180-4fa8-11e9-99c9-7c21c8e58419.png)

Please let me know if it works.

Best regards,
Jijo

[2019-03-26 05:45] thecodester commented on #3256
I will remove the series until we can update it. Thanks for the feedback.

[2019-03-26 08:18] FreHu opened #3257 "Script blocked by uBlock origin prevents submitting answers"
Without disabling adblock, I cannot submit answers due to the following script being blocked:
![image](https://user-images.githubusercontent.com/5097067/54981100-c7b26200-4fa7-11e9-835c-3b857e750bd6.png)

![image](https://user-images.githubusercontent.com/5097067/54981177-f6303d00-4fa7-11e9-8118-3c8bf70ebd91.png)

I generally don't encounter problems like this and would like to be better informed

[2019-03-26 08:19] badichiniran opened #3258 "Create a Thing Model and Bind to Device"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-4-create-thing-model.html

Please specify the step you are referring to
in step 5 you have to click save before moving to connectivity.
if you don't click save you won't see the property sets (see pic)
![image](https://user-images.githubusercontent.com/4293806/54981264-8ecabb00-4fb0-11e9-966e-1cc50b8c2edc.png)

[2019-03-26 08:24] julieplummer20 commented on #3245
Hi Tony,
I can give you the solution. But we also want to improve the validation process. Please give me at least a couple of the variants you tried. I can either reword the question, or request that the validation engine be less strict - it depends what you wrote.
Thanks and best wishes,
Julie.

[2019-03-26 09:32] ganyang88 opened #3260 "Detailed Query Plan and Indexes"

[2019-03-26 09:36] ganyang88 commented on #3260
Sorry, My mistake.
It's my chrome's problem.

[2019-03-26 09:38] thecodester commented on #3257
Can explain exactly what you do and what happens? Do you enter answer, press Validate, and then get ad block? Or something else?

[2019-03-26 09:38] thecodester commented on #3260
Hope it straightens out.

[2019-03-26 09:38] #3260 closed

[2019-03-26 09:39] thecodester commented on #3260
@ganyang88 How did you know it was a Chrome issue?

[2019-03-26 09:48] ganyang88 commented on #3260
Thank you :)

[2019-03-26 09:48] ganyang88 commented on #3260
Good Question.
Acutally, I'm not 100% sure.

[2019-03-26 09:51] FreHu commented on #3257
The javascript is prevented from loading completly, which causes javascript errors, which causes the button to not respond to actions.

According to the extension log, it is part of https://easylist.to/

(using uBlock Origin v1.18.10)

[2019-03-26 10:16] thecodester commented on #3257
@lpareek Can you help here? Do you know what we could do?

[2019-03-26 11:03] adadouche commented on #3242
Then are you sure you have a tenant running?

Can you run the following piece connected to your SYSTEMDB:

[code]

[2019-03-26 11:56] onixxl opened #3261 "Run example pipelines in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-examples.html

"Copy any row of the terminal output and paste it in the frame below..."
Hi, the answer is not accepted... i think something is wrong with code
My answer is:
[2019-03-26 11:49:32.801] 13,5,25.780016554360188,47.59644649783984,520.9761763567036,1.0732082853829794,24.481293410571684,50.0214261886894,0,689.00087255786

[2019-03-26 12:13] rkonnerth commented on #3235
Hi Jijo,

No problem, welcome back.

I tried increasing the memory up to 4096M, but no luck I'm still getting a 404 when calling the service URL.

Anything else I could try?

Cheers, Reinhold

[2019-03-26 12:23] TonyDag commented on #3245
Hi Julie,
Thanks for the response and the tutorials are very helpful.
So the test question was - Add a new field to your CDS view for the product name. Find the correct association and field name. Use the definition of sepm_sddl_so_invoice_item (**F3**).Enter your code in the box below and choose Submit Answer.

We have a Sandbox system and I was able to get the following code to work in it:

@Aba

[2019-03-26 12:41] julieplummer20 commented on #3245
Hi Tony, I'm really sorry; the solution is much simpler: I just wanted the one statement: sepm_sddl_so_invoice_item.product.product_name

I can see that I've phrased it badly; I will have to think about re-formulating it, or using a completely different questions :-(. Thanks a lot for your feedback - if you paste that in, it should work (I copied it straight from the file that we send to the valid

[2019-03-26 12:49] TonyDag commented on #3245
Ahh – OK. Thanks for the quick response. I guess I assumed that the self tests want you to build on the previous steps of the tutorial.

Thanks,
Tony

From: Julie Plummer <notifications@github.com>
Sent: Tuesday, March 26, 2019 7:42 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Dagnillo, Anthony <Anthony.Dagnillo@grainger.com>; Author <author@noreply.github.com>
Subject: Re: [SA

[2019-03-26 13:00] fx5151git commented on #3261
Because the rule does not support complex regular expression, I think I need to change the question...

[2019-03-26 14:28] Ch-arif opened #3263 "SAP Sandbox"
Hello everyone, I'm working on a deployment of SAP Fiori and I need some serious SAP Sandbox providers, any suggestions?

[2019-03-26 14:45] thecodester commented on #3263
This may be a more general question and not about the tutorial itself. Feel free to continue the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-03-26 14:45] #3263 closed

[2019-03-26 16:04] PavelSosin opened #3265 "Deploy HANA Express database on Google Kubernetes cluster"
Tutorial URL: https://developers.sap.com/tutorials/hxe-kubernetes-google-cluster.html
Question:
Please specify the step you are referring to Step 5 and further step
 Is / will docker composer and or OpenShift template supported?

[2019-03-26 16:14] Lsubatin commented on #3265
HANA Express is a community supported version. In other words, you can try Docker compose and OpenShift and turn to the community (answers.sap.com) if you run into issues. I personally haven't tried but but would like to know how it goes if you do.

[2019-03-26 17:16] dellagustin opened #3266 "Install SAP HANA 2.0, express edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-installing-binary.html

Please specify the step you are referring to: "You will learn"

This section says "You will learn how to *download* the binary image of SAP HANA 2.0, express edition"

but there is no instructions on how to download the files, only how to extract them and follows form there.

[2019-03-26 17:42] lpareek commented on #3257
Hi @FreHu,

You will have to add exception to uBlock.

![uBlock-exception](https://user-images.githubusercontent.com/13825376/55020279-e840e300-4fcc-11e9-89c9-104a03dcc899.png)

Regards,
Lalit

[2019-03-26 20:13] WoutB opened #3267 "SAP HANA XS Advanced, Creating a Simple OData Service"
Tutorial URL: https://developers.sap.com/tutorials/xsa-xsodata.html

Step 1:
Where do I get this project structure from? I do not have the js/lib/... folders. Where can I get these?

[2019-03-26 22:44] juderegys opened #3268 "Set Up SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Hello There,

After unpacking the datahub zip file, I executed the command: "docker build --tag datahub".

I received the following error:
"docker build" requires exactly 1 argument.
See 'docker build --help'.
Usage:  docker build [OPTIONS] PATH | URL | -
Build an image from a Dockerfile

Can you please help me to pro

[2019-03-27 05:43] JijoRoyJacob commented on #3235
I've forwarded this issue to the dev team. As soon as they find it's cause, I'll get back to you.

Best regards,
Jijo

[2019-03-27 06:51] #3252 closed

[2019-03-27 08:27] dygsylmz opened #3269 "Create and Run an ABAP Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-create-basic-app.html

When I finished one step I tried to click done button but it doesn't work. This situation applies to all. I can't click anything, Im curios why?

[2019-03-27 08:36] thecodester commented on #3269
Were you signed in?

[2019-03-27 08:42] dygsylmz commented on #3269
Yes I am , also I can't see some pictures.

[2019-03-27 08:51] thecodester commented on #3269
Strange, I can see pictures and I can complete the done buttons. Is it only on that tutorial? On pictures, try clearing cache.

[2019-03-27 08:53] dygsylmz commented on #3269
Something wrong with my account ? Different tutorial also same too. I click the button but doesn't work.

[2019-03-27 09:33] amarpreet opened #3271 "Building freestyle IoT application"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-buildappmc0.html

In the tutorial mentioned above.
On step number 4, While going through the wizard to create a Freestyle IOT application template, it is mentioned that the data **Freestyle-IOTAS-ADVANCEDLIST-THING-ODATA**  should be selected. I do not have this in my drop down.

From the research that I've done this can be brought in b

[2019-03-27 09:45] Calibras opened #3272 "Import Tables and Large Datasets (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-import-shine-data.html

Step 3: Purge duplicates and Build
Hello, nice tutorial but i got a problem when i try to build. I had import the data.zip from git like in the tutorial and delete the three files. But When i try to build i get an error. I would look in the build logs when i now how i can do this.
Thangs for Help.

[2019-03-27 11:06] Lsubatin commented on #3272
The error log for the build is in the console. You probably need to scroll up until your find the word ERROR.
![image](https://user-images.githubusercontent.com/24896969/55071367-d3149480-505e-11e9-8651-4d37c42ba51c.png)

[2019-03-27 11:09] Lsubatin commented on #3267
The js module gets first created here: https://developers.sap.com/mission.xsa-get-started.html

[2019-03-27 12:55] dygsylmz opened #3274 "Create a Simple ABAP CDS View in ADT"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html

Test yourself doesn't work, I wrote my code but nothing..Also view has no data, first I thought I do something wrong but I just copy paste code and try again but nothing.

[2019-03-27 12:59] thecodester commented on #3274
When you say "nothing", what do you mean? What exactly did you do and what exactly happens?

[2019-03-27 13:01] dygsylmz commented on #3274
![image](https://user-images.githubusercontent.com/18638615/55077749-915d0b80-50a9-11e9-92d7-07aac41ec252.png)
![image](https://user-images.githubusercontent.com/18638615/55077776-a33eae80-50a9-11e9-8a86-d4a7fe2b3027.png)

[2019-03-27 13:02] dygsylmz commented on #3274
my code and what happened when I run my code

[2019-03-27 13:18] julieplummer20 commented on #3274
What code did you enter in the Test Yourself space?

[2019-03-27 13:22] dygsylmz commented on #3274
@julieplummer20 I think something wrong with my account because when I click any button doesn't work.
I enter " product.product_description"

[2019-03-28 09:12] russellw999 opened #3277 "Commit your project to Git"
Tutorial URL: https://developers.sap.com/tutorials/pre-teched-2018-webide-git.html

Please specify the step you are referring to

On Developer.sap.com he image files do not render on this tutorial, i have tested it on Chrome and Firefox on 2 separate machines.

It appears that this tutorial is superseded by the more recent one where the images do render
12/02/2018  Commit your 	Project files to SA

[2019-03-28 13:32] firfarmer opened #3278 "Use the Sample OData Service for Mobile Apps"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-hcpms-sample-odata-service.html

The image links for this tutorial appear to be broken.

[2019-03-28 13:34] #3257 closed

[2019-03-28 13:39] firfarmer commented on #3250
Confirmed...  the image links are broken.  I'm seeing this in other tutorials as well.  Looks like maybe images were refactored but tutorials have not been updated.  Often the images are important to the tutorial.

[2019-03-28 13:41] firfarmer commented on #3277
Image links have been broken recently in multiple tutorials.  Kind of embarrassing for a company like SAP.

[2019-03-28 16:20] PeterHaynes opened #3279 "Implement Logic for a Custom Business Object"
Tutorial URL: https://developers.sap.com/tutorials/abap-extensibility-cbo-logic.html

There's no complete button for step 2 so you can't mark the group as completed.

[2019-03-29 01:45] CrayonZeng commented on #3218
I tried the following code but it wrong.

event.
demo=>main( ).

what should i do?

[2019-03-29 08:17] mts2605 opened #3280 "Create Cards with Actions (Like Approve Or Reject)"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-action.html

Step 6 - When doing as described I get:

"You are not authorized to access SAP Cloud Platform, SAP Cloud Platform Mobile Services. Log in with the correct role, or contact system administrator."

[2019-03-29 09:29] albertoomarcos opened #3281 "Configure your ABAP System to Activate OData Services of Fiori Reference Apps"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html

The photos do not load.

[2019-03-29 09:41] albertoomarcos commented on #3281
Server it is up again. #

[2019-03-29 09:41] #3281 closed

[2019-03-29 17:50] Calibras opened #3283 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html

Hello, i got a Problem in step 7 add a synonym. When i try to link to the PRODUCT_SEGMENT then i become a build error. Which that
"PLAIN.PRODUCT_SEGMENT" synonym target does not exist.
I had created the schema and the table row with exact the SQL statement from step 2. So the PRODUCT_SEGMENT row is

[2019-03-31 07:26] thecodester commented on #3278
I see them. Clear cache? Try again? If some are still missing, can you list which ones?

[2019-03-31 11:38] amarpreet commented on #3271
nothing?

[2019-04-01 05:02] nicobost-sap opened #3285 "Deploy Your Node.js App with the Cloud Foundry CLI"
Tutorial URL: https://developers.sap.com/tutorials/cp-node-deploy-cf-cli.html

Please specify the step you are referring to

Great tutorial, thanks a lot!
But I think it could be clearer specified what files needs to be in which directory or which statement needs to be executed out of which directory. I have been able to figure it out (good learning for me :) ), but more defined senteneces would h

[2019-04-01 06:43] jitendrakansal commented on #3280
@mts2605 quite a strange error.
If there were issue in authorization to access Mobile Services, you would have stopped in step1 itself.
Can you try to open Mobile Services in Cockpit in a private or incognito window after clearing browser cache?

[2019-04-01 06:49] fx5151git commented on #3268
already changed. Thanks

[2019-04-01 06:51] fx5151git commented on #3268
Hi, have you navigated to the directory where you have unpacked the archive (that is the directory which includes the Dockerfile) and open a terminal there?

[2019-04-01 12:03] firfarmer commented on #3278
It was not a cache issue because when I went directly to the image link I got a 401.  However, a spot check does show that they are being fixed.  I'm wondering if this was all due to the Revert "Delete old SAPUI5 tutorials" checkin and perhaps that invalidated the image links.  Note that the tutorials are linking to Github via a proxy, e.g. "/_jcr_content.github-proxy.1552396565.file/Markdown_file

[2019-04-01 13:38] carolavaitl opened #3290 "Configure your ABAP System to Activate OData Services of Fiori Reference Apps"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html

Unfortunately all images are broken. Can they be fixed, otherwise the tutorial is somehow hard to follow.

[2019-04-01 13:42] carolavaitl opened #3291 "Set up Secure Tunnel between ABAP System and SAP Cloud Platform (CF)"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-create-secure-tunnel.html

All Images are broken.

[2019-04-01 13:50] #3290 closed

[2019-04-01 13:51] #3291 closed

[2019-04-01 15:24] Sygyzmundovych commented on #3268
Hi Jude. You need to include the dot at the end of the command, like
`docker build --tag datahub .`

That dot does not mean the end of the sentence, but the current folder where `Dockerfile` is located :)

[2019-04-02 06:08] thecodester commented on #3268
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-02 06:08] #3268 closed

[2019-04-02 06:54] FreHu opened #3292 "View the SAP Cloud Platform from 10,000 Meters - missing screenshots"
Tutorial URL: https://developers.sap.com/tutorials/cp-explore-cloud-platform.html
![image](https://user-images.githubusercontent.com/5097067/55382044-f3dc5e80-5524-11e9-977a-372a0a96c7c3.png)

![image](https://user-images.githubusercontent.com/5097067/55382028-e45d1580-5524-11e9-89a5-bf007e1de298.png)

[2019-04-02 07:00] thecodester commented on #3292
I see the images. Can you check again?

[2019-04-02 07:02] FreHu commented on #3292
They're there now. Issue must have fixed itself somehow.

[2019-04-02 07:02] #3292 closed

[2019-04-02 07:48] reinhardjaeschke opened #3293 "Create a Simple Database Table for ABAP Environment"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-create-table.html

this is a very interesting tutorial, but unfortunately is essential information missing because the screenshots are not visible.

[2019-04-02 08:01] thecodester commented on #3293
Sorry for the issue. Can you check again? I see the images now.

[2019-04-02 08:03] reinhardjaeschke commented on #3293
Wow, that was fast!

Yes I can see them now, too!

Kind Regards / Viele Grüße

Reinhard Jaeschke

Von: Daniel Wroblewski <notifications@github.com>
Gesendet: Dienstag, 2. April 2019 10:02
An: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Reinhard Jaeschke <Jaeschke@wmd.de>; Author <author@noreply.github.com>
Betreff: Re: [SAPDocuments/Tutorials] Create a Simple Database Table for ABAP

[2019-04-02 08:08] thecodester commented on #3293
Glad it worked. Sorry for the inconvenience.

[2019-04-02 08:08] #3293 closed

[2019-04-02 08:36] charbelkisso opened #3294 "Maintain Platform Subaccounts and SAP Web IDE Permissions"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-ui-subaccount-permission.html

images are not showing

[2019-04-02 09:54] thecodester commented on #3294
Can you check again? I see the images...perhaps took a few minutes to be loaded into cache.

[2019-04-02 11:35] reinhardjaeschke commented on #3293
Hey Daniel,

I just checked the other tutorials for SAP Cloud Platform, ABAP environment.
In all of them are the Screenshots missing …

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Da

[2019-04-02 11:44] reinhardjaeschke opened #3295 "Add Transactional Behavior to Your Core Data Services"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-transactional-enablement.html

Sorry, but the screenshots for this tutorial are not visible.

[2019-04-02 11:59] charbelkisso commented on #3294
Hello again,

![image](https://user-images.githubusercontent.com/25483315/55400792-1e431180-554f-11e9-8ab5-829b8fe8171a.png)

you can check the repo the webide.png has 0 size

https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/abap-custom-ui-subaccount-permission/webide.png

thank you in advanced!
//Charbel

[2019-04-02 12:59] thecodester commented on #3295
Please check again. Do you see them now?

[2019-04-02 13:03] thecodester commented on #3293
I went through the 7 tutorials in the missions and they all had images. Can you tell me which ones might be missing?

[2019-04-02 13:28] thecodester commented on #3278
Yes, they are being fixed, thankfully. Let me know if the problem persists.

[2019-04-02 13:28] #3278 closed

[2019-04-02 13:30] thecodester commented on #3269
Can you send a picture of what you get after clicking Done buttons?

[2019-04-02 13:32] thecodester commented on #3267
@WoutB Did you figure out the issue?

[2019-04-02 13:32] thecodester commented on #3265
@PavelSosin Is your question answered?

[2019-04-02 13:33] thecodester commented on #3250
This tutorial was created for the teched contest, and is no longer valid, and has been deleted. If you have issues with other tutorials, feel free to open an issue.

[2019-04-02 13:33] #3250 closed

[2019-04-02 13:34] thecodester commented on #3247
@mts2605 Have you resolved the issue?

[2019-04-02 13:40] amitcruz opened #3296 "Extend a Workflow Definition with an Exclusive Gateway"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-03-add-excl-gw.html

Hello @qmacro
Some of the images in the tutorials seems broken . Let us know when it is going to be fixed .  This issue is not pertaining to this tutorial . There are other tutorials  which has broken images,.
For eg:  Below image is not opening

https://developers.sap.com/tutorials/cp-wf-03-add-excl-gw/_jcr_content.gith

[2019-04-02 13:44] amitcruz commented on #3280
Hello @jitendrakansal  , Images in the above tutorial seems broken . I am facing this issue in other tutorials . When it is going to be fixed ?

[2019-04-02 13:48] qmacro commented on #3296
Thanks for the report, @amitcruz . Passing to @thecodester to follow up with the team. Cheers!

[2019-04-02 13:48] thecodester commented on #3280
We are working on the images. Will update soon.

[2019-04-02 13:57] thecodester commented on #3296
@amitcruz I see the images have redeployed. Do you see them in all 7 tutorials of the mission now?

[2019-04-02 13:58] reinhardjaeschke commented on #3293
At the moment, the pictures are visible.
Thank you.

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Daniel Wroblewski <notifications@github.com>
Gesendet: Dienstag, 2. April 2019 15:03

[2019-04-02 14:00] thecodester commented on #3277
The pre-teched tutorial has been removed now. If there are issues with other tutorials feel free to open an issue. Sorry for the problems.

[2019-04-02 14:00] #3277 closed

[2019-04-02 14:02] thecodester commented on #3256
I have removed the tutorial.

[2019-04-02 14:02] #3256 closed

[2019-04-02 14:02] amitcruz commented on #3296
@thecodester Thanks it is fixed now . Please close the thread.

[2019-04-02 14:05] thecodester commented on #3241
These are older tutorials that we are in the midst of refreshing, so they don't let you track your progress. We hope to update it soon.

[2019-04-02 14:06] thecodester commented on #3217
Thank you for your feedback. We haven't heard from you in a while so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-02 14:06] #3217 closed

[2019-04-02 14:07] thecodester commented on #3176
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-02 14:07] #3176 closed

[2019-04-02 14:09] #3296 closed

[2019-04-02 14:12] mervey45 commented on #3294
@charbelkisso I see the issue now, I'll update this tutorial. Thank you

[2019-04-02 14:39] amitcruz opened #3297 "Open SAP Web IDE Full-Stack in SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-open-webide.html

@thecodester  Whats going on . Now images has been broken for this tutorial . Is any maintenance work going on ?

[2019-04-02 14:41] amitcruz opened #3298 "Create a Simple Database Table for ABAP Environment"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-create-table.html

@thecodester  : Images for this tutorial is also not working . Please check.

[2019-04-02 15:05] thecodester commented on #3294
https://github.com/SAPDocuments/Tutorials/pull/3289

@charbelkisso Fixed for you?

[2019-04-02 15:06] thecodester commented on #3297
There is some work that seems to have flushed the images but they are returning. Do you see images in this tutorial now?

[2019-04-02 15:12] WoutB commented on #3267
Yes I'm helped, thanks a lot!

[2019-04-02 15:12] #3267 closed

[2019-04-02 15:22] charbelkisso commented on #3294
works fine :)

[2019-04-02 15:22] #3294 closed

[2019-04-02 16:21] amitcruz opened #3299 "Create a Producer App"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-rabbitmq-create-producer.html

Sorry to say @thecodester the missing image issue is not yet fixed . Please fix it on priority

[2019-04-03 05:27] thecodester commented on #3299
I've opened up all the cp-cf tutorials and see all the images. Do you see them now?

If yes, good. If not, there would be an issue in the load balancer, which I can look into.

[2019-04-03 06:33] Apfohlmann commented on #3055
@thecodester you can close this issue.

[2019-04-03 06:37] Apfohlmann commented on #3088
@thecodester please close the issue.

[2019-04-03 06:37] #3055 closed

[2019-04-03 06:38] reinhardjaeschke opened #3300 "Create an HTTP Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-create-http-service.html

Why is it so difficult to make sure that the images are visible?
Most tutorials are not usable, because the images containing crucial information do not load.
:-(

[2019-04-03 06:38] Apfohlmann commented on #3118
@thecodester it looks like this issue is not relevant anymore. Please close the issue.

[2019-04-03 06:39] reinhardjaeschke opened #3301 "Deploy UI to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-cf-deploy.html

Sorry, but images are - again - not visible here...

[2019-04-03 06:41] #3118 closed

[2019-04-03 06:41] #3088 closed

[2019-04-03 07:06] Apfohlmann commented on #3173
@chgeo can you help Jay? We already looked at his cds version and he followed the steps as described.

[2019-04-03 07:43] chgeo commented on #3173
Looks like the `build` script got missing in `package.json`.
Please provide the link or zip with the complete project.

[2019-04-03 10:13] VivekRajKM opened #3303 "API portal service error"
With reference to the tutorial: Enable Services for Sales Tracker App.
Trying to access the API portal, facing the below issue attached image.

[2019-04-03 10:17] VivekRajKM commented on #3303
![API Portal](https://user-images.githubusercontent.com/17874349/55471584-b44a6b00-5627-11e9-8d7d-446ba9e7cbac.JPG)

[2019-04-03 10:22] shilpavij commented on #3303
Hello,
Did you enable the service?
Can you please sign in with a different gmail account->enable your service->and try it again.
If still, it doesn't work then create an issue on OPU-API-OD-DT and also drop me a note via email.

Regards
Shilpa

[2019-04-03 10:26] VivekRajKM opened #3304 "Image links not loading!"

[2019-04-03 10:28] thecodester commented on #3301
I see them now. It took a while to restore the image cache. Do you see them?

[2019-04-03 10:29] thecodester commented on #3300
I ask myself the same question :-)

I see them now. It took a while to restore the image cache. Do you see them?

[2019-04-03 10:30] VivekRajKM commented on #3304
Duplicate of #2186
Images aren't loading for the tutorial : 'Discover Sales Order API from S/4HANA Cloud System'

![Image loading error](https://user-images.githubusercontent.com/17874349/55472271-51f26a00-5629-11e9-8128-09a59c2b4d13.JPG)

[2019-04-03 10:31] reinhardjaeschke commented on #3301
Sorry, but no.
Most of the tutorials are currently broken.

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Daniel Wroblewski <notifications@github.com>
Gesendet: Mittwoch, 3. April 2019

[2019-04-03 10:31] reinhardjaeschke commented on #3300
Sorry, but no.
Most of the tutorials are currently broken.

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Daniel Wroblewski <notifications@github.com>
Gesendet: Mittwoch, 3. April 2019

[2019-04-03 10:32] thecodester commented on #2186
I see them!!??

![image](https://user-images.githubusercontent.com/11659786/55472467-d8e91780-5614-11e9-87a6-628e83dcac7b.png)

[2019-04-03 10:33] VivekRajKM commented on #3303
Hello,
I did enable the service for API portal, will raise a ticket on the mentioned path. Thanks Shilpa.

Regards,
Vivek.

[2019-04-03 10:33] thecodester commented on #3304
https://developers.sap.com/tutorials/cp-apim-sales-tracker-api-discover.html

I see them!!??

![image](https://user-images.githubusercontent.com/11659786/55472576-1d74b300-5615-11e9-900a-f82cb3f3de48.png)

[2019-04-03 10:35] thecodester commented on #3300
![image](https://user-images.githubusercontent.com/11659786/55472664-5b71d700-5615-11e9-8011-4ba4b9a2a316.png)

Perhaps clear the cache when you load the page.

[2019-04-03 10:41] reinhardjaeschke commented on #3300
The cache is not the problem. That has been cleared.
Chrome debugger gives this:

[cid:image001.png@01D4EA1A.86C05D30]

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Daniel Wroblewski

[2019-04-03 10:49] shilpavij commented on #3303
Hello Vivek,

Can you please try enabling with a different user.
If still it doesn’t work raise an issue.

Regards
Shilpa

From: Vivek Raj Kumar M <notifications@github.com>
Sent: Wednesday, April 3, 2019 4:04 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Vij, Shilpa <shilpa.vij@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] API portal service

[2019-04-03 11:01] thecodester commented on #3300
Can't see the screen capture

[2019-04-03 11:43] reinhardjaeschke commented on #3300
The network console shows HTTP GET 404 file not found errors.

Kind Regards / Viele Grüße

Reinhard Jaeschke

WMD Group GmbH I Workflow Management & Document Consulting
Hamburger Straße 12 I D-22926 Ahrensburg
Tel. + 49 (0) 4102 88 38-889
eMail: jaeschke@wmd.de<mailto:jaeschke@wmd.de> I www.wmd.de<http://www.wmd.de/>

Von: Daniel Wroblewski <notifications@github.com>
Gesendet: Mittwoch, 3. April 2

[2019-04-03 12:24] VivekRajKM commented on #3304
@thecodester I am able to see now, might be a temporary glitch. Thank you! :)

[2019-04-03 12:24] #3304 closed

[2019-04-03 12:31] VivekRajKM commented on #3303
@shilpavij For some reasons, when tried reloading API portal is active and accessible now. Maybe a temporary glitch, thanks for the support Shilpa.

Cheers,
Vivek.

[2019-04-03 13:36] Calibras opened #3305 "SAP HANA XS Advanced, Creating an OData Service with Create Operation and XSJS Exit"
Tutorial URL: https://developers.sap.com/tutorials/xsa-xsodata-create.html

Hello,
I got problems to call the create request and i thing i also find an error in some code snippet of the tutorial. Because i can not even get the metadata of the service.

my Sapui5 code to create  an entry looks like this
`var entity = {"FirstName": "Martin", "LastName": "Lauch", "Email": "foo.bar@foobar.de"}
var oMo

[2019-04-03 13:42] #3303 closed

[2019-04-03 13:47] VivekRajKM opened #3306 "Destination wizard is not in sync"
Hello Team,
Observed few difference in the statement mentioned in the tutorial and descriptive picture highlighted. Could you please revert it to actual one, SAP mobile cards have been upgraded and the version highlighted in the tutorial looks like a older version. Correct me if I am wrong, TIA.

Note: Step #3 in 'Download SAP Mobile Cards to Your Device'

![Destination wizard](https://user-images

[2019-04-03 13:54] VivekRajKM opened #3307 "Creation of sample data in mobile cards"
Hello Team,
Observed differences in Step 1 of 'Use Mobile Services to Create UI', while creating a sample data, we didn't find any options to browse through the .json file to be consumed.
Whilst trying those query URL in data endpoints, it still doesn't fetch the data as mentioned. Your expertise is highly appreciated.

Attaching image for your reference, TIA.

![Sample data](https://user-images.g

[2019-04-04 12:19] julieplummer20 commented on #3274
Hi,
1. Actually, I was looking for the whole path: sepm_sddl_so_invoice_item.product.product_name
However, I will reformulate the question as multiple-choice. Too many people are tripping up over the precise wording.

2. Did you run transaction SEPM_DG_OIA, SEPM_DG_OIA_NEW or tasklist STC01 -> SAP_BASIS_EPM_OIA_CONFIG  ? I will update the prerequisites accordingly.

Best wishes, Julie.

[2019-04-04 12:24] julieplummer20 commented on #3218
Hi,
You need to use the correct event name:
start-of-selection.
Demo=>Main( ).

However, I will reformulate this as multiple-choice.
Best wishes,
Julie.

[2019-04-04 13:41] sebherv opened #3308 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Native Linux Machine)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-apl-binary.html

Please specify the step you are referring to

Step 1 "Download apl.gz" is not very clear: it suggest that we are to use some external download manager.

This section should be beginning by something like "In order to download the APL library, use the Download manager with the following commands, ...".

[2019-04-04 13:45] sebherv opened #3309 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Native Linux Machine)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-apl-binary.html

Please specify the step you are referring to

Step 2:

The directory where the apl.tgz file has been downloaded to is not indicated !
It took me 1 hour to notice that the file has been downloaded into de ~/Downloads directory, instead of the current directory.

So somewhere there should be
cd ../Downloads

Before calling ta

[2019-04-04 14:17] sebherv opened #3311 "Time Series with SAP HANA PAL (Forecast App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-forecast-06.html

Please specify the step you are referring to

Step 5: the common.hdbcds filename is spelt "commmon.hdbcds", with 3 "m"'s instead on 2.

[2019-04-04 15:54] K-MUS opened #3312 "Image Classification with SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/ml-fs-sapui5-img-classification.html

Please specify the step you are referring to

Step 16 Validation

![image](https://user-images.githubusercontent.com/15014750/55569807-96890e80-56d8-11e9-936b-3ddafaa074ae.png)

I paste the text and it stills tell me is incorrect attached the image as evidence.

![image](https://user-images.githubusercontent.c

[2019-04-04 16:18] K-MUS opened #3313 "Topic Detection with SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/ml-fs-sapui5-topic-detection.html

Please specify the step you are referring to

Step 13  - Validation

![image](https://user-images.githubusercontent.com/15014750/55571540-1369b780-56dc-11e9-94c8-bfb5136aaf31.png)

The validation doesn't work

![image](https://user-images.githubusercontent.com/15014750/55571524-0c42a980-56dc-11e9-83b7-faf88e322db

[2019-04-04 18:30] niloofar-naseri commented on #3179
@mervey45 could you please check this issue?

[2019-04-04 18:32] niloofar-naseri commented on #3151
@mervey45 could you please check this issue?

[2019-04-05 08:23] johanngoltz opened #3314 "Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

In step 4, _Test-run the service_, the provision fails with an error message:

The Hana entitlement is assigned to the correct space. A look at #2925 suggests the error might be related to the data center I'm working from (us30). I couldn't test in other regions because my account is not entitled to Hana the

[2019-04-05 08:44] mervey45 commented on #3151
@thecodester This issue is fixed, we can close it.

[2019-04-05 08:46] mervey45 commented on #3179
@thecodester We can close this issue, this is fixed.

[2019-04-05 10:41] jinigirl opened #3315 "Create an OData Destination"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-create-destination.html

Please specify the step you are referring to:
The destination details I inputted is correct (I got the same message when I ran the Check Connection).
However, metadata is still not loading when I ran the index.html.

[2019-04-05 15:11] TuncayKaraca commented on #3111
Hi Jiyo,

I have exactly the same issue that Pietro and Benu have. For me yes I use my trial account.
There is something missing here. Appreciate any guidance.

Thanks,
Tuncay

[2019-04-06 19:16] thomasalexneuhaus opened #3316 "Set Up SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Please specify the step you are referring to

Its not posibile to mark all steps with done and complite!

Step 5: Perform a smoke test
The port 50070: http://localhost:50070 (Apache Hadoop User Interface) ist not alloud with windwos 10. Take a other port 9870

[2019-04-06 19:18] thomasalexneuhaus opened #3317 "Navigate around SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-navigation.html

Please specify the step you are referring to
Step 1: Access UIs via a web browser

Same thing take a other port

https://issues.apache.org/jira/browse/HDFS-9427

[2019-04-07 06:00] thecodester commented on #3316
Please add validation to this tutorial. Without it, people will not be able to get credit for the entire mission.

[2019-04-07 07:18] mhuijbregts opened #3318 "Error when issuing the docker run command"
I've been trying to set up the SAP HANA Express container on both CentOS 7.5 & Fedora 28 and in the end constantly keep on bumping into the following docker error:
docker: Error response from daemon: OCI runtime create failed: container_linux.go:344: starting container process caused "process_linux.go:424: container init caused \"write sysctl key kernel.shmmni: write /proc/sys/kernel/shmmni: inval

[2019-04-07 07:26] #3151 closed

[2019-04-07 07:26] #3179 closed

[2019-04-07 20:35] IObert commented on #3315
Thanks for opening this issue @jinigirl.
Unfortunately, the "Check Connection" function only checks if the host is reachable, but not if the credentials are correct. Are you able to log in successfully via the[ web interface ](https://sapes5.sapdevcenter.com/sap/bc/gui/sap/its/webgui) ?

[2019-04-08 02:24] zuhakk opened #3321 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html
In Step 3: Deploy the Application
of Tutorial Build and Deploy a Java Application

There is no .war file present inside cloud-espm-v2 folder.

[2019-04-08 03:46] #3321 closed

[2019-04-08 05:56] Apfohlmann commented on #2925
@chgeo can you help? Is there any datacenter restriction with the hana database?

[2019-04-08 06:49] chgeo commented on #2925
Not sure what the HANA availability in the various datacenters is.  To follow up: @socenmarc which API endpoints do you refer to which 'Central US'?  Also, I assume you use your personal trial account?

[2019-04-08 07:18] fx5151git commented on #3316
I will change the validation as soon as possible. But I am using win10, and the port 50070 works fine in my computer. Could you maybe provide more details about this?

[2019-04-08 07:57] thomasalexneuhaus commented on #3316
Hello Xiao

Thats the error what I get:

#docker run -ti --publish 127.0.0.1:50070:50070 --name hdfs --hostname hdfs --net dev-net datahub run-hdfs C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: driver failed programming external connectivity on endpoint hdfs (7bf60e8a820af7157f693a0da72cd0b6cadb534d0ebb2c3f704e8ef21668a851): Error starting userland proxy: Bin

[2019-04-08 08:09] fx5151git commented on #3316
I just saw the bug page. I will change it soon. Thanks for pointing out.

[2019-04-08 08:20] thomasalexneuhaus commented on #3316
Hello Xiao

Thank you for the great tutorial.

Regards Thomas

Von: Xiao Feng <notifications@github.com>
Gesendet: Montag, 8. April 2019 10:10
An: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Thomas Neuhaus <thomas.neuhaus@agilita.ch>; Author <author@noreply.github.com>
Betreff: Re: [SAPDocuments/Tutorials] Set Up SAP Data Hub, Developer Edition 2.4 (#3316)

I just saw the bug page. I

[2019-04-08 08:29] Sdfraga commented on #3142
Hello,

Same issue here.
SEPM_DG does not populate snwd_so_inv_item table.
Ran SEPM_DG_OIA_NEW and the table was populated.
Sérgio Fraga

[2019-04-08 08:37] sedacrivity opened #3322 "Adding a Custom Login Screen to your HXE system"
Tutorial URL: https://developers.sap.com/tutorials/hxe-custom-login.html

Is there a way to do the same on XSA ?

[2019-04-08 09:13] julieplummer20 commented on #3142
Hi Sdfraga,
OK, good to know, thanks. I have updated the prerequisites locally , but still have to push my changes.
Should be visible by EOB tomorrow.
Best wishes
Julie.

[2019-04-08 09:21] jao6693 opened #3324 ""MOVIELENS": schema is not owned by _SYS_REPO"
Tutorial URL: https://developers.sap.com/tutorials/cp-hana-aa-movielens-01.html

Step 10: Create the Design-Time Role
I am currently experiencing an issue when activating the user role

The message in the console tells:
[code]
[code]
Not sure where it comes from

[2019-04-08 09:41] Sygyzmundovych commented on #3316
@thomasalexneuhaus What Docker version do you use on your Win10? Is it Docker for Desktop?

Can you try without the IP address in the command?

docker run -ti --publish 50070:50070 --name hdfs --hostname hdfs --net dev-net datahub run-hdfs

[2019-04-08 10:10] thomasalexneuhaus commented on #3316
Hello Vitaliy

With out IP is also not running

[cid:image001.png@01D4EE01.E0FCD130]

Von: Vitaliy Rudnytskiy <notifications@github.com>
Gesendet: Montag, 8. April 2019 11:42
An: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Thomas Neuhaus <thomas.neuhaus@agilita.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [SAPDocuments/Tutorials] Set Up SAP Data Hub, Developer Edition 2.4 (