[2019-04-08 10:17] jinigirl commented on #3315
Hello Marius,

Yes, I can access the web interface.
I used the connection details provided but I encounter the error.

Thanks,
Jini

On Mon, Apr 8, 2019 at 4:35 AM Marius Obert <notifications@github.com>
wrote:

[2019-04-08 10:25] Sygyzmundovych commented on #3317
This port change seems to happen with Hadoop 3.0.0. What version of Hadoop did you get in your `hdfs` container?

On my Data Hub Dev installation it is still 2.9, so using a port as in the tutorial.

[code]

[2019-04-08 10:31] jitendrakansal commented on #3280
@amitcruz I can see Images now, please check it again

[2019-04-08 10:38] thomasalexneuhaus commented on #3317
PS C:\Users\TNEU> docker exec -it hdfs bash
hdfs:/tmp # hadoop version
Hadoop 2.9.0
Subversion https://git-wip-us.apache.org/repos/asf/hadoop.git -r 756ebc8394e473ac25feac05fa493f6d612e6c50
Compiled by arsuresh on 2017-11-13T23:15Z
Compiled with protoc 2.5.0
From source with checksum 0a76a9a32a5257331741f8d5932f183
This command was run using /opt/hadoop-2.9.0/share/hadoop/common/hadoop-common-2.9.

[2019-04-08 10:42] IObert commented on #3315
Hi Jini,

good to know that loggin in via the web interface works for you.
What error message do you get on the "metadata" request? And can you share your `neo-app.json` file with me?

[2019-04-08 11:12] Sygyzmundovych commented on #3316
Unfortunately I do not have Docker Desktop for Windows (only Docker Toolbox), so cannot judge if the port is not allowed, or if already taken. So, to check if there is no other process listening on this port already, can you run
[code]
on your Windows command line?

[2019-04-08 11:17] Sygyzmundovych commented on #3316
@fx5151git , If you are talking about Apache Hadoop "bug page" then it is applicable to Hadoop ver. 3.0, while the current Data Hub solution is using 2.9.

[2019-04-08 11:18] fx5151git commented on #3316
I am using Docker Desktop for  Windows here. The port is allowed. I think more possible that it has already been taken.

[2019-04-08 11:19] IObert opened #3325 "Build a mobile app from an SAP Web IDE template"
Hi @rbrainey,

I just found this old tutorial and noticed it's outdated (screenshots and the mentioned template doesn't exist anymore). It's part of [this group.](https://developers.sap.com/group.mobile-app-1.html)
Do you want me to assign this tutorial to myself and to fix it?

[2019-04-08 11:24] IObert opened #3326 "Prepare an SAP Fiori app for translation"
Tutorial URL: https://developers.sap.com/tutorials/sth-prepare-fiori-app-translation.html

Please specify the step you are referring to
The Web IDE service is not available anymore. Therefore this tutorial needs to be adapted to the new Full-stack Web IDE

[2019-04-08 11:25] jinigirl commented on #3315
Hello Marius,

Below is the snip of my neo-app.json file.
I find that I get errors when following the format in the tutorial.
[image: image.png]

Thanks,
Jini

On Mon, Apr 8, 2019 at 6:42 PM Marius Obert <notifications@github.com>
wrote:

[2019-04-08 11:25] fx5151git commented on #3316
Ah, get it. So the container port is changed in hadoop 3.0. Or it is better for me to add a warning before to let users check if their host port 50070 has already been taken.

[2019-04-08 11:28] jinigirl commented on #3315
I tried copying the file from tutorial line by line.
I get below error:
[image: image.png]

[image: image.png]

On Mon, Apr 8, 2019 at 7:24 PM Jini Tidalgo <jenelyn.tidalgo@gmail.com>
wrote:

[2019-04-08 11:37] IObert commented on #3315
Hi Jini,

it seems that the images get lost when you use the email reply function. Can you use the web interface?

[2019-04-08 11:47] jinigirl commented on #3315
Hello Marius,

I'm sorry; I don't think I understood the instruction.

On Mon, Apr 8, 2019 at 7:37 PM Marius Obert <notifications@github.com>
wrote:

[2019-04-08 12:44] Hex-3-En commented on #3218
its:
START-OF-SELECTION.
demo=>main( ).

[2019-04-08 13:48] Sdfraga opened #3329 "Create a Simple ABAP CDS View in ADT"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html

Hi,

Screen Captures are missing.

[2019-04-08 14:06] IObert commented on #3315
Can you upload the screenshots [here](https://github.com/SAPDocuments/Tutorials/issues/3315#issuecomment-480798524)?

[2019-04-08 15:06] JCurrie27 commented on #3318
Hi mhuijbregts: Could you post the above docker error to the developer community Q&A at: [https://answers.sap.com/questions/ask.html ](https://answers.sap.com/questions/ask.html )? The primary tag is "SAP HANA, express edition". The developer community is monitored by HANA express experts and users. Thanks,

[2019-04-08 15:16] JCurrie27 commented on #3308
Thanks for this feedback. Clarifications to this tutorial are in process.

[2019-04-08 15:16] JCurrie27 commented on #3309
Thanks for this feedback. Clarifications to this tutorial are in process.

[2019-04-08 22:35] juderegys opened #3330 "Store Sensor Data in HDFS in SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-storeinhdfs.html

Hello There,

I followed the steps and configuration for the above tutorial exactly (multiple times). Everytime I execute the pipeline, the process stops. I am getting the error "test.myFirstPipeline 'dead'". Please see my attachment.
![hdfs_error](https://user-images.githubusercontent.com/32884692/55761372-1

[2019-04-09 07:30] karpovas1505 opened #3332 "Use Mobile Services to Create UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

Please specify the step you are referring to

Today in step 4 query parameters in Mobile services defined in other tap(URLs)

![image](https://user-images.githubusercontent.com/26958109/55781891-57dac600-5ad5-11e9-9c7c-df7ddd2939cf.png)

[2019-04-09 09:04] JijoRoyJacob commented on #3111
Hi Tuncay,
The order of steps listed is important. In Benu's case, we found that the order wasn't followed and so the JPA classes never got generated as part of Step 1. If you successfully execute step 1, you should be able to see the following files in the path indicated:

![JPA](https://user-images.githubusercontent.com/41678923/55787284-8ce61900-5ad3-11e9-80b4-251a66c09a41.png)

Try starting fr

[2019-04-09 09:35] adadouche commented on #3312
Hi @K-MUS

Thanks for your feedback? The API endpoint changed so I adjusted the validation rule.

It should work now.

@bdel

[2019-04-09 09:35] #3312 closed

[2019-04-09 09:42] adadouche commented on #3313
Hi @K-MUS

Thanks for your feedback? The API changed so I adjusted the validation rule.

It should work now.

@bdel

[2019-04-09 09:42] #3313 closed

[2019-04-09 09:43] adadouche commented on #3311
Thanks you. It now fixed.

@bdel

[2019-04-09 09:43] #3311 closed

[2019-04-09 09:44] adadouche commented on #3242
Hi,

Any news? I'll close the issue for now, but feel free to reopen.

@bdel

[2019-04-09 09:44] #3242 closed

[2019-04-09 16:55] JCurrie27 commented on #3309
[https://developers.sap.com/tutorials/hxe-ua-apl-binary.html](https://developers.sap.com/tutorials/hxe-ua-apl-binary.html)
This tutorial was updated. Closing issue.

[2019-04-09 16:55] #3309 closed

[2019-04-09 16:56] JCurrie27 commented on #3308
[https://developers.sap.com/tutorials/hxe-ua-apl-binary.html](https://developers.sap.com/tutorials/hxe-ua-apl-binary.html)
This tutorial was updated. Closing issue.

[2019-04-09 16:56] #3308 closed

[2019-04-09 16:56] JCurrie27 commented on #3318
Closing issue

[2019-04-09 16:56] #3318 closed

[2019-04-09 20:15] Sygyzmundovych commented on #3330
Hi Jude. What is the message if you click on `test.myFirstPipeline` in the status area?
Like clicking on `HDFS` on this picture:
![image](https://user-images.githubusercontent.com/8822534/55832043-de62c800-5b14-11e9-9814-158dc2fd147c.png)

[2019-04-09 20:19] juderegys commented on #3330
Thanks you very much. I found the issue in the WriteFile operator connection property. Now, it is working.

Best Regards,
Jude

From: Vitaliy Rudnytskiy <notifications@github.com>
Sent: Tuesday, April 9, 2019 4:15 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Regy, Jude <jude.regy@sap.com>; Author <author@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Store Sensor Dat

[2019-04-09 21:28] juderegys commented on #3330
Thank you. Based on the response I fixed my issue.

[2019-04-09 21:28] #3330 closed

[2019-04-10 04:47] amitcruz opened #3337 "Create Cards with Actions (Like Approve Or Reject)"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-action.html

Hello @jitendrakansal  ,
I am trying to add parameter in Mobile cards as per step 2 but it is giving me below error :

**Global parameters cannot have a JSON path as value.**

One more thing when I go to URLs tab , it always shows error 'A Query URL does not return data. Use one of the other URLs instead to show data.'

[2019-04-10 07:43] jitendrakansal commented on #3337
@amitcruz i am able to reproduce this issue, will check internally and get back. thanks for notifying.

[2019-04-10 09:05] bighippo opened #3338 "Test Hyperledger Fabric Chaincode API"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-test-chaincode.html

Images in this link can't be displayed, please check.  @BrianMcKellar

[2019-04-10 09:17] #3338 closed

[2019-04-10 10:05] nbnayak88 opened #3340 "Using Groups in SAP Jam Collaboration Developer Edition"
Tutorial URL: https://developers.sap.com/tutorials/jam-cloud-group-users-poll-ideas.html

Please specify the step you are referring to-

There's no progress once you complete each section in terms of percentage completeness

[2019-04-10 10:14] thecodester commented on #3340
I believe these are older tutorials that have not been updated since we added the progress feature. We are working over the next few months to update the existing tutorials with this feature.

[2019-04-10 10:24] thecodester commented on #3329
Are you OK now?

[2019-04-10 12:35] Sdfraga commented on #3329
Hello,

Screen Captures are now OK thanks.

Regarding the exercise at the end of the tutorial, I find it difficult to do because it's more a matter of format than the answer itself.

I am quite sure the correct answer should be:
**product.product_name.text**

But I always have the error message:
**Sorry, that’s incorrect. Please try again.**

In other tutorials I had a lot of problems in the exerc

[2019-04-10 15:41] Sygyzmundovych commented on #3316
@thomasalexneuhaus Have you fixed your issue?

[2019-04-10 18:03] buglessdr opened #3344 "Test SAP HANA, express edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-test-vm-xsa.html

Please specify the step you are referring to

This command is incorrect:
xs apps | grep xsa_cockpit

It should be:
xs apps | grep xsa-cockpit

[2019-04-10 19:16] BezalelHank opened #3345 "Run example pipelines in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-examples.html

Please specify the step you are referring to
Step 2 says that the following is incorrect [2019-04-10 19:12:05.966] 1,4,25.14903419611544,51.84885995129685,567.4806676143861,1.032655150380254,23.381197732579423,58.7325159897191,0,770.5273033411906,416.51969787318416

[2019-04-10 20:26] girishongit opened #3346 "Connect to OData service on Neo using SAP S/4HANA Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-odata-service-neo.html

Please specify the step you are referring to step 11,

for troubleshooting issue with metadata, you have specified an workaround for running locally using CF, but how about running locally using neo?? how do we specify TRUSTALL flag in noe environment?

[2019-04-11 04:25] amitcruz commented on #3337
@jitendrakansal  Thanks for acknowledging , I am looking forward for the quick solution.

[2019-04-11 05:28] Haruyuki-Kobayashi opened #3347 "Onboarding a computer as the IoT thing"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

In the Step 5: Add your computer as a new thing...
According to the tutorial, we are supposed to choose a2667617c for the account.
However when we attempt to specify the account in connectivity section, new pop-up 'Update Account Information' appeared and requires to fill out account, user, password,host..etc.
What t

[2019-04-11 09:12] amitcruz opened #3348 "Create Destination for SAP API Management Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-destination.html

@thecodester  : Again the images in all the tutorials are gone . How many times we need to report this .

[2019-04-11 14:02] monidanai opened #3349 "Explore data in SAP Vora in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-discovery-part02.html

Please specify the step you are referring to

Hello anish gupta,

screenshots have been removed. Could you please upload them again?

Thank you in advanced!

[2019-04-11 14:42] gcasilva opened #3350 "Import the dataset in your SAP HANA instance - STEP 10"
Tutorial URL: https://developers.sap.com/tutorials/cp-hana-aa-movielens-01.html

STEP 10:
[11:34:55] Error while activating /public/aa/movielens/hdb/user.hdbrole:[public.aa.movielens.hdb:user.hdbrole] role "sap.pa.apl.base.roles::APL_EXECUTE" is unknown

It seems that i don't have the schema SAP_PA_APL on my Catalog, what can i do?

[2019-04-11 14:45] adadouche commented on #3350
Hi @gcasilva

Have you run the script from step 3 successfully? Then are you now connected as the MOVIELENS_USER as described in step 4?

Thanks

@bdel

[2019-04-11 14:48] gcasilva commented on #3350
Hi @adadouche i have run the script from step 3 successfully and i'm connected on MOVIELENS_USER

This is a screenshot of all the schemas i have on my MOVIELENS_USER after running script on step 3 and being connected on MOVIELENS_USER: https://www.evernote.com/l/AIE8jDVdpLdGIZ1af-ctvRA1icFg_uPpZj4

[2019-04-11 14:53] adadouche commented on #3350
Are you using the trial environment? You are using 1.120.34 but trial is only 1.120.20.

If you are not using the trial on SAP Cloud Platform, then you need to install APL on your HANA system.
In trial, this is preinstalled for all instances.

@bdel

[2019-04-11 15:28] gcasilva commented on #3350
I'm using the trial on SAP Cloud Platform on their NEO infrastructure, my HANA started on version 1.120.34 by default.
I think they must have already upgraded from 1.120.20 on SAP Cloud Platform.

Screenshot: https://www.evernote.com/l/AIGxpCBHNlBOPK5dhsKOW0LqjxsPqWZDSf4

Is there a quick guide i can follow to install APL on this scenario?

[2019-04-11 15:48] adadouche commented on #3350
ok, interesting.

Can you go to the **SAP HANA Cockpit**, click on the **General Information** tile.
Then from here, select the **Installed Plug-ins Details** tab and then search for **APL**.

there should be an entry for **SAP_AFL_SDK_APL**.

[2019-04-11 15:59] gcasilva commented on #3350
Here's the screenshot: https://www.evernote.com/l/AIFb7quVdhpKzo-rc487e2EP4vZ4lLv4Qx8

[2019-04-11 16:09] adadouche commented on #3350
so, it's installed. that's a good thing.

can you run the following as SYSTEM:
[code]

it should return all the APL functions.

can you run the following as SYSTEM:

[code]

[2019-04-11 16:17] gcasilva commented on #3350
https://www.evernote.com/l/AIF6-BZh_AZMUpk75D2KoB0cTBd3fObw7hs
https://www.evernote.com/l/AIGG4HvD0bVCL5Yt86mG5FpDEpbKwARmJMs

[2019-04-11 16:40] adadouche commented on #3350
The APL DU was not properly uploaded which is causing the issue with 'sap.pa.apl.base.roles::APL_EXECUTE' role.

This means that you cannot use the procedure mode, and only the direct mode where you need to create the wrappers, all the table types and so on.

You can try dropping your current instance and recreate but usually you get assigned to the same instance in the end.

I was planning on dep

[2019-04-11 16:40] adadouche commented on #3350
The APL DU was not properly uploaded which is causing the issue with 'sap.pa.apl.base.roles::APL_EXECUTE' role.

This means that you cannot use the procedure mode, and only the direct mode where you need to create the wrappers, all the table types and so on.

You can try dropping your current instance and recreate but usually you get assigned to the same instance in the end.

I was planning on dep

[2019-04-11 16:52] fedor-pavlov opened #3352 "Onboarding a computer as the IoT thing"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

Hi!
I've tried to follow the instructions and found that there's an issue in "Step 5: Add your computer as a new thing". The instructin says: choose "Account: a2667617c". But when i try to change an account from a default value to a2667617c, the system displays "Update Account Information" dialog and asks me to provi

[2019-04-11 17:01] gcasilva commented on #3350
Ok, thanks for the try anyway @adadouche
Will try other labs.

[2019-04-11 17:23] JCurrie27 commented on #3266
https://developers.sap.com/tutorials/hxe-ua-installing-binary.html has been updated (as has the previous tutorial in the group). Thanks for your feedback,

[2019-04-11 17:23] #3266 closed

[2019-04-12 02:01] namclu opened #3353 "Add an Onboarding Flow | Error: Failed to execute onboard flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-flows-onboard.html

Please specify the step you are referring to:

At the end of Step 2: Try it out, when I try to run the app, the app shows the following error.

I've checked the settings on the Wiz App and in the `configurationprovider.json`. It matches w what's in the tutorial.

The only thing I did do differently was to remove

[2019-04-12 06:59] russellw999 opened #3354 "Build an SAPUI5 mobile app based on your data model and run it with mock data"
Tutorial URL: https://developers.sap.com/tutorials/hcp-webide-build-app-mock-data.html

Please specify the step you are referring to

A good tutorial however to avoid confusion it could be updated to point out that the choice of Kapsel templates is Deprecated.  However you can do the tutorial with another template like Master-Detail

Step 2 :  Selection of Kapsel Templates

Include reference to de

[2019-04-12 09:00] MarcusBrunneckerSAP opened #3355 "Set Up SAP Mobile Cards"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-setup.html

Please specify the step you are referring to:

Hi, I have trouble to get through step 4.
When scanning the QR code on my android device I find no way to "send" the url to the  SAP Mobile Cards app. There is no toast message : I can either open the url in my browser or share it via whatsapp etc. But I found no way to ope

[2019-04-12 09:20] jinigirl opened #3356 "Configure your ABAP System to Activate OData Services of Fiori Reference Apps"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html

Please specify the step you are referring to:

Screenshots are not visible especially for configuration part of the tutorial.
![configuration steps](https://user-images.githubusercontent.com/36019912/56026698-4dbffe00-5d47-11e9-8f47-34a355f99c36.PNG)

[2019-04-12 15:09] IObert opened #3360 "Open SAP Web IDE Full-Stack and make it ready for Cloud Foundry Development"
Hi Daniel,

this tutorial is outdated (the builder step doesn't exist anymore) and therefore we can remove it.
I didn't find any dependencies, but maybe you want to double check.

[2019-04-12 20:20] baxterdale commented on #3235
Hello Reinhold,
I had a look at your code.  Please check.
CAPFullstack/srv/src/main/webapp/WEB-INF/web.xml

When doing the example code I did it this same way.
I tried replacing the <resource-ref> tag with what is instructed to do in the exercise step 4.  In other words only have one resource-ref tag - In your git repository I can see that you have two references.

@JijoRoyJacob maybe consider imp

[2019-04-12 20:42] baxterdale commented on #3235
Also while doing step 5 (I have windows) I needed to improve the curl command to this to get it to work.

`curl -H "Accept: application/json" -H "Content-Type: application/json" -X POST -d "{ \"buyer\" : \"JPA Buyer 1\", \"book_ID\" : 310 }" https://lntjcudpur6avthx-bookshop-srv.cfapps.eu10.hana.ondemand.com/odata/v2/CatalogService/Orders`

[2019-04-13 00:12] togocrates opened #3362 "Build a mobile app from an SAP Web IDE template"
Tutorial URL: https://developers.sap.com/tutorials/hcp-template-mobile-web-app.html

Please specify the step you are referring to

On Step 17 after clicking on any product, I get this error:

\{
	"message": "HTTP request failed",
	"headers": \{
		"DataServiceVersion": "1.0;",
		"Content-Type": "application/json"
	},
	"statusCode": "400",
	"statusText": "Bad Request",
	"responseText": "\{\r\n\"erro

[2019-04-13 09:57] schwarzc11 opened #3363 "Create an HTTP Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-create-http-service.html

Please specify the step you are referring to
Step 7: Test yourself
putting in code that returns the user name, like:
`  METHOD if_http_service_extension~handle_request.
     DATA(user_name) = cl_abap_context_info=>get_user_formatted_name( ).
     DATA: text TYPE string.
    text = user_name.
    response-

[2019-04-14 05:27] thecodester commented on #3356
We have fixed the images on this tutorial. I see them. Do you?

[2019-04-14 05:33] thecodester commented on #3349
Are you seeing them now?

[2019-04-14 05:34] thecodester commented on #3348
We are working on this (caching) issue and hope to have a permanent solution soon. In the meantime, I believe the images ar

[2019-04-14 05:52] thecodester commented on #3329
The author changed the test to a question, so you should be able to complete. I can't speak of what the previous answer was supposed to be. I will look into whether after 2-3 unsuccessful tries we can just display the answer.

[2019-04-14 06:23] thecodester commented on #3360
Which tutorial was this? (I searched google for that name but did not find)

[2019-04-14 09:12] Sdfraga commented on #3329
Fantastic Customer Service!!
Everything OK now.
Thank you for the support

[2019-04-14 09:12] #3329 closed

[2019-04-14 09:49] monidanai commented on #3349
yes, thanks:)

[2019-04-14 10:04] #3349 closed

[2019-04-14 16:35] topherhoffman opened #3364 "Explore and Customize Your SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-customize.html

Please specify the step you are referring to

**STEP 4: Learn about SAP WEB IDE** - _ Learning Button Missing_
-  There is no longer a button for the learning portal, you have to navigate to the home page then go to the youtube page.

**Step 7: Enable a Cloud Foundry workspace** - _No Builder Installation_
- There is no long

[2019-04-14 17:24] jitendrakansal commented on #3355
@MarcusBrunneckerSAP For Android device, you can install "Lightning QR" app on your device.
Now, open this app and scan the QR code (make sure you scan the QR code displaying for Android device), once scan is done, click on "open link" option showing up on the screen, it will launch Mobile Cards app installed on the device.
hope this helps.
PS. Have updated tutorial with this note as well, thanks

[2019-04-14 22:00] laksyelugoti opened #3366 "Testing API Business Hub APIs with Curl"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-test-locally.html

Please specify the step you are referring to Step 5.

I have successfully executed and submitted the result for Step 5., but it appears that the answer is incorrect. I have tried results that I got for including Top 5 and without  Top 5.  It didn't in both cases.
Attaching the query and results.
[APT - cCURL top 5.txt](h

[2019-04-14 22:55] laksyelugoti opened #3367 "Add API Business Hub API to a UI5 Application"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html

Please specify the step you are referring to Step 8.

Issue1:
I have output, but there is record found with Name: Lorelie Lawrie

[2019-04-14 22:56] laksyelugoti opened #3368 "Add API Business Hub API to a UI5 Application"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html

Please specify the step you are referring to Step 7.

Code needs to be corrected or fixed..
I have this code working after modying as below..
Instead of using : var userResults = new JSONModel({"data": {}});
I used:    var userResults = new sap.ui.model.json.JSONModel();

[2019-04-14 23:06] IObert commented on #3360
Sorry for the confusion. Not sure why the title of the issue ended up wrong.
I was talking about [this one](https://developers.sap.com/tutorials/teched-cf-prereq1.html)

[2019-04-15 05:00] thecodester commented on #3360
Removed

[2019-04-15 05:00] #3360 closed

[2019-04-15 05:42] thecodester commented on #3364
@jhornik You may also want to put your name on this with author metadata

[2019-04-15 06:52] julieplummer20 commented on #3363
Hi, Yes, the validation engine is extremely strict, re whitespace, case-sensitivity etc (obviously ABAP isn't case-sensitive, but others are.)
The correct answer is:

DATA(user_name) = CL_ABAP_CONTEXT_INFO=>get_user_formatted_name( ).
DATA: text type string.
text = user_name.
response->set_text( text ).

ie what you put but without the actual METHOD... ENDMETHOD statement.
I apologize; I find it h

[2019-04-15 07:42] MarcusBrunneckerSAP commented on #3355
Hi,
Unfortunately Lightning QR doesn’t help.
It tries to open the link in the browser and says “web page not reachable. Server’s IP address of mobilecards not found.” (translated from German)
The mobile cards app is installed in WS One. But the QR scanner does not open it as described in your tutorial.

Thanks,
Marcus

Von: Jitendra Kansal <notifications@github.com>
Gesendet: Sonntag, 14. April 20

[2019-04-15 08:09] jitendrakansal commented on #3355
@MarcusBrunneckerSAP
i tried on my Android device with Lightning QR code app, it works for me.
Could you share screenshots of the same?

[2019-04-15 08:46] alexeysizov opened #3369 "Create a Simple IoT Device Model"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-2-create-device-model.html

Please specify the step you are referring to

Step 1: Log into your IoT service instance
->Login with your user name and password (in the cloud cockpit you can find the root user credentials in the cloud foundry space in the service key area of the service instance)

This is not correct. In order to proceed,

[2019-04-15 08:51] MarcusBrunneckerSAP commented on #3355
[Bild]

[Bild]

________________________________
From: Jitendra Kansal <notifications@github.com>
Sent: Monday, April 15, 2019 8:09:51 AM
To: SAPDocuments/Tutorials
Cc: Brunnecker, Marcus; Mention
Subject: Re: [SAPDocuments/Tutorials] Set Up SAP Mobile Cards (#3355)

@MarcusBrunneckerSAP<https://github.com/MarcusBrunneckerSAP>
i tried on my Android device with Lightning QR code app, it works for m

[2019-04-15 09:14] jitendrakansal commented on #3355
@MarcusBrunneckerSAP i somehow cant see images/attached files in your previous comment.

cc : @thecodester

[2019-04-15 12:50] pahlkelerch opened #3370 "Onboarding a computer as the IoT thing"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

Step1: Logon with the provided credentials does not work. user P002627 and password Laptop01 for https://sap-iotaehandson2.iot-sap.cfapps.eu10.hana.ondemand.com/launchpage/

[2019-04-15 13:06] SteffenGa opened #3372 "Build a Simple SAP Screen Personas Dashboard"
Tutorial URL: https://developers.sap.com/tutorials/personas-mobile-workbook-create.html

Please specify the step you are referring to

All the images in the tutorial aren't loading for me / tested with several browsers / getting a 404 in the debugger for all image requests.

[2019-04-15 13:29] alexeysizov opened #3373 "Assemble and Configure Device Hardware"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-3-configure-device.html

Please specify the step you are referring to

Assemble and Configure Device Hardware
Step 4: Run the firmware
It is not clear at this stage, should the device data be displayable in IoT Service Cockpit/Data Visualization section, or not. As the node.js code is slightly different from one, used in previous secti

[2019-04-15 13:40] alexeysizov opened #3376 "Create a Thing Model and Bind to Device"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-4-create-thing-model.html

Create a Thing Model and Bind to Device
Step 1: Access Fiori Launchpad with IoT Application Enablement apps

I don't have a SAP IoT Application Enablement in a SAP Cloud Platform cockpit, but I have SAP Leonardo IoT (also has Packages sections). Will it also work?

[2019-04-15 15:19] maxstreifeneder commented on #3285
@nicobost-sap hope it's clear now.

[2019-04-15 15:19] #3285 closed

[2019-04-15 17:13] BezalelHank opened #3379 "Generate sensor data in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-sensordata.html

Please specify the step you are referring to
Step 4 Validate does not work

[2019-04-15 17:32] CESolomon commented on #3298
You have to turn off content blocking in your browser.

[2019-04-15 17:44] marcuscbehrens commented on #3376
please refer to https://blogs.sap.com/2019/04/12/upgrading-all-iot-application-enablement-subscriptions-to-leonardo-iot-this-week-get-ready-for-major-improvements/ to understand the name change

we will update the tutorials accordingly this week

[2019-04-15 17:45] marcuscbehrens commented on #3370
You had changed the initial password first time going in (I assume). If not let me know and I can reset it.

---
Marcus Behrens, Product Management, SAP Leonardo IoT
+49 160 8896 474, expect SMS and IM response in 1 hour, email in 1 day or never

From: Daniel Wroblewski <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Monday, 15. April 2019 at 15:59
To: SA

[2019-04-15 18:20] CESolomon opened #3380 "Create a Database Table (ABAP Development)"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-table.html

Step 13 (Test Yourself) will not validate. I have tried everything. I know many(MOST!) of these sorts of checks are VERY buggy and not well done (even a space can throw them at times). Here is the request that is being sent to validate and is failing...

++@AbapCatalog.foreignKey.keyType+:+#KEY++@AbapCatalog.foreignKey.

[2019-04-15 19:26] lnryan opened #3381 "Set up your local infrastructure to develop with SAP S/4HANA Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-setup.html

Please specify the step you are referring to

In the first step, set up your infrastructure, linux is missing as on operrating system choice.

[2019-04-15 21:46] CESolomon opened #3382 "Explore the ABAP Repository"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-learn-repo.html

Step 9: Test the function module

Enter the code mentioned exactly as shown and it will not validate. I have tried adding spaces in it, line break, etc. and nothing works. Also, just being picky but the instructions say "enter the following text exactly, then click Validate:"....there is no "Validate" to click....just "Su

[2019-04-15 21:51] CESolomon commented on #3382
UPDATE:
Very strange....I just got it to validate but not sure how/why.

1. I entered the text.... <code>START-OF-SELECTION.demo=>main( ).</code>
    ....and it would not validate correctly.

2. I placed cursor at start of the line and hit enter (ie putting a new line/blank space above it) so it was then....
<code>

START-OF-SELECTION.demo=>main( ).
</code>

3. I then tried to validate again and i

[2019-04-16 05:07] thecodester commented on #3298
@mervey45 Can you republish the tutorial?

[2019-04-16 05:08] thecodester commented on #3379
@fx5151git Also, pictures missing. Please republish.

[2019-04-16 06:21] thecodester commented on #3372
I see the images now. Do you?

[2019-04-16 06:24] thecodester commented on #3348
Do you see the images?

[2019-04-16 07:09] mervey45 commented on #3298
@thecodester I'll republish it.

[2019-04-16 07:39] thecodester commented on #3298
@amitcruz Can you see images now?

[2019-04-16 09:02] amitcruz commented on #3298
Yes , please close it . Hope to see more consistency in image viewing from now onwards.

[2019-04-16 09:03] amitcruz commented on #3297
Please close the thread.

[2019-04-16 09:03] #3297 closed

[2019-04-16 10:52] thecodester commented on #3129
In the meantime we have removed this tutorial -- since it is from 2016. Sorry for the confusion.

[2019-04-16 10:52] #3129 closed

[2019-04-16 10:54] thecodester commented on #3139
We've since removed these tutorials since a lot has changed since teched 2016. Sorry for the confusion.

[2019-04-16 10:54] #3139 closed

[2019-04-16 10:55] #3135 closed

[2019-04-16 10:55] thecodester commented on #3070
I am closing the issue since tutorial has been removed.

[2019-04-16 10:55] #3070 closed

[2019-04-16 11:03] thecodester commented on #3300
We place the images in server cache and the images apparently didn;t make, but I see them now. Can you check?

[2019-04-16 11:04] thecodester commented on #3299
Can you do the tutorial now?

[2019-04-16 11:05] thecodester commented on #3199
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-16 11:05] #3199 closed

[2019-04-16 11:06] thecodester commented on #3379
I see images now.

[2019-04-16 11:29] BezalelHank commented on #3345
@Sygyzmundovych  Hi. I have tried to upload screen shots of my issue, but I get the error message "Something went really wrong, and we can't process that file. Try again" I have tried JPG and PNG. Do you have any ideas? thanks!

[2019-04-16 11:36] shilpavij commented on #3247
Validation is working fine for me as well. Is the issue resolved for you?

[2019-04-16 11:44] thecodester commented on #3157
Were you able to see images?

[2019-04-16 11:50] thecodester commented on #2088
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-16 11:50] #2088 closed

[2019-04-16 11:51] BezalelHank opened #3386 "Use a message broker in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-broker.html

Please specify the step you are referring to:
On Step 1 when I try: docker run --name kafka --hostname kafka --network dev-net spotify/kafka
I get: docker: Error response from daemon: Conflict. The container name "/kafka" is already in use by container "5061c0986abd1ca086f37ddb356aafac59102451c632878230eeacbcfbefe

[2019-04-16 11:52] thecodester commented on #2960
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-16 11:52] #2960 closed

[2019-04-16 11:53] thecodester commented on #3086
Soon you will be able to create matches that ignore whitespace, or create your own regex. But in the meantime, exact match means exact match.

[2019-04-16 11:53] #3086 closed

[2019-04-16 11:53] heytombeck commented on #3157
Yes, and without clearing my own cache too.

[2019-04-16 11:55] thecodester commented on #3269
I haven't heard back from you. If this is still an issue, feel free to provide additional information.

[2019-04-16 11:55] #3269 closed

[2019-04-16 11:57] thecodester commented on #3295
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-16 11:57] #3295 closed

[2019-04-16 11:57] #3298 closed

[2019-04-16 11:57] qmacro commented on #3227
Hi there @tmundt - I'm guessing that you may have found what you're looking for (as @thecodester mentioned, it's the credentials that you will have created in a previous tutorial in the group that this tutorial lives in - [Get an Introduction to OData](https://developers.sap.com/group.scp-6-odata-intro.html)). Thanks.

[2019-04-16 11:57] #3227 closed

[2019-04-16 11:58] thecodester commented on #3301
Now? I'm confused because I can see them here.

[2019-04-16 12:00] qmacro commented on #3197
Hello @mts2605 - I checked the tutorial and this does not happen for me - I suspect it may be something you're encountering that is perhaps related to the steps you've taken so far. This feedback system is mainly for issues with the tutorial content itself (e.g. typos, etc) - if you are still encountering this issue, may I please suggest you ask for help in the relevant section of the SAP Communit

[2019-04-16 12:00] #3197 closed

[2019-04-16 12:01] thecodester commented on #3157
@prabhatpathania What say you?

[2019-04-16 12:07] shilpavij commented on #3332
Tutorial corrected as per new UI and changes are pushed to QA.

[2019-04-16 12:10] shilpavij commented on #3089
Meredith Hassett is the owner of this tutorial. Kindly contact her

[2019-04-16 12:13] alexeysizov opened #3387 "Create a Thing Model and Bind to Device"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-4-create-thing-model.html

Step 6: Map thing type to sensor type
->'First choose the sensor type from the list in the upper right and then choose the device properties that match the thing properties. In this example the names are the same but they do not have to be the same'

Unfortunately, in my case, previously created in IoT Servic

[2019-04-16 12:14] thecodester commented on #3181
@WorkJerryJanda Can you handle this?

[2019-04-16 12:16] prabhatpathania commented on #3157
Yes, cache clear did not help on the same day.
I tried from different machines as well.
But it is visible now. :)

[2019-04-16 12:16] #3157 closed

[2019-04-16 12:19] thecodester commented on #2492
@rbrainey can you handle this?

[2019-04-16 12:37] shilpavij commented on #3306
Platform destination name correctedhttps://github.com/SAPDocuments/Tutorials/issues/3306

[2019-04-16 13:23] WorkJerryJanda commented on #3181
@nbnayak88 I don't understand the issue. Several people have taken the tutorial and no one else reported any problems with Step 5. Could you please provide more details? (cc:ing @thecodester )

[2019-04-16 13:55] jhornik commented on #3364
@topherhoffman
Thanks for the feedback. I've updated the tutorial accordingly.

[2019-04-16 18:34] Sygyzmundovych commented on #3386
Hi there. The message indicates you have created one container with the name `kafka` already.
To check the list of created containers run
[code]
and you should see something like
[code]
Obviously, in your case kafka's container id would display `5061c0986abd`.
If you want to remove it, just run
[code]
and then try to rerun the command, which was failing previously for you.

I would really recommen

[2019-04-16 20:26] thomasalexneuhaus opened #3390 "Run example pipelines in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-examples.html

Please specify the step you are referring to
Copy any row of the terminal output and paste it in the frame below and click on Validate.

[2019-04-16 20:22:47.813] 0,4,25.555219261860465,47.41223556836962,532.4126972690706,1.017645583549283,23.99690674702611,59.746879572444016,0,719.2882102905135,409.22321564322885

[2019-04-17 00:06] karpovas1505 commented on #3332
Thanks, Shilpa.

вт, 16 апр. 2019 г., 19:07 Shilpa Vij <notifications@github.com>:

[2019-04-17 03:21] jinigirl commented on #3356
Hello *Daniel*,

I can see the images now.
Thanks for the help!

Regards,
Jini

On Sun, Apr 14, 2019 at 1:27 PM Daniel Wroblewski <notifications@github.com>
wrote:

[2019-04-17 03:25] jinigirl commented on #3315
Hello,

Please find attached file for my neo-app.json file.
I followed the steps in the instructions.

![image](https://user-images.githubusercontent.com/36019912/56258808-76f3dc00-6103-11e9-8c61-4a4759e334b1.png)

[2019-04-17 07:32] VivekRajKM commented on #3187
Facing the same issue, unable to validate. Tried beautify as suggested above as well, din't work either.

[2019-04-17 07:47] IObert commented on #3315
This looks right. Can you also add a screenshot of the error message you get when you request the metadata?

And can you try to remove and re-create your destination in the Cloud Cockpit?

[2019-04-17 14:48] #2888 closed

[2019-04-17 18:06] BezalelHank commented on #3390
I'm having the same issue. That checker does not seem to work until you get to Store Sensor Data in HDFS in SAP Data Hub.

[2019-04-17 19:33] thomasalexneuhaus commented on #3316
is it fix

[2019-04-17 19:58] thomasalexneuhaus opened #3392 "Use a message broker in SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-broker.html

Please specify the step you are referring to Step 4: Execute the data pipeline

[2019-04-17 19:34:13.402] 508,4,25.441059169277086,50.06729270800206,576.3136582678364,0.9829288585720629,24.446170268142556,57.18224493344707,0,622.1122482714203,471.244684423664
Submit Answer
×
Sorry, that’s incorrect. Please try aga

[2019-04-17 20:11] thomasalexneuhaus opened #3393 "Bundle data (via JavaScript) SAP Data Hub, developer edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-bundledata.html

Please specify the step you are referring to Step 4: Check the created files in HDFS

0,6,25.090658362700825,44.303874076186695,543.691403199344,0.9743208887546716,23.726837765793906,54.12766534458229,1,721.8617675213762,461.46364374663995
Sorry, that’s incorrect. Please try again.

Why ist this wrong?

[2019-04-17 22:15] austinkloske22 opened #3394 "Get Started with SAP S/4HANA Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-getting-started.html

Step 4: Use the SDK in existing project (optional)

`austinkloske@penguin:~/git/cloud-s4-sdk-examples$ npm run start:local

Express server listening on port 8080
^C
austinkloske@penguin:~/git/cloud-s4-sdk-examples$ sudo npm install @sap/s4sdk-core
npm ERR! code E404
npm ERR! 404 Not Found: @sap/s4sdk-core@latest

npm

[2019-04-18 04:47] thecodester commented on #3187
@rbrainey Can you help here?

[2019-04-18 04:52] #3356 closed

[2019-04-18 04:52] thecodester commented on #3332
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 04:52] #3332 closed

[2019-04-18 04:55] thecodester commented on #3306
Has this issue been resolved?

[2019-04-18 05:36] marcuscbehrens commented on #3387
has iot service been hooked to leonardo iot via a ticket to sap or have you used the new apis that allow you to set up the link yourself? in the later case this link is now (iot service) tenant specific and does not work anymore for sensor types created in the root tenant - so you have to create a tenant in iot service.

[2019-04-18 06:34] julieplummer20 commented on #3380
Hi CE, I am officially on vacation but will look into this as soon as I get back.
Best wishes
Julie.

[2019-04-18 06:37] julieplummer20 commented on #3382
Hi CE, That’s embarrassing (for us).
The Validation Engine is very strict.
We are working to change that but in the meantime I’ll change my questions to multiple choice.
Thanks for letting me know.
Julie.

[2019-04-18 06:45] thecodester commented on #3382
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:45] #3382 closed

[2019-04-18 06:46] thecodester commented on #3363
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:46] #3363 closed

[2019-04-18 06:46] thecodester commented on #3274
@dygsylmz Has this issue been resolved?

[2019-04-18 06:46] thecodester commented on #3141
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:46] #3141 closed

[2019-04-18 06:47] thecodester commented on #3142
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:47] #3142 closed

[2019-04-18 06:47] thecodester commented on #3210
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:47] #3210 closed

[2019-04-18 06:48] thecodester commented on #3245
@TonyDag Has the issue been resolved?

[2019-04-18 06:49] thecodester commented on #3218
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 06:49] #3218 closed

[2019-04-18 06:55] IObert commented on #3040
Closed due to inactivity

[2019-04-18 06:55] #3040 closed

[2019-04-18 06:57] sacnl commented on #3394
Thanks for reporting this issue. Unfortunately, the tutorial references an obsolete name, this should be `@sap/cloud-sdk-core`. We will adapt the tutorial.

Please try with `sudo npm install @sap/cloud-sdk-core`.

[2019-04-18 07:02] sacnl commented on #3381
Thank you for the feedback.
* For Java, please refer to https://adoptopenjdk.net/installation.html#x64_linux-jdk
* For Maven, please refer to https://maven.apache.org/install.html

We will check if we add this to the tutorial.

[2019-04-18 07:26] adadouche commented on #3324
Hi,

Any news on this?

I'll close this issue for now. Feel free to reopen.

Thanks and hope to hear from you soon.

[2019-04-18 07:26] #3324 closed

[2019-04-18 07:27] adadouche commented on #3350
Hi,

Thanks and hope to hear from you soon.

[2019-04-18 07:27] #3350 closed

[2019-04-18 07:28] adadouche commented on #3016
Hi,

Code was updated.

Thanks for your feedback.

[2019-04-18 07:28] #3016 closed

[2019-04-18 07:38] thecodester commented on #2911
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-18 07:38] #2911 closed

[2019-04-18 08:28] rkonnerth commented on #3235
@baxterdale
Thanks you!
your hint with CAPFullstack/srv/src/main/webapp/WEB-INF/web.xml solved the issue.

[2019-04-18 08:28] #3235 closed

[2019-04-18 11:13] Liebherr commented on #3279
Hi Peter,
thank you for finding this issue.
As I was already reworking the whole tutorial group a little this simple fix needed a some time longer.
Please excuse the delay.
Thank you for closing the issue, if it is solved for you now.
Regards
Ulrike

[2019-04-18 11:32] cfvaz1973 opened #3396 "Send the CPU usage data to SAP IoT Application Enablement"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-sendpy0.html

Hello sygyzmundovych
 I can't get it to work.
I keep getting 500 error
500 {"msg":"Processing 1 message(s) received from device [F669B73E594941EAAD1324C47E54E807] failed"}

Is it because i am running Python 3.7.1 ?

Thanks in advance.
Carlos Vaz

[2019-04-18 13:03] jhornik commented on #3034
Hi Markus, sorry for the delay. I have updated step 4 with a better link: https://developers.sap.com/tutorials/cp-cf-create-account.html.

Hope this resolves the issue.

[2019-04-18 13:38] Lsubatin commented on #2453
This path has changed a couple of times since then. Closing

[2019-04-18 13:38] #2453 closed

[2019-04-18 13:40] Lsubatin commented on #3154
Hi, the difference is that one is a database and the other is a schema. All of the database configurations are not possible in the trial as you have no access to the database basically. I would recommend this for further context:  https://blogs.sap.com/2018/10/16/yet-another-intro-to-hana-as-a-service/

[2019-04-18 13:40] #3154 closed

[2019-04-18 13:42] Lsubatin commented on #3158
This kind of question belongs in the community (and I have addressed this there too).  I would recommend explaining what you mean by "only the changes". A note: you transport an updated application, not the code.

[2019-04-18 13:42] #3158 closed

[2019-04-18 13:44] Lsubatin commented on #3192
I'm not having this problem in SPS03 (and haven't seen it in other people's instances), if you're having interface problems on HXE please post in answers.sap.com . Otherwise, I would create an incident. Thanks!

[2019-04-18 13:44] #3192 closed

[2019-04-18 13:48] Lsubatin commented on #3221
This is an option: https://tools.hana.ondemand.com/#hanatools

And HXE's download manager offers to download the clients too: https://www.sap.com/cmp/ft/crm-xu16-dat-hddedft/index.html

[2019-04-18 13:54] Lsubatin commented on #3265
I'm assuming it is and closing. This belongs in answers.sap.com anyways.

[2019-04-18 13:54] #3265 closed

[2019-04-18 13:55] Lsubatin commented on #3272
Closing on inactivity. Please post the relevant error logs in a question in answers.sap.com.

[2019-04-18 13:55] #3272 closed

[2019-04-18 14:07] Lsubatin commented on #3283
Hi, this belongs in answers.sap.com.  I believe I addressed the same question there and requested the logs for the activation of the grants file only. If that wasn't your question, please include a screenshot of your project structure and the output of the build of the hdbgrants file.

[2019-04-18 14:07] #3283 closed

[2019-04-18 14:11] Lsubatin commented on #3322
Hi, this is not possible. I believe this was addressed in the community too (it belongs there). Thanks!

[2019-04-18 14:11] #3322 closed

[2019-04-18 14:14] JCurrie27 commented on #3344
Thanks for this feedback. The command has been corrected and the updated tutorial will be published shortly.

[2019-04-18 14:14] #3344 closed

[2019-04-18 14:18] schwarzc11 commented on #3363
Hi Julie,
thanks for your feedback reassuring me that I was not on teh wrong track here.
Semantic code check is beyond reach of course. I think the idea to challenge with little code snippets is actually a good one.
But that kind of validation engine, if it compares character by character, isn't worth a lot, indeed and sabotages that approach.
Actually, I copy-pasted your solution above into the q

[2019-04-18 14:21] Lsubatin commented on #3305
This will depend on what your project looks like and what  names you've been using. You can find a similar code structure here for further reference: https://github.com/SAP/com.sap.openSAP.hana5.example/tree/master/user-js/lib/user/xsodata

[2019-04-18 15:56] julieplummer20 commented on #3363
Hi Christian,
"I copy-pasted your solution above into the question field, and even then it said the answer is wrong."
I'm sorry to hear that. That must be very frustrating (for you and me!)
I'm on vacation next week, but I'll change it to multiple choice pronto when I get back.
Thanks, in turn, for your feedback.
Julie.

[2019-04-18 16:59] jaehoon92 opened #3398 "Create a Destination within the Cloud Foundry Environment"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-create-destination.html

Please specify the step you are referring to
In step 7, I am not able to see the Cloud Foundry Northwind destination on Service URL of the Web IDE wizard. Do I need further steps, such as creating a destination instance in CF space, to see the destination coming up on Web IDE?

[2019-04-19 10:47] VivekRajKM commented on #3306
@thecodester  It wasn't an issue, but was little missed info., Corrected now, thanks @shilpavij  and @thecodester  for all brilliant efforts. :)

[2019-04-19 10:47] #3306 closed

[2019-04-19 18:10] #3195 closed

[2019-04-19 19:20] TuncayKaraca opened #3400 "Edit Web Content in your Portal Freestyle Site - From the web content editor tools, web content editors can?"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-freestyle-site-edit-content.html

Please specify the step you are referring to _Step - 3: Publish the changes to your web content_

I couldn't pass Step 3: Publish the changes to your web content question: From the web content editor tools, web content editors can:?

To me answer should be "Edit text, images, videos and other web content

[2019-04-21 08:58] thecodester commented on #3400
Neither of the answers you cited are correct. There are 15 possible combinations -- did you try all of them?

[2019-04-21 09:38] #3364 closed

[2019-04-21 09:38] #3034 closed

[2019-04-21 15:41] shilpavij commented on #3306
Hello Daniel,

I have already written to Meredith.

Regards
Shilpa

From: Daniel Wroblewski <notifications@github.com>
Sent: Thursday, April 18, 2019 10:25 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Vij, Shilpa <shilpa.vij@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Destination wizard is not in sync (#3306)

Has this issue been resolved?

[2019-04-21 20:03] carlospinto1 opened #3401 "Create Your Own SAP Fiori Launchpad"
Tutorial URL: https://developers.sap.com/tutorials/cp-fiori-create.html

In the step 6: "In your Fiori Launchpad Cockpit dashboard, copy the URL up to the ? and paste it in the below box."

Could you please clarify what URL we need to paste in the box?

I have tried with the URL attached but it does not work.

Many thanks in advance.

Carlos

![Fiori cockpit URL](https://user-images.githubusercont

[2019-04-21 21:35] nilpeksen opened #3402 "Configuring Eclipse with SAPUI5."
Tutorial URL: https://developers.sap.com/tutorials/sapui5-install-eclipse.html

https://tools.hana.ondemand.com/luna link is not working.
Please update tutorial with https://tools.hana.ondemand.com/2018-12 for Eclipse 2018-12,
https://tools.hana.ondemand.com/2018-09 for Eclipse 2018-09 or
https://tools.hana.ondemand.com/photon for Eclipse Photon links.

[2019-04-22 05:46] thecodester commented on #3402
@IObert Is this something you can help with?

[2019-04-22 06:02] thecodester commented on #3247
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 06:02] #3247 closed

[2019-04-22 12:24] thecodester commented on #2312
@jhornik Can you investigate this?

[2019-04-22 12:26] thecodester commented on #2881
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:26] #2881 closed

[2019-04-22 12:28] thecodester commented on #2882
@rbrainey Is this resolved? If so can you close?

[2019-04-22 12:36] thecodester commented on #2932
@mervey45 @Liebherr Is this issue resolved?

[2019-04-22 12:37] thecodester commented on #2933
Any update?

[2019-04-22 12:38] thecodester commented on #2959
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:38] #2959 closed

[2019-04-22 12:40] thecodester commented on #3003
@JCurrie27 @aptk001 Any update on this?

[2019-04-22 12:41] thecodester commented on #3009
@Lsubatin You are listed as a reviewer of the tutorial. Do you know who owns this and can help here?

[2019-04-22 12:43] thecodester commented on #3065
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

Feel free to continue the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-04-22 12:43] #3065 closed

[2019-04-22 12:43] thecodester commented on #3073
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:43] #3073 closed

[2019-04-22 12:44] thecodester commented on #3074
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:44] #3074 closed

[2019-04-22 12:46] thecodester commented on #3121
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue. I hope you were able to contact Marcus off line and resolve the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:46] #3121 closed

[2019-04-22 12:48] thecodester commented on #3155
I see the DONE buttons were added, and I assume all is well, and you can complete the tutorial.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:48] #3155 closed

[2019-04-22 12:50] thecodester commented on #3169
The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:50] #3169 closed

[2019-04-22 12:51] thecodester commented on #3173
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:51] #3173 closed

[2019-04-22 12:52] thecodester commented on #3184
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 12:52] #3184 closed

[2019-04-22 12:53] thecodester commented on #3221
@mpern Is the issue resolved?

[2019-04-22 12:55] thecodester commented on #3222
@JCurrie27 @TerryNing Can you guys comment on the issue?

[2019-04-22 13:03] thecodester commented on #3280
Thank you for your feedback. We haven't heard from you (@mts2605) in a while, so we are closing the issue. The images issue should be resolved.

If you still have questions, feel free to reopen the issue.

@jitendrakansal I have republished the tutorial to try to fix the issue with the first image.

[2019-04-22 13:03] #3280 closed

[2019-04-22 13:04] jhornik commented on #2312
@thecodester Better if @avizov responds. He is probably on vacation until next week.

[2019-04-22 13:04] JCurrie27 commented on #3003
@NewFolk - If you are still having XSA startup problems, many thanks if you could log your startup difficulties on the HANA express community Q&A forum: [https://answers.sap.com/questions/ask.html](https://answers.sap.com/questions/ask.html). In the Primary Tag field, search for "express" and select "SAP HANA, express edition"

@songrui01; @TerryNing:  I'm closing this issue. Please monitor the Q&

[2019-04-22 13:04] #3003 closed

[2019-04-22 13:06] thecodester commented on #3316
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-22 13:06] #3316 closed

[2019-04-22 13:13] JCurrie27 commented on #3222
@mpern - Thanks for your comments. I've taken your request for open source Docker setup information (for customizable installation and setup) to the program team.

[2019-04-22 13:13] #3222 closed

[2019-04-22 18:33] hschaefer123 commented on #2312
hi,
i can confirm that this has been fixed in the meantime.

Right now, i am using cachebuster feature in my deployed ui5 projects.
This was not recognized formerly because flp also has a custom cache feature.

Regards Holger

[2019-04-22 20:24] Liebherr commented on #2933
Yes, is resolved now.

[2019-04-22 20:24] #2933 closed

[2019-04-22 20:25] Liebherr commented on #2932
resolved by the big last changes

[2019-04-22 20:25] #2932 closed

[2019-04-22 20:26] #2936 closed

[2019-04-23 02:37] jmalla opened #3405 "Create an Account on the Gateway Demo System"
Tutorial URL: https://developers.sap.com/tutorials/gateway-demo-signup.html

Please specify the step you are referring to

Looks like ES5 has been down for a few hours.  I am not able to get to it.  Can you please check?

Thanks,
Jay

[2019-04-23 05:22] avizov commented on #2312
Hi Holger,
So, can you close the ticket?
Thanks,
Alex

[2019-04-23 05:41] thecodester commented on #3405
@qmacro Can you take a look?

[2019-04-23 06:17] qmacro commented on #3405
Hi @thecodester we will need to find out the contact person for ES5 - let me talk to the folks to find out.

[2019-04-23 06:32] Apfohlmann commented on #3220
Hi Jay,

do you still have the issue? I worked with a trail SCP account.

Best regards,
André

[2019-04-23 06:33] Apfohlmann commented on #3314
@chgeo can you help Johann with this issue?

[2019-04-23 07:01] chgeo commented on #3314
Mere HANA entitlements are not sufficient.  Please check if there is a service instance of type 'hana-db' available for your space, which represents an actual HANA DB.
See [here](https://help.sap.com/viewer/cc53ad464a57404b8d453bbadbc81ceb/Cloud/en-US/21418824b23a401aa116d9ad42dd5ba6.html) for how to create such an instance, and [here](https://help.sap.com/viewer/cc53ad464a57404b8d453bbadbc81ceb/C

[2019-04-23 07:05] the1bit commented on #3065
Hi,

The installation does not work according to documentations.  From that point of view the issue is not solved.

I would like to ask you to update the documentation.

Thank you for your help.

BR,
TB

[2019-04-23 07:16] #2312 closed

[2019-04-23 08:11] mts2605 commented on #3241
Look forward to news on this;-)

[2019-04-23 08:35] #3398 closed

[2019-04-23 08:36] IObert commented on #3398
Thanks @jaehoon92!

You're right, the additional properties aren't required for the destination in the Cloud Foundry environment (as the Web IDE only checks the Neo destinations atm).

You should be able to see the destination in the Web IDE once you created the [Neo destination](https://developers.sap.com/tutorials/hcp-create-destination.html)

[2019-04-23 09:06] thecodester commented on #3065
@JCurrie27 @TerryNing Can you address?

@the1bit When you say the documentation needs fixing, which documentation? Link?

[2019-04-23 09:24] oisee opened #3409 "Use the Similarity Scoring with the Text Feature Extraction API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-similarity-text.html

Hi Abdel,

Thanks for the guide.

Is it possible to re-upload the screenshots?
![screenshot_report](https://user-images.githubusercontent.com/53392/56570007-04c34180-65b2-11e9-9eb9-fbe99a571fe5.png)

It seems like all screenshots are gone.

Best regards, Ilia.

[2019-04-23 09:55] #3402 closed

[2019-04-23 09:57] IObert commented on #3402
Thanks @nilpeksen!
I updated the screenshots and replaced the link to the specific version with a link to the tools page

[2019-04-23 11:28] johanngoltz commented on #3314
I do not have the hana-db service available to me. Is it even a part of the free Cloud Platform trial? If not, the tutorial cannot be completed with a free account, right?

[2019-04-23 11:36] chgeo commented on #3314
Ok, so you are using a trial landscape?
I know there is a free HANA trial in `eu10`, but for `us` I am not sure.  @AlexRieder can you answer this?

[2019-04-23 11:37] johanngoltz commented on #3314
The error I posted initially does not occur in `eu10`. I can create a hanatrial there without any problems, but not in `us30`, so something _must_ be different there...

[2019-04-23 12:02] chgeo commented on #3314
Yes, we would need a statement on HANA availability on `us30` here, which is why I pinged @AlexRieder.

[2019-04-23 12:34] JCurrie27 commented on #3065
@thecodester: The documentation in question is cited earlier in this thread. The bind mounting command
... -v /data/saphana:/hana/mounts ...
works for some users and fails for others -- this requires further investigation by @TerryNing's team before the tutorial [https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html](https://developers.sap.com/tutorials/hxe-ua-install-using-docker.

[2019-04-23 13:05] mpern commented on #3221
No.

While my issues are solved (I used the drivers from maven), the documentation is still wrong:

- The links still point to the SAP Store
- No link to maven or a compatibility matrix as discussed above

[2019-04-23 13:09] JCurrie27 commented on #3221
@Chris-Huston: would you be able to update this JDBC tutorial (formerly a how-to) per the feedback above?

[2019-04-23 13:21] fx5151git commented on #3317
this one is related also to the occupied port which can also be closed. @thecodester

[2019-04-23 14:49] arieder83 commented on #3314
As far as I know there is no HANA on us30 (GCP) would it be an alternative to use us10?

[2019-04-23 14:51] johanngoltz commented on #3314
Sure. Maybe making sure that Hana is available in the selected region should be added as a tutorial step, then.

[2019-04-23 15:34] #3317 closed

[2019-04-23 22:34] TuncayKaraca commented on #3400
Thanks Daniel. I've got 1010 👍

[2019-04-23 22:34] #3400 closed

[2019-04-24 07:09] chgeo commented on #3314
@Apfohlmann can you add a statement for HANA in the prerequisites of the tutorial?  We shouldn't mention landscape names, though, since this is subject to change, but tell that HANA needs to be available in the trial account.

[2019-04-24 07:10] chgeo commented on #3314
Apart from that, let's close this issue.

[2019-04-24 07:34] Apfohlmann commented on #3314
@chgeo I will add it to the tutorial.

@thecodester you can close this issue.

[2019-04-24 11:51] qmacro opened #3415 "Deploy Application to Cloud Foundry with SAP S/4HANA Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

Please specify the step you are referring to: Step 1: Deploy application to Cloud Foundry

When deploying with `cf push`, an error occurs as follows:

[code]

The Node.js version `^11.10.0` is specified in `package.json` and it appears that this was from [PR #66](https://github.com/SAP/cloud-s4-sdk-ex

[2019-04-24 12:11] Eviloux commented on #2780
Hello, i have the same error. and is not the longer of destination name i have check.
![image](https://user-images.githubusercontent.com/44774088/56658375-cb1a3580-669a-11e9-9e0c-828fa499147d.png)

[2019-04-24 12:14] Eviloux opened #3416 "error create crud-master-detail tutorial step 8"
hello, i have this error in the stp 8 of tuto create crud master-detail application.
![image](https://user-images.githubusercontent.com/44774088/56658564-37953480-669b-11e9-8d7e-e411ad19d8a5.png)
![image](https://user-images.githubusercontent.com/44774088/56658588-4d0a5e80-669b-11e9-9c79-e995f4181c6b.png)

[2019-04-24 12:23] mr-flannery commented on #3415
Thanks for pointing that out!
@rkamath3 I think we can revert the PR as a quickfix.
Apparently, the Cloud Foundry node.js buildpack is regularly changing which node versions are supported in a breaking manner.
So we should probably do something like this:

[code]

[2019-04-24 12:26] fgeckeler commented on #3415
@mr-flannery I will do that and add you as a reviewer.

I observed the same behaviour with changing the supported node versions, that's why we changed it in the referenced PR.

[2019-04-24 12:38] MANUGUPTASAP commented on #3082
@niloofar-naseri  : I also faced same issue and when I try to use sap help link you provided above - it shows not found. Can you please share the latest help link ?

[2019-04-24 12:57] fgeckeler commented on #3415
We changed the version as proposed by @mr-flannery
Thank you for raising this issue @qmacro !

[2019-04-24 14:17] Eviloux commented on #3416
@VinoGandhiM  have you a soluce for this problem?

[2019-04-24 14:31] #3416 closed

[2019-04-25 06:52] alexeysizov commented on #3387
Thank you for the useful note. After appropriate IoT service configuration via API and recreation of all entities it worked out.

[2019-04-25 06:52] #3387 closed

[2019-04-25 06:53] #3376 closed

[2019-04-25 13:27] pahlkelerch commented on #3370
Hallo Marcus,
zwei Fragen habe ich noch:

  *   Kannst Du meinen User P002627 auf der Demoinstallation  https://sap-iotaehandson2.iot-sap.cfapps.eu10.hana.ondemand.com/launchpage/ mit einem neuen Passwort versehen? Das angegebene Passwort ‚Laptop01‘ funktioniert nicht, ich kann mich aber auch nicht daran erinnern, eine neues vergeben zu haben. Wenn ich das IoT Tutorial von Beginn an starte, laufe

[2019-04-25 15:02] russellw999 opened #3420 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-build-import.html

Please specify the step you are referring to

Step 1 : Validation of Build Service URL fails every time

[2019-04-26 06:13] MANUGUPTASAP opened #3421 "Deploy UI to cloud foundry using HTML5 Repository plan app-host"
Hi Team ,

I am facing issue while deploying mta.yaml to CF using HTML5 repository app-host plan. The error is -

Error creating services: Error creating service "JVSolution_html5_repo_host" from offering "html5-apps-repo" and plan "app-host": Service broker operation failed: 502 Bad Gateway: Service broker error: Store quota lower then 0 or bigger then already assigned quota.Unexpected error:

Si

[2019-04-26 18:38] I850604 opened #3422 "Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

Please specify the step you are referring to

I am creating an odata service that supports PUT and Delete operations. Is there any annotation that we can use as well?

[2019-04-26 20:23] jameskauczka opened #3423 "Getting started with the SAP API Business Hub"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-getting-started.html

Please specify the step you are referring to
Step 1. OK except the new account does not have all the items in menu at left.

What to select??? Cloud Foundry Trial or Neo Trial???
Ultimately trying to use GCP, can't figure out how to send a code to my phone..

[2019-04-27 12:53] marcobuescher opened #3424 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to

Hello,

i can´t create a new Project, because the Point "3.Set the Environment to Neo, ABAP." is not Possible. By the way, the changed the Version.

Regards

Marco

[2019-04-28 05:29] thecodester commented on #3423
@rbrainey Do these tutorials need refreshing/deletion? In TDash, this tutorial is shown as Adrian being the first author, but GitHub shows Meredith as first author, and Adrian not having to do anything with it.

[2019-04-28 05:32] thecodester commented on #3422
@I850604 Are you Jonas? Best to show your real name in your account, and using I number is frowned upon?

@I850604 We'll see if Andre has an answer, but general questions of this type are best opened in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-04-28 05:40] thecodester commented on #3421
@mervey45 There is a link to the Help Portal in the other issue but it no longer works. Can you address?

[2019-04-28 05:40] thecodester commented on #3421
@MANUGUPTASAP Are you doing the tutorial https://developers.sap.com/tutorials/abap-environment-cf-deploy.html?

[2019-04-28 05:42] thecodester commented on #3420
@russellw999 What value are you providing?

[2019-04-28 05:44] thecodester commented on #3370
@marcuscbehrens @pahlkelerch Is this issue resolved?

[2019-04-28 05:47] #3314 closed

[2019-04-28 06:55] thecodester commented on #3415
@qmacro Can we close the issue now?

[2019-04-28 06:59] thecodester commented on #3082
@mervey45 Can you address this?

[2019-04-28 06:59] thecodester commented on #2780
@lnoenssap Can you assist?

[2019-04-28 07:53] qmacro commented on #3415
This is for the team to fix, and I have just checked - it has been: https://github.com/SAP/cloud-s4-sdk-examples/commit/fd2fd45fa95e1bfdb41e13882c248bf7c78593c1

[2019-04-28 07:53] #3415 closed

[2019-04-28 14:30] amitavamitra opened #3425 "Create a CRUD Master-Detail App"
Tutorial URL: https://developers.sap.com/tutorials/cp-webide-create-crud-app-template.html

Please specify the step you are referring to

https://hcpms-i304524trial.hanatrial.ondemand.com/SampleServices/ESPM.svc

response

HTTP Status 503 - The requested service is not currently available.
@VinoGandhiM

[2019-04-28 15:30] russellw999 commented on #3420
Hi,

IT works if i enter the following URL which is the service in Web IDE
https://account.hanatrial.ondemand.com/cockpit/#/acc/pxxxxxxxxxxtrial/service/build/overview

It was a question of semantics.
I understood the  URL of the BUILD service in SAP Cloud Platform to be the actual URL after one clicks on < open Build > in Web IDE Fullstack

which would be

https://www.build.me/

or after login in

[2019-04-28 22:52] amitavamitra opened #3426 "Set Up SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Please specify the step you are referring to

 Step 2: Download SAP Data Hub, developer edition

On trying the link as specified I get the following error

Unfortunately, a technical error occurred when processing your request. Please try again.

@anishgupta85

[2019-04-29 05:24] MANUGUPTASAP commented on #3421
@thecodester : No , I am simply trying to deploy my custom app to HTML5 repository and consume it on FLP. My main concern is how to check quota for specific service in SAP Cloud foundry and change quota for specific service like HTML5 repo(I know issue is with HTML5 repo service with plan app-host quota). As per document HTML5 repo service quota is being derived on the basis of Application runtime

[2019-04-29 05:36] thecodester commented on #3420
I have updated the question to refer to the service page within SAP Cloud Platform.

[2019-04-29 05:36] #3420 closed

[2019-04-29 05:49] lnoenssap commented on #2780
Hi @Eviloux ,

Can you check your destination settings and re-enter the credentials ? I had similar issues when my credentials were not up-to-date.

Thanks,
Ludo

[2019-04-29 06:06] thecodester commented on #3421
I'll let @mervey45 see if she can find a working link. Generally, such general questions (not directly linked to the specific tutorial) should be addressed in the SAP Community / SAP Questions & Answers (https://www.sap.com/community.html / https://answers.sap.com/index.html).

help.sap.com has their own support pages, and you can provide feedback or report an issue (e.g., missing documentation) @

[2019-04-29 06:34] jitendrakansal commented on #3337
tutorial has been updated with latest change in MS cockpit UI. Pls give a try now.

regarding error 'A Query URL does not return data. Use one of the other URLs instead to show data' , pls ignore it , we will fix it in future release.

[2019-04-29 06:37] marcuscbehrens commented on #3370
resolved by reseting the password

[2019-04-29 06:38] marcuscbehrens commented on #3370
Yes, I talked to Christoph directly. I now updated the ticket.

---
Marcus Behrens, Product Management, SAP Leonardo IoT
+49 160 8896 474, expect SMS and IM response in 1 hour, email in 1 day or never

From: Daniel Wroblewski <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Sunday, 28. April 2019 at 07:44
To: SAPDocuments/Tutorials <Tutorials@noreply.githu

[2019-04-29 06:43] AstridHerbst commented on #3424
Hi Marco,

Thanks for pointing this out. I have updated the step text and version number.

Regards, Astrid

[2019-04-29 06:43] #3424 closed

[2019-04-29 06:44] jitendrakansal commented on #3355
@thecodester issue has been resolved, i received email from @MarcusBrunneckerSAP saying he had to install and use  the “QR Code Reader” within WS One.

[2019-04-29 07:01] #3370 closed

[2019-04-29 07:01] #3355 closed

[2019-04-29 08:02] fx5151git commented on #3426
Could you try it again, it works fine right now @amitavamitra

[2019-04-29 08:08] julieplummer20 commented on #3380
Hi,
The original text omitted the cardinality for the foreign key. Your version is better, but the validation engine is too strict.
I will convert this (and other code questions) to multiple choice asap.
Best wishes,
Julie.

[2019-04-29 08:52] julieplummer20 commented on #3380
Done - pushed to Prod.

[2019-04-29 11:24] jameskauczka commented on #3423
I expect they need a refresh as the UI has changed.

[2019-04-29 13:01] renejeglinsky commented on #3422
I'll have a look at this and will come back to you.

@thecodester You can set me as an assignee here and remove André. Thanks :)

[2019-04-29 13:15] thecodester commented on #3380
https://github.com/SAPDocuments/Tutorials/pull/3431

[2019-04-29 13:15] #3380 closed

[2019-04-29 14:22] renejeglinsky commented on #3422
I think your question goes beyond the scope of the tutorial. Do you know the CAP documentation [1]? You find all external information there.

[1] https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/00823f91779d4d42aa29a498e0535cdf.html

[2019-04-29 17:14] I850604 commented on #3422
@renejeglinsky thank for your help. I am able to do PUT and DELET without any annotations.

[2019-04-29 17:14] #3422 closed

[2019-04-29 20:07] CESolomon commented on #3380
But there is no question shown now....just 3 choices. haha

[2019-04-29 21:42] amitavamitra commented on #3426
Thanks @fx5151git it works and I managed to install SAP Datahub.

[2019-04-30 03:56] jinigirl opened #3434 "Set up Secure Tunnel between ABAP System and SAP Cloud Platform (CF)"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-create-secure-tunnel.html

Please specify the step you are referring to:

I followed the steps in this tutorial for my cloud foundry trial, but still cannot seem to connect to my backend system. I checked that my internal host details are correct. What are the possible reasons why the status is Not Reachable? Thanks!

[2019-04-30 05:13] thecodester commented on #3426
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-04-30 05:13] #3426 closed

[2019-04-30 05:38] thecodester commented on #3380
Fixed @julieplummer20 See the format for adding the question to the rules

[2019-04-30 06:48] JensHaley commented on #3434
One thing that comes to my mind is that it's always safer to use the IP address (x.y.z.n) as internal host to avoid that the connection is broken due to DNS issues.

Another good check is to see whether you can connect to your OData service independently from the Cloud Connector, so just by using transaction /n/IWFND/MAINT_SERVICE in your ABAP system. See step 6 in the first tutorial of this group

[2019-04-30 09:39] jinigirl commented on #3434
Hello Jens,

I tested again today, and status is now reachable.
Probably there was an issue somewhere earlier, but now its working fine.
Thanks!

Jini

On Tue, Apr 30, 2019 at 2:48 PM Jens Haley <notifications@github.com> wrote:

[2019-04-30 09:50] jinigirl opened #3435 "Create a Node.js module to expose OData services"
Tutorial URL: https://developers.sap.com/tutorials/xsa-ml-e2e-create-node-module.html

Please specify the step you are referring to:

Hello, I wanted to try creating my own Node.js app in the SCP, but I don't know how to start.
Is this the web IDE? I can't seem to find the option to create new Node.js module.

Thanks.

[2019-04-30 13:05] shilpavij commented on #3307
Dear team,

There is a UI and functionality change and I am talking to concerned people for the same . I will work on the tutorial as soon as I get input. Mostly by this week it should be done.

Regards
Shilpa

From: Daniel Wroblewski <notifications@github.com>
Sent: Monday, April 29, 2019 12:37 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Vij, Shilpa <shilpa.vij@sap.com>; Assi

[2019-04-30 13:11] Lsubatin commented on #3435
Hi,
That tutorial is based on Web IDE for HANA, but the steps are the same as in Web IDE Full stack (which is the version in SCP). You need to start from the first tutorial in the prerequisites (https://developers.sap.com/tutorials/xsa-ml-e2e-github-mta.html). However, I would recommend this group instead: https://developers.sap.com/group.hana-xsa-get-started.html

Here is another example using th

[2019-04-30 13:11] #3435 closed

[2019-05-01 03:33] equilibrium999 opened #3438 "Create a Hyperledger Fabric Development Node"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-create-hlf-node.html

Please specify the step you are referring to
Step 5
When I select dev plan, it said that this is a paid service plan.
Of course I'm using trial account and just want to do tutorials.

[2019-05-02 06:00] shilpavij commented on #3307
Dear Colleagues,

I have pushed the changes with #3440

Regards
Shilpa

From: Daniel Wroblewski <notifications@github.com>
Sent: Monday, April 29, 2019 12:37 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Vij, Shilpa <shilpa.vij@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Creation of sample data in mobile cards (#3307)

Assigned #3307<https:

[2019-05-02 06:15] thecodester commented on #3307
merged

[2019-05-02 06:15] #3307 closed

[2019-05-02 07:08] heytombeck commented on #3438
Thanks for raising this. I've just tried the same tutorial on my trial account and you're right, this does say that a dev plan is a paid service plan. That's a bug / an error on our part, but if you select 'Dev' and then click 'Next', the process still works and allows you to create the service instance. If you select 'backbone', for example, you'll notice that you're blocked from creating the ser

[2019-05-02 08:52] TThorsager opened #3441 "Explore the Generated App and OData Service"
In step 2 of this tutorial "Examine the generated application", I get this error message on the simulated device when I tap on either of the collections:

loading data failed!
dataserviceerror error 500 (internal server error)
{"code":"",message":"service excetion: [414] user is forced to change password"}

![image](https://user-images.githubusercontent.com/33313082/57074111-41461a00-6ce3-11e9-86a

[2019-05-02 09:01] marcobuescher opened #3442 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to

Sorry Astrid,

I can´t find the point 4. "Workflow Project"  in my list to set up a Workflow Project.

[2019-05-02 09:16] marcobuescher commented on #3442
Sorry, I see the plugin was not started.

[2019-05-02 09:51] thecodester commented on #3442
So you are OK?

[2019-05-02 10:36] marcobuescher commented on #3442
Yes thank you...

Regards

[2019-05-02 10:36] #3442 closed

[2019-05-02 11:37] marcobuescher opened #3443 "Extend a Workflow Definition with an Exclusive Gateway"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-03-add-excl-gw.html

Please specify the step you are referring to Step 4.
Hello,

I think the definition of defining the User Interface is a litte bit tricky because you don´t need the definition of the SAPUI5 Component.

Best regards

Marco

[2019-05-02 12:57] qmacro commented on #3443
Hi @marcobuescher - thanks very much for the feedback. I'm not quite sure what you mean, but I'm guessing you're referring to the fact that a custom UI5 component is not absolutely necessary here because Workflow Forms can be used.

If that is what you mean, you are right, but this tutorial is deliberately using a UI5 component for the reason given in the referenced and directly preceding tutorial

[2019-05-02 12:57] #3443 closed

[2019-05-02 17:39] marcobuescher opened #3446 "Create an SAP Build Prototype"
Tutorial URL: https://developers.sap.com/tutorials/build-create-prototype.html

Please specify the step you are referring to Step 12.

If I tryed to share the Prototyp I get the errors

"Oops... Something went wrong while saving. Further changes will not be saved. Please refresh your browser to continue making modifications"

 "Oops... Error: failed to publish snapshot"

I think it will automaticl

[2019-05-02 19:17] RubenRollano opened #3447 "Enable Services for Sales Tracker App"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-services-enable.html

Please specify the step you are referring to

Hello, it seems imposible to complete the Step 5: Enable Mobile Services. Perhaps is a bug in the answer to the question

[2019-05-02 20:13] balajii7 commented on #3111
Hi Jijo,
There is definitely something missing in steps. Initially in the Step 1, I was not able to build successfully with the below error:
![image](https://user-images.githubusercontent.com/7418651/57103733-da4a5480-6d26-11e9-9b13-0def8b958a18.png)
So I re-ran Maven with -X and enabled full debug logging. After that I have executed the Maven Goal 'generate-resources' and then the source director

[2019-05-02 20:34] balajii7 commented on #3111
But my project build still fails. Please let me know what am I missing. I'm at the step 1 and followed all the steps in the sequence.
![image](https://user-images.githubusercontent.com/7418651/57105106-424e6a00-6d2a-11e9-9f81-95684695f54e.png)

[2019-05-03 06:06] marcobuescher opened #3448 "Create a Destination for the Northwind OData Services in the Neo Environment"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-destination.html

Please specify the step you are referring to Step 5.

There is no "Done" Button. :)

Regards

[2019-05-03 06:07] TThorsager commented on #3441
By getting this tutorial to work (https://developers.sap.com/tutorials/fiori-ios-scpms-create-sample-app.html) I think that the misstake is happening in the Destination setup.

[2019-05-03 06:23] JijoRoyJacob commented on #3111
Hi Sai,
Kindly share your project so that I can take a look. And please let me know which environment you're testing this in.

Best regards,
Jijo

[2019-05-03 07:16] balajii7 commented on #3111
Hi Jijo,
Thanks for the response. I have invited you to the project and here is the link: https://github.com/balajii7/scp-demos/invitations
Regards,
Sai

[2019-05-03 07:33] JijoRoyJacob commented on #3111
Hi Sai,
I noticed that in srv/pom.xml, the dependencies are listed under the <profile> tag. It should be listed outside the <profile> tag. Kindly refer the screenshot and folder structure in the tutorial for more details. Rerun the build after making the changes.

Best regards,
Jijo

[2019-05-03 07:48] balajii7 commented on #3111
Hi Jijo,
I have made changes to the pom.xml, sorry for that mistake. But the build still fails with the below error:
![image](https://user-images.githubusercontent.com/7418651/57125146-8d976580-6d88-11e9-8771-8c6b09e331d7.png)

Regards,
Sai

[2019-05-03 08:06] JijoRoyJacob commented on #3111
Hi Sai,
I see that you have these two additional dependencies `slf4j-api` and `ngdbc` specified in pom.xml. In the JPA tutorial, I have mentioned three dependencies that you'll need. I'm not sure about these two.  If its not needed for your project, remove them (at least ngdbc) and try building again.

Best regards,
Jijo

[2019-05-03 08:11] balajii7 commented on #3111
Hi Jijo,
I guess those additional dependencies were there when the project has been created, and I left them as is and added the other dependencies as mentioned in the tutorial. I removed them and the build is successful. Thanks a lot for the help.
Regards,
Sai

[2019-05-03 10:33] #3446 closed

[2019-05-03 10:34] marcobuescher commented on #3446
DON´T KNOW WHY; BUT AFTER CLICKING BETWEEN IPAD SIZE AND PC SIZE IT WORKS:

[2019-05-03 11:13] marcobuescher opened #3449 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to -> Step 9

I paste following code:
whats wrong with it?

			self.oBindingParameters['sap_IconTabBar_Page_0-content-sap_chart_ColumnChart-1473793038493'] = {
				"path": "Parts",
				"parameters": {
					"entitySet": "Sets"
				}

-----
  or this code:
------
			this.oBindingParam

[2019-05-03 12:13] shilpavij commented on #3447
Yes, got your point. I will correct it.

Regards
Shilpa

[2019-05-03 23:04] adityaadepu opened #3452 "SAP Gateway Development system user name and password"

[2019-05-03 23:07] adityaadepu commented on #3452
Saw the pre-requisite section for the creation of the credentials

[2019-05-03 23:07] #3452 closed

[2019-05-04 10:40] RubenRollano commented on #3447
Perfect. Please notify me when it be ready.

Thanks and best regards.

El vie., 3 may. 2019 14:13, Shilpa Vij <notifications@github.com> escribió:

[2019-05-04 13:31] hargrave81 commented on #2971
So After a fun windows update, I'm having this problem @.@  Docker commands worked to host my containers before update, now permission denied uhhgg.

[2019-05-04 18:26] marcobuescher opened #3453 "Prepare an Amazon Web Services account for setting up ABAP on-premise system"
Tutorial URL: https://developers.sap.com/tutorials/hcp-prepare-aws-account.html

Please specify the step you are referring to 1-3.
There are no "Done"Buttons to quit the Mission

[2019-05-04 18:27] marcobuescher opened #3454 "Deploy an JCo / RFC based on-premise extension using the Cloud Connector"
Tutorial URL: https://developers.sap.com/tutorials/hcp-scc-onpremise-extension-jco-rfc.html

Please specify the step you are referring to 1-8
Also here are no "Done" Buttons

[2019-05-04 18:29] marcobuescher opened #3455 "Set Up SAP Cloud Appliance Library Account and Install Preconfigured SAP Solution in Cloud"
Tutorial URL: https://developers.sap.com/tutorials/hcp-prepare-cal-account.html

Please specify the step you are referring to 1-3 also no "done" button

[2019-05-05 05:25] thecodester commented on #3111
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-05 05:25] #3111 closed

[2019-05-05 06:19] thecodester commented on #3448
Added DONE button. Let me know if you have any more issues.

[2019-05-05 10:42] marcobuescher commented on #3448
Need it some Time to take effekt? I can`t see the Button.

By the way, good job!

[2019-05-05 10:44] thecodester commented on #3448
oops ... yes it will take a little more :-)

[2019-05-05 10:53] marcobuescher opened #3456 "Mission Overview Links not work"
Hello,

from the Mission Overview (http://tiny.cc/i8l75y) the Links from:
Get   Started with SAP Data Hub, developer edition
Get Started with SAP Data   Hub, trial edition

will targeting to a 404 Page.

and the Mission "Build a Mobile App with SAP API Management" is not listet in Overview.

Regards

[2019-05-05 11:18] thecodester commented on #3456
Thanks for pointing out. I am checking ...

[2019-05-05 11:39] balajii7 opened #3457 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

**From Step 4: Change the runtime from Tomcat to TomEE**: As I understand, from **Step 4**, we are delegating the management of the resources to the container by changing the default container from Tomcat to the TomEE. But the application starts giving the error right after these changes. So, _I had to revert to the versi

[2019-05-06 07:35] marcobuescher commented on #3448
Sorry to be impatient, bit there is no button... :)

[2019-05-06 07:58] marcobuescher opened #3459 "Configure the Development Environment"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-configure-dev-env.html

Please specify the step you are referring to Step 4
Sorry, I can´t find the Extension "SAP EIM Smart Data Integration Editors "

Regards

Marco

[2019-05-06 07:59] julieplummer20 commented on #3363
Hi Christian,
I've changed the test question to "single-choice" in QA and pushed to Prod.
It should be available in the next 24 hours latest.
Best wishes,
Julie.

[2019-05-06 08:19] thecodester commented on #3455
@JensHaley The mission you created, https://developers.sap.com/mission.cp-connectivity-abap.html, cannot be completed since there are no validations in the second group. Can you add?

[2019-05-06 08:21] thecodester commented on #3279
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:21] #3279 closed

[2019-05-06 08:24] thecodester commented on #2943
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:24] #2943 closed

[2019-05-06 08:29] thecodester commented on #3326
@beapasch Any updates?

[2019-05-06 08:29] thecodester commented on #3337
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:29] #3337 closed

[2019-05-06 08:33] thecodester commented on #3220
@shenjiansj Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:33] #3220 closed

[2019-05-06 08:37] thecodester commented on #3245
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:37] #3245 closed

[2019-05-06 08:42] thecodester commented on #3274
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:42] #3274 closed

[2019-05-06 08:42] thecodester commented on #3299
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:42] #3299 closed

[2019-05-06 08:43] thecodester commented on #3300
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:43] #3300 closed

[2019-05-06 08:43] thecodester commented on #3301
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:43] #3301 closed

[2019-05-06 08:43] thecodester commented on #3305
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:43] #3305 closed

[2019-05-06 08:45] thecodester commented on #3315
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 08:45] #3315 closed

[2019-05-06 09:20] thecodester commented on #3456
I have requested an update. Will let you know when it is complete.

[2019-05-06 09:23] thecodester commented on #3409
@oisee I see the images now ... can you? Can we close the issue?

[2019-05-06 09:24] thecodester commented on #3405
@qmacro Any update on this?
@jmalla Are you still having problems?

[2019-05-06 09:25] thecodester commented on #3372
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 09:25] #3372 closed

[2019-05-06 09:25] thecodester commented on #3348
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-06 09:25] #3348 closed

[2019-05-06 10:27] mervey45 commented on #3421
@MANUGUPTASAP I think you can change the quota, but I don't know, if you can change the quota for HTML5 services. Maybe you have to try it. But I'm not the right person to ask for. I hope I could help you with your issue.

[2019-05-06 11:23] beapasch commented on #3326
I need some more time to update the tutorial. Any other reference app can be used instead.

[2019-05-06 12:49] kubratkc opened #3461 "IOT Tutorial: Send Data with MQTT"
Hello @iwonahahn,

I started your Tutorial group for getting started with SAP IOT Services.

First problems appeared when i tried to install the **paho client** (MAC) for MQTT messaging. I tried to launch the app via package content as suggested in the tutorial. The app opens, but i can't click anywhere in the app. Everything is disabled.

**STEP 6:**
https://developers.sap.com/tutorials/iot-cf-se

[2019-05-06 13:26] oisee commented on #3409
@thecodester Yes, indeed, thank you =)

[2019-05-06 13:26] #3409 closed

[2019-05-06 16:00] rbrainey commented on #2565
I'm unclear on the exact turorial referenced: https://developers.sap.com/tutorials/sapui5-webide-create-project.html is current and https://developers.sap.com/tutorials/sapui5-webide-part1-create-project.html has been removed -- is it safe to close this, or are we talking about another tutorial that is still visible?

[2019-05-06 16:08] rbrainey commented on #2492
No. I'm going to remove Meredith and myself and assign it to one of our SCP topic owners.

[2019-05-06 16:14] rbrainey commented on #2877
Assigning this to Max to update the screenshots and copy referencing IOT in what is currently Step 7.

[2019-05-06 16:16] rbrainey commented on #3162
I'm assigning this to Max -- Max, would you update the copy and any relevant screenshots?  Thanks,

[2019-05-06 16:19] rbrainey commented on #3160
This specific issue appears to be a Portal bug which will require opening a SAP ticket to be addresses.  I'm assigning this to Marius for further investigation.

[2019-05-06 16:29] rbrainey commented on #2882
I'm good with it if you are.

[2019-05-06 16:29] #2882 closed

[2019-05-06 16:44] rbrainey commented on #3325
Yes, please. Consult with Josh as needed if you need any advice on current Mobile roadmap (Kevin is on a break) -- although it sounds like we need to remove this Group.

[2019-05-06 16:45] rbrainey commented on #3423
Meredith, would you take a look at this and revise it as needed?  Thanks,

[2019-05-06 16:48] rbrainey commented on #3239
Switching this to Max to be addressed.  Max, would you take a look at this and see what
s going wrong?  thanks.

[2019-05-06 16:49] rbrainey commented on #3241
Marius, I think this one is related to the issue I just assigned to you.

[2019-05-06 16:51] rbrainey commented on #3187
Switching this to Max to be addressed.  Max, would you take a look at this and see what's going wrong?  thanks.

[2019-05-06 16:53] rbrainey commented on #3163
Switching this to Max to be addressed.  Max, would you take a look at this and see what's going wrong?  thanks.

[2019-05-06 16:54] rbrainey commented on #2775
Max, would you update the flow description in the tutorial?  Thanks,

[2019-05-07 06:54] fx5151git commented on #3164
I think the best way now is to switch to 2.4, while our guide now is based on the newest version. And there are also a lot of things that will not work for 2.3.

[2019-05-07 06:55] fx5151git commented on #3171
already changed the image, Thank you for your suggestion.

[2019-05-07 06:56] fx5151git commented on #3261
This should work now. Could you have a check? Thank you so much.

[2019-05-07 06:56] fx5151git commented on #3345
I think it should work right now.

[2019-05-07 06:57] fx5151git commented on #3379
I think this should work right now

[2019-05-07 06:57] fx5151git commented on #3390
This should work for now.

[2019-05-07 06:58] fx5151git commented on #3392
This should work now. Could you please have a check?

[2019-05-07 06:58] fx5151git commented on #3393
This should work for now. Could you please have a check?

[2019-05-07 07:00] JensHaley commented on #3434
That's great! - Could you please close this issue then?

Thank you,
Jens

[2019-05-07 08:03] IObert commented on #3215
Hi @kavishdahekar,

this issue should be resolved by now. Can you please confirm this?
Please re-open the issue if necessary

[2019-05-07 08:03] #3215 closed

[2019-05-07 08:05] amitavamitra opened #3463 "Create an API Provider System"
Tutorial URL: https://developers.sap.com/tutorials/hcp-apim-create-provider.html

Please specify the step you are referring to

Step 5.

the tutorial says to provide

Host | sapes5.sapdevcenter.com

where as my  API Portal comes up as
Host Alias:
i304524trial-trial.apim1.hanatrial.ondemand.com.

this causes the entires path to be quite different and hence the overall setup could not be completed.

[2019-05-07 08:33] thecodester commented on #3434
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-07 08:33] #3434 closed

[2019-05-07 09:01] karstenmelato commented on #3243
I don't understand the problem. What exactly is the mistake. In the tutorial, the URL 'http://localhost:8080/firstapp-application/' is given.

[2019-05-07 09:07] ml5hj commented on #3243
Hi Karsten
The tutorial looks correct now, I believe that when I was doing it it had hello-world in the url
Mark

[2019-05-07 09:10] karstenmelato commented on #3243
That may be, until recently we had a discrepancy between the new and the old URL in the tutorials. Please excuse the confusion.

[2019-05-07 09:17] thecodester commented on #3243
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-07 09:17] #3243 closed

[2019-05-07 09:21] IObert commented on #2492
Hi @romer9,

Unfortunately, GitHub removes all attachments from the email before it converts it to a response.
Can you please upload the file directly [here](https://github.com/SAPDocuments/Tutorials/issues/2492)

[2019-05-07 09:26] IObert commented on #3401
Hi @carlospinto1,

thanks for mentioning this. Our intention was to ask you for
`https://flpportal-p1940516058trial.dispatcher.hanatrial.ondemand.com/sites`. Maybe we need to overthink if the should simplify this validation.

Please let me know if this solution worked for you.

[2019-05-07 09:37] IObert commented on #3160
Hi @mts2605,

thanks for your patience. As you might have noticed, this tutorial is outdated.
We're currently evaluating if we should update it or simply remove it for good.

For now, I would suggest that you just skip this step. It seems that this step was added as a workaround for an issue in SAPUI5. This issue might have been resolved by now as the most recent SAPUI5 version is 1.65.

Thanks,
M

[2019-05-07 11:02] thecodester commented on #2565
@michal-keidar I will close this issue. If there still is a problem, feel free to reopen and add an explanation. Thanks.

[2019-05-07 11:02] #2565 closed

[2019-05-07 11:10] JijoRoyJacob commented on #3457
Hi Sai,
I dont see the `srv/src/gen/resources/META-INF/persistence.xml` file in the project you shared. This is generated along with the JPA classes. You need to enable JTA support in this file. This is described in Step 3.

Best regards,
Jijo

[2019-05-07 11:17] vuffiraa72 opened #3467 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

When you do the first step, it's not possible to build the db.
I got an error:
`13:01:54 (Executor) Build command failed : Build failed: Failed at pre build operation: Failed to validate service availability: Failed to execute install command: Failed to execute install command: failed to set delete service : Row not fo

[2019-05-07 11:36] IObert commented on #3168
Hi @nilpeksen,

can you please describe what isn't working? It'd be great if you could attach a screenshot of the browser and the DevTools console as well :)

[2019-05-07 11:47] renejeglinsky commented on #3467
Hi @vuffiraa72 ,
are you using a trial account? If yes, in which region?
Please check if the SAP HANA service is available in your Cloud Foundry space.
Thanks,
René

[2019-05-07 12:09] vuffiraa72 commented on #3467
While checking the configuration in the WebIDE, I had to re-enter my credentials for the Cloud Foundary space. Afterwards it worked as expected.
Thanks,
Ulf

[2019-05-07 12:09] #3467 closed

[2019-05-07 12:24] romer9 commented on #2492
Hi Marius,

Thank you for your response. Unfortunately I do not have the screen shots/attachments any more. I encountered this challenge (issue) a year ago. Since then I have moved on.

Regards,
Jerome
________________________________
From: Marius Obert <notifications@github.com>
Sent: Tuesday, May 7, 2019 5:21 AM
To: SAPDocuments/Tutorials
Cc: romer9; Mention
Subject: Re: [SAPDocuments/Tutorials]

[2019-05-07 12:42] IObert commented on #2492
Hi Jerome,

sorry that we didn't get back to you earlier. I'll close this issue then

[2019-05-07 12:42] #2492 closed

[2019-05-07 14:23] kavishdahekar commented on #3215
@IObert Confirmed as resolved. Thanks.

[2019-05-07 14:33] I079506 opened #3468 "Create an SAPUI5 Purchase Order App"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-create-app.html

Please specify the step you are referring to 3

provides misleading information to update the neo.json with below
"path": "/sap/opu/odata",
"target": {
  "type": "destination",
  "name": "SAP_Gateway",
  "entryPath": "/sap/opu/odata"
},

once I did it, my app was not reaching the odata service.

[2019-05-07 18:53] Rob3487 opened #3469 "Explore data in Cloud Storage in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-discovery-part01.html

Please specify the step you are referring to: **Step 3**

I cannot provide the answer to step 3 as my instance of DataHub Fails to Profile any of the .csv files with the following error:

"Could not start the graph (Code: 70201 Module: dh-app-metadata)"

Error Detail:
"Code
70201
Message
Profiling failed for

[2019-05-07 22:05] RubenRollano opened #3470 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Please specify the step you are referring to

Add a Model and Test the SAPUI5 App
Step 5: Inspect the application network trace

It seems imposible to answer correctly the question.

[2019-05-07 22:31] RubenRollano opened #3471 "Display List Element Details"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-display-list-details.html

Please specify the step you are referring to

In the step3 ther is not any question.

In the step6 my url is not valid but it should be correct:
https://xpmgpqomdun7uwzfmta-app-approuter.cfapps.eu10.hana.ondemand.com/sapcpcftutorialapp-1.0.0/extended_runnable_file.html#/undefined

[2019-05-08 04:07] JijoRoyJacob commented on #3457
Also try changing the curl command to the following Windows format: `curl -H "Accept: application/json" -H "Content-Type: application/json" -X POST -d "{ \"buyer\" : \"JPA Buyer 1\", \"book_ID\" : 310 }" https://<Java-Backend-URL>/odata/v2/CatalogService/Orders`

[2019-05-08 06:53] qmacro commented on #3405
Hi @thecodester I understand that Jim J & team are the main contacts for ES5 now.

[2019-05-08 07:58] IObert commented on #3468
Good catch! This comment is clearly outdated and should be removed.

[2019-05-08 08:07] JensHaley commented on #3454
@marcobuescher
We decided to remove tutorial group [Use JCo through the Cloud Connector](https://developers.sap.com/group.cp-connectivity-2.html) instead.

You will not have to complete the corresponding tutorials to complete the mission.

I would not recommend to do these tutorials -  they are quite old and may no longer work - we're looking into this.

Sorry for any inconvenience caused.

[2019-05-08 08:08] JensHaley commented on #3455
@marcobuescher
We decided to remove tutorial group [Use JCo through the Cloud Connector](https://developers.sap.com/group.cp-connectivity-2.html) instead.

You will not have to complete the corresponding tutorials to complete the mission.

I would not recommend to do these tutorials -  they are quite old and may no longer work - we're looking into this.

Sorry for any inconvenience caused. Could y

[2019-05-08 08:08] JensHaley commented on #3453
@marcobuescher
We decided to remove tutorial group [Use JCo through the Cloud Connector](https://developers.sap.com/group.cp-connectivity-2.html) instead.

You will not have to complete the corresponding tutorials to complete the mission.

I would not recommend to do these tutorials -  they are quite old and may no longer work - we're looking into this.

Sorry for any inconvenience caused. Could y

[2019-05-08 08:23] marcobuescher commented on #3453
Hello,

that are no good news, because I liked the Badge so mutch. :)

They are old, I think so too and I think they are form other older Tutorials because I saw I made the User and User Groups in AWS long Time ago.

Regards

Marco

[2019-05-08 08:24] #3453 closed

[2019-05-08 08:24] marcobuescher commented on #3455
Hello,

that are no good news, because I liked the Badge so mutch. :)

They are old, I think so too and I think they are form other older Tutorials because I saw I made the User and User Groups in AWS long Time ago.

Regards

Marco

[2019-05-08 08:24] #3455 closed

[2019-05-08 08:26] marcobuescher commented on #3454
Hello,

that are no good news, because I liked the Badge so mutch. :)

They are old, I think so too and I think they are form other older Tutorials because I saw I made the User and User Groups in AWS long Time ago.

Regards

Marco

[2019-05-08 08:26] #3454 closed

[2019-05-08 08:56] DanielRentschler opened #3474 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Please specify the step you are referring to: Step 5

We have completed all steps in the tutorial including the conversion to jta and tomee. Initially the service starts and responds to our get/post requests but after exactly 100 requests the app stops responding to requests involving database access.

For example: https:

[2019-05-08 09:30] carlospinto1 commented on #3401
It worked @IObert , thanks a lot.

[2019-05-08 09:30] #3401 closed

[2019-05-08 11:08] IObert commented on #3468
I'll keep this issue open until the fix is in the production system

[2019-05-08 11:09] IObert commented on #3470
Hi @RubenRollano,

I'm sorry you had problems answering this question. Can you please explain why it's impossible to answer it? Did you see different or confusing data in the request?

[2019-05-08 11:14] IObert commented on #3471
Hi @RubenRollano,

thanks for mentioning this.
You're absolutely right. There should be a "Done" button after step 3. I'll fix this.

About your other issue: It seems that there's something wrong with your code. The URL should end in
`/Detail/<Number>`. This is the part of the URL the regex is checking for.

Please let me know if you can't find the root cause of this bug.

[2019-05-08 11:16] IObert commented on #3471
keeping it open until I get a confirmation (it might take some time until the change arrives in the production system)

[2019-05-08 14:51] joao1100 opened #3477 "Prepare your environment for the SAP Leonardo Machine Learning foundation Image Classification Retraining scenario"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-01.html

Please specify the step you are referring to:
STEP 3:
I can't initialize the service. It stays like this forever. Any solution?
![imagem](https://user-images.githubusercontent.com/38331502/57384776-0f342c80-71a9-11e9-8733-775b73d331ce.png)

[2019-05-08 14:54] joao1100 opened #3478 "Image Classification with SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/ml-fs-sapui5-img-classification.html

Please specify the step you are referring to: STEP 4
I get the following message when I test the connection : Connection to "sapui5ml-api" established. Response returned: "401: Unauthorized".
I'm using the trial version of SAP Cloud Platform.

[2019-05-08 18:59] Rob3487 commented on #3469
Hi,

I'm using Google Cloud.

Rob

On Wed, 8 May 2019 at 23:21, Xiao Feng <notifications@github.com> wrote:

[2019-05-08 22:49] Rob3487 commented on #3469
Yes trial version 2.4

[2019-05-09 08:19] Waltersen1971 opened #3479 "Change from mock server to live OData service"
1.) Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to

I should add the service (which looked good in preview)

After step 3 I got this:

13:45:13 (UsageMonitoring) The reported Event Type: GENERIC_finishWithNewModel should be configured in the reporter's plugin Plugin.json. sEventType is set to GENERIC_finishWithNewModel
13:45:

[2019-05-09 10:23] pushnparekh commented on #3366
Any update on the issue? What is the format in which the result to be pasted?

[2019-05-09 11:16] I079506 commented on #3468
Sorry for hijacking this thread.
I would like to ask question, I see that this session is referenced from Office 365 session
https://developers.sap.com/mission.teched-2018-microsoft.html

Where there is Checkpoint and Price, can you share with me reference explaining how to take benefit/use this Checkpoint and Price?

Many thanks!,
Ondrej

From: Marius Obert <notifications@github.com>
Sent: Wednes

[2019-05-09 11:21] IObert commented on #3468
Hi @I079506,

this mission was designed for TechEd 2018 where we gave out prices for completed missions. Unfortunately, we don't give out prices after the event.
Please ignore those steps.

[2019-05-09 11:25] I079506 commented on #3468
Was thinking about using this to build virtual honor room (without real extra bonus to the attendee) so people are more motivated to execute the scenarios.
This could be nicely tracked on company level and create more competitive ecosystem.

0.

From: Marius Obert <notifications@github.com>
Sent: Thursday, May 9, 2019 1:22 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Pandoscak,

[2019-05-09 18:36] Rob3487 commented on #3469
FYI.  When attempting to Profile Vora tables I receve the following error:

Code
70201
Message
Profiling failed for CUSTOMERS
Detail
Could not start the graph
Module
dh-app-metadata
GUID
9c5527fd-2c52-4e20-918e-4aecc7a6bfa0
Hostname
metadata-explorer-llftj-57c697986d-wn47s
Causes
Code
99999
Message
error building docker image. Docker daemon error: The command '/bin/sh -c mkdir -p /project/sbin &&

[2019-05-10 10:55] schneidertho commented on #3469
Hi @Rob3487,

@fx5151git is out till Monday. So I answer.
As a "quick fix" can you make the edits as shown in the screenshot, please?
i.E. comment the line "apt-get -yq --no-install-recommends install wget=1.18-5+deb9u2 unzip=6.0-21 curl && \" with a "#"
and add a new line "apt-get -yq --no-install-recommends install wget unzip curl && \"
![image](https://user-images.githubusercontent.com/20142835

[2019-05-10 11:00] schneidertho commented on #3469
Hi @Rob3487,

seems Github does not display the screenshot. So you need to
- Open Modeler
- Click on Repository on the left
- Dockerfiles => com => sap =>
- spark_on_k8s

There you make the change I mentioned before. Then press the Build button on the top right

Cheers
Thorsten

[2019-05-10 11:25] Waltersen1971 commented on #3448
Had the same,
checked it out now:

![image](https://user-images.githubusercontent.com/50441418/57524075-0b2e1900-7327-11e9-99ac-df2e299f2853.png)
 It is fixed.

[2019-05-10 11:45] marcobuescher commented on #3448
Worked!

[2019-05-10 11:45] #3448 closed

[2019-05-11 08:22] marcobuescher opened #3480 "No Badge from completed Tutorial"
**MissionURL**: https://developers.sap.com/mission.mobile-dev-kit-get-started.html

Get Started with the Mobile Development Kit

I get no Badget for that Mission while I made all Tutorials for that. :)

Can you have a look for that?

Thank you

Regards

[2019-05-11 12:00] marcobuescher opened #3481 "Install the MultiApps Cloud Foundry CLI Plugin"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-install-cliplugin-mta.html

Please specify the step you are referring to Step 3 Install the Plugin.

I tried to install the Plugin, but it didn´t work. (I started the console also with admin priviledges.)

Can you help me?

![Unbenannt](https://user-images.githubusercontent.com/10000063/57569413-f750e880-73f4-11e9-9e3a-9f43c7090d3c.JPG)

[2019-05-11 17:16] gsnel opened #3482 "View the SAP Cloud Platform from 10,000 Meters"
Tutorial URL: https://developers.sap.com/tutorials/cp-explore-cloud-platform.html

When I click on Done in step 1 or 3,  I return to the beginning of step 1.
And I cannot submit answers.
It does nog show my progress.

[2019-05-11 20:01] Rob3487 commented on #3469
You're suggestion as an immediate fix has been successful!

Thank you for your assistance.

Rob

On Fri, 10 May 2019 at 21:00, Thorsten Schneider <notifications@github.com>
wrote:

[2019-05-11 21:44] RubenRollano opened #3483 "Configure Eclipse with SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-install-eclipse.html

Please specify the step you are referring to

It is not possible to complete the steps because there aren't buttons.

[2019-05-12 05:58] thecodester commented on #3469
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-12 05:58] #3469 closed

[2019-05-12 05:59] thecodester commented on #3482
This happens to me but only when I am not logged in -- do you see your avatar at the top right of the tutorial page?

[2019-05-12 06:02] thecodester commented on #3480
The badge takes about a week to be added to your profile -- a few more days perhaps since we just added it to our system. Please write back at the end of this week whether you received it.

[2019-05-12 06:07] thecodester commented on #3468
The issue seems to be resolved (the tutorial was updated), so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-05-12 06:07] #3468 closed

[2019-05-12 07:50] gsnel commented on #3482
Yes, i'm logged in. My avatar is in the upper right corner.

[2019-05-12 08:15] thecodester commented on #3482
Have you been able to answer Step 2?

[2019-05-12 09:14] raz-korn opened #3484 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to

Steps 1 - 4:
There's a template, "SAPUI5 Application", that creates the MTA + HTML5 module in one wizard.

[2019-05-12 11:05] raz-korn opened #3485 "Debug Your SAPUI5 App with SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-debug.html

Please specify the step you are referring to

Step 4.3:
Opening the app is a bit mode complex than clicking the open button. the app's url needs to be built. clicking the Open button provides the base url + "/" + add the app id from the manfiset json (without '.') + /index.html

[2019-05-12 11:34] raz-korn opened #3486 "Debug Your SAPUI5 App with SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-debug.html

Please specify the step you are referring to

Step 5:
I'm not a SAPUI5 expert...
Adding "debugger" in the code is not best practice. I'd recommend providing this through a best practice.
The build operation removed the "debugger".
You can workaround using CTRL + ALT + SHIFT + P and check the debug mode.

[2019-05-12 20:31] gsnel commented on #3482
No, I am not able to answer step 2.
No mather what answer (or combination) I give, nothing happend when I click on Submit Answer.

[2019-05-12 20:56] RubenRollano opened #3487 "Tour the SAP Community"
Tutorial URL: https://developers.sap.com/tutorials/community-start.html

Please specify the step you are referring to

it seems not possible to answer correctly the question 10.

[2019-05-12 22:18] zysiek77 opened #3488 "Create an SAPUI5 App from the Command Line step5"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html
Step 5: Deploy the MTA archive

Bash command specified here is:
cf mta_archives/myUI5App_0.0.1.mtar

but it should be:
cf deploy mta_archives/myUI5App_0.0.1.mtar

[2019-05-13 05:51] thecodester commented on #3487
1) There are multiple answers. Did you select more than one?
2) There are 63 possible answers (I think). Did you actually try all of them?

[2019-05-13 05:55] thecodester commented on #3482
There are 15 combinations -- you have tried them all? If there were 3 correct answers, there would only be 4 possible combinations. Can you post a screenshot of the tutorial as you see it (full screen)?

[2019-05-13 07:18] gsnel commented on #3482
I found the solutions. I tried the tutorial on my tablet and was able to fill in the answers. After thinking about the differences, I turned of the uBlockOrigin extension (for blocking adds) in my browser for the tutorial webpage. And now it is working.
Thank you for your help.

[2019-05-13 07:18] #3482 closed

[2019-05-13 07:49] IObert commented on #3468
I'd like to add two more comments to this thread.

1.) We will remove the checkpoints/prices from this mission.
2.) I like the idea of a virtual "honor room". In fact, we do something similar in place with our [Badges](https://www.sap.com/community/resources/missions-badges.html#Developer_Tutorial_Missions)

[2019-05-13 07:54] IObert commented on #3484
Thanks for your feedback. Currently, there are some "issues" with this wizard, which is why we currently stick with "manual setup".
a) This generated doesn't ask the user if (s)he wants to use the html5 app repo server. This service is atm only available in the EU10 region. E.g. users of other regions shouldn't use this service
b) The generator creates a destination service, but doesn't bind it to

[2019-05-13 07:54] #3484 closed

[2019-05-13 08:04] IObert commented on #3485
Thanks @raz-korn.
You are right. This step is necessary when you use the html5 app repo service (which probably happened bc of [this wizard](https://github.com/SAPDocuments/Tutorials/issues/3484)).
I'll close this issue since most users won't run into this when you follow the tutorial.

PS: I'm glad that you were able to "figure out" the correct solution. Personally, I think you learn more of a tu

[2019-05-13 08:04] #3485 closed

[2019-05-13 08:06] #3488 closed

[2019-05-13 08:06] IObert commented on #3488
Good catch, thanks!

[2019-05-13 08:41] IObert commented on #3486
Hi @raz-korn,

thanks for your feedback. You are right, production applications should neither contain the `debugger` statement nor throwing errors without a reason. The purpose of this tutorial is to teach developers how to use debugging tools.
In general, you should use the `run` feature for debugging. I'll change the tutorial content accordingly.

PS: The build step only seems to remove the deb

[2019-05-13 08:49] IObert commented on #3481
Hi @marcobuescher,

this error is odd. According to the [CF doc](https://cli.cloudfoundry.org/en-US/cf/install-plugin.html) it should work like this on Windows as well.
It seems that this is in "internal CF CLI" issue as it says it cannot execute `mkdir` in the path `.cf/plugins/temp...` and the issue is reported [here](https://github.com/cloudfoundry/cli/issues/1259) and [here](https://www.pivota

[2019-05-13 09:03] #3483 closed

[2019-05-13 09:10] IObert commented on #3483
Good catch, thanks for reporting!

[2019-05-13 18:33] henrystuifzand opened #3493 "Import Tables and Large Datasets (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-import-shine-data.html

Please specify the step you are referring to
Import Tables and Large Datasets (XS Advanced)

There is not to mark the 4 steps as completed, so the mission can't be completed.

[2019-05-14 16:32] maxstreifeneder commented on #2775
There's more to adjust, will do that beginning next week

[2019-05-14 16:43] maxstreifeneder commented on #2877
Will rework the tutorial early next week

[2019-05-14 17:07] maxstreifeneder commented on #3239
whole [Tutorial Group](https://developers.sap.com/group.introducing-front-end-development.html) is under investigation and needs rework. still to be clarified how we approach this group

[2019-05-14 17:08] maxstreifeneder commented on #3232
whole [Tutorial Group](https://developers.sap.com/group.introducing-front-end-development.html) is under investigation and needs rework. still to be clarified how we approach this group

[2019-05-14 17:08] maxstreifeneder commented on #3163
whole [Tutorial Group](https://developers.sap.com/group.introducing-front-end-development.html) is under investigation and needs rework. still to be clarified how we approach this group

[2019-05-14 17:08] maxstreifeneder commented on #3162
whole [Tutorial Group](https://developers.sap.com/group.introducing-front-end-development.html) is under investigation and needs rework. still to be clarified how we approach this group

[2019-05-14 17:18] entmike opened #3494 "Get Started with SAP Web IDE for Full-Stack Development (Production)"
Tutorial URL: https://developers.sap.com/tutorials/webide-onboarding-mc.html

Please specify the step you are referring to

Prerequisites Documentation link is broken (https://help.sap.com/viewer/page-not-found?url=https:%2F%2Fhelp.sap.com%2Fviewer%2F65de2977205c403bbc107264b8eccf4b%2FCloud%2Fen-US%2Fdba4ae7ef36c4a93a6615c5f24ae9903.html)

[2019-05-14 17:23] marcobuescher opened #3495 "Create an SAPUI5 Purchase Order App"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-create-app.html

Please specify the step you are referring to Step 3.

Hello Codetester, Hello Marius, :)
I had the problem that there is no traffic, after I start the Index.html and check it with F12.
I get error messages. The Steps before where fine. (OData Destination).
Can you help me? Is the error at my side?

Regards

Marco

[2019-05-14 17:52] Rob3487 commented on #3469
Hi,
have there been any other changes or updates to the system since 3 days ago when I tested your suggestion, that may have affected logging into the Launch Pad?
Prior to reporting this issue have been successfully logging in to Launch Pad using the RDP (directly using a browser never worked, appared to be a credential or network restriction issue), I did successfully login to test your suggestio

[2019-05-14 18:27] entmike opened #3496 "Edit Web Content in your Portal Freestyle Site"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-freestyle-site-edit-content.html

Please specify the step you are referring to

On the final question "From the web content editor tools, web content editors can:", no answer seems to work.  I suspect the answer is "Edit text, images, videos and other web content." however I always get "Sorry, that’s incorrect. Please try again"

[2019-05-14 18:57] entmike opened #3497 "Add a Web Dynpro ABAP App to Your Launchpad Page"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-freestyle-site-wd-add.html

Please specify the step you are referring to

The last question for the adding Web Dynpro ABAP tutorial is a question about UI Theme Designer.

[2019-05-14 19:24] schneidertho commented on #3469
Hi Rob,

no (from our side we would not even have the possibility to make any change to a running instance).

There are three possibilities only, I believe:
a) wrong user / pw => let's assume that this is not the case
b) license expired => I assume you use the normal trial license and your cluster is not older than 30 days.  Then the license "should not" be expired. We install a license for that t

[2019-05-14 20:12] entmike opened #3498 "Perform Text Analysis with SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-05-graph-analysis.html

Please specify the step you are referring to

Step 7 fails.  I followed all prior steps, however when running this command:

[code]

I get this error:

[code]

[2019-05-14 22:26] entmike opened #3499 "Set Up Connection Between Google BigQuery and SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/gcp-hxe-evt-bq-1.html

Please specify the step you are referring to

Step 2, would be nice if the `setup.sh` file could be made available for after the event, as I am able to follow along so far otherwise after conference.

[2019-05-15 00:39] entmike opened #3500 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Please specify the step you are referring to

Step 2 - When attempting to connect to CF Region, I get an error:

**A network request failed with an error (Request failed: error URI: /di/hrtt/prefs/cfapi_us10/service/v2.10.22/sap/hana/cst/api/info?authdlg=true)**

My CF Region and HDI Module are running on US East (VA)

[2019-05-15 00:44] entmike commented on #3496
Never mind.  It finally took.

[2019-05-15 00:44] #3496 closed

[2019-05-15 01:06] Rob3487 commented on #3469
Thank you for the suggestions;
I started/Activated the Trial 2.4 instance.

Within the CAL console, I bellieve the following image depicts the "tree view" you mention. Was showing no errors, then in a flash showed Vora errors, then flash again no errors;
![CAL-no-aparent-errors](https://user-images.githubusercontent.com/19631990/57741440-2cfd1680-7700-11e9-9238-ea1fe32021ef.jpg)

Now Errors;
![CAL

[2019-05-15 01:20] Lsubatin commented on #3499
Sorry, Mike. If I could, I would have made it available and removed that warning from this tutorial series. I documented the steps covered by the script here: https://codelabs.developers.google.com/codelabs/sap-hana-connect-to-bigquery/#0

I will warn you that the OS user executing the commands is very important and that the process is painful and error prone. And yes, restart the machine when it

[2019-05-15 01:20] #3499 closed

[2019-05-15 04:32] Rob3487 commented on #3469
1)  I spun up a new instance of SAP Data Hub Trial 2.4.
2) During the setup I set a different/new <Master Password>
3) Once the new instance was successfully Active, connected using RDP;

2 important points;

Point A)
If trying to connect using https://sapdatahubtrial (as per the documentation) I was confronted with the dreded "NET:ERR_CERT_AUTHORITY_INVALID" page (failed ssl certs). There was no

[2019-05-15 05:51] thecodester commented on #3496
Good that it worked. If there is something you needed to do to get it to work, or there was some error, feel free to let us know.

[2019-05-15 05:59] thecodester commented on #3494
@jhornik Please also handle links in step 6

[2019-05-15 07:35] qualiture commented on #3205
Hi @ZEdwin,

I am currently not near my HXE environment, so I cannot check right now; I will try to reproduce the issue later tonight.

In the meantime, could you maybe check if your issue might be related to this? https://answers.sap.com/questions/10585164/index.html

[2019-05-15 07:36] qualiture commented on #3191
Hi @ZEdwin,

Thanks for pointing this out! I will try to update the tutorial later today

[2019-05-15 07:36] qualiture commented on #3498
Hi @entmike,

Apologies for the confusion... the error is because the `KEY COLUMN` should be `ID` instead of `NAME`, see related issue https://github.com/SAPDocuments/Tutorials/issues/3189

The correct statement should be:

[code]

I will try to update the tutorial later today

[2019-05-15 07:36] qualiture commented on #3189
Hi @pfefferf,

Many thanks for pointing this out. I will try to update the tutorial later today

[2019-05-15 07:43] pfefferf commented on #3480
Seems that this is an issue for the "mobile" tutorials/missions. I finished the mobile card tutorial (https://developers.sap.com/mission.mobile-cards-get-started.html) already weeks ago and the badge does not appear. But hey, it is just a badge ;)

[2019-05-15 07:51] thecodester commented on #3480
What day did you finish it?

[2019-05-15 07:53] pfefferf commented on #3480
On March 10, after issue #3188 was fixed.

[2019-05-15 08:00] thecodester commented on #3480
OK, I will check with the "badge people", who will arrive later on today. Will update you when I know something.

[2019-05-15 09:41] IObert commented on #3495
Hi Marco,

It'd kind of that hard to read in GitHub. From what I see, this seems all ok. It's "normal" that you get those errors regarding the i18n files. Your browser will first try to fetch the i18n file for your primary language `i18n_de_DE.properties` (German, Germany). In case this fails, it'll try to fetch a more generic version `i18n_de.properties` (just German, could be "Austrian German to

[2019-05-15 10:51] renejeglinsky commented on #3500
@entmike I am in touch with my colleagues and shared this issue with them. We'll get in touch with you soon.

[2019-05-15 13:20] adhurst commented on #3500
@entmike Can you tell us what neo region is your webIDE being accessed from?

[2019-05-15 13:36] entmike commented on #3499
Lucia, understood, and thanks for the link, I'll go through the steps and adapt as need.

[2019-05-15 14:48] entmike commented on #3499
Also, just FYI, on this step:

https://codelabs.developers.google.com/codelabs/sap-hana-connect-to-bigquery/#6 (Step 7)

I think you have the path wrong:

[code]

Shouldn't it be this?

[code]

[2019-05-15 15:16] marcobuescher commented on #3495
OK, thanks I will test it. By the way, why does the "Done" Button only works on IE?
Or had I to respect some functions in chrome?

Regards

[2019-05-15 16:18] schneidertho commented on #3469
Hi Rob,
thanks. So I take that you are good for now and can continue testing.
For A) we will see how we can better describe that when we update the documentation for 2.5
For B) I currently have no idea how this could happen, since the two instances are completely disconnected.

Have fun with the trial.

Cheers
Thorsten

[2019-05-15 16:36] IObert commented on #3241
We decided to remove this tutorial. If you'd like to learn more about SAPUI5 on SAP Cloud Platform, please check out [this](https://developers.sap.com/mission.sapui5-cf-first.html) tutorial instead.

[2019-05-15 16:36] #3241 closed

[2019-05-15 16:37] IObert commented on #3325
Josh agreed and we'll take this tutorial offline

[2019-05-15 16:37] #3325 closed

[2019-05-15 18:08] IObert commented on #3495
You should be able to see the done buttons in all browser. There are some old tutorials that don't have them yet, but you shouldn't see a difference between browsers

[2019-05-15 20:09] marcobuescher commented on #3495
I see the buttons, yes but they don´t work... It will not registered if I click on them...

[2019-05-16 05:25] Rob3487 commented on #3469
SAP Data Hub appears to be an outstanding product; largely it is very nice to use, functionality is intuitive, the problems it solves and the results it delivers I can see to be relevant, and the process/s involved in achieving the results are logical and manageable.

BIG Kudos to you and your team for delivering a learning experience that is largely excellent, and particularly given the complex n

[2019-05-16 07:25] IObert commented on #3495
Are you logged in and does it work for other tutorials / in the incognito mode? Could be an issue with the cookies?

[2019-05-16 07:47] thecodester commented on #3495
Also, do you have add blocker type plugin?

[2019-05-16 08:11] marcobuescher commented on #3495
Thanks for your feedback. Suprise suprise, now it works.... :)

[2019-05-16 08:35] thecodester commented on #3495
Is this issue full resolved or are you still waiting to check something? If resolved, feel free to close.

[2019-05-16 08:41] #3495 closed

[2019-05-16 11:15] sroehrig opened #3505 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Please specify the step you are referring to:

Step 1: Generate JPA classes

There seems to be a problem with the changes in the pom.xml, because the jpa files are not generated afterwards.

[2019-05-16 16:44] lambavikas opened #3508 "Extend a Business App to Consume an S/4HANA Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-s4hana-01.html

Please specify the step you are referring to
While following this tutorial we are getting a lot of errors in that refer to build failures. Specifically once we import the external S4HANA files into the project (Step 4)
 and try to run the Java service it simply fails. I tried replicating it in our production as well as trial

[2019-05-16 19:25] entmike commented on #3500
Rot (trial)

[2019-05-17 07:51] cookieMonster21 opened #3509 "Use JPA in Custom Logic: Could not resolve host"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

I start the application as described in step 5.

I am using a trial account.

After increasing my memory as mentioned here: https://github.com/SAPDocuments/Tutorials/issues/3235 I am getting the CatalogService via the link (solved http status 404).

Using the commands as mentioned in step 5 for testing I am getting back:

[2019-05-17 10:09] renejeglinsky commented on #3500
Thanks @entmike ! Is this the information you need @adhurst ?

[2019-05-17 14:22] sacnl commented on #3394
This has been fixed in the tutorial and can be closed.

[2019-05-17 14:51] marcobuescher opened #3511 "Built failed"
Hello,

can you also help by an issue from a open SAP Tutorial. (SAP Cloud Platform Essentials (Update Q2/2019))

The Build stops whith the following message:

Could not create the 'cloud-sample-spaceflight-java-spaczM6qkWZqK7DDSCJg' instance of the 'hanatrial' service type for the 'spacetravel-hana' resource. CF-NotAuthorized(10003): You are not authorized to perform the requested action
16:48:30

[2019-05-17 17:59] adhurst commented on #3500
Hi @entmike,
At the moment we are rolling out database explorer updates to the various cloud regions.
We are aware of an issue related to connecting to un-upgraded cloud foundry regions from some neo regions.  I believe this is what you are encountering.  We are currently working on a fix for the issue, but in the meantime I believe the US10 region is scheduled to be upgraded early next week.  Onc

[2019-05-17 18:12] marcobuescher commented on #3480
No Badge from "Connect Microsoft Office 365 and SAP Data Through an SAPUI5 App ", too.

Regards

I just assume that it is a technical problem. Maybe it was just forgotten when researching?

[2019-05-17 18:45] #3477 closed

[2019-05-17 19:54] ND3V opened #3512 "Create an SAPUI5 App from the Command Line"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html

As a windows user, step 4 was giving me a hard time, as
"cp cf_deployment_resources/package.json  dist/package.json" will not work.
I added a cp.js file to root containing the line
<code>
require("fs").copyFile(process.argv[2], process.argv[3], err => {if (err) throw err});
</code>
replace "cp" in the script with "node cp.

[2019-05-18 12:02] marcobuescher opened #3513 "Add an Onboarding Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-flows-onboard.html

Please specify the step you are referring to Step 1:

Hello,

I get six errors. I think, there is a problem  by the import of the "OnbordingContext" bibliothek.
![Unbenannt](https://user-images.githubusercontent.com/10000063/57969248-71451c80-7975-11e9-9d05-463ff26b3071.JPG)

So i can´t run the Project in the emu

[2019-05-18 12:40] ChrisWake opened #3514 "Access the SAP Screen Personas Training System"
Tutorial URL: https://developers.sap.com/tutorials/personas-access-learning-sys.html

Please specify the step you are referring to
Unable to access the above URL link not working on Chrome.

[2019-05-18 18:47] Rob3487 opened #3515 "Create Workflow (part 1), Enrich data with Data Transform in SAP Data Hub, trial edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-workflow-part01.html

Please specify the step you are referring to: 5

I think it would have been an improvement to the Tutorial if 'set' 'Naming of the Graphs' was given.
The tutorial user has no idea what is coming next in the tutorials. It is not until tutorial 7 that we become aware that we must find the Graphs that we created

[2019-05-19 17:58] Rob3487 opened #3516 "Store Sensor Data in Cloud Storage in SAP Data Hub, Trial Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-pipelines-part02.html

Please specify the step you are referring to 1

Am unable to connect with the https://sapdatahubtrial
I am receiving a 502 error (bad gateway), I am using SAP Datahub Trial Edition 2.4.

I have tried rebooting the Trial 2.4 Instance, however with no improvement.

I have waited and retried for 60 minutes.

I

[2019-05-20 03:04] fatihanil opened #3517 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Please specify the step you are referring to

Step 5, when i run app, $metadata get status code 500 "Internal Server Error".
I read behind troubleshoot paragraphs but they are not suitable for my issue.

[2019-05-20 07:01] chgeo commented on #3508
This has been identified as an issue, and is fixed with the upcoming version of cds this week.
See the this commit for a workaround. Apply it on the top-level package.json (not the one in db/).

Background: the new Web IDE version converts the imported service into a CDS model that is too new for the latest publicly available CDS compiler, hence the strange internal error.

[2019-05-20 07:41] JijoRoyJacob commented on #3505
Hi,
When you run a build, make sure you right-click the srv module and choose Build as indicated in sub-step 10. Running a build at the project level does not generate the JPA classes.

Best regards,
Jijo

[2019-05-20 07:52] adadouche commented on #3477
Hi @joao1100 ,

Really sorry for the lag, but I was away on holiday for the last 2 weeks. I was told that you send this question to answers.sap.com as well which was a really good idea.

But I see that it's not answered yet (https://answers.sap.com/questions/12682616/cant-initialize-cloud-foundry-service.html).

There are 2 options to try solving this.

option 1: **clear the sapml local folder**

[2019-05-20 09:51] joao1100 commented on #3477
Hi, thank you for the answers. Seems like the developer team changed something and it's now working perfectly. Is there any tutorial I can follow to consume this API in the SAPUI5?
Thank you!

[2019-05-20 10:25] #3471 closed

[2019-05-20 11:20] bcschaich opened #3519 "Access a Classic Schema from SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-access-cross-container-schema.html

Please specify the step you are referring to
Step1.

When going throug this I get an error message for
CREATE ROLE CCROLE;

WebIDE says: "ROLE is not supported"
![ROLE Error message](https://user-images.githubusercontent.com/20598911/58017991-e8a7b700-7b01-11e9-87a8-eb6f096fd4a9.png)

[2019-05-20 11:59] PavanAthreyas opened #3521 "Grunt Build in SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-grunt-basic.html

Please specify the step you are referring to

How to create build for SAP Fiori Extension project. ? to create component-preload.js and component-preload-h2.js ?

BR,
Pavan

[2019-05-20 12:06] qualiture commented on #3189
Will be fixed with PR https://github.com/SAPDocuments/Tutorials/pull/3520

[2019-05-20 12:07] qualiture commented on #3498
Will be fixed with PR https://github.com/SAPDocuments/Tutorials/pull/3520

[2019-05-20 12:53] Lsubatin commented on #3519
Have you tried executing the statement? Do you get an error after execution?

[2019-05-20 16:58] Rob3487 opened #3522 "Store Sensor Data in Cloud Storage in SAP Data Hub, Trial Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-trial-v2-pipelines-part02.html

Please specify the step you are referring to 2.

"Open the pipeline which you have created in the previous tutorial (test.myFirstPipeline)"
I cannot find any referrence to "test.myFirstPipeline" in previous tutorials.

Is this the tutorial no. 7 of 12; "Create Workflow (part 3), Build a task Workflow in SAP

[2019-05-20 17:12] Rob3487 commented on #3522
Found it!
Tutorial "Tutorial 10 of 12"; "Generate sensor data in SAP Data Hub, trial edition"

[2019-05-20 17:12] #3522 closed

[2019-05-20 20:08] Rob3487 commented on #3516
Today all is working again!

[2019-05-20 20:08] #3516 closed

[2019-05-20 22:41] KevinMuessig commented on #3441
Hi @TThorsager ,

I am sorry you experienced issues with the tutorial. Could you please off board the app and try on boarding again. Also you can delete the app and re-install. If that doesn't help could you please provide me some logs? While doing that I will verify the tutorial.

Thanks

[2019-05-21 06:40] RubenRollano opened #3524 "Create a Theme for Your Portal Freestyle Site"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-freestyle-site-brand-site.html

In the step 6, the Theme Manager dosen't load properly.

https://flpportal-p1940438444trial.dispatcher.hanatrial.ondemand.com/sites/designer?siteId=2f477852-441e-4a68-bf2b-99e28410e77b#ThemeManager-Manage

![image](https://user-images.githubusercontent.com/25760588/58073850-04fc3000-7ba4-11e9-827e-2dae8454

[2019-05-21 06:49] #3394 closed

[2019-05-21 07:07] thecodester commented on #3516
👍

[2019-05-21 07:08] thecodester commented on #3522
👍

@fx5151git You might want to make sure the tutorial is clear.

[2019-05-21 07:12] #3508 closed

[2019-05-21 07:44] JijoRoyJacob commented on #3509
Are you able to see the metadata for the service? Try this URL: https://m11dmbrr29jui17d-bookshop-srv.cfapps.eu10.hana.ondemand.com/odata/v2/CatalogService/$metadata.

[2019-05-21 07:47] ND3V opened #3525 "Download SAP Mobile Cards to Your Device"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-download-card.html

Please specify the step you are referring to: 1

Both qr-codes lead to the iTunes landingpage

[2019-05-21 09:17] sroehrig commented on #3505
Hi,
thanks for your reply! :)
The tutorial is not completely up to date, there are some deviations:
- Step 1.3: There is no need to rename the service
- Step 1.4: If this is not the first tutorial in a trial account the existing service instance need to be deleted
##### break #####
Currently I try to redo the tutorial, because I deleted it accidentally.
After I deleted the old service instance, th

[2019-05-21 09:29] IObert commented on #3517
Hi @fatihanil,

this shouldn't happen. Can you confirm that the OData service was set up properties in both environments (Neo and Cloud Foundry)? And can you paste your `xs-app.json` file here, please?

[2019-05-21 09:36] mkoderer opened #3526 "Dockhub search doesn't show hana express containers"
https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

Searching for `SAP HANA, express edition` doesn't show the right containers

[2019-05-21 09:49] JijoRoyJacob commented on #3505
Hi Stefan,
Are we still talking about the [JPA tutorial](https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html)? The steps 1.3 and 1.4 in this tutorial are different.

In order to work through the JPA tutorial, you need to make sure you cover the following tutorials first:
1. [Create a Business Service Using CDS](https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html)

[2019-05-21 13:29] Waltersen1971 commented on #3514
Hello,

I have done that tutorial and I was able to do it via Chrome (from my work PC).

[2019-05-21 13:34] sroehrig commented on #3505
Hi Jijo,

from my perpective it is a series of 6 tutorials starting with tutorial 1: [Create a Business Service Using CDS](https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html)
JPA tutorial is tutorial 5.
"Step 1.3" means: step 3 in tutorial 1.

**My problem is a mixture of both scenarios:**
I accidentally deleted the whole bookshop project in the Web IDE.
Then I tried to de

[2019-05-21 13:42] danielva commented on #3513
Please try downloading the 2.1.1 version of the SAP Cloud Platform SDK for Android which is available at https://www.sap.com/developer/trials-downloads/additional-downloads/sap-cloud-platform-sdk-for-android-15508.html.  Modify the sdkVersion in the gradle.properties to use 2.1.1.
I believe that will correct the error seen above.
I will work on updating the tutorial to ensure it reflects that vers

[2019-05-21 14:12] fatihanil commented on #3517
Hi IObert,
Northwind OData service set up as a destination in both environments(Neo and Cloud Foundry). So I check this destinations avaialability, they are working.

Belows are my **xs-app.json** file content.

[code]

[2019-05-21 15:29] IObert commented on #3517
Thanks. I noticed that there is a typo in the name "Northwind". This is not a problem, as long as this typo is "consistent". Can you show me the manifest.json of your UI5 app as well?

[2019-05-21 19:31] austinkloske22 opened #3530 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

I am attempting to run this node.js module as part of a larger Multi-Target-Application (MTA) that I originally created using the SAP Full Stack Web IDE, Business Application Template.

When Attempting to run the s4sdk for javascript module on the Web IDE, I run into error "You have not provided a nam

[2019-05-21 20:14] gregorwolf opened #3531 "Create Handlebars Helper Card - Step 6: Subscribe to the card"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-handlebar.html

Step 6: Subscribe to the card

I've followed the steps in the tutorial and I was able to subscribe to the card. But I don't see 3 available cards. Was that done in another tutorial? In https://developers.sap.com/tutorials/cp-mobile-cards-web-push.html the was created using the Web IDE App.

[2019-05-21 21:34] fernandolw19 opened #3532 "Deploy SAP HANA as a Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-deploying-haas.html

Please specify the step you are referring to:

HI.

When you perform the step-by-step "Deploy SAP HANA as a Service", I will check that the service option, which is in the tutorial: "SAP HANA Service" is not found, as shown in the attached image.
Which option should I follow?

![image](https://user-images.githubusercon

[2019-05-22 03:27] JijoRoyJacob commented on #3505
Hi Stefan,
Did you remove the old instance of bookshop from mta-archives folder? If you have and it still causes a problem, this application might be somehow messed up in your CF environment. I would recommend creating a separate project called `bookshop1` or by any other name you choose to avoid conflicts.

Best regards,
Jijo

[2019-05-22 07:20] marcobuescher commented on #3513
Yes, you are right, now it works!

[2019-05-22 07:20] #3513 closed

[2019-05-22 07:32] fatihanil commented on #3517
Thanks, i quoted manifest.json belowing;

[code]

[2019-05-22 07:53] marcobuescher opened #3534 "Add an Onboarding Flow"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-flows-onboard.html

Please specify the step you are referring to 3:

Isn´t It right, that we all work on your App as shown in configorationprovider.json:

{
  "auth":[{"type":"basic.default","config":{},"requireOtp":false}],
  "host":"hcpms-p1743065160trial.hanatrial.ondemand.com",
  "port":443,
  "protocol":"https",
  "appID":"com.

[2019-05-22 08:00] IObert commented on #3517
This looks good too. Can you have another look at[ this tutorial](https://developers.sap.com/tutorials/sapui5-webide-create-project.html) and have a look at step 5 to see if you're destination service is bound to the ui module.

Otherwise, I'd suggest that you start over from scratch.

[2019-05-22 08:19] fx5151git commented on #3522
Thank you so much for your info, already add the tutorial name and link to help you find the created pipeline.

[2019-05-22 09:02] cookieMonster21 commented on #3509
Thanks for your replay. I just jumped over and can't try it anymore. When I have this issue again, I will try it.

[2019-05-22 09:02] #3509 closed

[2019-05-22 10:09] sroehrig commented on #3505
Hi Jijo,

I use WebIDE and as I said, I accidentally deleted the whole old project.
What is the mta-archives folder and where can I find it?

Anyway, I started now with bookshop1 and I'll inform you about my results.

Best regards, Stefan

[2019-05-22 12:57] danielva commented on #3534
The line above the configurationprovider.json mentions
Update the host value to match your Mobile Services host.
So the intent is for someone following the tutorial to change p1743065160 to their user id.
I will try to make that more clear in the tutorial.

Regards,
Dan van Leeuwen

[2019-05-22 13:00] marcobuescher commented on #3534
OK, I made the Toutorial ready one hour ago. It was grat to see what we can do with the mobile devices. Thanks for that!

[2019-05-22 13:00] #3534 closed

[2019-05-22 13:26] davidgrindleysap opened #3536 "Onboarding a computer as the IoT thing"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

Please specify the step you are referring to

I'm at step 1 and have followed the initial link top get a username and password but they are not recognised when trying to logon to 'sap-iotaehandson2'.

The username is 'P002750'

I am an SAP employee and so have SSO set up for access to other SAP systems (email etc.)

[2019-05-22 13:52] marcobuescher commented on #3514
I made it too, maybe the System was down. Now, the link works...

[2019-05-22 14:03] hoffmannsv007 opened #3537 "Add a Database to Your Business Application - Build Error"
Hello,
the build of the db module fails with the following error message:
3:52:04 PM (Executor) Starting pre-build operations...
3:52:14 PM (Executor) Build command failed : Build failed: Failed at pre build operation: Failed to validate service availability: Failed to execute install command: Failed to start service: Start unsuccessfulTIP: use 'cf logs hdispacedeploy08a570a9-a450-4256-a706-548536

[2019-05-22 17:00] Lsubatin commented on #3532
Hi Fernando,
Thanks for bringing this up. I'm not sure why it was still showing the trial in the titles but I have refreshed it to make it consistent with the initial warning.

Unfortunately, for now, you can only complete this with a productive account and a subscription to the HANA service.

Thanks,
Lucia.

[2019-05-22 17:00] #3532 closed

[2019-05-22 17:04] #3191 closed

[2019-05-22 17:04] #3189 closed

[2019-05-22 17:04] #3498 closed

[2019-05-22 17:41] Lsubatin commented on #3493
Hi Henry, thanks for bringing this up. You should the validations now.
Best,
Lucia.

[2019-05-22 19:31] svenkohlhaas opened #3538 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

The build command in the package.json file needs to be:
`"build": "cds build/all --clean && cds compile db/data-model.cds -o ./",`
otherwise it will fail, the /all part is missing in the tutorial.

[2019-05-22 20:17] ChrisWake commented on #3514
Hi,

Just checked link is now working thanks for checking.

[2019-05-22 20:17] #3514 closed

[2019-05-23 02:47] Haruyuki-Kobayashi opened #3539 "Add Basic Logging to Your Node.js App"
Tutorial URL: https://developers.sap.com/tutorials/cp-node-app-logging.html

Please specify the step you are referring to
At step Step 5: Stream application logs
The command :cf logs myapp | grep -v RTR does't work.
Seems simply cf logs myapp works!

[2019-05-23 04:05] jinigirl opened #3540 "Import your TechEd BUILD project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-build-import.html

Hello,

I have cloned a prototype in BUILD, but when I try to import in Web IDE, it says that I don't have a prototype. What should I do to resolve this issue? Should I make changes to the cloned project from BUILD?

[2019-05-23 08:14] thulium3 opened #3541 "Set Up SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Please specify the step you are referring to
The command docker run -ti --env VORA_USERNAME=vora --env VORA_PASSWORD=SomeNicePassword19920706 --publish 127.0.0.1:8090:8090 --publish 127.0.0.1:9225:9225 --publish 30115:30115 --name datahub --hostname datahub --network dev-net datahub run --agree-to-sap-license
 is not

[2019-05-23 09:07] raz-korn opened #3542 "Testing API Business Hub APIs with Curl"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-test-locally.html

Please specify the step you are referring to: Step 5.
I run the following curl:
curl --request GET  --url "https://sandbox.api.sap.com/successfactors/odata/v2/User?$top=6&%24select=firstName%2ClastName%2CjobTitle"  --header "APIKey: NRjtHA1A7cFhmXgeAiKU3aRWISybFvqW"  --header "Accept: application/json"  --header "Content

[2019-05-23 10:45] renejeglinsky commented on #3537
Hi Sven,

let me ask some questions:
In which region do you have your trial account?
Have you checked your entitlements of the HANA service in your space? Is it available?
Have you checked your connection to Cloud Foundry (Preferences -> Cloud Foundry) is established? DId you need to authenticate again?

Regards,
René

[2019-05-23 11:36] #3486 closed

[2019-05-23 11:37] IObert commented on #3486
This should be fixed with the latest PR.

[2019-05-23 13:10] ShiraManas commented on #3494
Hi,
The links have been updated and are now working properly. Thanks for letting us know.

[2019-05-23 13:13] #3494 closed

[2019-05-23 18:54] ND3V opened #3550 "Use Mobile Services to Create UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

Please specify the step you are referring to: 1:4

In the screenshot it says "Destination: API_Portal_Trial" (which works - I think), The "other destination which is available as a dropdown", and as such propably what you meant in the table
 of values, leads to a 403.

The "HTML Template: User defined template

[2019-05-24 02:48] Bingzi-Li opened #3551 "Polygons"
Tutorial URL: https://developers.sap.com/tutorials/hana-spatial-intro3-polygon.html

Please specify the step you are referring to
Polygons step1 code snippet does not correspond to the graph shown.

code in tutorial:
SELECT NEW ST_Polygon('Polygon ((0 0, 4 0, 0 3, 0 0), (0.5 0.5, 0.5 1.5, 1.5 1.5, 1 0.5, 0.5 0.5))').ST_asSVG() FROM dummy;

code corresponding to graph:
SELECT NEW ST_Polygon('Polygo

[2019-05-24 03:45] JijoRoyJacob commented on #3538
Hi Sven,
I've checked with the dev team on this and they say that `build/all` is a new build implementation that will eventually replace the current `build`. And so for now, we're leaving it as is.

Best regards,
Jijo

[2019-05-24 05:09] svenkohlhaas commented on #3538
Ok, will close the issue then. Just wanted to provide the feedback that without the /all the build failed and with the /all the build worked.

[2019-05-24 05:09] #3538 closed

[2019-05-24 08:53] shilpavij commented on #3550
Hello,

Its just that whatever destination you have created to point it to API Portal you need to select that.
Just check for spaces and your proxy path for query URL. I cross checked and it works me.

Unfortunately, I can not check this log as this is in your trial, I would request you to check the error in your query.

Regards
Shilpa

[2019-05-24 08:53] kranjeetaa opened #3553 "SAP HANA XS Classic, Develop your first SAP HANA XSC Application"
Tutorial URL: https://developers.sap.com/tutorials/hana-web-development-workbench.html

Please specify the step you are referring to Step:1
I am able to go to workbench but couldn't access editor except all other three options.

[2019-05-24 08:54] shilpavij commented on #3550
Also, Please check the recent document we have couple of changes.

[2019-05-24 09:23] sroehrig commented on #3505
Hi Jijo,

I found the problem in step 5.1
The description in the tutorial is a bit misleading in two places:

In step 5.1.5 it is written `Add the CSN2JPA plugin in pom.xml as indicated in the following code:`
But in the following snippet, three plugins have to be added!

In step 5.1.6 it is written `In order to actually execute the JPA operations, add EclipseLink to the dependencies section of po

[2019-05-24 09:40] JijoRoyJacob commented on #3505
Hi Stefan,
That's good feedback. I'll incorporate it so that the steps are more clear. Thank you for pointing that out.

Best regards,
Jijo

[2019-05-24 10:37] #3553 closed

[2019-05-24 11:47] marcobuescher opened #3555 "Import the MovieLens dataset (MovieLens App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-03.html

Please specify the step you are referring to Step 7.

Hello Abdel,
I think the Folder is "movielens" not "forcast", isn´t it?

Regards
Marco

[2019-05-24 12:34] marcobuescher opened #3556 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Please specify the step you are referring to Step 4.

There is no Question to answer. I made it with try and error.

Regards

Marco

PS: Nice tutorial so far...

[2019-05-24 16:28] marcobuescher opened #3558 "Perform Text Analysis with SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-05-graph-analysis.html

Please specify the step you are referring to Step 4,

Hello,

I get the followin error Message when I try to Import the JSON documents:

Could not execute 'insert into food_sentiment
 with doc_store as (select "name", "description" from food_collection)
 ...'
Error: (dberror) [301]: unique constraint violated:

[2019-05-24 21:33] woodyjon opened #3559 "Use the Application Router in Cloud Foundry to Connect to ABAP System"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-consume-odata-service-approuter.html

I can follow the tutorial without issue. But I am trying to use the app router together with a frontend application. I add an application (reactjs) on cloud foundry behind the app router, as explained at the beginning of the tutorial. If my app is a nodejs server, it is ok, it is called after t

[2019-05-25 06:54] RubenRollano opened #3560 "Create Your First ABAP Console Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-console-application.html

In the step 2, I can't find any service instance and I have this message: Could not find any Service Instance for the selected Space.
![image](https://user-images.githubusercontent.com/25760588/58365877-8c121680-7eca-11e9-946a-e56fde43162d.png)
But there service instances available in my Cloud Foundry tri

[2019-05-25 07:33] ND3V commented on #3550
Thank you for your prompt reply. Sorry for not being more specific, the issue that kept me from completing was that i could not find the backend logs. I investigated further and found the Tryout in API portal to be the next best thing. With this tool i am able to specify the issue much better:

GET /A_SalesOrder without parameters leads to the response:
Code:  "", Details: "Error: Created"

by add

[2019-05-25 07:34] ND3V commented on #3550
Oh and as a sidenote: your i# and p# accountnuumbers are shown in the screenshots here:
https://developers.sap.com/tutorials/cp-apim-sales-tracker-api-discover.html

[2019-05-26 08:09] thecodester commented on #3556
I see in the text "Right-click on the Header table and use the generated SQL statement in the validation below". This is the question, no?

[2019-05-26 08:11] thecodester commented on #3505
@JijoRoyJacob Can I close the issue?

[2019-05-26 08:22] marcobuescher commented on #3556
yes, but that is a bit ambiguous, isn´t it?

[2019-05-26 14:47] gregorwolf opened #3561 "Add a UI to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-02-add-ui.html

Step 2: Test-run the UI

The tutorial asks you to choose "Choose flpSandbox.html". But the menu entry is called "Run as SAP Fiori Launchpad Sandbox":

<img width="633" alt="Screenshot 2019-05-26 at 16 33 59" src="https://user-images.githubusercontent.com/2639535/58383333-bef50100-7fd5-11e9-80b5-9265241e229f.png">

[2019-05-26 15:09] gregorwolf commented on #3561
The same issue is also in Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html, Step 5

[2019-05-26 15:51] gregorwolf opened #3562 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Step 1: Generate JPA classes

I've followed the steps and updated package.json & srv/package.json. But when I try to compile I get the error:

17:40:55 (Java Build) [ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.6.0:compile (default-compile) on project bookshop-srv: Compilation failure: Co

[2019-05-27 03:03] JijoRoyJacob commented on #3505
Yes. The issue can be closed. Updates to the tutorial will be released shortly.

[2019-05-27 04:01] shilpavij commented on #3550
Thanks a lot for the feedback.I will blur my personal details.
If I get your problem right, you are unable to try out the API from SAP API Business Hub itself right?
I tried again and found out there is no issue for me there. Are you fetching 3- 5 records. Just try that.
I am attaching the screen shot too .
![image](https://user-images.githubusercontent.com/44152823/58394677-1a6cd080-8062-11e9-9a9

[2019-05-27 05:44] #3505 closed

[2019-05-27 07:10] mervey45 commented on #3560
@RubenRollano Hi Ruben,

please open a ticket for this issue. The colleagues have to check it up.

Thank you.

Best regards,
Merve

[2019-05-27 07:32] thecodester commented on #3560
@mervey45 If we will handle this via a support ticket, can we close the issue here?

[2019-05-27 07:54] mervey45 commented on #3560
@thecodester  We can close this issue.

[2019-05-27 08:30] raz-korn opened #3565 "Explore and Customize Your SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-customize.html

Please specify the step you are referring to: Step 7.
Update screenshots and text that include "builder" information.
Builder is no longer handled by the users.

[2019-05-27 09:49] renejeglinsky commented on #3561
Hi Gregor,

thanks for your feedback. Let me answer it step by step.
1. Actually it says you should choose Run | Web Application (which should be Run as Web Application) instead of Run | Run as SAP Fiori Launchpad Sandbox. If you follow this, does it work for you?
2. It is kind of the same issue. Step 5 asks you to choose Run | Run Configurations. Inside the run configurations dialog you can the m

[2019-05-27 10:07] #3560 closed

[2019-05-27 10:19] JijoRoyJacob commented on #3562
Hi Gregor,
I found an issue in the pom.xml file. You'll need to redo Step 1 - substep 6. Do not add the dependencies to the `dependencies` section under the `only-eclipse` profile. Instead, create a separate `dependencies` section under `project` and add them there as indicated in the sample code. I added some clarification around that today.

Best regards,
Jijo

[2019-05-27 13:27] qualiture commented on #3558
Hi @marcobuescher,

The unique constraint violation is thrown because the `name` column in table `food_sentiment` is defined as primary key. Could you check whether your `food_collection` Document Store contains multiple similar values in its `name` column via

    SELECT "name", "group" FROM food_collection;

Each entry should only be listed once

[2019-05-27 13:28] adadouche commented on #3555
Thank you for catching that. It should be fixed and in production soon.

Thanks again

@bdel

[2019-05-27 13:28] #3555 closed

[2019-05-28 06:55] jpetersendk opened #3566 "Connect to OData Service on Cloud Foundry Using SAP Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-odata-service-cloud-foundry.html

Step 5: Deploying the Project

Never got past this step as the instructions are unclear on the ODATA service. How to setup and access.

[2019-05-28 07:13] russellw999 opened #3567 "Deploy SAP HANA as a Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-deploying-haas.html

Please specify the step you are referring to

Step 2 :  it would be worth mentioning in the Tutorial that you cannot create the HANA Instance from a Trial Account of Cloud Foundry

[2019-05-28 07:14] iwonahahn commented on #3461
Hi,
1. You need the certificate from 1.2.
2. The tutorial is working as it is published now, we test it for each bi-weekly release.
3. You do not need to add the User Name and Password.

Best regards,
Iwona

[2019-05-28 07:38] thomasalexneuhaus commented on #3195
I have the same Issue, also with  resource_sensor_2 and a image warning

[2019-05-28 07:57] jpetersendk opened #3568 "Create a Sample Application on SCP Neo Using SAP Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-scp-neo-sample-application.html

Step 5: Local deployment

When asked for "Enter URL for destination ErpQueryEndpoint:" the tutorial does not explain what to enter here. The same is shown in the screenshot in the tutorial.

[2019-05-28 07:58] marcobuescher commented on #3558
Yes, there are 20 entries in the Table. Thanks...

[2019-05-28 08:32] qualiture commented on #3558
Glad it was sorted out! :)

[2019-05-28 08:38] marcobuescher commented on #3558
Now I want to delet the double entrys whithout dropping the table.
I try this:

DELETE FROM food_collection WHERE "name" IN (
SELECT "name"
FROM food_collection
GROUP BY "name"
HAVING (COUNT(*) > 1 ))

[2019-05-28 09:15] #3558 closed

[2019-05-28 09:18] #3511 closed

[2019-05-28 09:28] qualiture commented on #3558
Not entirely sure if this would work with Document Stores, but you could also use the `$rowid$` pseudo column:

(NB: **SQL below is not tested**, but loosely handcrafted using Witalij's answer here: https://answers.sap.com/answers/11590676/view.html)

[code]

[2019-05-28 10:11] shenjiansj opened #3569 "Add a UI to Your Business Application"
Hi colleagues,

I follow the steps and I want to use the smart template for the UI, and I am wondering if I can use the annotations like the old ways we used in CDS views in S4. Or how can I modify my smart template project because there is no explicit code in project.

Best Regards,
Jay.

[2019-05-28 10:36] thomasalexneuhaus opened #3570 "Send the CPU usage data to SAP IoT Application Enablement"
Tutorial URL: https://developers.sap.com/tutorials/iotae-comp-sendpy0.html

Please specify the step you are referring to

('\nValues to post: ', 99.6, 1559039458)
('Payload to post: ', '{"mode":"sync","messageType":"b6a553afa88aa513df68677e5abddde","messages":[{"cpu_usage":99.6,"cpu_type":"generic","timestamp":1559039458}]}')
(202, u'{"msg":"https://iotmmsa2667617c.hana.ondemand.com/com.sap.iotser

[2019-05-28 11:33] fx5151git commented on #3541
Hi, Could you share me your screenshot or give me some more details? From my side I checked the images it is still datahub.

[2019-05-28 12:05] fx5151git commented on #3541
@thulium3

[2019-05-28 12:28] marcobuescher opened #3571 "Import Tables and Large Datasets (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-import-shine-data.html

Please specify the step you are referring to Step 3.

Hello,

I get the following error if I BUILD the DB:

--> to here, everything is fine!
Deploying "src/data/load.hdbtabledata$0.expand"...
Expanded from "src/data/load.hdbtabledata"

--> first error
Error: com.sap.hana.di.tabledata: The "include_filter" definitions in

[2019-05-28 12:40] thulium3 commented on #3541
I would have to redo all steps to create a screenshot. Maybe I made a mistake in one of the steps and after that my image was named "sapdatahub/dev-edition:2.4" instead of "datahub". If noone else has the error than it should be ok.

[2019-05-28 12:40] ShiraManas commented on #3521
Hi Pavan,
Can you please explain your question a little bit more?
I am not sure I understand what the question is that you are asking.

Thanks!
Shira

[2019-05-28 16:11] marcobuescher opened #3572 "Create additional database artifacts (MovieLens App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-09.html

Please specify the step you are referring to Step 5:

Hello Abdel,

The Build of the three files recommendation_execute.hdbprocedure
•recommendation_result_collaborative.hdbprocedure
•recommendation_result_contentbased.hdbprocedure
 faild whith following:

 Precompiling "src/hdb/apl/procedures/recommendation_execute.hdbpr

[2019-05-28 17:42] marcobuescher commented on #3558
Thanks for that, I dropped the Table and made it new.

[2019-05-28 18:48] Lsubatin commented on #3571
Hi, What is the content of the files causing the error? What version of HXE is this?

[2019-05-28 18:51] Lsubatin commented on #3567
Hi, This is mentioned at the beginning (right before the first step).  Is that what you mean?

[2019-05-29 09:58] fatihanil commented on #3517
It looks bound to the ui module how described in the tutorial's step five.

[2019-05-29 18:04] greg2git opened #3576 "Upgrade Hyperledger Fabric Chaincode"
Hi Tom,

Nice progress since the last time I was checking the HLF tutorials.

Tutorial URL: https://developers.sap.com/tutorials/blockchain-hlf-upgrade-chaincode.html

thx, greg

[2019-05-30 03:35] MaximilienFourmyBeyond opened #3577 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Step 4: Change the runtime from Tomcat to TomEE
I got an error in my mta.yaml file during the build because I copy-and-pasted the following code from the tutorial:
[code]

But in my case, when I generated the project, the resource name is not bookshop-hdi-container but bookshop-db-hdi-container.

To reproduce, you just ne

[2019-05-30 04:07] JijoRoyJacob commented on #3577
Thanks for bringing it to my notice. I'll update the sample. Also to cover any future changes, I'll add a note that the names used in the sample are for representational purposes and that you need to either stick to the original names in the mta.yaml or if you do modify the names, it has to be used consistently throughout the project.

[2019-05-30 04:14] VkDinesh commented on #3477
hi @adadouche,
Regarding your article about, Discover how to implement SAP Leonardo Machine Learning Foundation service in a SAPUI5 application [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ml-fs-sapui5-img-classification/ml-fs-sapui5-img-classification.md]
I am facing an issue in the final step, as I run the code it runs perfectly but after when I upload the picture it keeps on

[2019-05-30 08:11] zzdjb opened #3579 "No suitable major-minor version found for requested version \'3.11.0\'"

[2019-05-30 08:12] #3579 closed

[2019-05-30 09:00] gregorwolf opened #3580 "Create Your First Application with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-odata-service-cloud-foundry.html
Step 4: Execute an OData request

I try to replicate this tutorial but in the Step 4 I get the error message:

when opening `http://localhost:8080/business-partners`. I've added a console.log  line in:

[code]

the reason seems to be:

[code]

So it might be the better option to use the Sandbox from SAP API

[2019-05-30 09:14] gregorwolf commented on #3580
Or when using dotenv:

[code]

[2019-05-30 10:13] mikolajroszak opened #3581 "Tour the SAP Community"
Tutorial URL: https://developers.sap.com/tutorials/community-start.html

Please specify the step you are referring to

[2019-05-30 10:31] thecodester commented on #3581
Do you have a question?

[2019-05-30 10:33] thecodester commented on #3577
I believe this is solved by https://github.com/SAPDocuments/Tutorials/pull/3578

[2019-05-30 10:33] #3577 closed

[2019-05-30 15:10] MaximilienFourmyBeyond opened #3582 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Is it possible to have a github repo with the final code ?
It would be very helpful to check and compare the code with ours.

[2019-05-31 10:31] #3556 closed

[2019-05-31 12:36] IObert commented on #3517
Thanks for your answer. It's very hard to give a diagnosis remotely. I'd recommend to remove the project and to start with a clean plate. Sorry for the inconvenience!

[2019-05-31 14:43] IObert commented on #3512
Hi @ND3V,

thank you for your very good feedback! I change the script to avoid the platform specific `cp` command and added a note to install `make`.

Can you explain the issue you're facing with the `.npmrc` file? The file should already come with all information to connect to the npm repository.

Thanks,
Marius

[2019-05-31 16:48] entmike commented on #3500
Understanding I can give, but I do not have the luxury as a Trial user of switching regions, so I will go the path of patience and try later if I remember.  Just some feedback if you care to pass it along to someone who coordinates updates to SCP, is that this type of problem really doesn't help new developer adoption when roll outs like these can impact people working on actual real projects and

[2019-05-31 17:58] marcobuescher commented on #3480
Hi,
I think I found the mistake. There is no badge. I completed the missions

- Connect Microsoft Office 365 and SAP Data Through an SAPUI5 App
- Get Started with the Mobile Development Kit
- Develop Your First SAPUI5 Web App on Cloud Foundry

 and just assumed that there is a badge. However, the said missions are not listed on the overview page. "Currently Available Missions and Badges" (https://

[2019-06-02 06:21] zzdjb opened #3586 "Connect to Microsoft Graph"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-connect-graph.html

Could you tell me where I can get the "client ID"?
![image](https://user-images.githubusercontent.com/50519079/58757359-a3da4200-853d-11e9-8e20-59c6bec1c388.png)

This is what it looks like in the tutorial.
![image](https://user-images.githubusercontent.com/50519079/58757594-4e079900-8541-11e9-9ff2-616e6278a440.

[2019-06-02 07:21] #3576 closed

[2019-06-02 08:54] thecodester commented on #3541
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-02 08:54] #3541 closed

[2019-06-02 16:43] marcobuescher opened #3587 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html

Please specify the step you are referring to Step 4: Bind the Application to a Database

Hello,

If I want to bind the Application to the Database i became the Error that

"Problems registering HANA database for account 's0007042004trial' and id 'espm'. Application with name 'espm' already exists."

I think the S

[2019-06-02 22:57] Lsubatin commented on #3459
Hi Marco, I see it in my Full stack Web IDE.  I suggest you enter a support ticket as the plug-in should be available.

Closing this as this is not the channel for support.

[2019-06-02 22:57] #3459 closed

[2019-06-03 10:49] ND3V commented on #3512
Hi IObert,
thanks for the update. Back then i was experiencing issues with the @sap modules, which went away once i updated my user-specific .npmrc - I was not able to reproduce this, as now the project-specific setting seems to suffice. I suspect a connectivity-issue or somesuch which coincidently resolved as i was creating a user-npmrc.
In my eyes, this can be closed.

[2019-06-03 13:45] pgupta4sap commented on #3324
Hi,

I am also facing the same issue and i have logged in as MOVIELENSE_USER in development workbench editor. While creating package data, hdb, service do i need to enter any value for Responsible ?
Need your urgent help to move forward in the tutorial.
![error](https://user-images.githubusercontent.com/51327339/58806468-db2b1a80-8633-11e9-80f5-cb76ebc8b2e5.PNG)

[2019-06-03 14:39] adadouche commented on #3324
Hi @pgupta4sap,

Can you please open a new issue?

Have you check if you are using the MOVIELENS_USER when editing the files? You can check that in the upper right corner of the HANA Workbench.

If you are using SYSTEM as user, this could explain why.

Regards

@bdel

[2019-06-03 14:53] adadouche commented on #3572
Hi @marcobuescher

Sorry for the late response but I was on holiday and just returned to work (we have too many paid vacation here in France).

Apparently, there are some missing artefacts that the procedure depend on.

These artefacts are created in https://developers.sap.com/tutorials/hxe-aa-movielens-05.html in step 7 & 8.

You should have them in the Database Explorer under your HDI Container

[2019-06-03 15:16] adadouche commented on #3478
Hi @joao1100

Thanks for catching that. Apparently the message has changed since I last updated the tutorial.

I have updated the relevant tutorials accordingly. The update should appear shortly.

Thanks again for you feedback.

[2019-06-03 15:16] #3478 closed

[2019-06-03 15:34] renejeglinsky commented on #3500
@entmike I fully understand. Let me point you to a nice blog from a colleague that explains how to switch regions: https://blogs.sap.com/2019/04/16/how-to-change-the-region-in-your-cloud-foundry-trial/
This avoids the waiting period. Hope this helps.

[2019-06-03 15:36] adadouche commented on #3477
Hi @VkDinesh

Can you open a new issue? Additionally, you should open the browser "Developer tools" (press F12) and inspect the Console tab which should give us some directions.

Regards

@bdel

[2019-06-03 15:39] pgupta4sap opened #3589 "Error: "MOVIELENS": schema is not owned by _SYS_REPO in movielense_user"
Hi,

I am  facing one issue in Tutorial below link:
https://developers.sap.com/tutorials/cp-hana-aa-movielens-01.html
Getting error message  "MOVIELENS": schema is not owned by _SYS_REPO.
I have logged in as MOVIELENSE_USER in development workbench editor. While creating package data, hdb, service do i need to enter any value for Responsible ?
I have logged in with MOVIELENS_USER, but not able to

[2019-06-03 15:43] pgupta4sap commented on #3324
Hi,
As per your request created new issue no #3589.
And yes using the same MOVIELENS_USER. Do i need to enter in package attribute "Responsible".
As in Package Movielens its coming SAP automatically. What about data, hdb, service ?

[2019-06-03 15:49] #3512 closed

[2019-06-03 17:00] ND3V opened #3590 "Configure your ABAP System to Activate OData Services of Fiori Reference Apps"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html

Please specify the step you are referring to

Step 3: SAP_EPM_REF_APPS_BASIC_AUTH is not available as role in my system. Any Idea on why that might be? prerequesites have been done.

Step 4: SEPMRA_SO_MAN not available in IWFND/MAINT_SERVICE (also not for manual adding) has it been renamed to SE

[2019-06-04 04:55] thecodester opened #3591 "Create a Workflow Definition Using an External Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-01-create-definition.html

Please specify the step you are referring to: Step 7

You show when clicking on the service the JSON so nicely formatted. But when I click I just get a run-on text that is not formatted nicely. Should I open the link in a different way, different browser?

[2019-06-04 04:58] thecodester opened #3592 "Add a User Task and Generic UI to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-02-add-user-task.html

Please specify the step you are referring to

1) After creating genericusertask, I get these errors in the Problems window. They don’t seem to stop me but made me nervous. I don’t see these errors any more, so not sure why they appeared.

![errors](https://user-images.githubusercontent.com/11659786/58852264-7eb11500-86

[2019-06-04 07:18] shenjiansj opened #3593 "Add Annotations to a Managed Association with Core Data Services"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-itelo-product-catalog-01.html

Dear colleagues,

I follow the tutorial and build my UI using annotations, but I faced two strange issues:
1.When I open it using sandbox without mock data, it will return internal error when I press error.
![image](https://user-images.githubusercontent.com/5859271/58859237-e5085880-86db-11e9-9237-dab9164971e7

[2019-06-04 07:31] JensHaley commented on #3590
Could please share your ABAP release of your system? The objects might not be available in older systems.

Thank you

[2019-06-04 07:40] thecodester commented on #3593
@renejeglinsky Also, your name on this one is your GitHub ID. When you commit to Git, make your name the name used for the commit.

[2019-06-04 07:51] woodyjon commented on #3559
Thanks a lot!

[2019-06-04 07:54] zzdjb commented on #3586
I have find it in the below tutorial.
https://developers.sap.com/tutorials/cp-msft-register-app.html

[2019-06-04 07:54] #3586 closed

[2019-06-04 08:11] #3559 closed

[2019-06-04 08:33] renejeglinsky commented on #3593
Hi @shenjiansj ,
from your sceenshots I can tell that you are not following the tutorial but I can't tell what exactly the problem is. Let me ask some questions:

In which region is Neo and in which is CF in your scenario?
What kind of annotations have you used?
Have you build the CDS files?

Regards,
René

[2019-06-04 08:52] renejeglinsky commented on #3569
Hi @shenjiansj ,

if you are looking for Fiori Elements annotations have a look here: https://sapui5.hana.ondemand.com/#/topic/03265b0408e2432c9571d6b3feb6b1fd

For the CDS syntax here, check this out: https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/855e00bd559742a3b8276fbed4af1008.html

Regards,
René

[2019-06-04 12:03] Fermartyni opened #3596 "SAP HANA XS Advanced - Modules within Node.js SAP HANA applications"
Tutorial URL: https://developers.sap.com/tutorials/xsa-node-modules.html

At the last step: when I run the application, it fails:

Application is running

module.js:550
throw err;
^
Error: Cannot find module '@sap/xssec'
at Function.Module._resolveFilename (module.js:548:15)
at Function.Module._load (module.js:475:25)
at Module.require (module.js:597:17)
at require (internal/module.js:11:18)
at Ob

[2019-06-05 04:50] thecodester commented on #3581
If you have a question, feel free to post here. :-)

[2019-06-05 04:50] #3581 closed

[2019-06-05 07:23] timrehrmann opened #3597 "Getting Started with the SAP Web IDE Full-Stack Version (Trial)"
Tutorial URL: https://developers.sap.com/tutorials/webide-innovation-beta.html

Link to "Try It Out: 3 Easy Steps to Get You Started With the Cloud Foundry Environment" in step 4 doesn't work.

[2019-06-05 07:58] mjhcorporate opened #3598 "Get Ready to Develop on Your Local Machine"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local-setup.html

Please specify the step you are referring to: Step 4

I think the provided ansers are wrong. According to my console, the supported commands of mbt are (this is the output of mbt --help):

Available Commands:
  assemble    Assembles MTA Archive
  build       Execute MTA project build
  gen         Generation commands

[2019-06-06 00:52] erichnunez opened #3600 "Use Mobile Services to Create UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

Please specify the step you are referring to

I am stuck while getting data in the Use Mobile Services to Create UI section. Following URL is not working... Query is not getting any results.

/<yourP#>trial/s4hanacloud/sap/opu/odata/sap/API_SALES_ORDER_SRV/A_SalesOrder?$expand=to_Item nor /<yourP#>trial/s4hana

[2019-06-06 06:00] shilpavij commented on #3600
Dear,
Please check the space after A_SalesOrder?.
![image](https://user-images.githubusercontent.com/44152823/59010329-80213f80-884e-11e9-8091-85c7184e84de.png)

Regards
Shilpa

[2019-06-06 07:48] zzdjb opened #3601 "Rapid"
Tutorial URL: https://developers.sap.com/tutorials/mendix-salesorders.html

Please specify the step you are referring to

[2019-06-06 07:49] thecodester commented on #3601
Do you have a question?

[2019-06-06 07:51] zzdjb commented on #3601
![image](https://user-images.githubusercontent.com/50519079/59015968-cdafa380-8872-11e9-9556-51da6c428a3f.png)
Step 12: Run locally

[2019-06-06 10:17] #3598 closed

[2019-06-06 10:18] IObert commented on #3598
Good catch @mjhcorporate
Thanks for your feedback!

[2019-06-06 13:05] ND3V commented on #3590
Forgive - holiday. Its Release 750 SP 4 (We are talking SAP_BASIS & SAP_ABA. If theres more i can provide let me know)

[2019-06-06 19:14] dazowens opened #3605 "Add a User Task to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-add-usertask.html

Please specify the step you are referring to

when selecting Monitor Workflows in Step 2 the following message is displayed:

Error
App could not be opened because the SAP UI5 component of the application could not be loaded.
Failed to load UI5 component for navigation intent "#bpmworkflowmonitor-DisplayDefinitions"

[2019-06-06 23:14] greg2git commented on #3597
Agreed, the link in Step 4 (https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/e3d82674bd68448eb85198619aa99b6d.html?q=Get%20a%20Trial%20Space%20on%20the%20Cloud%20Foundry%20Instance) returns this: https://saphelp.hana.ondemand.com/page-not-found.html

[2019-06-07 18:59] entmike commented on #3209
This is how I handle it in Docker without messing with hosts files...

**Docker Machine example in Windows where `192.168.99.100` is the external docker-machine vm and `hxehost` is the container host name:**

[code]

**Docker Machine example in Macbook where `localhost` is the docker daemon running on the Mac and `hxehost` is the container host name:**

[code]

[2019-06-08 15:00] gregorwolf opened #3606 "Installing XS CLI Client"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-xs-xli-client.html

There is no step that describes to add the bin folder to the PATH environment variable.

[2019-06-08 15:44] gregorwolf opened #3607 "SAP HANA XS Advanced, Creating an HTML5 Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-html5-module.html

Step 2: Create the UAA service instance for your application

For the alternative option to add the UAA using the command line it might be good to have a concrete example that works with HXE:

[code]

[2019-06-09 14:49] marcobuescher commented on #3480
Caroleigh Deneen fixed it!

[2019-06-09 14:49] #3480 closed

[2019-06-09 18:41] zerghector opened #3608 "Use the Object Detection API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-img-object-detection.html

HI, In the step 2, when calling the API, it appeared a error code message #308, I thought it was the serever, however it appeared again with the HUMAN RECOGNITION,

How could I fix it?

Thank you!!!!

[2019-06-10 06:40] shenjiansj opened #3609 "Create a Business Service Using CDS"
Hi colleague,

I follow the tutorial and build a service, it can run locally but can not run on cloud foundry.
When using webIDE, it reports error with no log.
When using mta_archive_builder-1.1.7.jar and deploy mta in command, it reports error like:
2019-06-10T13:20:36.45+0800 [APP/PROC/WEB/0] ERR bash: dev.com.sap.cf.sales.self.billing.customizing-srv -Djava.io.tmpdir=/home/vcap/tmp -Dhttp.port=

[2019-06-10 08:29] reenumaryjose opened #3611 "Explore and Customize Your SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-customize.html

Please specify the step you are referring to: Step 4: Learn about SAP Web IDE

Correction:
There is no 4th tab (hat icon) to the Learning Center in the side panel. It is only available in Home page. Screenshot below

![WebIDE](https://user-images.githubusercontent.com/47062869/59182594-c5fc4180-8b87-11e9-8066-5e45036168ce.PN

[2019-06-10 11:43] ShiraManas commented on #3597
Hi all,
The link in Step 4 has been updated and is working.

Thanks,
Shira

[2019-06-10 11:49] #3597 closed

[2019-06-10 12:54] VishnAndr opened #3613 "Create an API Provider System"
Tutorial URL: https://developers.sap.com/tutorials/hcp-apim-create-provider.html

Please specify the step you are referring to
in Step 1 question "Where do you discover and consume Products that contain API Proxies?" expects free text answer. However, whatever I tried to enter - didn't work. Apparently, the answer should contain "Dev portal". But it's not really clear what exactly it expects us to

[2019-06-10 12:55] VishnAndr commented on #3613
Agh, not Dev portal, but "Developer Portal".....

[2019-06-10 12:55] #3613 closed

[2019-06-10 14:22] JCurrie27 commented on #3209
Thanks for this feedback. Examples are being added to the tutorials "Installing SAP HANA, express edition with Docker" and "Installing SAP HANA, express edition Server + Apps with Docker".

[2019-06-10 14:22] #3209 closed

[2019-06-10 14:29] JCurrie27 commented on #3606
Thanks for this feedback. This issue is being investigated and we'll respond as soon as we can.

[2019-06-10 14:47] gregorwolf commented on #3562
Thank you for the hit. I've made progress with that now.

[2019-06-10 14:47] #3562 closed

[2019-06-11 07:06] shenjiansj commented on #3609
Hi @renejeglinsky ,

Could you please help? It is urgent for all of the subaccount and space.

Best Regards,
Jay.

[2019-06-11 08:50] JijoRoyJacob commented on #3582
Thank you Maximilien. We've noted your request and will take it into consideration when deciding the positioning of the whole JPA topic in the programming model.

[2019-06-11 12:57] mojitodaiquiri opened #3616 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Please specify the step you are referring to
Step 4: Change the runtime from Tomcat to TomEE

Hi, I cannot make it work after changing the application server to TomEE
I've got this error, any idea?

{
   "written_at":"2019-06-11T12:53:37.255Z",
   "written_ts":1612050934513860,
   "component_type":"application",
   "compo

[2019-06-11 14:09] DerGuteWolf opened #3617 "Use abapGit to Transform ABAP Source Code to the Cloud"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-abapgit.html

Tutorial is missing information how to add/commit code from the cloud abap system to the local git repo and push to the remote repo.

[2019-06-11 15:18] gutknechts opened #3618 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Please specify the step you are referring to: "Step 5: Re-build the db module and run the app"

When building the DB, I get the following error:

5:06:06 PM (Executor) Build command failed : Build failed: Failed during post build event: Failed to create JSON from build log: json: cannot unmarshal string into Go struct

[2019-06-12 04:39] JijoRoyJacob commented on #3616
Can you share your code? I can take a look to see where the problem is.

[2019-06-12 07:16] gregorwolf opened #3620 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Step 1: Add a database

As reported from Mary Jose in [SAP CAP: Build of /bookshop/db failed](https://answers.sap.com/questions/12706870/sap-cap-build-of-bookshopdb-failed.html) the build fails with this error message:

[code]

I was able to replicate this issue in two different SCP CF Trial Accounts using the SAP Web

[2019-06-12 08:40] AmauryVanEspen opened #3621 "Export Data to OneDrive or GDrive ?"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-export-drive.html

Regarding interface with OneDrive,
Does it work with GDrive or how could you set up a GDrive (spreadsheet) connector ?

Thank you

Amaury

[2019-06-12 09:20] renejeglinsky commented on #3609
Hi @shenjiansj ,
I can't reproduce it. Have you started your service standalone or did you try to build the project and deploy the mtar?
Regards,
René

[2019-06-12 10:31] IObert commented on #3621
Hi @AmauryVanEspen,

good question. The tutorial only focusses on the Microsoft SDK, so you cannot simply replace the OneDrive part with GDrive. Having said that, the flow for GDrive probably follows the same principles. First, you need to acquire a token and then you can use this token to[ upload a file to GDrive](https://developers.google.com/drive/api/v3/manage-uploads).

[2019-06-12 10:31] #3621 closed

[2019-06-13 11:50] iwonahahn opened #3623 "Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

In step 3, please remove step 1 & 2, since a rename is no longer necessary because the file in the template is already called cat-service.cds.

Thanks and best regards,
Iwona

[2019-06-13 12:11] adadouche commented on #3589
Hi @pgupta4sap ,

Can you switch to the Catalog view, and verify if the MOVIELENS schema exists?

Can you also share what content you have in the  MOVIELENS.hdbschema file?

Thanks

[2019-06-13 12:13] adadouche commented on #3608
Hi @zerghector ,

The HTTP code 308 is related to a Permanent Redirect message.

Can you check is you properly configured Postman as described in step from here: https://developers.sap.com/tutorials/api-tools-postman-install.html

![image](https://user-images.githubusercontent.com/1446764/59431528-69965d80-8de5-11e9-9bd5-e59d57b44194.png)

Thanks

@bdel

[2019-06-13 12:15] adadouche commented on #3572
Hi @marcobuescher,

I haven't heard from you so far, so I'll close this issue for now but feel free to reopen it if needed.

Thanks

@bdel

[2019-06-13 12:15] #3572 closed

[2019-06-13 12:34] renejeglinsky commented on #3620
@gregorwolf The issue is fixed. Please try again.
I had to go into my space and delete the app _hdispacedeploy<GUID_NUMBER>_ and then it worked.

[2019-06-13 12:35] renejeglinsky commented on #3618
@gutknechts The issue is fixed. Please try again.
I had to go into my space and delete the app _hdispacedeploy<GUID_NUMBER>_ and then it worked.

[2019-06-13 12:39] marcobuescher commented on #3572
Hello, thats ok.. In the Moment it is too hot in my office and I can´t start my Hana on Premise VM. I have only 16GB RAM and its not enough for that because the processor is just too hot and I became a time out. Jealous I look at your Laptop with 64GB .... I would be glad if I can come back to the Ticket soon ...

[2019-06-13 12:43] RobertVit opened #3624 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Step 2.4: there is no Category "Business Process Management"
![image](https://user-images.githubusercontent.com/3217350/59433329-9482b080-8de9-11e9-8629-6bf6b54e8270.png)

[2019-06-13 13:27] BaerbelW opened #3625 "Create a Simple ABAP CDS View in ADT - Screenshot in Step 5"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-create-cds-view.html

Please specify the step you are referring to

The screenshot in step 5 shows the fields currency_code and gross_amount without the qualifier sepm_sddl_so_invoice_item they were shown in step 2.

For consistency's sake it might be best to show them the same way throughout the exercise.

Thanks & Cheers
Bärbel

[2019-06-14 11:07] IObert commented on #3168
I'll close this one due to inactivity. Please reopen it if necessary.

[2019-06-14 11:07] #3168 closed

[2019-06-14 11:07] IObert commented on #3470
I'll close this one due to inactivity. Please reopen it if necessary.

[2019-06-14 11:07] #3470 closed

[2019-06-14 11:09] IObert commented on #3481
Since a couple of weeks, you can also install this plugin from the community repository directly:
[code]

Please reopen this issue if this doesn't work for you.

[2019-06-14 11:09] #3481 closed

[2019-06-14 11:12] IObert commented on #3517
I'll close this for now. Please reopen it if starting from the scratch didn't work.