[2019-06-14 11:12] #3517 closed

[2019-06-14 11:54] maxstreifeneder commented on #3539
Hey @Haruyuki-Kobayashi,

thanks for your observation and for the according issue! Of course grep doesn't work on Windows and hadn't considered that. Should be fixed now. Could you please retest?

Cheers,
Max

[2019-06-14 13:03] #3618 closed

[2019-06-14 13:54] marcobuescher commented on #3481
Thanks a lot! This works for me...

Regards

Marco

[2019-06-14 18:05] gregorwolf opened #3629 "Set Up Your Local Infrastructure to Develop with SAP Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-setup.html

Step 1: Prepare the Infrastructure

Perhaps SAP could promote it's own OpenJDK distribution [SapMachine](http://sapmachine.org)

[2019-06-14 18:20] bstk0 opened #3630 "Build a Shopping Fresh Fiori App in SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html

Please specify the step you are referring to
Item 7 - I got the message "The application cannot be subscribed to product eCommerceProduct using service 'salesTrackerAPI'. Please contact your System Administrator."

What should I do? Thanks

[2019-06-15 12:48] marcobuescher opened #3631 "Build a Shopping Fresh Fiori App in SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html

Please specify the step you are referring to Step 3,

hello, if I try to set up the data Connection, i get the errror "The application cannot be subscribed to product eCommerceProduct using Service 'salestrackerapi'. Please contakt your System adminstrator.

Have you any Idea?

[2019-06-15 15:00] marcobuescher opened #3632 "Use the ESPM to Manage Orders and Stock Information"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-manage-orders.html

Please specify the step you are referring to Step 1,

hello I cant check out the Notebook, I became the Information "Check your Input and try again".

Regards

[2019-06-16 05:02] RubenRollano opened #3633 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Hello,

It seems imposible to complete this tutorial. In the las step I provide my onInit module that is working properly in my WebIDE and Submit my answer but the system says Sorry, that’s incorrect. Please try again.

Please find bellow my code

onInit: function () {
			this.oRouter = sap.ui.core.UIComponent.getRouterFor(

[2019-06-16 10:43] jitendrakansal opened #3634 "Create a Cloud Foundry Account"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-create-account.html

hyperlink in step#3 navigates to an empty page
(check to be certain it has the services you want before selecting it.) https://help.sap.com/doc/aa1ccd10da6c4337aa737df2ead1855b/Cloud/en-US/3b642f68227b4b1398d2ce1a5351389a.html?3b642f68227b4b1398d2ce1a5351389a.html

[2019-06-17 05:59] shilpavij commented on #3630
Dear,
Looks like a problem with your dev portal destination. For me, it works.

I have updated the destination part. Can you adopt it in your flow and check again.
If still, it does not work please select the destination type as basic and give your credentials and check.

Regards
Shilpa

[2019-06-17 05:59] shilpavij commented on #3631
Dear,
Looks like a problem with your dev portal destination. For me, it works.

I have updated the destination part. Can you adopt it in your flow and check again.
If still, it does not work please select the destination type as basic and give your credentials and check.

Regards
Shilpa

[2019-06-17 08:37] IObert commented on #3634
Hi @jitendrakansal,

the link seems to work for me. It might have been a temporary issue.
Please reopen if the link is still dead for you.

[2019-06-17 08:37] #3634 closed

[2019-06-17 11:03] valentini50 opened #3636 "Discover and Manage Third-Party HERE Maps API from SAP API Business Hub"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-discover-location-apis.html

Please specify the step you are referring to

[2019-06-17 11:06] valentini50 commented on #3636
Good Morning.
Tutorial:
Build an SAP Fiori App with SAP API Management
Issue 1:
Step: Discover and Manage Third-Party HERE Maps API from SAP API Business Hub
Same time completed all steps counts only as 25% complete

Issue 2:
Step: Discover and Manage Third-Party HERE Maps API from SAP API Business Hub
Even though it was completed it does not appear in the final score

With these problems I comple

[2019-06-17 12:37] thecodester commented on #3636
There is one step int hat tutorial. Do you see it as completed -- checkmark in the step or tutorial icon? Maybe post an image. Where do you see 25% or 75%?

[2019-06-17 12:40] thecodester commented on #3636
If you are speaking of this tutorial -- https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html -- then the DONE button for one of the steps was missing so you could only complete 3 of 4 steps (75%). But now we added the extra DONE button and you can complete. I assume this is the issue you mean.

[2019-06-17 12:56] valentini50 commented on #3636
Good Morning.
I will try to explain more in detail.
1) Step: Discover and Manage Third-Party HERE Maps API from SAP API Business Hub.
Mest having completed, does not count in the overall score.
![step 1](https://user-images.githubusercontent.com/38915450/59605662-a6b06780-90e5-11e9-8fb4-9745e56ccd0f.png)

1) Step: Build a Shopping Fresh Fiori App in SAPUI5
It only has 25% complete, but I completed

[2019-06-17 14:51] marcobuescher commented on #3631
Hello,

if I check the connection I became the Information:

apimgmt_proxy
 Connection to "apimgmt_proxy" established. Response returned: "404: Not Found"
The same with basic aut.

And with apimgmtdevportal:
Connection to "apimgmtdevportal" established. Response returned: "200: OK"

[2019-06-17 15:27] soschlegel opened #3637 "Publish and Receive MQTT Messages"
Tutorial URL: https://developers.sap.com/tutorials/abap-connectivity-mqtt.html

I miss the input field at Step 7 "Test your Program" of the Tutorial... :-(

[2019-06-18 02:49] shilpavij commented on #3631
This is completely fine, for me also the same, please go ahead and complete the next steps.

Regards
Shilpa

[2019-06-18 06:33] thiengom opened #3638 "Testing API Business Hub APIs with Curl"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-test-locally.html

Please specify the step you are referring to.

We are at step 3 run sample with CURL however the address https://sandbox.api.sap.com seems unreachable.

[2019-06-18 07:51] thecodester commented on #3637
@MoellJ I don't see this tutorial in QA and therefore the validation step could not be created. Can you check this out?

[2019-06-18 08:17] YuliyaLiabetskaya opened #3639 "Build a Mobile App with SAP API Management"
Mission URL: https://developers.sap.com/mission.apim-mobile-app.html

Test from predprod

[2019-06-18 08:37] #3639 closed

[2019-06-18 17:40] bstk0 commented on #3630
Hi

Hi Shilpa. thank you for your support!

I've changed the authentication of "apimgmtdevportal" destination to "BasicAuthentication" and now when I try to define a Destination for Fiori App I got the message:
"_API is subscribed to product eCommerceProduct. Unable to get medatada of selected server or API. Please contact your System Administrator._"

Any idea?

Best Regards

[2019-06-18 18:22] marcobuescher commented on #3631
Yes, and now, if I want to make the Data Connection now, there is the error.. The application cannot be subscribed to product eCommerceProduct using Service 'salestrackerapi'. Please contakt your System adminstrator.

[2019-06-18 18:25] marcobuescher commented on #3631
By the Way, the "Done"button did not Work at tutorial 3... But the tutorial at all is really cool! thanks for that!

[2019-06-19 00:41] bstk0 commented on #3630
Hi Shilpa,
The error may be some Internet connection problem because the ES5 connection was too slow.
I left the connection authentication as basic.

Thank you very much!

[2019-06-19 00:41] #3630 closed

[2019-06-19 05:10] thecodester commented on #3631
Thanks for compliments.

What do you mean it did not work. I just now pressed all 4 steps and they all completed.

[2019-06-19 07:32] marcobuescher commented on #3631
ok, my mistake, i wrote tutorial 3. I meant part three of the mission: Discover and Manage Third-Party HERE Maps API from SAP API Business Hub https://developers.sap.com/tutorials/cp-apim-shoppingfresh-discover-location-apis.html  Maybe I should have mentioned it in a new ticket.

[2019-06-19 08:42] thecodester commented on #3631
In that tutorial there is no DONE button, only a question with a Submit Answer button, and it works for me.

![image](https://user-images.githubusercontent.com/11659786/59750307-4822ef00-9287-11e9-9f8c-56a6c051dd0a.png)

[2019-06-19 08:49] marcobuescher commented on #3631
Hello,

yes I see that today the input of the buttons is saved. That was different yesterday or the day before yesterday. Please do not misunderstand, I do not want to nag. I really like the tutorials ... The confirmation that the tutorial is done is currently not passed through to me with the overview?
![Unbenannt](https://user-images.githubusercontent.com/10000063/59750949-edd26000-927f-11e9-960

[2019-06-19 09:17] thecodester commented on #2775
@maxstreifeneder  Any update?

[2019-06-19 09:17] thecodester commented on #2801
@jarjarbentley Can this issue be closed?

[2019-06-19 09:18] thecodester commented on #2877
@maxstreifeneder Any updates?

[2019-06-19 09:19] thecodester commented on #3009
@Lsubatin Any update here?

[2019-06-19 09:21] thecodester commented on #3160
@IObert I am closing the issue, since @mts2605 can proceed, but has the tutorial been updated?

[2019-06-19 09:23] thecodester commented on #3162
@maxstreifeneder I am closing this issue, since it is very minor, but let me know what is planned for this group.

[2019-06-19 09:23] #3162 closed

[2019-06-19 09:24] thecodester commented on #3164
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:24] #3164 closed

[2019-06-19 09:24] thecodester commented on #3171
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:24] #3171 closed

[2019-06-19 09:25] thecodester commented on #3181
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:25] #3181 closed

[2019-06-19 09:25] thecodester commented on #3187
@maxstreifeneder ?

[2019-06-19 09:27] thecodester commented on #3205
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:27] #3205 closed

[2019-06-19 09:29] thecodester commented on #3261
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:29] #3261 closed

[2019-06-19 09:30] thecodester commented on #3345
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:30] #3345 closed

[2019-06-19 09:31] thecodester commented on #3379
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:31] #3379 closed

[2019-06-19 09:32] thecodester commented on #3381
@lnryan Is there something else you need here?

[2019-06-19 09:33] thecodester commented on #3386
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:33] #3386 closed

[2019-06-19 09:33] thecodester commented on #3390
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:33] #3390 closed

[2019-06-19 09:34] thecodester commented on #3392
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:34] #3392 closed

[2019-06-19 09:34] thecodester commented on #3393
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:34] #3393 closed

[2019-06-19 09:34] thecodester commented on #3405
@jmalla I assume this is resolved by now, but can you verify, and if so, close the issue?

[2019-06-19 09:35] thecodester commented on #3421
This is a more general question and not about the tutorial itself. Feel free to continue the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-06-19 09:35] #3421 closed

[2019-06-19 09:36] thecodester commented on #3438
@heytombeck Can this be closed? Has the tutorial/system been updated?

[2019-06-19 09:37] thecodester commented on #3441
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:37] #3441 closed

[2019-06-19 09:37] thecodester commented on #3447
@shilpavij Have you corrected?

[2019-06-19 09:39] thecodester commented on #3456
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:39] #3456 closed

[2019-06-19 09:39] thecodester commented on #3457
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:39] #3457 closed

[2019-06-19 09:39] thecodester commented on #3461
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:39] #3461 closed

[2019-06-19 09:40] thecodester commented on #3487
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:40] #3487 closed

[2019-06-19 09:40] thecodester commented on #3493
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:40] #3493 closed

[2019-06-19 09:43] valentini50 opened #3640 "Build an SAP Fiori App with SAP API Management"
Mission URL: https://developers.sap.com/mission.apim-fiori-app.html
Good Morning.
Any news about my problem as to the completion percentage of the tutorial?

[2019-06-19 09:43] thecodester commented on #3500
Thank you for your feedback. I am closing the issue, but if you still have questions, feel free to reopen.

[2019-06-19 09:43] #3500 closed

[2019-06-19 09:43] thecodester commented on #3519
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:43] #3519 closed

[2019-06-19 09:44] thecodester commented on #3521
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:44] #3521 closed

[2019-06-19 09:46] thecodester commented on #3526
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:46] #3526 closed

[2019-06-19 09:47] thecodester commented on #3537
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:47] #3537 closed

[2019-06-19 09:48] thecodester commented on #3550
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:48] #3550 closed

[2019-06-19 09:48] thecodester commented on #3561
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:48] #3561 closed

[2019-06-19 09:49] thecodester commented on #3567
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:49] #3567 closed

[2019-06-19 09:49] thecodester commented on #3569
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:49] #3569 closed

[2019-06-19 09:49] thecodester commented on #3571
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:49] #3571 closed

[2019-06-19 09:50] thecodester commented on #3582
Thanks for the comment. For general questions like this -- not bugs in the tutorials -- feel free to use:

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-06-19 09:50] #3582 closed

[2019-06-19 09:52] thecodester commented on #3593
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:52] #3593 closed

[2019-06-19 09:53] thecodester commented on #3600
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:53] #3600 closed

[2019-06-19 09:54] thecodester commented on #3620
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-19 09:54] #3620 closed

[2019-06-19 09:58] thecodester commented on #3640
Duplicate issue (I am checking)

https://github.com/SAPDocuments/Tutorials/issues/3636

[2019-06-19 09:58] #3640 closed

[2019-06-19 10:25] shilpavij commented on #3447
Yes, it is corrected and pushed too

[2019-06-19 10:32] #3447 closed

[2019-06-19 11:08] IObert commented on #3160
We haven't prioritized this issue yet. Not sure when we're going to aim for the update as it is a larger task

[2019-06-19 11:13] #3160 closed

[2019-06-19 12:00] atif92 commented on #3065
I am having the same issue with using -v , even though my json is remotely located. If this continues how can we actually mount the data to SAPHANA DB? how would we be able have permanent data?

[2019-06-19 12:21] #3539 closed

[2019-06-19 12:45] thecodester commented on #3221
@JCurrie27 Not sure Chris is going to answer this :-) Can you handle or reassign?

[2019-06-19 12:45] fx5151git commented on #3515
Thank you for your suggestion.  It will be definitely better to add the naming instruction here. I will add it soon.

[2019-06-19 12:46] bstk0 opened #3641 "Build an SAP Fiori App with SAP API Management"
Mission URL: https://developers.sap.com/mission.apim-fiori-app.html

I've concluded all the mission but complete percent still in 88%.
I've clean the browser cache, restarted the S.O. and still 88%.
Could you verify, please?

[2019-06-19 12:49] jitendrakansal commented on #3531
@gregorwolf handlebar tutorial has been updated with some UI level changes, please try again, you should see top 3 (as per default query).

[2019-06-19 12:57] shilpavij commented on #3525
You can go to app store and download mobile card apps too.

Regards
Shilpa

[2019-06-19 13:03] LindsayBert commented on #3524
Hi

Please open a ticket for the development team using this component: EP-CPP-NEO-FCC.
Write in the description that the issue is with the Theme Manager.

With thanks
Lindsay Bert

[2019-06-19 13:05] LindsayBert commented on #3497
Hi

What is the issue?

Thanks
Lindsay Bert

[2019-06-19 13:06] JensHaley commented on #3590
Sorry, I missed your reply - I was told that role SAP_EPM_REF_APPS_BASIC_AUTH should be available for all ABAP systems as of Release 750.

I'll check with the colleagues for the Fiori Reference apps if that role can be imported into the system from somewhere.

[2019-06-19 13:11] renejeglinsky commented on #3623
Thanks @iwonahahn I'll take care of that.

[2019-06-19 13:23] Paolaufer commented on #3611
Hi,
You are right, we have removed the Learning Center. You can still access the videos that were there previously in our YouTube page.
https://www.youtube.com/channel/UCgScBj_AEGo_mI5accM4XhA

Thank you for pointing this out to us. We will make sure to update the tutorial.

[2019-06-19 13:28] Paolaufer commented on #3601
Hi,
I am sorry but I do not understand the question. Could you please rephrase?

[2019-06-19 13:48] jarjarbentley commented on #2801
Yes, we need to deprecate and close this issue.

[2019-06-19 13:48] #2801 closed

[2019-06-19 14:30] lnryan commented on #3381
@thecodester - need? no. but it's disappointing that SAP technical documentation doesn't even consider or mention linux users, considering how popular it is among professional developers.

[2019-06-19 15:43] entmike commented on #3497
The issue is that the question has nothing to do with the tutorial contents and appears to be a copy and paste issue from the UI Theme Designer tutorial that contains the same question.

[2019-06-20 02:45] JijoRoyJacob commented on #3474
Hi Daniel. Sorry for the late response. I'd forwarded the issue to the dev team to look into but they haven't been able to replicate it so far. Are you still facing this issue?

[2019-06-20 14:00] JCurrie27 commented on #3221
Link to compatibility matrix SAP Note was added to https://developers.sap.com/tutorials/hxe-connect-hxe-using-jdbc.html.
Closing this issue.

[2019-06-20 14:00] #3221 closed

[2019-06-20 18:31] thomasalexneuhaus commented on #3390
Thanks ist it works

[2019-06-20 18:33] thomasalexneuhaus commented on #3392
Thanks ist it works

[2019-06-20 18:34] thomasalexneuhaus commented on #3393
Thanks ist is works

[2019-06-21 09:02] Nareshvarmaku commented on #2228
Please help me with creating a docker image for sap hana with imported data into it.

[2019-06-21 10:50] QVA327 opened #3644 "SAP HANA XS Advanced, explore the basic tools"
Tutorial URL: https://developers.sap.com/tutorials/xsa-explore-basics.html

Please specify the step you are referring to:
Step 3, Explore the WebIde. I can call the webide and log in, but get a lot of error messages:
![image](https://user-images.githubusercontent.com/52071232/59917627-b819ac80-9422-11e9-9769-08c4efc0267a.png)
as a consequence (I think) the database explorer is not visible in my we

[2019-06-21 12:45] JCurrie27 commented on #2228
Hello Nareshvarmaku: I recommend you take advantage of our SAP HANA express edition Community Support. Reach out to the [Community ](https://developers.sap.com/topics/sap-hana-express.html#community)with details on the problems you're experiencing, and other users and internal experts will offer suggestions based on their Docker image experiences. To ask a question, go [here ](https://answers.sap.

[2019-06-21 14:16] Lsubatin commented on #3644
Hi,

Please create a question in the community to ask for technical help (answers.sap.com), there are more people monitoring there. This channel is meant for tutorial feedback.

I would recommend a quick Google search first, as you should find possible fixes for this: using Chrome as a browser or adding the certificate for HXE to the trusted root or using the [troubleshooting guide](https://help.s

[2019-06-21 14:16] #3644 closed

[2019-06-21 14:31] Lsubatin commented on #3596
Thanks for the note. The dependencies for this track will be reorganized to include this.

[2019-06-21 14:32] Lsubatin commented on #3009
My guess is that the comment Marc-Philip refers to is just wrong (cannot tell without asking the author unfortunately), it does not affect the actual code. These tutorials are getting replaced.

[2019-06-21 16:23] aptk001 commented on #2889
We've updated the tutorial to include sudo in the install command

[2019-06-21 17:27] #2889 closed

[2019-06-22 16:50] andreschgz95 opened #3646 "Create a Simple IoT Device Model"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-2-create-device-model.html

Step 1.4. We are trying to access to: Open the **Service Instances** list and click on the **Open Dashboard** icon in the **Actions** column

We are not able to identity "Open Dashboard" in "Service Instances" menu option.

We would like to know if we are missing some license registration because we have und

[2019-06-23 02:32] zzdjb commented on #3601
Thanks,I've solved it,importing Atlas_UI_Resources.

[2019-06-23 02:32] #3601 closed

[2019-06-24 04:35] thecodester commented on #3524
Thanks for the feedback. I am closing the issue since for now there is nothing else to do with the tutorial.

[2019-06-24 04:35] #3524 closed

[2019-06-24 04:36] thecodester commented on #3641
Can you let me know which tutorial is not complete? Screenshot would help of the mission page, and then the tutorial that does not complete.

[2019-06-24 04:56] thecodester commented on #3497
Question is fixed. Let me know if it works for you.

[2019-06-24 04:56] #3497 closed

[2019-06-24 05:14] thecodester commented on #3381
@sacnl @karstenmelato Any additional thoughts on this?

[2019-06-24 05:53] simonarangelova commented on #3587
Hello,
Can you try creating a database with a name other than the application name (espm) e.g. espmDatabase.

Regards,
Simona

[2019-06-24 05:55] simonarangelova commented on #3632
Hello,

Can you perform a fresh deployment, as it is working from our side.

Thanks.
Regards,
Simona

[2019-06-24 06:40] LindsayBert commented on #3497
Yes I just checked and the tutorial is updated.

Thanks
Lindsay

From: Daniel Wroblewski <notifications@github.com>
Sent: Monday, June 24, 2019 7:56 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Bert, Lindsay <lindsay.bert@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Add a Web Dynpro ABAP App to Your Launchpad Page (#3497)

Question is fixed

[2019-06-24 06:54] julieplummer20 commented on #3625
Ok thanks Baerbel. I'll fix this.
Best wishes,
Julie.

[2019-06-24 07:48] AstridHerbst commented on #3624
Hi Robert,

Have you enabled the services and extensions as described in the first tutorial "Prepare to Create Workflows in SAP Cloud Platform"?

Best regards,
Astrid

[2019-06-24 07:53] heytombeck commented on #3438
@thecodester Sorry for the delay, I was out of the office. This can be closed, thanks.

[2019-06-24 07:59] #3438 closed

[2019-06-24 09:23] RobertVit commented on #3624
Hi Astrid,
yes i did.
For me also the Workflow Service comes within Orchestration, not Integration
![image](https://user-images.githubusercontent.com/3217350/60003010-184e5f80-966a-11e9-97bd-cc163f36890c.png)

Best regards
Robert

[2019-06-24 10:34] AstridHerbst commented on #3624
Hi Robert,

I see that the Workflow service itself is enabled. There is an option to enable the workflow extension inside the Web IDE. Have you set that one, too?

![step5-enablewf](https://user-images.githubusercontent.com/18418519/60012500-6a987c00-967c-11e9-98c8-a1c68b844902.PNG)

Regards,
Astrid

[2019-06-24 12:34] DanielRentschler commented on #3474
Hi Jijo, sorry I forgot to update this issue. I was contacted by colleagues who work on the JPA/JTA library. It seems like a bug in a library that they use and they are working on a fix.

[2019-06-24 12:34] #3474 closed

[2019-06-24 15:16] valentini50 commented on #3640
Good Morning.
About Isseu open any position?
The problem still continues and even finished the tutorial, it does not upgrade to 100%

De: Daniel Wroblewski [mailto:notifications@github.com]
Enviada em: quarta-feira, 19 de junho de 2019 06:59
Para: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Carlos Alberto Valentini <Carlos.Valentini@t-systems.com.br>; Author <author@noreply.github.co

[2019-06-24 21:56] jmalla opened #3650 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html

Please specify the step you are referring to:

In section Step 5: Check or modify the MTA.yaml file - The text and the images are inconsistent.  In the text, the instructions are to use ~{products-service-name} but in the image, it shows ~{the-service-name}

So the "These are the relevant pieces of

[2019-06-25 01:00] Tukutupap opened #3651 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Step 9: Validate your initialization function

I cannot get the validation to work, I have tried a few approaches but seems the code has changed quite a bit, from what I can see in the tutorial screenshots versus what I get.

This is my onInit function:
`onInit: function () {
			this.oRouter = sap.ui.core.UIComponent.getRou

[2019-06-25 01:29] jmalla commented on #3596
HI Lucia,
I ran into the same problem.  Also the tutorial from Craig refers to your tutorial but then it's not the same - I think it's referencing a different version than the latest one you have.

[2019-06-25 01:34] jmalla commented on #3405
Yes - this was fixed a few days after April 22nd.

[2019-06-25 01:34] #3405 closed

[2019-06-25 01:36] spremalatha opened #3652 "Add a User Task to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-add-usertask.html

I have added the user task for the workflow(Step 4) and  Started a new workflow instance(Step 5)  as well. Then, when i tried to open the workflow task in My inbox, I am not listed with the new task as per the next step (step 6). But I could see the workflow instances for my workflow definition.
Screenshot 1 - Task M

[2019-06-25 02:28] jmalla opened #3653 "SAP HANA XS Advanced - Modules within Node.js SAP HANA applications"
Tutorial URL: https://developers.sap.com/tutorials/xsa-node-modules.html

Please specify the step you are referring to

Step 6: Extend dependencies in package.json

Need to add the packages for:
	"@sap/xssec": "2.1.15",
	"@sap/hdbext": "~5.0",
	"@sap/logging": "~4.0",

Also - this code did not work for us and we had to comment it:
//app.use(logging.expressMiddleware(appContext));

Regards,
Jay

[2019-06-25 06:19] thecodester commented on #3652
You set your user name as the Recipient of the user task?

[2019-06-25 07:00] spremalatha commented on #3652
Thanks for the reply. Have added the recipients name as my name. Attached the screenshot for reference.
![image](https://user-images.githubusercontent.com/46582138/60076311-972ac180-976a-11e9-94e2-74817809c65d.png)

[2019-06-25 07:19] RobertVit commented on #3624
Hi Astrid,
thanks, that's it - complicated but works....

[2019-06-25 08:09] thecodester commented on #3624
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-06-25 08:09] #3624 closed

[2019-06-25 08:29] thecodester commented on #3652
I'm not an expert, but I would imagine that the user must be your technical user -- if you go to the upper right of the cloud platform and click user information, it will show you your ID.

[2019-06-25 08:43] AstridHerbst commented on #3652
Hi,

You need to log on to the SAP Cloud Platform cockpit.

Step 6: Under Recipients, define who will receive the task. Enter your user ID exactly as displayed in the User Information popup of your subaccount in the SAP Cloud Platform cockpit.

Best regards,
Astrid

[2019-06-25 09:11] dburkhart opened #3654 "Create a Sample Application on Cloud Foundry Using SAP Cloud SDK"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-cloud-foundry-sample-application.html

Please specify the step you are referring to **Step 2: Generate project from archetype**

------

Issues with the generated pom, as the specified version is not available at nexus.

mvn clean install Failed.

`Downloading: http://nexus:8081/nexus/content/groups/build.snapshots/com/sap/cloud/sdk/s4hana/s

[2019-06-25 09:22] RobertVit opened #3655 "Create a Workflow Definition Using an External Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-01-create-definition.html

Step 7: Do i have to create the Destination "Northwind" in the Cloud Platform Cockpit?

[2019-06-25 09:26] thecodester commented on #3655
I believe so ... towards the end of Step 7 of your tutorial, there is an explanation of the fields you need to enter, with a link to the tutorial https://developers.sap.com/tutorials/hcp-create-destination.html for creating a Northwind destination.

[2019-06-25 09:31] ShiraManas commented on #3565
Hi,
I updated the tutorial and it no longer includes the "Install Builder" information and button in the screenshots. Thanks for pointing it out.

[2019-06-25 09:32] #3565 closed

[2019-06-25 09:39] thecodester commented on #3611
Tutorial has been updated.

[2019-06-25 09:39] #3611 closed

[2019-06-25 09:45] qmacro commented on #3655
Yes, please see the "Prerequisites" in the tutorial, which links to the tutorial ("Create a Destination for the Northwind OData Services") that @thecodester referred to above. Thanks.

[2019-06-25 09:45] #3655 closed

[2019-06-25 09:53] dburkhart commented on #3654
Is there an missing update on the groupid pending?

com.sap.cloud.sdk.s4hana is generated dependency...
I have not looked into the official maven repo outside of sap nexus and found that the group id com.sap.cloud.s4hana is available.

in addition using this group id I found version number beyond 0.0.x :-)
Which looks a bit more official than 0.0.x ;-)

But this is only a thought :-)

[2019-06-25 09:58] qmacro commented on #3591
You can add a browser extension if you want it nicely formatted. I've added a note to the tutorial text accordingly.

[2019-06-25 09:58] #3591 closed

[2019-06-25 10:34] qmacro commented on #3592
Hi @thecodester

1. The problems are not relevant (they are related to the manifest.json file) and can be ignored. Drawing attention to them in the tutorial was deliberately omitted for simplicity purposes (also because the errors don't always appear).

2. I have fixed the name of the field - it now says "Component URL".

3. The screenshot is just to show an example, and indeed the learner is expl

[2019-06-25 10:34] #3592 closed

[2019-06-25 11:38] mr-flannery commented on #3580
Hi @gregorwolf,

thanks for bringing the issue up and sorry for the delay.
Do you remember which version of the SDK you have used to produce this issue? The "technical part" of this issue is solved already, I think.
We will probably add the API Hub Sandbox as option in the blog post, thanks for the suggestion!

[2019-06-25 11:46] mr-flannery commented on #3530
Hi @austinkloske22,

thanks for reaching out to us and sorry for the delay.
We don't have much experience with the SDK for JavaScript in MTA/WebIDE projects.
However, the error you mention is thrown in `initialize.js`, which is only called when running `npm run init`, which is the exact script the error tells you to run. So I'm wondering how this can happen if the command can't be run like this in

[2019-06-25 15:13] JCurrie27 commented on #3606
Apologies for the delay, Our team has recommended the following steps:

Add the client bin path to the system execute PATH after step “Step 3: Install the XS CLI client.”

For example, untar the xs client package in /untar_dir on linux and c:\untar_dir on windows,
•	for linux ppcle and mac : run “export PATH=$PATH:/untar_dir/bin”
•	for windows add c:\untar_dir\bin to Path in System variables.  (af

[2019-06-25 15:13] #3606 closed

[2019-06-25 15:44] renejeglinsky commented on #3623
@iwonahahn The issue is fixed. Thanks :)

[2019-06-25 15:46] #3623 closed

[2019-06-25 15:57] sacnl commented on #3381
We will adapt the tutorial with a reference to the instructions for Linux.

[2019-06-25 16:12] dburkhart commented on #3654
Is there any tutorial that covers Version 2.18.1?
It look like the Tutorial (https://blogs.sap.com/2017/05/19/step-3-with-sap-s4hana-cloud-sdk-helloworld-on-scp-cloudfoundry/) is orphan?

[2019-06-25 17:01] gregorwolf commented on #3580
Here is the dependencies section from my package.json:

[code]

[2019-06-25 18:56] marcobuescher commented on #3632
I stet up a new Database and a new Binding etc... I cant check out... Wich Credit Card had I to Use?

[2019-06-25 19:36] octavonu opened #3658 "Create a Business Service with Node.js using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Can you please write the same tutorial with HANA Server Only instead of SQLite?

I was not able to understand the SAP documentation.

Thank you

[2019-06-26 05:53] simonarangelova commented on #3632
Hello,

There is no need for any card at all. This is a reference application that shows the capabilities of SAP Cloud Platform.
The tutorial you are referring to only aims to demonstrate how you can create a sales order, how to approve it, and how to update stock information.

Regards,
Simona

[2019-06-26 09:15] valentini50 commented on #3636
Good Morning.
The problem still persists even though
does not complete the 100%.
Any position on the solution?

[2019-06-26 14:11] mr-flannery commented on #3580
Can you try upgrading to `1.4.2`? This should get rid of the error.

[2019-06-26 16:30] Theo-van-Dijk opened #3659 "Manage APIs with Policies"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-apis-manage.html

Step 3: Set limit
Point 5. Click Save on the next screen.
The changes are not saved and an error is displayed: "Unable to update API"

[2019-06-26 17:20] Chathia commented on #2841
@entmike Could you please share the answer? I'm also in the similar project scenario., where we need to manually change the "service-name" each time post testing..

[2019-06-26 17:28] entmike commented on #2841
Hi, @Chathia - Check here: https://answers.sap.com/questions/699133/how-to-change-service-name-at-deploy-time-for-cros.html

[2019-06-26 18:26] Chathia commented on #2841
@entmike Thank you!!

[2019-06-26 19:53] gregorwolf commented on #3580
Thanks, the upgrade fixed it.

[2019-06-26 19:53] #3580 closed

[2019-06-27 07:15] renejeglinsky commented on #3658
Hi @octavonu ,
I'll look into this. Please be patient a couple of days, I'll get back to you.

Thanks :)

[2019-06-27 07:38] thecodester commented on #3636
@lpareek Can you help here?

[2019-06-27 07:40] shilpavij commented on #3659
Dear Colleague,

There are a couple of reasons for API not getting updated.
1. wrong basepath.
2. spaces.
3. session expired

Can you please attach a screenshot.

Regards
Shilpa

[2019-06-27 09:55] valentini50 commented on #3636
Good Morning.
What I need to know is when will the tutorial problem be solved ?:
Already complete all steps is still not change to 100% complete.
Below print of the evidence, Any doubts about the problem? It was clear?
I'm waiting, thanks.
![erro percentual](https://user-images.githubusercontent.com/38915450/60256642-5042e600-98a8-11e9-9aeb-f9201e5123ab.png)

[2019-06-28 01:34] I812441 opened #3662 "Create a Basic Node.js App"
Tutorial URL: https://developers.sap.com/tutorials/cp-node-create-basic-app.html

Please specify the step you are referring to
Step 3 the console.log at line 10 is incorrect.  It causes SyntaxError: Unexpected end of input.
I believe you want:
console.log('myapp listening on port',  port);

-Greg

[2019-06-28 10:11] VivekRajKM commented on #3187
Hi Team,
Found the issue on the validator, thread reference #3449

Thanks to @IObert :)

Cheers,
Vivek.

[2019-06-28 10:12] VivekRajKM commented on #3633
Hi @RubenRollano ,
Thread reference #3449, @IObert has the solution.

Kind regards,
Vivek.

[2019-06-28 10:14] VivekRajKM commented on #3651
Hi @Tukutupap ,
Looks like there is a validator issue on the tutorial thread, reference #3449.

Kind regards,
Vivek.

[2019-06-28 12:06] luckyabhishek opened #3663 "Set Up SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Please specify the step you are referring to

Step 3: Build the Docker image

The step asks to build the Dockerfile. But where does one download it from ?

Abhishek

[2019-06-28 12:07] luckyabhishek commented on #3663
Never mind, I found it in the fine print on https://www.sap.com/developer/trials-downloads/additional-downloads/sap-data-hub-developer-edition-15004.html
 .

[2019-06-28 12:07] #3663 closed

[2019-06-28 13:19] mojitodaiquiri opened #3664 "Build Your First Full-Stack App on SAP Cloud Platform"
Mission URL: https://developers.sap.com/mission.scp-5-full-stack.html

It's possible to have an example working with odata v4?

Is the some complete reference about cds annotation ( i cannot find any documentation about come @insertonly, @cds.autoexpose, @cds.persistance.skip  ) ?

[2019-06-29 10:44] Tukutupap commented on #3651
Awesome, thank you Vivek!!
And apologies, I should have found that one before opening this.

[2019-06-29 10:44] #3651 closed

[2019-06-29 18:15] thecodester commented on #3636
Can you clear cache and go to the page again? I think that in our backend you are credited with finishing the tutorial, but there is a bug on client side (which we are fixing)?

[2019-07-01 04:33] ferrydjaja opened #3665 "Unable to deploy to XSA DEV space"
Hi,
I need some help on this. I am creating the mta app that interact with other hdi-container. I created my app hdbsynonym for the other hdi-container and as well as local.hdbsynonym. I am able to run and execute the DB, NodeJS and Web module without issue.

The problem is when deploying to XSA DEV space. I got the error message: "(DeploymentToXSA) Deployment of the "zearn_srvui" project to XSA f

[2019-07-01 08:02] MoellJ commented on #3637
@thecodester It seems like you deleted it in commit 1578c5fba03f746293b2735af390019aed639ce1 I'll see if I can fix it

[2019-07-01 09:00] dennis-grothe opened #3666 "Create Your First ABAP Console Application - other cloud environment?"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-console-application.html

Hello,

is it possibly to use the SAP Cloud Platform Neo environment for creating a cloud project with the ADT since there is only a 30 days trial for CF. Are there any other options for interns?

Best regards,
Dennis

[2019-07-01 11:18] KarelVerbanck opened #3667 "Continuous Integration (CI) Best Practices with SAP – Introduction and Navigator"
Tutorial URL: https://developers.sap.com/tutorials/ci-best-practices-intro.html

Part 4.5 – Implementing the CI pipeline to build an SAPUI5/SAP Fiori application on SAP Cloud Platform.

It is not really an issue but just something that I want to understand.
We would love to start using CI/CD @our project but there is something that I'm missing and I'm not sure what the best practice are when you a

[2019-07-01 11:34] mhealey2018 opened #3668 "CI Best Practices Guide – SAPUI5/SAP Fiori on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/ci-best-practices-fiori-sapcp.html

Please specify the step you are referring to.

The CI Best Practise guides are a great introduction to using Jenkins to support

With SAP's recent release of "UI5 Build"  as the primary build tool for UI5 applications over grunt, it'd be great to update this tutorial to reflect this.

What impact does UI5 Build

[2019-07-01 11:51] pichel3000 opened #3669 "Create Your First Application with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-odata-service-cloud-foundry.html

Please specify the step you are referring to

The sentence "Then, add this route to the routes of your application in application.ts:" should say something like "Please replace the previous route to the HelloWorld example with this:". Alternatively, it should say that you create a second route under a diff

[2019-07-01 12:11] adadouche commented on #3608
Hi @zerghector ,

I haven't heard from you so I'll assume that the provided details helped you solve the issue. If not, please reopen the issue.

Regards

@bdel

[2019-07-01 12:11] #3608 closed

[2019-07-01 12:11] adadouche commented on #3589
Hi @pgupta4sap,

I haven't heard from you so I'll assume that the provided details helped you solve the issue. If not, please reopen the issue.

Regards

@bdel

[2019-07-01 12:11] #3589 closed

[2019-07-01 12:46] radsoulbeard commented on #3667
Hi,
this scenario is at the moment addressed here: https://sap.github.io/jenkins-library/scenarios/changeManagement/ and will come at a later point in time for general best practices.
Here https://help.sap.com/viewer/disclaimer-for-links?q=https%3A%2F%2Fwww.slideshare.net%2Fsapcp%2Fchange-control-management-supports-continuous-integration-and-delivery you can also find some slides from TechEd 2018

[2019-07-01 12:49] radsoulbeard commented on #3668
Hi,
did you had a look at our Project "Piper"? Here we describe the UI5 scenario
https://sap.github.io/jenkins-library/scenarios/ui5-sap-cp/Readme/
Here you have "ready to use" build steps for Jenkins Pipelines.

[2019-07-01 14:08] renejeglinsky commented on #3658
Hi @octavonu ,
there is no easy shortterm solution I can offer you. If you are willing to create an instance of your SAP HANA service yourself and take care of the binding etc to deploy to your SAP HANA service instance you can give it a try. But cds deploy does not support that until now.
I'll leave this issue open to keep you posted on the progress wrt cds deploy.

Regards,
René

[2019-07-01 14:21] octavonu commented on #3658
Thank you very much @renejeglinsky
I had the same feeling.

Best regards,
Octav

[2019-07-01 14:21] #3658 closed

[2019-07-01 15:45] marcobuescher commented on #3587
Hi,

yes I made a new database but it has the same error...

Hm....

[2019-07-02 09:07] IObert commented on #3633
Thanks for your input @VivekRajKM.
I'll close this issue (for now and I'll try to fix this tutorial in the next few weeks).

[2019-07-02 09:07] #3633 closed

[2019-07-02 09:10] IObert commented on #3187
Thanks for your input @VivekRajKM.
I'll close this issue (for now and I'll try to fix this tutorial in the next few weeks).

[2019-07-02 09:10] #3187 closed

[2019-07-02 09:37] marcuscbehrens commented on #3646
Hi, IoT Service is not part of the CF trial. The price of the package including both Leonardo IoT and IoT Service has been reduced significantly in sapstore.com recently or you can talk to your SAP account team about test license. Regards, Marcus

[2019-07-02 09:38] marcuscbehrens commented on #3536
Hi, SSO within SAP does not apply here. Please use the initial password and your user id P002750 to login. If you need to reset your password ping me. Regards, Marcus

[2019-07-02 09:39] marcuscbehrens commented on #3396
Can you try again? there might have been a temporary issue.

[2019-07-02 09:40] marcuscbehrens commented on #3373
Hi, yes, the data should show up in the device model under visualisation. If it does not then please carefully check your payload. A little error will basically result in the data not beeing processes at all. Regards, MArcus

[2019-07-02 09:41] marcuscbehrens commented on #3369
Yes, this is correct - this has changed in the product. I will update the tutorial accordingly.

[2019-07-02 09:44] marcuscbehrens commented on #3352
This has been fixed in the interim. This happens, when people try to use their trial acocunts with this which is not possible.

[2019-07-02 09:45] marcuscbehrens commented on #3347
This has been fixed in the interim. This happens, when people try to use their trial acocunts with this which is not possible.

[2019-07-02 09:46] marcuscbehrens commented on #3271
Hi, sorry, for the late reply. Please refer to the getting started section of the leonardo iot page at help.sap.com. It will walk you through all the steps including the retrieval of the service key needed for (re-)creatign the destinations. Regards, Marcus

[2019-07-02 09:49] marcuscbehrens commented on #3258
In step 5 we mention that you have to "Add the 2 property sets you worked on earlier and **save** your work. "

Do you think somethign should stil be improved? Thanks for the feedback in any case.

[2019-07-02 11:31] qmacro opened #3671 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

Please specify the step you are referring to: 1 (Deploy)

When running the `ci-build` script (`npm run ci-build`) which invokes the TS compiler, the following error occurs:

[code]

Installing the `@types/http-proxy-agent` package (as the message suggests) solves this issue - the compilation completes

[2019-07-02 12:27] plazhbanov opened #3672 "Send Notifications to Your Android Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-wizard-app-push.html

Please specify the step you are referring to - Service configuration. On the Roles tab, select the Notification User role and click the Assign button, assigning your User ID.

I'm trying to set up the role for a notification user in the Cloud Foundry environment, but I don't see the same page in the cockpit. Co

[2019-07-02 12:48] qmacro opened #3673 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

Please specify the step you are referring to: 1, 4

The contents of the `manifest.yml` file as shown in this tutorial are inconsistent between steps 1 and the two instances of it in step 4, in particular with respect to the values for the `path` and `command` properties, and also the lack of the `rand

[2019-07-02 13:01] qmacro opened #3674 "Create Your First Application with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-odata-service-cloud-foundry.html

Please specify the step you are referring to: 4

The sample code in "here's what it should look like" is quite different from what has just been specified a moment earlier (use of `await` vs a `then/catch` structure).

[2019-07-02 13:45] NToulouse opened #3675 "Get Started with ABAP Development"
Mission URL: https://developers.sap.com/mission.abap-dev-get-started.html

Good tutorials.  One suggestion though - check all screenshots!  some of them do not match what is being said in the text.  Whilst certainly not a show stopper, it causes some confusion to a complete SAP & Eclipse noob like myself :)  had to scroll to the end of the tutorial to make sure of the correct code.

For example, i

[2019-07-02 13:52] qmacro opened #3676 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

Please specify the step you are referring to: 4

When running `npm run ci-build` for the second time (i.e. in Step 4), the compilation fails with a message like this:

[code]

My suspicions are focused right now on what happens in the `npm run ci-package` step (ie `mkdir -p deployment/ && npm prune --

[2019-07-02 14:31] tiagobalmeida opened #3677 "Configuring Eclipse with SAP Cloud Platform Tools for Java"
Tutorial URL: https://developers.sap.com/tutorials/hcp-java-eclipse-setup.html

In step 15 it is mentioned to download Java web (neo-java-web-sdk.X.X.X) although this package is deprecated. The tutorial should be updated to use Java web tomcat 7 or 8.

Thanks

[2019-07-02 17:31] valentini50 commented on #3636
Good afternoon.
I have performed the requested procedures and the problem continues.

De: Daniel Wroblewski [mailto:notifications@github.com]
Enviada em: sábado, 29 de junho de 2019 15:16
Para: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Carlos Alberto Valentini <Carlos.Valentini@t-systems.com.br>; Author <author@noreply.github.com>
Assunto: Re: [SAPDocuments/Tutorials] Discover and

[2019-07-02 17:31] valentini50 commented on #3636
Good afternoon.
I have performed the requested procedures and the problem continues.

[2019-07-02 20:12] palermo-consulting opened #3678 "Build a Shopping Fresh Fiori App in SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html

Please specify the step you are referring to:

Step 3: Create SAP Fiori app
Item 7:

I get this error:

The application cannot be subscribed to product eCommerceProduct using service 'salesTrackerAPI'.  Please contact your System Administrator.

![image](https://user-images.githubusercontent.com/37883476

[2019-07-02 21:34] mikeyfreake opened #3679 "Deploy SAP HANA as a Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-deploying-haas.html

Please specify the step you are referring to: Navigate to Services -> Service Marketplace. Click on SAP HANA Service.

This shows a screenshot with a service called "SAP HANA Service" which does not exist for me. Is this service still available in Cloud Foundry? Maybe the tutorial must be updated? Below is what I see.

[2019-07-02 21:38] mikeyfreake commented on #3679
Sorry, I just realized that this tutorial (https://developers.sap.com/tutorials/haas-dm-deploying-haas.html) is meant for Customer/Partner license.

I am simple playing with SCP on my own and was not looking to make any purchases to explore the functionality.

[2019-07-02 23:47] Lsubatin commented on #3665
Hi,
I see you created the question in the community, where it belongs. Closing this as it's not an issue with a tutorial.
Best,
Lucia.

[2019-07-02 23:47] #3665 closed

[2019-07-03 06:53] Farooq1414 opened #3680 "Define SAP Web IDE as Communication Partner in S/4HANA Cloud"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-ui-communication-systems.html

Step 12 :
I have created all communication system by following all the steps provided.
But having an issue while saving communication system.

For reference.
![image](https://user-images.githubusercontent.com/52484179/60569547-45e38900-9d8d-11e9-99bd-c232150a0a92.png)

Can anyone please help me out in res

[2019-07-03 09:45] JamesRedmond1 opened #3681 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

In the Deploy Your First SAPUI5 App to Cloud Foundry Step 4 part two I'm getting the attached error.
For some reason the organisation and space aren't getting populated regardless of the cloud Foudry API Endpoint I use.
Thanks in advance for any help with this issue, James

![Deploy to SAP Cloud Platform Error](https://

[2019-07-03 12:30] Lsubatin commented on #3679
Hi Michael,

Unfortunately, there is no full trial yet. You can still use the trial HDI containers in your screenshot with something like this: https://developers.sap.com/tutorials/xsa-e2e-capm-fullstack.html

Or HANA express with XS Advanced (the "on premise" version of Cloud Foundry), which is for free even for productive use up to 32GB of RAM: https://developers.sap.com/topics/sap-hana-express.

[2019-07-03 12:30] #3679 closed

[2019-07-03 16:47] palermo-consulting commented on #3678
This is suddenly now working after waiting one day.

[2019-07-03 16:47] #3678 closed

[2019-07-03 18:16] albanislucena2019 opened #3682 "Create an ABAP Project in ABAP Development Tools (ADT)"
Tutorial URL: https://developers.sap.com/tutorials/abap-create-project.html

Please specify the step you are referring to Get a logon data trial,

[2019-07-04 06:11] IObert commented on #3681
Hi @JamesRedmond1,

thanks for opening this issue, this shouldn't happen. Can you confirm that you completed the first group of [this mission ](https://developers.sap.com/mission.sapui5-cf-first.html). It's crucial to do all of these tutorials prior (especially the [Create a Cloud Foundry Account](https://developers.sap.com/tutorials/cp-cf-create-account.html) tutorial)

Thanks

[2019-07-04 06:45] Liebherr commented on #3680
Hi Farooq,
please open an Incident on BC-SRV-APS-COM.
Thanks and Regards
Ulrike

[2019-07-04 08:48] JamesRedmond1 commented on #3681
Hi Marius,

Turned out I was using the Neo Trial, rather than the cloud foundry trial. Thanks for your help.

Regards,
James

From: Marius Obert <notifications@github.com>
Sent: Thursday 4 July 2019 07:11
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Redmond, James <james.redmond@sap.com>; Mention <mention@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Deploy Your First

[2019-07-04 10:51] #3681 closed

[2019-07-04 16:35] pichel3000 commented on #3673
I'm struggling to perform Step 1 using Bash (Windows CMD not possible) and resorted to manually transpiling my .ts file, but without lots of success. A little more detail would help here.

I also noticed the different manifest.yaml entries, as mentioned by qmacro.

[2019-07-05 13:28] apilets commented on #3636
Hello, @valentini50
Could you please try to clear local storage in Chrome and then refresh the page?

[2019-07-05 18:02] jmalla opened #3685 "SAP HANA XS Advanced, debug XSJS and node.js scripts"
Tutorial URL: https://developers.sap.com/tutorials/xsa-debug-nodejs-xsjs.html

Please specify the step you are referring to

For HANA Express, there are problems with debugging on Safari or Chrome due to the browsers not allowing web socket communication to the server which has a self signed certificate.  I do not recall having this issue before - but with my Mac OS High Sierra, and Safari Version

[2019-07-06 20:42] netflixed opened #3686 "Create a Basic Node.js App"
Tutorial URL: https://developers.sap.com/tutorials/cp-node-create-basic-app.html

Please specify the step you are referring to
Step 3
The Programmcode ist missing a closing ' in line 10.
console.log(`myapp listening on port ${port});
should read
console.log(`myapp listening on port ${port}`);
It causes thi error
c:\nodetutorial\myapp\server.js:10
  console.log(`myapp listening on port ${port});

[2019-07-07 10:49] ChrisWake opened #3687 "Create your own Fiori Launchpad"
Tutorial URL: https://developers.sap.com/tutorials/teched-2017-fiori-create.html

Please specify the step you are referring to I don't have the Enable option for the portal within the services menu.

What would the reason be for this?

Regards

[2019-07-08 01:43] wition opened #3688 "Debug Your SAPUI5 App with SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-debug.html

Please specify the step you are referring to

I got the following error when I debug the UI module:

9:39:24 AM (HTML5 application runner) html5_runner_log_cf_push_failure
9:39:24 AM (HTML5 application runner) Could not create the 'tutorial-desttutorial-I312594-workTZ4nOGpaP85VJRlO' instance of the 'destination' service t

[2019-07-08 08:32] IObert commented on #3688
Hi @wition,

thanks for your feedback. It seems that other apps already use their own service instances of the destination service.  In the trial environment, you can only have two service instances of the of this service.

You can fix the issue by removing the existing services manually (as described [here](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/f56d4ae8bc5e4199a

[2019-07-08 09:42] valentini50 commented on #3636
Good Morning.
The problem still persists.
I did the requested procedures, cleaned the cache of Chrome, I used other browsers (Mozila, IE), I tested in another machine and still continues as attached.
Does not complete and completes the 100%

![Erro](https://user-images.githubusercontent.com/38915450/60800322-658efe80-a14b-11e9-84c2-19414121d9d0.png)

[2019-07-08 11:06] julieplummer20 commented on #3682
Hi 	albanislucena2019, I don't understand the question. What step are you referring to?
Do you already have an ABAP application server, e.g. in your company?
If not, you can get a free download or Cloud Appliance from here : https://developers.sap.com/trials-downloads.html  - search "AS ABAP". You need to register as a SAP Community member but you don't need to be an SAP customer / partner.
HTH Ju

[2019-07-08 19:20] DI9-dev opened #3689 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html

Please specify the step you are referring to
while binding the database to the application I am getting the error even though I have provided the valid credentials. Can you please look into this. Looking forward for your reply. I have also attached the screenshot for reference.
![Databinding error](https://user-i

[2019-07-08 19:45] mikeyfreake opened #3690 "Create an application using SAP HANA and the Cloud Application Programming model"
Tutorial URL: https://developers.sap.com/tutorials/xsa-e2e-capm-fullstack.html

Please specify the step you are referring to:

Prerequisite is "You have configured and installed a builder in your space". Builders are no longer required in SCP, so this should not apply.

Having said this, I'm unsure that this tutorial works unless you are an SAP Partner or Customer (i.e. not using a trial account)

[2019-07-09 06:16] thecodester commented on #3637
@soschlegel This is now fixed so you can complete the tutorial. Let me know if all is OK.

[2019-07-09 06:16] #3637 closed

[2019-07-09 07:04] plazhbanov commented on #3672
Hi Dear,
Do you have any ideas?

[2019-07-09 07:18] thecodester commented on #3672
@jarjarbentley Is this something you can help with?

[2019-07-09 08:54] S0016713463 opened #3691 "Access a Classic Schema from SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-access-cross-container-schema.html

Please specify the step you are referring to

An error occurred when I was proceeding Step5 and 6.
The error occurred when executed Build sequence.
The error message is below. Would you give me some advice, since I am stuck for a day?

15:45:12 (HDB)  Processing "cfg/plain.hdbgrants"...
15:45:12 (HDB)

[2019-07-09 09:19] maxstreifeneder commented on #3686
hey @nextflixed,

could you please retest? Should be fixed now.

Cheers,
Max

[2019-07-09 09:26] thecodester commented on #3680
Thank you for your feedback. The issue seems to be a support issue, not an issue with the tutorial.

If you still have questions, feel free to reopen the issue.

[2019-07-09 09:26] #3680 closed

[2019-07-09 10:26] thecodester commented on #3636
I think Andrei means to open the page in Chrome, open the Dev Tools, go to Application tab, and click Clear storage.

[2019-07-09 10:30] valentini50 commented on #3636
Good morning, I already did that, I even tested it on another machine.

[2019-07-09 10:35] mr-flannery commented on #3676
Hey DJ,

I think this is related to the `npm prune --production` part. Can you try removing this part from the `ci-build` script and see if the issue persists?

[2019-07-09 10:44] thecodester commented on #3636
@apilets Ball's in your court ... any help is appreciated :-)

[2019-07-09 10:55] mr-flannery commented on #3674
Hey DJ,

thanks for the heads-up, I have rewritten the respective part to make consistent use of `Promises`!

[2019-07-09 11:02] mr-flannery commented on #3673
Hey DJ, hey Michael,

Thanks for the heads-up regarding the `manifest.yml`, I have updated and will re-publish it shortly.

Regarding the step 1 using Bash: We are aware that the commands will not run natively on Windows right now and have added a short note on how to resolve that (install git bash and configure npm to use it as script shell). Have you seen and tried that?

[2019-07-09 11:04] mr-flannery commented on #3671
Hey DJ,

this issue should have been fixed in version `1.5.0`, which is available since last Thursday. Could you retry it with the new version and see if the issue persists (make sure to remove the `@types/http-proxy-agent`, this should now be correctly installed as dependency of the SDK)?

[2019-07-09 11:07] mr-flannery commented on #3669
Hi Michael,

thanks for your feedback! I have improved the phrasing to hopefully make it more clear what the correct action is.

[2019-07-09 14:43] jarjarbentley commented on #3672
We have reached out to Dirk Grosskopf on the push services team for help via sap email.

[2019-07-09 18:57] gauravaggarwal21 opened #3695 "Create a Calculation View with K-anonymity (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-calculation-views-anonymization-k.html

Please specify the step you are referring to

Step 7 - after completing my build, i get the following error

![image](https://user-images.githubusercontent.com/16799989/60915432-ae74af00-a240-11e9-89fa-e66c4c518af3.png)

[2019-07-09 21:13] DI9-dev opened #3696 "Prepare to create a Java app with an MTA template"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-java-create.html

Please specify the step you are referring to template MTA. I dont see the MTA template in my trail version. Could you please help me on this. I have also attached the screenshot for reference. Looking forwoard for your reply.

Thank you,
Venkhatesh.
![MTA](https://user-images.githubusercontent.com/52600567/60923402-d7129e00

[2019-07-10 07:52] thecodester commented on #3326
@beapasch Are you able to address this issue?

[2019-07-10 08:54] VivekRajKM commented on #3542
Facing a similar issue.

[2019-07-10 13:49] maxstreifeneder commented on #3662
should be fixed.

[2019-07-10 13:49] #3662 closed

[2019-07-10 13:49] #3686 closed

[2019-07-10 14:25] DI9-dev opened #3698 "AngularJS as a Front End - Getting Started"
Tutorial URL: https://developers.sap.com/tutorials/angular-getting-started.html

Please specify the step you are referring to While creating a Project name and Namespace. Name space field is mandatory but in the tutorial it is ignored. Can you please rectify the issue. I have also attached the screenshot for reference.
![Namespace](https://user-images.githubusercontent.com/52600567/60977184-0244ce

[2019-07-10 14:47] maxstreifeneder commented on #3696
Hey @DI9-dev ,

thanks for your issue. You are right, the screenshots in the tutorial are confusing. I'll fix this.

In the meantime: If you choose "Cloud Foundry" instead of "Neo" in the selectbox for the "Environment" you should be able to continue with the tutorial.

Cheers,
Max

[2019-07-10 15:39] maxstreifeneder commented on #3696
Fixed.

[2019-07-10 16:37] Lsubatin commented on #3695
There seems to be something missing in the model from that error ("entry in table not found in level 0 of the hierarchy..."). It's impossible to diagnose without looking at the model or even the full error message.
As this forum is for feedback on the tutorials and not support, please open a question in the community including all relevant information (the model, the error, version of your platfor

[2019-07-10 16:37] #3695 closed

[2019-07-10 16:39] Lsubatin commented on #3691
Hi,
This forum is for feedback on the tutorial, not support. However, that error tells me you are using the wrong username/password in your user provided service.

Make sure you can access the database with that username and password and that the HDI container is also bound to the database in which you created PLUSR.

I would recommend you google for this kind of error in answers.sap.com where thi

[2019-07-10 16:39] #3691 closed

[2019-07-10 16:41] Lsubatin commented on #3690
Hi, it works for trials but only in Europe AFAIK.
You are right on the builder, it's not necessary anymore.

[2019-07-10 16:58] parthapritam2717 commented on #3082
Hi am facing the same issue even though i have the required quota in the subaccount.

[2019-07-11 09:36] IObert commented on #3698
Thanks for opening this tutorial. I would like to mention that this tutorial is outdated and that we're currently trying to update the content. For now, you should be able to proceed by entering any value.

[2019-07-11 11:58] simonarangelova commented on #3689
Hi,

Can you navigate to:
Database/schemas -> (the tenant db. In this case its espm1) and check what value does JDBC URL holds?

![IMG_4056](https://user-images.githubusercontent.com/32678370/61049062-35b25600-a3ec-11e9-8795-c9f83b09e900.jpg)

If its null, then there might be a problem with tenant creation. In that case you should delete the existing DB and recreate it.

Thanks and Regards,
Simona

[2019-07-12 07:51] marcobuescher commented on #3631
Hello,
the tutorial can still not be finished. The technique does not realize that the part "Discover and Manage Third-Party HERE MAps API from API Business Hub" is finished. So the counter stops at 88

[2019-07-12 09:19] #3696 closed

[2019-07-12 09:24] Sygyzmundovych commented on #3570
Hi @thomasalexneuhaus Sorry for delay.
What is exactly the issue with the tutorial?
Thank you.

[2019-07-12 12:07] marcuscbehrens commented on #3570
202 is not a "good" response code in my experience. It makes you believe that processing is still going on but usually it is not with iot service 2.0.

We have fixed an issue that might have led to this issue. If you still have this problem please bring it up again.

[2019-07-12 12:36] mchcn2018 opened #3703 "Add a User Task to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-add-usertask.html

After completing Step 5: Start a new workflow instance, I do see any task in my Inbox. Please advise

[2019-07-12 13:03] shilpavij commented on #3659
Dear Daniel,

I have already replied to #3659.

Regards
Shilpa

From: Daniel Wroblewski <notifications@github.com>
Sent: Thursday, June 27, 2019 1:05 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Vij, Shilpa <shilpa.vij@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Manage APIs with Policies (#3659)

Assigned #3659<https://github.com/SAPDocume

[2019-07-12 16:18] DI9-dev opened #3705 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

Please specify the step you are referring to while selecting Available prototypes it is only showing SAP CSR but not the Inventory Dashboard. I am using the Trial version.
![Sap build system](https://user-images.githubusercontent.com/52600567/61143026-2213f780-a49f-11e9-9d63-7c7baa9e339f.PNG)

[2019-07-12 17:29] DI9-dev opened #3706 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html

Please specify the step you are referring to I am unable to view retailer part UI showing HTTP status 403 error.

Thank you,
Venkhatesh.

[2019-07-12 17:31] DI9-dev commented on #3689
Hi,

Thank you. It's showing up.

Regards,
Venkhatesh.

[2019-07-12 19:46] karthikbw opened #3707 "Store Sensor Data in HDFS in SAP Data Hub, Developer Edition 2.4"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-storeinhdfs.html

Please specify the step you are referring to
Step 1: Start and Check Hadoop
 While running the command -

docker run -ti --publish 127.0.0.1:50070:50070 --name hdfs --hostname hdfs --net dev-net datahub run-hdfs

It fails with error below

docker: Error response from daemon: Conflict. The container name "/hdf

[2019-07-14 06:45] thecodester commented on #3689
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-07-14 06:45] #3689 closed

[2019-07-14 06:47] thecodester commented on #3703
Did you add your user ID to the task?

[2019-07-14 08:04] thecodester commented on #3631
@apilets I completed the tutorial and it shows in the tutorial that it was completed, but in the mission it does not show completion (even though other tutorials in the mission show completion). Can you check?

[2019-07-14 08:48] mchcn2018 commented on #3703
Yes, I did exactly according to the tutorial

[2019-07-14 10:28] thecodester commented on #3659
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-07-14 10:28] #3659 closed

[2019-07-15 11:15] mts2605 opened #3709 "Inspect and Test the API Proxy"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-inspect-apiproxy.html

Please specify the step you are referring to - Step 1, ad 1
"In case you have used your own userid and password, use a Base64 encoder tool to encode the text username:password – without the single quote and place it in the field instead."
What ever I try, i can't log on to the llink. ES5 access is fine,

[2019-07-15 12:23] thecodester commented on #3709
@shilpavij Also, only your last name is shown. You can fix this by setting your name in Git.

[2019-07-15 23:16] KevinMuessig commented on #3362
Hi @togocrates ,

I will assign a colleague who is the expert for WebIDE.

Thanks

[2019-07-15 23:19] KevinMuessig commented on #3354
Hi @russellw999 ,

thank you for raising this issue. I am not the expert on that but I will hand it over to my collegue.

Thanks

[2019-07-15 23:21] KevinMuessig commented on #2908
Hi @mahabaleshwarhnr ,

we decided to remove this tutorial because this is not SAP specific. I just have sent out an email to our SDK team so they can take a look.

Thank you

[2019-07-15 23:27] KevinMuessig commented on #2754
Hi @yanniks ,

I have written a tutorial for push notifications with the SAPcp iOS SDK and Mobile Services. Could you take a look at that, it may help.

Are you writing an iOS app with the SDK or what is connecting against mobile services?

https://developers.sap.com/tutorials/fiori-ios-hcpms-push-notifications.html

Thanks

[2019-07-16 03:50] shilpavij commented on #3709
Dear Michael,

You need to be very careful about the space. Kindly check that while encoding there are no extra spaces or after encoding there should not be extra spaces.

Regards
Shilpa

[2019-07-16 06:01] mts2605 opened #3711 "Manage Hubspot Instance using SAP API Management"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-openconnectors-hubsopt-manage.html

Please specify the step you are referring to
Step 1 - ad 6 - Test connection
I Get "System is up and reachable. However, the ping check responded with code : 404; Message :"
How come, think I followed manual to "the letter" ;-)

Best rgds Michael

[2019-07-16 06:53] IObert commented on #3362
I'll close this issue as this tutorial already has been removed. Sorry for the inconvenience.

[2019-07-16 06:53] #3362 closed

[2019-07-16 07:04] IObert commented on #3354
Thanks for pointing this out. We will remove this tutorial

[2019-07-16 07:07] thecodester commented on #3354
@IObert Should we remove the entire group https://developers.sap.com/group.webide-odata-modeling.html?

[2019-07-16 07:11] IObert commented on #3354
Please remove the entire group (as an entity), but please keep the first tutorial of the group as a standalone tutorial

[2019-07-16 08:37] shilpavij commented on #3711
Dear Michael,

Regarding the 404 issue- Please go ahead and check your scenario it should work. Regarding the letter, so sorry for spamming but we want to communicate our finding hence documented in detail:)

Regards
Shilpa

[2019-07-16 09:45] AstridHerbst commented on #3703
Please access the "Monitor Workflows" app (MWA) and check the workflow execution log.
In that log, you see whether the task has been created and to whom it  is assigned or if the workflow possibly failed before that step.

[2019-07-16 09:57] #3354 closed

[2019-07-17 00:12] jmalla opened #3712 "SAP HANA XS Advanced, debug XSJS and node.js scripts"
Tutorial URL: https://developers.sap.com/tutorials/xsa-debug-nodejs-xsjs.html

Please specify the step you are referring to

Hi Lucia - do we have a document or video on debugging a HANA stored procedure being called from a NodeJS module?  We are trying to do that by setting up a debugging session with the HDB container RT user but we are getting a permissions issue.

Thanks,
Jay

[2019-07-17 06:30] simonarangelova commented on #3706
Hello,

Are you sure that you have added the retailer role and assigned your user ID as a retailer. Please note you should exclude the “trial” part when entering your ID.

Let me know, if you still have this issue.
Thanks.
Simona

[2019-07-17 12:59] Lsubatin commented on #3712
I at least have no knowledge of such video.

Closing this as it;s not an issue and the community is still the place to go.

[2019-07-17 12:59] #3712 closed

[2019-07-17 15:24] jmalla commented on #3712
I looked through lots of articles but could not see anything on debugging the stored procedure from the call from outside via the NodeJS layer.  It would be good if there is a published blog about this since this is fundamental part of developing.  We found an issue with the SAP HDB client yesterday and it was a tough one to debug.  Once I figure out the debugging, I will create a blog - but I was

[2019-07-17 22:57] jmalla opened #3713 "SAP HANA XS Advanced - Database access from Node.js"
Tutorial URL: https://developers.sap.com/tutorials/xsa-node-dbaccess.html

Please specify the step you are referring to

Hi Craig - we are also doing NodeJS and stored procedures.  We are trying to debug our stored procedure from the NodeJS call and are running into issues trying to get the debugging to work.  Any details on how to debug the stored procedure from the NodeJS call?

Thanks,
Jay

[2019-07-18 03:28] Lsubatin commented on #3713
Jay,

Once again, the channel to ask for help is the community, an incident or consulting.

Closing this.

[2019-07-18 03:28] #3713 closed

[2019-07-18 05:31] jmalla commented on #3713
Hi Lucia - There are two to three questions in the community that have been open for a while but no answers.  I can't find any answers.  Can you respond in the community?  That would help.

This is the closest one - but I could not get this to work....
HANA Express: How to debug a SQLScript procedure when called through UI5 module/nodejs module
[https://answers.sap.com/questions/687849/hana-expres

[2019-07-18 13:59] mchcn2018 commented on #3703
I jsut got this error message in "Workflow - SAP Web IDE Full-Stack"
HTTP Status 500 - An internal application error occurred. Request: 3580661365 s0011149706trial:webidecp

[2019-07-19 03:35] paxperscientiam opened #3716 "Debug Your SAPUI5 App with SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-debug.html

Step 3: Write a log message to the console

The first snippet of code (and corresponding thumbnail) overlaps pre-existing code.

[2019-07-19 05:19] mparoti opened #3717 "Build a Shopping Fresh Fiori App in SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html

Please specify the step you are referring to

Step 3, Item 7
I have the message "The application cannot be subscribed to product eCommerceProduct using service 'salesTrackerAPI'. Please contact your System Administrator."

What can I do?

These are my URLs:
API Management Runtime
https://mytrialusernamet

[2019-07-19 08:15] Syafi95 opened #3718 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to Step 2: Create a new project

The selection at "New From Template" does not have the selection "Business Process Management"

![image](https://user-images.githubusercontent.com/39061717/61520238-59a31680-aa40-11e9-812f-0cdc984e49b2.png)

[2019-07-19 11:34] simonarangelova commented on #3587
Hello,
Do you have any other applications deployed in your trial account with the same name as the name of your database?
If not could you please send a screenshot of the error that you are getting.
Thanks and Regards,
Simona

[2019-07-19 16:02] Chet77 opened #3719 "Get Started with SAP API Management"
Group URL: https://developers.sap.com/group.cp-apim-code-1.html

Brilliant
But ... the screenshots are dated and needs updating

[2019-07-20 00:34] eprsonline opened #3720 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to

Step 9: My code is correct it runs, but Validation fails, what exactly I ahve to paste here? And Why you are asking to paste whole Init function when changes made are so small? If in future the rendered code changes then also validation will change.

I want to complete the step

[2019-07-20 00:36] eprsonline opened #3721 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to Step 8
Binding is changed to Parts from PartOf but nowhere in the tutorial step is mentioned to update Item View (S1) . Table Binding of S1 has t change from PartOf to Parts

[code]

Please update the same

[2019-07-20 00:47] eprsonline opened #3722 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to Step 6
Ask to change the Manifest and update the datasource name.
BUt where is the step to update the name in the previously added deafult model.
Coz Model is still pointing to toysData source.

Am I missing something, what is the idea?

Screen shot says localservice and main. Te

[2019-07-20 03:13] abhi7878 opened #3723 "Connect to SAP HANA, express edition using Python"
Tutorial URL: https://developers.sap.com/tutorials/hxe-python-connection.html

Please specify the step you are referring to-
Step 5 -
"To access a specific database, you will use the databasename in the option parameter."

Where is the options parameter here -

from hdbcli import dbapi
connection = dbapi.connect('<server-host>', <port>, '<username>', '<password>')

[2019-07-21 04:44] eprsonline opened #3724 "Create an SAPUI5 App from the Command Line"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html

Please specify the step you are referring to Step 5

Befpre deployment npm configuration has to be updated for SAP specific npm registry
"npm config set @sap:registry https://npm.sap.com"

Otherwise the Build fails as it is unable to process SAP specific npm registry

[2019-07-21 05:55] thecodester commented on #3723
@Lsubatin @adadouche Can you help with this?

[2019-07-21 05:58] thecodester commented on #3720
Can you paste in your oninit function here so I can see?

[2019-07-21 06:02] thecodester commented on #3719
@shilpavij Can you take ownership of this group of tutorials and let me know what you'd like to do with them?

[2019-07-21 23:41] eprsonline commented on #3720
Hello Daniel,

Thanks for reaching out. I have attached the code for the init function.
Please ket me know if I need to change anything.

onInit: function () {
this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
this.oRouter.getTarget("1472700396090_S1").attachDisplay(jQuery.proxy(this.handleRouteMatched,
this));
var oView = this.getView();
oView.addEventDelegate({
onBeforeShow: function ()

[2019-07-22 04:05] shilpavij commented on #3717
Dear Colleague,
If you have cross-checked your destination and all the urls are correct, the product is also published successfully and still, you are getting this issue, please log a ticket on OPU-API-OD-DT.

Regards
Shilpa

[2019-07-22 04:06] shilpavij commented on #3719
Sure Daniel, I will take the ownership. Kindly give me some time to cross-check all the tutorials with recent updates. I will keep the community posted.

[2019-07-22 05:47] thecodester commented on #3720
The validate step had been corrected but the correction was not deployed to the tutorial. I have done so. Please try again.

[2019-07-22 06:13] AstridHerbst commented on #3718
Please check whether you have enabled all the services and extensions as described in the first tutorial Prepare to Create Workflows in SAP Cloud Platform?

Make sure to save all settings.

![wf_editor](https://user-images.githubusercontent.com/18418519/61610155-8f224c80-ac58-11e9-8c85-202ba79c2978.jpg)
[](url)
Best regards,
Astrid

[2019-07-22 09:42] eprsonline commented on #3720
Thanks a ton, resolved.

On Mon, Jul 22, 2019 at 11:17 AM Daniel Wroblewski <notifications@github.com>
wrote:

[2019-07-22 09:45] AstridHerbst commented on #3703
Can you please give more details on the issue ? When is the below error occurring in Web IDE?

[2019-07-22 09:46] #3720 closed

[2019-07-22 15:53] amitcruz opened #3726 "Create a Workflow Definition Using an External Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-01-create-definition.html

Please specify the step you are referring to

Images in the tutorials are not displaying. Please fix it as earliest as possible.

[2019-07-22 15:57] amitcruz opened #3727 "Extend a Workflow Definition with an Exclusive Gateway"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-03-add-excl-gw.html

Please specify the step you are referring to

Can't belive the images are gone from Sap developer tutorials. This issue has been happening intermittently. Why this problem is not fixed permanently??

[2019-07-22 20:15] TonyDag opened #3728 "Display a CDS View Using ALV with IDA"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-adt-use-cds-view.html

Please specify the step you are referring to

[2019-07-22 20:18] TonyDag commented on #3728
Hello,
Do you have an example similar to this one where I can pass in a parameter from the ABAP program to a CDS view that has the  with parameters clause and a where clause and then render it with the command
cl_salv_gui_table_ida=>create_for_cds_view( 'your view here ' )->fullscreen( )->display( )? This would be a nice, more real world example to work with.

Thanks in advance,
Tony

[2019-07-23 04:48] thecodester commented on #3727
I see the images now. Do you?

I will check why this happens.

[2019-07-23 04:48] thecodester commented on #3726
Do you see them now?

[2019-07-23 08:58] IObert commented on #3716
Hi @paxperscientiam,

thanks for opening this issue. I'm afraid I'm not sure if I understand the issue you're describing. Can you please add more details?

[2019-07-23 10:40] IObert commented on #3724
thanks for opening this bug!

You're right that we don't specify the npm registry globally here, good catch! I don't think this is necessary as there's the `.npmrc` config file of the project.

The issue is that this file isn't set up correctly by the generator. I'll fix this issue directly in the generator, thanks for pointing this out!

[2019-07-23 10:42] julieplummer20 commented on #3625
Hi Baerbel,
I've fixed this and pushed to QA. Sorry for the delay. I was ill.
Thanks for all the feedback.
Best wishes,
Julie.

[2019-07-23 10:46] julieplummer20 commented on #3728
Hi Tony,
It's a nice idea, but at present I have quite a backlog of tutorials, so I may not be able to do this. I have taken note, however. If I can update it, I will.
Thanks for your feedback. Julie.

[2019-07-23 10:51] julieplummer20 commented on #3675
Hi NToulouse,
OK, thanks for the positive feedback.
I may not be able to correct all the previous screenshots, for capacity reasons, but will try to do that in future.
Best wishes,
Julie

[2019-07-23 13:14] IObert commented on #3688
closing this issue due to inactivity

[2019-07-23 13:14] #3688 closed

[2019-07-23 13:15] IObert commented on #3698
closing this issue due to inactivity

[2019-07-23 13:15] #3698 closed

[2019-07-23 14:43] IObert opened #3730 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to: 3

Half of step 3 can be omitted as the builder isn't needed anymore

[2019-07-23 15:24] IObert commented on #2877
replaced it with the workflow service

[2019-07-23 15:24] #2877 closed

[2019-07-23 17:30] teejaytarun opened #3732 "Create a Cube Calculation View (XS Advanced)"
Tutorial URL: https://developers.sap.com/tutorials/xsa-graphical-cube-view.html

Step 3: Join Purchase Orders with products dimension

This step doesn't work. No fields are visible in webide full stack in graphical mapping for **Products View** ( it is activated successfully in step 2 and Data preview is working  for Products View) .
Only an issue in SCP webide full stack. Step 3 Works fine in on-

[2019-07-24 02:47] amitcruz commented on #3727
Yes i can see it now.. But this happened last year also. Please find out the root cause.

[2019-07-24 05:25] thecodester commented on #3727
Will do ...

[2019-07-24 05:25] #3727 closed

[2019-07-24 06:04] thecodester commented on #3675
Thank you for your feedback, and for the compliment. We will work on keeping the tutorials and screenshots up to date. I am closing the issue.

If you still have questions, feel free to reopen the issue.

@julieplummer20 If you need the issue open as a reminder, feel free to reopen.

[2019-07-24 06:04] #3675 closed

[2019-07-24 06:05] thecodester commented on #3728
Thank you for your feedback. Julie will see if this can be done. In the meantime, I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-07-24 06:05] #3728 closed

[2019-07-24 06:06] thecodester commented on #3625
@julieplummer20 Is this going to production?

[2019-07-24 06:49] julieplummer20 commented on #3625
Hi,
When I pushed to QA I got this error :

Command failed: git push origin master:refs/heads/master To https://github.com/SAPDocuments/Tutorials-Contribution.git ! [rejected] master -> master (fetch first) error: failed to push some refs to 'https://github.com/SAPDocuments/Tutorials-Contribution.git' hint: Updates were rejected because the remote contains work that you do hint: not have locally.

[2019-07-24 06:49] thecodester commented on #3726
I believe they are working now. Reopen if you still have issues.

[2019-07-24 06:49] #3726 closed

[2019-07-24 06:58] thecodester commented on #3682
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-07-24 06:58] #3682 closed

[2019-07-24 07:35] HiArcher opened #3734 "Destination only choose SAPCPMobileServices in "Use Mobile Services to Create UI""
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

Please specify the step you are referring to: I created API_Portal_Trial, but I can only choose destination SAPCPMobileServices.

[2019-07-24 08:12] HiArcher opened #3737 "No mapping fields from 'Front' in Use Mobile Services to Create UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

In Data Mapping section, it`s blank under Front. It should have some fields to do the mapping, right?
![image](https://user-images.githubusercontent.com/44632698/61776517-c72eb880-ae2d-11e9-88a3-f050762d45d0.png)

[2019-07-24 08:40] shilpavij commented on #3734
Dear Colleague,

If you have created a destination and saved it with the same name we will get it in mobile service. Are you in trial?

Regards
Shilpa

[2019-07-24 08:41] shilpavij commented on #3737
Is your destination correct?

[2019-07-24 09:00] HiArcher commented on #3737
Now, I have it. I create the destination in the wrong place by directly in 'Destinations'.

[2019-07-24 09:01] #3734 closed

[2019-07-24 09:02] #3737 closed

[2019-07-24 09:18] HiArcher opened #3738 "No response during register MC in my mobile app: Use Mobile Services to Create UI"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-ui.html

Please specify the step you are referring to Step 3: Scan QR code
In this step, I have the Registration(Android) address: https://mobilecards/configure?serverURL=https://hcpms-i312717trial.hanatrial.ondemand.com&oauthClientId=b9d68bee-2741-4029-a6a5-3fc29a03e1f2
Then I open the Mobile Cards in my mobile, But a

[2019-07-24 20:06] jmalla commented on #3650
Looks like the documentation is still incorrect.  It's a simple fix that would help users.

[2019-07-25 02:06] Lsubatin commented on #3732
Hi,
I think I replied on Twitter. This looks like a bug and an incident should be filed.
Thanks,
Lucia.

[2019-07-25 02:06] #3732 closed

[2019-07-25 02:07] Lsubatin commented on #3685
This was tested in two other Mac machines and this issue did not happen. Thanks anyway.

[2019-07-25 02:07] #3685 closed

[2019-07-25 02:09] Lsubatin commented on #3653
These tutorials will be removed once the new ones are ready and the dependencies fixed. Leaving this open until then.

[2019-07-25 02:10] Lsubatin commented on #3650
Yes, the update will continue to be pending.

[2019-07-25 12:54] shilpavij commented on #3738
You have to subscribe with your ID. Are you doing that

[2019-07-26 03:13] dtvgit1 opened #3743 "Create an Empty SAPUI5 Project in SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-create-project.html

Step 5: Check the service bindings

Unable to see "- name: dest_mta_app" in the requires section of the mta.yaml file

I have deleted and re-created the project a couple of times. The issue is still the same.

[2019-07-26 03:21] dtvgit1 commented on #3743
I have deleted and re-created the project a couple of times. The issue is still the same.

[2019-07-26 03:50] paxperscientiam commented on #3716
Oops, I see that my comment was pretty vague.
To clarify, where the snippet to copy from the tutorial page is this ...
[code]
... the pertinent region from the project code base looks like this:
[code]
Given this, pasting the snippet at the prescribed location would lead to this:
[code]
This is obviously wrong. My recommendation would be to add a little more detail.
* Delete line three.
* Paste sn

[2019-07-26 12:28] VivekRajKM commented on #3542
Any updates ?

[2019-07-26 16:38] nunorcsousa opened #3747 "Prepare SAP Web IDE for Cloud Foundry Development"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-open-webide.html

Please specify the step you are referring to

Hello.

I received an error trying to enter the Cloud Foundry endpoint. The error is attached in this message.

Could you guys help me on that.

Thanks in advance

Nuno Sousa

Attachement:
![ecrancloudfoundry](https://user-images.githubusercontent.com/21372062/61966957-0

[2019-07-26 19:33] mattreddy3 opened #3748 "Create an SAPUI5 App from the Command Line"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html

Please specify the step you are referring to: 5
It is failing after the build is complete and it is generating the makefile

[2019-07-26 21:30:05]  INFO generating the "Makefile.mta" file...
[2019-07-26 21:30:05]  INFO done
[2019-07-26 21:30:06]  INFO validating the MTA project
[2019-07-26 21:30:07]  INFO validating the MT

[2019-07-26 19:34] #3748 closed

[2019-07-26 19:34] mattreddy3 commented on #3748
Believe this is handled in other issue

[2019-07-28 03:47] thecodester commented on #3542
@rbrainey @mhassett92 Any updates?

[2019-07-29 00:22] louiereyes opened #3750 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to:

Step 3 - Deploy your workflow. This step is not accepting the submitted answers and just responding as "Technical Error". The page has been refreshed several times.

[2019-07-29 03:20] thecodester commented on #3750
I was able to complete that step. Can you try again?

If still problem, can you clear cache, use new browser, make sure you are logged in?

[2019-07-29 04:37] louiereyes commented on #3750
Got that to work by closing my browser all together. Thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Daniel Wroblewski <notifications@github.com>
Sent: Monday, July 29, 2019 1:20:18 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Orland Louie Reyes <louiereyes@live.com>; Author <author@noreply.github.com>
Subject: Re: [SAPDocuments/T

[2019-07-29 04:52] thecodester commented on #3750
:-)

[2019-07-29 04:52] #3750 closed

[2019-07-29 08:44] nunorcsousa commented on #3747
I subscribed a 90 days trial of Cloud Foundry in the Cockpit and it solved my issue.

[2019-07-29 08:44] #3747 closed

[2019-07-29 08:45] IObert commented on #3747
Hi @nunorcsousa,

I just wanted to answer. Great! Btw, on the right-hand-side, you can see the entire mission which includes all prerequisite tutorials. https://developers.sap.com/mission.sapui5-cf-first.html

[2019-07-29 08:47] IObert commented on #3743
Hi @dtvgit1,

thanks for your comment. You're right, the current phrase is misleading. I intended to say "Create this service binding if it doesn't exist".

I'll update the sentence to make this clear. Thanks!

[2019-07-29 09:02] #3743 closed

[2019-07-29 10:45] a-d commented on #3568
Please enter any URL, e.g. `http://128.0.0.1/`

[2019-07-30 00:10] #3724 closed

[2019-07-30 03:16] dtvgit1 commented on #3743
Hi Marius,
Noted. Thanks.

[2019-07-30 12:15] sacnl commented on #3568
Thanks for raising this issue.
I believe this is sufficiently explained in the tutorial. If you have any improvement suggestion on how to clarify the wording, please let us know.
Thanks.

[2019-07-30 12:15] #3568 closed

[2019-07-30 13:08] freilinger opened #3754 "Import Business Rules with Custom Business Object"
Tutorial URL: https://developers.sap.com/tutorials/abap-extensibility-cbo-rules-import-rulesproject.html

The box in step 5.6 says:
Each CDS view is imported into 2 data objects. One is of type structure (name ends with TT) and other is of type table. Table data object refers to the structure data object.

I am pretty sure that the name of the table type should end with _TT, not the structure?

In

[2019-07-30 13:29] roch1183 commented on #2956
Hi i am having this issue. I have checked the my cmd log and docker build seems to have worked. When I try the following in my browser (Chrome):

http://localhost:8090 (SAP Data Hub Modeler)
http://localhost:9225 (SAP Vora Tools)

The same error message is returned as in previous post

Any suggestions ?

Thanks,

Rochelle

[2019-07-30 14:41] anishgupta85 commented on #2956
Hi,
Are you using the new image for the developer edition?
Regards,
Anish

[2019-07-30 16:08] roch1183 commented on #2956
Hi Yes I am using the latest image

[2019-07-31 09:04] freilinger opened #3755 "Expose Custom Business Object as External Web Service"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-ui-business-object.html

Step 5:
This step says "Add your CDS view YY1_BONUSPLAN_CDS by clicking + and Publish it."

I am not sure, but I am wondering if this is correct. Isn't this the Service, which we add? At least coming from the On-Premise World Auto-Exposure scenario (@OData.publish:true) I would assume that YY1_BONUSPLAN is the

[2019-07-31 12:55] freilinger opened #3756 "Create and expose a custom CDS view"
Tutorial URL: https://developers.sap.com/tutorials/abap-extensibility-custom-cds.html

Hi,
I am missing the done buttons to finish the steps and the tutorials.
Best regards,
Sebastian Freilinger

[2019-07-31 12:56] freilinger opened #3757 "Custom Analytical Queries"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-analytical-queries.html

Hi,
I am missing the Done Buttons to finish the tutorial.
Best regards,
Sebastian Freilinger

[2019-07-31 12:58] freilinger opened #3758 "Custom Analytical Queries Calculated Measures"
Tutorial URL: https://developers.sap.com/tutorials/abap-custom-analytical-queries-measures.html

Hi,
I am missing the Done buttons to finish the tutorial,
Best regards,
Sebastian Freilinger

[2019-07-31 13:09] thecodester commented on #3758
@mervey45 Can you add DONE buttons plus at least one validation step? Thanks.

[2019-07-31 13:09] thecodester commented on #3757
@mervey45 Can you add DONE buttons plus at least one validation step? Thanks.

[2019-08-01 02:59] pataselano opened #3759 "Build a Simple SAP Screen Personas Dashboard"
Dear SAP Screen Personas Team,

Tutorial URL: https://developers.sap.com/tutorials/personas-mobile-workbook-create.html

After create "Create Notification" button with 'S3' as default value of notifaction type, I want create new button for "Create Notification" with 'S1' as default value. Is it possible in same screen?

Is it possible to move that button in main screen (not in IW51 screen)?

Thank

[2019-08-01 07:34] Liebherr commented on #3755
Hi freilinger,
yes you are right, it's the Service that you are adding to the scenario and exposing via Communication Arrangement later.
The original tutorial https://blogs.sap.com/2017/05/17/part-viii-custom-business-object-exposure-as-external-web-service-bonus-plan/ for this part describes it a little more detailed and correct.
YY1_BONUSPLAN is the CBO Identifier as well as a generated CDS view

[2019-08-01 09:28] goldi28 commented on #3316
Can you please let me know , how did you fix the issue? I am also facing the same issue

[2019-08-01 11:56] jjaimes opened #3763 "Set up Secure Tunnel between ABAP System and SAP Cloud Platform (CF)"
Tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-create-secure-tunnel.html

Please specify the step you are referring to
**STEP 5:**
When I try to save all data, the system display next rror:
**Tunnel Information**
StatusFailed to connectTunnel ID
account:///2c408c87-f2e1-xxxx-bb71-f18fccc0e541
Remote Name
connectivitynotification.cf.eu10.hana.ondemand.com

I've tried with **cf.e

[2019-08-01 13:26] jjaimes commented on #3763
The issue was because I was trying to connect from home.... I mean I was out of subred area where I am working.

The attachement shows the **OK Connection**.

![SAP_CF_OK](https://user-images.githubusercontent.com/15263362/62297017-58a9b600-b43e-11e9-8af2-d54ff6b926d4.jpg)

[2019-08-01 13:26] #3763 closed

[2019-08-01 15:48] ARobertGS opened #3764 "Getting started with Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/hcp-cf-getting-started.html

Please specify the step you are referring to

[2019-08-01 16:12] freilinger commented on #3755
No Problem, thanks for taking care and generally creating the tutorials.
They help a lot.
Best regards,
Sebastian

Ulrike Liebherr <notifications@github.com> schrieb am Do., 1. Aug. 2019,
09:34:

[2019-08-01 18:20] SAPDocs opened #3766 "Tutorial Page fiori-ios-scpms-barcode.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/fiori-ios-scpms-barcode/fiori-ios-scpms-barcode.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/fiori-ios-scpms-barcode/fiori-ios-scpms-barcode.md) contains invalid tags. Even though your tutorial was created, the invalid tags listed below were disregarded. Please double-check the following t

[2019-08-01 18:50] bstk0 opened #3767 "Manage Hubspot Instance using SAP API Management"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-openconnectors-hubsopt-manage.html

Please specify the step you are referring to
The API Test Connection is returning "System is up and reachable. However, the ping check responded with code : 404; Message :"

[2019-08-02 09:15] prabhatpathania opened #3769 "Build a Shopping Fresh Fiori App in SAPUI5"
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-shoppingfresh-create-fioriapp.html

Please specify the step you are referring to
Loading Detail page in the Fiori application.

Execution of ServiceCallout CallGeocodingAPI failed. Reason: ResponseCode 404 is treated as error

It seems that the parameter structure passed in GeoCoding service used in the tutorial has been updated.
Could you

[2019-08-02 09:53] patrickfontdean opened #3770 "Execute the Image Classification Model Retraining Job"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-03.html

Please specify the step you are referring to:

Exercise 8 - Step 14...
Entering CLI Command : cf sapml retraining jobs -m image

I've been getting "PENDING" for over an hour... is there any way to get a more detailed report on what's going on, if it's going to work at all!?

[2019-08-03 18:21] Git-DT commented on #3571
I just had the same issue as the one posted here.

[2019-08-04 04:13] thecodester commented on #3571
Can you open a new ticket -- and provide the information on the files?

[2019-08-04 04:15] thecodester commented on #3770
@rbrainey Who will take over these tutorials?

[2019-08-04 14:20] thecodester commented on #3755
@Liebherr Just add a comment when we can close this issue. Thanks for your quick response. :-)

[2019-08-04 14:20] thecodester commented on #3764
Do you have a question?

[2019-08-04 14:20] #3764 closed

[2019-08-04 14:21] thecodester commented on #3763
@JensHaley FYI

[2019-08-04 18:51] Git-DT opened #3772 "Import Tables and Large Datasets (XS Advanced) similar to #3571"
Tutorial: Import Tables and Large Datasets (XS Advanced)
Tutorial URL: https://developers.sap.com/tutorials/xsa-import-shine-data.html

Error countered when executing build as part of "Step 3: Purge duplicates and Build".
Error message(s):

...
Error: com.sap.hana.di.tabledata: The "include_filter" definitions in the table import files "src/data/load.hdbtabledata" and "src/data/loads/PurchaseDemo.

[2019-08-04 18:51] Git-DT commented on #3571
Done #3772 raised.

[2019-08-05 03:37] shilpavij commented on #3767
Dear Colleague,
Its perfectly fine, please go ahead and try your scenario.
We are in the process of checking this error message and I am already talking to implementing teams.
This should not stop you for further execution.

Regards
Shilpa

[2019-08-05 04:24] shilpavij commented on #3769
Dear Prabhat,

I cross-checked again and found that it works for me.

So please check again. did you change anything?

Regards
Shilpa
Regards
Shilpa

[2019-08-05 06:34] JensHaley commented on #3763
@jjaimes : Thank you for this feedback.

So the cloud connector was installed on your local PC, right?

I believe that you may have to check your proxy settings at home. In the tutorial, I tried to give this hint in the following note:

Did you try that?

[2019-08-05 14:15] bstk0 commented on #3767
Hi Shilpa,
Thank you. My scenario that worked well.

Best Regards.
Bisterço

[2019-08-05 14:16] #3767 closed

[2019-08-05 14:18] bstk0 commented on #3641
Hi thecodester,
Sorry for being late. I tried a few days ago and got it done.
Thank you.

[2019-08-05 14:18] #3641 closed

[2019-08-05 16:15] greg2git opened #3774 "Navigate to Blockchain Services on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-navigate-cloudplatform.html

Please specify the step you are referring to: Step 4
Issue:
Can I rename my previously created global account name? I don't want to my S to be displayed in any web pages.

thx, greg

[2019-08-05 16:21] greg2git opened #3775 "Navigate to Blockchain Services on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-navigate-cloudplatform.html

Please specify the step you are referring to: Step 6

The step contains this statement: "integration with HANA database."
My question: Which blockchain service provides this integration?

Thx, greg

[2019-08-05 18:47] bstk0 opened #3776 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to step 12.
When I try ti run as java application:
"Service provisioning started
Build started
Build failed. See the console for more information."

Console:
3:45:19 PM (Provision) Service provisioning for module: "/srv"
3:45:19 PM (Provision) Service instance 'Products-Pr

[2019-08-05 19:01] bstk0 commented on #3776
That's ok now. I run the build option on the srv folder and works.

[2019-08-05 19:01] #3776 closed

[2019-08-05 19:03] bstk0 opened #3777 "Add Data to Your OData Service"
Tutorial URL: https://developers.sap.com/tutorials/odata-06-add-data-odata-service.html

Please specify the step you are referring to step 4.
I have no tables.

[2019-08-05 19:11] bstk0 commented on #3777
Sorry. I've executed the build into db folder and this worked

[2019-08-05 19:11] #3777 closed

[2019-08-05 19:35] greg2git opened #3778 "Work with Hyperledger Fabric Chaincode Development Tools"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-hlf-chaincode-tools.html

Please specify the step you are referring to: Step 5

go build -tags nopkcs11 hello_world.go
can't load package: package main:
hello_world.go:9:5: expected 'package', found 'EOF'

[2019-08-05 20:02] greg2git opened #3779 "Structure of a Hyperledger Fabric Chaincode Program"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-hlf-structure-goprog.html

Please specify the step you are referring to: Step 4

Reaching this step has resulted so far in these errors:
go build -tags nopkcs11 hello_world.go
# command-line-arguments
.\hello_world.go:21:16: cannot use new(Chaincode) (type *Chaincode) as type shim.Chaincode in argument to shim.Start:
        *Chaincode

[2019-08-05 21:45] cjbernal commented on #3759
Hi Andy,

You could definitely place some sort of button that navigates to another transaction, called a Transaction button, onto another screen like SMEN.

When it comes to navigating to an "S1" notification vs an "S3" notification, you have a few different options:

1. You could create two different script buttons. Record yourself navigating to the S1 screen and attach that to one of the script

[2019-08-05 21:52] greg2git commented on #3779
the go file has compiled, so the issues are now resolved.

[2019-08-05 21:52] #3779 closed

[2019-08-05 21:53] greg2git commented on #3778
the go file was not ready for compilation which was completed in the subsequent steps.

[2019-08-05 21:53] #3778 closed

[2019-08-06 06:42] pataselano commented on #3759
Hi Conrad,

Thank you for your answer.

Your tutorial in [Tutorial Navigator](https://developers.sap.com/tutorial-navigator.html) is very helpful.  Hope you can create the next tutorial for more complex screens to show the power of SAP screen personas.

Best regards,
Andy Pataselano

[2019-08-06 06:42] #3759 closed

[2019-08-06 07:10] heytombeck commented on #3775
Hi Greg - the HANA integration is blockchain technology agnostic, meaning that you can choose from Hyperledger Fabric, MultiChain, or Quorum here. Many of our users are running with MultiChain for now, if that helps.

The blockchain adapter information can be found here: https://help.sap.com/viewer/c5bee9180afc4a4e93a0742bb352db11/1.0/en-US

And then the wider integration documentation can be foun

[2019-08-06 07:17] heytombeck commented on #3774
Hi Greg,

With a trial account on SAP Cloud Platform, the global account name is fixed. The good news though, this is only exposed to our service admins (SAP staff) and not made publicly available.

With a paid account, this can be changed by raising a support ticket to the SAP Cloud Platform team:
https://support.sap.com/en/contact-us.html

Let me know if you need anything else.

Thanks

Tom

[2019-08-06 07:45] mparoti commented on #3717
Hi Shilpa

I have cross-checked. I only had to register correctly with the "Developer Portal Trial".
Now it seems to be working.

Thank you
Marco

[2019-08-06 07:45] #3717 closed

[2019-08-06 14:24] cjbernal commented on #3759
Hi Andy,

Happy to help! We're glad to hear that you are enjoying our tutorials. Happy learning!

Cheers,
Conrad

[2019-08-06 15:02] ssurampally opened #3781 "Configure Smart Data Integration with the SAP HANA Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-connect-sdi.html
Hi Lucia, Just a clarification in Step 2: Download and install the DP agent On Premise  ---- Is that step required when I am connecting to SQL server DB  on AWS?  using SDI on SCP, is there any other way to replicate data into HANA Service on SCP?

[2019-08-06 15:33] veypaulino commented on #3511
Hi @marcobuescher , got the same issue.
Were you able to fix it?

Cheers,
Vey

[2019-08-06 20:46] greg2git commented on #3774
Hi Tom,

appreciate the response.

thx, greg

[2019-08-06 20:46] #3774 closed

[2019-08-07 08:19] xujian-jh opened #3782 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to

Step 4: Deploy the archive to Cloud Foundry

You will see a success message in the log once the deployment finished.

 No `Open`  in the popup (top-right corner) to start your application.

[2019-08-07 17:04] Lsubatin commented on #3781
Hi Sreekanth, you will need something to expose the data from the source DB. You could also use SLT to replicate data into HaaS and use cross-container access to get the data from the classic schema.

I would recommend adding this as a question in the community so the HANA PM folks could chime in.

[2019-08-07 17:04] #3781 closed

[2019-08-07 17:17] ssurampally commented on #3781
sorry I have not made my question clear Lucia. Actually I wanted to go ahead with SDI on SCP, but my source is my SQL DB which is in AWS.(it is not On-premise as described in your tutorial). So now, your tutorial is still applicable in this case?  I mean I have to install DP agent and continue with ??

[2019-08-07 17:36] Lsubatin commented on #3781
That's correct, it doesn't matter where the OS is sitting :)

[2019-08-07 17:49] ssurampally commented on #3781
Ok, got it Thanks Lucia. I will continue with your tutorial.

[2019-08-08 03:49] Lsubatin commented on #3772
Thanks for adding the details. Can you try this file instead? https://github.com/SAP/com.sap.openSAP.hana5.templates/blob/hana2_sps03_2/ex2/core-db/data.zip

14 GB of RAM is way below the recommended sizing. 16GB is the minimum but 24 will give you less trouble. Even with 16GB I would recommend stopping apps you are not using (e.g., the cockpit). Also, HDB stop is not necessary. Chances are the XS

[2019-08-08 09:40] sandeep-tds opened #3785 "Add a User Task to Your Workflow - Add Image to a step"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-add-usertask.html

Please specify the step you are referring to
Under Step 4: Add a User Task to Workflow go to S No: 6.

Can you please add a screenshot of the pop-up?

I was using a trial account to do this tutorial and it took me a lot of time to figure out the correct value to be entered.

A screenshot of the pop-up in question wou

[2019-08-08 12:32] IObert commented on #3782
Good catch! The popup has been removed, I'll update the tutorial

[2019-08-08 12:56] #3782 closed

[2019-08-08 13:14] IObert commented on #3716
Sorry for the late response. I see the confusion and I added more text around it.
Please let me know if it's still ambiguous.

And yes, there are devs that just want to copy and paste the code. Others want to learn as much as possible about each step. It's always hard to meet both expectations :)

[2019-08-08 13:15] #3716 closed

[2019-08-09 02:37] ravipativenu opened #3789 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

Please specify the step you are referring to

npm run ci-build && npm run ci-package

Giving Error:

===========================================

The syntax of the command is incorrect.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! businesspartners@1.0.0 ci-package: `mkdir -p deployment/ && cp -r

[2019-08-09 13:11] Git-DT commented on #3772
Hello Lucia. Thanks for the update.

Once the XSA apps crash do they restart themselves or is some intervention required from me?

On sizing I found this...

Recommended VM Size | Server-only plus Application Function Library, PAL | Tenant DB* | XSA | Cockpit | Web IDE | SAP HANA Streaming Analytics | SAP HANA Interactive Education | SAP Enterprise Architecture Designer | Total Memory Consumption

[2019-08-09 14:49] Git-DT commented on #3772
Update on the new data.zip file. [data (2).zip](https://github.com/SAPDocuments/Tutorials/files/3486777/data.2.zip)

In short, it was successful.

In more detail, as per the steps in the tutorial "Import Tables and Large Datasets (XS Advanced)" due to the state of the data folder from previous tutorials it is still necessary to delete some files and folders. Here is the old instruction from the tu

[2019-08-09 15:27] greg2git opened #3790 "Join a MultiChain Network"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-mc-node-joins-network.html

Please specify the step you are referring to: Step 4

Getting this error message in the browser when opening the dashboard:
404 Not Found: Requested route ('maas-dashboard.cfapps.us10.hana.ondemand.com') does not exist.

[2019-08-09 17:03] superwangnan opened #3791 "step6 can't finished."
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-02-add-user-task.html

Please specify the step you are referring to
in step 6, I can't deploy my UI app. in webide, the deploy to cloud platform menu item is grey.
<img width="823" alt="error" src="https://user-images.githubusercontent.com/20192234/62796036-b1e2ab00-bb0a-11e9-91ac-0ac7f09ca67c.png">

[2019-08-10 15:00] Sygyzmundovych commented on #3723
@abhi7878 There is a link to documentation at the beginning of the tutorial. You can find parameters page: https://help.sap.com/viewer/0eec0d68141541d1b07893a39944924e/2.0.04/en-US/ee592e89dcce4480a99571a4ae7a702f.html

[2019-08-11 04:02] thecodester commented on #3790
@heytombeck @joseprados can you answer?

[2019-08-11 04:02] thecodester commented on #3790
@joseprado Can you update your profiel to have your name/SAP and if possible an image? Thanks

[2019-08-11 07:53] qmacro commented on #3791
Hello - issues here are for technical / content based problems with the tutorials. I would recommend that you reach out with this question on the SAP Community Q&A - there is a specific tag for SAP Cloud Platform Workflow. You're more likely to get an answer there and also other folks will benefit from the question and the answers. Good luck!

By the way, I notice from the screenshot that you have

[2019-08-11 07:53] #3791 closed

[2019-08-12 06:44] marikaner commented on #3789
Hello, thank you for raising this issue. Are you running this in a Git Bash as pointed out by this note?

[2019-08-12 07:21] poonamassudani opened #3792 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to

when I create a Project from template , enter project name and workflow name and click finish, the process keeps running , never creating the workflow .

I tried from IE as well as chrom , but does not work , there is no error message as well.

Please suggest .

[2019-08-12 07:28] heytombeck commented on #3790
@greg2git - Hi Greg, sorry about this. Is this still happening to you? I've replicated the steps in my own test account (as a regular user) and I'm able to access the dashboard.

[2019-08-12 12:08] cschubertcs commented on #3346
Hi @girishongit,

sorry for coming back with such a delay!
Can you please verify whether you still encounter the same issue? Because right now it seems like there is a workaround mentioned that only works for a local Neo deployment.

Greetings
Chris

[2019-08-12 12:25] cschubertcs commented on #3566
Hi @jpetersendk,

sorry for the long response delay!
Can you check whether the tutorial is still unclear, and if so, which statement? With this information we can then help you as well as anyone that is reading the tutorial in the future.

Greetings
Chris

[2019-08-12 13:36] mchytracek opened #3793 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

I followed the tutorial in Step 3 and modified the generated persistence.xml adding  transaction-type="JTA". But the file is re-generated when the project is built and the modifications are gone.

So the following steps in the tutorial are not working

[2019-08-12 14:22] renejeglinsky commented on #3793
Hi @mchytracek ,
I am checking with my colleagues. I'll get back to you then.
In the meantime, I saw there were an issue with the same tutorial, step 3, in the past. Maybe you want to check it out:
https://github.com/SAPDocuments/Tutorials/issues/3111

Regards,
René

[2019-08-12 14:27] mchytracek commented on #3793
I have already seen #3111 but this is an other issue where the JPA sources were not generated. This have nothing to do with this issue.

[2019-08-12 17:40] greg2git commented on #3790
Hi Tom,

i had to check the flag for "Access your data with scope 'openid" and that seems to have cleared the issue. thx for the quick response.

br, greg

[2019-08-12 17:40] #3790 closed

[2019-08-12 18:13] greg2git opened #3796 "Grant Requesting MultiChain Node Permission to join a MultiChain Network"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-mc-node-grant-permissions.html

Please specify the step you are referring to Step 2
After getting this:
"PERMISSIONS
Grant Permissions
Permissions for address '1Nm...' successfully set."

Still getting this:
"Peers
No connections to peers"

Tried closing the browser, clearing cookies and re-logging into the SAP Could multiple times. Can

[2019-08-13 07:57] badichiniran opened #3797 "SAP HANA XS Advanced, Creating an HTML5 Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-html5-module.html

Please specify the step you are referring to
step 2 is different from what I see in my environment
in the Authorization and Trust management
where is choose New Instance is dont have option to select Plan= Space.
this is what i have.
what should i choose?
![image](https://user-images.githubusercontent.com/4293806/62924568-0b

[2019-08-13 08:26] pacaceres opened #3799 "Cannot view CLA documents"
I am asked to sign a CLA page stating I read the following documents which do not exist!

https://github.com/SAPDocuments/Tutorial-Contribution/blob/master/contributing.md
https://github.com/SAPDocuments/How-To-Contribution/blob/master/contributing.md

Please fix the broken links or do not ask users to sign a CLA.

[2019-08-13 10:26] badichiniran opened #3802 "SAP HANA XS Advanced, Creating a Node.js Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-xsjs-xsodata.html

Please specify the step you are referring to
step 6
I'm running the web module but I'm getting "Unauthorized" response
any idea why?

[2019-08-13 12:00] thecodester commented on #3799
Why are you writing this in this repo, when the issue is in those 2 repos. And why are creating PRs in those repos?

[2019-08-13 12:00] #3799 closed

[2019-08-13 12:12] thecodester commented on #3796
@joseprados can you answer?

[2019-08-13 20:05] gregorwolf commented on #3793
Maybe https://stackoverflow.com/questions/17331024/persistence-xml-different-transaction-type-attributes is a solution as in a JavaEE environment like TomEE the default seems to be JTA.

[2019-08-13 21:13] gregorwolf commented on #3793
When I deploy the mtar built from the version https://github.com/gregorwolf/bookshop-java/tree/cae12576f515ac0684be9ba4389947c8b65172ef of my tutorial project it's running fine. But it's not working when I start from Web IDE as Java App.

[2019-08-13 21:25] marinalan opened #3803 "Deploy an App to SAP Cloud Platform Cloud Foundry Environment"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-dev-02-deploy-app.html

Please specify the step you are referring to

Can not do step 4
I deployed app, but each time I attempt to start , it then shows "Stopped", shows in red that there was some error, but I can not find on what error it complains

[2019-08-14 08:51] Emdee89 commented on #3629
Hi Gregor, thanks for the suggestion. We are currently investigating your proposal.

[2019-08-14 11:27] qmacro commented on #3803
Hello - issues here are for technical / content based problems with the tutorials.

I would recommend that you reach out with this question on the [SAP Community Q&A](https://answers.sap.com/index.html). You're more likely to get an answer there and also other folks will benefit from the question and the answers. Good luck!

[2019-08-14 11:27] #3803 closed

[2019-08-14 15:06] schneidertho commented on #3707
Hi, you already have a container with name "hdf" running. Hence you need to delete this first (as the response from the docker daemon says): docker rm hdfs
Cheers
Thorsten

[2019-08-15 15:56] miteshjpatel commented on #3802
I am having same issue.

[2019-08-15 16:00] Lsubatin commented on #3802
Hi folks - Unauthorized could very well be that you are accessing the node.js endpoint instead of the web one after configuring the routes and uaa. I cannot guess just from the word "Unauthorized" though

[2019-08-15 16:01] Lsubatin commented on #3797
What environment is this?
You can choose application. This is the scope of the UAA service.

[2019-08-16 07:28] Emdee89 commented on #3629
Hi Gregor,

the SAP Cloud SDK relies on Java 8. SapMachine does not support Java 8.

Thanks
Marco

[2019-08-16 08:45] #3629 closed

[2019-08-17 17:00] prasenjitsbist0103 opened #3807 "Expose a Standard Core Data Service for ABAP Environment"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-business-service-provisioning.html

Please specify the step you are referring to- Test yourself.

`service Z_Testyourself  is not valid as there is space ,

[2019-08-19 08:20] Nareshvarmaku opened #3810 "Pushing the running SAP HANA container into docker hub"
Hi

Can anyone help me to push the running sap hana docker container into docker hub with the mounted volumes and how to create docker file for it.

[2019-08-19 10:05] thecodester commented on #3810
Does this relate to a specific tutorial?

[2019-08-19 11:33] Devanther12 opened #3812 "MovieLens with SAP HANA APL Recommendation (MovieLens SQL)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-sql-04.html

Under MovieLens with SAP HANA APL Recommendation (MovieLens SQL) - Step 7 "Run the Algorithm" following Error occurs:
Could not execute 'call sap_pa_apl."sap.pa.apl.base::CREATE_RECO_MODEL_AND_TRAIN" ( apl_movielens_function_header , ...' in 1.998 seconds .
SAP DBTech JDBC: [423]: AFL error: "SAP_PA_APL"."sap.pa.apl.b

[2019-08-19 14:35] eguo opened #3813 "Bad Gateway 502 - Use the Application Router in Cloud Foundry to Connect to ABAP System"
Hi, I followed tutorial URL: https://developers.sap.com/tutorials/cp-connectivity-consume-odata-service-approuter.html I have configured and deployed this tutorial to both trial and canary CF.

I am seeing Bad Gateway 502 error on Step 7.4 in both trial and canary CF.

Log entry:
`2019-08-19T09:05:28.92-0400 [APP/PROC/WEB/0] OUT {"written_at":"2019-08-19T13:05:28.927Z","written_ts":156621992892700

[2019-08-20 03:42] ssurampally opened #3814 "Access a Classic Schema from SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-access-cross-container-schema.html

Please specify the step you are referring to : Step 3
While creating the cups, you just provided user id and password. I am wondering without providing HANA host and port, how do we get access to the database?
I remember that, In XSA on premise world, we provide the host and port while setting external c

[2019-08-20 03:43] ssurampally commented on #3814
I am unable to proceed with completion of this tutorial.

[2019-08-20 07:13] JensHaley commented on #3813
Hi Eddy,

I assume you successfully completed [tutorial https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html](https://developers.sap.com/tutorials/cp-connectivity-configure-fiori-reference-apps.html).

The error message in your log suggests that the virtual endpoint `abap-as-eu01 abap-as-eu01:443` which you defined in [this step](https://developers.sap.com/tutor

[2019-08-20 10:56] agraricha opened #3815 "Add a User Task and Generic UI to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-02-add-user-task.html

Please specify the step you are referring to
Step 5.
manifest.json is giving errors
![image](https://user-images.githubusercontent.com/44371178/63341605-e1cf5100-c349-11e9-985f-d1e2e4d76150.png)
Missing property _version

[2019-08-20 12:38] Lsubatin commented on #3814
Hi Sreekanth, just like it shows in the tutorial, you do not need the port and host. They are taken from the primary target HDI container.
This question belongs in the community (I have answered it there before, at least twice). This is for issues related to the tutorial, so closing it.

[2019-08-20 12:38] #3814 closed

[2019-08-20 13:09] ssurampally commented on #3814
Ok got it, Sorry I did not know that Lucia. I thought I can ask clarifications on the tutorials also. From now on, I will post my questions in the community.

[2019-08-20 16:02] entmike opened #3816 "Installing SAP HANA, express edition with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

Tutorial still references old SP3 docker image tag rather than `2.00.040.00.20190729.1`.

[2019-08-20 16:04] entmike commented on #3810
Tutorial on how is [here](https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html)

[2019-08-20 16:07] entmike commented on #3723
I think it should be something like below if you did the usual tutorials to run HXE in a VM:

`connection = dbapi.connect('hxehost', 39015, 'SYSTEM', 'YourSystemPassword')`

[2019-08-20 17:36] #3669 closed

[2019-08-20 17:38] #3530 closed

[2019-08-20 17:39] #3674 closed

[2019-08-21 07:05] thecodester commented on #3810
I assume this is additional information you want: Then best to ask in the community

https://www.sap.com/community.html
https://answers.sap.com/index.html

If there is a bug in the tutorial, let us know here.

[2019-08-21 07:08] thecodester commented on #3723
Can you just be more specific as to the issue, if any. Is the documentation not clear and the parameters you guessed/specified did not work for you?

@Lsubatin Can you also weigh in?

[2019-08-21 08:49] HoschiHammer commented on #3654
Hi Chris,
no problem, in the meantime I move to version 3 of the sdk and the project archetype generation works perfect for this.
So I think you can close this issue.

The version sdk-bom-0.0.3 von added by the maven archetype generation.

Regards,
Daniel

[2019-08-21 11:40] greg2git commented on #3775
Hi Tom, have tried MultiChain multiple times but got stuck with peers not running. Let me close this issue, so it doesn't clutter the repository.
Thx, greg

[2019-08-21 11:40] #3775 closed

[2019-08-21 20:35] yeeteeho opened #3820 "Create Sales Order App with SAP Cloud Platform Rapid Application Development by Mendix"
Tutorial URL: https://developers.sap.com/tutorials/mendix-salesorders.html

Step 3 can't be done.
In Mendix studio Pro I get the following error message when importing the generated module package:
"Loading the module failed. The package could not be imported, because it was created with version 7.5.1 of mendix modeler. please open it in any version in the range from 7.23.0 to 7.23.99 first".

[2019-08-21 20:56] DuoBelt opened #3821 "Extend a Workflow Definition with an Exclusive Gateway"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-03-add-excl-gw.html

Please specify the step you are referring to
Step 5: Connect the exclusive gateway to the new user task

Address the SequenceFlow5 flow:
Select the line marked SequenceFlow5 and you’ll see that it too can have properties – indeed, now there are two flows from this exclusive gateway, the Condition property is mandatory.

[2019-08-22 06:44] qmacro commented on #3821
Hello. This is for technical issues relating to tutorial content (e.g. spelling mistakes, incorrect information). May we please suggest you ask your question in the SAP Community Q&A, where you're more likely to receive an appropriate answer and also others will benefit from both your question and the answers. Thank you. -> https://answers.sap.com/index.html

[2019-08-22 06:44] #3821 closed

[2019-08-22 15:49] JNeil-tech opened #3823 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html
Regarding
Step 2: Create a Schema and table and Import data,
after creating the schema and creating the table, the schema isn't listed in the catalog at bubble 4. I can connect to the schema (I called my schema "TECH_ACADEMY") and select * from product_segment; successfully.
Also having trouble in
St

[2019-08-23 09:55] kgorin8 opened #3825 "Add a User Task and Generic UI to Your Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-02-add-user-task.html

Hey. In step 5 you need to specify all versions explicitly. Otherwise file is marked as error.

[code]

[2019-08-24 09:27] Git-DT commented on #3772
Problem is solved so closing.

[2019-08-24 09:27] #3772 closed

[2019-08-24 21:33] S0003904187 opened #3826 "Add Data to Your OData Service"
Tutorial URL: https://developers.sap.com/tutorials/odata-06-add-data-odata-service.html

Please specify the step you are referring to: 4

When I select the table to create the entries an internal error occurs, as from attachment
[readme01.docx](https://github.com/SAPDocuments/Tutorials/files/3537587/readme01.docx)

[2019-08-25 14:56] Lsubatin commented on #3823
The undefined there is weird... Can you see the HDI container and explore it? Can you please add some screenshots of the structure of the project and confirm you can see the container in a question in the community and at mention me? I'm on vacations so not monitoring it these days. These forum is for fixes to the tutorials themselves and I cannot involve other folks to help.

PS thanks a ton :D

[2019-08-26 05:27] anmolchadha111 opened #3828 "Add a User Task to Your Workflow - No App in App Finder"
In Step 1: Add the workflow apps to your homepage, There is no app in the App finder in Launchpad.

[2019-08-26 14:32] WheresTheMoneyLebowski opened #3829 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html

Hello,

Step 4: Bind the Application to a Database.

When trying to bind the deployed web application to the database schema a dialog window shows up asking for the login credentials (Username, Password). I tried to enter my login credentials for the cloud as well as my username in conjunction with the password w

[2019-08-26 17:27] agiguere opened #3830 "Enable the Push Notification service for your iOS app"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-hcpms-push-notifications.html

Please specify the step you are referring to

Authentication Problem for Push User:

I have SAP Cloud Platform trust configure to Identity Authentication which proxy the authentication in a corporate identity provider (Microsoft Azure)

Everything works great, I could see my APNS device token has been uploa

[2019-08-26 18:59] entmike opened #3831 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Native Linux Machine)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-apl-binary.html

Step 1, when trying to run `HXEDownloadManager_linux.bin`, I receive the error seen below (Using HXE Docker 2.4):

[code]

[2019-08-27 06:39] qmacro commented on #3826
Hello. This is for technical issues relating to tutorial content (e.g. spelling mistakes, incorrect information). May we please suggest you ask your question in the SAP Community Q&A, where you're more likely to receive an appropriate answer and also others will benefit from both your question and the answers. Thank you. -> https://answers.sap.com/index.html

[2019-08-27 06:39] #3826 closed

[2019-08-27 13:51] bvarwig opened #3833 "Get Started with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-getting-started.html

Please specify the step you are referring to step4:

isn't it better to use option ```--save``` in the ```npm install``` command: ```npm install @sap/cloud-sdk-core --save```

Regards Britta

[2019-08-27 14:06] mr-flannery commented on #3833
Hi Britta,

Thank you for your feedback! Since [version 5.0.0](https://blog.npmjs.org/post/161081169345/v500), `--save` is the default option when calling `npm install`, i.e. the respective dependency will be added to your project's `package.json` automatically.

Best regards
Dennis

[2019-08-27 14:36] bvarwig commented on #3833
oh, I did not know this, as i am a newbee to nodejs and somone told me to not forget the save option.

So i will close the issue.

[2019-08-27 14:36] #3833 closed

[2019-08-29 05:30] anushka-singh opened #3835 "Setup AWS - Create your IAM policy, role and user"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aws-eml-01.html

Please specify the step you are referring to:
Tutorial 2 Step 4: Create a Role in IAM

Steps to reproduce:
Followed the steps as mentioned in Tutorial from Tutorial 2 through 9.
Error at Tutorial 9 step 5 line 5. get_role function in get_execution_role not found. Can be ignored and can move to future steps. But got stuck later

[2019-08-29 06:17] srivas-s opened #3836 "Tour the SAP Community"
Tutorial URL: https://developers.sap.com/tutorials/community-start.html

Once all steps are completed, blogger permission and badge not generated

[2019-08-29 07:57] thecodester commented on #3836
Badges are distributed once a week (soon this will be immediate and automatic).

@WorkJerryJanda Can you comment on when blog permissions are granted?

[2019-08-29 13:16] EkaterinaArena opened #3838 "View the SAP Cloud Platform from 10,000 Meters"
Tutorial URL: https://developers.sap.com/tutorials/cp-explore-cloud-platform.html

Please specify the step you are referring to:
Step 5: Neo, Cloud Foundry, and ABAP

Dear Colleagues, please check the link

'online map to guide you'
https://help.sap.com/viewer/page-not-found?url=https:%2F%2Fhelp.sap.com%2Fviewer%2F65de2977205c403bbc107264b8eccf4b%2FCloud%2Fen-US%2Fab512c3fbda248ab82c1c545bde19c78.

[2019-08-29 20:42] WorkJerryJanda commented on #3836
If the steps were followed, permissions should be granted right away...although you may need to log in and out again. Please see the answer here and confirm that you did everything: https://answers.sap.com/questions/12848865/i-ask-the-sap-community-for-help.html. If you have, please tell me your profile name on SAP Community. Thanks!

[2019-08-30 04:41] AbhijitNilegaonkar opened #3839 "Create a Workflow Definition Using an External Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-wf-01-create-definition.html

Please specify the step you are referring to
I get an error on Step 8
Error message:
The destination 'Northwind' could not be found. Create it or check the spelling.
GET unknown /V3/Northwind/Northwind.svc/Products(1)?$format=json

Step 7
is where this URL is provided. I made sure the spellings are correct no space

[2019-08-30 05:23] AbhijitNilegaonkar commented on #3839
Destination was missing. Followed this tutorial and it fixed the problem.
https://developers.sap.com/tutorials/hcp-create-destination.html

[2019-08-30 05:23] #3839 closed

[2019-08-30 12:32] EkaterinaArena opened #3840 "Change from mock server to live OData service"
Tutorial URL: https://developers.sap.com/tutorials/webide-live-odata.html

Please specify the step you are referring to 'Step 4: Validate the data source'
In the tutorial it states:
"Double click on the metadata.xml file to open it. Copy the NavigationProperty element in the XML under the entity SetsType."
At the current version of metadata.xml there is no entity "SetsType".
The actual existing en

[2019-08-31 14:49] tcmb opened #3841 "homebrew's java8 cask no longer available"
Hi, in the file `tutorials/s4sdk-setup/s4sdk-setup.md` the line `brew cask install caskroom/versions/java8` should be changed to `brew cask install adoptopenjdk8`.

The cask `java8` referred to the Oracle JDK and is no longer available in homebrew.

(I can open a PR if you want, but the README says you prefer issues to be opened.)

[2019-08-31 16:18] thomasalexneuhaus opened #3842 "Get Your Hands on SAP Leonardo IoT Foundation Software and Hardware"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-1-buy-sapstore.html

Please specify the step you are referring to

The full configuration are not in part of this steps. The turtorial is not running, when you not make the configuration of cloud service:

Getting Started with SAP Leonardo IoT:
https://help.sap.com/viewer/195126f4601945cba0886cbbcbf3d364/1904a/en-US

Enable SAP Cloud P

[2019-08-31 17:31] thomasalexneuhaus opened #3843 "Create a Simple IoT Device Model"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-2-create-device-model.html

Please specify the step you are referring to

Also here the importent step for SAP Leonardo IoT ist not write!
The connection between an SAP Leonardo IoT and SAP Cloud Platform Internet of Things for the Cloud Foundry Environment ist not exist!

https://help.sap.com/viewer/a7172eb02bf54229add4664fff702676/Cl

[2019-08-31 17:41] thomasalexneuhaus opened #3844 "Build an IoT Condition Monitoring App"
Tutorial URL: https://developers.sap.com/tutorials/iot-express-5-use-webide-template.html

Please specify the step you are referring to

The step one and two are not enough
Step 1: Start the Web IDE Full-Stack and Step 2: Enable the Leonardo IoT feature

Take the also the Configure SAP Web IDE for SAP Leonardo IoT in the Turtorial:
https://help.sap.com/viewer/195126f4601945cba0886cbbcbf3d364/1908b

[2019-09-01 07:04] thecodester commented on #3840
@IObert Is this something you handle? If not, do you know who?

[2019-09-01 07:05] thecodester commented on #3839
@qmacro FYI

[2019-09-01 09:05] Devanther12 commented on #3812
Solution: https://answers.sap.com/questions/12850453/sap-hana-express-apl-recommendation.html

[2019-09-01 09:36] thecodester commented on #3812
Answers is generally the best place to go for general questions on the technology not related to bugs in the tutorials. Since you asked this on Answers I am closing this issue.

@jarjarbentley Please pass this on to whoever is maintaining this tutorial.

[2019-09-01 09:36] #3812 closed

[2019-09-02 05:15] MatKuhr commented on #3841
Thank you for raising this. I'll update it but it will take some time until it shows on the tutorial.

[2019-09-02 08:51] marcuscbehrens commented on #3844
Yes, you are right. I will mention that al sections of the getting started guide have to be completed in the next update.

[2019-09-02 08:52] marcuscbehrens commented on #3843
Hi, thanks for your comment. Have you checked all the prerequisites? Number 3 is referring to what you are suggesting, is it not? Regards, Marcus

[2019-09-02 09:00] marcuscbehrens commented on #3842
Hi Thomas, thanks for your comments. We had included the instructions you mention as pre-requisites in the sub-sequent tutorials that follow this one. If someone only wants to try out device management from SAP he for example will find what is needed to configure on the next tutorial and he would not have to go through enabling leonardo iot. This first tutorial is really just a placeholder for a t

[2019-09-02 09:21] qmacro commented on #3839
That's the right course of action @AbhijitNilegaonkar.

@thecodester the hcp-create-destination tutorial is already listed as a pre-requisite for this one.

[2019-09-03 12:22] ZacharyLeahan opened #3847 "Create and expose a custom CDS view"
Tutorial URL: https://developers.sap.com/tutorials/abap-extensibility-custom-cds.html

Please specify the step you are referring to

This document is not clear if it is for S/4 on prem or S/4 cloud.

[2019-09-03 21:28] #3838 closed

[2019-09-03 21:28] IObert commented on #3840
I'll check with @mhassett92

[2019-09-03 23:27] rafaelfigueiredo-l opened #3850 "Create an ABAP Project in ABAP Development Tools (ADT)"
Hi,

I'm following this tutorial https://developers.sap.com/tutorials/abap-create-project.html and needs logon data. I tried my logon data that I'm using to access developers.sap.com but the access still fail. Is this correct?

 **Logon to system NPL failed (partner '127.0.0.1:3300' not reached)**

Other issue and I don't know if is related to the first is eclipse showing an error with this messag

[2019-09-04 07:39] SumaiyaPK opened #3852 "Create a Business Service Using CDS"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

Step 4: Test run the service.
after running the service, I get the below error.
"bash: Best: command not found".

Also when I click on the "Run console URL", I am not able to see the Odata.
The below error is displayed.
"404 Not Found: Requested route ('8ifliqfwezrijhmj-bookshop-srv.cfapps.sap.hana.ondemand.

[2019-09-04 12:56] JCurrie27 opened #3853 "Create a Calculation View with Differential Privacy"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-calculation-view-differential-privacy.html

Please specify the step you are referring to:
Step 5: Configure the HANA Analytics Adapter

Hi Lucia: FYI a link in step 5 is not rendering correctly in output.

[2019-09-04 13:26] HubertWeber opened #3854 "Manage APIs with Policies "Unable to update API""
Tutorial URL: https://developers.sap.com/tutorials/cp-apim-sales-tracker-apis-manage.html

Step 3: Set limit -> 5. Click Save on the next screen. does not work, get a simple error message "Unable to update API".

If I want to delete API_SALES_ORDER_SRV (Sales Order - Create, Read, Update, Delete (A2X)) I get the error message Cannot delete API wit a more detailed description: Unable to delete the

[2019-09-04 13:28] jjmiquel opened #3855 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Hi,
I have a general question about the HDI-Container and the database schemas.
The HDI Containers at run time have their own isolated schema, so if I am looking forward to creating and manipulate enterprise data where should I store it?
Should I create another independent db schema?

Best regards,
Juan José Miquel

[2019-09-04 16:29] erxivi opened #3857 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

Please specify the step you are referring to :

Hi gurús, at step :

Step 7: Select a project to import

I try to select prototypes availables to my user and there are not. An error message tolds me :

![2019-09-04 18_25_59-SAP Web IDE Full-Stack](https://user-images.githubusercontent.com/54840790/64273586-e5fe8f80-cf41-1

[2019-09-05 06:25] EkaterinaArena opened #3858 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Please specify the step you are referring to 'Step 4: Test the application in the Cloud Foundry environment'

Hi Colleagues,
following the tutorial group on the trial account (cf/neo).
Actual result at attempt to run the application in WEB IDE:
8:15:10 AM (HTML5 application runner) Starting module "/mta_app/app

[2019-09-05 12:56] shilpavij commented on #3854
Hello Colleagues,
Two things here..
1. Check if all the mandatory fields are filled correctly.
2. You can delete the proxy, since it is associated with one more proxy you get this message.
Solution: Delete the other proxy first and then try to delete this or You can start creating a new proxy by selecting a new base path.

Regards
Shilpa

[2019-09-06 13:54] NoaJunod opened #3861 "Prepare and upload your Dataset for Image Classification Retraining"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-02.html

Hi there, I am pretty new to SAP and I was following your tutorial "Customize the Image Classifier Machine Learning Foundation services on your trial SAP Cloud Platform for Cloud Foundry" to get started into Machine Learning.

When I reached Step 4 of the "Prepare and upload your Dataset for Image Class

[2019-09-06 20:37] agiguere opened #3862 "Enable the Push Notification service for your iOS app"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-hcpms-push-notifications.html

Please specify the step you are referring to

If your SCP trust is set to custom to proxy the authentication to an external IdP, this is probably the case of most enterprise App, that means we cannot used SAP ID service to assign the notification user role, how we do ? Does that means we will need to have 2

[2019-09-07 22:19] greg2git commented on #3796
resolved, thx for trying to help.

[2019-09-07 22:19] #3796 closed

[2019-09-08 20:18] CBasis opened #3864 "Set Up the SAP HANA Plugin for Microsoft Visual Studio -> on MacOS"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-visual-studio.html

The tutorial doesn't mention MacOS so it might not be possible to follow the tutorial with MacOS and VisualStudio(Mac).

I fail because there is no "ServerExplorer" like described for the WindowsVersion.

Does anyone know if there is just another way to reach the same goal .. or if not:   It should be mentioned that Visu

[2019-09-08 20:38] CBasis opened #3865 "How to download and install the HANA Eclipse plugin"
Tutorial URL: https://developers.sap.com/tutorials/hxe-howto-eclipse.html

Just a little typo:
In Step 7 it's written:
"For Docker environments follow instructions in 7B."

The Docker descriptions comes in the next step, but this step is named "8" in the meantime.

[2019-09-09 06:31] renejeglinsky commented on #3852
Hi @sumaiyaPK,
I just tested it and it worked for me.
Which OData did you choose during project generation?
Has the CDS build been successful?

Regards,
René

[2019-09-09 06:45] thecodester commented on #3865
@Lsubatin Can you help here?

[2019-09-09 07:30] SumaiyaPK commented on #3852
Hi Rene

Thank you for responding.
I have selected OData Version : OData V2.
Yes, The build was successful, but couldn’t open the link that shows OData.

Thanks & Regards!
Sumaiya PK
SAP Labs Pvt Ltd,
138 EPIP, Whitefield, Bangalore - 560066, India
☎ +91-8095433599

[sap-logo]

From: René Jeglinsky <notifications@github.com>
Sent: Monday, September 9, 2019 12:02 PM
To: SAPDocuments/Tutorials <Tuto

[2019-09-09 07:39] renejeglinsky commented on #3852
Can you give it a try again?
Maybe this issue was on the infrastructure side and not with the tutorial itself.

[2019-09-09 08:26] SumaiyaPK commented on #3852
Hi Rene

I tried this in Fiori-dispatcher "https://webidecp-fiori.dispatcher.int.sap.hana.ondemand.com/" (instead hanatrial), now it works.
Really not sure, why it wasn't working in the trial instance.

Thank you for the support.

Thanks and regards
Sumaiya

[2019-09-09 08:26] #3852 closed

[2019-09-09 12:01] vgup opened #3867 "Create ABAPDoc Comments in Your Class"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-abapdoc.html

Please specify the step you are referring to - Step 9

What is the correct answer. Why is the following incorrect
"! @parameter PLANETYPE | <p class="shorttext synchronized"> Type of plane.</p>

[2019-09-09 13:48] Lsubatin commented on #3865
Pushed changes 20 mins ago but they are not reflecting

[2019-09-09 13:53] Lsubatin commented on #3855
Hi Juan José,
 An HDI container consists of both the design time artifacts and the physical artifacts. That includes a schema and tables, for example. Not sure what you mean by manipulation of data, but you would do that in the HDI container like with any other database schema, just like it's shown on steps 4, 5 and 6 on the tutorial you for which you are creating an issue.

This kind of question

[2019-09-09 13:53] #3855 closed

[2019-09-09 14:13] entmike commented on #3831
Just an FYI - Someone is now complaining about this on the SAP forums:

https://answers.sap.com/questions/12857573/hxecheckupdatejar-jar2exe-has-expired.html

[2019-09-09 14:17] danielva opened #3869 "Installing SAP HANA HDB Client (Windows)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-hdb-client-windows.html

Step 5
sudo <unzipped_filepath>/HDB_CLIENT_<version>/hdbuninst

I don't believe sudo is a windows command.

[2019-09-09 14:17] Lsubatin commented on #3831
Thanks, Mike. Engineering is working on it

[2019-09-09 14:26] Lsubatin commented on #3690
Changed verbiage on prerequisites. Added EU10 while US10 is unavailable.

[2019-09-09 14:26] #3690 closed

[2019-09-09 14:32] Lsubatin commented on #3607
pushed to prod. Thanks Gregor!

[2019-09-09 14:32] #3607 closed

[2019-09-09 14:52] JCurrie27 commented on #3816
Closing 3816. Image tags updated from "036..." to "040..." in hxe-ua-install-using-docker, hxe-ua-install-using-docker-xsa.

[2019-09-09 14:52] #3816 closed

[2019-09-09 15:09] tobiashofmann opened #3870 "Add Service Logic to Consume Remote Address Data"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-5-srv-logic.html

There is a typo in step 3: "Now define another helper function SELECTת which looks like this:"

The function is named SELECT

[2019-09-10 09:08] thecodester commented on #3870
Fixed.

Thanks for pointing this out :-)

[2019-09-10 09:08] #3870 closed

[2019-09-10 09:11] thecodester commented on #3865
I see the updates

@Lsubatin Thanks for updating

[2019-09-10 09:11] #3865 closed

[2019-09-10 13:47] JCurrie27 commented on #3869
Hi Dan - Yes the above command should not include "sudo". Step 5 should read:
<unzipped_filepath>/HDB_CLIENT_/hdbuninst
We're updating the tutorial. Thanks.

[2019-09-10 13:47] #3869 closed

[2019-09-10 22:19] Lsubatin commented on #3853
pushed change, thanks!

[2019-09-10 22:19] #3853 closed

[2019-09-11 00:00] sebastianduque7 commented on #3861
Hello:
I have the same issue. I could execute "cf sapml fs init" but then i cannot execute put command.
Did you find a solution ?
Could you help me , please?

[2019-09-11 08:51] NoaJunod commented on #3861
No I haven't found a solution yet, sorry.

[2019-09-11 09:38] andersonmorita opened #3877 "Use the Object Detection API from a REST Client"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-img-object-detection.html

Please specify the step you are referring to step 3(validation my result)

I am getting Error. Could you check it out ? Cheers
{
  "error": {
    "code": 308,
    "message": null,
    "requestId": "83ce73f2-ddce-444d-5cc2-2f6751ffed05"
  }
}

[2019-09-11 11:50] #3877 closed

[2019-09-11 13:09] BaerbelW opened #3879 "Learn about OData Fundamentals"
Tutorial URL: https://developers.sap.com/tutorials/odata-01-intro-origins.html

Please specify the step you are referring to
Steps 3 & 4

The links indicated in these two steps don't currently (Sept. 11, 2019) show what the tutorial has.

The file at https://services.odata.org/V3/Northwind/Northwind.svc/ only shows one long string in Firefox:
"DefaultCategoriesCustomerDemographicsCustomersEmployee

[2019-09-11 17:04] miturbe opened #3882 "Set Up Connection Between Google BigQuery and SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/gcp-hxe-evt-bq-1.html

Within step 2, the instructions state "Copy the contents into the editor".
However, the "contents" is an IMAGE! So there is no way to copy/paste and the contents of setup.sh are nowhere to be found...

[2019-09-11 17:11] neilobremski opened #3883 "Setup AWS - Create a SageMaker Notebook"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aws-eml-02.html

Step 4 confirmation is broken. I'm successfully getting the tensorflow and Python versions but pasting the Python version into the confirmation box results in a "wrong answer".

I'm pasting in:

```Python 3.6.5 :: Anaconda, Inc.```

The terminal looks like this:

[code]

I see the tutorial shows tensorflow version 1.12.0 so po

[2019-09-11 17:29] xupiter opened #3884 "Setup AWS - Create a SageMaker Notebook"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aws-eml-02.html

Validation for "Step 4" is always failing.

[2019-09-11 19:29] sebastianduque7 opened #3885 "Prepare and upload your Dataset for Image Classification Retraining"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-02.html

Hi all:

It seems that the storage service is down. I've done all the steps, but when i try to upload data to the fs, it does not work.

I've initialized the storage as in this guide:
https://help.sap.com/viewer/a86b12f81f424c45a0e7c83c1d5025c4/1908B/en-US/65df4d78cb6b485aab2c9fb11ae89ac1.html

I got th

[2019-09-12 04:48] thecodester commented on #3884
@jarjarbentley: I tested and the tutorial is working according to the current rules. Please check.

[2019-09-12 04:56] thecodester commented on #3879
@BaerbelW Both links return for me properly formatted content. Can you check again? If the problem persists, please reopen the issue.

@qmacro FYI

[2019-09-12 04:56] #3879 closed

[2019-09-12 05:37] BaerbelW commented on #3879
Thanks! It seems to be a browser issue where Firefox (68.0.2esr) doesn't show/format the content while Chrome (Version 76.0.3809.100) opens the file and displays the expected content, albeit with this note at the top "This XML file does not appear to have any style information associated with it. The document tree is shown below."

Could it make sense to add a note in the tutorial about potential

[2019-09-12 06:18] thecodester commented on #3879
Well ... I opened them in Firefox (version 69.0 64-bit, Windows) and it displayed fine, formatted and all.

[2019-09-12 07:26] qmacro commented on #3879
Hi @BaerbelW ! Love that you're trying out these tutorials.

I think that if we started to add notes to account for glitches in software that we don't control, the tutorials would become unwieldy. BTW, the note about not having any style associated" is standard behaviour from Chrome, and isn't seen as an issue (altho I do agree it's not particularly attractive! :-))

[2019-09-12 08:06] Endersk opened #3888 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
Tutorial URL: https://developers.sap.com/tutorials/xsa-create-user-provided-anonymous-service.html

Step 6: Grant privileges to the schema

**Build failed using "cfg/plain.hdbgrants":**
`Processing grants files... Processing "cfg/plain.hdbgrants"...
Using grantor service "ServiceName_1" of type "sql"Error: Error executing: GRANT "SELECT","SELECT METADATA" ON SCHEMA "PLAIN" TO "DB_1#OO" WITH GRANT

[2019-09-12 09:02] ssineriz opened #3890 "Check your environment (MovieLens SQL)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-sql-01.html

At step #2: the repository https://tools.hana.ondemand.com/oxygen/ doesn't contain the SAP HANA Tools Package (anymore?)
It can be found currently only in the https://tools.hana.ondemand.com/2019-03 repository, which doesn't install on Eclipse 2019-06.
Eclipse Error:
An error occurred while collecting items to be inst

[2019-09-12 10:01] BaerbelW opened #3891 "Create an Account on the Gateway Demo System - not accepting URL entered"
Tutorial URL: https://developers.sap.com/tutorials/gateway-demo-signup.html

Please specify the step you are referring to
Step 5 and the validation at the end

It doesn't accept the URL but it's not clear why as it should be the correct one:
https://developers.sap.com/tutorials/gateway-demo-signup.html

There were similar issues with other tutorials where the validation only worked if the solution

[2019-09-12 10:37] #3888 closed, assigned to Lsubatin

[2019-09-12 14:44] i042416 opened #3892 "cannot find created communication scenario when creating new communication arrangement"
dear colleagues,

thanks a lot for creating such helpful tutorials, I learned a lot through them.

One issue I found:

url: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

step9: it says we should use the communication scenario created in previous tutorial:https://developers.sap.com/tutorials/abap-environment-business-service-provisioning.html

![clipboard1,1]

[2019-09-13 00:16] jiayiwangjw opened #3893 "Install SAP HANA, express edition on Ubuntu on Google Cloud Platform (XS Advanced applications)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-gcp-ubuntu-xsa.html

Please specify the step you are referring to

in step 2, I input
wget --no-check-certificate -c --header "Cookie: oraclelicense=accept-securebackup-cookie"
https://download.oracle.com/otn/java/jdk/8u221-b11/230deb18db3e4014bb8e3e8324f81b43/jre-8u221-linux-x64.tar.gz

it shows the below error:

Resolving download.oracle.com

[2019-09-13 12:01] BaerbelW commented on #3891
I tried again today and while doing that realised that I had pasted the wrong link in the message above and - even though I think that it's unlikely - I may have accidentally tried with that link in the tutorial as well.

When I tried now with the following link, it worked:
https://sapes5.sapdevcenter.com/sap/bc/gui/sap/its/webgui?sap-client=002&sap-language=DE

It however gives an error if I try

[2019-09-13 13:28] BaerbelW opened #3894 "Continue Your OData Exploration with EPM"
Tutorial URL: https://developers.sap.com/tutorials/odata-02-exploration-epm.html

Please specify the step you are referring to
Step 6: Reduce the number of properties returned

When using the URL as shown in the tutorial to return data for the first entry, the "AverageRating" is "0.00" and no reviews are found:
https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV/Products?$top=1

[2019-09-13 15:36] Chet77 opened #3895 "Testing API Business Hub APIs with Curl"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-test-locally.html

Please specify the step you are referring to -

Issue in pasting and moving on from last step i.e. step 5

These are my results for "first" record ($top=1)
curl --request GET --url 'https://sandbox.api.sap.com/successfactors/odata/v2/User?%24top=1&%24select=firstName%2ClastName%2CjobTitle' --header 'APIKey:XXXX' --header

[2019-09-15 03:59] thecodester commented on #3891
I'm not sure what might have happened, but it should work as long as you have the right domain and path -- what you type in the querystring should make no difference. I did exactly that -- with `?sap-client=002&sap-language=ENasdfadsdassadasdsdadsdasdasdasdadssffasfafffassdfsdf` as the query string -- and I get completed.

[2019-09-15 05:14] thecodester commented on #3867
@julieplummer20 Please let me know if I can help. According to the rule, the period after plane is not supposed to be included. The same is true for the space before Type -- and though we ignore extra whitespace, I don't think we ignore word breaks.

@vgup Do you want to try again without space and period?

[2019-09-15 08:16] qmacro commented on #3894
Thanks @BaerbelW that's a good suggestion. Interestingly I just tried the URL above (the first one in your comment) and I get a product with 3 reviews. Are you still getting one with no reviews and average rating 0.00? I'm wondering why that might be.

In any case, I will add a note to this effect. Thank you!

[2019-09-15 08:29] qmacro commented on #3894
Done https://github.com/SAPDocuments/Tutorials/commit/c6d23a443ca1adcc29383ce162ad5a0cf3745e56

[2019-09-15 08:29] #3894 closed

[2019-09-16 10:24] KevinMuessig commented on #3862
Hi @agiguere,

I am currently traveling but will take a look as soon as I get back home.

Just to be clear: You want to send notifications over Mobile Services to your app? You have configured the APNs with the certificate in Mobile Services as well? Now you want to assign the Notification User Role in SCP but using your own IDP instead of the SAP IDP?

Thanks

[2019-09-16 11:23] mskergeth opened #3901 "Deploy Application to Cloud Foundry with SAP Cloud SDK for JavaScript"
Tutorial URL: https://developers.sap.com/tutorials/s4sdkjs-deploy-application-cloud-foundry.html

At Step 1, the command to configure bash a shell is missing the set keyword.
Current command: npm config script-shell <P:\ath\to\your\bash.exe>
Correct command: npm config **set** script-shell <P:\ath\to\your\bash.exe>

[2019-09-16 11:44] mr-flannery commented on #3901
Thanks for the heads-up, I will fix it!

[2019-09-16 14:02] vgup commented on #3867
The recommended solution worked

[2019-09-16 14:02] #3867 closed

[2019-09-16 15:23] Lsubatin commented on #3882
The tutorial starts with "this tutorial can only be completed at TechEd", and the availability of such script is one of the reasons why. Unfortunately, we cannot share that script.

However, the script does the same that is described here: https://codelabs.developers.google.com/codelabs/sap-hana-connect-to-bigquery/#0

[2019-09-16 15:23] #3882 closed

[2019-09-16 18:45] prithamr opened #3905 "Create Communication System to Connect to SAP Cloud Platform ABAP environment."
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-s4hanacloud.html

Please specify the step you are referring to
Step 1: Download trust
Open SAP Cloud Platform Cockpit

Can you specify the URL of the SAP Cloud Platform Cockpit or specify how to find this URL

[2019-09-16 19:24] prithamr opened #3906 "Create a Communication Arrangement for Outbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-env-create-comm-arrangement-api.html

Please specify the step you are referring to
Step 1: Create a Cloud Foundry destination service instance
What is the URL for the SAP Cloud Cockpit or how do I navigate to it?

[2019-09-17 11:12] andersonmorita opened #3908 "Add Security and More to Your SAP Cloud SDK App"
Group URL: https://developers.sap.com/group.cloudsdk-more-features.html
"Secure Your Application on SAP Cloud Platform Cloud Foundry" - The step 7 there is no button to click that it is done.

[2019-09-17 16:49] rafaelfigueiredo-l commented on #3850
Hi @julieplummer20. Following the Tutorial was not very explicit how to get the logon data. After some research I understand that I need to install miniSap and then use the default logon data generated for developer user. Now I'm ok with and this thread can be closed.

I can achieve this following the tutorial bellow created by you. Thanks twice.
https://blogs.sap.com/2017/09/04/newbies-guide-inst

[2019-09-17 16:49] #3850 closed

[2019-09-18 05:54] DinavahiR opened #3912 "Test Hyperledger Fabric Chaincode API"
Tutorial URL: https://developers.sap.com/tutorials/blockchain-test-chaincode.html

Please specify the step you are referring to:
Copy and paste the block Writes entry here and click Submit Answer

Whatever we paste from the Writes entry, system rejects it. What is expected as answer?

[2019-09-18 07:13] heytombeck commented on #3912
Hi there - based on the key and value fields provided in step 4, the write entry should be:

[code]

Does this work for you?

[2019-09-18 07:18] DinavahiR commented on #3912
Tried that, didn't work.

Also tried including the transaction and chaincode id... Nothing works

On Wed, Sep 18, 2019, 12:43 PM Tom Beck <notifications@github.com> wrote:

[2019-09-18 07:30] heytombeck commented on #3912
That's unfortunate, sorry about that. Can you try taking a screen grab for me and attaching that here? I've tried to replicate this and it's working for me in my standard account.

![Step 6 answer](https://user-images.githubusercontent.com/43130875/65126021-d2016600-d9f6-11e9-8aee-0066ddbeca6c.png)

[2019-09-18 07:45] DinavahiR commented on #3912
Here is the screenshot

[image: image.png]

Regards
Rajasekhar Dinavahi

Mobile: +91 9581515333

Your value doesn't decrease based on someone's inability to see your worth

On Wed, 18 Sep 2019 at 13:00, Tom Beck <notifications@github.com> wrote:

[2019-09-18 10:50] jakes2255 opened #3913 "View the SAP Cloud Platform from 10,000 Meters"
Tutorial URL: https://developers.sap.com/tutorials/cp-explore-cloud-platform.html

Please specify the step you are referring to
Step7: 'Done' button is not working
Step8: 'Done' button is not working.

Thanks,
Jakes

[2019-09-18 10:58] thecodester commented on #3913
But the other DONE buttons work? I just tried and it was set to completed for me. Can you try again? Does this happen to any other tutorial?

[2019-09-18 11:21] jakes2255 commented on #3913
Thank you Daniel very quick response and fix on the same. I can see the buttons turned Green(Done).

Thank you,
Jakes

[2019-09-18 11:21] #3913 closed

[2019-09-18 11:35] heytombeck commented on #3912
I'm just seeing '[image: image.png]' here currently.

[2019-09-18 14:35] DinavahiR commented on #3912
Regards
Rajasekhar Dinavahi

Mobile: +91 9581515333

Your value doesn't decrease based on someone's inability to see your worth

On Wed, 18 Sep 2019 at 17:05, Tom Beck <notifications@github.com> wrote:

[2019-09-18 22:46] agiguere commented on #3862
Hi Kevin, yeah, I have worked in the past with APNS (without SAP), I know
how it works,

I can see that my app successfully push it's token to SCPms, I am also able
to take that token and with a custom JavaScript program I made, push it to
my App (just by sending it to APNS)

now I want to send it from SCPms cockpit, and also I want to test your REST
API, cause in real life we will probably dispat

[2019-09-19 06:12] thecodester commented on #3912
@DinavahiR I don;t see the image either -- perhaps use the GitHub web interface for messaging

[2019-09-19 11:23] MatKuhr commented on #3908
Hi, thanks for raising this. I adapted the tutorial but it will take some time until the change hit's the live servers.

[2019-09-19 12:56] jakes2255 opened #3919 "Configure Mobile Services in the iOS Assistant"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-scpms-teched18-01.html

Please specify the step you are referring to: Prior to Step 1, there is a requirement to have the "Have downloaded SAP Cloud Platform SDK for iOS version 3.0 SP01" installed on the local machine.

While following the link provided to download, it redirects to another page(as it was moved), from the result page, if

[2019-09-19 15:15] jakes2255 opened #3922 "Create an MDK Offline App"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-dev-kit-offline-app.html

Please specify the step you are referring to:Step 5

- After clicking the Open Link , it does not show a toast message to launch SAP Mobile Services Client.

- Sometimes it shows the SAP Mobile Services for a second, but the app does not get launched in SAP Mobile Services Client.
Kindly check.

Thanks,
Jakes

[2019-09-19 18:23] DinavahiR commented on #3912
![Error](https://user-images.githubusercontent.com/37798957/65270268-6de6bb00-db38-11e9-8ff4-7db2e3a3603b.png)

Hope you can see the error I encounter in Step 6. Help me please!

[2019-09-19 18:31] heytombeck commented on #3912
Oh I see, it looks like your key field is "id-001" and the answer is set to only allow "id001" without the dash. It's a very minor difference, but hopefully removing that (even just for your answer here) should allow you to successfully submit the answer.

Thanks for your patience with this and for raising an interesting point about the way the answers are scored.

[2019-09-19 18:35] DinavahiR commented on #3912
Heytombeck,
Thanks a ton! Am able to successfully complete step 6.
Have a nice evening!
Regards,
Raj

[2019-09-19 19:51] agiguere commented on #3862
quick update, I can now see the push notification in SCPms, I think it was
because I only add 1 device register, now we have multiple and I can see it

if I tried to sent a notification, it says notification failed, can't find
why or where to check for root cause analysis ?

thanks

On Wed, Sep 18, 2019 at 6:46 PM Alexandre Giguere <
alexandregiguere81@gmail.com> wrote:

[2019-09-20 04:43] jitendrakansal commented on #3922
Hello Jakes,
Please provide more details:

- You are trying to on-board on iOS client or Android client?
If iOS, what is iOS version? can you also find "SAP Mobile Services client" version, go to settings and look for "Mobile Svcs" app and then application version

If it is Android, you switch to Android tab and follow the instructions (please dont use Lighting QR code scanner app, you can use [Ba

[2019-09-20 05:05] jakes2255 commented on #3922
Thank you Jithendra,

I am trying Android Client.
Will try with Barcode scanner app  and update here.

Thanks,
Jakes

[2019-09-20 05:19] jakes2255 commented on #3922
Thanks again Jithendra, with the Barcode scanner, the application opened in SAP Mobile Service Client.

Many thanks for such wonderful end to end tutorials, Chill.

Kind Regards,
Jakes

[2019-09-20 05:19] #3922 closed

[2019-09-20 09:54] jakes2255 opened #3927 "Create a Customer List Page in an MDK App"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-dev-kit-list-page.html

Please specify the step you are referring to: Step 1.

It was found that to set something(city, first name and last name of customers entity set) as the binding expression,  "Insert to Expression"  has to be clicked.

Bypassing this and clicking on the 'Ok' button directly was not setting the values bound.

Kindly

[2019-09-20 11:14] jakes2255 commented on #3927
Double Clicking would be sufficient for the same instead, my mistake.

Thank you,
Jakes

[2019-09-20 11:14] #3927 closed

[2019-09-20 12:20] Raghav24 opened #3928 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Please specify the step you are referring to : step 6 : Click on $metadata, then click the Preview tab.

I am getting , this error, "Access-Control-Allow-Origin" , " has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is prese

[2019-09-20 13:24] GoncharSY opened #3929 "Create an SAPUI5 App from the Command Line"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html

Step 5: Deploy the MTA archive.

I always get this error:
Service operation failed: Controller operation failed: 502 Updating service "dest_SecondApp" failed: Bad Gateway: Error creating service "dest_SecondApp" from offering "destination" and plan "lite": Service broker error: Quota limit exceeded. Instance creation not a

[2019-09-20 20:40] tcmb commented on #3841
This is fixed now with the PR, thanks!

[2019-09-20 20:40] #3841 closed

[2019-09-22 04:55] thecodester commented on #3927
@jitendrakansal FYI

[2019-09-22 05:06] thecodester commented on #3912
Do you plan to update the question? You can specify a validation where it is a substring and does not need to match completely.

[2019-09-22 06:59] jitendrakansal commented on #3927
@jakes2255   glad you got it working. Yes, double clicking is sufficient to insert the binding to expression section.

[2019-09-22 07:00] jitendrakansal commented on #3531
@thecodester i haven't heard back from OP. Assuming it has worked for him.
 In case, you want to close this issue.

[2019-09-22 07:47] wilchemh opened #3935 "Connect with Eclipse to HANA on GKE"
After followign this tutorial.
https://developers.sap.com/tutorials/hxe-k8s-advanced-analytics.html

I want to connect to the hana instance thru eclipse with the hana tools, but when I put in the external IP, instance number and tenant name it just says the host is unreachable.

Curious if anyone know what is missing that would allow this configuration to be reachable from Eclipse with hana tools.

[2019-09-22 08:15] #3531 closed

[2019-09-22 10:34] andersonmorita commented on #3908
No worries mate....Cheers

[2019-09-22 13:26] Lsubatin commented on #3935
There is no reason for HANA studio not to work if SQLPAD works, though I haven't tried it since its deprecation.

This forum is for problems with the content of the tutorial and not tech support. Please ask a question in answers.sap.com including screenshots of how the same parameters work in SQLPAD and the trace log from HANA Studio.

[2019-09-22 13:26] #3935 closed

[2019-09-22 14:57] Lsubatin commented on #3893
Updated instructions to manual download/upload

[2019-09-22 14:57] #3893 closed

[2019-09-22 17:19] ravipativenu opened #3938 "Get a Free Trial Account on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-trial-account.html

Please specify the step you are referring to

Step 6: Validate the SAP Cloud Platform cockpit URL

Not accepting though correct answer is given

[2019-09-23 04:35] thecodester commented on #3938
What answer do you give? Are you in Neo?

@IObert This will have to be fixed in any event by TechEd Barcelona -- screenshots of cockpit will change.

[2019-09-23 07:36] jakes2255 opened #3940 "Continue Your OData Exploration with EPM"
Tutorial URL: https://developers.sap.com/tutorials/odata-02-exploration-epm.html

Please specify the step you are referring to: Stp 6.

While submitting the answer for Step 6,  SubCategory/Name. 'Technical Error' is shown and button is not allowing to be submitted.

Kindly enable the button to proceed with the step.

Thank you,
Jakes

[2019-09-23 08:00] thecodester commented on #3940
Can you try again ... I believe there was indeed a technical error with the tutorial system at that time. I am able to complete the step.

[2019-09-23 09:04] tiosteel opened #3942 "Use the Human Detection API from a REST Client error 308"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-rest-img-human-detection.html

Please specify the step you are referring to:

Step 2.

My response for the query of the example is
{
  "error": {
    "code": 308,
    "message": null,
    "requestId": "0211843e-952e-4ef8-5e8e-a4963378b26c"
  }
}

At the same time the FACE_DETECTION service works correctly with the same authorization / heade

[2019-09-23 11:27] declanmoore4 opened #3947 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

After successfully following first few steps and building successfully, build fails once initial data files and .hdbtabledata file are added and built.
[code]

![Screenshot 2019-09-23 at 12 19 30](https://user-images.githubusercontent.com/55694305/65421785-88e95180-ddfc-11e9-9d47-3857f92708fc.png)

![Screenshot 2019-09

[2019-09-23 11:59] jakes2255 commented on #3940
Thank you for the prompt response Daniel. I am able to mark the status as completed.

Regards,
Jakes

[2019-09-23 11:59] #3940 closed

[2019-09-23 16:36] karimmohraz commented on #3861
it seems that there was a misconfiguration regarding the trial account. This is fixed now.
Please do cf logout and logoin again. After command 'cf sapml fs init' it should work.
Note: you can get the storage credentials here:
<IMAGE_RETRAIN_API_URL>/storage
(The endpoint should look like xxxx.files.yyyy....com rather than xxxx.storage.yyyy....com.)
As an alternative to cf sapml fs put you can also

[2019-09-23 18:50] IObert commented on #3929
Hi,

I understand your confusion. The term "quota" refers to the service instance in this case (and not to the memory of your app runtime. The trial account only allows you to have two "destination service instances" in use at a time. You can fix the issue by [removing the services instances ](https://answers.sap.com/questions/12684501/error-while-running-sapui5-app-in-webide--service-.html)via th

[2019-09-23 20:29] michalgromiec opened #3950 "Datahub dev version - invalid download link"
Tutorial URL: https://developers.sap.com/tutorials/datahub-docker-v2-setup.html

Please specify the step you are referring to

Step 2: Download SAP Data Hub, developer edition

The link indicated in instructions redirect to site with message that file has been moved. Could you please update link and refer to valid address?

[2019-09-24 06:47] jakes2255 opened #3951 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to: Step1 or Step2 "Done" buttons do not work.

I am not allowed to change the status to 'Green' of these buttons.

Kindly check.

Thank you,
Jakes

[2019-09-24 07:36] julieplummer20 commented on #3906
Hi Prithamr,
Can you please send me an email asap? I'm first dot last at sap com
Also, could you please close this?

Thanks Julie.

[2019-09-24 07:45] thecodester commented on #3906
@prithamr If you are from SAP, its best to identify yourself in your profile. The link you provided is for SAP employees, and this is a public forum :-)

[2019-09-24 07:45] #3906 closed

[2019-09-24 09:01] #3861 closed

[2019-09-24 09:44] schneidertho commented on #3950
Hi,
thanks for reporting this issue. We have fixed it. The tutorial has been changed to link to https://www.sap.com/registration/trial.f47300f6-63b8-4f22-b189-dbadd3c903d6.html?id=0050000001302052018&external-site=aHR0cHM6Ly9kZXZlbG9wZXJzLnNhcC5jb20vdHJpYWxzLWRvd25sb2Fkcy5odG1s
(it might take a few hours before the sap.com page reflects the change)
Best regards
Thorsten

[2019-09-24 09:48] sebastianduque7 commented on #3861
Hi all, I comfirm that this is already fixed. I could execute the example correctly.
Best regards
Sebastián

[2019-09-24 10:25] jakes2255 commented on #3951
no problem, as per the usual pattern, it works in the afternoon time(once again)..😄

Thank you,
Jakes

[2019-09-24 10:25] #3951 closed

[2019-09-24 11:36] MatKuhr commented on #3908
This was fixed in #3953 and can be closed.

[2019-09-24 12:07] declanmoore4 commented on #3947
Issue resolved.

By editing `bookshop/db/src/data-model.cds` to include `"buyer : String;"` under Orders entity, then errors emerged for date missing from `MY_BOOKSHOP_ORDERS` so updated to include `"date : Date;"`

Rebuilt `bookshop/db` and build was successful. Data now visible when application is run.

![image](https://user-images.githubusercontent.com/55694305/65510120-0cbe3f00-decc-11e9-92d1-

[2019-09-24 12:07] #3947 closed

[2019-09-24 16:39] adadouche opened #3957 "Set Up a Basic Mock S/4HANA Service"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-1-mock-service.html

the validation is not correct as @sap/generator-cds is not part of the generated/retrieved node_modules.
HEre is a VS Code screenshot:

![image](https://user-images.githubusercontent.com/1446764/65531645-36b53880-deaf-11e9-8560-88f2505c8412.png)

[2019-09-24 16:43] adadouche opened #3958 "Set Up a Basic Mock S/4HANA Service"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-1-mock-service.html

This is for step 3.

The link to the Download for API_BUSINESS_PARTNER.json should be something like this so that you can directly save instead of going to GitHub, then switch to the raw viaw:

https://raw.githubusercontent.com/SAPDocuments/Tutorials/master/tutorials/cap-cloudsdk-1-mock-service/API_BUSINESS_PARTNE

[2019-09-24 17:49] adadouche opened #3959 "Create a Frontend with SAP Fiori Elements and Annotations"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-6-fiori-frontend.html

step 1: the "At the root URL" point to this:
[code]
instead of : http://localhost:4004/

[2019-09-24 18:10] #3957 closed

[2019-09-24 20:33] brunoursine opened #3960 "Create a Database Table"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-table.html

On "Step 5: Add the field bank, based on a new data element"

The system is not letting use the domain CHAR0032. I have tried several others but got the message: "Use of Domain CHAR0032 is not permitted.".

The same happens when I try to use any "Standard" Data Element.

I have searched whether there was any warning or

[2019-09-25 07:18] thecodester commented on #3959
I assume DJ fixed already -- can you check if this is still an issue?

[2019-09-25 09:14] GoncharSY commented on #3929
Thank you very much!
This solved my problem.

Maybe this link is also useful to someone: [Delete Service Instances Using the Cockpit](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/f56d4ae8bc5e4199a6d949ab8c49a447.html)

[2019-09-25 09:14] #3929 closed

[2019-09-25 10:35] julieplummer20 commented on #3850
Glad to hear, @rafaelfigueiredo-l. Thanks for closing. Hope you enjoy!

[2019-09-25 11:56] oleg-duvanayev commented on #3605
i have the same issue. Do anybody know how to solve it ?
br

[2019-09-25 11:59] thecodester commented on #3605
@AstridHerbst Can you answer?

[2019-09-25 12:05] qmacro commented on #3959
Fixed already. Still pending the fix in the tutorial rendering (to sort the cause rather than this symptom, but that's not to track here.

[2019-09-25 12:05] #3959 closed

[2019-09-25 12:07] qmacro commented on #3958
I'd prefer to leave this as it is - it seems nobody had an issue with this in Day 1 of SAPTechEd and I like to expose people to how tools like GitHub actually work, rather than try to mask it from them. So on reflection, I will leave this as it is. But seriously, thanks for this sort of feedback, keep it coming!

[2019-09-25 12:07] #3958 closed

[2019-09-25 16:43] markgreen-deloitte opened #3966 "Create a Workflow Project from a Template"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-create-project.html

Please specify the step you are referring to 4. The Business Process Management category is not available to select.

[2019-09-25 16:51] markgreen-deloitte commented on #3966
Update Step 2 part 4.

[2019-09-25 21:12] awagreich77 opened #3967 "Create a Cloud Foundry Account"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-create-account.html
Step 3: Verify your account
I has tried to get a Foundry Trial while doing the tutorial "Deploy Your First SAPUI5 App to Cloud Foundry".  It started with trying to get a NEO trial, not a Foundry Trial.  When I tried to set the Foundry it failed.  So I tried to get a Foundry Trial, and when it said to verify the phone numb

[2019-09-26 07:17] I323780 opened #3968 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to Step 4: Deploy the archive to Cloud Foundry
Right-click on the project and select Deploy and Deploy to SAP Cloud Platform.

It should be "Right-click on the .mtar file and select ..."

[2019-09-27 08:03] bgontijo opened #3974 "Maintain a Communication Arrangement for Inbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Please specify the step you are referring to

[2019-09-27 14:28] GoncharSY opened #3978 "Import your SAP Build project into SAP Web IDE"
Tutorial URL: https://developers.sap.com/tutorials/build-import-webide.html

Step 8: Run your application

The tutorial tells you to run the file **'testFLPService.html'**.
But this results in a 404 error from the OData service.
And the address in the browser is also not correct.
![404_NotFound](https://user-images.githubusercontent.com/47101945/65776764-6aac8a00-e14b-11e9-86cd-538e47aabfd0.PNG)

[2019-09-27 15:57] jitendrakansal opened #3979 "Enable SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-multi-cloud.html

screenshots need to be updated as per current UI changes in CP cockpit landing page

[2019-09-27 15:58] jitendrakansal opened #3980 "Get a Free Trial Account on SAP Cloud Platform"
Tutorial URL: https://developers.sap.com/tutorials/hcp-create-trial-account.html

screenshots need to be updated as per current UI changes in CP cockpit landing page
step#5

[2019-09-27 16:00] jitendrakansal opened #3981 "Create a Cloud Foundry Account"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-create-account.html

screenshots need to be updated as per current UI changes in CP cockpit landing page
default is **Home [Europe (Rot) - Cloud Foundry - Trial]**

[2019-09-28 08:53] jakes2255 opened #3982 "Configure Initial Setup for SAP Mobile Cards"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-1-setup.html

Please specify the step you are referring to:Step 2
Hi SAP Team,
Under Step2, " Mobile Services cockpit " shows a Message that "
Mobile Services is not enabled. The service is required for upgrade. Check SAP Help Portal for instructions."
Further again in Ste2,  at sub step(9), when I switch back to

[2019-09-30 12:25] vgup opened #3988 "Add Transactional Behavior to Your Core Data Services"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-transactional-enablement.html

Please specify the step you are referring to: Step 5

Following error is returned by eclipse
Description	Resource	Path	Location	Type
BEHAVIOR "ZI_BOOKING_VG" cannot be implemented in class "Z_I_BOOKING_VG".	z_i_booking_vg.aclass	/TRL_EN_VG/.adt/classlib/classes/z_i_booking_vg/z_i_booking_vg.aclass	li

[2019-09-30 13:16] IObert commented on #3968
Good catch! Thanks a lot

[2019-09-30 13:20] #3968 closed

[2019-09-30 14:09] vgup commented on #3988
Looks like it works as a managed implementation

[2019-09-30 15:59] amandeepbal opened #3990 "Create an SAP Cloud Platform ABAP Environment Trial User"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html

Please specify the step you are referring to

I Keep getting following error on Eclipse while making connection to the cloud instance via service key

" **An error occurred during JWT validiation. The JWT is expired. Therefore please check your local system clock.**"

[2019-09-30 20:01] jiayiwangjw opened #3991 "Use SAP HANA Tools for Eclipse as SQL Query Tool with SAP HANA, express edition"
Tutorial URL: https://developers.sap.com/tutorials/mlb-hxe-tools-sql-eclipse.html

hi,

I stuck in Step 6: Add a connection to the System database. I have provided host name, SYSTEM user credential, when click finish, it shows the below error:

java.lang.NoClassDefFoundError: javax/xml/soap/SOAPException

I checked stackoverflow, it seems the solution is
#############
JavaSE 8 includes package jav

[2019-09-30 22:43] jiayiwangjw opened #3992 "SAP HANA XS Advanced - Clone and run SHINE applications"
Tutorial URL: https://developers.sap.com/tutorials/xsa-ml-e2e-access-shine.html

I have completed step 5.

In step 6, I only see folder user-db, core-db, user-xsjs, but I don`t see user-js, core-js, user-java so that I am not able to run as node.js application in these 3 folders.

I run as node.js application in folder user-xsjs successfully. But failed in running launchpad in the web folder.

Cou

[2019-09-30 22:57] Lsubatin commented on #3992
This tutorial is pending deletion. I would recommend following the instructions in the README file for the SHINE repository: https://github.com/SAP/hana-shine-xsa/blob/master/SHINE-XSA.md

You would run core-node and core-xsjs for SPS04. Also, please check the dependencies listed ion the readme as there are some that will be missing for the SPS04 version: https://github.com/SAP/hana-shine-xsa/blob

[2019-10-01 04:34] andersonmorita opened #3993 "Bundle Data (via JavaScript) SAP Data Hub, Developer Edition"
Tutorial URL: https://developers.sap.com/tutorials/datahub-pipelines-v2-bundledata.html

Please specify the step you are referring to 4

The message "Technical Error" is shown no matter my answer. Could you please check it out?

Thank you in advance.

[2019-10-01 10:08] IObert commented on #3967
Hi @awagreich77,

I'm sorry to hear that. I agree that this process is not optimal today. Please contact sso@sap.com. The SSO colleagues should be able to reset the attempts.

Please let me know if they were able to help you.

Regards,
Marius

[2019-10-01 10:29] IObert commented on #3928
Hi,

sorry for the late response! This is strange and shouldn't happen. I just tried to reproduce this and it works fine for me.
Can you please check if you still have the same issue and if it appears in other browsers too?

[2019-10-01 10:33] IObert commented on #3858
Hi @EkaterinaArena,

sorry for the late reply! It seems that the destination service is not activated in your trial account. Can you [check your entitlements](https://blogs.sap.com/2019/06/05/the-new-way-to-manage-entitlements-and-quotas-on-sap-cloud-platform-cockpit/) to make sure the "destination" service plan is available in your subaccount?

[2019-10-01 16:09] 38ajay opened #3996 "Deploy your app to SAP Fiori launchpad"
Tutorial URL: https://developers.sap.com/tutorials/webide-fiori-deploy.html

In Step 9.

_In your running Fiori Launchpad, copy the Launchpad URL and paste it into the field below and click Validate._

The screenshot of the tutorial step is missing.

[2019-10-01 16:23] brunoursine opened #3997 "Configure the Development Environment"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-configure-dev-env.html

This Tutorial is out of date.

[2019-10-01 22:22] jiayiwangjw opened #3998 "MovieLens with SAP HANA APL Recommendation (MovieLens App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-movielens-05.html

in step 10, I tried to build HANA DB table, here is the error I see:

$$$$$$$$$$$$$$$$$
Deploying "src/hdb/apl/views/recommendation_contentbased.hdbview"... ok  (0s 325ms)    Deploying "src/hdb/apl/views/recommendation_collaborative.hdbview"... ok  (0s 332ms)

Error: com.sap.hana.di.afllangprocedure: Database error 129: :

[2019-10-01 23:12] jiayiwangjw opened #3999 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Preconfigured VM)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-apl-vm.html

when I execute step 2, HXEDownloadManager_linux.bin linuxx86_64 vm apl.tgz

I see the below error:

no java in (/hanna/shared/HXE/xs/bin:urs/sap/HXE/HDB90/exe/krb5/bin:usr/sap/HXE/HDB90...........)
this program is generated by unregistered JarExe and it has expired to run for DEMO use

Help please. thanks.

[2019-10-02 07:08] thecodester commented on #3988
@vgup Is this still an issue?

[2019-10-02 07:28] mervey45 commented on #3990
@amandeepbal Have you a valid Cloud Foundry trial account? If you have one, that please delete your service key in SAP Cloud Platform and create it again. You also need Europe (Frankfurt) as a region. Please try this out.

[2019-10-02 08:11] jitendrakansal commented on #3982
@jakes2255
Regarding warning message "Mobile Services is not enabled" -  this is due to there is new release of mobile services rolled out in CF recently.

you may check details here: https://help.sap.com/viewer/468990a67780424a9e66eb096d4345bb/Cloud/en-US/a27b7a29aeec4201b7faf684e93c71df.html

For another issue - regarding pop up..
Could you share details? When you navigated to "SAP Mobile Cards"

[2019-10-02 12:06] thecodester commented on #3974
If you meant to open issue, feel free to reopen and specify issue

[2019-10-02 12:06] #3974 closed

[2019-10-02 12:07] mervey45 commented on #3666
Hi,

you can only use Cloud Foundry Trial. We do have a tutorial for that now: https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html

Best regards,
Merve

[2019-10-02 12:08] mervey45 commented on #3892
Hi @i042416 ,

it seems like you didn't activate your communication scenario.
Can you try this out?

Best regards,
Merve

[2019-10-02 12:09] mervey45 commented on #3617
Hi @DerGuteWolf,

thank you for your comment. We will update this tutorial.

Best regards,
Merve

[2019-10-02 12:10] mervey45 commented on #3807
Hi @prasenjitsbist0103,

thank you for your feedback. We' ll update this.

Best regards,
Merve

[2019-10-02 13:14] IObert commented on #3163
Closing the issue as we decided to remove the tutorial. Sorry for the inconvenience!

[2019-10-02 13:14] #3163 closed

[2019-10-02 13:15] IObert commented on #2775
Closing the issue as we decided to remove the tutorial. Sorry for the inconvenience!

[2019-10-02 13:15] #2775 closed

[2019-10-02 13:15] IObert commented on #3232
Closing the issue as we decided to remove the tutorial. Sorry for the inconvenience!

[2019-10-02 13:15] #3232 closed

[2019-10-02 13:15] IObert commented on #3239
Closing the issue as we decided to remove the tutorial. Sorry for the inconvenience!

[2019-10-02 13:15] #3239 closed

[2019-10-02 13:15] IObert commented on #3840
Closing the issue as we decided to remove the tutorial. Sorry for the inconvenience!

[2019-10-02 13:15] #3840 closed

[2019-10-02 13:16] amandeepbal commented on #3990
Tried as mentioned. Even tried setting the local time to Frankfurt time zone.
Any other tips would be appropriated.

Aman

[2019-10-02 13:24] mervey45 commented on #3990
Hi @amandeepbal,

to help you, I need some further information. Can you show me some screenshots?
- global account on sap cloud platform (trial account)
- subaccount
- dev space
- the error message you get

Thank you.

Best regards,
Merve

[2019-10-02 13:40] amandeepbal commented on #3990
Please see screen shots below.

![image](https://user-images.githubusercontent.com/17857551/66048857-4ad4e780-e4f8-11e9-9d00-914f86f89ce8.png)

![image](https://user-images.githubusercontent.com/17857551/66048883-57f1d680-e4f8-11e9-8d4f-e43ed9478a11.png)

![image](https://user-images.githubusercontent.com/17857551/66048908-663ff280-e4f8-11e9-9557-b3c2f83f07a7.png)

![image](https://user-images.git

[2019-10-02 13:52] mervey45 commented on #3990
Is your cloud foundry trial account still valid or is it expired? And do you configured also your entitlements?

[2019-10-02 14:25] amandeepbal commented on #3990
Still have 25 days left.
![image](https://user-images.githubusercontent.com/17857551/66052347-78249400-e4fe-11e9-88f5-e1fd3d12813f.png)

Entitlement for ABAP Trial
![image](https://user-images.githubusercontent.com/17857551/66052603-dea9b200-e4fe-11e9-9e21-08ff9205ae6e.png)

[2019-10-02 16:30] jakes2255 commented on #3982
Thank you Jithendra,

Yes, I had ignored the warning message and proceeded to complete the  steps as mentioned in the tutorial.

Regarding the second issue:-
Still not getting the popup as mentioned at "_Switch back to Mobile Services cockpit_"
![2019_10_02_21_57_20_SAP_Cloud_Platform_Mobile_Services_Trial](https://user-images.githubusercontent.com/40160913/66062907-ecdbea80-e55f-11e9-9942-03435af

[2019-10-02 16:44] IObert commented on #3980
Thanks for opening the issue. Fixed in #4004

[2019-10-02 16:44] #3980 closed

[2019-10-02 16:44] IObert commented on #3981
Thanks for opening the issue. Fixed in #4004

[2019-10-02 16:45] IObert commented on #3981
The old tutorial will be removed by @thecodester

[2019-10-02 16:45] henwr123 opened #4005 "Call an External API"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-external-api.html

Please specify the step you are referring to

Step 10: Test yourself - question and submit button missig

There is no question to submit

[2019-10-02 18:47] mechevarria opened #4006 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-hdi-module.html

Please specify the step you are referring to
**Step 5**
For new database modules the **data** folder is not automatically generated. It would be good to mention adding the folder under **db/src**

[2019-10-02 19:25] jitendrakansal commented on #3982
@jakes2255
Tutorial you are following is created with CF trial only.

You need to create the destination first.
Follow step here https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-1-setup.html#e0acd616-fe0b-4bec-8189-e2533d08f1ea
You need to navigate to template manager, select any SFSF template, click create. It would ask you to enter API key that can be retrieved from api.sap