[2019-10-03 05:43] jakes2255 commented on #3982
Thank you Jitendra,

I am also trying the same in CF trial.

However when trying to create the SF destination, there is no popup asking for API key is coming.

Thank you,
Jakes

[2019-10-03 06:10] thecodester commented on #3993
Fixed. Please try again.

[2019-10-03 06:10] #3993 closed

[2019-10-03 06:14] jitendrakansal commented on #3982
@jakes2255
maybe we can check it together, what about a short call in next 30 mins? Are you available? pls drop me a note on my email address
jitendra.kansal@sapdotcom

[2019-10-03 08:41] thecodester commented on #3981
I have removed tutorial. Please use this one: https://developers.sap.com/tutorials/hcp-create-trial-account.html

[2019-10-03 08:41] #3981 closed

[2019-10-03 09:16] #3766 closed

[2019-10-03 09:16] thecodester commented on #4005
@henwr123 Fixed. Please check.

@julieplummer20 Please test and check published tutorials. There is also formatting issue you may want to address in Step 7. Use blank lines between ALL list items and before/after all coding inside a list item.

[2019-10-03 09:16] #4005 closed

[2019-10-03 09:22] thecodester commented on #2754
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:22] #2754 closed

[2019-10-03 09:23] thecodester commented on #3258
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:23] #3258 closed

[2019-10-03 09:24] thecodester commented on #3271
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:24] #3271 closed

[2019-10-03 09:29] thecodester commented on #3346
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:29] #3346 closed

[2019-10-03 09:29] thecodester commented on #3347
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:29] #3347 closed

[2019-10-03 09:29] thecodester commented on #3352
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:29] #3352 closed

[2019-10-03 09:30] thecodester commented on #3369
@marcuscbehrens Has the tutorial been updated?

[2019-10-03 09:30] thecodester commented on #3373
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:30] #3373 closed

[2019-10-03 09:31] #3381 closed

[2019-10-03 09:31] thecodester commented on #3396
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:31] #3396 closed

[2019-10-03 09:33] thecodester commented on #3515
@schneidertho Has this been handled?

[2019-10-03 09:33] thecodester commented on #3525
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:33] #3525 closed

[2019-10-03 09:33] thecodester commented on #3536
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:33] #3536 closed

[2019-10-03 09:34] thecodester commented on #3566
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:34] #3566 closed

[2019-10-03 09:35] thecodester commented on #3570
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:35] #3570 closed

[2019-10-03 09:35] thecodester commented on #3587
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:35] #3587 closed

[2019-10-03 09:35] thecodester commented on #3590
@JensHaley Any update here?

[2019-10-03 09:36] thecodester commented on #3609
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:36] #3609 closed

[2019-10-03 09:37] thecodester commented on #3616
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:37] #3616 closed

[2019-10-03 09:37] thecodester commented on #3617
@mervey45  Has tutorial been updated? Can we close issue?

[2019-10-03 09:37] thecodester commented on #3625
@julieplummer20 Has this been resolved? Can we close?

[2019-10-03 09:38] thecodester commented on #3632
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:38] #3632 closed

[2019-10-03 09:38] thecodester commented on #3646
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:38] #3646 closed

[2019-10-03 09:39] thecodester commented on #3650
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:39] #3650 closed

[2019-10-03 09:40] thecodester commented on #3652
@spremalatha Is would be nice to know if you solved your issue. I am closing the issue since it seemed the issue was resolved.

[2019-10-03 09:40] #3652 closed

[2019-10-03 09:40] thecodester commented on #3666
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:40] #3666 closed

[2019-10-03 09:41] thecodester commented on #3667
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:41] #3667 closed

[2019-10-03 09:41] thecodester commented on #3668
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:41] #3668 closed

[2019-10-03 09:42] thecodester commented on #3671
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:42] #3671 closed

[2019-10-03 09:42] thecodester commented on #3672
@jarjarbentley Any update?

[2019-10-03 09:43] thecodester commented on #3673
@mr-flannery Can we close issue? Has tutorial been updated?

[2019-10-03 09:43] thecodester commented on #3676
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:43] #3676 closed

[2019-10-03 09:44] thecodester commented on #3703
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:44] #3703 closed

[2019-10-03 09:44] thecodester commented on #3706
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:44] #3706 closed

[2019-10-03 09:44] thecodester commented on #3707
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:44] #3707 closed

[2019-10-03 09:45] thecodester commented on #3709
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:45] #3709 closed

[2019-10-03 09:45] thecodester commented on #3711
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:45] #3711 closed

[2019-10-03 09:45] thecodester commented on #3718
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:45] #3718 closed

[2019-10-03 09:46] thecodester commented on #3719
@Have tutorials been updated?

[2019-10-03 09:46] thecodester commented on #3723
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:46] #3723 closed

[2019-10-03 09:47] thecodester commented on #3738
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:47] #3738 closed

[2019-10-03 09:47] thecodester commented on #3755
@Liebherr Any update on this?

[2019-10-03 09:48] thecodester commented on #3757
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:48] #3757 closed

[2019-10-03 09:48] thecodester commented on #3769
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:48] #3769 closed

[2019-10-03 09:49] thecodester commented on #3789
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:49] #3789 closed

[2019-10-03 09:49] thecodester commented on #3793
@renejeglinsky Any update here? Can we close?

[2019-10-03 09:49] jakes2255 commented on #3982
Sorry Jithendra, I saw your response late.

I have sent you a meeting invite for 4pm today, please revert if you are not available on that time.

Thank you,
Jakes

[2019-10-03 09:50] thecodester commented on #3797
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:50] #3797 closed

[2019-10-03 09:50] thecodester commented on #3802
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:50] #3802 closed

[2019-10-03 09:50] thecodester commented on #3807
@mervey45 Has this been updated?

[2019-10-03 09:51] thecodester commented on #3813
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:51] #3813 closed

[2019-10-03 09:51] thecodester commented on #3823
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:51] #3823 closed

[2019-10-03 09:52] thecodester commented on #3836
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:52] #3836 closed

[2019-10-03 09:53] thecodester commented on #3842
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:53] #3842 closed

[2019-10-03 09:53] thecodester commented on #3843
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:53] #3843 closed

[2019-10-03 09:54] thecodester commented on #3844
@marcuscbehrens  Do tutorials still need to be updated? Can I close this issue?

[2019-10-03 09:54] thecodester commented on #3854
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:54] #3854 closed

[2019-10-03 09:55] thecodester commented on #3862
@KevinMuessig Thanks for addressing this issue. Any updates?

[2019-10-03 09:57] thecodester commented on #3891
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:57] #3891 closed

[2019-10-03 09:58] thecodester commented on #3901
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 09:58] #3901 closed

[2019-10-03 09:59] thecodester commented on #3912
@heytombeck Did you want to update the validation (see previous comment)?

[2019-10-03 10:00] thecodester commented on #3938
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 10:00] #3938 closed

[2019-10-03 10:00] thecodester commented on #3950
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 10:00] #3950 closed

[2019-10-03 10:01] thecodester commented on #3967
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-10-03 10:01] #3967 closed

[2019-10-03 10:02] thecodester commented on #3982
Now that this is taken offline, I am closing the issue. But @jitendrakansal if you want to describe how you resolved the issue, feel free to add a comment.

[2019-10-03 10:02] #3982 closed

[2019-10-03 11:51] vgup commented on #3988
The tutorial step instructions should be changed to use Managed implementation. It doesn’t work as specified in the tutorial

[2019-10-03 12:51] thecodester commented on #3988
@mervey45 Can you update as needed?

[2019-10-03 14:10] jakes2255 commented on #3982
Thank you Jitendra for resolving both the issues👍👍👍
1) For the first upgrade was performed.
2) Pop up started appearing when attempted with URL upto ....index.html on the cockpit.

Also many thanks for taking out through the upcoming "Recipe" based development as well.
Thanks a lot.👍👍👍

Kind Regards,
Jakes

[2019-10-03 16:13] awagreich77 commented on #3967
I don't know that the issue is resolved.  The tutorials say any browser can be used, but I got no phone verification code using chrome or edge.  Now I'm being told to use firefox.  Does that mean the apps created won't work well in Chrome or Edge?
Also, the tutorial says to get a Neo trial, but then it says you need a Foundry, which requires a foundry trial, which is not mentioned.
So the phone ve

[2019-10-03 16:52] jitendrakansal commented on #3982
Glad that i was able to help. Thanks.

[2019-10-03 20:54] darrenm898 opened #4014 "Installing SAP HANA, express edition with Docker"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html

On Step 12
Adding additional containers. Is there a way to specify the "SAP HANA System ID" to change it from the default of HXE?

[2019-10-03 21:45] pdominique opened #4015 "Integrate an SAP Fiori App into Your Portal Site (Cloud Foundry)"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-sapui5-app.html

Step 4: system is missing when creating a new app.

The console shows that a POST request is sent to a GraphQL endpoint to get the destinations (**https://<s-user>trial.dt.cpp.cfapps.eu10.hana.ondemand.com/bff/graphql**) but the response is **404 Not Found: Requested route ('portal-service.cfapps.eu10.hana.

[2019-10-03 22:45] Lsubatin commented on #3997
Hi Bruno Ursine - I am assuming you mean the reference to the builder and that has been removed. Otherwise, add the proper details to the issue and reopen.

[2019-10-03 22:45] #3997 closed

[2019-10-04 05:05] AstridHerbst commented on #3966
Thank you for your feedback. I have updated the screenshot.

[2019-10-04 08:00] apoeschl opened #4018 "Install SAP HANA 2.0, express edition on a Preconfigured Virtual Machine (with SAP HANA XS Advanced) - Last tutorial not completable"
Group URL: https://developers.sap.com/group.hxe-install-vm-xsa.html

The last tutorial of the for the group "Install SAP HANA 2.0, express edition on a Preconfigured Virtual Machine (with SAP HANA XS Advanced)" cannot be finished. Therefore the whole group stays open at 90%. I think it would make sense to include a button in the troubleshooting page (or a question) to be able to complete the last

[2019-10-04 08:15] IObert commented on #3967
Sorry to hear about your experiences.
We recently updated the cockpit and had to change the tutorial accordingly. From now on, there is no "neo-only" trial anymore. You need to sign up with your phone number to have access to the overall trial (which includes the Neo, Cloud Foundry, and ABAP environment).

Please stay in contact with my support colleagues to fix the issue. Alternatively, you can t

[2019-10-04 10:57] MKatsu opened #4019 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Step4 - 3.
Provision always fails after a few seconds. What could be the reasons?

[2019-10-04 14:10] amandeepbal commented on #3990
Any advice guys ??

[2019-10-04 16:32] JCurrie27 commented on #3999
Hi jiayiwangjw  - engineering is looking at this issue. In the meantime, have you considered posting this error issue to the community support Questions and Answers page? [https://developers.sap.com/topics/sap-hana.html#community](https://developers.sap.com/topics/sap-hana.html#community)

[2019-10-04 17:05] JCurrie27 commented on #3207
Links were added to the tutorials. Thanks for this suggestion - closing.

[2019-10-04 17:05] #3207 closed

[2019-10-04 17:09] JCurrie27 commented on #3864
Hi CBasis - We've been asking around but this tutorial hasn't been tested on a Mac in-house. Perhaps others in the community have tried this and have answers for you. I recommend posting this question to the Community Q&A page: [Questions & Answers](https://developers.sap.com/topics/sap-hana.html#community).
Closing.

[2019-10-04 17:09] #3864 closed

[2019-10-04 17:45] JCurrie27 commented on #3999
Actually, on the Q&A page I see others have raised this issue here: [https://answers.sap.com/questions/12857573/hxecheckupdatejar-jar2exe-has-expired.html](https://answers.sap.com/questions/12857573/hxecheckupdatejar-jar2exe-has-expired.html)

Here's the workaround:

Closing this issue.

[2019-10-04 17:45] #3999 closed

[2019-10-04 20:40] jiayiwangjw commented on #3999
I downloaded SAP HANA EXPRESS via the link you provided. This does not address the issue.

[2019-10-04 21:42] JCurrie27 commented on #3999
I'm sorry to hear the workaround did not address your issue. Engineering is working on a fix for the JAR problem. In the meantime, I recommend adding this latest issue to the community support Questions and Answers page (link above) describing how the workaround did not fix the problem. That site receives more views than this GitHub repository.

[2019-10-06 02:20] andersonmorita opened #4020 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Please specify the step you are referring to 4

I've been trying to get through that step for a couple of days but I am getting the message "Tenant provisioning failed. Please try after sometime."

Additionally, I did google that issue and I've found some complaints about that as well.
<img width=

[2019-10-06 05:18] thecodester commented on #3966
@AstridHerbst  I am closing issue but I believe you have rights to close yours yourself :-)

[2019-10-06 05:18] #3966 closed

[2019-10-06 06:53] thecodester commented on #3992
I cannot delete the tutorial because:

  - This tutorial makes use of the access-shine tutorial: https://developers.sap.com/tutorials/xsa-cross-container-access.html

  - This tutorial make use of the access-shine tutorial: https://developers.sap.com/tutorials/xsa-cross-container-access.html

I can remove the links from those 2 tutorials, but it seems the user would need help of the access-shine t

[2019-10-06 07:23] IrisSasson commented on #4015
Hi
There was a defect that our devops solved

Please close this issue

Thanks
Iris.

From: Daniel Wroblewski <notifications@github.com>
Sent: Sunday, October 6, 2019 8:19 AM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Sasson, Iris <iris.sasson@sap.com>; Assign <assign@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Integrate an SAP Fiori App into Your Portal Site (Cloud

[2019-10-06 07:25] #4015 closed

[2019-10-06 09:22] Lsubatin commented on #3992
Then a not saying it works for sps03 and sps04 should follow the
instructions in the SHINE readme?

On Sun, Oct 6, 2019, 2:53 AM Daniel Wroblewski <notifications@github.com>
wrote:

[2019-10-06 14:15] HenrikDA opened #4021 "Help Thomas Get Started with SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html

Please specify the step you are referring to: Step 6

When I played with the tutorial on a SAP HANA Express 2.0 SP04 it was necessary to create the JSON Collection (community) before 'build' in step 6.

Additional steps:
- Login to SAP HANA Express Edition with the hxeadm user
- hdbsql -u SYSTEM -d SYSTEMDB -i 9

[2019-10-06 20:25] Sygyzmundovych commented on #4021
Hi Henrik. There’s step 5 https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html where you clone the project that has the definition of that collection. Did cloning and building work for you?

[2019-10-06 21:39] gauthamkrishna-sap commented on #4019
Hello,
Thank you for the feedback.
Dev team is investigating this issue and an internal VH incident has been raised on Friday. Will keep you posted on the progress.
Best Regards, Gautham

[2019-10-06 21:39] gauthamkrishna-sap commented on #4020
Hello,
Thank you for the feedback.
Dev team is investigating this issue and an internal VH incident has been raised on Friday. Will keep you posted on the progress.
Best Regards, Gautham

[2019-10-06 23:50] andersonmorita commented on #4020
Hi Gautham,

I am glad to hear from you.
I am looking forward to getting some good news.

Kind regards,
Anderson

[2019-10-07 01:52] k-younghwan opened #4022 "Enable SAP Cloud Platform Mobile Services in Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-hcpms-setup.html

I tried to create the mobile service on my trial Cloud Foundry account,
I got some warning like this.
[ Mobile Services is not enabled. The service is required for upgrade. Check SAP Help Portal for instructions. ]
Is it general available to all trial accounts, or did I miss something?

![image](https://user-images.gith

[2019-10-07 05:20] mr-flannery commented on #3673
Yup, can be closed!

[2019-10-07 05:40] #3673 closed

[2019-10-07 06:05] shankarigr commented on #3829
Hi,

Can you please delete your HANA instance and try recreating it again?

Thanks and Regards,
Shankari G R

[2019-10-07 06:48] jakes2255 opened #4023 "Create Your First ABAP Console Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-console-application.html

Please specify the step you are referring to:Step 2, Create ABAP Cloud Project.

It appears this option "Create ABAP Cloud Project" is no longer available in Eclipse Neon or Oxygen.
I have tried with both and installed the plugin accordingly. Still this option is not available.
Is this now deprecated?
Kin

[2019-10-07 08:10] jakes2255 opened #4024 "Create Your First ABAP Console Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-console-application.html

Please specify the step you are referring to:Step 5, and 6, "Done" button are not working.

Step 7 when entered content and pressed says "Technical Error".

Kindly check.

Thank you,
Jakes

[2019-10-07 08:43] julieplummer20 commented on #3625
@thecodester

Hi Daniel, Yes we can close this thanks.
Best wishes,
Julie.

[2019-10-07 08:46] jakes2255 commented on #4024
ok, able to proceed now with multiple session refresh, thank you.

[2019-10-07 09:01] HenrikDA commented on #4021
Hi Vitaliy,

The cloning work, but the build failed.

A plain SAP HANA Express don’t have docstore by default (ALTER DATABASE HXE ADD 'docstore').

I didn’t try to build after just adding docstore. It would properly have worked.

[2019-10-07 09:43] #3625 closed

[2019-10-07 10:39] jarjarbentley commented on #3991
@jiayiwangjw that is a workable solution.  Some users who have older Java have had to install newer after removing older version.  Should be fine.

[2019-10-07 10:39] #3991 closed

[2019-10-07 10:46] gauthamkrishna-sap commented on #4020
Hi Anderson,

Issue is fixed now. Can you please try the tenant provisioning process again?

Best regards, Gautham

[2019-10-07 10:46] gauthamkrishna-sap commented on #4019
Issue is fixed now. Can you please try the tenant provisioning process again?

Best regards, Gautham

[2019-10-07 11:36] JCurrie27 commented on #4014
Hi darrenm898: To take advantage of the Community Support model, could you post this question to the HANA express  [Questions & Answers](https://developers.sap.com/topics/sap-hana.html#community) forum? I've sent the question to Engineering in case they respond before the community does.
Closing this issue for now.

[2019-10-07 11:36] #4014 closed

[2019-10-07 12:41] MKatsu commented on #4019
It worked! Thanks.

[2019-10-07 13:49] andersonmorita commented on #4020
Hi Gautham,

I've just created the tenant provisioning.

Thank you. Have a good day.

Best regards,
Anderson

[2019-10-07 13:49] #4020 closed

[2019-10-07 14:09] #4019 closed

[2019-10-07 15:40] I304296 opened #4027 "Develop a Fiori App Using the ABAP RESTful Programming Model (Managed Scenario)"
Group URL: https://developers.sap.com/group.abap-env-restful-managed.html

Very nice tutorial to on-board on ABAP on cloud.

One point. With this tutorial I was able to complete the Firoi app and preview the app. However I am not sure how I should be deploying the app to CF.

Cloud you please add those steps as well?

BR
Shibaji

[2019-10-08 06:03] lin1161 commented on #3999
What's the exact error msg with the download Manager that downloaded from https://www.sap.com/cmp/ft/crm-xu16-dat-hddedft/index.html?

[2019-10-08 09:35] i042416 commented on #3892
Hi Merve,

Thanks a lot for your help. I close the issue.

Best Regards,
Jerry

[2019-10-08 09:35] #3892 closed

[2019-10-08 10:54] Rajeevkallalu97 opened #4030 "backend url"
Hi, how to create our own backend url in SAP cloud platform after defining a database schema. So that my database created on SAP can be integrated into xcode

[2019-10-08 12:47] cdonau opened #4031 "Enhance CAP-Based Service to Refer to Remote Addresses"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-4-enhance-consume.html

Please specify the step you are referring to
Step6:

`  entity Orders as select from my.Orders mixin {
    address: Association to Addresses
      on address.businessPartner = businessPartner
      and address.addressId = addressID;
  } into {
    *,
    address
  }`

should be **bookshop**.Orders:
`  entity Or

[2019-10-08 12:53] cdonau commented on #4031
Oh sorry, I left the definitions so therefore it didn't work in my case... :)

[2019-10-08 12:53] #4031 closed

[2019-10-08 13:38] schneidertho commented on #3515
I checked it today. This still needs to be done (seems we forgot it). I will put it on my todo list for when we make the next update to the tutorials.

[2019-10-08 13:49] cdonau opened #4033 "Deploy the Azure Service Broker to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-osba-azure-deploy-service-broker.html

Please specify the step you are referring to

Deploy the Azure Service Broker to Cloud Foundry
Step 1: There is CF only in the hana trial accounts (rip neo)

[2019-10-08 14:07] mervey45 commented on #4023
Hi @jakes2255,

just select ABAP project and then click ABAP Cloud Project. Can you try this out?

Best regards,
Merve

[2019-10-08 14:13] mervey45 commented on #3758
Hi @thecodester,

it‘s done.

Best regards,
Merve

[2019-10-08 14:30] mervey45 commented on #3990
Hi @amandeepbal,

please check if you have the latest ADT. Otherwise we can have a call on Friday and do the steps together. Sorry for my delayed answer. I‘m out off office.

Best regards,
Merve

[2019-10-08 14:30] yuri-adeodato opened #4034 "Build and Deploy a Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html

Please specify the step you are referring to

In the step 4, you have to put the username and password of a database, but in not shown in the tutorial that the name of the user in SYSTEM and that the password is the password that you choose when create a database in SAP HANA / SAP ASE > Databases & Schemas

[2019-10-08 16:07] shaktibarath opened #4036 "Set Up a Workflow With Extended Employee Onboarding"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-3-workflow.html

For Step 2: Configure Sample Application , point 4 which says "Add a new entry and name it workflow." should change to

Add a new entry and name it "workflow_sample_onboarding". with name "workflow", sample.onboarding.mta build fails with following error:

ERROR: Invalid mta.yaml. Make sure that

[2019-10-08 16:14] yuri-adeodato opened #4037 "Use the Document Service in Your Java Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-java-reference-app-document-service.html

Please specify the step you are referring to

All this tutorial is already made in the github code, and does not need done the pox.xml changes to include the chemistry libs

[2019-10-08 16:29] shaktibarath opened #4038 "Set Up a Workflow With Extended Employee Onboarding"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-3-workflow.html

When I try to deploy the application, I am getting following errors and deployment failed.

12:26:56 PM (DeploymentToCF) Deployment of the "sample.onboarding.mta" project started.
12:26:57 PM (DeployService) Deployment in progress.
12:26:57 PM (DeployService) Deploying /sample.onboarding.mta/mta_

[2019-10-08 16:42] jakes2255 commented on #4023
Hi Merve,

Thank you for the response,

Please see the available options being displayed under ABAP node in the wizard below:-
![ABAP Cloud Project Not Available in Eclipse Neon](https://user-images.githubusercontent.com/40160913/66414877-e7771800-ea17-11e9-92ad-b29433a2f17b.png)

When I select ABAP project, SAP System that are declared in SAP Logon are being shown, there is no Cloud Project optio

[2019-10-08 17:22] mervey45 commented on #4023
Hi Jakes,

please Check if you have the latest ADT in your Eclipse. If not, please install this.

Best regards,
Merve

[2019-10-08 17:27] amandeepbal commented on #3990
Hi,

You may close the ticket now. I was able to play back and forth with the system data + time and was able to resolve the issue.

Thanks
-A

[2019-10-09 01:08] mukhutis commented on #3982
@jakes2255, I am having the exact same problem. No popup for API key after I click the "Create" button against the SF template - in this case, the timesheet one. I have the API key, but nowhere to paste.

Were you able to resolve this?

[2019-10-09 04:44] jakes2255 commented on #4023
Hi Merve,
I have tried with the latest ADT as well as with the earlier version.

It appears the steps are no longer possible with the changes at Eclipse/ADT side.

Kindly also see the SCN thread mentioned in the initial comment.

Thanks,
Jakes

[2019-10-09 04:51] jakes2255 commented on #3982
Hi @mukhutis ,

Yes we were able to get this resolved.

Please copy the URL upto ".....index.html" and then open the link in Chrome Incognito window.

Are you able to proceed?
Are you getting the API pop up.

If not, are you getting a warning for upgrade?

Thanks,
Jakes

[2019-10-09 07:37] JensHaley commented on #3590
@ND3V :
Apologies for the late reply. I tried to check several times with the colleagues about the role.

Apparently there is no capacity to provide the role by other means than though a regular support package. The only way I see to solve this is to update your 750 system to a higher support package.

Unfortunately, I do not know as of which SP the role was included.
Sorry for the inconvenience.

[2019-10-09 09:57] OksanaShumova opened #4039 "Define and Expose a CDS-Based Travel Data Model"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-data-model.html
Step 4: Create service binding, 5. Double-click on TravelProcessor to see the application on the UI.

Everything in Eclipse looks like in tutorial, but nothing happens when I double-click on TravelProcessor.

[2019-10-09 14:56] mikemainguy opened #4041 "Create a Destination for the SAP Gateway Demo System"
Tutorial URL: https://developers.sap.com/tutorials/teched-2016-3.html

Please specify the step you are referring to

Putting in additional properties in the tutorial, the WebIDEUsage property values are truncated in the image and it's not apparent what the additional values should be in the list.

Actually, relooking, I see they are at the top, but it's isn't obvious to someone unfamiliar if they'

[2019-10-09 14:59] andersonmorita opened #4042 "Upload and query documents in SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-02-query-jsondocs.html

Please specify the step you are referring to 4

The message "Technical Error" is shown no matter my answer. Could you check it out ?

Best regards,

[2019-10-09 15:28] Leoooob opened #4043 "Create Your First Fiori for iOS App"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-scpms-teched18-02.html

Step 5: Set up Xcode Project, clicking "finish" in the final stage of the wizard.

I get the following error:
![screenshot of wizard error](https://i.imgur.com/hqIeTgt.png)

I couldn't edit the Admin UI URL when setting up my account with the iOS assistant nor could i see the full url for the generated url. I did

[2019-10-09 23:25] mukhutis commented on #3982
Hi @jakes2255,

Problem resolved, but the solution was somewhat different.

1. I start with URL up to "...index.html" and open in Chrome incognito, it takes me to the SAP Mobile Cards Home Page.

2. Then when I navigate to Mobile Applications -> SAP Mobile Cards -> Template Manager, it adds the hashed navigation "...index.html#/page.view.sapcards/com.sap.mobile.platform.cards"

3. At this stage, I

[2019-10-10 02:46] rdshankar-coder commented on #4020
Hi there,
Im getting the same error "Tenant provisioning failed. Please try after sometime." , been trying for 2 days
Best Regards,
RDS

[2019-10-10 04:02] thecodester commented on #4041
@qmacro Can you take a look at this and see what you think?

[2019-10-10 04:06] junaidhf opened #4044 "SAP Mobile Card CF "Destination not created.""
Hi,
  While following the tutorial https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-1-setup.html#e0acd616-fe0b-4bec-8189-e2533d08f1ea . I am geting an error after entering the api key telling **Destination not created.**

[2019-10-10 04:20] jakes2255 commented on #3982
Glad to hear it worked out Subh, enjoy.

Thanks,
Jakes

[2019-10-10 05:41] thecodester commented on #3590
I am closing the issue. If you need additional information, please consider continuing the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

[2019-10-10 05:41] #3590 closed

[2019-10-10 05:46] qmacro commented on #4041
I would say unless this is a component tutorial in other groups or missions, it should be removed anyway as it's 3 years old and teched specific. Unless you (or @akula86 the author) say otherwise.

[2019-10-10 05:52] thecodester commented on #4041
As far as I see, the only mission/group that uses this is the mission **Take a Deep Dive into OData**, specifically in this group: https://developers.sap.com/group.scp-7-odata-tools.html

[2019-10-10 06:08] thecodester commented on #3340
We should be updating these by end of the year -- either discontinuing or fixing. We have an internal issue for this so I am closing this one.

[2019-10-10 06:08] #3340 closed

[2019-10-10 06:22] #3990 closed

[2019-10-10 06:31] thecodester commented on #3758
@mervey45  Thanks.

[2019-10-10 06:31] #3758 closed

[2019-10-10 06:36] thecodester commented on #4033
FYI - Not dead completely yet. There is a link in the cockpit to the old Neo.

[2019-10-10 06:39] thecodester commented on #4030
Is this about a specific tutorial or a general question about SAP Cloud Platform?

[2019-10-10 08:57] gauthamkrishna-sap commented on #4020
Hi RDS,
Our team is working on this issue & have already identified the root cause. I will update you as soon as it is fixed.
Apologies for the inconvenience and thank you for your patience.
Best Regards, Gautham

[2019-10-10 09:20] HenrikDA commented on #4021
It does. The tutorial Create a food database in SAP HANA Express Edition (https://developers.sap.com/tutorials/hxe-docstore-01-create-database.html) include the same steps as I did. It has to be executed before building the DB to create the docstore.

[2019-10-10 09:53] NPSAP opened #4047 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Please specify the step you are referring to
Tenant provisioning step:
"Tenant provisioning failed. Please try again after some time."
I have tried yesterday and today but also today it did not work.

[2019-10-10 11:09] kunjbiharishukla opened #4048 "Define and Expose a CDS-Based Travel Data Model"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-data-model.html

Please specify the step you are referring to

Step 4 point 5 : on double clicking line item TravelProcessor nothing happens
![image](https://user-images.githubusercontent.com/41192652/66563939-7bfa8b00-eb7c-11e9-8b97-5a6c4463f5e1.png)

[2019-10-10 11:11] kunjbiharishukla commented on #4039
I have the exact same issue [https://github.com/SAPDocuments/Tutorials/issues/4048]

[2019-10-10 11:22] thecodester commented on #4048
Closing this issue as it is duplicate to https://github.com/SAPDocuments/Tutorials/issues/4039

[2019-10-10 11:42] gauthamkrishna-sap commented on #4047
Hello,
Apologies for the inconvenience. Our dev team has identified the issue and working on fixing it. Will update you as soon as it is fixed. Thank you for your patience.

[2019-10-10 12:49] iwonahahn opened #4049 "Prepare the Portal Environment for Creating Sites"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html

Please specify the step you are referring to: In step 1 please add the URL to SAP Cloud Platform cause a lot of attendees have asked the us in the App Space at TechEd for this URL to continue with the mission ;-). Thanks!

[2019-10-10 14:53] iwonahahn opened #4050 "Develop SAP Fiori Applications for SAP Cloud Platform on Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-fioriapps-create.html

Please specify the step you are referring to:

general: first we need to update the author, it seems that Julia is no longer in the company and responsible for the content.

Explain what MTA is. The description is in the mission here https://developers.sap.com/tutorials/cp-portal-cloud-foundry-create-app.html.

step 1.

[2019-10-10 16:05] IrisSasson commented on #4049
Hi Daniel

I don't know how to edit tutorials and Lindsay is on vacation, do you want to add a link to the trial of SAP Cloud Platform as they ask?

Thanks
Iris.

From: Daniel Wroblewski <notifications@github.com>
Sent: Thursday, October 10, 2019 3:53 PM
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Sasson, Iris <iris.sasson@sap.com>; Assign <assign@noreply.github.com>
Subject: Re:

[2019-10-10 17:44] mechevarria opened #4051 "SAP HANA XS Advanced - Consume the OData service in a basic HTML5 module"
Tutorial URL: https://developers.sap.com/tutorials/xsa-html5-expand-module.html

Please specify the step you are referring to
Step 2: Bind the OData model to a Table

The classname has a typo ```sap.ui.tabke.Table``` should be ```sap.ui.table.Table```

[2019-10-11 05:56] jayeshsaini opened #4052 "Configure Initial Setup for SAP Mobile Cards"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-1-setup.html

Please specify the step you are referring to

Step 6
Getting no pop-up on clicking the Create Card Template icon in SuccessFactors My TimeSheet.

[2019-10-11 07:01] i042416 opened #4053 "SAP Cloud Platform Service is misisng in Data Connection"
I am talking about this tutorial:
https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html#8a0bc6ea-d709-445a-8843-ac1011210136

I have a ABAP system service in CloudFoundry environment with API end point:

https://api.cf.eu10.hana.ondemand.com

![clipboard1,1](https://user-images.githubusercontent.com/5669954/66630933-c1c85980-ec37-11e9-915c-6c0e5c3b784b.png)
![clipboard2,2

[2019-10-11 08:38] mervey45 commented on #3617
I'll update this asap.

[2019-10-11 12:30] mervey45 commented on #3905
Hi @prithamr

the URL is following: https://account.hana.ondemand.com

Best regards,
Merve

[2019-10-11 13:06] mervey45 commented on #4023
Hi @jakes2255,

please make sure that:

You have downloaded the ABAP Development Tools (ADT), version 3.4 or later. See ABAP [Development Tools](https://tools.hana.ondemand.com/#abap).

You have established a connection to your system from within[ ADT](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/7379dbd2e1684119bc1dd28874bbbb7b.html).

Best regards,
Merve

[2019-10-11 13:09] mervey45 commented on #4027
Hi @I304296 ,

thank you for your feedback. It depends on what you are doing. If you are using the ABAP trial, then I have to say, that it's not possible now. But with a normal SAP Cloud Platform ABAP system, you could do this. The following tutorial explains the deployment: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html

Best regards,
Merve

[2019-10-11 13:12] mervey45 commented on #4039
Hi @OksanaShumova and @kunjbiharishukla ,

do you have the latest ADT? If yes, then please right-click on TravelProcessor and click on **Open Fiori Elements App Preview**. If this doesn't work, please try it out with another browser or check your browser settings. Your browser should open and the preview should be visible.

Best regards,
Merve

[2019-10-11 13:21] henwr123 opened #4054 "Create an ABAP Project in ABAP Development Tools (ADT)"
Tutorial URL: https://developers.sap.com/tutorials/abap-create-project.html

Please specify the step you are referring to - STEP 1

Would you update the step to point to one of the supported Eclipse and Plug-ins?  It mentions Photon and it would be nice to point to on of the more recent versions.

Since 2019-09 just became available, please update to https://tools.hana.ondemand.com/2019-09/

[2019-10-11 13:39] jakes2255 commented on #4023
Thank you Merve,

I had tried that also😕

Thanks,
Jakes

[2019-10-11 14:00] mervey45 commented on #4023
Hi @jakes2255 ,

you also have to add the ADT link to your latest Eclipse, by selecting help -> install new software on your eclipse menu:
![image](https://user-images.githubusercontent.com/27953324/66657342-f213f600-ec3f-11e9-89b4-209bfc344c56.png)

Add the ADT link -> select everything and install it:

![image](https://user-images.githubusercontent.com/27953324/66657238-c85acf00-ec3f-11e9-9869-c

[2019-10-11 14:48] jakes2255 commented on #4023
Thank you Merve,

Finally got it working with the below combinations(jdk1.8, Eclipse 2019-06, SCP Tools:2019-06, including ADT).
![ABAP Cloud Project](https://user-images.githubusercontent.com/40160913/66661248-4d57df80-ec64-11e9-9641-3f5aef3355b6.jpg)

Thank you,
Jakes

[2019-10-11 14:50] jakes2255 commented on #4023
Closing the issue as it is working now, thank you once again.😂

[2019-10-11 14:50] #4023 closed

[2019-10-11 15:44] jackattacks opened #4055 "Create an HTML5 Module and Deploy UI to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html

Please specify the step you are referring to:

At the end of the step 9, when running the application on cloud foundry, get the following result:
Internal server error.

The preview of the Service Binding from ADT work and gives expected results.

[2019-10-12 07:31] andersonmorita commented on #4042
That issue was sorted out. I have already got through it.
Anyway, Thanks.

[2019-10-12 07:31] #4042 closed

[2019-10-13 08:49] jitendrakansal commented on #4044
@junaidhf could you share the screenshot of that error?

[2019-10-14 04:19] junaidhf commented on #4044
Hi @jitendrakansal please find the screenshot as requested.
![Screen2](https://user-images.githubusercontent.com/55427649/66729217-99bf3d00-ee67-11e9-8f52-a6d3ed0b2baa.PNG)
![Scren1](https://user-images.githubusercontent.com/55427649/66729223-a2b00e80-ee67-11e9-882b-2cd02b7c31d9.PNG)

[2019-10-14 07:42] niladri30 opened #4057 "Send Commands with MQTT"
Tutorial URL: https://developers.sap.com/tutorials/iot-cf-send-commands-mqtt.html

Please specify the step you are referring to: Receiving Commands Using the Paho Client

I was able to push the command and received 202 response, whereas; I cannot see the JSON message received.

I am passing:
{
    "sensorId": "{my-sensorId}",
    "capabilityId": "{my-capabilityId}",
    "command": {
        "RELAY

[2019-10-14 08:12] jitendrakansal commented on #4044
I think you are missing some steps in between.
Please follow as per below:
1. Under Template Manager, select "SuccessFactors" from category dropdown
2. Click "create card template" icon for any given SuccessFactors templates
3. Card template should be of type "Automatic instance generation" (i have
attached screenshot for the same) unlike in [your screenshot](https://user-images.githubusercontent.

[2019-10-14 08:38] jitendrakansal commented on #4022
@k-younghwan

in our recent release we introduced a new "Mobile Services" which is replacing all old mobile services. With this new "Mobile Services", mobile application will be created as a "Mobile Services" service instance instead of an mobile-approuter application deployed under customer space.
For any new trial accounts, we are adding this new service by default (and automatically).
For exist

[2019-10-14 09:51] IObert commented on #3858
Will close due to inactivity. Please re-open the issue if it still persists.

[2019-10-14 09:51] #3858 closed

[2019-10-14 12:07] alexanderparr opened #4058 "Configure Smart Data Integration with the SAP HANA Service"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-connect-sdi.html

Please specify the step you are referring to:
Step 1: Connect to the database using the Database Cockpit

Hi,
thank you for providing the tutorial how to setup SDI @ CF. I would love to do that but on SAP CF @ Azure (EU20) the HANA Dashboard is not supported (according to SAP Support), due to the fact how SAP HANA is prov

[2019-10-14 15:22] schefa opened #4059 "SAP Data Intelligence - Modeler: No tenant found"
Tutorial URL: https://help.sap.com/viewer/5ac15e8fccb447199fda4509e813bf9f/Cloud/en-US/7def2149758741d59c28436d8ab21c3d.html

When I run any of your training sample code, the Modeler throughs this error

`Graph failure: operator.com.sap.ml.training:training-0: Job was not submitted { "error": { "code": "412", "message": "No tenant found" } } |`

I am using SAP Data Intelligence logged in as an adm

[2019-10-14 15:31] brehberg opened #4060 "Add Transactional Behavior to Your Core Data Services"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-transactional-enablement.html

Please specify the step you are referring to **Step 6: Test yourself**

It appears that the correct answer still refers to an older syntax for RAP unmanaged.  I was able to pass this step with first line as: `implementation unmanaged;`

[2019-10-14 16:33] nievesnavarro1 opened #4061 "Add Web Content to Your Portal Site and Set the Layout"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-add-webcontent.html

All the options seems posible but I can't complete the last question. I have tested all the combinations with the 4 answers.

[2019-10-14 18:40] rbrainey commented on #4018
Yes, that makes sense.  I'll add it.

[2019-10-14 18:47] rbrainey commented on #3996
Hi and thanks for your feedback. It's always appreciated. Coincidentally, we recently decommissioned this particular Mission/Group owing to the rollout of the new Cloud Portal service.  You can find a new mission covering the new Portal here (https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html)  and here (https://developers.sap.com/tutorials/cp-portal-cloud-foundry-cr

[2019-10-15 00:51] k-younghwan commented on #4022
Thank you for details jitendrakansal.
With your help, I could solve the problem.

[2019-10-15 00:51] #4022 closed

[2019-10-15 04:47] thecodester commented on #4061
I am able to complete the tutorial -- can you try again and provide screenshot?

[2019-10-15 04:49] thecodester commented on #4059
Which tutorial does this refer to?

[2019-10-15 05:03] thecodester commented on #4050
@Paolaufer This was written by your team.

@LindsayBert You make reference to this. If Julia's tutorial is OK for you, no need to do anything. If not, feel free to update.

@iwonahahn I think next time you should go through internal channels.

[2019-10-15 06:40] junaidhf commented on #4044
Hi @jitendrakansal  this issue is resloved it was to do with the Card template should be of type "Automatic instance generation" as suggested by you. Thanks for the help.

[2019-10-15 06:40] #4044 closed

[2019-10-15 06:51] DerGuteWolf opened #4062 "Call an External API: Screenshots for Step 3 are from the wrong example"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-external-api.html

Screenshots for Step 3 are from the wrong example, This tutorial is for nominatim access, not chuck norris jokes...

[2019-10-15 07:13] nievesnavarro1 commented on #4061
i'm actually able to complete the tutorial too, and the result it's really
cool, but in the last step (Step 6: Review your site) i'm not able to
answer the question correctly, all the options look correct to me.

On Tue, 15 Oct 2019 at 06:48, Daniel Wroblewski <notifications@github.com>
wrote:

[2019-10-15 07:18] thecodester commented on #4061
I'm saying I can answer the question. Not all the items can you set in a page section settings area.

There are 16 combinations of possible answers. Did you try all of them?

[2019-10-15 07:22] schefa commented on #4059
The tutorial url is in the description...

Home/ML Scenario Manager/Set Up Your Machine Learning Scenario/Add a Jupyter Notebook/JupyterLab Environment/SAP Data Intelligence Python SDK/ **Working with Training Pipelines**

https://help.sap.com/viewer/5ac15e8fccb447199fda4509e813bf9f/Cloud/en-US/7def2149758741d59c28436d8ab21c3d.html

[2019-10-15 07:24] thecodester commented on #4049
Link added

https://github.com/SAPDocuments/Tutorials/commit/910802c3008314f1fe169d718df100210ec9d572

[2019-10-15 07:24] #4049 closed

[2019-10-15 07:32] thecodester commented on #4059
This repository (and issues) is for issues related to tutorials in the [SAP Tutorial Navigator](https://developers.sap.com/tutorial-navigator.html).

For documentation, there is a "Send feedback" link.

[2019-10-15 07:32] #4059 closed

[2019-10-15 07:44] jitendrakansal commented on #4052
Hi @jayeshsaini
Could you check if you  are seeing a warning message in "Mobile Services cockpit" like mentioned in this issue ?
https://github.com/SAPDocuments/Tutorials/issues/4022
If so, could you follow the steps as i mentioned there and try again.

[2019-10-15 08:30] mervey45 commented on #4053
Hi @i042416

you only can use this with the "normal offering". With ABAP Trial this won't work.

Best regards,
Merve

[2019-10-15 08:31] mervey45 commented on #4055
Hi @jackattacks ,

please make sure, you did every step. With which system are you doing this tutorial?

Best regards,
Merve

[2019-10-15 08:32] mervey45 commented on #4060
Hi @brehberg,

I'll update this. Thank you for your feedback.

Best regards,
Merve

[2019-10-15 09:19] thecodester commented on #4053
@mervey45 If tutorial only works on purchased software, we need to tag the tutorial as such and make it very obvious.

[2019-10-15 09:22] mervey45 commented on #4053
@thecodester I'll add the license tag.

[2019-10-15 09:39] mervey45 commented on #4053
@I updated this tutorial and all other tutorials, that needed the license tag

[2019-10-15 09:39] mervey45 commented on #4053
@thecodester I updated this tutorial and all other tutorials, that needed the license tag

[2019-10-15 09:48] thecodester commented on #4053
@mervey45 Thanks. I didn;t see a PR for this. Did you send to production?

[2019-10-15 09:52] mervey45 commented on #4053
@thecodester I just created the pull request: #4066

[2019-10-15 09:53] mervey45 commented on #3807
@thecodester This has been updated

[2019-10-15 09:54] mervey45 commented on #3905
@thecodester Can we close this issue?

[2019-10-15 09:55] mervey45 commented on #4027
@thecodester Can we close this issue, the license tag has been added.

[2019-10-15 09:56] mervey45 commented on #4060
@thecodester This has been added, we can close this issue

[2019-10-15 10:10] #4060 closed

[2019-10-15 11:25] #3996 closed

[2019-10-15 11:34] jayeshsaini commented on #4052
Hi @jitendrakansal
I'm facing the following issue when scanning the QR code and setting up Mobile Cards App on my phone. Not even showing the Welcome Card and any other cards defined by me in subscriptions.
Not sure if the issue is with trail account and Connectivity.

![image](https://user-images.githubusercontent.com/19631970/66827803-20aa0d80-ef6d-11e9-913a-9297fd4122bf.png)

Also when clicking

[2019-10-15 11:41] jitendrakansal commented on #4052
@jayeshsaini Could we have a short call if you are available? Can you send me a short note to my email address
jitendra.kansal@sapdotcom , i will send meeting request.

[2019-10-15 11:57] mervey45 commented on #4060
@thecodester It has been updated

[2019-10-15 12:35] jayeshsaini commented on #4052
Sure

[2019-10-15 14:34] maxstreifeneder commented on #4033
@cdonau thanks a lot! fixed.

[2019-10-15 14:34] #4033 closed

[2019-10-15 14:36] maxstreifeneder commented on #3895
thanks @Chet77! could you please check if it works now?

[2019-10-15 18:12] prithamr commented on #3905
Yes. Thanks.

[2019-10-16 08:52] jakes2255 opened #4071 "Create Table Persistence and Generate Data"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-persistence.html

Please specify the step you are referring to: Step1 or any particular step in the tutorial.

Second time after exiting Eclipse and then log in, authentication succeeds. But the Packages are not getting loaded.

Step1: Exit the Eclipse IDE
Step2: Try to view the ABAP project
Step3: Logon screen opens  up
Step 4: P

[2019-10-16 10:57] StargazerAlex opened #4072 "Install the Cloud Foundry Command Line Interface (CLI)"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-download-cli.html
Step 4: Connect the CLI to the cloud region

When connecting to the API endpoint an error appears:
[code]

This can be circumvented using the "--skip-ssl-validation" parameter but that's not described inside the tutorial and probably not working as intended either. Do the HANA cloud API endpoints not support HTTPS?

[2019-10-16 13:38] beapasch commented on #3326
Sorry for my late replay but I was not in the office for some months. The tutorial was updated in the meantime. Hopefully everything is fine now.

[2019-10-16 13:48] IObert commented on #3326
I'm afraid the UI to access the Web IDE has been changed (again) since the tutorials were updated. Would you mind to update it again?

[2019-10-16 14:38] smile-ot opened #4074 "Create a Communication Arrangement for Outbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-env-create-comm-arrangement-api.html

Hi,

I am doing this tutorial with a trial abap instance and I am stuck at step 6. I am able to log in to the ABAP system, but it seems my user has a very limited permission and there is no app to create a communication scenario. How could I request more permission?

[2019-10-16 17:03] rhubarbkid commented on #3988
I am having the same issue.

[2019-10-17 06:17] jackattacks commented on #4055
Hi Merve,

Yes I'm sure, I did it twice.
I'm working with the abap-trial environment on SCP.

Regards,
Jack

[2019-10-17 06:51] thecodester commented on #4072
@qmacro Can you look at this and see if you can help? If someone else should be assigned to this, let me know (or you can assign yourself). Thanks.

[2019-10-17 07:14] #3905 closed

[2019-10-17 07:31] mervey45 commented on #4055
Hi @jackattacks,

this won't work with the trial offering. We added a license tag on this tutorial. That means, that you have to need the normal SAP Cloud Platform ABAP environment offering , to do this tutorial.

Best regards,
Merve

[2019-10-17 07:49] qmacro commented on #4072
Hi @StargazerAlex thanks for reporting this. I have checked this morning, and a colleague has too, and the SSL warning does not occur any more. I can only think that there was possibly a temporary issue with the certificate which has since then been addressed, or there had been some connection issue.

Should be working fine now.

[2019-10-17 07:49] #4072 closed

[2019-10-17 07:51] thecodester commented on #4055
@mervey45 Perhaps it would help to add something in the first tutorial to emphasize that this cannot work on trial.

@jackattacks Sorry that this cannot work on trial. Is there any other issue?

[2019-10-17 09:44] ruthvikg193 opened #4076 "Small Observation during mimicking ABAP on Cloud Tutorials"
Hi Merve Temel,

It is a fabulous guide to explore new offerings in ABAP on Cloud.

But, I have observed a small issue in the CDS Root View "ZI_TRAVEL_M_XXX" where you have defined @AccessControl.authorizationCheck as "#CHECK".

But, while creating the consumption or rather projection view "ZC_TRAVEL_M_XXX", it is given as @AccessControl.authorizationCheck: #NOT_REQUIRED.

It is conflicting in nat

[2019-10-17 10:06] ruthvikg193 commented on #4039
Hi @mervey45 can you please share here the version of Eclipse that you used for the tutorials ?
It would help a lot of people in understanding than creating confusion.

Thanks,
RG

[2019-10-17 11:03] Sygyzmundovych commented on #4051
Fixed https://github.com/SAPDocuments/Tutorials-Contribution/commit/fb0e93997f470002b1098c8440b61ad4ba2c861b
Thank you!

[2019-10-17 11:03] #4051 closed

[2019-10-17 11:08] Sygyzmundovych commented on #4021
That specific tutorial https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html is meant to be used with HANA in CF environment of SCP Trial. It is still in works so we will try to make sure it is more clear. Thank you once again for bringing it.

[2019-10-17 11:08] #4021 closed

[2019-10-17 11:18] #3895 closed

[2019-10-17 12:31] beapasch commented on #3326
I will do my best and try to update it next week

[2019-10-17 12:38] kunjbiharishukla commented on #4039
Hi @mervey45, I have the latest ADT and still i am facing the same issue. The eclipse i am using is 2019-06.
@OKsanaShumova, Is it working for you.

Warm Regards,
KB

[2019-10-18 06:00] GirodFred opened #4078 "Create ABAPDoc Comments in Your Class"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-abapdoc.html

Please specify the step you are referring to

The test yourself is realy difficult to achieve. It is case sensitive, it takes me long time to understand I have to write strickly the explanatory text.  Maybe the comment should be
"Create an ABAPDoc comment for the parameter "planetype", the explanatory text must be "Ty

[2019-10-18 10:33] jitendrakansal opened #4079 "Open SAP Web IDE Full-Stack"
Hi,

screenshots are not visible.
<img width="1167" alt="Screenshot 2019-10-18 at 12 32 39 PM" src="https://user-images.githubusercontent.com/31536700/67087578-7c5ddc00-f1a3-11e9-8eb1-edaaed10e8ad.png">

[2019-10-18 12:04] juancarlosrodriguezf opened #4081 "Enable Essential Neo Services"
Tutorial URL: https://developers.sap.com/tutorials/cp-enable-essential-neo-services.html

Please specify the step you are referring to "Click on the “Go To Service” action for the portal service, and past the URL that you will be directed to?", I tried this one, but the 'answer' is not correct:
https://flpportal-p2000727752trial.dispatcher.hanatrial.ondemand.com/sites/adminspace

[2019-10-18 12:07] juancarlosrodriguezf opened #4082 "Create Your Own SAP Fiori Launchpad"
Tutorial URL: https://developers.sap.com/tutorials/cp-fiori-create.html

Please specify the step you are referring to "Step 6: Validate your Fiori Launchpad" my answer is not valid and I don't understand why:
https://flpportal-p2000727752trial.dispatcher.hanatrial.ondemand.com/sites

[2019-10-19 03:52] jatinj opened #4083 "Create a New Welcome Card"
Tutorial URL: https://developers.sap.com/tutorials/cp-mobile-cards-welcome.html

Please specify the step you are referring to,

I noticed that when I pressed the Save button to finally save the Welcome Card, it's state was still development. So, you should add one more screenshot, which shows that on click of Mobile card, scroll down to Versions table and then tap on actions to change the state fr

[2019-10-20 16:14] cna-shiozaki commented on #4039
Hello,

Are you sure that your OS (e.g. Windows10) has been assigned a default Internet Browser ?? Check this out in the Control Panel (for Windows10).

If not, then ADT/Eclipse does not know how to open the "App Preview".

Hope it helps
CNA

[2019-10-21 04:25] ravipativenu opened #4084 "Use OData Navigation Properties with the SAP Cloud SDK's Virtual Data Model"
Tutorial URL: https://developers.sap.com/tutorials/cloudsdk-js-vdm-getbykey.html

Please specify the step you are referring to

I followed the tutorial and it is working. But when i am giving my code output in the last question, my answer is not getting accepted. My answer is as follows. Could you please help.

====================================
import { Request, Response } from 'express';
impor

[2019-10-21 07:05] ruthvikg193 commented on #4039
Thanks @cna-shiozaki.

I have reset the default browser in Windows 10 to Internet Explorer. Now, I am to preview.
For all having issue, just use IE and check the App Preview, it should work.

Thanks all again for inputs.

[2019-10-21 08:09] kunjbiharishukla commented on #4039
Thanks @cna-shiozaki

It is working for me now.

[2019-10-21 08:21] jitendrakansal commented on #4052
@thecodester i had a short call with @jayeshsaini ..issue has been resolved, you can close it.

[2019-10-21 13:16] marcfrenay opened #4086 "Maintain a Communication Arrangement for Inbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Please specify the step you are referring to STEP 8 :
I have only those options :
![image](https://user-images.githubusercontent.com/56831459/67208343-a74f6680-f415-11e9-9f41-fc6466af6855.png)

What can I do change this?

[2019-10-21 13:34] IObert commented on #4050
I noticed other issues with this tutorial too. I'd suggest we remove it entirely as we already have other tutorials that cover the same content in more detail [(see here).](https://developers.sap.com/mission.sapui5-cf-first.

Please reach out to me via email if you disagree

[2019-10-22 00:04] Suncatcher opened #4087 "Create a Developer User in SAP Cloud Platform ABAP Environment"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-developer-user.html

According to this tutorial there should have been a tile *Maintain employees* but there is not in my Trial Environment. As I get it, this tutorial for creating a user intended only for TechEd attenders, usual tenants on shared trial instance have no admin rights, yes?

[2019-10-22 06:19] thecodester commented on #4039
@OksanaShumova Seems that the issue is resolved. If you have additional questions about this issue, let us know.

[2019-10-22 06:19] #4039 closed

[2019-10-22 06:28] thecodester commented on #4052
@jitendrakansal If there is something with the solution that you and @jayeshsaini discussed that would be helpful for others, please add it to this issue. And thanks for handling.

[2019-10-22 06:28] #4052 closed

[2019-10-22 07:08] thecodester commented on #4050
@Paolaufer @LindsayBert Can you comment?

[2019-10-22 07:12] thecodester commented on #4078
@GirodFred Actually, the test yourself is NOT case sensitive, and extra white space is also ignored. But I understand your basic issue.

@julieplummer20 Can you address?

[2019-10-22 07:13] MatKuhr commented on #4084
Hi, the question assumes you only pass the query (without return statements or function definitions around it). Also you don't need to select every single field manually. So in summary you can modify your query to look like this:
`BusinessPartner.requestBuilder().getByKey('1').select(BusinessPartner.TO_BUSINESS_PARTNER_ADDRESS).execute({ url: 'https://my.cloud.erp.com' })` which should get accepte

[2019-10-22 07:20] thecodester commented on #4079
@IObert I think you assumed that you can you reuse images from other tutorials -- via specifying path to another tutorial -- but you cannot currently. You'll have to copy images to that folder.

[2019-10-22 07:26] thecodester commented on #4081
@juancarlosrodriguezf When I go to the URL you specified (for my trial account, of course), it redirects me to a longer URL. Do you get the portal "Admin Space" with a "Welcome to SAP Cloud Platform Portal" title?

@jarjarbentley Can you help here?

[2019-10-22 07:27] thecodester commented on #4082
@IObert Can you take a look at this one?

[2019-10-22 07:36] smile-ot commented on #4087
Same issue for me as well.

[2019-10-22 09:30] parry146 opened #4088 "Create Your First Fiori for iOS App"
Tutorial URL: https://developers.sap.com/tutorials/fiori-ios-scpms-teched18-02.html

Please specify the step you are referring to

Create Your First Fiori for iOS App - Step #5 gives an error

![Screen Shot 2019-10-22 at 7 52 52 PM](https://user-images.githubusercontent.com/47413309/67273721-bc59f180-f50a-11e9-93cd-50c3bd969006.png)

[2019-10-22 11:04] IObert commented on #4050
We continued the discussion via email. We'll let you know when we come to a conclusion.
Thanks for checking!

[2019-10-22 11:07] IObert commented on #4082
This should be the correct answer. It checks if your input matches `https://flpportal-[id]trial.dispatcher.hanatrial.ondemand.com/sites`. Are you logged in with the same user that matches the p-user from your answer?
Otherwise, I could be related to the trailing whitespaces

[2019-10-22 11:11] IObert commented on #4079
Thanks for reporting @jitendrakansal

[2019-10-22 11:24] #4079 closed

[2019-10-22 11:40] parry146 commented on #4088
....been trying to debug using information in step #6 ... getting the followinge error message..
![Screen Shot 2019-10-22 at 10 36 54 PM](https://user-images.githubusercontent.com/47413309/67282111-b2d98500-f51c-11e9-99bf-c951cddb6f01.png)

[2019-10-22 16:02] gregorwolf opened #4091 "Enhance CAP-Based Service to Refer to Remote Addresses"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-4-enhance-consume.html

In Step 8 you mention "You’ll address this in the next tutorial in this mission.". Unfortunately this tutorial isn't assigned to a mission yet. Only when I use [SAP TechEd 2019 App Space − Tutorial Missions](https://developers.sap.com/app-space.html) I can work through the S/4HANA Extensions with Cloud Applicat

[2019-10-23 01:29] k-younghwan commented on #4087
You don't need to maintain your employee in you trial environment.
You just create ABAP instance and you can create your test program.
I could make some samples following this tutorial.

https://developers.sap.com/group.abap-env-restful-managed.html

[2019-10-23 04:34] ravipativenu commented on #4084
Thank you for helping me with this. that worked..:)

[2019-10-23 04:34] #4084 closed

[2019-10-23 06:45] julieplummer20 commented on #4054
Done.

[2019-10-23 06:47] #4054 closed

[2019-10-23 06:52] mervey45 commented on #4087
Hi @Suncatcher  @smile-ot  @k-younghwan,

this tutorial isn't possible in the trial, that's why we added the license tag. You need a license to do so. Yes, in the trial, you don't have admin rights. You have to check up if there is a license tag or not added to the ABAP tutorials. You can only do tutorials, which are without the license tag for the SAP Cloud Platform ABAP trial.

Best regards,
Mer

[2019-10-23 12:36] BaerbelW opened #4094 "Open SAP Web IDE Full-Stack"
Tutorial URL: https://developers.sap.com/tutorials/webide-multi-cloud.html

Please specify the step you are referring to
Step 2

The Tutorial is not accepting the link I copied into the box:
https://webidecp-p1005717trial.dispatcher.hanatrial.ondemand.com/

Message:
" Sorry, that’s incorrect. Please try again."

Does it - like in some other tutorials - expect it to be written in a specific way or

[2019-10-23 15:12] juancarlosrodriguezf opened #4095 "Set Up Business Rules for Determining Equipment"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-businessrules.html

Please specify the step you are referring to "Step 2: Import business rules".

When I try to import the project, system raise an error: 'An error has occurred. Contact technical support.'

HTTP response with the complete error:

`{"error":{"code":"bpm.rulesrepository.internalservererror","me

[2019-10-23 16:49] ohanesi opened #4096 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to

Step 3: Build the application

![image](https://user-images.githubusercontent.com/39062060/67415417-4f576200-f5c5-11e9-975f-b39d5fc377d2.png)
![image](https://user-images.githubusercontent.com/39062060/67415609-9f362900-f5c5-11e9-8686-34676ff2675f.png)

As a Organisation I h

[2019-10-23 21:49] Suncatcher commented on #4087
Ok, got it. Just noticed _Requires Customer/Partner License_ tag.
Closing the issue.

[2019-10-23 21:49] #4087 closed

[2019-10-24 02:23] XanctusDelta opened #4097 "Analyze AMDP Performance"
In step 1 of the tutorial, it says that you need to create a package under /DMO/SAP. Upon checking, there is no package /DMO/SAP in the eclipse. I don't know where to find it.

[2019-10-24 06:00] juancarlosrodriguezf opened #4098 "Create an SAPUI5 Purchase Order App"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-ms-graph-create-app.html

Please specify the step you are referring to "Step 7: Deploy to the Neo environment", which is the correct URL?

I try 'https://purchaseorderapp-[id]trial.dispatcher.hanatrial.ondemand.com/index.html?hc_reset' and it doesn't work

[2019-10-24 06:00] #4081 closed

[2019-10-24 06:01] juancarlosrodriguezf commented on #4082
Thanks!

[2019-10-24 06:01] #4082 closed

[2019-10-24 06:22] julieplummer20 commented on #4097
Hi Xanctus,
NOTE: I am updating the tutorial, so it's probably better if you wait until you see the new one. I will release it asap.
Just out of interest, what system are you using?
Is it on-premise; if so, it doesn't matter.
If it is Steampunk, ie SAP Cloud Platform, ABAP Environment, then this no longer applies - just create a normal package in your normal SW component. As I say, I am updating t

[2019-10-24 06:25] i042416 opened #4099 "Need more input for tutorial - Create Business Partner in S/4HANA Cloud using ABAP Environment Data"
dear colleague,

When I am trying to study tutorial [Create Business Partner in S/4HANA Cloud using ABAP Environment Data](https://developers.sap.com/tutorials/abap-environment-business-partner.html), I am even stuck the very first step:

# Step 1: Download service metadata

There is only one pure sentence without any example / screenshot provided:
![image](https://user-images.githubusercontent.co

[2019-10-24 07:34] jberthe opened #4100 "Time Series with SAP HANA APL Forecast (Forecast SQL)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-forecast-sql-04.html

Step :Run the algorithm with “No Extra Predictors”
I have this error in my console :

Statement 'truncate table apl_cashflow_indicators'
successfully executed in 66 ms 834 µs  (server processing time: 7 ms 434 µs) - Rows Affected: 0
**java.sql.SQLWarning: wrong number or types of parameters in call: Column mismatch hap

[2019-10-24 08:02] julieplummer20 commented on #4062
Done

[2019-10-24 08:15] IObert commented on #4096
I would say that you use the correct trial account. I can't read the entire error message (the end is cut off), but I assume it fails bc you already have a service named `dest_tutorial` in your space.

You can fix this by removing the service manually before you trigger the deployment OR by changing the `type` of the service in the `mta.yaml` from `org.cloudfoundry.managed-service` to `org.cloudfo

[2019-10-24 08:16] #4062 closed

[2019-10-24 10:28] ohanesi commented on #4096
@IObert
Hello Maruis and thank you for your Answer.

Here ist the error message, that was cut off:
_Service operation failed: Controller operation failed: 502 Updating service "dest_tutorial" failed: Bad Gateway: Error creating service "dest_tutorial" from offering "destination" and plan "lite": Service broker error: Service broker destination-service-broker failed with: Quota limit exceeded. Inst

[2019-10-24 10:51] ArchanaShukla commented on #4038
Did it solve? The error messages says that you have already deployed a version of this MTA. The default version in the MTA is 0.0.1 and If you are not trying out this for first time and have deployed this MTA before then you need to change the version in the MTA file to say 0.0.2 etc. depending upon the last version you deployed.

[2019-10-24 11:32] IObert commented on #4096
Hi,

in this case, you'll have to remove the service manually. The trial account only allows you to have two "destination service instances" in use at a time. You can fix the issue by [removing the services ](https://answers.sap.com/questions/12684501/error-while-running-sapui5-app-in-webide--service-.html)instances via the SCP cockpit.

The same issue has been reported in #3929

[2019-10-24 11:35] IObert commented on #4094
Hi @BaerbelW,

the solution should match `https://webidecp-[id]trial.dispatcher.hanatrial.ondemand.com` where [id] is the placeholder of your p-user (i.e. the trailing slash need to be removed). Please let me know if this works

[2019-10-24 11:38] IObert commented on #4098
Did you try the URL with the `[id]` placeholder? Please insert the URL that you see in your browser (without the placeholder)

[2019-10-24 11:48] BaerbelW opened #4101 "Learn Annotation Basics for OData and Fiori"
Tutorial URL: https://developers.sap.com/tutorials/odata-04-basic-annotations.html

Please specify the step you are referring to
Step 5 - Specify the OData Service

I'm trying to work through the tutorial but am hitting an auth pop-up when selecting the system as shown. I'm fairly certain that I'm putting in the correct data (what the browser has stored and what has worked thus far throughout the

[2019-10-24 11:57] BaerbelW commented on #4094
Hi @IObert,

I just tried again but it doesn't like it either without the slash at the end. Somehow these "copy & paste" type answers are not working very well in the tutorials as the verification logic seems to be way too "nitpicky"!

[2019-10-24 13:46] IObert commented on #4094
I agree these strict validations are not helpful :( I'll change the logic of the validation.

Please try the same input again in a few minutes

[2019-10-24 15:27] DerGuteWolf commented on #4062
@julieplummer20 : are you sure this is fixes? I still der Chuck Norris Jokes in the Screenshots from step 3.

[2019-10-24 16:32] julieplummer20 commented on #4062
Hi, Sorry, on closer examination, I have made the changes, but they are not yet publicly visible. Not a tool problem- the error was mine. I will resolve this on Monday, when I am back in the office. Best wishes Julie

[2019-10-24 22:01] VenkateshhKonduri opened #4106 "Develop an SAP Fiori App Using ABAP"
Mission URL: https://developers.sap.com/mission.cp-starter-extensions-abap.html

Extremely great mission. When adding a travel, I used the end date before the start date but it still accepted. I guess we need to build a validation logic on Dates. Good mission overall.

[2019-10-24 23:22] hml8 opened #4107 "Execute the APL Forecast algorithm (Forecast App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-forecast-13.html

Please specify the step you are referring to
step 9, execute APL forecast on Ozone LA data

The timestamp in the data set is stored in format 1971-12-28 12:00:00
This format is required by the oData service too. The UI convert the selected date to
Sun Nov 28 1971 00:00:00 GMT+0000 (Coordinated Universal Time)
and passes th

[2019-10-25 00:23] hml8 opened #4108 "Execute the PAL Auto Smoothing algorithm (Forecast App)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-aa-forecast-15.html

Please specify the step you are referring to
inconsistent naming of files and references  ... "auto_smoot**h**ing"  and "auto_smooting"
=> route not found

[2019-10-25 00:25] parry146 commented on #4088
re do the steps again.., still the same state.... any updates.. pls
![Screen Shot 2019-10-25 at 11 23 18 AM](https://user-images.githubusercontent.com/47413309/67534498-1a105880-f71a-11e9-8d4f-8f9e8ceca04a.png)

[2019-10-25 05:23] BaerbelW commented on #4094
Thanks, Marius! Now it works and accepts the copied URL.

Cheers
Bärbel

[2019-10-25 05:23] #4094 closed

[2019-10-25 05:58] BaerbelW commented on #4101
When I tried again, I get the pre-populated pop-up but it still doesn't accept my credentials and just displays the pop-up again after clicking on "login".
![grafik](https://user-images.githubusercontent.com/18588108/67546556-fd195c80-f6fc-11e9-89c8-f20d0a3677dd.png)

Should I try to set up a new SAP_Gateway connection as explained in the previous tutorial or is there a "password reset" functional

[2019-10-25 08:09] qmacro commented on #4101
Hi Baerbel - you can request a password reset here: https://register.sapdevcenter.com/SUPSignForms/

When you (re)create the destination, ensure you use the `sap-client` parameter as shown in Step 4 of the previous tutorial https://developers.sap.com/tutorials/teched-2016-3.html

[2019-10-25 08:09] #4101 closed

[2019-10-25 09:17] BaerbelW commented on #4101
Thanks, DJ!

Turned out that I didn't need to request a new password: when I opened the sapdevcenter-page, I realised that the trial account for the gateway demo system was for my S-User (the "P123456789" mentioned in the tutorial had me confused). Once I updated the user and password in my connection definition, I was able to login and continue with the tutorial.

Cheers
Bärbel

[2019-10-25 09:28] juancarlosrodriguezf commented on #4095
Hi,
for my user, p2000727752, doesn't work. I've refreshed the browser and I've the same error :( .

[2019-10-25 09:33] juancarlosrodriguezf commented on #4095
Hi again,

solved, it was a problem with the credencial of the destination 'BUSINESSRULES_APIHUB'.

[2019-10-25 09:33] #4095 closed

[2019-10-25 09:53] IObert commented on #4098
Are you sure the application is running? The validation will check the HTTP status code that is being returned from there. To me, this URL is not accessible (e.g. it doesn't return code 200).

[2019-10-25 10:17] wassupgon opened #4109 "Create an SAP Cloud Platform ABAP Environment Trial User"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html

Cannot find ABAP Trial here..

![image](https://user-images.githubusercontent.com/51322014/67563610-572c1900-f721-11e9-8b63-6aeacc6e57d8.png)

[2019-10-25 10:46] BaerbelW opened #4110 "Learn Annotation Basics for OData and Fiori"
Tutorial URL: https://developers.sap.com/tutorials/odata-04-basic-annotations.html

Please specify the step you are referring to
Step 13: Add Header information

Me again!

When I add UI.HeaderInfo, I'm only asked to specify 2 instead of 3 items. The one for "Title" seems to be missing:
![grafik](https://user-images.githubusercontent.com/18588108/67564394-1d5c1200-f723-11e9-8fe4-93955de17d0b.png)

[2019-10-25 13:55] BaerbelW opened #4111 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to
Step 3: Set CF and CDS preferences in SAP Web IDE

The screen I get when I check the Cloud Foundry preferences looks different to what is shown in the tutorial as there isn't anything pre-filled in the input fields and when I select the shown API endpoint I get a pop-up

[2019-10-25 14:26] ravipativenu opened #4112 "Consume Messages for Business Events from SAP S/4HANA Cloud"
Tutorial URL: https://developers.sap.com/tutorials/s4sdk-consuming-messages.html

Please specify the step you are referring to

Step 28: Consume events with the example application

My application is successfully deployed in Cloud foundry. But application is not receiving any messages

I can see my BP change messages present in Queue "BUPA_CHANGED_QUEUE".

Below is the code and logs:

============

[2019-10-26 21:50] pavan141080 opened #4114 "Configure Initial Setup for SAP Mobile Cards"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-1-setup.html

Please specify the step you are referring to

9. Switch back to Mobile Services cockpit, paste the copied API key in the open pop-up, and then choose OK.

I missing this step, can you please explain how to maintained copied API key?

[2019-10-27 04:08] pjcools opened #4115 "Create a Project to Author Rules"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules04-create-project.html

Please specify the step you are referring to

Step: 1

There is a massive assumption here that users know which page to launch. There needs to be a blurb at the start (before the Step 1 instructions) to tell the user they must run their Business Rules application URL they saved from one of the previous tu

[2019-10-27 04:58] ravipativenu opened #4116 "Setup a Jenkins Pipeline for an SAP Cloud SDK app"
Tutorial URL: https://developers.sap.com/tutorials/ci-aws-4-pipeline.html

Please specify the step you are referring to Step4

Build failed with below error:
=====================================
[2019-10-27T04:55:25.956Z] + mvn --file pom.xml --batch-mode '-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn' versions:set '-DnewVersion=1.0-2019-10-27T045522UT

[2019-10-27 06:13] pjcools opened #4117 "Test the Business Rules API from SAP API Business Hub"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules09-test-apis.html

Please specify the step you are referring to:
Step 4. When I tested the Business Rules API I received an Unauthorised 401 message and nothing returned due to this error.

{
  "error": "unauthorized",
  "error_description": "Full authentication is required to access this resource"
}

Content-Length: 102
 Expire

[2019-10-27 09:24] minok104 opened #4118 "Add API Business Hub API to a UI5 Application"
Tutorial URL: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html

Please specify the step you are referring to

Step 2: Get JavaScript pre-generated code

I copied the sample code from Code Snippet and submit answer.
It became "Sorry, that’s incorrect. Please try again."
I think there is an version issue.
Please fix to latest version.
![image](https://user-images.githubusercontent.com/4

[2019-10-27 09:28] thecodester commented on #4118
@IObert Can you look at this? Feel free to reassign if necessary.

[2019-10-27 16:03] Dagravio opened #4119 "Maintain a Communication Arrangement for Inbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Hello Team,

I'm following the tutorial to connect SAP Cloud Platform to my 7.52 SP04 ABAP Server but got stuck at the step ( Step 6: Create a communication arrangement using the service key ). There are only two options on the dashboard ( SQL Trace and SQL Explain ) when it opens up. I think this i

[2019-10-27 16:08] Dagravio commented on #4074
Hello Julie,

Got stuck on the same issue and I know that it is because of the business catalog. I've check other tutorials and you can do this from the launchpad via "Maintain Employee" app but it's also not available.

Thanks,
Dimmak

[2019-10-27 18:55] iwonahahn commented on #4057
Hi, we have updated the mentioned tutorial based on this issue here https://answers.sap.com/questions/12889011/not-receive-commands-via-mqtt.html?childToView=12889032. Please try again. It should work now as described.

Best regards,
Iwona

[2019-10-28 03:16] jackleetw opened #4120 "Deploy Your First SAPUI5 App to Cloud Foundry"
Tutorial URL: https://developers.sap.com/tutorials/cp-ui5-webide-new-app.html

Please specify the step you are referring to
Step 4: Deploy the archive to Cloud Foundry

I try to deploy to Cloud Foundry but failure
the error log as attached
and I been check the help , no idea where I perform wrong steps or missed something

[MAIN_LOG.TXT](https://github.com/SAPDocuments/Tutorials/files/3776978/MAIN

[2019-10-28 04:29] VandanaVasudevan commented on #4115
Hi Phil,

Thanks for your feedback. I'm working on it. I'll be pushing the updated tutorials soon.

Best Regards,
Vandana

[2019-10-28 07:53] OksanaShumova commented on #4039
Hello!
Thanks for your advices. I changed my default browser from Chrome to IE, and preview button works now

[2019-10-28 08:48] juancarlosrodriguezf commented on #4098
Solved, it was a spelling error. Thanks.

[2019-10-28 08:48] #4098 closed

[2019-10-28 09:32] qualiture commented on #4116
Hi @ravipativenu,

It is a bit hard to tell from the error description, but I guess the AWS EC2 instance has run out of disk space (the Nexus caching server could eat up quite a lot of resources)

You may opt to either disable the Nexus caching mechanism (which has an impact on build performance as the build process then needs to download te required dependencies each time) or increase the AWS EC2

[2019-10-28 10:06] #4118 closed

[2019-10-28 10:06] IObert commented on #4118
Thanks for opening this issue. You are right, the snippet has been updated which is why the old solution doesn't work anymore.

I updated the solution to accept the correct answer. Please try again in a couple of minutes

[2019-10-28 10:46] BaerbelW commented on #4111
Not too surprisingly, not being able to complete Step 3 to select the CF Space, I'm now not able to complete Step 11 to create the database. When I try to build the DB I get an error message:
![grafik](https://user-images.githubusercontent.com/18588108/67671624-969f7300-f976-11e9-9494-3b94eae1acd6.png)

Being a complete beginner and mostly not really knowing what I'm doing where and why in the cou

[2019-10-28 10:53] PROD-BR3-MRI commented on #3781
I Lucia, I have successfully check all the steps off your tutorial, but when I try to open the remote source I've got the following error message :  The requested backend service did not succeed
{"error":{"code":"500","message":{"lang":"en-US","value":"Error while executing a DB query"}}}

What does it mean ?

Thank you per advance

Maxime

[2019-10-28 10:55] PROD-BR3-MRI opened #4123 "Remote sources error"
I Lucia, I have successfully check all the steps off your tutorial, but when I try to open the remote source I've got the following error message : The requested backend service did not succeed
{"error":{"code":"500","message":{"lang":"en-US","value":"Error while executing a DB query"}}}

What does it mean ?

Thank you per advance

Maxime

[2019-10-28 11:08] thecodester commented on #4123
Which tutorial is this for?

[2019-10-28 11:10] PROD-BR3-MRI commented on #4123
Sorry I forgot the URL :  https://developers.sap.com/tutorials/haas-dm-connect-sdi.html

This is a tutorial to create a remote sources in SAP HANA Database in 2.0 based on Websocket connectivity.

[2019-10-28 11:11] PROD-BR3-MRI commented on #4123
I'm in HANA 2.0 SP04 in AWS
I've installed the SDI SP04 patch 10

[2019-10-28 11:42] jitendrakansal commented on #4083
@jatinj you are right, we are aware of it. we ll update the tutorial in next few weeks.
Thanks for pointing out.

[2019-10-28 11:44] jitendrakansal commented on #4114
@pavan141080 could you share some more info?
Were you not able to copy the API key?
This key is from API hub sandbox system specific to your account. you can get this key from https://api.sap.com/preferences , login with cloud platform credentials, click "Show key"

[2019-10-28 11:59] IObert commented on #4120
It seems that the "destination" service is not activated in your trial account. Please [configure the entitlements ](https://blogs.sap.com/2019/06/05/the-new-way-to-manage-entitlements-and-quotas-on-sap-cloud-platform-cockpit/)of your account and add the service plan "destination"

[2019-10-28 13:53] tiagobalmeida opened #4124 "Using Autonomous Transactions"
Tutorial URL: https://developers.sap.com/tutorials/xsa-sqlscript-trans-autonomous.html

Hey, it's not clear if autonomous transactions run synchronously or asyncronously to the code that started them. From my empirical tests they run sequentially but can you provide some clarity please?

Thanks

[2019-10-28 18:52] rbrainey commented on #3006
Hi David,
I'm sorry for the horribly log response time here.  That particular Mission was obsoleted and removed earlier this year -- are you still exploring Web IDE development?  If so, there's a few paths I can suggest based on your area(s) of focus.  Out of these areas, are there any that are of particular interest?

* Deploying applications  in Cloud Portal
* Developing OData services using Web

[2019-10-28 18:58] rbrainey commented on #4058
Hi Alexander,

I'm investigating a couple of things now on this.  It is true that HANA as a Service instances in AWS (either us10 or eu10) will expose the most complete functionality today, although plans have Azure regions catching up fast.

Let me investigate a couple of things and I'll report back ...

[2019-10-28 19:37] rbrainey commented on #4006
Hi. This is a great suggestion. I am updating the tutorial with some refined instructions.

Thanks for your feedback.  This change has been committed in git and push to production.

[2019-10-28 19:37] #4006 closed

[2019-10-28 19:55] rbrainey commented on #3687
Hi.  There's two ways we could attack this issue: first, if you send me a screenshot of the services cockpit panel, I might be able to track the issue down -- second (maybe better), there's a completely revamped version of Cloud Portal now available; You can try it out through one of our new TechEd 2019 Missions: see https://developers.sap.com/app-space.html -- the Cloud Portal mission is the one

[2019-10-28 20:28] rbrainey commented on #4018
This has been addressed, but it required adding "Done" buttons to all steps in this tutorial.

[2019-10-28 20:28] #4018 closed

[2019-10-29 05:17] minok104 commented on #4118
Thank you for the update.
I passed the check.

[2019-10-29 07:04] thecodester commented on #4124
@Sygyzmundovych Can you help here?

[2019-10-29 07:04] alexanderparr commented on #4058
Hi @rbrainey,
thank you for taking care. Please have a look at SAP Ticket 627419 / 2019. It was confirmed, that SDI @ Azure is not supported right now.

Thanks,
Alexander

[2019-10-29 07:10] thecodester commented on #3687
I suggest using this mission for learning portal: https://developers.sap.com/mission.portal-cf.html

Good luck

[2019-10-29 09:10] Liebherr commented on #3755
Hi Sebastian/ @freilinger ,
the wrong wording is corrected now.
Thanks and Regards
Ulrike

[2019-10-29 09:36] #3755 closed

[2019-10-29 09:55] #4057 closed

[2019-10-29 10:36] PROD-BR3-MRI commented on #4123
Hello,

Do you find a solution to my issue ?

Thk's

[2019-10-29 10:41] ahusemann opened #4126 "Add a Database to Your Business Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-03-add-database.html

Please specify the step you are referring to
Step 1: Add a database

The Build that is triggered in step 1 fails, according to the log some connections have been refused.
The .hdiconfig was already adjusted to match the required plugin version:
 "plugin_version": "2.0.2.0"

Please advise how to proceed.

[Console.log](

[2019-10-29 11:51] mervey45 commented on #3807
We can close this issue.

[2019-10-29 11:52] mervey45 commented on #3988
Hi @rhubarbkid,

I tested this tutorial. It works, are you sure, that you have the latest ADT? Please check this.

Best regards,
Merve

[2019-10-29 11:53] mervey45 commented on #4027
@thecodester  We can close this issue.

[2019-10-29 11:53] mervey45 commented on #4053
@thecodester We can close this issue.

[2019-10-29 11:55] mervey45 commented on #4076
Hi @ruthvikg193,

thank you for your feedback, I'll involve my colleagues.

Thank you.

Best regards,
Merve

[2019-10-29 11:56] mervey45 commented on #4086
Hi @marcfrenay,

are you trying to do this tutorial with the trial offering?

Best regards,
Merve

[2019-10-29 11:57] #3807 closed

[2019-10-29 11:57] #4027 closed

[2019-10-29 11:58] #4053 closed

[2019-10-29 11:59] mervey45 commented on #4099
Hi @i042416,

you need to copy the communication arrangement URL from the S/4HANA Cloud system.
You need to open the communication arrangement you've created earlier, the URL will be listed and then you need to paste it in your browser.

Best regards,
Merve

[2019-10-29 12:01] mervey45 commented on #4109
Hi @wassupgon,

please make sure you have configured the entitlements (step 2) and you have Europe frankfurt as a region for your subaccount. And make sure, you have a dev space.

Best regards,
Merve

[2019-10-29 12:03] mervey45 commented on #4119
Hi @Dagravio ,

this tutorial is for SAP Cloud Platform ABAP Environment. You can do this with our cloud offering.

Best regards,
Merve

[2019-10-29 12:18] cschubertcs commented on #4112
Hi @ravipativenu,

this looks like some connectivity issue between the Enterprise Messaging Service and your application.
Can you please double check that the configuration is set up exactly as described in the tutorial?
In addition it might be helpful to increase the logging output for the relevant classes. My best guess here would be to set everything under `com.sap.cloud.servicesdk.xbem.*` to l

[2019-10-29 13:24] rbrainey commented on #4123
Hi, when you say "HANA 2.0 SP04 in AWS", are you saying you are using HANA as a Service in SAP Cloud Platform in an AWS region (e.g., us10 or eu10) or that you are using a HANA installation in an AWS VM? This tutorial is designed for the former use case (SAP Cloud Platform) -- we might still be able to help but it's important to resolving the issue to know.  Thanks.

[2019-10-29 13:26] PROD-BR3-MRI commented on #4123
Yes I use HANA as a Service in SAP Cloud Platform in an AWS region in EU10

[2019-10-29 13:27] rbrainey commented on #4058
Thanks for the info, Alexander. Is running this in an Azure region a hard requirement for you?  If not, it is possible to switch regions for a SAP Cloud Platform Trial.  I'll close this issue after you've had a chance to reply.  Regards,

[2019-10-29 13:30] alexanderparr commented on #4058
For the project I'm working on it is relevant and we switched to another Hyperscaler until it is provided on Azure. However, it had saved me hours, if it would have been documented somewhere.

[2019-10-29 13:49] apoeschl commented on #4018
Works perfect, thanks!

[2019-10-29 13:51] jenska opened #4129 "Call IoT Application Enablement service APIs with Postman"
Tutorial URL: https://developers.sap.com/tutorials/iotae-api-postman.html

Please describe the parts of tenant-specific application router more briefly or reference to an example app from another tutorial.
Thx Jens

[2019-10-29 17:58] #2954 closed

[2019-10-29 19:57] rbrainey commented on #3857
This tutorial has been removed as the capability is no longer present in Web IDE.

[2019-10-29 19:57] #3857 closed

[2019-10-29 19:59] rbrainey commented on #3978
This tutorial has been removed as Web IDE no longer supports this capability,

[2019-10-29 19:59] #3978 closed

[2019-10-30 01:56] lesbink opened #4130 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Please specify the step you are referring to:

- Concern:
- In step # 2.4, what is the Application Identifier to use?

[2019-10-30 08:29] mervey45 commented on #4086
Hi @marcfrenay ,

you can't do this tutorial with the trial. You need a license to do so.
We added the license tag to this tutorial.

Best regards,
Merve

[2019-10-30 10:40] Karacraft opened #4133 "Prepare the Portal Environment for Creating Sites"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html

Please specify the step you are referring to

Step 2 : 5
The Add role popup dropdowns are disabled.
![add_role](https://user-images.githubusercontent.com/42495441/67851131-8da3d280-fb2b-11e9-9547-e7328502d17f.jpg)

[2019-10-30 11:25] ahusemann opened #4135 "Create OData Entities with the SAP Cloud SDK's Virtual Data Model"
Tutorial URL: https://developers.sap.com/tutorials/cloudsdk-js-vdm-create.html

Please specify the step you are referring to
Step 4: Wire everything up

The provided JSON for the address creation does not fit the implementation of buildAddress.
As the keys are starting with an upper case character and the fromJson function expects them to start with a lower case.

Thus following does not work
 {

[2019-10-30 13:35] pwasem opened #4136 "Install an OData V2 Adapter"
Tutorial URL: https://developers.sap.com/tutorials/cap-cloudsdk-2-v2-adapter.html

There is an issue with the provided example code that the database will not be connected.
The solution is to wait for the database to be connected as shown below:

[code]

Bests,

Pascal

[2019-10-30 14:56] mervey45 commented on #3617
@DerGuteWolf The push feature is available in 1911. That's why it hasn't been in this tutorial. With 1911 this tutorial will be updated, so we can close this issue.

[2019-10-30 16:43] svbhagwat commented on #4020
Hi there, I, too am receiving the same error "Tenant provisioning failed. Please try after sometime." even after repeated attempts.  Today is October 30, 2019 - is there a system issue happening now as well?

[2019-10-30 19:04] ravipativenu commented on #4116
it worked after increasing the memory and removing Nexus Caching. Thank you for the help.

[2019-10-30 19:04] #4116 closed

[2019-10-30 19:17] echagas-accenture opened #4138 "Set Up the Manage Rules Project Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules03-setup-mrp.html

Please specify the step you are referring to

2. After the build completes, navigate to the mta_archives > businessruleseditor_0.0.1.mtar file. Right-click businessruleseditor_0.0.1.mtar and choose Deploy > Deploy to SAP Cloud Platform.

It only works if you have created the service as businessrules instead bu

[2019-10-30 19:53] markdevries opened #4139 "Use the SAP Cloud Application Programming Model to Create a Full-Stack App"
Group URL: https://developers.sap.com/group.cp-apm-full-stack-app.html

The hana plan "trial" does not exist anymore

[2019-10-31 05:14] lesbink opened #4140 "Get Started with SAP Cloud Platform Rapid Application Development by Mendix"
Can you kindly re-visit Step 5 if it is working? Tried many times but it is not working. Tried using hana-schema or postgresql but it did not work. Errors are:
- Service postgresql does not exist
- Service hana does not exist

[2019-10-31 05:41] thecodester commented on #4140
@IObert I think this involves more the services on the cloud then the Mendix functionality.

@otiliamarinescu Can you help here?

[2019-10-31 05:48] VandanaVasudevan commented on #4138
Hi,
You need to modify the name of the service instance only if it's different from "businessrules". I'll add the (optional) tag to the step so that it's clear. Thanks for your feedback!

Best Regards,
Vandana

[2019-10-31 05:57] #3617 closed

[2019-10-31 05:57] #4086 closed

[2019-10-31 07:31] #4055 closed

[2019-10-31 07:54] otiliamarinescu commented on #4140
@thecodester @IObert postgresql and all other backing services have been retired for new SAP CP customers as well as for trial from July 15:
https://blogs.sap.com/2019/07/15/evolution-of-sap-cloud-platform-retirement-of-sap-managed-backing-services/
So this tutorial definitely has to be updated it it requires the use of that.

Hana schema should still be available on trial, not very familiar with

[2019-10-31 09:35] NeffetsKasier opened #4142 "Monitor Temperature Data by Calling APIs via Node.js"
Tutorial URL: https://developers.sap.com/tutorials/iotae-api-nodejs-events.html

Please specify the step you are referring to:
Monitor Temperature Data by Calling APIs via Node.js: Step2

Issue:

when calling the url:
[code]

it raises following error:
`404 - {"error":{"code":"NotFound","message":{"lang":"en","value":"Invalid pstId iotae.agilita-aws.greenhouse2:envData"}}}"`

what are I'm doing wr

[2019-10-31 12:16] qmacro commented on #4136
Hi there @pwasem - thanks so much for getting in touch. I've just tried the code in the tutorial as-is, on a new machine and it all works fine, as expected. In case you want to explore alternative approaches to `server.js` (a perfectly valid thing to do) I'd recommend doing that within the CAP community - find out links to those places, and the SAP Community Q&A, here: bit.ly/cap-com. Cheers! DJ

[2019-10-31 12:16] #4136 closed

[2019-10-31 12:57] pwasem commented on #4136
@qmacro
At least for local development using **sqlite**  and some csv data being deployed to local db file,`await cds.connect('db')` seems to be mandatory.
Without this call any request e.g. **GET**  http://localhost:4004/service/Entity will not return any results:
[code]
But with `await cds.connect('db')` the same request from above will return the csv being deployed to local db file.
So though i

[2019-10-31 13:59] banurekhabalaji commented on #4142
Hi Steffen,

Kindly check your package name - iotae.agilita-aws.greenhouse2. Package name cannot contain special characters. Please find the naming conventions for a package in the following help portal topics:

- https://help.sap.com/viewer/080fabc6cae6423fb45fca7752adb61e/1910b/en-US/72815137035e48e0ac38e50934e718df.html
- https://help.sap.com/viewer/080fabc6cae6423fb45fca7752adb61e/1910b/en-US/

[2019-10-31 15:29] mervey45 commented on #3988
Hi,

did you add the coding from step 5 in your local types tab? Please be sure, that it is in the right place.  Be also sure, that you replaced the XXX.

Best regards,
Merve

[2019-10-31 15:40] mervey45 commented on #4106
Hi @VenkateshhKonduri ,

thank you for your feedback. There is a validation, which tests the start and end date. If your end date is before the start date, then there should be an error message. Please test it again.

Best regards,
Merve

[2019-10-31 15:41] mervey45 commented on #4106
@thecodester we can close this issue.

[2019-10-31 16:12] qmacro commented on #4136
I do get results from the DB, no problem. So I'm a bit puzzled, I'm afraid. All the folks who have gone through this tutorial (and the mission) so far have not encountered any issue either. I'm wondering whether it's something specific to your Node.js setup? Perhaps you could share it in Q&A. Cheers!

[2019-11-01 11:32] jjtang1985 commented on #4135
@ahusemann, thank you for reporting this, you are definitely right, the tutorial should be fixed by using the lower case.

@mr-flannery, the attributes of the entity business partner address in edmx/json file are using the upper camel cases, while the generated vdms are using the lower camel case.

It's easy to fix the issue, making the json with the lower camel case.

[2019-11-01 16:20] jberthe opened #4144 "Prepare and upload your Dataset for Image Classification Retraining"
Tutorial URL: https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-02.html

Please specify the step you are referring to **Step 4: Upload your dataset**
 Hi,
I have all time a timeout,k is there a solution to ovoid it or at least having a command line wich retry untile the upload works ?

Regards,
Joseph

[2019-11-03 09:19] #4119 closed

[2019-11-03 09:20] #4106 closed

[2019-11-04 00:02] takismart opened #4145 "CP Provisioning reached to 94% and stopped"
Tuturial:
https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Step 4: Provision SAP Cloud Platform Integration tenant

After I chose 'Provision to provision a SAP Cloud Platform Integration tenant', provisioning progress processed to 94% and then stopped there for 2 hours.

Please help.

Thank you very much.

[2019-11-04 01:37] takismart opened #4146 "QR Code for SAP Mobile Cards (iOS)"
Tutorial: Create SAP SuccessFactors Timesheet and To Dos Card
https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-2-create.html

Step 4: Configure SAP Mobile Cards client

After scan QR code on my iphone, the error message 'Safari cannot open the page because the address is invalid'

QR Code Address:
com.sap.content2go://configure?serverURL=https://pXXXXXXXXXXtrial-dev-com-sap-m

[2019-11-04 04:05] adozgec opened #4147 "Invalid JWT token: 'Not allowed JWT header"
Hi,

When I try to cf sapml fs init, I receive the following error. Is there a step I'm missing?

Initialization had issues. (status=ERROR) Unexpected Error: "Invalid JWT token: 'Not allowed JWT header: 'jku'=https://sxxxxxxxxxxtrial.authentication.eu10.hana.ondemand.com/token_keys.'".

Best regards,
Ali Özgeç

[2019-11-04 06:18] AstridHerbst commented on #3605
Hi,

Please see the new tutorials at: https://developers.sap.com/group.cp-workflow-cf.html

Best regards,
Astrid

[2019-11-04 06:18] #3605 closed

[2019-11-04 06:18] AstridHerbst commented on #3785
Hi,

Please see the new tutorials at: https://developers.sap.com/group.cp-workflow-cf.html

Best regards,
Astrid

[2019-11-04 06:18] #3785 closed

[2019-11-04 06:18] AstridHerbst commented on #3792
Hi,

Please see the new tutorials at: https://developers.sap.com/group.cp-workflow-cf.html

Best regards,
Astrid

[2019-11-04 06:18] #3792 closed

[2019-11-04 06:18] AstridHerbst commented on #3828
Hi,

Please see the new tutorials at: https://developers.sap.com/group.cp-workflow-cf.html

Best regards,
Astrid

[2019-11-04 06:18] #3828 closed

[2019-11-04 06:34] banurekhabalaji commented on #4129
Hi Jens,

A table with the description of the different parts is already documented in the same section **Tenant-specific Application Router**. Kindly go through and hope that helps.

Regards,
Banurekha Balaji

[2019-11-04 07:19] sandeep-tds commented on #3785
Thank you so much for updating the documentation @AstridHerbst

[2019-11-04 07:42] thecodester commented on #4147
WHat tutorial are you referring to?

[2019-11-04 09:15] adozgec commented on #4147
Hi,

Customize Image Classifier Machine Learning Foundation Services on SAP Cloud Platform Trial

- Prepare your environment for the SAP Leonardo Machine Learning foundation Image Classification Retraining scenario
Step 3: Set the Machine Learning foundation plugin Configuration

https://developers.sap.com/tutorials/cp-mlf-retrain-image-classification-01.html

[2019-11-04 09:27] gauthamkrishna-sap commented on #4145
Hello,
Thank you for your feedback.
Can you kindly try to provision the tenant again? Sometimes, due to huge load of provisioning requests, this issue might happen.
Thanks & Best Regards, Gautham

[2019-11-04 09:36] valentini50 opened #4149 "Connect to SAP S/4HANA Cloud with SAP Cloud Platform ABAP Environment"
Mission URL: https://developers.sap.com/mission.abap-env-connect-s4hana.html

Unable to complete the mission.
Step '3': Create Service Binding for Bonus Plan Scenario with SAP Cloud Platform ABAP environment

Step one does not have the option to mark as done

[2019-11-04 10:05] thecodester commented on #4149
@mervey45 Can you fix?

[2019-11-04 14:14] mervey45 commented on #4149
@thecodester I fixed it (merge: #4151).
We can close this issue.

[2019-11-04 15:13] jitendrakansal commented on #4146
@takismart do you already have "sap mobile cards" app (https://apps.apple.com/us/app/sap-content-to-go/id1168110623) installed on your iphone?

[2019-11-04 16:01] rbrainey commented on #3134
The automated BUILD import to Web IDE is no longer supported.

[2019-11-04 16:01] #3134 closed

[2019-11-04 16:01] rbrainey commented on #2988
he automated BUILD import to Web IDE is no longer supported.

[2019-11-04 16:01] #2988 closed

[2019-11-04 16:03] rbrainey commented on #3687
I'm closing this issue, Chris.  Feel free to reach out to me directly if you'd like to discuss the updated functionality in the new Tutorial.

[2019-11-04 16:03] #3687 closed

[2019-11-04 16:09] rbrainey commented on #3463
Hi, that particular system is a pre-configured API endpoint. It is separate from your normal Trial environment.  It should be accessible to you despite that -- could you be more specific about the issue you were running into?

[2019-11-04 16:55] markdevries commented on #4139
Hi Rene,
thanks for contacting me.
Looks like I must have mixed something up (maybe I was reading older docs in a different tab or something), your docs in the current version are correct.
My bad, sorry for the mixup.

BR
Mark

[2019-11-04 16:55] #4139 closed

[2019-11-04 17:01] gauthamkrishna-sap commented on #4130
Hello,
Thank you for the feedback. You can use the application identifier with prefix 'it'. We created the tutorial with the assumption that Cloud Integration will be the only active service, but we will add it as a additional note.
Thanks & Best Regards, Gautham

[2019-11-04 19:44] gauthamkrishna-sap commented on #4130
Also, enhanced the tutorial with this information about application identifier.

[2019-11-04 19:48] takismart commented on #4145
Hi Gautham,

Thank you for your quick response.

I tried again - it works now.

Best Regards,
Judy

[2019-11-04 19:48] #4145 closed

[2019-11-05 02:34] lesbink opened #4152 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Please specify the step you are referring to:

- In Tutorial 5 of 12, Step 4.1, Step 4.2 and Step 4.3, can you kindly replicate from your end if the tutorial still working.
- From my end, it is always "Uh oh. Something went amiss.".
![Uhoh](https://user-images.githubusercontent.com/55445200/68174076-bd355d80-ff

[2019-11-05 02:36] lesbink commented on #4130
Thanks a lot! That solution worked from my end!

[2019-11-05 02:36] #4130 closed

[2019-11-05 08:32] socenmarc commented on #3580
Hi everyone,

I get the same error reported by @gregorwolf some months ago:
`TypeError [ERR_INVALID_PROTOCOL]: Protocol "http:" not supported. Expected "https:`

The sdk versions in my package.json are:
`    "dependencies": {
        "@sap/cds": "^3.18.3",
        "@sap/cloud-sdk-core": "^1.11.3",
        "@sap/cloud-sdk-vdm-business-partner-service": "^1.11.3",`
My node_modules folder is up to da

[2019-11-05 09:42] mr-flannery commented on #3580
Hi Marc,

I tested this with the versions you've mentioned and cannot reproduce the issue. Could you quickly check which node version you're running (`node -v`)?

Thanks
Dennis

[2019-11-05 10:15] socenmarc commented on #3580
Hi Dennis,

of course, it is v10.16.0

As additional information, I am using SAP Business Application Studio.

Thanks,
Marc

[2019-11-05 10:26] mr-flannery commented on #3580
Hmm, even with v10.16.0 I couldn't reproduce this... Can you try the following, just to make sure?
* set the versions of `core ` and `business-partner-service` back to `^1.11.3`
* delete your `package-lock.json`
* delete your `node_modules`
* run `npm install`
* execute your code again

[2019-11-05 10:47] stesap opened #4155 "Create an SAPUI5 App from the Command Line"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-sapui5-local.html

Hi all,

it seems the mentioned tutorial is out of date. I just followed the steps and see a lot of differences and finally an error during deployment.

**yo version** `3.1.0`

## Error while deployment

I assume that `npm run build:cf` is replaced by `npm run build:mta`. After I run this, I get following error:
[code]

##

[2019-11-05 11:17] ahusemann opened #4156 "Generate Custom OData Client Library with SAP Cloud SDK's Generator"
Tutorial URL: https://developers.sap.com/tutorials/cloudsdk-js-generator.html

Please specify the step you are referring to
Step 6: Integrate with Express.js application (optional)

The call of http://localhost:8080/candidates always fails, this is due to a wrong path defined in step 4. The API is available under the path https://sandbox.api.sap.com/successfactors/odata/v2/Candidate according to t

[2019-11-05 12:58] mr-flannery commented on #4156
Thanks for reporting this! This is indeed incorrect in the tutorial.

One small suggestion: instead of setting `/successfactors/odata/v2` as service path and then calling `.execute({ url: 'https://sandbox.api.sap.com' })`, you can also move the `/successfactors` to the end of the url in the execute call. This has the advantage that you can resuse the generated code for integrating with a real Succ

[2019-11-05 13:06] ahusemann commented on #4156
Thanks for that quick response, actually that solution came to my mind as well. Your explanation, why the other approach fits better is convincing.

[2019-11-05 13:24] thecodester commented on #4156
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-05 13:24] #4156 closed

[2019-11-05 14:16] socenmarc commented on #3580
Thank you very much for your support Dennis.

I did it and the same error appears, unfortunately.

I've gone a little further with my tests:
- From SAP Business Application Studio, I uploaded my capm app to git.
- I cloned the app locally in my computer and ran: npm install + cds deploy + cds serve all. **The app worked without errors**. I'm running node v10.16.3 and VSCode as editor.
- I created

[2019-11-05 14:56] IObert commented on #4152
Very strange error, thanks for reporting this one!

It seems that something went wrong with the redirect. Can you please try to click on the "run" icon one more time? Please double-check whether the run configuration is set to "Cloud Foundry". This could be an issue to

[2019-11-05 15:57] socenmarc commented on #3580
Thank you Dennis!

[2019-11-05 16:31] IObert commented on #4155
Thanks for opening the issue. You are right, the generator changed and the tutorial needs to be updated.

However, you saw the issue and it should work with the command you used instead. Can you please run the following commands sequentially and let me know which one fails?

[code]

[2019-11-05 17:10] stesap commented on #4155
Hi Marius,

first command `npm run build:ui` runs fine. Second should be like this I guess `npx shx cp -r approuter dist/` 😃

Error on third command.

[code]

When I invoke the mbt tool without npx, it runs fine?!?
[code]

Is there any global MBT config file I forgot?
Does mbt don't need to be installed globally, anymore?

Cheers,
Steffen

[2019-11-05 19:38] IObert commented on #4155
Hi Steffen,

yes, the mbt tool doesn't need to be installed globally anymore. So `mbt build` invokes your global installation (possible also an older one), `npx mbt build`, on the other side, uses the version you specified.
I've seen this issue before, but I thought it only occurs in versions > 0.3.3 which is why I have not yet updated the version here. I'll have to do some additional investigatio

[2019-11-05 20:30] takismart commented on #4146
Hi @jitendrakansal, thank you for your respose. I installed "sap mobile cards" app to my iPhone and scan the QR code, now I get the error message 'Cannot connect. Please check server URL or email and OAuth client ID. I am pretty sure that my e-mail is correct.

[2019-11-05 21:46] jitendrakansal commented on #4146
@takismart i tried with my P-user trial account, scanned the QR code and i got the same error.
And then i noticed that required mobile services instance was in "stopped" mode, when i restarted it, qr scan worked.

Just in case you want to check it once:

1. go to https://cockpit.hanatrial.ondemand.com/cockpit/ > click Enter trial account
2. click subaccount (my case- its "trial")
3. click on "spac

[2019-11-05 21:59] socenmarc commented on #3580
Just to confirm my suspicions about incorrect behavior of SAP Business Application Studio running locally: I deployed the project in Cloud Foundry, and it works correctly.

[2019-11-05 23:09] takismart commented on #4146
Hi @jitendrakansal,
Thank you for your quick response.
I started "BindMobileApplicationRoutesToME" application
![Image 4](https://user-images.githubusercontent.com/57156004/68253842-de687d80-008d-11ea-8c64-a0df38c6a414.jpg)
However, I still got the same error message. Is there any security configuration I missed?
Please advise.
![Screenshot 2019-11-06 at 12 07 07 PM](https://user-images.githubuser

[2019-11-05 23:46] takismart opened #4161 "Cloud Integration"
Tutorial: Design and Test Your First Integration Flow
Step 7: Deploy the integration flow

Hi @gauthamkrishna-sap,

I have failed to deploy the integration flow. Error message is as below:

[CONTENT][CONTENT_DEPLOY][GenerationFailed] : Did not receive response from Generation and build service.

Also, there are no endpoints configured for intergration flow.

Would you please help?
![Image 5](https

[2019-11-06 04:49] lesbink commented on #4152
So I tried again but no success.

![image](https://user-images.githubusercontent.com/55445200/68269162-ae23dd80-0093-11ea-8553-5e930fdbceb8.png)

![image](https://user-images.githubusercontent.com/55445200/68269189-d57aaa80-0093-11ea-9a67-a75b0e6e9e94.png)

[2019-11-06 06:03] liatbor commented on #3580
Hi Marc,
Are you using a real S/4 cloud system or a mock server?
There's a known issue connecting to a real S/4 cloud system using the cloud sdk and xsuaa that we will address soon in the application studio.

Thanks,
Liat

[2019-11-06 07:39] jitendrakansal commented on #4146
@takismart strange, if you are ok, we have a screen sharing session to troubleshoot this issue.
Can you drop me an email (jiendra.kansal@sapdotcom) with possible timeslots as per your availability.
I am in CET timezone.

[2019-11-06 08:07] gauthamkrishna-sap commented on #4161
Hello,
Due to high number of iflows deployed on trial tenants, this might occasionally happen. We are working to improve this and ensure the experience is seamless.
As a short term workaround, kindly redeploy the iflow again. It will most likely work.
Apologies for the inconvenience & thank you for your patience.
Best Regards, Gautham

[2019-11-06 08:15] julieplummer20 commented on #4078
Done

[2019-11-06 08:30] IObert commented on #4152
It seems that this isn't the correct URL of your application

Can you have a look at all apps in your CF space? Follow steps 6-8 in [this tutorial](https://developers.sap.com/tutorials/hcp-create-trial-account.html) to do so and click on your UI application to see it's URL.

[2019-11-06 08:59] socenmarc commented on #3580
Hi Liat,
thank you so much for your answer.
I am using a real S/4 cloud system, so it seems feasible that my problem is related to this issue that you are pointing out. At the moment I will use a mock server.
I will be attentive to the release notes of new releases, but I would really appreciate it if you could notify me when available.

Thanks,
Marc

[2019-11-06 09:35] liatbor commented on #3580
Hi Marc,
Sounds good.  :) Also, if you encounter issues with the mock server, let me know.
Thanks,
Liat

[2019-11-06 09:47] IObert commented on #4155
Seems that it already reported here SAP/cloud-mta-build-tool#542

For now, I updated the generator to use version 0.3.2  SAP/generator-easy-ui5@bf8f83c

Therefore, I'll close this one. Thanks again for reporting

[2019-11-06 09:47] #4155 closed

[2019-11-06 11:37] stesap opened #4162 "Integrate an SAP Fiori App into Your Portal Site (Cloud Foundry)"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-sapui5-app.html

Hi all,

after I went through the whole mission twice, I still get a none verbose error message after I click on the tile which is linked in the Portal (tenant):

<img width="749" alt="Screenshot 2019-11-06 at 11 02 25" src="https://user-images.githubusercontent.com/57390068/68288757-49618680-0085-11ea-927d

[2019-11-06 12:42] EkaterinaArena opened #4163 "Create Your SAP Fiori Launchpad Project and its Module"
Tutorial URL: https://developers.sap.com/tutorials/cp-workflow-2-create-module-cf.html

Please specify the step you are referring to Step 6: Build and deploy your launchpad project

Hello Colleagues,

I would like to report an issue I faced doing the tutorials below.
I am doing the tutorials 'Get Started with SAP Cloud Platform Workflows' on the trial account.

GROUP:
Get Started with SAP Cloud Pl

[2019-11-06 13:30] thecodester commented on #4061
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:30] #4061 closed

[2019-11-06 13:31] thecodester commented on #4038
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:31] #4038 closed

[2019-11-06 13:31] #4149 closed

[2019-11-06 13:33] thecodester commented on #4096
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:33] #4096 closed

[2019-11-06 13:33] thecodester commented on #4078
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:35] thecodester commented on #4058
@rbrainey Should the tutorial be updated in any way or can we close the issue?

[2019-11-06 13:35] thecodester commented on #4030
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:35] #4030 closed

[2019-11-06 13:36] thecodester commented on #3844
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

@marcuscbehrens Please make any updates you think are needed

[2019-11-06 13:36] #3844 closed

[2019-11-06 13:38] thecodester commented on #3829
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:38] #3829 closed

[2019-11-06 13:39] thecodester commented on #3810
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:39] #3810 closed

[2019-11-06 13:41] thecodester commented on #3009
I am going to close this since we will remove and replace this tutorial.

If you still have questions, feel free to reopen the issue.

[2019-11-06 13:41] #3009 closed

[2019-11-06 13:51] thecodester commented on #4097
@julieplummer20 Can we close this ticket? Have you updated the tutorial?

[2019-11-06 13:53] thecodester commented on #3912
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

@heytombeck Is there still anything needed to be updated in the tutorial?

[2019-11-06 13:53] #3912 closed

[2019-11-06 13:53] thecodester commented on #3326
@beapasch Has the tutorial been updated?

[2019-11-06 14:01] heytombeck commented on #3912
@thecodester sorry for the late reply, the comment came in whilst I was away from work for a few weeks. I'm happy with the existing validation, but will update it if it causes any further issues.

[2019-11-06 14:04] beapasch commented on #3326
I'm sorry but we will release in near future some changes for the STH UI and therefor I have to update the tutorial again. I plan to change the tutorial in one step as soon as the new UI is released.

[2019-11-06 14:33] silasd23 opened #4164 "can't see Data Preview option"
Tutorial URL: https://developers.sap.com/tutorials/haas-dm-calculation-view-differential-privacy.html

When using SAP WEB IDE i cant see the Data Preview in my calculation view, how can i see it and use it ?

I have to add any specific plugin to the .hdiconfig file ?

[2019-11-06 14:45] thecodester commented on #4164
@Sygyzmundovych Is this your area now?

[2019-11-06 14:58] silasd23 commented on #4164
Follow my .hdiconfig file:
`{
    "file_suffixes": {
        "hdbcollection" : {
         "plugin_name" : "com.sap.hana.di.collection",
         "plugin_version": "12.1.0"
        },
        "hdbflowgraph": {
            "plugin_name": "com.sap.hana.di.flowgraph",
            "plugin_version": "12.1.0"
        },
        "hdbreptask": {
            "plugin_name": "com.sap.hana.di.reptask",

[2019-11-06 16:37] LindsayBert commented on #4133
Hi

Can you please open up a BCP ticket for this issue so that the developers can look at the problem.

Thanks
Lindsay Bert

[2019-11-06 20:37] takismart commented on #4161
Thanks @gauthamkrishna-sap. I re-deployed the iflow. This time iflow was deployed successfully.

[2019-11-06 20:37] #4161 closed

[2019-11-07 08:11] #4112 closed

[2019-11-07 09:01] #4133 closed

[2019-11-07 11:08] octavonu opened #4167 "Set Up the SAP HANA Plugin for Microsoft Visual Studio"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-visual-studio.html

Please specify the step you are referring to

Hello, I have implemented your steps but VS doesn't recognize HANA driver.
Am I doing something wrong?

Thank you

![image](https://user-images.githubusercontent.com/50553626/68384117-31f2ce00-0157-11ea-93e0-4be75f4bb8d1.png)

[2019-11-07 11:16] octavonu commented on #4167
found the root

https://social.msdn.microsoft.com/Forums/vstudio/en-US/2a0aa1d6-d46d-4833-8042-03216ea5f320/sap-hana-client-and-visual-studio-community?forum=vssetup

[2019-11-07 11:36] octavonu commented on #4167
I thought that it would work by deleting all old VS versions. Unfortunately, it is not working.

Waste of time!

[2019-11-07 11:37] tpembe opened #4168 "Create Behavior Definition for Managed Scenario"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-behavior.html

Step 4: Replace your code with following.
I receive a compile error when using the line of code "etag master last_changed_at"

If instead I use "etag last_changed_at" compile error appears no longer.

Thanks

[2019-11-07 12:55] jitendrakansal commented on #4083
@thecodester this issue can be closed.
Author @jatinj pointed out a missing step, this tutorial will be updated after TechEd Bangalore.

[2019-11-07 12:56] jitendrakansal commented on #4114
@pavan141080  has your issue been resolved?
Let me know if you need any help.

[2019-11-07 13:10] qmacro commented on #3815
Hi @agraricha sorry for the delay in responding! You can safely ignore these flagged issues - they only occur sometimes and don't affect what we're learning in this tutorial. I will add a note to the tutorial text to this effect. Thank you!

[2019-11-07 13:10] #3815 closed

[2019-11-07 13:14] qmacro commented on #3815
Note added https://github.com/SAPDocuments/Tutorials/commit/f7cf74a09153e6fb84565bfbc629098113508d20

[2019-11-07 13:22] qmacro commented on #3825
Thanks for the note, @kgorin8 - sorry for the delayed response! The linting errors and warnings can be ignored for the purposes of this tutorial, and I've just [added a note](https://github.com/SAPDocuments/Tutorials/commit/f7cf74a09153e6fb84565bfbc629098113508d20) to this effect, based on another issue raised. However, I've also now [added this version information](https://github.com/SAPDocuments

[2019-11-07 13:22] #3825 closed

[2019-11-07 13:31] thecodester commented on #4083
@jitendrakansal  If OK with you, let's keep open until tutorial is updated. Please add a comment when that is complete and I will close issue. Thanks for all your help.

[2019-11-07 13:52] qmacro commented on #4041
Hi @mikemainguy thanks for the note. I'm guessing you're referring to Step 4, which looks like this:

![Screenshot 2019-11-07 at 13 50 01](https://user-images.githubusercontent.com/73068/68394341-8f8e1700-0165-11ea-8523-b07f47e22283.png)

As you point out, the values are there for the person to copy and paste into the input fields, in this case I think you're referring to the value for WebIDEUsage

[2019-11-07 13:52] #4041 closed

[2019-11-07 14:03] qmacro commented on #4111
Hi @BaerbelW  - I would suggest a two level approach. If we can get you going quickly here, let's do that; otherwise I'd suggest you take this to answers.sap.com as it's not specifically related to the tutorial content itself, and others may benefit from the question and the answer.

Let's see if we can get you going quickly - go to https://cockpit.hanatrial.ondemand.com/cockpit/#/home/trial and h

[2019-11-07 14:09] qmacro commented on #3730
Fixed, thanks. https://github.com/SAPDocuments/Tutorials/commit/f289ecd8f43a259d079aabb8bf55263ed75deb98

[2019-11-07 14:09] #3730 closed

[2019-11-07 14:34] octavonu commented on #4167
I have downgrade VS to 2017 from 2019 and .Net Framework to 4.5 from 4.8

Now it is working.

Many thanks

![image](https://user-images.githubusercontent.com/50553626/68397781-029e8a00-0174-11ea-8f27-ba1a89cc7d9e.png)

[2019-11-07 14:34] #4167 closed

[2019-11-07 14:49] BaerbelW opened #4169 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to
Step #2: Ensure the required feature is enabled

Me yet again, just noticed another little stumbling block regarding the wording. The tutorial asks us to look for an entry called "features" but on my end this is called "extensions" (and the icon for the needed tool has

[2019-11-07 15:05] BaerbelW commented on #4111
Hi DJ - thanks for bearing with me. I'm really confused by all of this (I'm sure you can tell!) and it doesn't help that I don't really know what I'm doing or supposed to be doing here. So, I think I now have a CF trial account:
![grafik](https://user-images.githubusercontent.com/18588108/68400258-0502e300-0178-11ea-9887-da0bb02306f5.png)

Do I now have to click on "New Subaccount" and if yes, wha

[2019-11-07 15:21] rbrainey commented on #3677
Max, I'm assigning this to you for action.  Would you update the instructions?  Thanks

[2019-11-07 15:30] rbrainey commented on #3770
Hi, I'm not aware of a way to obtain more detailed logging unfortunately.

[2019-11-07 15:32] jarjarbentley commented on #2445
@flyingfish162  can you look at this?

[2019-11-07 15:34] jarjarbentley commented on #3353
another issue I need help with @flyingfish162

[2019-11-07 15:34] rbrainey commented on #3942
The Product management team has requested that we remove this tutorial. A large swathe of ML Foundation functionality is being rolled into our SAP Data Intelligence Product.  Please stand by -- we'll create tutorials for Data Intelligence as soon as we have Trial for that product sorted out.

[2019-11-07 15:34] #3942 closed

[2019-11-07 15:35] jarjarbentley commented on #4100
Sorry for the delay, is this still an issue.  If so I will try and recreate on my side.

[2019-11-07 15:39] rbrainey commented on #3006
Closing this issue as we'd direct folks to the new Cloud Portal Missions:  https://developers.sap.com/mission.portal-cf.html

[2019-11-07 15:39] #3006 closed

[2019-11-07 15:40] jarjarbentley commented on #4147
are you using a production system for the ml_foundation_service like the note refers to:
"When using a productive account the ml_foundation_service_name might be different than the one using in trial. Make sure to adjust the value accordingly."

[2019-11-07 15:41] jarjarbentley commented on #4144
I have only used execute command again to solve this.

[2019-11-07 15:41] #4144 closed

[2019-11-07 15:46] jarjarbentley commented on #3835
you may also need to add  firewall rules opening ports 53075 and 39030 in AWS as a custom TCP rule.  please let me know.

[2019-11-07 15:52] qmacro commented on #4110
Hi Baerbel, I've checked this out (see also https://twitter.com/qmacro/status/1192464545853427712 ;-) and made a modification to the tutorial, to take into account that, as you've noticed, the addition of a UI.HeaderInfo Title property is not supported now in the Annotation Modeler ... but you can add it directly, manually, as it were. So Step 13 is now different, showing you how you can add annot

[2019-11-07 15:52] #4110 closed

[2019-11-07 15:53] jarjarbentley commented on #3883
im looking into the verification now.  Thank you.

[2019-11-07 16:02] qmacro commented on #4111
Just click on the big while oblong (with "trial" in the top left of it) - that's your existing subaccount. That should take you to where you can check / create your CF org and space. I think at this stage it's better if you take this over to answers.sap.com as we're moving away from specifics for this particular tutorial - hope that's OK! See you over at answers!

[2019-11-07 16:02] #4111 closed

[2019-11-07 16:04] qmacro commented on #4169
Thanks @BaerbelW - I've made the appropriate changes via https://github.com/SAPDocuments/Tutorials/commit/f887dfd11517c6d3a8cbd1c008f39e404d55ac34

[2019-11-07 16:04] #4169 closed

[2019-11-07 16:17] pavan141080 commented on #4114
Hi Jitendra,

Yes, I need help on step9
Switch back to Mobile Services cockpit, paste the copied API key in the open pop-up, and then choose OK.

I have API key from Step8. I don't see a Pop-Up to paste the API key as mentioned in Step9

[2019-11-07 16:17] qmacro commented on #3031
This will be investigated post SAP TechEd BLR 2019

[2019-11-07 17:10] rbrainey commented on #3992
I have updated the instructions in https://developers.sap.com/tutorials/xsa-cross-container-access.html to instruct folks to use the SHINE XSA-readme rather than this (https://developers.sap.com/tutorials/xsa-ml-e2e-access-shine.html) tutorial.

@jiayiwangjw -- you can refer to the README files in the Shine GitHub repo as the most current reference on how to install and run SHINE on XSA.

[2019-11-07 17:10] #3992 closed

[2019-11-08 03:50] banurekhabalaji commented on #4142
Hi Steffen,

Hope you were able to proceed further. Please let us know if you were still facing issues.

Regards,
Banurekha Balaji

[2019-11-08 03:51] banurekhabalaji commented on #4129
Hi Jens,

Hope the information was useful. Please let us know if you were able to proceed further.

Regards,
Banurekha Balaji

[2019-11-08 04:01] eguo commented on #3813
@JensHaley thanks for your reply. Sorry for reply late.  Specifying the approuter version to ^6.1.0 was what overcame my 502 error:
`git diff package.json
diff --git a/address-manager/approuter/approuter/package.json b/address-manager/approuter/approuter/package.json
index dd2caeb..649cf84 100644
--- a/address-manager/approuter/approuter/package.json
+++ b/address-manager/approuter/approuter/packa

[2019-11-08 04:48] VandanaVasudevan commented on #4117
Hi Phil,

Can you please check if you have deployed the rule service (DetermineEquipmentRuleservice) in the Manage Rules Project application?

Best & Regards,
Vandana

[2019-11-08 05:52] zhangyanning commented on #2445
@jarjarbentley , this is a SMP Native SDK issue instead of Cloud Android SDK, correct? i will find someone from SMP Native SDK team to take a look this.

[2019-11-08 08:36] jitendrakansal commented on #4114
@pavan141080  We found that there is a bug with some SF template, e.g. if you choose TimeSheet, you wont see pop-up window (we have fixed it in one of upcoming release)
Could you try with MyToDo template and see if you get the pop-up to enter API key?

[2019-11-08 08:42] BaerbelW opened #4170 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to
Step 4 - Check your CF quota

This may need to be updated due to the builder no longer needing to be installed:
![grafik](https://user-images.githubusercontent.com/18588108/68461969-cdde1180-020b-11ea-9c16-33a77a010548.png)

What I see is "0 of 4 GB" used (yes, I've fin

[2019-11-08 08:48] BaerbelW commented on #4111
Hi DJ,

all sorted (I think): while capturing screenshots for a question to ask on answers, I tried to login with another combination of email & pw I saw in Chrome's list of stored credentials which was accepted so I could then proceed. While in the list I also deleted some entries utilising my S-accounts instead of the P-account I had set up for the trial. It's really tricky to keep track of all

[2019-11-08 08:49] JensHaley commented on #3813
@eguo thanks for letting me know.

When I tested this scenario, I used approuter version 5.3.0, see step 5:
[step 5](https://developers.sap.com/tutorials/cp-connectivity-consume-odata-service-approuter.html#2e60351d-a38c-48c8-a15b-2aefa3035e21)

So before you just didn't specify any version?
It would be great if you could try version 5.3.0 of the approuter as described in my tutorial, then I would

[2019-11-08 09:22] qmacro commented on #4111
Great! And thanks for letting me know too. Cheers and have fun.

[2019-11-08 09:30] BaerbelW opened #4171 "Marking Tutorial Steps as "Done" or submitting a response is not working"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to
Step 11 (but others as well)
Clicking on the blue "Done" bar to tick off the step, doesn't turn it green right away. It sometimes takes several tries (to mark step as "done"), sometimes I see "technical error" (where a selection needs to be made). It's been happening wi

[2019-11-08 11:43] tpembe opened #4173 "Develop a Fiori App Using ABAP"
Mission URL: https://developers.sap.com/mission.cp-starter-extensions-abap.html

I completed this mission yesterday! Strangely now all the completion history has been reset. If I try to complete a 2nd time by clicking the button, the browser returns the cursor to the top of the html page. I though the purpose of these missions were they provide you with training history on your profile. If they do

[2019-11-08 13:55] BaerbelW commented on #4171
This is really weird - after yet again refreshing the still open browser windows for tutorials 05 and 06 (which I had already done multiple times), all the steps showed up as green.

[2019-11-08 14:17] BaerbelW opened #4174 "See What Cloud Platform Tools Can Do with OData"
Group URL: https://developers.sap.com/group.scp-7-odata-tools.html

Hi Folks!

As a complete newbie to anything SCP-related, this OData Mission on beginner-level turned out to be quite a challenge. Not only but especially as most of the terminology was new to me. I had for example never heard about "Cloud Foundry" and couldn't really relate it to anything. Not sure if I'm the exception to the rule

[2019-11-08 14:39] mervey45 commented on #4168
@tpembe It will be updated, thank you. @thecodester I created a pull request: #4175. We can close this issue.

[2019-11-08 17:26] MichaelWegelin opened #4176 "Use JPA in Custom Logic"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-05-using-jpa.html

Step 1:

The pom.xml file after finisching tutorial 4 does not even look remotely like the one shown in the tutorial and is much simpler. So it is extremely hard to find the places where to put the code in.

[2019-11-08 21:01] pavan141080 opened #4177 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Please specify the step you are referring to
2. In your subaccount, select Subscriptions > Process Integration.
I am not finiding SaaS application Process Integration in my trial Subaccount

![SCP_pi](https://user-images.githubusercontent.com/56557186/68510235-8b7ef980-0238-11ea-8582-ea0335996e99.

[2019-11-08 21:37] tpembe opened #4178 "Get Homer to the closest brewery"
Tutorial URL: https://developers.sap.com/tutorials/gcp-hxe-evt-gke-4.html

Please specify the step you are referring to: Step 4 when creating the collection

"create collection quotes;"

I receive the following error message:

Error: distributed SQL error: Cannot access hdbdocstore, process either not started deliberately or not available

Even after the database connection in Step 3 has been succ

[2019-11-09 06:37] takismart commented on #4146
Hi @jitendrakansal ,
Thank you for your help. After yesterday's sharing session, I tried SAP Mobile Card on my old iPhone, and it works. I can see the timesheet card on my SAP Mobile Cards APP. I tried the same process on other iPhone - the access is failed as well - same issue as my new iPhone.
I guess the issue might be caused by iOS version:
- The iPhone that can access my Mobile Cards is on iO

[2019-11-09 06:37] #4146 closed

[2019-11-09 12:12] tpembe opened #4179 "Develop a Fiori App Using ABAP"
Mission URL: https://developers.sap.com/mission.cp-starter-extensions-abap.html

All tutorial steps are complete for this Mission but it still shows at 83%.

[2019-11-09 13:16] mathan91 opened #4180 "Create an SAP Cloud Platform ABAP Environment Trial User"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html

Please specify the step you are referring to

When trying a create an instance in cockpit at step 2.7, it gives the following error -

Since it's a trial account, i cannot log a support ticket.

[2019-11-09 15:45] sieburga opened #4181 "SAP HANA, express edition, install dependencies for openSUSE"
Tutorial URL: https://developers.sap.com/tutorials/hxe-azure-opensuse-dependencies.html

I tried HANA Express 2.0 SP4 with openSUSE Leap 15.1 :
- Step 2: **libtool** is already installed, no action necessary
- Add Step 3: Install **insserv-compat** and **libatomic1** with YaST, otherwise the installation fails to ceate the database instance.
- Add Step 4: Check the linux firewalld and add the nece

[2019-11-10 05:57] #4168 closed

[2019-11-10 06:01] thecodester commented on #4171
I am going to close this issue, but report the general issue to IT. We hope to considerably update the usability of the completion buttons.

[2019-11-10 06:01] #4171 closed

[2019-11-10 06:02] thecodester commented on #4173
Can you check again. I think there was a general problem but it should be working now.

[2019-11-10 06:34] ruthvikg193 commented on #4074
Hello Julie,
As you have directed in the response earlier, I tried to open the following link:
"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/f65e51a7203443efb58fe535c3d13e5f.html"

This is used to maintain the business roles. But when I launch the Fiori Lauchpad (link taken from the Eclipse ADT), I end up NOT getting the title to maintain business roles.

Can you please

[2019-11-10 13:23] gauthamkrishna-sap commented on #4177
Hi Pavan,
Did you create a new subaccount for this trial?
You need to entitle your subaccount with the Process Integration service under the **Entitlements** section.
Best Regards, Gautham

[2019-11-10 19:41] qmacro commented on #4174
Nice comments and very useful, thanks Baerbel! Passing over to @thecodester who may have an option to organise these missions differently in the future.

[2019-11-10 20:39] tpembe commented on #4173
![fioriappstatus](https://user-images.githubusercontent.com/17800562/68550369-1a873f80-03fa-11ea-90cc-5f5232a1115b.PNG)

Still showing as 83% even though mission has been completed.

[2019-11-10 20:40] tpembe commented on #4173
#4179

[2019-11-11 01:05] takismart opened #4184 "Deploy sample.onboarding.mta project failed"
Tutorial: Set Up a Workflow With Extended Employee Onboarding
https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-3-workflow.html

Step 5: Build and deploy the sample application

An error message displayed after I deploy the project:
Error executing application "uiDeployer": Deployment of html5 application content failed [Deployment Id: deploy-2ca1f165-041b-11ea-9e81-eeee0a81a

[2019-11-11 08:52] qmacro commented on #4170
Thanks for the heads-up, @BaerbelW - I've removed that validation question.

[2019-11-11 08:52] #4170 closed

[2019-11-11 09:50] BaerbelW opened #4186 "Take a Tour of the SAP Cloud Platform Cockpit"
Tutorial URL: https://developers.sap.com/tutorials/cp-tour-cockpit.html

Please specify the step you are referring to
Step 8 - Storing your code

The entries in the left-hand menu I see in my SCP cockpit after working through the mission "[Take a deep dive into OData](https://developers.sap.com/mission.scp-3-odata.html)" look considerably different than what is shown in the tutorial. For example,

[2019-11-11 09:54] thecodester commented on #4179
Will close as we have an existingissue.

[2019-11-11 09:54] #4179 closed

[2019-11-11 09:56] thecodester commented on #4173
I am checking. What is your name? I want to check if I see you've been credited with doing the mission and the issue is on the display.

I have closed the related issue.

[2019-11-11 09:59] thecodester commented on #4186
@rbrainey Meredith wrote this -- and Josh reviewed -- this tutorial as part of SCP refresh before the 2018 TechEd season.

[2019-11-11 10:00] jitendrakansal commented on #4146
@takismart i can access mobile cards on my iPhone (iOS 13.2). I will check with development colleagues if there is any issue with iOS version 13.1.3

[2019-11-11 10:08] tpembe commented on #4173
My name is Troy Pemberton my account troypemberton@greenplains.co.uk

[2019-11-11 10:08] tpembe commented on #4173
It still shows as 83%

[2019-11-11 10:21] tpembe opened #4187 "Sign up for Mircosoft Azure"
Tutorial URL: https://developers.sap.com/tutorials/cp-msft-account-create.html

Please specify the step you are referring to: Title should be "Microsoft" and not "Mircosoft"

[2019-11-11 10:44] vignesh-subbiah opened #4188 "Unable to connect"
An error occurred during JWT validiation. The JWT is expired. Therefore please check your local system clock.

[2019-11-11 11:01] thecodester commented on #4188
Can you specify the tutorial you are referring to?

[2019-11-11 11:20] vignesh-subbiah commented on #4188
ABAP TRIAL

![image](https://user-images.githubusercontent.com/57621183/68582950-44814600-047c-11ea-901c-f8a8defed09f.png)

[2019-11-11 11:51] thecodester commented on #4188
Why did you open an issue here?

[2019-11-11 12:51] BaerbelW opened #4189 "Install the Cloud Foundry Command Line Interface (CLI)"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-download-cli.html

Please specify the step you are referring to
Step 1 - Download the Command Line interface

When I try to run the exe after unpacking the zip-file I get an error message which I think is due to lacking admin-rights on the company laptop. Is there a way around this and/or can the rest of the tutorial group/mission be done wi

[2019-11-11 12:56] yanniks commented on #2754
Hi @KevinMuessig , thanks for your feedback. The question was not really targeted on how to get the notification from the SCP to the user's device but instead on how to submit new messages to the SCP - that might happen from anything that can issue a HTTP POST request such as a Java application, a website or something else.

Mobile Services provides a REST web service which can be used in order to

[2019-11-11 13:29] thecodester commented on #4173
Can you check again tomorrow morning and post if you have the mission completed?

[2019-11-11 13:31] tpembe commented on #4173
Issue fixed

[2019-11-11 13:31] #4173 closed

[2019-11-11 16:56] IObert commented on #4187
Many thanks, the fix should go live in the next few minutes

[2019-11-11 16:59] IObert commented on #4189
Hi @BaerbelW,

you should also be able to download the binary for windows and add it manually to the path in your env variables.

Good luck,
Marius

[2019-11-11 17:06] #4187 closed

[2019-11-11 20:15] takismart commented on #4146
Hi Jitendra,

Thank you for your email.

I upgraded my iOS to 13.2.2 and SAP Mobile Cards worked! I guess there are
some issues with iOS version 13.1.3.

Best regards,
Judy

On Mon, 11 Nov 2019 at 23:00, Jitendra Kansal <notifications@github.com>
wrote:

[2019-11-11 22:10] wertygol opened #4191 "Create a food database in SAP HANA Express Edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-docstore-01-create-database.html

Step 3: Create a Document Store Collection

What is the correct answer? the command execution returns :
0 rowns affected (overall time xxxxx msec; server time xxxx msec)

but in the tutorial expects another answer.
![image](https://user-images.githubusercontent.com/5190729/68625012-e887e300-04b6-11ea-9901-2131

[2019-11-12 05:36] thecodester commented on #4191
If I put it EXACTLY what is returned in your screenshot it works for me. Can you explain exactly what you put in, exactly what you did?

[2019-11-12 08:22] kgorin8 opened #4193 "Create Your First ABAP Console Application"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-console-application.html

Hello. Trying to connect to abap instance via ADT and getting no errors but can't complete login either. I was able to login to abap instance via cloud dashboard just fine.

screenshots https://imgur.com/a/NhAlszw

[2019-11-12 08:37] kgorin8 commented on #4193
Seems like eclipse auth is not working...

http://localhost:60342/oauth/client/redirect/external_browser?code=<somecode>

HTTP ERROR 500

[2019-11-12 12:04] danielva commented on #3672
I believe the documentation for push using Mobile Services for Cloud Foundry has been updated.  See [Defining Push Notifications](https://help.sap.com/viewer/468990a67780424a9e66eb096d4345bb/Cloud/en-US/82864e6309d84aed9566436b766e63ef.html).

I don't believe the step of assigning a user to the role Notification User applies.

I was able to create an app using the SAP Cloud Platform SDK for Androi

[2019-11-12 12:25] mbenetti opened #4198 "Deploy a TensorFlow Iris Classifier in SAP HANA, express edition"
Tutorial URL: https://developers.sap.com/tutorials/mlb-hxe-tensorflow-iris.html

Please specify the step you are referring to

Hello, I am having problems with the scrip  ~/export/iris_test_client.py

the error I get is:

(tms) tmsadm@hxehost:~> sudo python ~/export/iris_export_savedmodel.py
  File "/home/tmsadm/export/iris_export_savedmodel.py", line 48
    query_iris  = 'SELECT ID, SEPALLENGTH,

[2019-11-12 13:00] wertygol commented on #4191
I put exactly thats appears in my screen, I try different combinations, nothing work, today I will try again.

[2019-11-12 13:04] wertygol commented on #4191
Well, today works...

[2019-11-12 13:04] #4191 closed

[2019-11-12 17:12] tpembe opened #4200 "Define a Simple Data Model and OData Service with CDS"
Tutorial URL: https://developers.sap.com/tutorials/odata-05-data-model-service.html

Please specify the step you are referring to: Step 9

"my-service.cd" should be "cat-service.cds"

[2019-11-12 17:47] tpembe opened #4201 "Add Data to Your OData Service"
Tutorial URL: https://developers.sap.com/tutorials/odata-06-add-data-odata-service.html

Please specify the step you are referring to: Step 5

After populating MY_APP_PRODUCTS table and rebuilding I receive the following error in the console log.  Application is started in cloud foundry. When clicking the app hyperlink in the console no database data is displayed for the products service.

Console

[2019-11-13 07:58] I053029 opened #4202 "Take a Tour of the SAP Cloud Platform Cockpit"
Tutorial URL: https://developers.sap.com/tutorials/cp-tour-cockpit.html

Please specify the step you are referring to

![image](https://user-images.githubusercontent.com/57703040/68743849-52200280-0619-11ea-9073-17a2e309befd.png)

I do not see tabs in left navigation pane as given in screenshot. Till last tutorial everything was as per screenshot

[2019-11-13 10:23] gschukat commented on #3831
the download can be run easily with the downloader `jar` if some `java` is installed, instead of the executable:

[code]
`HXEDownloadManager.jar` is available where `HXEDownloadManager_linux.bin` can be found.

but that does not help with the updater, as there is no `jar` available, only `/usr/sap/HXE/home/bin/HXECheckUpdate_linux.bin`

Any progress with the updater?

[2019-11-13 12:49] BaerbelW commented on #4189
Thanks Marius! Turned out that I only had to extract the content from the zip-file into another and new directory on my C-drive than the one it defaultet to. I could then run the exe from there.

Cheers
Bärbel

[2019-11-13 13:54] IObert commented on #4189
Great! I hope you enjoyed the tutorial

[2019-11-13 13:54] #4189 closed

[2019-11-13 21:47] pavan141080 commented on #4177
Process Integration is NOT part of Entitlements, still I don't see Process Integration Under Subscriptions. I tried new trial account. Please find the attached screen prints

<img width="926" alt="CPI1" src="https://user-images.githubusercontent.com/56557186/68806480-987e5d00-062b-11ea-95ae-25a4d20eb88f.png">
<img width="916" alt="CPI2" src="https://user-images.githubusercontent.com/56557186/68807

[2019-11-13 22:06] gauthamkrishna-sap commented on #4177
Hello Pavan,
Sorry for the trouble.
Can you please provide your subdomain ID & global account ID so that I can ask my team to check this?
Best Regards, Gautham

[2019-11-14 11:45] tpembe opened #4210 "Try Out SAP Cloud Platform SDK for Android Wizard"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-wizard-app.html

Please specify the step you are referring to: Step 1:

When asked to add and existing destination in the android wizard the UI has different parameters to that provided in the tutorial.
![ad new destination](https://user-images.githubusercontent.com/17800562/68854614-50674500-06d4-11ea-9b9f-a1fec8bdb05b.PNG)

[2019-11-14 12:14] julieplummer20 commented on #4097
Hi @thecodester , hi @XanctusDelta ,
Yes, I have updated the tutorial. You can close this issue.
Best wishes,
Julie.

[2019-11-14 14:13] #4097 closed

[2019-11-14 15:45] Tiberriver256 opened #4212 "Enable the SAP Cloud Platform, API Management Service"
Tutorial URL: https://developers.sap.com/tutorials/hcp-apim-enable-service.html

Please specify the step you are referring to

This entire tutorial seems to be out of date. The images don't match what I'm seeing in the Cockpit any more.

[2019-11-14 16:21] dassoumya87 opened #4213 "Create Instance of SAP Cloud Platform Enterprise Messaging Service"
Tutorial URL: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html

Please specify the step you are referring to

Step 1 Create an Instance fails with the below error:

Service broker error: Service broker enterprise-messaging-service-broker failed with: Service broker parameters are invalid: [\{"message":"Unrecognized field","propertyPath":"namespace"}]

[2019-11-14 17:16] bcschaich commented on #4184
To solve this more information is needed. So do as the message sas and install the CFCLI and start the cf dmol command as mentioned. This will download the complete error message and hopefully there is more information. It actually deployed beyound this point for me....

[2019-11-14 17:29] bcschaich opened #4215 "Set Up a Workflow With Extended Employee Onboarding"
When deploying for the first time there is an error resulting from changes made during the tutorial:
In step 2.1 you are asked to:
"In the Resources tab, delete the existing workflow_sample_onboarding."

Unfortunately this is declared as required in the yaml file and will result in error during deployment.
The generator seems not to check this change. So it needs a manual step in the file.

[2019-11-14 17:34] bcschaich commented on #4038
The error message says:
"Controller operation failed: 404 Not Found: Service workflow_sample_onboarding not found. "

This is exactly the resource you are asked to delete during the tutorial. I filed an extra issue on this.

[2019-11-15 04:44] charleszq commented on #3353
The tutorial was updated on May this year, there is code like
[code]
With 2.0.1 SDK, there will be many compilation errors, better to go through the tutorial with higher SDK versions.

[2019-11-15 05:22] charleszq commented on #3353
Tried with higher SDK version, the code in the tutorial works fine. For the reported 403 error, we need make sure the service url and the application id 'configurationprovider.json' were correctly configured. And also the applicationId in MainActivity should be correct. And check on Admin cockpit to make sure the security settings are good.

[2019-11-15 06:48] charleszq commented on #3353
2 more things to be noted when trying to follow the tutorial,
1. make sure 'allowBackup' set to 'false' in manifest file;
2, Try with a high 'min android SDK' version than 23 if using newer SAP Cloud Platform SDK for Android

[2019-11-15 18:20] janhuachu opened #4216 "Add Managed Associations with Core Data Services"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-foundation-01.html

Please specify the step you are referring to
Step 7: Build your db module and explore build
With the current downloaded tutorial-enhance-the-product-catalog.zip, got the following error:
    Build command failed : hdi-build operation failed: No suitable major-minor version found for requested version \\'3.3.0\\'. Latest

[2019-11-16 08:02] pjcools opened #4217 "Set Up Your SAP Cloud Platform Integration Tenant"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

Please specify the step you are referring to.

Step:4 - Choose Add Role. In the Role Template dropdown list, select AuthGroup_Administrator and click on Save. Before doing this I need to select the Application Identifier from the drop down list and I have no idea which one includes the role templa

[2019-11-17 10:46] thecodester commented on #4212
@shilpavij Can you look at this issue and see if this series is still relevant and is covered by things you've written?

@rbrainey FYI - Since this was written by your group

[2019-11-17 16:14] ArchanaShukla commented on #4215
This is because the changes you did to in Step 2.1 is not saved and MTA.yaml file still refers to the old sample onboarding resource. Please ensure that you have saved the changes, if not then you can close the mta editor and try again.

[2019-11-17 16:15] ArchanaShukla commented on #3754
Thank you for the feedback. We will improve the documentation accordingly.

[2019-11-17 18:43] i820390 opened #4218 "Create SAP SuccessFactors To Dos and Timesheet Card"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-digitalexp-mobilecards-2-create.html

Please specify the step you are referring to 4Step 4: Configure SAP Mobile Cards client

Hi guys - I'm following this interesting exercise but I'm stuck on logon. Looks like my SCP credential is being rejected.
How can I check the credentials should I use?

Regards,
Dagoberto

[2019-11-17 20:17] angrasi commented on #4020
I have the same problem. I'm trying for the 3rd time. It before was stopping in 52% and now stopped at 89%.
![image](https://user-images.githubusercontent.com/18231899/69013404-1e691380-095e-11ea-8d49-f6378f884798.png)

[2019-11-18 02:37] pradeeppanda-sap commented on #4213
Hi,
  Can you please share the json file which you are using?
regards
Pradeep

[2019-11-18 04:23] shilpavij commented on #4212
Hello Daniel,

i know the tutorial is outdated but since we are moving to CF in a month , I would say lets wait for couple of more days and then have a look at this else again it will be a rework. Only few images are changed which people can follow easily. Let me know your thoughts?

Regards
Shilpa

[2019-11-18 06:42] thecodester commented on #4212
If it is only outdated by screenshots and people can follow anyone, then that is fine. If people cannot do the tutorial, we should take it down. And if we want to steer people to CF, even if the tutorial is OK we should also take it down. If we truly have an updated tutorial coming in a mattter of weeks, then we can probably wait.

[2019-11-18 07:11] thecodester commented on #4218
Not sure this is an issue with the tutorial. Perhaps it would be better to ask in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

@jitendrakansal Just assigning you in case you have any thoughts.

[2019-11-18 08:21] LarsBr commented on #3831
This issue indeed looks like as it has been dropped... has anyone taken over Lucia's work after she left SAP?

[2019-11-18 08:46] julieplummer20 commented on #3960
Hi Bruno,
I apologize for the long delay. I have just tested this in 7.52, SP04, ADT 3.7.1, and cannot reproduce.
So 2 questions: What AS ABAP version? What ADT version?
Also, when you say "standard" data elements, do you mean e.g. BUKRS? If so, and if you are using the Developer Edition, then these are not available: AS ABAP Dev Edition includes only NW and EPM Dictionary transactions and objects

[2019-11-18 09:25] dassoumya87 commented on #4213
Hi Pradeep,

I am using the below JSON:

{
	"emname": "em-trial",
	"namespace": "sap/trial/1",
	"options": {
		"management": true,
		"messagingrest": true,
		"messaging": true
	},
	"rules": {
		"queueRules": {
			"inboundFilter": [
				"${namespace}/#"
			],
			"outboundFilter": [
				"${namespace}/#"
			]
		},
		"topicRules": {
			"inboundFilter": [
				"${namespace}/#"
			],
			"outboundFilter":

[2019-11-18 10:07] brunoursine commented on #3960
Hi Julie,

Thanks for your time analysing my question. Actually it's not something very urgent.
The AS ABAP version is 7.52 SP04. I'm using the SAP GUI for Windows 7400.3.11.1128.
For "standard" I mean objects in SAP namespace, not exactly BUKRS, but something like that.
But in the end, my doubt is: In this Developer Edition version is not possible to have access do OBJECTS keys making possible to

[2019-11-18 10:14] brunoursine commented on #3960
Hi Julie,

If you have received an e-mail with my previous answer, please ignore it. I made such a big confusion because I had another issue and I was thinking this thread was about that.
I'm now trying to remember the right/original issue and I will get back to you soon.

Thanks for your support.

All the best,
Bruno.

[2019-11-18 10:42] pradeeppanda-sap commented on #4213
Hi Soumya,
  Please try it in Factory landscape. For some reason it is not available in TRIAL and hence I have updated the documents accordingly. Sorry for the inconvenience caused.
Should you face any issue even in Factory environment, please let me know.
regards
Pradeep

[2019-11-18 10:55] IObert commented on #4152
I'll close this issue due to inactivity, please reopen if needed.

[2019-11-18 10:55] #4152 closed

[2019-11-18 10:56] IObert commented on #4120
I'll close this issue due to inactivity, please reopen if needed.

[2019-11-18 10:56] #4120 closed

[2019-11-18 11:02] julieplummer20 commented on #3960
Hi Bruno,
OK, thanks for letting me know. Don’t worry – I’ll await your response, either here or on Github as you prefer.

But BTW, re your previous mail: Yes, please, if you have successfully installed AS ABAP 7.5x on Parallels 13 on a MacOS Catalina, I would love to see a blog, or notes. I try to feature all these in the FAQs: https://blogs.sap.com/2018/10/16/sap-as-abap-7.5x-developer-editions-

[2019-11-18 11:16] renejeglinsky commented on #4216
Hi @janhuachu ,

please perform a cds build before the db build.

1. Open the context menu on the model.cds file and select "Build > Build CDS"
2. After the build has been successfull, please do the build on the db module as described in the tutorial.

Hint: You might want to enable build upon save, as described in Step 4.

Regards,
René

[2019-11-18 11:34] jitendrakansal commented on #4218
@i820390 Could you share the screenshot of the error?
you need to enter email address/password to login to SAP Cloud Platform. Go to https://cockpit.hanatrial.ondemand.com/cockpit/#/home/trial, login to this page, on right hand side, click on "your name" and user information.

[2019-11-18 11:53] brunoursine commented on #3960
Hi Julie,

Here we go again.

I found out that I using your tutorial to get started in SAP Cloud Platform Trial using ADT, but later noticed that this tutorial is intended to NPL users as you have stated in your first answer on this topic.

I'm using SAP Cloud Platform Trial version (authentication.eu10.hana.ondemand.com).
Eclipse IDE for Java Developers Version: 2019-09 R (4.13.0) Build id: 20190

[2019-11-18 13:04] tpembe commented on #4178
docstore was not added to the Database: Executing alter database HXE add 'docstore'; fixed this.

[2019-11-18 13:04] #4178 closed

[2019-11-18 13:58] tpembe opened #4223 "Try Out SAP Cloud Platform SDK for Android Wizard"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-wizard-app.html

Please specify the step you are referring to: Step 3

When enabling the password passcode policy this feature is now under "mobile settings exchange"

[2019-11-18 14:28] renejeglinsky commented on #4126
Hi @ahusemann ,

could you try again? Your might have been connected with an infrastructure issue.

Please let me know if the problem persists. Thanks.

René

[2019-11-18 14:31] ahusemann commented on #4126
The build succeeds now, thanks for the update.

[2019-11-18 14:31] #4126 closed

[2019-11-18 15:30] gauthamkrishna-sap commented on #4020
Hello All,
Apologies for the inconvenience. Our team is looking into this with high-priority. I will get back to you with an update as soon as I have one.
Thank you for your patience.
Best Regards,
Gautham

[2019-11-18 15:31] gauthamkrishna-sap commented on #4217
Hello,
Thank you for the feedback. I will improve the tutorial with info on how to find the right application identifier.
Best Regards, Gautham

[2019-11-18 16:15] bcschaich opened #4225 "Set Up Process Visibility to Track Employee Onboarding Workflow"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-4-visibility.html

Please specify the step you are referring to
This happens in Step 2 Add a workflow.
I can get to point number 2. After clicking on the "onboard" workflow it starts to load but never finishes. Message says already at loading the page that an eroor occured and I should try later or ask the servic

[2019-11-18 17:12] gregorwolf opened #4226 "Expose Your App to the Portal Service (Cloud Foundry)"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-create-launchpad.html

Step 3: Build and deploy your project

Hello @LindsayBert,

I try to follow the above tutorial in my CF Trial Account. As the starting point I use my MTA applicaiton [HTML5UserAPIforCF](https://github.com/gregorwolf/HTML5UserAPIforCF). But as soon as I add the "SAP Fiori Launchpad Site Module" in Step

[2019-11-18 17:56] gregorwolf commented on #4226
OK, my app was created as a MTA. It seems that the wizard for adding the "SAP Fiori Launchpad Site Module" can only be applied for MTA's where the HTML5 module was created using the tickbox "User HTML5 repository"

[2019-11-18 20:07] samantak123 opened #4227 "Maintain a Communication Arrangement for Inbound Communication"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-communication-arrangement.html

Please specify the step you are referring to Step 5: Create communication system

In the SAP Fiori Page, I am unable to see the links for 'Communication Management' settings and hence can't proceed with Step 5 of this tutorial. Am I missing something here or I need to do some configuration settings

[2019-11-18 20:07] octavonu opened #4228 "Debug srv/cat-service.js"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Hello,

how would you debug the srv/cat-service.js in VSCode?

Thank you

[2019-11-19 09:41] julieplummer20 commented on #3960
Hi Bruno,
You are correct: The tutorial is not currently suitable for SAP CP, ABAP Environment. I will investigate whether we can create a new tutorial for Steampunk.

Is it ok for me to close this Issue?
Best wishes,
Julie.

[2019-11-19 10:14] brunoursine commented on #3960
Hi Julie,
That's all good.
All clarified, let's close it.
Thanks for your attention.
All the best,
Bruno.

[2019-11-19 10:14] #3960 closed

[2019-11-19 11:17] thecodester commented on #4228
This is really a more general question and not about the tutorial itself. Feel free to continue the discussion in the SAP Community or in the SAP Questions & Answers.

https://www.sap.com/community.html
https://answers.sap.com/index.html

I will close the issue but have assigned to the author if he has any comments.

[2019-11-19 11:17] #4228 closed

[2019-11-19 11:25] thecodester commented on #4217
@gauthamkrishna-sap Let me know when you have done this and then I will close the issue.

[2019-11-19 11:40] LindsayBert commented on #4226
Lindsay and Iris

[2019-11-19 11:51] thecodester commented on #3831
@rbrainey Can you help here?

[2019-11-19 12:27] LindsayBert commented on #4226
Hi Gregor - sorry my last reply was deleted somehow.
You should create the app using the CF dev model. You cannot use an existing app.
Thanks
Lindsay and Iris

[2019-11-19 12:47] tpembe opened #4230 "SAPPHIRE - Create a cloud-native application in SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/xsa-e2e-sapphire-cloud-native.html

Please specify the step you are referring to: Step 3.

Should provide a link to  src (native).zip file

[2019-11-19 13:07] jarjarbentley commented on #4223
Bruce, can you assist?

[2019-11-19 13:08] tpembe opened #4232 "Set Up Connection Between Google BigQuery and SAP HANA"
Tutorial URL: https://developers.sap.com/tutorials/gcp-hxe-evt-bq-1.html

Please specify the step you are referring to: Step 2.

I would be great if you could provide the setup.sh file.

[2019-11-19 13:10] BenScandit opened #4233 "Try Out SAP Cloud Platform SDK for Android Wizard"
Tutorial URL: https://developers.sap.com/tutorials/cp-sdk-android-wizard-app.html

Please specify the step you are referring to: When trying to add the backend URL, the dialogue I get seems to be different and it does not accept the SAP EDM URL.

Any suggestions, ideas, workarounds? Tried different spelling and all.

Thx - Ben

[2019-11-19 14:57] BaerbelW opened #4236 "Create a Database Table"
Tutorial URL: https://developers.sap.com/tutorials/abap-dev-create-table.html

Please specify the step you are referring to
Step #1 - Create a table

Hi!

For some prototyping I'm using Eclipse to create a Z-table and thought I'd use the tutorial to follow the proper process instead of doing it via SE11 in SAP GUI. Unfortunately, it's not working as explained in the tutorial, as I cannot enter a t

[2019-11-19 15:34] gauthamkrishna-sap commented on #4217
@thecodester I have made the updates and created a PR.

[2019-11-19 15:48] thecodester commented on #4217
https://github.com/SAPDocuments/Tutorials/pull/4237

[2019-11-19 15:48] #4217 closed

[2019-11-19 20:00] rbrainey commented on #4232
Hi @tpembe, this specific tutorial was designed to be executed at one of our TechEd booths. The setup.sh file would have been on the machine in the booth. The page is marked "THIS TUTORIAL SERIES CAN ONLY BE EXECUTED AT TECHED" -- I'm going to close this issue, but I'm working to get a copy of the file in question and attach it to the Tutorial and message you once I have done that.

Thanks,

Riley

[2019-11-19 20:00] #4232 closed

[2019-11-19 20:00] rbrainey commented on #4230
Hi @tpembe, this specific tutorial was designed to be executed at one of our TechEd booths. The zip file would have been on the machine in the booth. The page is marked "THIS TUTORIAL SERIES CAN ONLY BE EXECUTED AT TECHED" -- I'm going to close this issue, but I'm working to get a copy of the file in question and attach it to the Tutorial and message you once I have done that.

Thanks,

Riley

[2019-11-19 20:00] #4230 closed

[2019-11-19 20:39] duyvietdo opened #4238 "View the SAP Cloud Platform from 10,000 Meters"
Tutorial URL: https://developers.sap.com/tutorials/cp-explore-cloud-platform.html

At step 3: The link

https://cloudplatform.sap.com/support/service-description.html

does not work anymore. I guess it moved to

https://www.sap.com/products/cloud-platform/capabilities/services.list.html

[2019-11-19 21:47] mechevarria opened #4239 "Update SAP HANA, express edition (Binary Installer)"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-updating-binary.html

Please specify the step you are referring to

Step 1: Download Update files
Attempting to run ```./HXECheckUpdate_linux.bin``` results in the following **error**
```This program is generated by unregistered Jar2Exe and it has expired to run for DEMO use.```

This seems to be a a pretty wide issue affecting all SAP HANA

[2019-11-19 22:25] dtondo opened #4240 "Install SAP HANA 2.0, express edition"
Tutorial URL: https://developers.sap.com/tutorials/hxe-ua-installing-binary.html

Please specify the step you are referring to: sudo ./setup_hxe.sh

____________________________________________________________________________________________

Installation is not working in Ubuntu: 19.10
Summary before execution:
=========================

SAP HANA Express Edition System Installation
   Installatio

[2019-11-19 23:51] greg2git commented on #4240
i thought it was 'certified' only on 17.04 (Zesty Zapus) and i got used to 18.04 (bionic), so would be interested how they go about 19.10 (EoanErmine?).

sorry for not having a solution for you, though.

[2019-11-20 02:41] flyingfish162 commented on #4223
Well, I presume that you were following the tutorials based on **CF** platform. In this case, you are absolutely right. However, all the tutorials for now are based on **NEO** platform and in that case, the instructions and screenshots in the tutorials still make sense.

[2019-11-20 05:39] thecodester commented on #4239
@JCurrie27 Are you still working on these tutorials?

[2019-11-20 08:13] ruthvikg193 commented on #4074
Hi Julie,
I checked that and found that I am indeed administrator.

![SCP_Admin](https://user-images.githubusercontent.com/56668708/69220753-b738a280-0b9b-11ea-8d91-f5efa25d0020.jpg)

Thanks,
Ruthvik.

[2019-11-20 08:14] thecodester commented on #4174
I have added a prerequisite in the description of the mission: https://developers.sap.com/mission.scp-3-odata.html

[2019-11-20 08:14] #4174 closed

[2019-11-20 09:15] darkartistry01 opened #4245 "Define and Expose a CDS-Based Travel Data Model"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-data-model.html

Please specify the step you are referring to

Hi experts,

In tutorials step 6 : Logon to your ABAP system.
I enter my account created by tutorials-Create an SAP Cloud Platform ABAP Environment Trial User
It came out an error with message:
Invalid login attempt, request does not meet our security standards, please

[2019-11-20 11:20] julieplummer20 commented on #4236
Hi Bärbel, Yes, you're quite correct. I will update accordingly asap.
Thanks for your feedback -it's genuinely very helpful.
Best wishes,
Julie.

[2019-11-20 11:47] tpembe commented on #4230
Thanks @rbrainey, I appreciated it was teched only when I undertook the course but assumed enough information would be provided to at least carry out the mission unaided. Thanks in advance for uploading the file to the tutorial site. Those trying to complete the mission in future would be helped by your actions. BR, Troy

[2019-11-20 11:53] JCurrie27 commented on #4239
@mechevarria - I checked with the development teams and they are actively working on this issue, but a release date is not available at this time.

[2019-11-20 11:53] #4239 closed

[2019-11-20 11:59] JCurrie27 commented on #4240
Hi dtondo: Ubunto is not officially supported for SAP HANA Express:
[https://help.sap.com/viewer/32c9e0c8afba4c87814e61d6a1141280/2.0.040/en-US/a347f9eb3fc444faa56b5caee9e9c010.html](https://help.sap.com/viewer/32c9e0c8afba4c87814e61d6a1141280/2.0.040/en-US/a347f9eb3fc444faa56b5caee9e9c010.html)

_Disclaimer
SAP HANA, express edition is officially supported on SLES. SAP Community members have been

[2019-11-20 11:59] #4240 closed

[2019-11-20 12:17] BaerbelW commented on #4236
Thanks, Julie!

[2019-11-20 12:47] julieplummer20 commented on #3960
Hi Bruno, I know this is officially closed. However, I checked in the system and talked to my manager about this. I would have to rewrite the tutorial for Steampunk, but creating a custom ("Z") domain.I would like to do this, but I can't commit do this at the moment. If I can , I will, but probably not before Christmas. If you want to create your own Z-domain, that might be best.
Best wishes, Juli

[2019-11-20 12:54] brunoursine commented on #3960
Ok Julie, I was just exploring the Cloud Platform, but I understand the purpose.
I think this topic may be good for others.
Thanks for your efforts making the tutorials better for everyone.
I wish you a Merry Christmas and a Fantastic New Year's eve.
All the best,
Bruno.

[2019-11-20 13:27] marcobuescher opened #4249 "Develop a Fiori App Using ABAP"
Mission URL: https://developers.sap.com/mission.cp-starter-extensions-abap.html

I want to try out these tutorial. But my Service Marketplace is empty. There are only six Apps...

Can you help me whith it?

S0007042004trial

Regards

[2019-11-20 16:26] jjaimes opened #4250 "Create an SAP Cloud Platform ABAP Environment Trial User"
Tutorial URL: https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html

Please specify the step you are referring to Create an SAP Cloud Platform ABAP Environment Trial User.

I've tried unsuccessfully to validate the Service KEY in Eclipse and I don't know what I have to do to get a solution.

Please, see the next video with my issue:     https://jmp.sh/v/TOcXFvQgPPTpO1yi0bpZ

[2019-11-20 20:37] henwr123 opened #4251 "Display Messages in an SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-rabbitmq-extend-consumer-ui.html

Please specify the step you are referring to Step 4 number 2

Type: " refresh buttonis pressed"
Should read " refresh button is pressed"

[2019-11-21 02:17] darkartistry01 commented on #4245
Solved by myself.
Maybe a browser setting problem of my Chrome.
I can logon by Microsoft Edge.
I can also logon by Chrome in a new window open by shortcut: Ctrl+Shift+N.
So I think this probably a cache issue of my Chrome.
Thanks.

[2019-11-21 02:17] #4245 closed

[2019-11-21 06:28] shilpavij commented on #4212
Hello Daniel,

I have corrected it.

Regards
Shilpa

[2019-11-21 06:36] qmacro opened #4252 "Assign Roles to Users for Managing Business Rules"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules02-assign-roles.html

Please specify the step you are referring to: **Step 2 Assign role collection**

In some cases it seems that there's an extra step required. In my case, I had to click through this:

![image](https://user-images.githubusercontent.com/73068/69313333-2f00de80-0c29-11ea-8b39-41fe033d091d.png)

Might be worth a

[2019-11-21 06:44] qmacro opened #4253 "Set Up the Manage Rules Project Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules03-setup-mrp.html

Please specify the step you are referring to: **Step 3: Modify mta.yaml file (optional)**

"_If you have created a service instance with the name other than businessrules, you need to perform the following procedure._"

The name of the instance created in previous tutorials is 'business-rules' (with a dash). I

[2019-11-21 06:53] qmacro opened #4254 "Set Up the Manage Rules Project Application"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules03-setup-mrp.html

Please specify the step you are referring to: **Step 4: Build and deploy project**

"_Right-click on the businessruleseditor project_" -> the project is `cf-businessruleseditor`

Also (and I sympathise with this - cloud based tools are hard to write tutorials for as they keep changing! :-)), the Build options

[2019-11-21 07:56] srissel opened #4255 "Add a Web Dynpro ABAP App to Your Portal Site"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-webdynpro-app.html

Please specify the step you are referring to
Step 5: Launch the app:

Upon opening the WebDyn Pro application via Launchpad, the following error is yielded:

[2019-11-21 08:15] LindsayBert commented on #4255
Hi - can you please open up a ticket for this issue.  It seems to be something technical that only the dev team can help with.

Thanks Lindsay

[2019-11-21 08:17] srissel commented on #4255
Sure, Lindsay.
Where can I open up such a ticket?

[2019-11-21 08:29] LindsayBert commented on #4255
Trying to find out for you - will get back to you soon.

[2019-11-21 08:53] #4251 closed

[2019-11-21 08:54] IObert commented on #4251
thanks for reporting this typo :)

[2019-11-21 09:07] VandanaVasudevan commented on #4252
Hi,

Thanks a lot for this. I'll add this particular step to avoid confusion. :)

Best Regards,
Vandana

[2019-11-21 09:17] VandanaVasudevan commented on #4254
Hi,

Thanks a lot for letting me know about this change. I've updated the tutorial :)

Best Regards,
Vandana

[2019-11-21 09:30] VandanaVasudevan commented on #4253
The idea was to make users understand that they need to change or ensure that the right service instance name is provided. To avoid confusion, I've updated the tutorial :)

[2019-11-21 09:36] thecodester commented on #4252
https://github.com/SAPDocuments/Tutorials/pull/4258

[2019-11-21 09:36] #4252 closed

[2019-11-21 09:36] thecodester commented on #4253
https://github.com/SAPDocuments/Tutorials/pull/4258

[2019-11-21 09:36] #4253 closed

[2019-11-21 09:36] thecodester commented on #4254
https://github.com/SAPDocuments/Tutorials/pull/4258

[2019-11-21 09:36] #4254 closed

[2019-11-21 09:37] #4213 closed

[2019-11-21 09:37] #4188 closed

[2019-11-21 12:58] qmacro opened #4259 "Test the Business Rules API from SAP API Business Hub"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-businessrules09-test-apis.html

Please specify the step you are referring to: **Step 2: Configure the environment**

This step, in conjunction with the preamble, has the learner copy / paste the URL from the service key into the "Token URL" field in the environment configuration. However, doing this will lead to authentication errors.

Not a

[2019-11-21 13:49] ShiraManas commented on #3820
Hi,
We ran through the steps in the tutorial with the latest version of Mendix Studio Pro and we could not reproduce the issue. Please update to the latest version of Mendix Studio Pro that is available in the portal. Then complete the steps in the tutorial from the beginning.

Thanks,
Shira

[2019-11-21 15:34] jarjarbentley commented on #2445
Ok.  please let me know when complete or we can assign to a new person.

[2019-11-21 15:34] #3353 closed

[2019-11-21 15:35] #3835 closed

[2019-11-21 15:36] jarjarbentley commented on #3890
very sorry for the issue.  we will re-write this tutorial link to reference the repository correctly.

[2019-11-21 15:36] #3890 closed

[2019-11-21 15:41] #4100 closed

[2019-11-21 15:41] #4147 closed

[2019-11-21 15:45] jarjarbentley commented on #4108
while the syntax does change from one section to another the smoothing action can be performed, correct?

[2019-11-21 15:45] #4108 closed

[2019-11-22 00:38] janhuachu commented on #4216
Thanks for your info.
I did have the build upon save preference set.
After I did the "Build > Build CDS" on model.cds succeeded, I tried to do the step 7 again.
This time, I got the following error message:

4:32:39 PM (Executor) The "task for hdb build" process started.
4:32:39 PM (Executor) Started the "task for hdb build" provision.
4:32:49 PM (Provision) Service provisioning for module: "/db"

[2019-11-22 05:09] VandanaVasudevan commented on #4259
I've explicitly mentioned it now as it is confusing and not so clear in the screenshot. Thanks for your feedback! It helped a lot in improving and updating the tutorials.

[2019-11-22 07:50] renejeglinsky commented on #4216
Hi @janhuachu ,

I've tested it now also in your region (us10). And it works for me. Could you please check if your account has enough resources? Or would you be willing to create a new subaccount in a new region (Frankfurt preferably) and try it there with the same sources? Here is a nice blog, explaining [How to change the region in your Cloud Foundry trial](https://blogs.sap.com/2019/04/16/how-

[2019-11-22 10:01] flyingfish162 commented on #4210
The tutorial is for mobile server NEO landscape, but unfortunately you are using Cloud Foundry landscape. Please see the screenshot on how to set destination for Cloud Foundry landscape. And BTW, we are working on new tutorials for Cloud Foundry.
<img width="994" alt="Screen Shot 2019-11-22 at 17 49 15" src="https://user-images.githubusercontent.com/56924323/69416648-09bbbf80-0d52-11ea-8a49-f80880

[2019-11-22 10:06] flyingfish162 commented on #4233
The tutorial is for mobile server NEO landscape, but unfortunately you are using Cloud Foundry landscape. Please see the screenshot on how to set destination for Cloud Foundry landscape. And BTW, we are working on new tutorials for Cloud Foundry.
<img width="994" alt="Screen Shot 2019-11-22 at 17 49 15" src="https://user-images.githubusercontent.com/56924323/69417004-d3cb0b00-0d52-11ea-820b-b40aa0

[2019-11-22 10:56] iwonahahn commented on #4091
This issue can be closed. The tutorial mentioned by Gregor is now linked to the mission Use CAP and SAP Cloud SDK to Extend S/4HANA (see the mission at the bottom of the tutorial).

[2019-11-22 12:54] #4233 closed

[2019-11-22 12:54] #4210 closed

[2019-11-22 12:55] #4223 closed

[2019-11-22 13:17] BenScandit commented on #4233
Thanks for the quick reply Bruce!

Ben

Sent from my mobile

On Fri, 22 Nov 2019, 12:06 Bruce Meng, <notifications@github.com> wrote:

[2019-11-22 17:19] janhuachu commented on #4216
Thanks for your response. I was working using Chrome on a MacBook. There were some problems using the Chrome this morning. So, I switched to use Safari and everything is fine now.

Thanks for your support.

[2019-11-22 17:19] #4216 closed

[2019-11-22 21:12] #4091 closed

[2019-11-22 21:28] Lsubatin commented on #4240
@dtondo Somebody sent this issue to me even though I'm not part of SAP any more. By the way, I would have caught your question in the community (answers.sap.com, where you'll find similar questions).

Anyways, Ubuntu 16.04 LTS and 18.09 were working last time I checked. There are some dependencies to fulfill before the installation script can do its trick and you'll find them here: https://develop

[2019-11-22 23:32] jitendrakansal opened #4264 "Create a Business Service with Node.js Using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Please specify the step you are referring to
**Step 3: Start project
3.Go to View | Command Palette | Terminal: Create New Integrated Terminal to open a command-line window within Visual Studio Code and run the following command.**
when i run cds watch, i get this error in terminal section
**_ bash: cds: command

[2019-11-23 15:58] jakes2255 opened #4265 "Create a Business Service with Node.js Using Visual Studio Code"
Tutorial URL: https://developers.sap.com/tutorials/cp-apm-nodejs-create-service.html

Please specify the step you are referring to:3

After installing the vsix extension, cds is not being recognized in the terminal.

Is there any additional steps required or a path be created the system registry? Please advise.

The full error message is as below:-
"cds : The term 'cds' is not recognized as the na

[2019-11-23 23:38] jitendrakansal commented on #4114
@pavan141080 tutorial has been updated with this change. Please try again, issue should be resolved now.

[2019-11-24 07:35] thecodester commented on #4259
https://github.com/SAPDocuments/Tutorials/pull/4260/files

[2019-11-24 07:35] #4259 closed

[2019-11-24 10:04] JeremyChabert opened #4266 "Set Up a Workflow With Extended Employee Onboarding"
Tutorial URL: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-3-workflow.html

Please specify the step you are referring to

Hello, on following tutorial at this specific step => Step 5: Build and deploy the sample application, if you use the new Build MTA, there's an error occuring stating this
10:59:20 (Executor) line 33: the "acceptworkplace" module does not contain the

[2019-11-25 05:32] ArchanaShukla commented on #4266
Thanks for bringing this up. We will improve the tutorial

[2019-11-25 06:30] AstridHerbst commented on #4163
Hi Ekaterina,

Sorry for not getting back to you earlier. I have rechecked the tutorials and have updated them. The tutorials describe the procedure for an external email account. If you use an external mail account and create a new trial account for that user, then the entitlements are automatically assigned. Even the one for the workflow service. Have you been using your D/I/C user or an externa

[2019-11-25 10:00] EkaterinaArena commented on #4163
Hi Astrid,

Thank you for your reply!

	> Have you been using your D/I/C user or an external one?

I have used my I-number SAP account.
However, a customer can use their development subaccount, where the entitlements are done by global admin. So, the person can be confused with the deployment problems and does not know what needs to be done.
That’s why I think that the “prerequisites” description

[2019-11-25 10:09] thecodester commented on #4142
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-25 10:09] #4142 closed

[2019-11-25 10:10] thecodester commented on #4129
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-11-25 10:10] #4129 closed

[2019-11-25 13:49] manuelseeger opened #4269 "Add a Model and Test the SAPUI5 App"
Tutorial URL: https://developers.sap.com/tutorials/sapui5-webide-setup-datasource.html

Step 2, design the data source, fails on a freshly created trial account used for this tutorial. The system dropdown listbox is empty. Reloaded Web IDE, restarting the browser, etc does not work. The destination maintained in the trial CF subaccount for the Northwind service does not show up in Web IDE.

[2019-11-25 15:27] svbhagwat commented on #4020
Hi Gautham, I have started receiving error when attempting to deploy iFlow
after changes.
Error looks like this:  [CONTENT][CONTENT_DEPLOY][GenerationFailed] : Did
not receive response from Generation and build service
Status gets updated to: "The Integration Flow is not operational."

Even the previously successfully deployed iFlows are not deploying
anymore.
I tried doing a copy of the iFlow and

[2019-11-25 16:06] gauthamkrishna-sap commented on #4020
Hello Satish,
Can you please admin access to avatar.mosaic@gmail.com in your accounts? Our team will check what the error is.
About the email channel for reporting errors, we are in the process of setting it up. I will get back to you as soon as it is available.
Thanks & Best Regards,
Gautham

[2019-11-25 16:21] svbhagwat commented on #4020
OK, I have now given  Organization Manager, Organization Auditor accesses
to this email ID -  avatar.mosaic@gmail.com in my 2 subaccounts.
Subaccount names are - *trial *(default one when first subaccount was
generated by system) and  *trial1103*.
[image: image.png]
Please let me know if this is what you needed me to do.

Thanks and regards
Satish Bhagwat

On Mon, Nov 25, 2019 at 11:06 AM Gautham

[2019-11-25 17:26] gauthamkrishna-sap commented on #4020
Hi Satish,
Kindly provide Tenant Administrator role collection to this email as well.
Thanks & Regards, Gautham

[2019-11-25 17:34] gauthamkrishna-sap commented on #4020
For reference, you can check step 2 of this tutorial please: https://developers.sap.com/tutorials/cp-starter-integration-cpi-onboard-subscribe.html

[2019-11-25 19:09] svbhagwat commented on #4020
OK, done.  Similar screenshot for the other tenant "trial1103" as well.
[image: image.png]
Thanks and regards
Satish Bhagwat

On Mon, Nov 25, 2019 at 12:34 PM Gautham Krishna <notifications@github.com>
wrote:

[2019-11-25 22:21] iwonahahn commented on #4264
Hi,

After step 1.2 (installing cds using "npm i -g @sap/cds.dk") you have tried "cds" or "cds" version to check if cds was installed and if yes, which version? Could you share the screenshot with the version(s)?

Thanks a lot and best regards,
Iwona

[2019-11-25 22:23] iwonahahn commented on #4265
Hi,

After step 1.2 (installing cds using "npm i -g @sap/cds.dk") you have tried "cds" or "cds" version to check if cds was installed and if yes, which version? Could you share the screenshot with the version(s)? Are you using a Mac or a windows machine?

Thanks a lot and best regards,
Iwona

[2019-11-26 04:24] ArchanaShukla commented on #4225
This could have been due to cloud platform outages last week. Can you please confirm, if you still facing the same issue.

[2019-11-26 04:28] ArchanaShukla commented on #4184
@takismart - do you still face the issue? If yes, please attach the folder after running the command cf dmol command as mentioned. Usually the sample.onboarding build and deploy goes perfectly fine without any issue provided you have not modified it.

[2019-11-26 04:31] ArchanaShukla commented on #4117
Hello Phil,
Hope the issue is resolved. This error usually comes if either of the token/runtime/repository URL is not correct, or username and password don't match. Let me know if it gets resolved.

[2019-11-26 04:34] ArchanaShukla commented on #4036
Due to recent change in the Web IDE, the changes in the resources like renaming the workflow instance does not update the reference. One need to explicitly go and update the references in the uiDeployer. I will update the tutorial soon.

[2019-11-26 04:54] thecodester opened #4270 "test issue"
test issue

[2019-11-26 07:21] #4270 closed

[2019-11-26 07:21] thecodester opened #4271 "test issue"
test issue prod

[2019-11-26 07:21] #4271 closed

[2019-11-26 08:08] AstridHerbst commented on #4163
Hi Ekaterina,

Thanks a lot for testing and giving feedback on the tutorials!
I will check whether there are any more issue when using a D/I/C user. The assignment of the entitlements is different depending on when you created your trial account. For "old" accounts, you need to add the entitlements. For new ones they are assigned automatically. I'll check whether there is any update on this behavi

[2019-11-26 08:45] IObert commented on #4269
Hi Manuel,

correct observation :)
This tutorial is part of a larger group ([this one](https://developers.sap.com/group.cp-frontend-ui5-1.html)) where you need to start from the beginning, e.g. when the developer reaches this tutorial (s)he already set up a destination in the Neo env and in the CF env. (Setting up two destinations is the available workaround for the issue that the Web IDE can only

[2019-11-26 09:13] manuelseeger commented on #4269
Hi Marius,

Thanks, got it now.

It seems like the trial environment has changed a bit. I can't find a way anymore to access the trial cockpit on a global account level. It looks like we can only access Neo through this link on the new trial home page:

![image](https://user-images.githubusercontent.com/45933060/69614941-56deb080-1034-11ea-9970-499774bf603c.png)

The screenshots on https://develop

[2019-11-26 09:25] whiteezeng opened #4272 "Run, Test and Deploy Your Java App"
Tutorial URL: https://developers.sap.com/tutorials/cp-cf-java-run.html

Please specify the step you are referring to
Step 1: Attempt to run your Java app
I can't run my Java app due to Cloud Foundry setting , pls help

![image](https://user-images.githubusercontent.com/29919366/69616429-924ba000-1071-11ea-9163-74ed240641e8.png)

my cloud foundry
![image](https://user-images.githubusercontent.com/2

[2019-11-26 09:38] valentini50 opened #4273 "Create a Decision Support App and Enable Notification in SAP Fiori Launchpad"
Group URL: https://developers.sap.com/group.iot-app-decision-support.html

It is not possible to complete the mission even though all stages are as 100%.
Tutorial is 67%

[2019-11-26 09:53] whiteezeng opened #4274 "Prepare the SAP Cloud Platform Cloud Foundry Environment for Development (non-trial account)"
Tutorial URL: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-prepare-dev.html

Please specify the step you are referring to
Step 1: Set up your own subaccount for development
WHY my space memory plan is 0 MB?
![image](https://user-images.githubusercontent.com/29919366/69618875-97125300-1075-11ea-8065-4fd885ffd537.png)

[2019-11-26 09:54] julieplummer20 commented on #4236
Hi @BaerbelW ,
Now fixed. Apologies.
Can you please close this?
Thanks and best wishes,
Julie.

[2019-11-26 10:21] #4236 closed

[2019-11-26 10:23] thecodester commented on #4273
Can you be more specific?

- On the group page, are all tutorials showing as completed?
- Is the group showing as completed?

[2019-11-26 10:24] thecodester commented on #4274
@whiteezeng You are using trial account?

@qmacro Do you know how the quota is allocated?