[2018-08-21 09:14] mayank8888 commented on #2545
Hi Meredith,
Still doesn't work! How are you comparing? Even space etc. could break it,  is it?

onInit: function () {
			this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
			this.oRouter.getTarget("1472700396090_S1").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
			var oView = this.getView();
			oView.addEventDelegate({
				onBeforeShow: function () {
					if (sap.ui.Device

[2018-08-21 11:38] thecodester commented on #2556
@boda1985 Can you direct message me in the SAP Community with what you are entering? [If you need, follow me and I will follow you back so you can send message.]

[2018-08-21 12:01] thecodester commented on #2550
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-08-21 12:01] #2550 closed

[2018-08-21 12:05] boda1985 commented on #2556
sure, i just followed you.

[2018-08-21 12:31] thecodester commented on #2530
@StErMi Are you OK now?

[2018-08-21 12:31] thecodester commented on #2538
Can you refresh the tutorial page and try to validate again?

[2018-08-21 12:34] thecodester commented on #2545
@mayank8888 @Juliomor @Akshaykumar26 Can you refresh the page and try to validate again?

[2018-08-21 12:36] nicolasgoris commented on #2545
Works like a charm now :)

[2018-08-21 12:42] thecodester commented on #2543
Can you refresh page and try again?

[2018-08-21 12:42] thecodester commented on #2537
Can you refresh page and try again?

[2018-08-21 13:09] Lsubatin commented on #2549
Hi, Jay,

I saw your question in the Q&A where this belongs. Maybe someone else in the community can assist with that short level of detail.

Regards,

Lucia.

[2018-08-21 13:09] #2549 closed

[2018-08-21 13:11] StErMi commented on #2530
@thecodester I'm ok but you have to change the tutorial because if you follow the twitter link you're asking the user to run the oData index when oData is not configured yet ;)

[2018-08-21 13:16] Lsubatin commented on #2560
Just a comment here, the solution I provided and fixed your problem is already documented in different places. The problem with your question was that although you flooded different channels, you provided completely unrelated information. I had to insist in three answers with the same recommendation to get you to scale the two services. If you search for Web IDE crashes you will see this two-step

[2018-08-21 13:30] sharathmg commented on #2537
Hi Daniel,

It works. Thanks.

[2018-08-21 13:30] #2537 closed

[2018-08-21 13:33] Lsubatin commented on #2559
Hi, Jay,

The differences in the YAML file you mention will depend on the version and whether you have created a UI5 service or you are in a previous version. This is stated in the tutorial.

The logs form di-core and di-runner are not related to your problem. Web IDE is telling you the dependency to the UI5 service is not being met.

This belongs in the Q&A. Relevant information answers these que

[2018-08-21 13:33] #2559 closed

[2018-08-21 13:37] boda1985 commented on #2556
ok i followed you on SCN now

[2018-08-21 13:41] i813380 opened #2562 "Install SAP NetWeaver in openSUSE - Installation of NPL failed, please check logifiles in /tmp/sapinst_instdir for possible root cause."
Thank you for this [tutorial](https://www.sap.com/developer/tutorials/cp-s4-ext-install-nw.html);  I'm running into a problem on step 4 with the NetWeaver install.  Screenshot and logs attached: [Archive.zip](https://github.com/SAPDocuments/Tutorials/files/2306464/Archive.zip)

![image](https://user-images.githubusercontent.com/15381286/44404973-2dc49b80-a526-11e8-89c8-303d0654ba5f.png)

[2018-08-21 13:51] boda1985 commented on #2545
works for me too now

[2018-08-21 13:53] i813380 commented on #2562
I see this error message:

TRACE      2018-08-20 16:15:28.063 (root/sapinst)
syb_start_db_server_reset_sa_password: 00:0000:00000:00000:2018/08/20 16:15:28.05 kernel  There is no valid license for ASE server product. Installation date is not found or installation grace period has expired. Server will not boot.

But the link in Step 2 for updating the license is outdated.   Am I supposed to recreat

[2018-08-21 14:08] Lsubatin commented on #2557
Hi,

This kind of question belongs in the Q&A (answers.sap.com).

However, it is working for me with passwords that do not have a special character that needs escaping. If you really need to have a special character there, I would suggest other methods of setting the password  including creating the file yourself as opposed to having the ConfigMap create it.

In any case, it is recommended that yo

[2018-08-21 14:08] #2557 closed

[2018-08-21 14:10] nimbusgeek commented on #2557
Thanks for the quick turnaround. I'll play with the password some more.

Regards,

On Tue, Aug 21, 2018, 8:09 AM Lucia Subatin <notifications@github.com>
wrote:

[2018-08-21 14:25] thecodester commented on #2545
:-)

[2018-08-21 14:25] #2545 closed

[2018-08-21 14:35] Lsubatin commented on #2558
Hi, Jay,
Your observation is correct, I'll modified it in the next update. Thank you for pointing it out.
Regards,
Lucia.

[2018-08-21 15:09] i813380 commented on #2562
Update - looking at the install.sh script, it checks for a file 'SYBASE_ASE_TD.lic' in the install directory.  If you copy and rename the new license from the link in step 2 (SYBASE_ASE_TestDrive.lic) to the server/TAR/x86_64 directory, it now appears to work.

![image](https://user-images.githubusercontent.com/15381286/44410428-594d8300-a532-11e8-896d-4053eaccbef7.png)

![image](https://user-imag

[2018-08-21 15:20] JCurrie27 commented on #2544
Closing this GitHub issue as it has been answered in the Questions & Answers area on the Community: https://answers.sap.com/questions/607175/xsa-webide-unable-to-load-features-after-cal-hana.html

[2018-08-21 15:20] #2544 closed

[2018-08-21 15:29] i813380 commented on #2562
Sadness - now I fail on next step, Step 5.

![image](https://user-images.githubusercontent.com/15381286/44411674-180aa280-a535-11e8-8271-24a5bca2a93b.png)

[startsap.trc.zip](https://github.com/SAPDocuments/Tutorials/files/2306970/startsap.trc.zip)

[2018-08-21 16:09] mhassett92 commented on #2546
BUILD enables you to utilize all Fiori themes. If you do not have a question, I am going to close this issue.

Thank you!
Meredith

[2018-08-21 16:39] mhassett92 commented on #2530
Hi all,
Thanks for bringing this to my attention! This is a result of a change in the code generation when importing the BUILD project. An older version of the code preset the mock service for you. I have updated the directions and screenshots to reflect the new path to get a running app. Once you run as "testFLPServiceMockService.html", the 404 error should be resolved as well.
Let me know if you

[2018-08-21 16:46] mhassett92 commented on #2555
If you are still having issues with the drag and drop interface, you can always use the Add feature in the properties pane on the right hand side. Click on the page/section you want to add the table to, go to the Content list in the Children section, find the Table in the dropdown, and click Add.

![screen shot 2018-08-21 at 9 42 57 am](https://user-images.githubusercontent.com/1703983/44416158-09

[2018-08-21 16:52] i813380 commented on #2562
Restored snapshot and ran with license file, all now looks good.

[code]

[2018-08-21 18:41] mhassett92 commented on #2547
Hi Jorge,
I have not seen this error before, but there was recently an update to the code generated when importing from BUILD to Web IDE. I will dig into a little more to see if it is the new code that's creating the issue. In the mean time since you have completed all activities, you can use the test FLP url for the validation in Step 10. This will enable you to register for the ticket drawing. T

[2018-08-21 18:43] mhassett92 commented on #2547
ireps, you appear to be having a separate issue which may actually be related to UI5 version. Please open another issue with detailed information/screenshots of that problem.
Thank you!
Meredith

[2018-08-21 18:46] mhassett92 commented on #2532
As mentioned in the tutorial, you want your UI5 setting for the Fiori Launchpad to be 1.40.18. If you are using a productive version of the SAP Cloud Platform, you might not have access to these settings, so make sure to use a trial account so you have full admin rights!

As for BUILD, you need to make sure you shared the prototype so it is visible to the Web IDE. If the problem persists, from the

[2018-08-21 22:16] jmalla commented on #2549
Hi Lucia,
Yes - it's working now after your recommendation for the di-core and di-runner memory increase and also the https://hxehost:53075/watt/index.html?settings=ignore option.
Thanks for your help - we really appreciate it!  We are now able to prepare for our demo without any build environment issues.
Regards,
Jay

[2018-08-22 04:17] Lsubatin commented on #2560
Hi, Jay,

The most effective way next time is through the Q&A. You can at-mention me or the authors of any tutorials or community members who seem to have worked with something so we get a notification (just don't abuse that resource). I for one get a notification for every channel. Then, the more information you post (logs, what you have tried and failed, what you have searched), the easier it is

[2018-08-22 04:17] #2560 closed

[2018-08-22 05:48] thecodester commented on #2488
@AldoKing2018 I will check. Can anyone else validate successfully?

[2018-08-22 06:46] bufiku commented on #2488
Yes, I have validated my solution correctly yesterday afternoon (CET).

[2018-08-22 07:07] AldoKing2018 commented on #2488
Hi @bufiku,
kindly, could you copy&paste your onInit: function() on this thread? I'm going to try with you code. I've tried with @DuoBelt pasted code on this thread, but it's not working for me.

Thanks and best regards
Alfredo Rey

[2018-08-22 07:13] adadouche commented on #2495
Hi @Abhishekachal

Any feedback on this issue?

Hi @kawaiipooptato,

Apparently the service has been renamed on the SAP API Business Hub. Are you using the API endpoint from the tutorial or from the SAP API Business Hub?

Thanks

[2018-08-22 07:14] adadouche commented on #2511
Hi @kawaiipooptato

Any feedback on this?

Thanks

[2018-08-22 07:15] adadouche commented on #2516
Hi @I815766

Apparently the service has been renamed on the SAP API Business Hub. I can see that you are using the API endpoint from the tutorial and not from the SAP API Business Hub?

Can you use the one provided in SAP API Business Hub? I'll update the tutorials.
Thanks

[2018-08-22 07:29] kawaiipooptato commented on #2511
Yup I actually noticed that as well. I tried it and it worked really well. Thanks for the tutorial!

[2018-08-22 07:47] vsenn commented on #2533
I came to your security tutorial from the Google search :-) Anyway, thank you for your great work on this topic and others in ML area!
We can close this particular one as this is just a feedback/enchantment not an issue.

[2018-08-22 07:47] #2533 closed

[2018-08-22 07:51] michal-keidar opened #2564 "Build an SAP Fiori UX app with SAP Gateway data"
Hi,
This tutorial should be updated completely to use SAP Web IDE Full-Stack and also ES5 instead of ES4.

Thanks,
Michal.

[2018-08-22 07:54] michal-keidar opened #2565 "SAPUI5 - Open the SAP Web IDE in SAP Cloud Platform"
Hi,
As the "old" SAP Web IDE will be deprecated by end of 2018, this tutorial should be removed or adapted to Web IDE Full-Stack (though I think there's already a tutorial enabling Web IDE Full-Stack).
Thanks,
Michal.

[2018-08-22 08:32] adadouche commented on #2554
Hi @vsenn

Thanks for your feedback.

This is fixed in the following commit [1936d3c](https://github.com/SAPDocuments/Tutorials/commit/aa0505882eb97c8083e98f1192929e61b098b516 )

[2018-08-22 08:32] #2554 closed

[2018-08-22 09:01] adadouche commented on #2516
Fixed in [af4c7b8](https://github.com/SAPDocuments/Tutorials/commit/af4c7b87d88b718af0ff812cbb828abaa1cd11fd).

[2018-08-22 09:01] #2516 closed

[2018-08-22 09:01] adadouche commented on #2511
Fixed in [af4c7b8](https://github.com/SAPDocuments/Tutorials/commit/af4c7b87d88b718af0ff812cbb828abaa1cd11fd).

[2018-08-22 09:01] #2511 closed

[2018-08-22 09:02] adadouche commented on #2495
Fixed in [af4c7b8](https://github.com/SAPDocuments/Tutorials/commit/af4c7b87d88b718af0ff812cbb828abaa1cd11fd).

[2018-08-22 09:02] #2495 closed

[2018-08-22 09:03] adadouche commented on #2542
Hi,

Thanks for your feedback. I have updated the validation rule.

[2018-08-22 09:03] #2542 closed

[2018-08-22 09:26] adadouche commented on #2552
Hi @vsenn

Thanks for this feedback, I think this is an indentation/element order issue. I'll check what I can do to avoid that.

[2018-08-22 09:36] adadouche commented on #2430
Hi @bknl

I'll close this issue for now. Let me know if you want to further discuss it.

[2018-08-22 09:36] #2430 closed

[2018-08-22 09:43] adadouche commented on #2533
Thanks for taking the time to share your feedback

[2018-08-22 09:53] adadouche commented on #1864
Hi @Madhusudan0291

This issue is closed as the original problem was fixed. I recommend you to either open a new issue or ask the SAP Community at [https://answers.sap.com](https://answers.sap.com).

In this issue, the SAPUI5 FileUploader didn't work for certain people in certain region but this is more a SAPUI5 issue than a tutorial issue.

This is why I provided 2 alternate option using direct X

[2018-08-22 10:04] adadouche commented on #2552
Fixed it in commit [cc961ad](https://github.com/SAPDocuments/Tutorials/commit/cc961addf0ccaa754bafe242c167545acf9348a8)

[2018-08-22 10:04] #2552 closed

[2018-08-22 10:05] adadouche commented on #2553
Thanks for catching this one!

Fixed it in commit [789cfac](https://github.com/SAPDocuments/Tutorials/commit/789cfacb974a948d0d89e8b93c61b3a0f0698c91)

[2018-08-22 10:05] #2553 closed

[2018-08-22 11:18] Akshaykumar26 commented on #2545
@thecodester , @mhassett92, It works now!
Thanks a lot for the quick fix :)

[2018-08-22 12:11] boda1985 commented on #2556
I still don’t see a way to message you directly on SCN. Is there another way for me to share it with you?

[2018-08-22 12:36] thecodester commented on #2556
Did you get my message to you? If so, you didn't get a way to answer me? Just trying to figure out how that works.

[2018-08-22 12:56] jonathanbaker7 commented on #2565
Agreed.  This is in the process of being rewritten, and will be removed once the new tutorials are finished.

[2018-08-22 16:10] rayatus commented on #2547
Thanks @mhassett92 I managed to validate the step 10.

[2018-08-22 16:10] #2547 closed

[2018-08-22 16:50] mhassett92 commented on #2556
Hi @boda1985 ! After chatting with Daniel about the problem you are seeing, it appears that the import of the Odata XML is different from the intended format. It seems to have mixed up some of the properties. Since you are private messaging Daniel, @thecodester can you privately share the correct property order?

Thank you!

[2018-08-22 16:51] mhassett92 commented on #2556
@ramitmittal if you are also having this issue, please private message me via the community the value you are trying to enter. If it is correct but in the wrong order, I will share the correct value.

Thank you!
Meredith Hassett

[2018-08-22 16:52] mhassett92 commented on #2564
No objections! Bandwidth is limited on our side, so the help would be greatly appreciated :)

[2018-08-22 16:54] mhassett92 commented on #2527
Hi all,
There are a couple open issues on this. As I mentioned in those other issues, the BusinessPartnerCollection is unavailable. To continue with the content, please use another collection, like ProductCollection, while we have the Gateway team resolve this.

Thanks!
Meredith

[2018-08-22 19:27] mhassett92 commented on #2488
HI Alfredo,

Are you still working on the TechEd 2017 content? Can you share the link of the tutorial you are having an issue with?

Thank you,
Meredith

[2018-08-23 06:19] thisispaco opened #2568 "Change from a mock server to live OData service for TechEd - Validate data source"
I'm having a problem with the validation of the data source.

I've validated this before you solved the issue with the validation of the initialization function but now its not working :

<NavigationProperty Name="PartOf" Relationship="715e5fc8a397998f103ac4ec.ToysPartOfParts" FromRole="FromRole_ToysPartOfParts" ToRole="ToRole_ToysPartOfParts"/>

[2018-08-23 06:52] thecodester commented on #2568
Can you explain what is happening? Once you validate, it should not let you validate again and you maintain your "Done". I validated last week, before any changes, and my validation still appears.

[2018-08-23 09:08] AldoKing2018 commented on #2488
Hi @mhassett92 ,
Now it's correct! I've passed validation.
Really, until yesterday morning I was trying everyday and validation was failing. I've tried in a private browser window. URL is https://www.sap.com/developer/tutorials/teched-2017-webide-odata.html

Thanks and best regards
Alfredo

[2018-08-23 14:57] glenndav opened #2569 "Import your TechEd BUILD project into SAP Web IDE"
On Step 7 I get
`ReferenceError: 'Text Decoder is not defined' `
after hitting Finish.

[2018-08-23 15:28] glenndav commented on #2569
Solved by deleting the project and starting over.

[2018-08-23 15:28] #2569 closed

[2018-08-23 17:00] glenndav commented on #2556
After trial and error, I determined that the proper order of the values within the string needs to be:
Parts
Relationship
FromRole
ToRole

[2018-08-23 17:25] glenndav commented on #2543
Same issue. Not resolved.  I'm using:

onInit: function () {
this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
this.oRouter.getTarget("1472700396090_S1").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
var oView = this.getView();
oView.addEventDelegate({
onBeforeShow: function () {
if (sap.ui.Device.system.phone) {
var oPage = oView.getContent()[0];
if (oPage.getShowNavButton

[2018-08-23 17:49] rayatus commented on #2543
I think you are using a wrong init function so there's not a problem of the validator.

[2018-08-23 19:05] glenndav commented on #2543
I grabbed the function from 1472700396090_S1.controller.js after var aFinalFilters
I also just compared this init function to the ones posted elsewhere on these threads (#2545) and it matches. Can you double check? Thanks.

[2018-08-23 19:17] rayatus commented on #2543
In your code, for instance, there's no the following sentence:

self.oBindingParameters['sap_IconTabBar_Page_0-content-sap_chart_ColumnChart-1473793038493'] = {
			"path": "Parts",
			"parameters": {
				"entitySet": "Sets"
			}
		};

[2018-08-23 19:41] glenndav commented on #2543
Thank you! I didn't realize that the function went down that far... I was just using the formatting and not the actual brackets.

[2018-08-23 21:14] jonathanbaker7 commented on #1416
The WeatherApp code is about to be End of Lifed, so I'm closing all bugs around it.  Please let me know if you have a similar error in the latest Java tutorials around SAP Cloud Platform.

[2018-08-23 21:14] #1416 closed

[2018-08-24 08:59] htammen opened #2570 "Sign up for a free trial account on SAP Cloud Platform"
HI,
I would like to participate in the SAP Teched 2018 mission contest but cannot validate my for a long time existing SCP cockpit URL which is: https://account.hanatrial.ondemand.com/cockpit/#/acc/p001984trial/accountdashboard
I get the error "Invalid response. Please try again"

Will my participation make the way into the lottery box despite of this error?

Regards Helmut

[2018-08-24 19:06] cdunlap opened #2571 "Set up SAP HANA, express edition, on Amazon Web Services - XS Advanced applications"
After setting the administration user password and entering 'Y' to proceed with the configuration, XSA is not setup and the `/usr/sap/HXE/home/xsa_config_status` file does not exist.

Recheck the tutorial against the current AMI.

[2018-08-25 16:25] htammen opened #2572 "Set up SAP HANA database on SAP Cloud Platform"
Hi,
I followed this tutorial by Bjoern Woppmann and got stuck at step 4. At bullet point 5. the tutorial asks me to add a new Cloud System but this menu option is not available for me.
The difference between my environment and the tutorial is that i used Eclipse Oxygen with the plugins from https://tools.hana.ondemand.com/oxygen and the tutorial uses Eclipse Neon.
How can I add a Cloud System in E

[2018-08-25 18:18] adadouche commented on #2572
Hi

Unfortunately this feature was removed with plugin in Oxygen.

Only the Neon plugin have this feature.

I personally have multiple Eclipse installations to overcome this differences.

[2018-08-25 21:08] AbhijitNilegaonkar opened #2573 "Create your own Fiori Launchpad"
Under User Experience I could not find Portal. Is there anything wrong in my SCP Trial account?

[2018-08-26 05:52] thecodester commented on #2570
The only thing that is weird to me is the p users I think are usually 10 digits long, and in the URL it is only 6

[2018-08-26 06:05] thecodester commented on #2556
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue -- sorry for the confusion

If you still have questions, feel free to reopen the issue.

[2018-08-26 06:05] #2556 closed

[2018-08-26 06:28] thecodester commented on #2570
I didn't notice the extra slash ... I would suspect that is the issue.

[2018-08-26 06:31] qmacro commented on #2570
I don't think it is - as noted above, my URL doesn't pass the validation either.

[2018-08-26 12:07] migsmagdangal opened #2574 "Import your TechEd BUILD project into SAP Web IDE"
On Step 8 of the tutorial, it says

where in fact, the text displayed in the screen is testFLPServiceMock**Server**.html

[2018-08-26 12:27] migsmagdangal opened #2575 "Code with SAPUI5"
On Step 6: Remove the column, the instruction directs us to look for the <m:columns> control. However, in our IDE, there's no such tagging. They're all **without** _m:_ .

[2018-08-26 13:37] raz-korn opened #2576 "Create an account on the Gateway Demo system"
The tutorial should be updated to reflect the use of ES5 as the gateway system.

[2018-08-26 13:39] raz-korn opened #2577 "Import your TechEd BUILD project into SAP Web IDE"
SAP Web IDE full-stack version is the recommended SAP Web IDE version. SAP Web IDE tutorials should be updated to reflect this.

[2018-08-26 18:28] schneidertho commented on #2548
Hi,
I have added a short paragraph to the troubleshooting/FAQ page in case other developers face the same problem (https://blogs.sap.com/2017/12/06/faqs-for-sap-data-hub-developer-edition/)
Best regards
Thorsten

[2018-08-27 05:52] thecodester commented on #2576
The tutorial at the start says ES5 - https://www.sap.com/developer/tutorials/gateway-demo-signup.html

Do you see something wrong in the tutorial - text, screenshot, validation ? Can you point it out?

[2018-08-27 06:45] SindhuSaravanan opened #2579 "Build an SAP Fiori UX app with SAP Gateway data"
Hi,

I tried to perform this tutorial but received an authentication failure (for Netweaver application server ES5/002) in step 6 of the exercise. When I entered by P-user ID and password, the system did not accept it.

Please help to resolve this issue.

Regards,

SIndhu

[2018-08-27 15:07] thecodester commented on #2579
Can you rpovie link to the tutorial you are referring to?

[2018-08-27 16:40] thisispaco commented on #2568
Now it works, thank you!

[2018-08-27 18:37] JOGETHMANN opened #2582 "Create your own Fiori Launchpad"
Hello,
I'm not able to validate my Cockpit:
https://flpportal-s0011412132trial.dispatcher.hanatrial.ondemand.com/sites?siteId=8d894b46-46e2-4375-a1d9-68c01dcb7a0e&mode=admin#Welcome-Display
Could you please advise?
Best regards.
João Otto.

[2018-08-27 20:32] htammen commented on #2572
Ah, thanks @adadouche. I think I will carry on in the cloud.

[2018-08-27 20:32] #2572 closed

[2018-08-27 20:34] #2570 closed

[2018-08-27 23:33] mhassett92 commented on #2573
Are you in your Cloud Foundry Trial account? This service is currently only available in the Neo account under Services.

[2018-08-27 23:37] mhassett92 commented on #2574
Thank you, I have fixed it in the referenced commit!

[2018-08-27 23:37] #2574 closed

[2018-08-27 23:39] mhassett92 commented on #2579
Make sure you are using the credentials you created when you signed up for the SAP Gateway service. These may be different then the ones you have your SAP Cloud Platform account.

[2018-08-27 23:41] mhassett92 commented on #2577
Hi Raz,

We are working on converting them with the help of Michal. I will defer to @thecodester on whether or not we plan on maintaining old event content, or if tutorials like this should be deprecated.

Thanks!
Meredith

[2018-08-27 23:43] AbhijitNilegaonkar commented on #2573
Hello,
I am using Neo. Not on Cloud Foundry. Any pointers you can guide me to? Thank you.
Abhijit

[2018-08-27 23:45] mhassett92 commented on #2575
the `m:` is how UI5 includes namespaces, when m is generally sap.m. Sometimes it is not the default namespace, and sometimes it is. Since the m:'s are not present, that means it is the default namespace for the application. m:column and column are most likely the same control.

[2018-08-27 23:49] mhassett92 commented on #2573
Are you in your company's account? If so, they might not have purchased the service so I would recommend a trial account. It should be available when you click on Services on the left nav list, and scroll towards the very bottom of that tile listing.

[2018-08-27 23:55] AbhijitNilegaonkar commented on #2573
Hi I am in Trial account. Got it now thanks. I don't know why I did not see that before. Thanks for your help. Appreciate it.

[2018-08-28 02:00] JOGETHMANN opened #2583 "Change from a mock server to live OData service for TechEd"
The images are not being loaded into the tutorials steps.

[2018-08-28 03:43] thecodester commented on #2573
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-08-28 03:43] #2573 closed

[2018-08-28 04:03] thecodester commented on #2568
Good to hear :-)

[2018-08-28 04:03] #2568 closed

[2018-08-28 06:44] raz-korn commented on #2576
Yes, it’s about images.
Please note that other additional tutorials include ES4 images as the GW system, e.g. https://www.sap.com/developer/tutorials/teched-2016-4.html step 6<https://www.sap.com/developer/tutorials/teched-2016-4.html%20step%206>.

An additional issue I encountered is missing images in most tutorials for creating destinations:
The filter I used:
[cid:image001.jpg@01D43EB3.B2AFF0D0

[2018-08-28 07:17] git-ashish opened #2584 "SAP HANA XS Advanced - Modules within Node.js SAP HANA applications - XSA Messaging Service"
Hello,

Could you please provide a tutorial about how to set up and use the XSA Messaging service?
A guide/tutorial like you have provided for many other examples would be very helpful.

Thanks!

[2018-08-28 18:57] amitcruz opened #2588 "Pre TechED 2018 mission : Deploy your app to Fiori Launchpad Marker.js error"
Hello Meredith,

I am getting below error when I am launching my Pre techEd2018 lottery application from Fiori launchpad.

Error: failed to load 'sap/m/markers.js' from https://sapui5.hana.ondemand.com/1.40.18/resources/sap/m/markers.js

@mhassett92

Please refer the attached screenshot.
![marker js error](https://user-images.githubusercontent.com/42535599/44744226-40406580-ab22-11e8-99a2-a0afd870

[2018-08-28 19:15] amitcruz commented on #2588
When I am trying to run the Pre TechEd 2018 lottery application from WEBIDE using FLP Sandbox I am getting below error

HTTP request failed 500
Service exception: [414] user is forced to change password

It seems password of HANA xsodata is changed . Please look at it.

[2018-08-28 19:27] mhassett92 commented on #2588
The 414 service error should be resolved.

[2018-08-28 19:33] amitcruz commented on #2588
Thanks Meredith for quick response. Waiting for the fix.

[2018-08-28 19:41] JOGETHMANN commented on #2582
Not at this module... I can access my cockpit and preview my app but this specific step into tbe progress control as the link is not validated.

[2018-08-28 20:54] mhassett92 commented on #2582
It looks like you are trying to validate a specific site on your portal account. We just are looking for the portal home page. If you remove everything after the ? in the URL, it should validate.

[2018-08-28 20:57] mhassett92 commented on #2588
The fix for the 414 error is in place. Please let me know if it is not resolved.

[2018-08-28 22:19] seansilvestri opened #2589 "SAP HANA XS Advanced, import tables and large datasets"
The images are not visible (links are broken)

[2018-08-29 02:53] amitcruz commented on #2588
Hello @mhassett92  , It is not fixed , I am still getting same error . Please check at your end,

[2018-08-29 05:38] thecodester commented on #2589
There is a problem with the Web server -- we are working on a fix. Sorry for the missing images.

[2018-08-29 11:27] VivekRajKM commented on #2486
@mhassett92 Any updates ?

[2018-08-29 12:57] cknitterscheidt opened #2591 "Create your own Fiori Launchpad"
Hi!

I followed the tutorial and it worked so far despite most of the screenshots not loading on your website. I have the fiori Launchpad, but while I see the drop down for the SAPUI5 version will the system not let me choose anything else than Innovation. When I click custom does it simply flip back to Innovation...

[2018-08-29 17:36] lpavia opened #2593 "Create an SAP Build prototype"
Links to images seem to be broken.

![screenshot_1](https://user-images.githubusercontent.com/29051890/44804801-19b51580-ab88-11e8-913a-2608460ae721.jpg)

Thanks!

[2018-08-29 22:19] greg2git opened #2594 "when trying to follow this pre-teched-2018-webide-git"
i keep getting logon errors in the "Fetch from Upstream" step.

Logging out, clearing the cache, and trying with different usernames like S-id, github id, etc. doesn't work.

[2018-08-30 05:41] thecodester commented on #2593
The images are now restored. Let me know if you still have problems with them and sorry for the inconvenience.

[2018-08-30 05:41] #2593 closed

[2018-08-30 10:54] thecodester commented on #2583
I see the images now, do you?

[2018-08-30 11:26] amitcruz commented on #2588
Hello @mhassett92..i am awaiting for your reply. Is it fixed or not?

[2018-08-30 13:41] JOGETHMANN commented on #2583
Yes, now the images are available! Thank you!

[2018-08-30 13:41] #2583 closed

[2018-08-30 19:50] jmalla opened #2598 "New HTML5 modules - Failed to open in browser - HANA XSA unresponsive"
Hi Team,

We are able to create and build our XSA applications on Google Cloud HANA 2.0 SP3.  Most things are running smoothly.  However, now we notice that if we create a new HTML5 module and then build and run this, the application says it's running but when bringing this up in the browser, we see that the application is not hit at all - so we cannot to a tail on the log for this HTML5 web app.

[2018-08-30 21:57] #2598 closed

[2018-08-31 06:33] MarcusSchiffer opened #2599 "Send Data with MQTT"
How can we make the example work in a corporate environment with proxy and proxy auth ?
Examples that work only from private computers in a home network are useless.

[2018-08-31 16:37] Lsubatin commented on #2598
Hey, Jay, just a note that will hopefully save time...

There is no need to restart the entire system and I would treat that as the ultimate solution. You can look at logs from the CLI using xs logs <<app>>. You can restart any app using xs restart and the entire XSA can be restarted with command XSA restart from the server.

I'm curious about which port was not open by default as that should be f

[2018-08-31 16:38] Lsubatin commented on #2584
Hi,
Thanks for the suggestion. That is an interesting scenario.

I do have a huge wishlist to fulfill so cannot commit on a time right now, but let's see what we can do.

Best,

Lucia.

[2018-08-31 16:38] #2584 closed

[2018-09-01 06:34] git-ashish commented on #2584
Thanks for the response @Lsubatin and will look forward to any solution to this scenario.

But as we are developing something which needs to use the Messaging Service and the service being a part of the offering in XSA, could you please point to some helpful documents which show its usage?

There are docs in the sap portal which list details about the service itself but nothing about how it can be

[2018-09-01 11:17] amitcruz commented on #2588
Hello Meredith @mhassett92
When can I expect the issue to be resolved. Last day for completing the mission is Sep 10. Please fix it as earliest as possible.

[2018-09-01 16:00] p1941925975trial opened #2600 "Code with SAPUI5"
When I try to run my application as web application, the FLP opens with the first tile being the "Inventory Dashboard". When I click on it, I get an error "Request failed":

Request failed
\{
	"requestUri": "/here/goes/your/serviceUrl/local/$metadata?sap-language=DE",
	"statusCode": 404,
	"statusText": "Not Found",
	"headers": [],
	"body": "HTTP Status 404 - Not Found"
}

[2018-09-01 19:41] chandrababu431 opened #2601 "Import your TechEd BUILD project into SAP Web IDE"
Hi @mhassett92 Meredith,

I'm unable to finish the 5th Step(Create New Project) in Section 5(Import your TechEd BUILD project into SAP Web IDE), as I'm unable to find BUILD option in Categories in SAP Web IDE. Even I'm unable to find SAP Innovation version 1.46 as well.

Can you please help or suggest me in finishing this step.

FYI.. Please find the screenshot attached.
![snap 1](https://user-ima

[2018-09-02 06:06] thecodester commented on #2599
@iwonahahn Can you help here?

[2018-09-03 06:33] jeGit opened #2602 "Enable SAP Cloud Platform Internet of Things for Cloud Foundry"
HELP.
This tutorial is no longer working with the current SAP trial services. I'm unable to provision an IoT trial as described in this tutorial.
Could someone please let me know, how to get an IoT trial?

Tia,
Jens

[2018-09-04 00:28] douglasmaltby opened #2606 "Store sensor data in SAP Vora"
I've followed this tutorial with SAP Data Hub 1.4 Trial Edition on GCP to the letter. This final part has failed repeatedly, and I turned on tracing to identify the cause. The error message, which included my password in plain text (removed from below), seems to be the root issue. I thought perhaps the GCS function call might have caused issues because of the insane key, but it seems to have gotte

[2018-09-04 00:56] AbhijitNilegaonkar opened #2607 "Change from a mock server to live OData service for TechEd"
Step 6

Unfortunately there is nothing like server.init() on line 14 when I check my code. What am I missing? I would appreciate any help. I am trying to find out if I am the only one with this problem or there are others seeing this as well. Any pointers would be helpful.

[2018-09-04 00:59] AbhijitNilegaonkar opened #2608 "Change from a mock server to live OData service for TechEd"
Step 8

Notsure why I am getting an error in the controller 1472700396090_S1.controller.js

![image](https://user-images.githubusercontent.com/19243918/45004599-b37b2900-afb3-11e8-952f-02febc8b875a.png)

I do not remember making any changes which would cause this. What am I missing?
I would appreciate any help. Thank you.

[2018-09-04 05:50] thecodester commented on #2606
@schneidertho Can you help here?

[2018-09-04 07:45] poonamassudani opened #2609 "Create an SAP Build prototype"
I am facing issue in the last step 'Share Your app'
I have created the prototype and copied the link . But is is showing error when trying to validate.

Below is the link I created for my prototype

https://standard.build.me/prototype-editors/api/public/v2/prototypes/5b8e217895059701035a1493/snapshots/latest/artifacts/index.html#/1472700396089_S0

[2018-09-04 09:31] schneidertho commented on #2606
Hi Doug,

good question. I don't have an immediate idea. I will try to reproduce on our side. Will take a moment.
Two questions
a) have you restarted your system (if no, can you suspend and activate the CAL instance)?
b) Do you have special characters (like $, & etc.) in your password? I just want to narrow down where the problem comes from.

Cheers
Thorsten

[2018-09-04 12:52] douglasmaltby commented on #2606
Hi Thorsten,

a) I've not restarted the SDH or HXE since activation, but I have suspended and reactivated the solution from CAL a few times since activation. I will activate it again now. Also, I have successfully been using Vora tools and modeler as part of the SDH 1.4 trial, including loading data from GCS with the same Iss, project and key as in the javascript operator, but via the Vora Modeler

[2018-09-04 14:57] douglasmaltby commented on #2606
Hey Thorsten,

I've just reactivated SDH 1.4 from CAL, ran the pipeline with Vora user both ways and confirmed that the issue is in fact the Vora client parameter for user.

The Vora Client user must be in the format "tenant\user", so the tutorial step 3 needs to be updated.

Here is a screenshot of the running process flow, including the Vora client user formatted "default\datahub". I also confir

[2018-09-04 17:47] AbhijitNilegaonkar commented on #2588
AmitCruz, I believe we need to be considerate, patient and polite while requesting support. I believe this is not revenue generating or a paid service by SAP. I do not work for SAP. But I felt above request was little aggressive.  Thanks for understanding.

[2018-09-05 06:00] Lsubatin commented on #2584
Hi, Ashish, I haven't tried this from an MTA from webide, have you tried type org.cloudfoundry.existing-service ?

[2018-09-05 06:41] git-ashish commented on #2584
Thanks for the reply, Lucia. Yes, we have tried org.cloudfoundry.existing-service but it gives the same error.
`service msg-service-one not found`

[2018-09-05 06:46] chandrababu431 commented on #2601
Hi @mhassett92

Can you please help me in above query.

Many Thanks
Regards
Chandrababu D

[2018-09-05 08:41] #2564 closed

[2018-09-05 12:25] mbenetti opened #2610 "Build and Deploy Streaming Lite Project"
Hi
I am having a problem to deploy the streaming project

pi@raspberry:~ $ $HOME/install/bin/streamingproject --ccx $HOME/freezer_monitoring_lite.ccx --command-port 9230
/lib/ld-linux-armhf.so.3: No such file or directory

That is my error. What could be?

[2018-09-05 15:59] sharmavivek73 opened #2611 "Create Your First ABAP Console Application"
Hi Merve,

I cannot find option ABAP Cloud Project option in Eclipse IDE. It looks like that I am missing some software installation in Eclipse for SAP Cloud Platform.

[2018-09-05 16:27] mhassett92 commented on #2609
The shared prototype appears to be working from my end, so please try to validate again. It may have been a glitch with the system. Let me know if it is still not validating!

[2018-09-05 16:30] mhassett92 commented on #2608
SAP Web IDE also shows Best Practices "errors" as a red X.There is nothing to resolve; just something to keep in mind when developing productive apps.

[2018-09-05 16:30] #2608 closed

[2018-09-05 16:31] mhassett92 commented on #2588
The issue is resolved. If you are still having issues, please post more information with screenshots of the error.

[2018-09-05 16:32] mhassett92 commented on #2600
Please note that you need to run the application with the testFLPServiceMockServer.html file as the set-up has changed. If you run the testFLPService.html, you will see this issue.

[2018-09-05 16:37] mhassett92 commented on #2591
Hi there! It looks like you no longer need to update the version of SAPUI5 on the Fiori Launchpad, so please ignore that step and continue. Sorry for the delay!

Thank you,
Meredith

[2018-09-05 17:03] AbhijitNilegaonkar commented on #2607
@mhassett92

[2018-09-05 17:52] sumit-kundu opened #2612 "Google App Engine Setup"
Can you provide the github link for the node.js sample app?

[2018-09-05 17:54] larshp commented on #2611
Hi,
See comment on https://blogs.sap.com/2018/09/05/sap-cloud-platform-abap-environment-is-live/ from Karl Kessler,

"the plugins will be released on September 13th on the tools home page.

The plugins are already available on Service Marketplace."

[2018-09-05 17:57] sumit-kundu opened #2613 "Google App Engine Setup"
Step2 : 'Development' menu option is not appearing. Not sure if GCP has changed its menu, but I managed to create a source code repository just by searching 'repository'.
Do you think this step can be updated?

Regards,
Sumit

[2018-09-05 17:58] schneidertho commented on #2606
Hi Doug,
thanks. You were faster than me. We will update the tutorial (target is tomorrow or Friday). Best regards
Thorsten

[2018-09-05 21:00] IObert opened #2614 "Empty section in tutorial"
I noticed a section which is entirely empty (step 6). Do you think we should remove it?
https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/hcp-create-destination/hcp-create-destination.md
https://www.sap.com/developer/tutorials/hcp-create-destination.html

Regards,
Marius

[2018-09-05 21:15] #2614 closed

[2018-09-05 21:16] IObert commented on #2614
Will be removed in latest version

[2018-09-05 21:53] VivekRajKM opened #2615 "Error while importing a BUILD project prototype into SAP Web IDE"
Error message with 'Request failed: Unauthorized URI'.
![build import](https://user-images.githubusercontent.com/17874349/45123362-80c16400-b15e-11e8-803b-7bbbeb1cafd8.JPG)

[2018-09-05 22:23] dezijan opened #2616 "User Experience - Portal does not appear in Services"
I feel like I'm missing something obvious, but I am not seeing it.

I've followed the "Sign up for a free trial account om SAP Cloud Platform". No issues there. I've done those same steps now, creating two different ids. When I get to the "Create your own Fiori Launchpad", I perform Step 1: Go to Services. When I search or filter for Fiori, I do not see the Portal (enabled) under User Experience.

[2018-09-06 01:12] mhassett92 commented on #2594
Can you share some more details? What is the exact error you are seeing? Are you logging in with your SAP Cloud Platform credentials? Did the repo you input already have code in it?

[2018-09-06 01:15] mhassett92 commented on #2616
There must have been an update to the descriptor text to remove Fiori. If you search for Portal, you will see the service. Please update your search.

[2018-09-06 01:16] mhassett92 commented on #2615
Make sure you are logging in with your EMAIL Address and BUILD password (this may be different than your SAP Cloud Platform password). If you continue to see issues, you can use the alternative directions to download the ZIP from Build.

[2018-09-06 02:31] Sushma1000 opened #2617 "Create Your First ABAP Console Application"
Hi,
I started eclipse after some time and followed the steps mentioned below:
I couldn't find ABAP Cloud Project. Is there a prerequisite before we get here?
Screenshot attached for reference.
![abap console application](https://user-images.githubusercontent.com/35324279/45131536-fa7f3f00-b1aa-11e8-9a35-2f8b4344dd28.jpg)

Step 1: Open ABAP cloud project
Open Eclipse, select File > New > Other > AB

[2018-09-06 03:18] AbhijitNilegaonkar commented on #2607
@mhassett92 thanks but not sure if i understand. This issue I am facing is from the topic of 2018 pre teched challenge. Let me know if I am missing anything. Your help is appreciated.

This could be found under Bullet 9 of the Challenge
9. Change from a Mock Server to Live OData Service for TechEd
   Then Open the Step 6

[2018-09-06 04:56] AbhijitNilegaonkar commented on #2588
I guess I am getting the same error.  Don't have screen capture at the moment but will update more details soon. Infact I followed the steps twice to create a second app. I get the same error on both the apps. 'could not open app. Please try again later'

[2018-09-06 05:05] thecodester commented on #2617
@mervey45 Can you help here?

[2018-09-06 05:06] AbhijitNilegaonkar opened #2618 "PreTeched 2018: Deploy your app to Fiori Launchpad"
I am getting an Error on Stage 10 Step 7. Any help is appreciated. Thank you.

Stage 10.  Deploy your App to Fiori Launchpad
Step 7 View your Launchpad App

I get an Error it says. The App could not be launched please try again later. Not sure if this related to previous errors I have posted in separate threads.

Some Observations:
1.  I guess the Stage 9 is not done correctly due to the other iss

[2018-09-06 05:15] AbhijitNilegaonkar commented on #2607
![image](https://user-images.githubusercontent.com/19243918/45136478-eff08580-b169-11e8-969b-cd519120efc1.png)

[2018-09-06 05:16] thecodester commented on #2610
@gpinar Can you help here?

[2018-09-06 05:18] thecodester commented on #2613
@Lsubatin Do you know who could help us with this tutorial?

[2018-09-06 05:27] AbhijitNilegaonkar commented on #2607
[component_dot_js.pdf](https://github.com/SAPDocuments/Tutorials/files/2355544/component_dot_js.pdf)

[2018-09-06 05:39] larshp commented on #2617
Get the plugin from https://launchpad.support.sap.com/#/softwarecenter/template/products/%20_APP=00200682500000001943&_EVENT=DISPHIER&HEADER=Y&FUNCTIONBAR=N&EVENT=TREE&NE=NAVIGATE&ENR=73555000100200009431&V=MAINT&TA=ACTUAL&PAGE=SEARCH/SAP%20ABAP%20IN%20ECLIPSE%202.96

also see #2611, the update site is not updated yet

[2018-09-06 05:50] Sushma1000 commented on #2617
Thanks!
Regards,

[2018-09-06 05:50] #2617 closed

[2018-09-06 06:40] chandrababu431 commented on #2601
Hi Meredith,

I got it now. Thank You for the support..

Have a good day!!

Thanks,
Chandrababu

[2018-09-06 06:41] #2601 closed

[2018-09-06 08:46] mervey45 commented on #2611
Hi sharmavivek73,

you need the latest version of Eclipse Oxygen (4.7) and also the latest link for ADT, which will be available on 13th September on the tools home page. As larshp already mentioned, the plugins are already available on Service Marketplace.

Thank you.

Best regards,
Merve

[2018-09-06 11:16] mbenetti commented on #2610
Thanks! that helped yes. Anyway, I just realize that all over the tutorial there are random spaces in the command lines, you don't realize till the end of the exercise.
So far I took the "Get to start with data streaming" cloud and with express edition but the problem starts in the freezer_lite tutorials.

Thank you for the help!

[2018-09-06 15:26] Lsubatin commented on #2613
It would be useful to know what the URL of the tutorial is. We have a couple of different GCP/AppEngine tutotrials. Thanks!

[2018-09-06 17:53] mhassett92 commented on #2618
Can you please share the exact error you are seeing to help troubleshoot further?

[2018-09-06 17:55] mhassett92 commented on #2616
You will need to enable the service to use it. Once you click on the tile, you will see a button to enable.

As I am an SAP employee, I may have access to beta services as well (I haven't looked into it), so there might be a difference in our accesses. Nothing to worry about!

[2018-09-06 17:56] mhassett92 commented on #2615
Did you enable both the Build Service in SAP Cloud Platform and the Build Feature in SAP Web IDE?

[2018-09-06 17:59] mhassett92 commented on #2607
Whoops, looks like an old instruction crept into this tutorial. Please ignore that instruction. There may have been a merge error and it ended up back in the tutorial. I am removing that line.

[2018-09-06 18:13] mhassett92 commented on #2588
The issue regarding the marker.js file is related to the SAPUI5 version in your Portal Fiori Launchpad site. There has been a change recently in the code imported from Build that is causing this. To resolve it, go to your FLP site admin page, go to settings, and change the version for SAPUI5 back to Innovation. After you do, republish, and clear the cache, the application should work. Please keep

[2018-09-06 22:13] dezijan commented on #2616
That seems to have done the trick. Thanks very much!

I was able to complete and register for the drawing, yet the dashboard doesn't show I completed step #2, even though the detail for #2 shoes that I did. Hope that doesn't exclude me from the drawing.

![9-6-2018 3-11-23 pm](https://user-images.githubusercontent.com/28067370/45187935-4cde5100-b1e7-11e8-85e4-4de861b26ff0.jpg)
![9-6-2018 3-12-14 p

[2018-09-06 22:39] manqobanqobi opened #2622 "Change from a mock server to live OData service for TechEd"
Battling on step 5, any assist appreciated.

[2018-09-07 02:30] chandrababu431 commented on #2622
Hi Meredith,

I'm also unable to validate the Navigationproperty, as it is getting invalid when I copy paste the Navigationproperty line. Can you please look into it and help/suggest in clearing this step.

Thanks,
Chandrababu

[2018-09-07 03:58] AbhijitNilegaonkar commented on #2607
Thanks for the clarification. This can be closed.

[2018-09-07 03:58] #2607 closed

[2018-09-07 04:01] AbhijitNilegaonkar commented on #2618
Meredith, Now the error is gone. I can launch the app but it says no data. I am going to try couple of things you suggested and see if it helps.
![no data](https://user-images.githubusercontent.com/19243918/45197804-ccd8db00-b228-11e8-84ec-22ee043436f1.PNG)

[2018-09-07 04:16] AbhijitNilegaonkar commented on #2588
Meredith I will just continue on my thread. Thanks.

[2018-09-07 04:18] AbhijitNilegaonkar commented on #2618
Meredith ,

Unfortunately This did not help fix this problem. I guess the data binding is lost somehow. Not sure what to try next.

[2018-09-07 06:27] AbhijitNilegaonkar commented on #2618
Meredith, I created a fourth app again today. This time checking each step which step breaks it. I noticed that as soon as we switch to ODataServices it breaks. Fixing the ToysSets to Sets and Partof to Parts doesn't fix it.  IF your app is working can you share your S1 Controller, S0 View and component.js if that's possible?
Also wondering have there been any successful app submissions recently b

[2018-09-07 09:17] VivekRajKM commented on #2615
Yes I did have them enabled.

[2018-09-07 09:18] VivekRajKM commented on #2615
Tried clearing cache, alternate browsers, yet unable to import the project.

[2018-09-07 11:26] VivekRajKM commented on #2615
Could you validate if the destination setting for SAP UI5 is any different ?
![sapui5 destination](https://user-images.githubusercontent.com/17874349/45216661-49a39d80-b299-11e8-8b97-7c999155a853.JPG)

[2018-09-07 12:57] sumit-kundu commented on #2613
Here is the tutorial I am following.
https://www.sap.com/developer/tutorials/gae-setup.html

[2018-09-07 13:54] mhassett92 commented on #2618
I cannot share the code since these are public and this is an ongoing coding challenge.

Are you connecting to the odata service we provide? What is the error you are seeing at that step? You will need to deploy the app once you change over to the live service. It will no longer work with FLP Mock Service file.

[2018-09-07 13:57] mhassett92 commented on #2622
Can you share the order of the properties in the Nav Property? We have been seeing some issues with the metadata coming in in a different order un-expectantly.

[2018-09-07 13:59] larshp commented on #2529
https://blogs.sap.com/2018/09/06/demystifying-eclipse-interaction-with-abap/ might help

[2018-09-07 14:01] mhassett92 commented on #2616
This is probably due to a change I made to the tutorial. I will put in a new step, which should force the validation through and you will see a green check. Please let me know when you complete step 7 (will push through shortly) if the bubble 2 turns green.

[2018-09-07 14:08] chandrababu431 commented on #2622
Hi @mhassett92

Please find as below. Please let me know if it is not exactly what you have asked about to share.

	<NavigationProperty Name="PartOf" Relationship="89fb160c099c2fbe104db861.ToysPartOfParts" FromRole="FromRole_ToysPartOfParts"
					ToRole="ToRole_ToysPartOfParts"/>

Thanks,
Chandrababu

[2018-09-07 14:17] mhassett92 commented on #2622
I believe you are using the incorrect metadata file. Did you create a new OData service using the destination provided in the previous tutorial? You should be using the metadata.xml file from the te2018lotteryapp folder under localservice.

[2018-09-07 14:27] manqobanqobi commented on #2622
Hi @mhassett92 i've created according to the tutorial and the xml file has 20lines max of code from the localservice folder

[2018-09-07 14:48] mhassett92 commented on #2616
We are aware of this issue and working to resolve it ASAP!

[2018-09-07 14:50] mhassett92 commented on #2622
Do you have a te2018lotteryapp folder in the localservice folder?

[2018-09-07 15:36] manqobanqobi commented on #2622
yes i do

[2018-09-07 15:54] chandrababu431 commented on #2622
Hey @mhassett92

Can you please check this attachement.. I  guess, I'm using te2018lotteryapp only.

![image](https://user-images.githubusercontent.com/20707977/45229739-5699ae80-b2e4-11e8-9ab5-ca9f9d4ed04f.png)

Thanks,
Chandrababu

[2018-09-07 15:57] manqobanqobi commented on #2622
![screenshot 2018-09-07 17 56 14](https://user-images.githubusercontent.com/43050931/45229898-7e2e4e00-b2c7-11e8-92a5-2600e8fca00d.png)

[2018-09-07 16:12] mhassett92 commented on #2622
Yes, so in the 2nd screenshot, you need the nav property from the sets type. Due to the current formatting, you cannot see it in there, but it is.

[2018-09-07 16:46] chandrababu431 commented on #2622
Hi @mhassett92 ,

I'm not getting to whom you  are addressing above comment.

Can you please share the latest metadata xml file. So that I will replace with the latest and will execute the xml file.

Please help me in this step, I was unable to complete this step due to invalid Nav Property.

[metadata_chandrababu1.txt](https://github.com/SAPDocuments/Tutorials/files/2361821/metadata_chandrababu1.

[2018-09-07 17:50] mhassett92 commented on #2622
The XML in @manqobanqobi 's screenshot is the correct one. @chandrababu431 you are looking at the incorrect one. Please follow the directions and use the metadata.xml file in the te2018lotteryapp folder. I will not share code here as this is an active contest and these issues are public.

[2018-09-07 17:53] mhassett92 commented on #2616
This issue is now resolved!

[2018-09-07 18:09] dezijan commented on #2616
Success! Thanks again for your help. Anything else I need to do to qualify for the drawing?
![9-7-2018 11-08-30 am](https://user-images.githubusercontent.com/28067370/45235662-743c2900-b28e-11e8-8068-7fc5aa05c59d.jpg)

[2018-09-07 18:15] mhassett92 commented on #2616
Did you fill out the form at the end of step 10? That's the only other thing you need to be eligible.

[2018-09-07 19:28] #2616 closed

[2018-09-07 20:55] AbhijitNilegaonkar opened #2625 "Series Data services on the API Business Hub"
On step3 when I Execute the example I get below message. IT appears that this API is no longer available. I would like to request to update the Tutorial accordingly. Thanks.

 {
  "code": "Service_Unavailable",
  "message": "This API is no longer available and replaced by SAP Predictive service - Business Services, Outliers Service"
}
Response h

[2018-09-08 07:31] manqobanqobi commented on #2622
yeah your right it's all about syntax

[2018-09-08 07:31] manqobanqobi commented on #2622
thank you, as i continue

[2018-09-08 12:31] manqobanqobi commented on #2622
done

[2018-09-09 18:00] amitcruz commented on #2588
Thanks Meredith for your help.. Please close the thread.

[2018-09-09 18:00] amitcruz commented on #2588
Thanks Meredith for your timely support and guidance. I am closing the issue.

[2018-09-09 18:00] #2588 closed

[2018-09-09 19:42] mhassett92 commented on #2618
Glad to hear things are working! The name does not matter so long as you have all green checkmarks on the mission page and have filled out the registration form at the end. Good luck!

[2018-09-10 07:40] adadouche commented on #2625
Hi @AbhijitNilegaonkar

Let me check that, as there has been some API changes recently. The endpoint might have change.

I'll get back to you soon.

@bdel

[2018-09-10 07:41] #2551 closed

[2018-09-10 10:06] VivekRajKM commented on #2615
@mhassett92 Any hints or comments please ?

[2018-09-10 17:02] mhassett92 commented on #2615
Vivek,
There seems to be an issue with your trial account as this is the not the first time you have issues with a template. I think the best option would be to create a new account with a new email address if that is possible. While this is not ideal, this is the quickest way to resolve the issue. I am trying to see why your account rejects the templates, but its not clear to us on our side so no

[2018-09-11 12:42] colinjoy opened #2629 "Installing SAP HANA, express edition Server + Apps, with Docker"
On the [overview page](https://www.sap.com/developer/topics/sap-hana-express.html) the diagram suggests that the docker variant is available for all platforms (Linux, Windows and Mac). However the detailed [install instructions](https://www.sap.com/developer/tutorials/hxe-ua-install-using-docker-xsa.html) explicitly mention that Windows and Mac are not supported:

Either the diagram or the disclai

[2018-09-11 19:01] #2530 closed

[2018-09-11 19:01] #2538 closed

[2018-09-11 19:01] #2543 closed

[2018-09-11 19:02] #2546 closed

[2018-09-11 19:02] #2555 closed

[2018-09-11 19:02] #2575 closed

[2018-09-11 19:03] #2579 closed

[2018-09-11 19:03] #2591 closed

[2018-09-11 19:03] #2618 closed

[2018-09-11 19:04] #2609 closed

[2018-09-11 19:04] #2600 closed

[2018-09-12 11:15] iwonahahn commented on #2602
Hi Jens,

Thank you for your feedback. Public Trial is currently not available for the IoT service on Cloud Foundry. Therefore we mention in our tutorial, that you have to purchase a license for the SAP Cloud Platform Internet of Things Service. It is planned to offer trial access to the SAP Cloud Platform Internet of Things for the Cloud Foundry environment. Please stay tuned until this is availa

[2018-09-13 09:48] VivekRajKM commented on #2615
@mhassett92 Thanks Meredith. I did try creating a trial account via different email address, but I face error over import. I am giving up on this. Thanks Meredith.

![error](https://user-images.githubusercontent.com/17874349/45481029-654bef80-b742-11e8-8b61-83c7a80ce77a.JPG)

[2018-09-13 10:59] normanmerten opened #2633 "SAP HANA, express edition, in Google Cloud Platform Launcher (Database + XS Advanced)"
Hi,
in step 7 you have to install the sa..tgz but there is no file like sa.tgz. So you have to install hsa.tgz
cd /Downloads
tar -xvzf hsa.tgz

and

sudo ./HANA_EXPRESS_20/install_hsa.sh

Kind regards,

Norman

[2018-09-13 11:15] thecodester commented on #2599
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-09-13 11:15] #2599 closed

[2018-09-13 11:16] thecodester commented on #2602
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-09-13 11:16] #2602 closed

[2018-09-13 11:18] thecodester commented on #2606
@schneidertho Let us know if we can close this issue?

[2018-09-13 11:18] thecodester commented on #2589
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-09-13 11:18] #2589 closed

[2018-09-13 11:58] julieplummer20 commented on #2529
Hi Igor, A few basics first.
1. What version of Eclipse and Java do you have? Have you updated (Help > Install new... > Site =  https://tools.hana.ondemand.com/photon ).
2. Lars' link shows the exact error you reported, along with a load of possible solutions. Have you tried them - if so, how far did you get?
3. Have you tried creating a different type of object in package $tmp (local - won't be t

[2018-09-13 13:53] JCurrie27 commented on #2629
Assigning this issue to Adrian for investigation.

[2018-09-13 14:20] douglasmaltby commented on #2606
The tutorial is still incorrect. The Vora client user format in step 3 should be shown as "default\datahub", NOT "default/datahub". After fixing the tutorial, the issue can be closed.

https://www.sap.com/developer/tutorials/datahub-trial-pipelines-part05.html

![store_sensor_data_in_sap_vora___developer_tutorial](https://user-images.githubusercontent.com/19276339/45494084-eb156e00-b735-11e8-9684-

[2018-09-13 18:10] adadouche commented on #2540
Hi @vsenn

Have you had a chance to get it to work?

Thanks

[2018-09-13 19:56] RobWaywellSAP commented on #2610
I'm not seeing extra spaces when I look at the tutorial on the Developer page at https://www.sap.com/developer/tutorials/hsa-streaming-lite-freezer-monitoring-part3.html

That may or may not matter.

The error you are getting is a file not found error, so the first thing we need to do is verify if the files referenced in that command line are in those locations:

1) Does the $HOME environment vari

[2018-09-13 22:40] aplata-sap commented on #2629
Hi there,

Sorry for the confusion. The docker installation is not supported for Docker for Windows or Docker for Mac. We have an update to the diagram in the works.

[2018-09-14 07:16] vsenn commented on #2540
Hi Abdel! I'm using escape symbol in `FIELD DELIMITED BY '\;' ` having no issues with it. We can close it till somebody report the same.

[2018-09-14 11:51] #2629 closed

[2018-09-15 10:53] adadouche commented on #2540
Thanks. Closing the issue for now.

[2018-09-15 10:53] #2540 closed

[2018-09-17 00:37] AbhijitNilegaonkar opened #2640 "Set up SAP Data Hub, trial edition"
Step 3 Create solution instance
Issue 1. When I am at this step I get the following error. I did keep the recommended settings but it already says I have exceeded the quota? What am I missing?

![image](https://user-images.githubusercontent.com/19243918/45602669-c0ead700-b9e7-11e8-9262-9918d618040a.png)

![image](https://user-images.githubusercontent.com/19243918/45602659-897c2a80-b9e7-11e8-970c-4

[2018-09-17 05:16] thecodester commented on #2640
@kulkarniamogh Can you help here?

[2018-09-17 08:39] mbenetti commented on #2610
Hello Rob

Thank you for your email. Sorry for the late respond, I was on holidays.

In the previous step https://www.sap.com/developer/tutorials/hsa-streaming-lite-freezer-monitoring-part2.html

When you configure the streaming $HOME, in the code there is  one space after the symbol “=” , this  later produce and error on step 2 of the 3rd part,  when you run the project.

[cid:image001.jpg@01D44E

[2018-09-18 13:43] kulkarniamogh commented on #2640
Hello @AbhijitNilegaonkar

I will try to answer the issues in a slightly different order to make the explanation more fluent.

**Issue 3 :**

Yes the trial is free from SAP but you have to bear the infrastructure expenses. Please refer to the FAQ page regarding Solution Types and Charging Model [here](https://blogs.sap.com/2016/08/23/faq-solution-types-and-charging-model/).

Below is a relevant an

[2018-09-18 14:54] RobWaywellSAP commented on #2610
We should probably start a separate thread to talk about the adapters and/or the issue you had configuring the WSP/SWS.

As a starting point for the adapters, you can take a look at the [SAP HANA Streaming Analytics: Adapters Guide](https://help.sap.com/viewer/52acc1f6b1d7428caab280d193c820f6/2.0.03/en-US)

[2018-09-19 09:09] andreasfinkelmeyer opened #2647 "CRUD Master-Detail App tutorial - service setup issue"
I'm trying to follow the "Create a CRUD Master-Detail App" tutorial (https://www.sap.com/developer/tutorials/cp-webide-create-crud-app-template.html), but I am getting stuck on step 8. I have setup the  MobileServicesSampleData destination as described in step 3*, and I can select it in step 7, but when I try to test it as described in step 8, I get a red "undefined undefined" response under the "

[2018-09-19 14:53] cristianosalla opened #2648 "SAP Leonardo Machine Learning and the iOS SDK"
The tutorial could be smaller. For example, the configuration of the UI (table view, pickers, labels) could be given in a separated archive, so users could download this starter pack and init the tutorial in the most relevant part: the machine learning API. Thanks!

[2018-09-19 15:35] SAPDocs opened #2649 "Tutorial Page build-api-hub.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/build-api-hub/build-api-hub.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/build-api-hub/build-api-hub.md) contains invalid primary tag.
Your tutorial was not updated. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Example:
\-\-\-
titl

[2018-09-19 15:35] SAPDocs opened #2650 "Tutorial Page build-import-webide.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/build-import-webide/build-import-webide.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/build-import-webide/build-import-webide.md) contains invalid primary tag.
Your tutorial was not updated. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided abo

[2018-09-20 04:45] #2650 closed

[2018-09-20 04:45] #2649 closed

[2018-09-20 08:32] akhil-agarwal opened #2651 "Expose a Standard Core Data Service for ABAP Environment"
Step 7 has incorrect screenshots. (The same as that for Step 8).

[2018-09-20 08:35] thecodester commented on #2651
@mervey45 Can you update?

[2018-09-20 09:38] thecodester commented on #2647
@VinoGandhiM Can you help here?

[2018-09-20 09:51] VinoGandhiM commented on #2647
@andreasfinkelmeyer can you please share a screenshot of the error?

[2018-09-20 10:30] andreasfinkelmeyer commented on #2647
@VinoGandhiM sure

as described, I can select the service/destination:
![sap_webide_template1](https://user-images.githubusercontent.com/32262057/45812581-182ec700-bcc8-11e8-8cdf-9995059da21f.PNG)

but after entering the forward slash in the "Relative URL" field and clicking Test, I get this:
![sap_webide_template2](https://user-images.githubusercontent.com/32262057/45812582-182ec700-bcc8-11e8-829

[2018-09-21 02:07] wilchemh opened #2657 "Set DB Build target for Standalone XSA Install"
We have xsa installed as a standalone instance on comodity hardware.  How do a configure the webIDE build target so that hdb MTA are built on my HANA Dev instance.

I currenlty have a space enabled and a simple (tinyworld cds) project that succssfullys builds, but I have no Idea where the table is being built.  When I go into database explorer I don't see any HDI that exist.

From the database exp

[2018-09-21 08:32] VinoGandhiM commented on #2647
@andreasfinkelmeyer thanks.
@lnoenssap can you help with this issue?

[2018-09-21 10:40] adamcharvat1 opened #2658 "Series Data services on the API Business Hub"
[Decommissioned] Time Series Changepoint Detection API

{
  "code": "Service_Unavailable",
  "message": "This API is no longer available and replaced by SAP Predictive service - Business Services, Outliers Service"
}

[2018-09-21 12:14] lnoenssap commented on #2647
Hi @andreasfinkelmeyer , can you show me the URL of the data service defined in the destination?

[2018-09-21 12:33] greg2git commented on #2594
it doesn't look like it's going to be resolved any time soon, so i will just close it.

[2018-09-21 12:33] #2594 closed

[2018-09-21 13:03] akhil-agarwal opened #2659 "Add Transactional Behavior to Your Core Data Service"
Step 1: Activating the edited Data Definition leads to a syntax error. The compiler expects this annotation: `@AbapCatalog.preserveKey: true`.

[2018-09-21 13:06] akhil-agarwal opened #2660 "Add Transactional Behavior to Your Core Data Service"
Step 3:

is incorrect.

[2018-09-21 13:10] phillparkinson opened #2661 "Import the MovieLens dataset"
Step 5 references movielens/db/src/hdb/data but the correct path should be
movielens/db/src/data ?

[2018-09-21 14:29] adadouche commented on #2661
Thank you for catching that. Fixed in #cd85d20

[2018-09-21 14:29] #2661 closed

[2018-09-21 14:49] akhil-agarwal opened #2662 "Add Transactional Behavior to Your Core Data Service"
Step 7, handle update:
Definition of field-symbol is missing.

Something like:
`field-symbols <ls_buffer> TYPE lcl_buffer=>ty_buffer. `

[2018-09-21 14:55] #2662 closed

[2018-09-21 14:56] akhil-agarwal commented on #2662
My error - there is inline declaration.

[2018-09-21 16:47] qualiture commented on #2648
Hi Cristiano,

Thank you for your feedback. Unfortunately, due to legal reasons, we are not allowed to provide downloadable application code (archive, Git, etc) for iOS SDK apps.

I agree it would have reduced the time to complete the tutorial, but then, the main goal of this tutorial is to learn how to connect to the ML API, and how to invoke / bind its functions / events using the SAP Cloud Plat

[2018-09-23 08:28] koopmk opened #2663 "Onboarding a computer as the IoT thing"
https://www.sap.com/cmp/ft/crm-xm17-gtm-1sc-iotae/index.html is broken

[2018-09-23 18:58] schneidertho commented on #2606
Hi Doug,
the change has been made. Cheers
Thorsten

[2018-09-24 11:31] koopmk commented on #2663
Is working again.

[2018-09-24 11:31] #2663 closed

[2018-09-25 13:28] tatiana237 opened #2673 "Set up SAP Data Hub, developer edition"
Hi,
I've already installed the SAP Data Hub, developer edition. I'm about to build my first pipeline. I have executed the pipeline. unfortunately, the generated data is not visible on the terminal, although the pipeline has the status Running.
thanks for the answer

[2018-09-25 14:52] saradasarvepalli opened #2675 "Getting started with the SAP Fiori, Demo Cloud Edition"
Hi, i have personalised the Demo site for my company for a presentation but none of the apps were working. Like the "My Oppurtunities" or any other tile is throwing an error."Could not open app. Please try again later." I believe the UI5 version used while customising the theme is latest and the demo site is using the old version i believe. Can you please help?

[2018-09-25 14:54] saradasarvepalli commented on #2675
Here is the URL for my customised site. Please take a look and advise ASAP as i am trying to present the same to my upper management team.
https://fiorilaunchpad-b22342c56.dispatcher.us1.hana.ondemand.com/sites/Demosite#Shell-home

[2018-09-26 08:25] SAPDocs opened #2678 "Tutorial Page ci-best-practices-scm.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ci-best-practices-scm/ci-best-practices-scm.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ci-best-practices-scm/ci-best-practices-scm.md) contains no tags. Your tutorial in sapcom was not updated.

 Affected server: PROD

[2018-09-26 08:25] SAPDocs opened #2679 "Tutorial Page ci-best-practices-scm.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ci-best-practices-scm/ci-best-practices-scm.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ci-best-practices-scm/ci-best-practices-scm.md) contains invalid primary tag.
Your tutorial was not updated. Please double-check primary tag property.

Each tutorial md-file shall have primary tag prov

[2018-09-26 12:16] salahchakchouki opened #2680 "SAP HANA XS Advanced, Creating an HTML5 Module"
Not really  an issue, but just a small note to let you know that using the Space Enablement page to create the builder environment did not work for me until I opened it in incognito mode.
it might spare people a few minutes
Thank you for the quality turorials - very helpful :1st_place_medal:

[2018-09-26 13:35] Lsubatin commented on #2680
Hi! Thanks for the feedback.

The space enablement tool should be used as XSA_ADMIN, so it makes sense that you need to alternate between normal and incognito mode.

Was the space not enabled at all or did it "disappear" after a while?

Cheers,
Lucia.

[2018-09-26 13:44] salahchakchouki commented on #2680
Hi Lucia
I can't say for certain because it was the first time I needed to access
In all cases the service was stopped.
That's probably a setting in the appliance available on the GCP marketplace
Regards
Salah

On Wed, 26 Sep 2018, 15:35 Lucia Subatin, <notifications@github.com> wrote:

[2018-09-26 15:37] Lsubatin commented on #2680
Thanks, Salah. The space should be enabled by default, but I have reported that already.

Thanks,

Lucia.

[2018-09-26 15:37] #2680 closed

[2018-09-27 17:42] chillamcherla commented on #2255
how can we connect / switch form one space to another suing XSA CLI,

[2018-10-02 07:41] thecodester commented on #2675
@gregorwolf Can you help here?

[2018-10-02 08:37] gregorwolf commented on #2675
Hi @saradasarvepalli, when I open the provided link I can see this:

![screen shot 2018-10-02 at 10 32 08](https://user-images.githubusercontent.com/2639535/46337721-88c1d600-c62e-11e8-8028-7f02a43329e0.png)

Most of the links point to google.com. I would guess that this Group is assigned to all authenticated users. I've tried to create my own customised SAP Fiori Launchpad with the trial but that

[2018-10-02 11:49] ptharso commented on #1864
I wish to copy and test your code in my sap web ide....is possible? how to download?

[2018-10-02 19:11] SAPDocs opened #2693 "Tutorial Page teched-cf-prereq1.md Issue. PROD"
Tutorial issue found: [https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/teched-cf-prereq1/teched-cf-prereq1.md](https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/teched-cf-prereq1/teched-cf-prereq1.md) contains invalid primary tag.
Your tutorial was not created. Please double-check primary tag property.

Each tutorial md-file shall have primary tag provided above. Exam

[2018-10-04 20:09] ptharso opened #2705 "Topic Detection ML service with SAPUI5"
When i upload only a text file i received a Error 400 Undefined....How can resolve this?

[2018-10-09 14:03] adadouche commented on #2658
HI @adamcharvat1

I was recently informed that the Time Series Changepoint Detection API has been finally  decommissioned. Therefore, I will decommission this tutorial as well.

I'm sorry about the inconvenience,

Best Regards

Abdel

[2018-10-09 14:04] adadouche commented on #2625
Hi @AbhijitNilegaonkar

I was recently informed that the Time Series Changepoint Detection API has been finally decommissioned. Therefore, I will decommission this tutorial as well.

I'm sorry about the inconvenience,

Best Regards

Abdel

[2018-10-09 14:05] adadouche commented on #2705
Hi @ptharso,

Can you provide the full error message and the request payload sent from your browser.
YOu can get that from the browser "developer" tools on the network tab.

Regards

Abdel

[2018-10-09 17:16] ptharso commented on #2705
I understood nothing....

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Abdel Dadouche <notifications@github.com>
Sent: Tuesday, October 9, 2018 11:06:02 AM
To: SAPDocuments/Tutorials
Cc: paulo castro; Mention
Subject: Re: [SAPDocuments/Tutorials] Topic Detection ML service with SAPUI5 (#2705)

Hi @ptharso<https://eur02.safelinks.protection.outlook.com

[2018-10-11 10:57] luvpreet26 opened #2716 "How to use retrained model in SAPUI5"
How i can use my retrained model in sapui5,, i can access my retrained model from postman,,but for completion of my poc i want to use on sapui5,,
i tried this project,,,its working fine..
https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/ml-fs-sapui5-img-classification/sapui5ml-imageclassifier
But at the place of sandbox url i want my retrained model url...
ANY HELP??

[2018-10-11 11:49] adadouche commented on #2716
Hi @luvpreet26

I'm currently working on that with a new series explaining how to enable the service instance on CF, then play with it in Postman, and finally build an app.

Stay tuned

[2018-10-12 04:30] luvpreet26 commented on #2716
Thank you @adadouche...i am done with retraining and enabling the CF,,i have to finish my POC ..thats why i required,,if you have any idea or link please share..
How to use retrain model in SAPUI5

[2018-10-12 08:48] adadouche commented on #2716
Hi @luvpreet26

It is pretty easy, you just need to append a JSON object like the following as a new formData item named "options":
{"modelName": "my model name", "modelVersion":""model version"}

HTH

@adadouche

[2018-10-15 12:57] mkavza opened #2726 "Create Your First ABAP Console Application"
Hello,
I tired this tutorial; https://developers.sap.com/tutorials/abap-environment-console-application.html#
But i cant pass step5. Can you explain provide connection.
i didn't create service instead. how can i create?
![tempsnip](https://user-images.githubusercontent.com/10794953/46952213-e6283f00-d092-11e8-87cc-ebb53df98d5e.png)

[2018-10-16 07:51] harrywushan opened #2731 "How to add SAP web ide Portal"
hello,I read your blog( https://developers.sap.com/tutorials/pre-teched-2018-fiori-create.html )，and I cound not find the Portal Service，could you help me ? My Email: 1572873912@qq.com

[2018-10-16 11:06] mkavza commented on #2731
Hi harrywushan,
Can u get create new trial acount and try again?
Sometimes, need new user.

[2018-10-19 06:08] aelghanam commented on #2201
Any updates ?

[2018-10-20 18:28] DevRelations1 opened #2740 "Getting Started with SAP Web IDE for Full-Stack Development (Trial)"
Test

[2018-10-22 18:13] Arduingo opened #2742 "Service exception: [414] user is forced to change password in Create Your First Fiori for iOS App tutorial"
Hi, Sorry to use this way to report this issue, I´m following the tutorial "Create Your First Fiori for iOS App", at Developer.sap.com updated by Kevin on 21/10, but no matter what when I run the generated project in the Simulator Iafter the on-boarding and account validation when I select one of the tableview rows always get [414] user is forced to change password in the Xcode logs and the App sc

[2018-10-23 14:32] Arduingo commented on #2742
Seems like it's fixed now.

[2018-10-23 14:32] #2742 closed

[2018-10-24 07:20] macott commented on #2507
Hi Ashish,
The "user.xsjs" is not referring to the xsjs file.
It is about the location of  session.xsjslib file.

You can see session.xsjslib is under /user/xsjs directory.
https://github.com/SAP/com.sap.openSAP.hana5.example/tree/master/user-js/lib/user/xsjs

[2018-10-24 07:35] git-ashish commented on #2507
Thanks for the details and the Github link to the folder, Makoto. From what I remember, this folder dependency was missing in the referenced tutorial and hence the confusion. Thanks for sorting it out.

[2018-10-25 10:42] VivekRajKM commented on #2615
Hello @mhassett92  Meredith, this issue has been resolved. Thanks for the support.

[2018-10-25 10:42] #2615 closed

[2018-10-25 10:46] VivekRajKM commented on #2486
@mhassett92 @thecodester This issue has been resolved, thanks for the support.

[2018-10-25 10:46] #2486 closed

[2018-10-26 21:35] sumit-kundu commented on #2613
Hello Lucia,

Sorry about the late reply.
Here is the tutorial link I was following.
https://developers.sap.com/tutorials/gae-setup.html

BTW, I do not find the github link where I used to browse the issues
reported. A lot has changed in SAP tutorial navigators.

Regards,
Sumit

On Thu, Sep 6, 2018 at 8:57 PM Lucia Subatin <notifications@github.com>
wrote:

[2018-10-27 09:04] nikitazernov commented on #2034
Hello everyone! Links mentioned by @adadouche are broken.

[2018-10-28 06:52] thecodester commented on #2613
We are working on restoring the feedback link. Sorry about that.

[2018-10-28 08:01] thecodester commented on #2726
@niloofar-naseri @mervey45 Can you help here?

[2018-10-29 09:46] niloofar-naseri commented on #2726
Hi,
You can not use a trial account because ABAP is not yet a part of trail. You will need to have a productive account. Or if you are an employee by SAP you can use TechEd2018 organization.

[2018-10-29 15:33] GalbiatiL commented on #2368
Hi @Sygyzmundovych , I'm sorry, but I'm unable to complete your tutorial https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html .
Instead  of a2667617c the system show me the user p1942131186trial. I'm not sure, but I think this is the reason to give back ther error "Access to the requested resource is not authorized (HTTP 401)", while I'm sending the cpu data from my pc

thanks in adv

[2018-10-29 15:41] GalbiatiL opened #2751 "SAP IOT host "iotmmsa2667617c.hana.ondemand.com" not authorized (HTTP 401)"
Hi @Sygyzmundovych,
 please, can you help me regarding an error message "Access to the requested resource is not authorized (HTTP 401)"? I give back this message, calling the host iotmmsa2667617c.hana.ondemand.com described in your scenario https://developers.sap.com/tutorials/iotae-comp-thingmodeler0.html

please check that instead of a2667617c user, the system provided p1942131186trial user

tha

[2018-10-29 15:47] marcuscbehrens commented on #2368
Someone put in his trial account.

I fixed it and put a2667617c back in.

Please try again.

From: GalbiatiL <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Monday, 29. October 2018 at 16:37
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Marcus Behrens <marcus.behrens@sap.com>, Mention <mention@noreply.github.com>
Subject: Re: [SAPDocuments

[2018-10-29 21:33] GalbiatiL commented on #2368
Hi @marcuscbehrens , Thanks for your answer.
Unfortunatly someone put in another wrong value "I801786trial"

luca

[2018-10-30 08:08] adadouche commented on #2034
Hi @nikitazernov

I guess you are facing this issue from the [HXE product age](https://developers.sap.com/topics/sap-hana-express.html).

To make the story short, the mentioned tutorials were deprecated and removed from the [HXE product age](https://developers.sap.com/topics/sap-hana-express.html).

However, for an unknown reason the links reappeared on the [HXE product age](https://developers.sap

[2018-10-30 09:18] marcuscbehrens commented on #2368
I fixed it again …

From: GalbiatiL <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Monday, 29. October 2018 at 22:33
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Marcus Behrens <marcus.behrens@sap.com>, Mention <mention@noreply.github.com>
Subject: Re: [SAPDocuments/Tutorials] Change xxxTrial account back to a2667617c (#2368)

Hi @marcus

[2018-10-30 19:47] nkthupili1 commented on #2234
@lbe

Thanks for the hint on the ZFS.
I followed the above steps but still experiencing the issue.  The minor  difference on how I mounted

***
dd if=/dev/zero of=HANA.img bs=128k seek=1638400 count=0
mkfs.ext4 HANA.img
mount HANA.img /mnt/hxe1data
chown hxeadm.sapsys /mnt/hxe1data
chmod 666 /mnt/hxe1data
***

I'm using the latest release if that makes a difference
store/saplabs/hanaexpressxsa:2.0

[2018-10-31 16:53] aplata-sap commented on #2234
@TerryNing can you help?

[2018-11-01 02:30] songrui01 commented on #2234
Fow HXE docker full image: hanaexpressxsa, we recommend the devicemapper storage driver .

https://docs.docker.com/storage/storagedriver/select-storage-driver/#docker-ee-and-cs-engine

Docker EE and CS-Engine
For Docker EE and CS-Engine, the definitive resource for which storage drivers are supported is the Product compatibility matrix. To get commercial support from Docker, you must use a support

[2018-11-01 04:39] yanniks opened #2754 "Authenticate to restnotification API using OAuth2"
Hello,

We're currently trying to authenticate to the restnotification API using OAuth2. I followed [this](https://blogs.sap.com/2017/06/09/how-to-enable-push-notifications-（part2/) tutorial, unfortunately it doesn't say how to authenticate using OAuth2. We're using our own SAML-IdP in connection with the OAuth2 service. I created a new client for our "push notification handling website", obtainin

[2018-11-02 15:59] #2751 closed

[2018-11-02 16:20] GalbiatiL opened #2758 "problem with IoT Tutorial"
Dear all,
I have a problem with the tuturial Tutorials/tutorials/iotae-comp-buildappmc0/iotae-comp-buildappmc0.md .
It's all ok until the step 6, where in my develop I'm unable to find the action described in step 6.
Again, I can't run my develop.

I understand that the version of SAP IoT Application is different from the tutorial to now and I find all the object described in the tutorial, but fro

[2018-11-02 16:28] GalbiatiL commented on #2368
Hi @marcuscbehrens thanks! i complete the second second part of the tutorial. But now, I've some problem with this one https://developers.sap.com/tutorials/iotae-comp-buildappmc0.html
Something doesn't work and in the step 6 I can't find the action

Could you help me again?

thanks
luca

[2018-11-02 20:48] nkthupili1 commented on #2234
@songrui01

Thanks for the recapping the instructions.

I have a working docker install with ZFS and have been using for learning Hadoop sandbox, machine learning and other systems.
The HANA XSA docker image is failing to install.
Per docker's documentation:
[https://docs.docker.com/storage/storagedriver/select-storage-driver/](url)

recommended  storage driver order of preference
zfs (if supporte

[2018-11-05 11:15] marcuscbehrens commented on #2368
What was called Actions in the past is now called “Events” and you should look for “Wire to Action”

From: GalbiatiL <notifications@github.com>
Reply-To: SAPDocuments/Tutorials <reply@reply.github.com>
Date: Friday, 2. November 2018 at 19:32
To: SAPDocuments/Tutorials <Tutorials@noreply.github.com>
Cc: Marcus Behrens <marcus.behrens@sap.com>, Mention <mention@noreply.github.com>
Subject: Re: [SAPD

[2018-11-06 04:54] FireFighter1017 opened #2759 "MovieLens recommendation machine learning tutorial : data.hdbti error"
When trying to save the data.hdbti file I get the following error:
Error while writing file /public/aa/movielens/hdb/data.hdbti: allocation size overflow

[2018-11-06 04:58] adadouche commented on #2759
Hi

Just make sure, you are using SAP HANA, express edition server + apps on an instance that has at least 24gb of RAM.

Can you tell which SP of HXE you are using?

Have you tried running the hxe_gc.sh to clear up some resources?

Thanks

[2018-11-06 05:00] FireFighter1017 commented on #2759
HANA Cloud Platform

HCP

[2018-11-06 05:00] FireFighter1017 commented on #2759
I just restarted HCP and I still get the same error message

[2018-11-06 05:06] adadouche commented on #2759
Can you share the tutorial link? As I have one for HANA on SCP and one for HXE, so I want to make sure we are talking about the same

[2018-11-06 10:44] adadouche commented on #2716
Hi @luvpreet26
Did the provided solution helped?

Also be aware that with the v2 API the call is now  different.

I have published a series around retraining the image classification: https://developers.sap.com/group.cp-mlf-retrain.html

[2018-11-06 10:44] #2716 closed

[2018-11-06 10:47] adadouche commented on #2705
Hi @ptharso

Sorry for the delayed response, but this is TechEd season and I'm flying all over these days.

When using your browser, you can start the "developer tools" by pressing F12, then you can check the "Network tab" to analyze each and every network request.
There is a search facility as well to locate the topic detection request.

Regards

[2018-11-06 12:52] FireFighter1017 commented on #2759
https://developers.sap.com/tutorials/cp-hana-aa-movielens-01.html#3bc347f0-6026-4509-a868-82ebf651b7b0

[2018-11-06 13:40] adadouche commented on #2759
Thanks. So you are using the SCP HANA MDC instance scenario.

Did you create the instance for the tutorial series or was it there before?
The reason I'm asking is because these instances only have 6GB of RAM allocated which is very limited.
So I'm wondering if you may have other things in there already.

The other possibility (which I won't be able to help much), is that the HANA MDC server you we

[2018-11-07 04:03] FireFighter1017 commented on #2759
I created this database for the sole purpose of this course and created the account right before I started this course.
I have attached a snapshot of services.  maybe it can give you a hint about storage?

![capture](https://user-images.githubusercontent.com/23411416/48109937-81867d00-e217-11e8-9231-90a6f8c95bda.PNG)

That being said, I find pretty interesting your comment about the server I'm on

[2018-11-07 07:47] adadouche commented on #2759
Hi @FireFighter1017

It is definitely in memory, but not just a database. As you saw (or trying to see), you can create app, run machine learning etc.

The trial environment still use the HANA 1.0 SP12 and is shared across multiple users. The boxes used beneath it are usually between 244GB and 512GB of RAM each, but as a user you get allocated around 6GB of that. And for your instance to run, it w

[2018-11-07 07:55] adadouche commented on #2759
I just tried the tutorial on a fresh HANA instance and I was able to import the data.

And here is the cockpit content:

![2018-11-07_08-54-39](https://user-images.githubusercontent.com/1446764/48117870-d6071800-e26a-11e8-8a50-cc7b09beeff3.png)

[2018-11-07 08:02] qualiture commented on #2754
Hi @KevinMuessig,

As you are probably closer to the development team, could you maybe forward this to them and see if they know a solution?

Thanks in advance!

[2018-11-08 23:58] FireFighter1017 commented on #2759
Ok, I reaaaallly feel bad for this one...
I found traces on the server reporting a bad data format in the movies file...
Soooo... I openned the csv and ... DOH!  it was an HTML file... I download a webpage instead of the actual file.
I copied the content directly in the csv files on HANA and saved the data.hdbti file again and it got through...!!!!

I'm soooo sorry for bothering you with this and

[2018-11-09 08:02] adadouche commented on #2759
Hi @FireFighter1017

No worries this happens to the best too.

Usually when you face this problem the message use to be different, something more around "format" not "allocation". So this is why I jumped onto the conclusion that it was more a memory issue.

Don't be sorry, at least you learned how to debug the log files. Having problems and facing errors is the best way to learn for me.

Hope to h

[2018-11-09 08:02] #2759 closed

[2018-11-11 23:57] nkthupili1 commented on #2401
I have the same issue with opening the json file.

root@ubnt-x10sra1:/mnt/data# ls -l
total 7
-rw-rw-rw- 1 hxeadm sapsys 38 Nov 11 17:33 hxepwd.json
drwxr-xr-x 2 hxeadm sapsys  2 Nov 11 17:38 hxexsa
drwxr-xr-x 2 hxeadm sapsys  2 Nov 11 17:38 hxexsa1

root@ubnt-x10sra1:/mnt/data# cat hxepwd.json
{
"master_password" : "SAPhxe123"
}
root@ubnt-x10sra1:/mnt/data#

The file is there, hxeadm is owner sti

[2018-11-12 00:38] songrui01 commented on #2401
https://store.docker.com/images/sap-hana-express-edition/plans/f2dc436a-d851-4c22-a2ba-9de07db7a9ac?tab=instructions

Note: If you placed the password file in /data/<directory_name>/<file_name>.json, substitute file://<path_to_json_file> with file:///hana/mounts/<file_name>.json.

-h hxehost
-v /mnt/data/hxexsa:/hana/mounts
--ulimit nofile=1048576:1048576
--sysctl kernel.shmmax=1073741824
--sysctl

[2018-11-13 20:55] choas commented on #2705
@ptharso,
uploading only one text file should result to this error message:

To verify this, you could replace in the /webapp/controller/demo.controller.js file at line 61 `error_description` to `error.message`

[2018-11-14 18:29] lucasborin opened #2772 "Call an External API"
Tutorial: https://developers.sap.com/netherlands/tutorials/abap-environment-external-api.html

How can I create the ZSAP_COM_0276 ?

[2018-11-14 21:26] NEELIX1209 opened #2773 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition"
Hi there,

I've run into a problem regarding the installation of the APL Packages.
The binary files are in the following folder: /usr/sap/HXE/home/bin/Downloads/HANA_EXPRESS_20
When I run install_apl.sh as hxeadm with sudo priviledges, the installation fails:

SAP HANA Lifecycle Management - SAP HANA Express Edition 2.00.033.00.1535711040
***********************************************************

[2018-11-14 23:18] tw4dl opened #2774 "Download and Prepare App for Cloud Foundry Deployment"
Enter the value of the name parameter that exists already in the manifest.yml in the field below and choose Validate.

==> choose "Submit Answer"

[2018-11-15 00:27] tw4dl opened #2775 "Create a low-fidelity SAP Build prototype"
Before you can drag and drop images to the prototype, a step is missed to create a new prototype

[2018-11-15 01:17] kmsenthilvel opened #2776 "SAP HANA, express edition, in Google Cloud Platform Launcher (Database + XS Advanced)"
tar -xvzf sa.tgz not possible because of missing sa.tgz file

also https://hxehost:53075 returns eror as "forbidden"

[2018-11-15 08:29] ElenaShadskaja opened #2777 "SAP HANA XS Advanced - Database access from Node.js"
test

[2018-11-15 18:31] henriquemattos commented on #2526
The funny thing is that if you don't mount the persistence volume it works fine on macOS. Downside is that you stop the container and you loose all the data.

The alternative for me will be to create a script to deploy the sample data after container is up, since my goal is to develop XSA applications independently of data(base).

[2018-11-15 18:39] Lsubatin commented on #2776
If Web IDE shows forbidden, you are probably using XSA_ADMIN to log in. The session is persisted across browser windows.

The sa file might be hsa.tgz, you can use command ls -la to check the name. Thanks for pointing it out, I'll correct it.

[2018-11-15 18:39] #2776 closed

[2018-11-17 09:43] prm2205 opened #2780 "Create a CRUD Master-Detail App"
"/" in relative Url is not working
I am not able to connect with odata service

[2018-11-18 11:36] thecodester commented on #2780
@VinoGandhiM Can you help here?

[2018-11-18 11:36] #2777 closed

[2018-11-18 11:38] thecodester commented on #2774
Do you have a question?

[2018-11-18 11:40] thecodester commented on #2773
@JCurrie27 There are also 2 tutorials with this name and the exact same description. Could you at least modify the description to explain the differences?

[2018-11-18 11:41] thecodester commented on #2772
@julieplummer20 Can you help here?

[2018-11-18 11:46] thecodester commented on #2657
Which tutorial is this about?

[2018-11-18 11:46] thecodester commented on #2659
@mervey45 Can you help here?

[2018-11-18 11:47] thecodester commented on #2660
@mervey45 Can you help here?

[2018-11-18 11:47] thecodester commented on #2673
@anishgupta85 @schneidertho Can you help here?

[2018-11-18 11:50] #2678 closed

[2018-11-18 11:50] #2679 closed

[2018-11-18 11:51] #2693 closed

[2018-11-18 12:02] thecodester commented on #2647
@lnoenssap Is this issue still relevant?

[2018-11-18 12:03] thecodester commented on #2640
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:03] #2640 closed

[2018-11-18 12:04] thecodester commented on #2562
@bjwo Are you aware of this issue?

Thank you for your feedback. We haven't heard from you in the past 30 days, and it looks like the issue is resolved, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:04] #2562 closed

[2018-11-18 12:04] thecodester commented on #2548
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:04] #2548 closed

[2018-11-18 12:05] thecodester commented on #2529
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:05] #2529 closed

[2018-11-18 12:05] thecodester commented on #2429
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:05] #2429 closed

[2018-11-18 12:34] thecodester commented on #2345
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:34] #2345 closed

[2018-11-18 12:35] thecodester commented on #2411
@KevinMuessig What needs to be done here?

[2018-11-18 12:37] anishgupta85 commented on #2673
Hi Tatiana,
Would it be possible to share the Scenario which you are using so that I could get an idea and then provide the relevant recommendation.
Thanks,
Anish

[2018-11-18 12:38] thecodester commented on #2610
Can we close this issue?

[2018-11-18 12:38] thecodester commented on #2611
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-18 12:38] #2611 closed

[2018-11-18 12:39] thecodester commented on #2651
@mervey45 @niloofar-naseri Can you respond?

[2018-11-18 13:31] mbenetti commented on #2610
Yes of course, thank you for your support.

Best regards

MB

[2018-11-18 23:19] mikeedoyle opened #2781 "Add a User Task to Your Workflow"
Open With->Workflow Editor is no longer the menu path in Full Stack Web IDE

[2018-11-19 00:45] Lsubatin commented on #2633
Thanks for bringing this up. It will be addressed in the next update.

[2018-11-19 00:45] #2633 closed

[2018-11-19 00:47] Lsubatin commented on #2613
Flagging this tutorial for deletion.

[2018-11-19 00:47] #2613 closed

[2018-11-19 01:08] Lsubatin commented on #2612
Hi, there is no github repository published for these series.

[2018-11-19 01:08] #2612 closed

[2018-11-19 02:53] lnoenssap commented on #2647
Sorry, lost track of this one. In most cases, the problem is with the configuration of the destination. But, I am aware of a bug preventing the usage of long destination names. Maybe this is the case here.
@andreasfinkelmeyer: can you please try using a shorter name (eg. mssampledata) ? Meanwhile, we are working on a fix that should be going live by end of this month.

[2018-11-19 07:38] niloofar-naseri commented on #2651
@akhil-agarwal could you please review? The new updates are there, since october.

[2018-11-19 08:09] mervey45 commented on #2651
@akhil-agarwal  I think it should be already updated. As I see it is from 20th September.

[2018-11-19 08:17] mervey45 commented on #2660
Thank you. It has been corrected. I'll publish it asap.

[2018-11-19 08:40] #2651 closed

[2018-11-19 08:41] mervey45 commented on #2659
@akhil-agarwal Hi Akhil,

you need following tutorial as a prerequisites: https://developers.sap.com/tutorials/abap-environment-create-cds-view.html. In step 3 the preserve key has been added. So therefore you don't need it in Step 1 in tutorial "Add Transactional Behavior to Your Core Data Service".

Best regards,
Merve

[2018-11-19 09:49] julieplummer20 commented on #2772
Hi Lucas, Am not in the office today due to illness . Will look into it as soon as I get back.
One question : Were you on a TechEd system? If not, can you please provide SID, sub account name, space for the system? If ZSAP_COM_0276 is not available, I may be able to provide details of how to create it.
BR Julie.

[2018-11-19 10:46] thecodester commented on #2660
I'm closing as it appears the issue has been resolved.

[2018-11-19 10:46] #2660 closed

[2018-11-19 11:10] thecodester commented on #2758
This has been resolved. https://github.com/SAPDocuments/Tutorials/pull/2782

[2018-11-19 11:10] #2758 closed

[2018-11-19 11:39] vivekprabhu1 opened #2784 "Add Data to Your OData Service"
I am doing the Tutorial - "Add Data to Your OData Service". I went to Database Explorer and added the Database from the pop up but when I go the the Tables in the added Database, I am not getting any Tables. As per tutorial, MY_APP_PRODUCTS should have been generated.

![image](https://user-images.githubusercontent.com/42771934/48704936-debdfd80-ec1d-11e8-9870-47d960324411.png)

[2018-11-19 13:30] qmacro commented on #2774
I'm guessing @tw4dl means that the text after "choose" should be changed, as the button no longer says "Validate" in the new tutorial pages, but "Submit Answer". I'll address this. Thanks for the heads up, @tw4dl !

[2018-11-19 15:31] lechnerc77 opened #2785 "Connect to Microsoft Graph"
The Microsoft GraphAPI is available in version 1.0. The msalconfig.js should be adjusted accordingly:
[code]

[2018-11-19 16:05] qmacro commented on #2774
Fixed via PR #2786

[2018-11-19 16:05] #2774 closed

[2018-11-19 17:07] lucasborin commented on #2772
Hi Julie,

No, I'm not on a TechEd system. I have my own global account.

SID: GSLOGBR
SubAccount: IE
Space: dev

BR Lucas.

[2018-11-19 18:02] aplata-sap commented on #2773
@TerryNing can you help investigate?

[2018-11-20 06:51] #2610 closed

[2018-11-20 07:58] #2659 closed

[2018-11-20 08:06] lechnerc77 opened #2788 "Create an SAPUI5 Purchase Order App"
Step 3: Test the connected OData service
Currently(?) the WebIDE Full Stack creates non-matching entries in the `manifest.json` and `neo-app.json` file for the destination of the OData Service.
The hint "_In case this request fails, there has been a issue while creating the destination in the Neo environment. Please make go back to the previous tutorial to make sure the destination is set up corre

[2018-11-20 08:13] lechnerc77 opened #2789 "Connect to Microsoft Graph"
Step 1: Register app in Microsoft Application Registration Portal

This step conatins the remark: "_You (and the users of your application) can revoke the given permissions at https://myapps.microsoft.com_". However, when hitting this URL I get redirected to https://account.activedirectory.windowsazure.com/r#/applications and I do not get an option to revoke my permissions.
In my case (I do not kn

[2018-11-20 08:19] lechnerc77 commented on #2788
Addendum: In the screenshot of the corrected `neo-app.json` the `entryPath` is also relevant for a successful  connection to the OData service

[2018-11-20 08:35] niloofar-naseri commented on #2726
@mkavza Could you please close this issue?

[2018-11-20 09:41] thecodester commented on #2726
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2018-11-20 09:41] #2726 closed

[2018-11-20 11:13] i067268 commented on #2773
@NEELIX1209

can  you show me some log detail or error details , It will help me check it

[2018-11-20 11:46] ex90rts opened #2790 "React JS - Add the React JavaScript"
In page: https://developers.sap.com/china/tutorials/react-add-javascript.html

"First, we need to add Angular to our application. Add the following to the <head> section of your HTML page:"

should be:

"First, we need to add React to our application. Add the following to the <head> section of your HTML page:"

[2018-11-20 12:00] qmacro commented on #2784
Hi @vivekprabhu1 - thanks for commenting. The issues in this repo are mainly for problems with the tutorial content itself (markdown, flow, images, prose, etc). May I please point you in the direction of our [SAP Community Q&A](https://answers.sap.com/index.html) for your question? That way also others might benefit from the question and also the answers and conversation. Thank you!

[2018-11-20 12:00] #2784 closed

[2018-11-20 14:03] #2785 closed

[2018-11-20 14:03] #2788 closed

[2018-11-20 14:03] #2789 closed

[2018-11-20 14:03] IObert commented on #2785
Thanks for your feedback @lechnerc77

[2018-11-20 14:04] IObert commented on #2789
You're right @lechnerc77, the links doesn't work for personal accounts
Thanks!

[2018-11-20 14:05] IObert commented on #2788
Hi @lechnerc77,

many thanks for this detailed report. You're right, there seems to be an issue with the Web IDE. I added a note and I'll forward this issue to the dev team.

[2018-11-21 07:05] i067268 commented on #2773
@NEELIX1209

I have try to install APL Packages. but don't find the same issue, It is install successfully
my steps is:
1. Install hxexsa
2.Use HXEDownloadManager_linux.bin to download apl.tgz
3.untar apl.tgz and run install_apl.sh as hxeadm with sudo priviledges
hxeadm@mo-00ca9a3a6.mo:/usr/sap/HXE/home/Downloads/HANA_EXPRESS_20> sudo ./install_apl.sh
[sudo] password for hxeadm:
Enter SAP HANA sys

[2018-11-21 13:03] renatovilasboas opened #2794 "React JS - Add REST OData retrieval"
The route does not works, i fix it using the direct link :

var odataUrl = "https://services.odata.org/V3/Northwind/Northwind.svc/";

and finally works.

[2018-11-21 13:19] bjwo commented on #2528
@carweb99 Thank you for your question. Unfortunately, I don't use a mac, but I was told that you can use the "[Unarchiver](https://theunarchiver.com/)" tool to extract rar archives on mac.

All downloaded files should be stored in the same folder, then you can start the extraction process for the multipart archive.

Kind regards
Björn

[2018-11-21 13:21] timrehrmann opened #2795 "Deploy Your Node.js App with the Cloud Foundry CLI"
Links in Prerequisites don't work.

[2018-11-21 13:46] jonathanbaker7 commented on #2790
Thank you!  I've fixed the text.

[2018-11-21 13:46] #2790 closed

[2018-11-21 13:57] Alexander-Boehm opened #2796 "Add a Web Dynpro ABAP App to Your Launchpad Page"
Hello,

thank you for you guide! It is a great entry point for the first steps when getting Backend Ressourced embedded into the SCP.

I tried to follow your guide to embedd a nwbc login page for an SRM system into the SCP launchpad as a test. I configured the Destinations in the SCP Subaccount as good as I could for the backend system and also configured the Cloud connector to get this testcase u

[2018-11-22 02:16] rubinluke opened #2798 "Create an ABAP project in Eclipse"
Hi Team,

in the tutorial pages, I am unable to see the 'Done' button (Logged in with my P id). So I am unable to mark my progress.COuld you please help to fix this issue?

Regards,
Rubin

[2018-11-22 02:43] jonathanbaker7 commented on #2794
If you have to use the entire URL, and you can't get the short version to work, it means the destination isn't set up correctly in SAP Cloud Platform.

Now, in theory, using the direct route would make more sense.  But, the browsers have a security measure called "same origin".  This policy prevents any script inside the page from reaching out to a third party website (something with a different h

[2018-11-22 09:31] thecodester commented on #2798
Not all tutorials have been retrofitted to allow following progress, but we are working on it.

@olgadolinskaja Can you help here?

[2018-11-22 11:59] Danish-Adeel opened #2801 "Add labels and a new field to your app"
this tutorial seems outdated because now things are different as compared to this tutorial

[2018-11-22 12:07] thecodester commented on #2798
@mervey45 Can you add validation to all the ABAP tutorials? Also, if you want to change the author name that appears for these tutorials, I can show you how.

[2018-11-22 12:40] mervey45 commented on #2798
@thecodester  I will do this, but I will start with it next week or later. Yes, if you could show me how to change the author name, that would be great. Thank you.

[2018-11-22 12:43] qmacro commented on #2801
Can you please supply information as to which tutorial this is? Thanks.

[2018-11-22 15:07] thecodester commented on #2801
I assumed https://developers.sap.com/austria/tutorials/hcp-webide-add-labels-field.html

[2018-11-22 16:12] qmacro commented on #2801
Thats only one tutorial :-) @Danish-Adeel can you please elaborate?

[2018-11-23 05:50] AnikaJain opened #2803 "Basic Authentication and Secure Key Store"
Hey, I am using SAP CP SDK for iOS version 3.0. I can't find BasicAuthViewController.swift file in the project. Can you tell me where it can be found  or else I have to create?

[2018-11-23 08:01] ericrosfelder opened #2804 "Debug Your Java App"
It's not possible to validate de "step 1"  in the page : https://developers.sap.com/tutorials/cp-cf-java-debug.html.

The checkmark could not be green and so you can't have 100%.

[2018-11-23 08:50] qualiture commented on #2803
Hi @AnikaJain,

I'm really sorry, but I believe this tutorial is no longer valid... Looking at the screenshots, it does not seem to use the Onboarding flow which was introduced in v2 of the SDK. And now with v3, the on boarding has been changed significantly as well.

The current basic authentication on boarding flow already incorporates some storage of credentials, making this tutorial void...

I

[2018-11-23 08:54] ericrosfelder opened #2805 "Add a Database to Your Business Application"
When you do the first step of https://developers.sap.com/tutorials/cp-apm-03-add-database.html, it's not possible to build the db.

We got an error :
`Error: Version incompatibility for the "com.sap.hana.di.cds" build plugin: "2.0.2.0" (installed) is incompatible with "2.0.30.0" (requested by .hdiconfig file or used in previous deployment) [8210507]     at "src/gen/CATALOGSERVICE_AUTHORS.hdbcds" (

[2018-11-23 09:14] AnikaJain commented on #2803
I have followed the tutorial till the step 10. But from these steps how can I access the user credentials and store them locally? Can you tell what extra function or steps are needed to do it?

[2018-11-23 09:42] Danish-Adeel commented on #2801
https://github.com/SAPDocuments/Tutorials/issues/2801
The issue in it is that I cant find unitsinstock in Detail.view.xml

[2018-11-23 10:47] renatovilasboas commented on #2794
Hi, unfortunately i follow exactly the instructions passed in tutorial, when i used the test, the connection works fine, but when the page request anything works, is there another way to test ?

[2018-11-23 11:31] qmacro commented on #2801
This is indeed a little bit outdated. I checked the [source group](https://developers.sap.com/austria/group.mobile-app-1.html) (where the app was created) and the Kapsel-related template doesn't exist any more. @KevinMuessig is looking at the mobile tutorials as a whole, with deprecation in mind, so I will assign this to him for comment. In the meantime, thanks for the heads-up.

[2018-11-23 12:13] BRNDKHN opened #2806 "Image Similarity Scoring example with SAPUI5"
Hi all

 i had to change line 29 in demo.controller.js

from

zip.file(result[i].name + ".json", JSON.stringify(result[i].feature_vector));

to

zip.file(result[i].name + ".json", JSON.stringify(result[i].featureVectors));

Otherwise i got error 500 "undefined"

Regards Bernd

[2018-11-23 12:46] jonathanbaker7 commented on #2794
The best way to test is to use Google Chrome as a browser.  When you get to the point in the tutorial where it isn't working, right click on the page and choose `inspect`.  Then click on the `console` tab, and look for lines in red.  Those error messages will tell you what is going on.

Feel free to post those lines here, if you are having trouble decoding them.

[2018-11-26 08:29] mavesura opened #2808 "MovieLens with SAP HANA APL Recommendation (MovieLens App) - Build of db failed. Check console logs for details"
[movielens_db_failed.txt](https://github.com/SAPDocuments/Tutorials/files/2614589/movielens_db_failed.txt)
While building db, am getting the error as attached. Request you to kindly look into and provide work around to proceed further.
The tutorial is : MovieLens with SAP HANA APL Recommendation (MovieLens App)

Thanks, Mave.

[2018-11-26 11:10] mavesura opened #2809 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition"
Cannot being able to run the install_apl.sh script..

We need to run as root and don't have access to root

[2018-11-27 11:32] i067268 commented on #2809
@mavesura
do you mean,  you can not run the install_apl.sh script because you don't have root permission, and this script need run as root, right?

[2018-11-27 12:39] VivekRajKM opened #2810 "Build a mobile app from an SAP Web IDE template"
@lpareek Thanks for the excellent step-by-step guide. Kudos!

Feedback: Interested in knowing about completing the mission. Usually a 'Completed' button is available with the previous ones, but it wasn't available with this tutorial though.

Kind regards,
Vivek.

[2018-11-27 17:05] d039043 opened #2811 "Create your own Fiori Launchpad"
In the tutorial it is stated to use SAP UI5 version 1.40.18
"From the number drop down menu, select the version number 1.40.18."

This version is not available in the drop down options as of today.
Please update this section of tutorial.

Best
Mahadevan

[2018-11-27 21:06] chillamcherla opened #2812 "Create an SAPUI5 Purchase Order App"
could you let us when where to add the code from step 5.3

"Add the form controls with the associated layout information." is to the MainView.view.xml file ?

[2018-11-27 22:33] idosun commented on #2796
Hey,

What do you mean by "nwbc login page" ? The NWBC is used to render the the WD ABAP/SAP GUI in the cloud portal. To read more about this capability and how to configure it follow this documentation:
[Working with Backend Apps](https://help.sap.com/viewer/69d450542ffa47e789f122a79ea2ab7b/Cloud/en-US/347e744c023a4d9781bf1285f7ddd92c.html)

[2018-11-28 09:55] thecodester commented on #2810
@KevinMuessig I know this isn't yours but it is classified among the mobile tutorials

[2018-11-28 10:12] qmacro commented on #2812
Add it here, where indicated.

<img width="670" alt="screen shot 2018-11-28 at 15 39 12" src="https://user-images.githubusercontent.com/73068/49144648-e66b5980-f323-11e8-9e3f-54255fb66424.png">

[2018-11-28 10:12] #2812 closed

[2018-11-28 11:32] krodyrobi opened #2817 "Installing SAP HANA Streaming Analytics for SAP HANA, Express Edition"
`./HXEDownloadManager_linux.bin linuxx86_64 installer hsa.tgz`
Java virtual machine version 1.6.0 is too low, require 1.8 or higher.

CAL image: SAP HANA, Express Edition Publisher: SAP SE Update: 67

Any ideas on how to update java as no package managers are installed.

[2018-11-28 13:10] VivekRajKM commented on #2810
@thecodester @KevinMuessig Guys, would like to re-iterate that the issue is on the tutorial hosted page, where we are unable to get the completion status.

Cheers,
Vivek

[2018-11-28 13:16] krodyrobi commented on #2817
Tried:
- finding java versions on disk -> empty folders for different versions
- finding a rpm package for SLES 12 SP 1 of openjdk -> nothing
- tried adding java jdk 1.8.0 tar.gz and updating envs and alternatives -> still uses 1.6
[code]

[2018-11-28 13:18] thecodester commented on #2810
I see. We have only added this capability to follow your progress on the newer tutorials and haven't yet added it to the older ones. I will check to see if we can get this done quicker.

[2018-11-28 14:36] krodyrobi commented on #2817
Managed to fake the java version and got the downloader to run, but when Installing the package I get an incompatible version :)

[code]

[2018-11-28 16:34] adadouche commented on #2809
Hi @mavesura

do you have sudo rights ? I mean that you should get access to the hxeadm user, which by default have sudo rights.

Regards
@bdel

[2018-11-28 16:35] adadouche commented on #2808
Hi @mavesura

I think that this issue is caused by the fact that you don't have the APL installed on your SAP HANA, exppress edtion.

cf [issue)(https://github.com/SAPDocuments/Tutorials/issues/2809)

[2018-11-28 19:58] isoubelet opened #2822 "Download a SQL client and connect to your instance (SAP HANA, express edition, server-only)"
Hi @Lsubatin
Really great and well explained articles, thanks.
Writing you since I am facing a challenge for which I was not able to find a solution on forums: I do need a driver compiled with JDK8 since the app connecting to Hana runs on that version of the virtual machine.
When I tried to use ngdbc.jar, VM said that was compiled with a more resent version (JVM9).

So, question: Is it possible to

[2018-11-28 21:04] lucasborin commented on #2772
Hi Julie,

May I have access to TechEd AppSpace? I'm an SAP employee.

BR Lucas

[2018-11-29 07:34] Chuergo commented on #2805
Thanks for raising this issue. We have added the fix to the tutorial (as an interim solution), but we are working on a more permanent fix that doesn't involve manually updating versions. As soon as it is released, we'll update the tutorial again.

[2018-11-29 08:03] AbhiPrama opened #2824 "SAP Image Classification Machine Learning Issue"
How do I display the pictures when I upload a zip file?? The code provided does not allow to display the images.
Also while using upload with XHR when I import multiple images only the first image is displayed. The carousel is not enabled.

[2018-11-29 08:32] julieplummer20 commented on #2772
Hi Lucas, I have contacted the team - I'll be in touch.
Best wishes Julie.

[2018-11-29 10:05] darkalex2004 commented on #2817
Hi,

I am looking into this issue, I just want to know the version of your HXE , could you please show me your hxe_info.txt file content.
cat /hana/shared/HXE/global/hdb/hxe_info.txt

Thanks

[2018-11-29 10:10] darkalex2004 commented on #2817
also please cat /usr/sap/HXE/SYS/global/hdb/hxe_info.txt

[2018-11-29 12:15] krodyrobi commented on #2817
Unfortunately the machine was destroyed and now the new machine has a lower version initially it was
2.00.033.00.20180925.2, either way the java version is still 1.6

[code]

[2018-11-29 14:13] krodyrobi commented on #2817
Correction the download manager is reporting another version than the files!

[2018-11-29 14:51] krodyrobi commented on #2817
For some reason if I run the download as root or as hxeadm the versions detected are different.

[2018-11-29 20:45] amysy opened #2826 "SAP HANA, express edition (Database services) - Getting started with the Marketplace on Microsoft Azure"
Hi,

can i migrate my existing HXE VM to Azure?

[2018-11-30 02:36] darkalex2004 commented on #2817
Hi krodyrobi ,

I have checked that if we use root to run downloadmanager will download the latest version of hxe and other optional components , this is what we expected.
So if you have installed HXE , you should use hxeadm to run dm.

for the java installation issue , I wonder if you can  download a binary manually from oracle website , and install it manually.

Thanks

[2018-11-30 10:14] pinakipatrapro opened #2830 "React JS - Add the React JavaScript"
Hi,
If, i understand correctly react build crunches all the files which really boosts the app performance?
How do we build the react app in webide?
In future will there be any npm based ui5 library available for react?
BR
Pinaki

[2018-11-30 12:30] ZoltanNochta opened #2831 "Reset Build passwort"
Hello,
I wanted to try out the tutorial as SAP employee using SAP CP trial.
https://developers.sap.com/tutorials/pre-teched-2018-build-import.html#
In step 6 one should reset Build password. The link to the how-to-page is wrong.
Thx for fixing.

[2018-11-30 15:16] RahmaniKhalil opened #2833 "SAPUI5 - Open the SAP Web IDE in SAP Cloud Platform stuck in 0%"
Hello,
In the **Create App from Prototype with SAP Web IDE** tutorial, the 2nd step : **SAPUI5 - Open the SAP Web IDE in SAP Cloud Platform** get stuck in 0ù even after I have completed ! Do you have an idea on how to fix this issue ?
regards,
Khalil

[2018-11-30 15:18] RahmaniKhalil commented on #2833
![screen_issue](https://user-images.githubusercontent.com/25709752/49297656-9f17d100-f4bb-11e8-8527-84ec8fac4fa6.png)

[2018-11-30 21:04] WilbertKarremans opened #2834 "SAP Cloud Platform Cloud Connector setup for secure on-premise connectivity"
I am trying to setup SAP Cloud connector.
The documentation informs me to specify Landscape host, but in my installation of the cloud connector I don't see that field.
Furthermore it is not clear to me what I have to specify in the field Subaccount.

[2018-12-01 05:09] jgoldgh opened #2835 "Installing SAP HANA, express edition Server + Apps, with Docker"
On step 7 of the tutorial and in the Docker instructions you've got this line;'

"The hxehost IP address is private to the installation. In order for applications to access hxehost, add the hxehost IP address to your machine’s hostname map. The hostname map is your machine’s /etc/hosts file. You must edit /etc/hosts if you want to access any XS Advanced applications or use HANA Cockpit from your m

[2018-12-01 06:51] JaydeepSengupta opened #2836 "Deploy an App to SAP Cloud Platform Cloud Foundry Environment"
I added the host details as:
host: myhost19420599
But when i click the deploy button the below message pops up:
Unable to deploy the application. Check for YAML syntax issues in the manifest.

[2018-12-01 07:10] JaydeepSengupta commented on #2836
This is my manifest.yml file
![manifest_yml](https://user-images.githubusercontent.com/22909224/49325309-45201580-f566-11e8-935e-5af8567c41fa.PNG)

[2018-12-02 16:35] krodyrobi commented on #2817
I've done that but not knowing the implications of licensing would make it difficult to pick a version just for a download script.

Thank you for looking into it.

Also I got to the point where it is asking me for 2 passwords 1 for %adm% and 1 for SYSTEM, from the docs I saw it should be the password from CAL when the setup occured but haven't been able to use this for both of them.

I managed to

[2018-12-03 06:41] songrui01 commented on #2835
The machine ip wihch docker was installed, such as
cat /etc/hosts
your_machine_ip hxehost

If you want access XSA applications with windows machines, update file C:\Windows\System32\drivers\etc\hosts also.

[2018-12-03 06:53] VivekRajKM commented on #2810
Much thanks @thecodester :)

[2018-12-03 08:31] JensHaley commented on #2834
The UI of the Cloud Connector changed, apologies that this is not yet reflected in this tutorial.

The following tutorial describes how to connect your Cloud Connector with SAP Cloud Platform and with your ABAP system in more detail:
https://developers.sap.com/tutorials/cp-connectivity-create-secure-tunnel.html

We are currently re-organizing the Cloud Connector tutorials and will probably soon re

[2018-12-03 08:41] krodyrobi commented on #2817
Any ideas on why I can't connect using the installer but can directly from hdbsql

[code]

[2018-12-03 09:13] adadouche commented on #2809
Hi @mavesura

Have you been able to complete the APL installation?

Thanks

@adadouche

[2018-12-03 09:14] adadouche commented on #2808
Hi @mavesura

I'll close this issue for now, as it seems that your APL installation is not complete and therefore you won't be able to finish this tutorial.

Regards

@bdel

[2018-12-03 09:14] #2808 closed

[2018-12-03 11:47] krodyrobi commented on #2817
For instance in the install script there is a check for the SYSTEM password
that ends up in the following command to be ran
[code]

What is weird is that the same command but from inside hdbsql works.

[code]

[2018-12-03 14:05] jonathanbaker7 commented on #2830
The tutorial was written to show how you could use any of the front-end libraries (Angular, React, UI5) with our new API based ecosystem.  It's not a comprehensive guide to using React in WebIDE.

I don't think you can build React in WebIDE, but you wouldn't do that anyway.  WebIDE is for developing and prototyping.  You should use a Continuous Integration/Deployment (CI/CD) server for both testin

[2018-12-03 14:05] #2830 closed

[2018-12-03 15:26] Nacholara opened #2838 "Installing SAP HANA, express edition Server + Apps, with Docker"
when  I want to pull the Docker image with the link in the docker website I get an error "the system cannot find the file specified"

[2018-12-03 17:41] entmike opened #2841 "SAP HANA XS Advanced - Cross-container access"
Hello,

I finally was able to work through this and follow the tutorial pretty well.  What I am not clear on is how can I define a `service-name` for the `consumed-db` that may have a different name?  For instance the example in the tutorial uses the build-time service name which would look like `RHOWLES-9skqv35et1oio3vg-SflightExample-hdi_db_sflight` however at deploy time, will be `hdi_db_sfligh

[2018-12-04 08:39] serdarbeden opened #2843 "Create a low-fidelity SAP Build prototype"
Images are not loading.

[2018-12-04 09:18] krodyrobi commented on #2817
I don't understand why the password from the cli doesn't work but if I'm inside hdbsql or let it prompt for the password it works, this is stopping the download script of SDS.

[code]

[2018-12-04 10:04] krodyrobi commented on #2817
Even though SAP CAL permits $,# chars in the password the installer doesn't treat them well.

[2018-12-04 11:41] thecodester commented on #2843
Thanks for letting us know. I'm investigating.

[2018-12-04 12:01] krodyrobi commented on #2817
Changing the password of CAL to something without special characters brought me closer but still no cigar.

[code]

[code]

If i choose instead of the default sid-hxe   -> vhcalhxedb the localhost in /etc/hosts it seems to work, but why?

[2018-12-04 13:36] vsenn opened #2844 "Explore the Generated App and OData Service"
HI! Screenshots in this tutorial are not available/links broken. Can you please check/fix that?
Best, Valery

[2018-12-04 13:48] JCurrie27 commented on #2838
TerryNing and aplata-sap: could you please investigate this link issue and respond to Nacholara?

[2018-12-04 13:52] thecodester commented on #2844
Do you mean this one: https://developers.sap.com/tutorials/fiori-ios-scpms-teched18-03.html ? I see the images for this one.

[2018-12-04 13:55] vsenn commented on #2844
Yes, iPhone XR screens loaded now. Don't know what was the issue. Let's close it.

[2018-12-04 13:55] #2844 closed

[2018-12-04 14:13] JCurrie27 commented on #2817
I'm not sure if this helps with your particular installation scenario, but the documentation for the SAP HANA, express edition for the 1) [preconfigured virtual machine](https://developers.sap.com/tutorials/hxe-ua-getting-started-vm-xsa.html) and 2) [binary installer](https://developers.sap.com/tutorials/hxe-ua-installing-binary-xsa.html) installation scenarios provides these guidelines for the ex

[2018-12-04 14:31] krodyrobi commented on #2817
https://ip:51046/  should open the admin ui from outside the vm, but it redirects in the outside browser to vhcalhxedb which doesn't have a meaning outside the vm.
Any ideas?

[2018-12-04 15:13] krodyrobi commented on #2817
Yep but the CAL creation guidelines don't specify the same restrictions with regards to the master password.
It is counter intuitive when CAL provides a fully packaged solution that uses the master password for users without documenting this in the image specs, like separate restrictions for them, users might not know those HANA specifics.

Thank you for your assistance.

[2018-12-04 16:10] ebenavides opened #2846 "Call IoT Application Enablement service APIs with Postman"
Hi,
Can't log on!
Login onto https://sap-iotaehandson2.iot-sap.cfapps.eu10.hana.ondemand.com/appcore-conf/Configuration with credentials provided in first tutorials.
Error message says: "Sorry, we could not authenticate you. Try again."

[2018-12-04 17:51] Murixum1102 opened #2848 "Call IoT Application Enablement service APIs with Postman"
Hello, I was following this tutorial.

Is the x-csrf-token fetch, still valid? I get no response on Postman. Thank you.

[2018-12-04 20:01] JCurrie27 commented on #2817
Have you tried asking this question on the [CAL community Q&A page](https://answers.sap.com/tags/67837800100800004473)? There are HXE/CAL questions somewhat similar to this on on the CAL page. If you have any remaining configuration problems, I recommend closing this GitHub issue and posting a question to the CAL community, as your question will have higher community visibility.

[2018-12-05 02:34] songrui01 commented on #2838
Hi Nacholara ,
What the commnad did you use?

It works well.
docker pull store/saplabs/hanaexpressxsa:2.00.033.00.20180925.2
2.00.033.00.20180925.2: Pulling from store/saplabs/hanaexpressxsa
69d1da6f4532: Already exists
c122971cf092: Already exists
ce2873978954: Already exists
93f9bed8cf38: Already exists
68a77c184ed8: Already exists
fd2d0d95987d: Downloading [>

[2018-12-05 08:20] #2817 closed

[2018-12-05 10:40] thecodester commented on #2846
@banurekhabalaji Can you help here?

[2018-12-05 10:41] thecodester commented on #2848
@banurekhabalaji Can you help here?

[2018-12-05 13:30] lbartek opened #2851 "Create custom business object (S4/HANA Cloud, ABAP Extensibility)"
Hello,
I don't see any of the tutorial images.
Best regards,
Lukas

[2018-12-05 14:37] Nacholara commented on #2838
Hi Rui, I had a problem with Docker in my machine now its working thank you
very much for any inconvenience.

El mar., 4 dic. 2018 a las 23:34, Rui Song (<notifications@github.com>)
escribió:

[2018-12-05 14:42] #2838 closed

[2018-12-05 16:58] ebenavides commented on #2846
User: P002365
Thank you, I'll be waiting for your assistance.

[2018-12-05 20:37] binpath opened #2853 "Continuous Integration (CI) Best Practices with SAP – Pipeline Suggestions"
Hi,
Images are down in the site.
[ci-best-practices-pipelines](https://developers.sap.com/mena-ar/tutorials/ci-best-practices-pipelines.html)

[2018-12-06 06:34] thecodester commented on #2853
Thanks for letting us know. We're working on it ...

[2018-12-06 12:45] Liebherr commented on #2851
Hi Lukas,
I am sorry to hear that you couldn't see the pictures. I had the same issue (not only for the mentioned tutorial, but all of them), but now it's gone, so it seems to have been some caching issue.
Can you retry and close the issue in case it's also gone for you, please.
Thanks and Regards
Ulrike

[2018-12-06 12:47] bcschaich opened #2858 "Install the Optional SAP HANA Interactive Education Package for SAP HANA, express edition"
Horrible experience. Installed it and now? What do you think what a customer does with this? Drop the whole thing!

[2018-12-06 15:39] JCurrie27 commented on #2817
Password-related clarifications have been made to the document: [https://caldocs.hana.ondemand.com/caldocs/help/Getting_started_HANA_Express.pdf](https://caldocs.hana.ondemand.com/caldocs/help/Getting_started_HANA_Express.pdf)

[2018-12-06 17:24] maxstreifeneder commented on #2795
added the links, thanks!

[2018-12-06 17:25] #2795 closed

[2018-12-06 17:33] maxstreifeneder commented on #2804
Hi @ericrosfelder ,

could you please describe your problem again? Step 1 doesn't have any validation.  And could you also please retry validating the steps anyway? All validations work for me so far.

Cheers,
Maxi

[2018-12-06 18:20] #2846 closed

[2018-12-07 13:54] ericrosfelder commented on #2804
Hi @maxstreifeneder ,

Exact, step 1 doesn't have any validation but step 1 taken into account for the overall rating.

So I have 67% because I can just validate step 2 and step 3.

[2018-12-07 15:52] r3ptar opened #2862 "Optional SAP HANA Smart Data Integration Package for SAP HANA, express edition"
I recieve this error when trying to download the package

Does the express edition not come with java installed? I've checked my firewall and I'm not blocking any traffic from the server

[2018-12-07 17:48] adadouche commented on #2824
Hi @AbhiPrama

I just released a new version of the tutorial which show how to get the images from a zip.

To make it short you have to use JSZip to uncompress the zip and generate the local blob urls.

here is the URL for reference https://developers.sap.com/tutorials/ml-fs-sapui5-img-classification.html

Have fun

[2018-12-07 17:48] #2824 closed

[2018-12-07 17:49] adadouche commented on #2658
I have removed the Time Series Changepoint Detection API example and replaced it with Image Feature Extraction

[2018-12-07 17:49] #2658 closed

[2018-12-07 17:50] #2625 closed

[2018-12-07 19:00] entmike commented on #2841
Closed.  Got answer.

[2018-12-07 19:00] #2841 closed

[2018-12-09 15:34] maxstreifeneder commented on #2804
@thecodester Could you please have a look at this problem? eric is right, I was able to reproduce the problem.

![image](https://user-images.githubusercontent.com/36535298/49699218-c2830000-fbce-11e8-85fb-eb0ec31b1be0.png)

![image](https://user-images.githubusercontent.com/36535298/49699349-55706a00-fbd0-11e8-8c69-ef948ba65a8c.png)

[2018-12-09 15:47] thecodester commented on #2804
The rules file has no correct answer specified, so the question did not get created :-(

Do you know what the answer should be?
Whose tutorial is this?

[2018-12-10 10:30] Lsubatin commented on #2858
Can you please clarify what the feedback is about? The experience of installing SHINE was horrible and/or you are wondering what to do with SHINE?

[2018-12-10 10:32] Lsubatin commented on #2826
Hi,
This type of question belongs in answers.sap.com. Please include details of the type of VM you currently have and what you need to migrate so people can help you better.
Best,
Lucia.

[2018-12-10 10:32] #2826 closed

[2018-12-10 10:41] Lsubatin commented on #2822
Hi @isoubelet ,

Sorry about the late response. This kind of feedback is about tutorials and your question will probably get a better response if asked in answers.sap.com.

You can get the earlier versions from the marketplace, I used "HANA clients" and there they are: https://launchpad.support.sap.com/#/softwarecenter/search/hana%2520client

You may also be able to get them through earlier versio

[2018-12-10 10:41] #2822 closed

[2018-12-10 12:03] petrosy opened #2864 "Creating basic/interface views in Open Core Data Services"
Please provide more comments on why you select the CDS annotations you do. Otherwise its nice and concise

[2018-12-10 14:09] isoubelet commented on #2822
Hi @Lsubatin,
That's great, thanks for answering!

Regards

[2018-12-10 14:21] lbartek commented on #2851
Thank you Ulrike!

[2018-12-10 14:21] #2851 closed

[2018-12-10 18:05] adadouche commented on #2705
Hi @ptharso & @choas

I just refreshed the tutorial to reflect some of the service change and tried to make the code a bit simpler

Thanks

[2018-12-10 18:05] #2705 closed

[2018-12-10 18:40] JCurrie27 commented on #2862
The Download Manager requires JRE 8 or higher. Please see the software/hardware requirements in the [Pre-Installation Tasks](https://developers.sap.com/tutorials/hxe-ua-installing-vm-image.html) tutorial.

[2018-12-10 20:13] r3ptar commented on #2862
So just to confirm. Java is not included in the VM out of the box? How am I suppose to get the installer to the server? Using ftp?

[2018-12-11 02:02] r3ptar commented on #2862
Yes that's the tutorial I am using and I am receiving that error message after running the command ssh'd into my VM. That's why I'm so confused because it's so early into the instructions to be having problems

[2018-12-11 02:52] lin1161 commented on #2862
Hi r3ptar,
"which: no java in (/usr/sap/HXE/HDB90/exe/krb5/bin:/usr/sap/HXE/HDB90/exe/krb5/sbin:/usr/sap/HXE/HDB90/hxehost:/usr/sap/HXE/HDB90:/usr/sap/HXE/HDB90/exe:/usr/sap/HXE/HDB90/exe/mdc:/usr/sap/HXE/HDB90/exe/Python/bin:/usr/sap/HXE/HDB90/exe/dat_bin_dir:/usr/sap/HXE/home:/usr/sap/HXE/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games)"
This message is just a warning, you can ignore it.
The re

[2018-12-11 07:14] maxstreifeneder commented on #2804
issue should be fixed

[2018-12-11 07:14] #2804 closed

[2018-12-11 13:13] r3ptar commented on #2862
I can ping outside, but nothing seems to be resolving with DNS. Is there a way reconfigure DNS or is the server not suppose to hostnames?

[2018-12-11 19:07] r3ptar commented on #2862
We can close this out. My coworker is an idiot and didn't configure a default gateway or DNS settings.

[2018-12-11 19:07] #2862 closed

[2018-12-13 09:46] Sygyzmundovych opened #2877 "Take a Tour of the SAP Cloud Platform Cockpit"
Hi Jonathan. IoT Service is not available on Neo anymore. May I suggest using another service as an example in Step 7? Thanks!

[2018-12-13 10:30] Sygyzmundovych opened #2878 "Enable SAP Web IDE Full-Stack"
Validation in step 4 expects / at the end of the URL, while URL copied from the web browser by default does not have /

Manually adding / at the end of copied URL allowed to pass validation.

Thanks!

https://developers.sap.com/tutorials/webide-multi-cloud.html

[2018-12-13 10:35] Sygyzmundovych commented on #2515
Hello. These schemas and data loaded into tables were made specifically for hands-on exercises during SAPPHIRENOW2018.

If you are interested in similar exercises I would suggest checking blogs https://blogs.sap.com/tag/geospatial-tuesday/

Regards.

[2018-12-13 10:35] #2515 closed

[2018-12-13 10:38] thecodester commented on #2877
@jonathanbaker7 Can you update tutorial?

[2018-12-13 10:38] thecodester commented on #2878
@jonathanbaker7 Can you update tutorial?

[2018-12-13 19:18] jonathanbaker7 commented on #2878
Updated the rules.vr file.

[2018-12-13 19:18] #2878 closed

[2018-12-13 22:34] Sygyzmundovych opened #2881 "Create a low-fidelity SAP Build prototype"
In https://developers.sap.com/tutorials/build-low-fi-prototype.html screens and workflow are different now.

Plus lists are not rendered properly in built tutorial.

[2018-12-13 23:06] thecodester commented on #2881
@rbrainey Who can handle the Build tutorials?

@Sygyzmundovych What lists?

[2018-12-14 00:04] Sygyzmundovych opened #2882 "Import your SAP Build project into SAP Web IDE"
In https://developers.sap.com/tutorials/build-import-webide.html the old Web IDE is being used.

As well workflow and screenshots are outdated, i.e. BUILD plugin is now activated from Features and there is no "repository" drop down to select from.

Seems like destinations should not be created manually anymore, as now they are created automatically (https://help.sap.com/viewer/2c656257ea5740328a29

[2018-12-14 04:05] adadouche commented on #2809
Hi @mavesura ,

I hope that "no news is good news". I'll close this issue for now, but feel free to reopen if the issue is not solved.

Thanks
@

[2018-12-14 04:05] #2809 closed

[2018-12-14 06:29] gilbert2002 opened #2883 "Onboarding a computer as the IoT thing"
Cann't open  https://www.sap.com/registration/trial.284880a3-a50a-43aa-a30d-6de124ddbfea.html to get a user/password.

[2018-12-14 08:55] cocopapagal commented on #2835
Hi guys,

the instructions posted on docker site or https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html
are simply not working.

For not beeing a linux guy, I have tried it for hours without success.

The result is always **_FAIL: process hdbdaemon HDB Daemon not running_**
Even on forums they are complaining about this
![2018-12-14 09_52_55-hxa advanced container error](http

[2018-12-14 09:16] songrui01 commented on #2835
1.  first, This installation does not support Docker for Windows or Docker for Mac.
https://github.com/SAPDocuments/Tutorials/issues/2526#issuecomment-413741610

2 .Fow HXE docker full image: hanaexpressxsa, we recommend the devicemapper storage driver .
https://docs.docker.com/storage/storagedriver/select-storage-driver/#docker-ee-and-cs-engine
https://github.com/SAPDocuments/Tutorials/issues/223

[2018-12-14 10:11] msj2 opened #2886 "Wrong Screenshot in HXE Server - Time Series Forecasting Page... (Forecast SQL)"
https://developers.sap.com/tutorials/hxe-aa-forecast-sql-01/_jcr_content.github-proxy.1544109201.file/03-1.png

The same image is re-used for connecting to HXE DB as SYSTEM user & ML_USER

This Image has wrong radio button chosen.
It MUST HAVE Tenant Database selected
IT IS HAVING System Database selected

Kindly fix this asap.

[2018-12-14 10:19] msj2 opened #2887 "What port number is used by the nameserver link not working (Forecast SQL)"
https://developers.sap.com/tutorials/hxe-aa-forecast-sql-01.html

What port number is used by the nameserver?

I enter the value 39001 & Click on Submit Button
Submit Button has a hash link.

Doesn't work.

A bit embarrassing to mention, each Submit button on this page is a # link.

[2018-12-14 10:38] krisho007 opened #2888 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Native Linux Machine)"
Several issues with this tutorial.
1. Commands to be entered are not easily copyable. Does not indicate that they are the commands to be entered like other commands
2. This step also requires sudo rights. But that is not documented.

[2018-12-14 11:00] vishnucta opened #2889 "Install the Optional SAP HANA Automated Predictive Library Package for SAP HANA, express edition (Native Linux Machine)"
1) Commands are not formatted properly . It should be
./HXEDownloadManager_linux.bin linuxx86_64 installer apl.tgz

2) Its getting downloaded in /Downloads

3)No sudo access to GCP hxeadm user

[2018-12-14 11:34] msj2 opened #2891 "Import the Time series datasets (Forecast SQL) -Low Prio"
Step 4: Import the Dataset

8 files to download
7 file to map

`KxDesc_CashFlows` is not needed OR
SQL Query in Step 3 to create DB Table for it is missing.

[2018-12-14 12:37] JCurrie27 commented on #2888
Assigning to aptk001 and TerryNing for investigation.

[2018-12-14 12:39] JCurrie27 commented on #2889
Assigning to aptk001 and TerryNing for investigation.

[2018-12-15 18:05] vinita-k opened #2894 "HANA xsc not working"
Please note below screenshot I have the HANA express installed in the VM (I believe)

However unable to start XS engine and webide from browser please advise

And this is what I see when I login and I am able to login using hxeadm

![vm screenshots1](https://user-images.githubusercontent.com/23621930/50045970-d06ddf00-0100-11e9-937c-1b2a0c6ba335.PNG)

However when I try to run hana XSC command as

[2018-12-16 00:55] no-glue opened #2895 "Could not find any Service Instance for the selected Space message"
Could not find any Service Instance for the selected Space message is given in Eclipse for ABAP cloud project. API endpoint is https://api.cf.eu10.hana.ondemand.com and region is Europe (Frankfurt). Is there any available fix for this?

Trying to do this [tutorial](https://developers.sap.com/tutorials/abap-environment-console-application.html). There is no available information on creating service

[2018-12-16 04:12] mikeedoyle opened #2896 "Add a UI to Your Business Application"
When I turn on the mock data options in the run configuration my app no longer loads.  I see the tile but when I click it I just get a blank screen

[2018-12-17 01:58] Terry1504 commented on #2889
@vishnucta

about "Commands are not formatted properly", what's link for the original desc link that's not correct?

[2018-12-17 02:02] TerryNing commented on #2889
hi, @vishnucta, what's web link for the original description that's not correct?

[2018-12-17 02:06] TerryNing commented on #2888
hi, @krisho007 , what's web link for the original page that you saw there have issue?

[2018-12-17 09:43] adadouche commented on #2888
Hi @TerryNing

I think this the following tutorial:

https://developers.sap.com/tutorials/hxe-ua-apl-binary.html

But I think the content should also be aligned with the following:

https://developers.sap.com/tutorials/hxe-ua-apl-vm.html

as there is no real reason they should differ (unless there is one, but then it should be documented)

Regards

[2018-12-17 09:58] adadouche commented on #2894
Hi @vinita-k

In HXE 2.0, the XS Classic feature is disabled (and may be gone completely).
Therefore, port 8090 is not used anymore.

You should use port 39030 (3<instance number>30) to check that your server is up and running.
However, it doesn't mean that all the other service like the Web IDE are up and running too.

But anyway, in order to use **hxehost** in your URLs from a remote host, you n

[2018-12-17 10:18] kavishdahekar opened #2898 "Change from a mock server to live OData service for TechEd"
Step 6 : "Change the word ToysSet to Sets in line 18."
Line number is wrong. Should be line 11.

[2018-12-17 10:38] cocopapagal commented on #2835
Thank you for answering me songrui01.

1 - Yes, I am running Docker CE 18.09 on Ubuntu 18.04.1 LTS.

2 - Beeing a rooky in Linux world, took me some time to find out that graphdriver for devicemapper is not anymore supported in Docker 18.09.(Deprecated but missing :) )
[#452](https://github.com/docker/for-linux/issues/452#issue-367208644)
I think that I have to downgrade my Docker in order to solv

[2018-12-17 11:06] cocopapagal commented on #2234
Hello,

Seems that devicemapper storage driver is deprecated. [#1424](https://github.com/docker/cli/pull/1424)
As a matter of fact, it cannot be used with the latest Docker CE Version 18.09. [#452](https://github.com/docker/for-linux/issues/452#issue-367208644)

Is there any solution for overlay2?
Thank you

[2018-12-17 11:34] pjcools opened #2899 "Build an SAP Fiori app with SAP Gateway data in SAP Web IDE"
The tutorial was great until I got to the last steps and basically the app did not work. I lodged in Twitter and found I had to amend the neo-app.json file.

**From this:**

}, {
		"path": "/ES5",
		"target": {
			"type": "destination",
			"name": "ES5",
		},
		"description": "ES5"

**To this:**
}, {
		"path": "/sap/opu/odata",
		"target": {
			"type": "destination",
			"name": "ES5",
			"entryPat

[2018-12-17 12:02] lin1161 commented on #2894
Hi @vinita-k,

For your first screenshot, all apps that the requested state is "STARTED", should have 1/1 instances, then you can connect to that app. ( 1/1 means 1 instance is started, 0/1 means no instance is started).
For webide can not be connected issue, please make sure you modified the host file to add the hxehost info like:
[vm_ip] hxehost.localdomain hxehost

[2018-12-17 12:12] lin1161 commented on #2894
Modify the etc hosts file on the client machine that you use browser to logon webide. if you use windows, the etc hosts should be C:\Windows\System32\drivers\etc\hosts.
And make sure the network access between the hxe VM and the client machine is OK.

[2018-12-17 14:07] mervey45 commented on #2895
@no-glue You need a SAP Cloud Platform ABAP Environment user + password to create a ABAP Cloud Project.

[2018-12-17 17:49] cocopapagal commented on #2234
It is a crap HANA XSA on docker. I have wasted 1 day of my life trying to make it works. I have succeed to install it but it is soooo slow, xs a is listing only 3 services started after 27 mins.

Well, my HANA XSA on docker version ends here. HANA XSA and Server Only on docker are full of bugs and doesn't worth to waste your time.

Please go for HANA VM, it is just perfect.

I have installed first

[2018-12-17 17:59] cocopapagal commented on #2234
Sorry, forgot to add: the doc wrote by SAP [here](https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html) is having a mistake.

Obviously, i am not a political correctness fan when i am wasting my time with docs written by persons which are not aware of implications of a bad job!

Gruß

[2018-12-17 23:03] cdzmcameron commented on #2899
Thanks pjcools, I was trying to follow the same tutorial but couldn't get it to work at the end.  Your solution worked for me.

[2018-12-18 10:07] qmacro commented on #2898
https://developers.sap.com/tutorials/pre-teched-2018-webide-odata.html

[2018-12-18 10:34] #2898 closed

[2018-12-18 10:37] qmacro commented on #2898
Thanks for reporting this @kavishdahekar

[2018-12-18 10:50] adadouche commented on #2891
Hi @msj2

Thanks for your feedback, I have removed the KxDesc_CashFlows download as it is not used in my examples.
[Commit](https://github.com/SAPDocuments/Tutorials/commit/55774fa839488936eaaedf8f149ee4455c532bf4)

Regards

[2018-12-18 10:50] #2891 closed

[2018-12-18 11:08] adadouche commented on #2887
Hi @msj2

The value entered is correct. But I don't understand your ***hash*** link issue.

I know the validation has hiccups time to times when a new release is pushed to prod.

Have you been able to submit your answer?

[2018-12-18 11:17] adadouche commented on #2886
Thanks for your feedback. Fixed in the following [commit](https://github.com/SAPDocuments/Tutorials/commit/6ee4993dda8b3057e0e7f6f40daee8be862c8892)

However, the explanation is still the one you should consider as screenshots are here for illustration purpose only.

[2018-12-18 11:17] #2886 closed

[2018-12-18 12:52] kavishdahekar commented on #2898
You're welcome @qmacro :)

[2018-12-18 15:44] qmacro commented on #2899
PR merged, issue fixed. Thanks for raising this, @pjcools .

[2018-12-18 15:44] #2899 closed

[2018-12-19 05:07] vinita-k commented on #2894
Hey @adadouche
I checked the link you shared and I understand now I dont have to check for XSC  but only XSA?
So when I login I get below when I do xs-admin-login
![image](https://user-images.githubusercontent.com/23621930/50199888-3b950b00-03b8-11e9-87b0-89b0373fbb9d.png)

My host file is updated as below
![image](https://user-images.githubusercontent.com/23621930/50199911-5798ac80-03b8-11e9-96f3

[2018-12-19 05:08] vinita-k commented on #2894
Thanks that is updated!

Regards
Vinita

[2018-12-19 05:18] lin1161 commented on #2894
Hello Vinita,

From the screenshot, your HXE VM IP should be *.*.*.*71 (you removed the front part, but I can see it ends with 71). And the etc hosts you showed, the IP address is 172.25.86.13.
Maybe this is the issue?

[2018-12-19 06:15] ireps opened #2905 "SAP HANA, express edition, in Google Cloud Platform Launcher (Database + XS Advanced)"
https://developers.sap.com/tutorials/hxe-gcp-getting-started-launcher-xsa.html

Tutorial does not have completion marker for Steps 3 and 4

[2018-12-19 06:41] vinita-k commented on #2894
Hey @lin1161
I see what you mean I have corrected the host IP in the file now
![image](https://user-images.githubusercontent.com/23621930/50203309-ef50c780-03c5-11e9-8329-4ed812b94182.png)

Still the same
![image](https://user-images.githubusercontent.com/23621930/50203326-ff68a700-03c5-11e9-98e9-7bb88c3bbfb8.png)

regards
Vinita

[2018-12-19 07:15] lin1161 commented on #2894
Hello Vinita,
Please double check the following items:
1. the network access is OK between the client machine ( which you used to browner webide )  and the HXE VM.
2. modify the hosts file on client machine add the one line "[vm_ip] hxehost.localdomain hxehost", don't forget to save the file.
3. restart the browner and try again. (or try on Chrome?)

[2018-12-19 08:43] adadouche commented on #2894
Hi @vinita-k

To check if the host file is properly configured, open a command prompt and run:

[code]

The output should display the IP address resolved. You may receive also messages saying that the host cannot be resolved but this may not be relevant because ping is not always enabled on host.

To check that you can access your hxehost, open a command prompt and run:

[code]

This should return

[2018-12-19 09:01] Apfohlmann commented on #2896
I run in the same error. After reinstalling the builder I was able to complete the tutorial.

[2018-12-19 09:50] umbertopanico opened #2907 "Import the MovieLens dataset (MovieLens App)"
number of row of ratings is 100836

[2018-12-19 14:13] mahabaleshwarhnr opened #2908 "Authenticate once and share data between multiple application"
I tried this tutorial. But shared logon is not working in v3.1 SDK.  I am getting passcode mismatch error.
[https://imgur.com/a/4u2NhOi](url)

[2018-12-19 14:41] thecodester commented on #2905
WHat do you mean "completion marker"?

[2018-12-19 14:44] thecodester commented on #2905
I see a Done button at the end of each of the 5 steps ... do they not work?

[2018-12-19 15:38] Lsubatin commented on #2905
There was a rendering problem. They work now. Thanks!

[2018-12-19 15:38] #2905 closed

[2018-12-19 15:56] JCurrie27 commented on #2278
Closing issue due to inactivity.

[2018-12-19 15:56] #2278 closed

[2018-12-19 15:57] JCurrie27 commented on #2401
Closing issue due to inactivity.

[2018-12-19 15:57] #2401 closed

[2018-12-19 15:57] JCurrie27 commented on #2435
Closing issue due to inactivity.

[2018-12-19 15:57] #2435 closed

[2018-12-19 15:58] JCurrie27 commented on #2448
Closing issue due to inactivity.

[2018-12-19 15:58] #2448 closed

[2018-12-19 15:59] JCurrie27 commented on #2471
Closing issue due to inactivity.

[2018-12-19 15:59] #2471 closed

[2018-12-19 16:04] JCurrie27 commented on #2773
@NEELIX1209 - Are you still having issues installing the APL packages?
If you're still having problems, could you provide your error log as requested by i067268  above?

[2018-12-19 16:37] simonefix opened #2909 "SAP HANA XS Advanced - Consume the OData service in a basic HTML5 module"
This doesn't work... when I follow the tutorial as soon as I get here i receive the error:

message: "HTTP request failed"
request: {headers: {…}, requestUri: "/xsodata/purchaseOrder.xsodata/$metadata", method: "GET", user: undefined, password: undefined, …}
response: {requestUri: "/xsodata/purchaseOrder.xsodata/$metadata", statusCode: 404, statusText: "", headers: Array(0), body: "<html><head><ti

[2018-12-19 20:57] jasonmuzzy opened #2910 "Change from a mock server to live OData service for TechEd"
The answer for step 5 seems to have changed format.  The actual element in WebIDE is "<NavigationProperty Name="Parts" ToRole="PartsDependent" FromRole="SetsPrincipal" Relationship="codejam.toyspace.services.api.PartOfType"/>" but I had to reorder the attributes to get the answer accepted to "<NavigationProperty Name="Parts" Relationship="codejam.toyspace.services.api.PartOfType" FromRole="SetsPri

[2018-12-20 00:02] joymike opened #2911 "Use the Application Router in Cloud Foundry to Connect to ABAP System"
Question:
I have followed this guide and got to the step 7 in testing the app router and it failed.
I was redirected to the login screen, and after that I get an error showing "Internal Server Error".
URL was routed to https://approuter-demo-xxxxtrial2.cfapps.eu10.hana.ondemand.com/
Nothing in the browser console.
I can see in the network tab, the call failed with error 500.

I can see in the appl

[2018-12-20 08:53] vinita-k commented on #2894
Hey @adadouche
Firstly thanks a lot for helping me with this it is also so new and I am getting very confused
So, now I did a ping and it shows exactly what you mentioned time out but request packet is sent and received
![image](https://user-images.githubusercontent.com/23621930/50273373-6017e280-049f-11e9-841f-b2ca1213c18a.png)

if I understand correctly I need to run this in host system right?
I

[2018-12-20 08:59] adadouche commented on #2894
Hi @vinita-k

This is really strange.

Let's go back to the beginning for second and correct me if I'm wrong:
 - you are using the HXE VM (server + apps)
 - you are using VMWare to run it
 - you are using the initial network configuration provided with the VM (bridged)

Can you confirm that?

[2018-12-20 09:30] michelde opened #2914 "Installing SAP HANA, express edition Server + Apps, with Docker"
At step 8 it's saying:

In the steps before there is nothing mentioned to create this directory.

Regards,
Michel

[2018-12-20 13:15] Lsubatin commented on #2909
Different error (after this one) received by email.

[2018-12-20 13:15] #2909 closed

[2018-12-20 13:36] adadouche commented on #2889
Hi @TerryNing

I think this the following tutorial:

https://developers.sap.com/tutorials/hxe-ua-apl-binary.html

But I think the content should also be aligned with the following:

https://developers.sap.com/tutorials/hxe-ua-apl-vm.html

as there is no real reason they should differ (unless there is one, but then it should be documented)

In the GCP context, the hxeadm user is not part of the sud

[2018-12-21 08:40] AnthonyHao opened #2916 "Create a Destination for the Northwind OData Services"
After saving the destination,  there's no service URL appeared in WebIDE. And I have restarted WebIDE several times.

[2018-12-21 17:13] vinita-k commented on #2894
HI @adadouche
I am using the below link to download hana express engine
https://www.sap.com/cmp/ft/crm-xu16-dat-hddedft/index.html

With this there was a getting started guide which I followed
I am using VMWare Workstation 15 player to open hxexsa OVA file in my virtual machine
THe only configuration part I have missed is time zone as I selected the default value and dont know how to change it sho

[2018-12-21 21:57] Lsubatin commented on #2894
Hi Vinita,
Can switch the network to NAT, wait a minute get the IP from the VM and pinging it from your laptop?

Can you also try traceroute using NAT and share the results?

Cheers,

Lucia.

[2018-12-22 00:15] vinita-k commented on #2894
Hey
Sorry I am probably quite new to this what is NAT I tried to google but not sure if i need to download something to send you the traceroute using NAT could you explain a bit more

Regards
Vinita

[2018-12-23 07:34] michelde commented on #2914
Thanks, it's fixed.

[2018-12-23 07:34] #2914 closed

[2018-12-24 03:20] selvamohankumar opened #2917 "Enable and configure (IoT for Neo)"
I dont find IOT in my services page

[2018-12-24 09:30] adadouche commented on #2894
Hi @vinita-k

First let me share a few information about network configuration and virtual machines.

When using the "bridge" mode, your VM will appear like a standalone machine on your network.
This implies a few things:
 - the ip address will be provided by the network your host machine is connected on
 - if your host machine network use a proxy or filter on mac address etc then your vm machine

[2018-12-25 01:21] nachorubio opened #2918 "C++ compilation of rule ‘//tensorflow_serving/model_servers:http_rest_api_handler_test’ failed (Exit 1) tensorflow_serving/model_servers/http_rest_api_handler_test.cc:380:36: error: unterminated raw string"
Hi,

I’m having a problem during Tensorflow Model Server compilation, seems i have a problem with my gcc version (4.5.8) and the TF version, i’m getting this error:

C++ compilation of rule ‘//tensorflow_serving/model_servers:http_rest_api_handler_test’ failed (Exit 1) tensorflow_serving/model_servers/http_rest_api_handler_test.cc:380:36: error: unterminated raw string

I have a conflict between m

[2018-12-26 08:10] adadouche commented on #2918
Hi,

I'm checking now the all installation tutorial steps to make sure I'm not missing something.

Can you confirm that you are using gcc version 4.5.8? This is a rather very old version which is pulled when you install SLES 12SP3. On my side with SP3, I got:

[code]

I also realized that the documentation mentions that only TF 1.5 is supported, but the git clone command I reference will pull the

[2018-12-26 11:03] nachorubio commented on #2918
Hi,
Sorry you're right i mistype the gcc version, the version i'm using is the same as you, maybe i should skip the unit testing files during compilation to avoid that error but seems is a bad idea( and i don't know how to do it from the bazel build command ) or also i should try to compile an older TF version, in any case i'll wait until your recommendation to solve/avoid the issue.
Thanks a lot

[2018-12-27 17:26] amitavamitra opened #2922 "Upload your Dataset for Image Classification Retraining"
Hello Abdel ,

cd flowers
cf sapml fs put test flowers/test/
cf sapml fs put training flowers/training/
cf sapml fs put validation flowers/validation/

Here we need to provide a more clarity else we might be quite confused.

PUT here is asking for a local path to a remote path.

flowers/test/  or flowers/training/ etc are certainly not a local path.

Would you please expand a little bit on this st

[2018-12-27 21:39] amitavamitra commented on #2922
@adadouche

[2018-12-27 21:40] amolguptasap opened #2923 "Create a cloud-native application in SAP HANA"
The following files have not been provided in the given Tutorial !!!

"User browse to navigate to the folder Desktop/1- HANA Data Import and choose the file src (native).zip."

[2018-12-27 23:43] amitavamitra opened #2924 "Build an SAP Fiori app with SAP Gateway data in SAP Web IDE"
What is the credential for ES5, please.

I am stuck .

@akula86 .

[2019-01-02 13:15] vgup opened #2925 "Create a Business Service Using CDS"
I am using the cloud foundry trial in completing this tutorial and all the pre-reqs are in place. When testing the srv module using the run command. I get an error

Service provisioning for module: '/srv'
Could not create the 'bookshop-bookshop-hdi-container-S0inzqBe/Vtu8QIYWm' instance of the 'hana' service type for the 'bookshop-hdi-container' resource. Could not create the 'bookshop-bookshop-hd

[2019-01-03 07:33] Apfohlmann commented on #2925
@vgup I just completed the tutorial. It worked for me. I didn't get the error you described.

First I got another error at Step 1 one. To fix this I had to enter the Cloud Foundry Trial via my SAP Cloud Platform Cockpit. Also, make sure you have enough memory left.

Does this help you?

Best regards,
André

[2019-01-04 09:44] adadouche commented on #2922
Hi @amitavamitra,

Can you clarify your request? Are you having an issue running the commands? Or is it more a request for more details about the command themselves and what they are used for?

Thanks
@bdel

[2019-01-06 14:56] vgup opened #2927 "Add a Database to Your Business Application"
The Build step shows Build is empty. There is no option to Build. I have changed the version in .hdiconfig file.

[2019-01-06 14:57] vgup commented on #2925
It worked with cloud foundry in Europe region. Earlier I was working with US Central region.

[2019-01-06 14:57] #2925 closed

[2019-01-06 19:59] nachorubio commented on #2918
Hi @adadouche

I've completed the TMS installation without problems using the Docker Container, the connection is working and i'm on the next step deploying the Irish classifier :), from my side we can close the issue.

Best Regards.

Thanks a lot for your time and effort.

[2019-01-07 06:40] adadouche commented on #2918
Hi @nachorubio

Cool!! Hope you found this approach easier than the compilation one.

Have fun!

[2019-01-07 06:40] #2918 closed

[2019-01-07 12:12] JensHaley commented on #2911
Could you maybe share your file xs-app.json that you used for your approuter?

One mistake I could imagine is that you may have used a different name for the destination that you created in step 1. If the name of the destination does not correspond to what you have used in file xs-app.json the routing will break. In the tutorial I used **abapBackend1**.

Did you check if the service of the ABAP sy

[2019-01-08 09:02] Liebherr opened #2932 "Maintain platform subaccounts and SAP Web IDE permissions"
"Step 7: Give SAP Web IDE access to everyone" has changed

"Step 7: Give SAP Web IDE access"

To enable users to work with Web IDE you have to explicitly assign the DiDeveloper Role to each of them.

1) Go to Roles
2) Select DiDeveloper Role
3) Press Assign in the role's section for individual users. A pop up opens.
4) Enter the required User's ID
5) Press Assign in the pop up

![image](https://us

[2019-01-08 09:16] mervey45 commented on #2932
@Liebherr I'll change it asap  :)

[2019-01-08 10:57] Liebherr opened #2933 "Set up trust between identity authentication and SAP Cloud Platform subaccount"
Step 7 (Get metadata of subaccount) should be made step 4 (directly after local service provider creation) to reduce tool switches by 2

[2019-01-08 12:05] thecodester commented on #2933
Also shorten title and make title case -- suggestion: Set Up Trust Between Identity Authentication and Subaccount

[2019-01-08 12:49] adwinang opened #2935 "Setup the SAP HANA Plugin for Microsoft Visual Studio"
I ran through the steps, but the data source does not give me SAP Hana Database

[2019-01-08 13:34] Liebherr opened #2936 "Set up trust between identity authentication and SAP Cloud Platform subaccount"
Step 11: Set application' s identity provider

Navigation changed/renamed from "Authenticating Identity Provider > Identity Provider" to "Conditional Authentication > Conditional Authentication"

![image](https://user-images.githubusercontent.com/26269696/50832961-11e45980-1350-11e9-9906-3cabf5ae231c.png)

![image](https://user-images.githubusercontent.com/26269696/50833707-70aad280-1352-11e9-97f2

[2019-01-08 13:41] Liebherr commented on #2936
better screenshot for 2nd one
![image](https://user-images.githubusercontent.com/26269696/50834030-486fa380-1353-11e9-8262-6171397f5f17.png)

[2019-01-08 13:41] JCurrie27 commented on #2935
Assigning to Adrian

[2019-01-08 13:51] #2935 closed

[2019-01-08 16:28] gregorwolf opened #2937 "Using JPA in Custom Logic"
My pom.xml was created with this information in ${project.parent.version}:

[code]

but at http://central.maven.org/maven2/com/sap/cloud/servicesdk/prov/cf-xsa-util/ the Version 1.17.1 does not exist, the build failed. So I've replaced 1.17.1 with 1.25.0 and the build was successful.

[2019-01-08 17:01] gregorwolf opened #2938 "Using JPA in Custom Logic - Step 4"
In Step 4 I'm asked to adjust the file srv/src/main/webapp/META-INF/sap_java_buildpack/config/resource_configuration.yml. But I only have a folder named srv/src/main/webapp/META-INF/java_xs_buildpack/config/resource_configuration.yml. Should I rename that folder?

[2019-01-09 06:39] JijoRoyJacob commented on #2937
Hi Gregor,
Can you confirm if you still see the same version issue in the pom.xml when you create a new project (business application) from template? I'm not able to recreate it and hence the question.

Best regards,
Jijo

[2019-01-09 08:13] gregorwolf commented on #2937
Hi Jijo,
I've created a fresh project yesterday and had the issue with the pom.xml. But the one I've created today is correct.

[code]

Is there a file where I can see the template version used?

CU
Gregor

[2019-01-09 08:42] JijoRoyJacob commented on #2937
We noticed the issue earlier yesterday too but it seems to have resolved itself before we could investigate further. As far as the template version is concerned, I will check with the development team and get back to you.

[2019-01-09 09:05] JijoRoyJacob commented on #2937
Following is the response from the dev team to your question:

[2019-01-09 11:17] JuBerndt opened #2943 "Offline Enable Your Android Application - Retest of questions"
Is it possible to repeat the questions ? I have answered one question but two marked as 'green'.
Why is that ?
Could not find any solution to repeat the questions.
Can you help ?

**
![grafik](https://user-images.githubusercontent.com/38529250/50896145-72cf6880-1408-11e9-97fb-e38ea45db862.png)
**

[2019-01-09 13:07] Liebherr opened #2945 "Create OAuth communication system and user"
1. rename "Step 4: Copy link address" to "Step 4: Get Web IDE URL"
2. Adapt descriptive text of that step to for example: "Switch to your SAP Cloud Platform cockpit, go to **Services** and select **SAP Web IDE**. Copy the link address of **Go to Service** paste it to some text editor and remove "https://" from that Web IDE's URL. This will be needed in the creation process of the communication sys

[2019-01-09 14:11] Liebherr opened #2948 "Create OAuth communication system and user"
Whole certificate process in communication system can be simplified

1. rename "Step 10: Get SAP Cloud Platform subaccount's metadata" to "Step 10: Get SAP Cloud Platform subaccount's signing certificate"
2. adapt descriptive text to for example "Switch to your SAP Cloud Platform subaccount. Open trust settings, copy all data from the **Signing Certificate** field ( in windows: click inside and pr

[2019-01-09 14:34] mervey45 commented on #2948
@Liebherr  I'll change it asap.

[2019-01-09 15:23] DFranch opened #2951 "Minor typo in "Import a Census Sample Dataset" tutorial"
Hi,

One of the Accordian titles contain a typo in the tutorial "Import a Census Sample Dataset".

Current title is "Step 4: Download the *dample* data" - I assume it should be changed to **sample** instead of **dample**.

Markdown file: https://github.com/SAPDocuments/Tutorials/blob/master/tutorials/mlb-hxe-import-data-pa-census/mlb-hxe-import-data-pa-census.md

[2019-01-09 16:04] thecodester commented on #2951
Just making sure you're paying attention :-)

Fixed https://github.com/SAPDocuments/Tutorials/commit/2434caee563bf81e921f862e0a3a8550ee454318

[2019-01-09 16:04] #2951 closed

[2019-01-10 20:12] joymike opened #2953 "SAP HANA, express edition, in Google Cloud Platform Launcher (Database Services)"
Hi,

When I follow the instructions to launch the Google Cloud platform launcher (it launches Google Marketplace now), I cannot see HANA express listed as one of the options. Even searching for SAP doesn't return anything HANA related.
Can you please advise?

Cheers

[2019-01-11 11:44] matiasromerocarranza opened #2954 "Create a basic Java app in SAP Cloud Platform"
Hi and thanks for this course Jim @akula86
When I've started at step 15 Configuring Eclipse with SAP Cloud Platform Tools for Java I could not select Java Web, I could select Tomcat 8. I've followed the instructions I guess successfully and when I've run on server the wheatherapp  I've received the following error that I can't understand.
Please any suggestion will be appreciated. Thanks

an 11, 2

[2019-01-11 13:10] peterlangner opened #2955 "Create an HTTP Service"
I this tutorial I find it difficult to gues, whta you want me to input in Step 7. I have calss, which does, what you wanted me to do, but it is not accepted as a result.

CLASS zcl__http_test DEFINITION
  PUBLIC
  CREATE PUBLIC .

PUBLIC SECTION.

  INTERFACES if_http_service_extension .
PROTECTED SECTION.
PRIVATE SECTION.
ENDCLASS.

CLASS zcl__http_test IMPLEMENTATION.

  METHOD if_http_service_e

[2019-01-11 14:14] Kremer80 opened #2956 "ERR_CONNECTION_REFUSED: Data Hub 2.3 developer edition with docker"
Dear SAP support team,

I try to start Data Hub 2.3 developer edition with docker.
[https://developers.sap.com/tutorials/datahub-docker-v2-setup.html](url)

It seems that my docker build was fine and the system is up and running. However, my browser (Chrome) says ERR_CONNECTION_REFUSED for:
- http://localhost:8090 (SAP Data Hub Modeler)
- http://localhost:9225 (SAP Vora Tools)

I also tried urls f

[2019-01-11 14:23] adadouche opened #2957 "Install SAP NetWeaver in openSUSE"

[2019-01-11 16:22] #2957 closed

[2019-01-11 22:19] bask-alur-gh opened #2958 "Continue Your OData Exploration with EPM"
1) The Tutorial suggests to use Chrome, but Chrome doesn't accept the credentials entered when prompted. So unable to access with Chrome the URLs used in this tutorial, like https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV/Products/?$filter=MainCategoryId%20eq%20%27Software%27%20and%20StockQuantity%20le%2010&$select=StockQuantity,Name&$format=json
2) Same issue with Internet

[2019-01-12 05:33] pjcools opened #2959 "Get started with SAP Build"
Trying to complete the Get Started with Build tutorial and found that it will not accept the Organisation I enter right at the end of the tutorial.
https://developers.sap.com/tutorials/build-getting-started.html

When I look at my Build profile it states SAP CSR in the organisation even though I entered something different in the front screen. When I enter SAP CSR in the tutorial it states the fol

[2019-01-12 10:47] mariomuellergermany opened #2960 "Consume a Basic OData Service"
Hi,

I wonder the tutorial starting with an project that already exits. Cound you please tell me the Prerequisites?
When I click on Prerequisites > this has also a Prerequisites > an so on and so on with prerequisites.
Could you please state the preceeding tutorial? What kind of projekt do I have to set up?

Many thanks
Regards
Mario

[2019-01-12 10:53] mariomuellergermany opened #2961 "Consume a Basic OData Service"
Hi,

your are writing "Within the controller folder, add the following code:"

But it is not possible to add code to a folder. Would you please provide the name of the file in the controller-folder?

Thanks, reagrds
Mario

[2019-01-12 17:50] Lsubatin commented on #2953
Hi,

There's been a problem with the marketplace and the images are temporarily unavailable. The teams are working to restore them ASAP.

I will update this thread in the community once it's back up: https://answers.sap.com/questions/721640/hana-express-on-google-cloud-platform-implementati.html

Best,

Lucia.

[2019-01-12 17:50] #2953 closed

[2019-01-14 08:31] thecodester commented on #1790
We have now implemented this in 2 ways:
* The width of tutorial column is now much wider and can show larger images
* Images larger than the width have a button to enlarge them

[2019-01-14 08:31] #1790 closed

[2019-01-14 14:57] APrzedpe opened #2962 "Create a Workflow Project from a Template"
Hi,
while processing Create a Workflow Project from a Template, step 2, there is a necessity to choose
Workflow Project from Category Business Process Management.
There is no such category in trial version.
Is there any way to go further?
Regards,
Andrew

[2019-01-14 15:13] APrzedpe opened #2963 "Create a Workflow Project from a Template"

[2019-01-14 15:13] #2963 closed

[2019-01-14 15:13] #2962 closed

[2019-01-15 07:30] thecodester commented on #2521
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:30] #2521 closed

[2019-01-15 07:40] thecodester commented on #2833
I have fixed the tutorial so you can now track your progress

@jonathanbaker7  I added DONE buttons but you should add a real validation.

[2019-01-15 07:40] #2833 closed

[2019-01-15 07:47] thecodester commented on #2896
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:47] #2896 closed

[2019-01-15 07:47] thecodester commented on #2895
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:47] #2895 closed

[2019-01-15 07:48] thecodester commented on #2888
@TerryNing Any updates on this?

[2019-01-15 07:55] thecodester commented on #2853
The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:55] #2853 closed

[2019-01-15 07:55] thecodester commented on #2843
The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:55] #2843 closed

[2019-01-15 07:56] #2740 closed

[2019-01-15 07:57] thecodester commented on #2657
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 07:57] #2657 closed

[2019-01-15 07:59] thecodester commented on #2411
@jonathanbaker7 This seems to be the intro tutorial for the Java weather app tutorial that we are discontinuing. Should this tutorial be removed?

[2019-01-15 08:01] thecodester commented on #2215
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 08:01] #2215 closed

[2019-01-15 08:07] thecodester commented on #2312
@avizov Was this resolved?

[2019-01-15 08:09] thecodester commented on #2406
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 08:09] #2406 closed

[2019-01-15 08:09] thecodester commented on #2432
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 08:09] #2432 closed

[2019-01-15 08:11] thecodester commented on #2514
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 08:11] #2514 closed

[2019-01-15 08:51] adadouche commented on #2887
Hi @msj2

We haven't heard from you, so will close this issue. But feel free to reopen or open a new one if needed.

[2019-01-15 08:51] #2887 closed

[2019-01-15 08:54] qmacro commented on #2960
The tutorial is a part of a group, which is signified at the very top (in the breadcrumbs) and the group is shown at the very bottom ("Create an SAPUI5 application with SAP HANA XS Advanced"). So the prerequisite shown is the first tutorial ("SAPUI5 User Interface") in this group.

Regarding the prerequisites for the "SAPUI5 User Interface" tutorial - I will defer to my esteemed colleagues @thecod

[2019-01-15 09:02] TerryNing commented on #2888
I saw there's a 'Copy' button on the page, which indicated it's command to execute.

Yes, it also requires sudo rights. The error message would be straightforward that user become aware.  Anyway, @JCurrie27, would you make that change ?

[2019-01-15 09:08] adadouche commented on #2922
Hi @amitavamitra

I have added some clarifications on the commands. And based on the last email exchange we had, I consider the issue as resolved.

[2019-01-15 09:08] #2922 closed

[2019-01-15 09:09] qmacro commented on #2961
Thanks for highlighting, the file name is missing. I've added it to the tutorial now ([will be live soon](https://github.com/SAPDocuments/Tutorials/pull/2964)). In the meantime, the file is `App.controller.js`. Cheers!

[2019-01-15 09:09] #2961 closed

[2019-01-15 09:18] qmacro commented on #2958
Hi @bask-alur-gh thanks for the message. This is not an issue with the tutorial itself, as it works for many folks with Chrome. This may be an issue with your userid and the SAP ES5 system. I have seen a couple of folks in the past struggle with this. I have a suggestion:

Try to log in to ES5 via the HTML5 GUI first, so you can check your authentication (ie username and password is correct). With

[2019-01-15 09:34] Sygyzmundovych commented on #2883
Hi, I just checked and the page is working. Please make sure you are opening it in some modern browser (like Firefox or Chrome). Regards.

[2019-01-15 09:34] #2883 closed

[2019-01-15 09:41] thecodester commented on #2960
From what I can figure out:

There is a group called [Create an SAPUI5 application with SAP HANA XS Advanced](https://developers.sap.com/group.hana-xsa-sapui5.html), starting with SAPUI5 User Interface tutorial.

That tutorial has a prerequisite of the group called [Expose Entities Using OData and XSJS with SAP HANA XS Advanced](https://developers.sap.com/group.hana-xsjs-xsodata.html), starting wi

[2019-01-15 11:48] anishgupta85 commented on #2956
Hi Marc,
Do you have some other container running for the data hub before or lets say are you using some oly version?
Please provide the output of command docker ps
Thanks & regards,
Anish

[2019-01-15 12:00] thecodester commented on #2673
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 12:00] #2673 closed

[2019-01-15 12:09] thecodester commented on #2805
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-15 13:09] JCurrie27 commented on #2888
@aptk001 - Could you please update the binary APL tutorial per Terry's request above?

[2019-01-15 14:18] Lsubatin commented on #2923
That tutorial was meant to be executed at the Developer Garage at SAPPHIRE.  There are alternatives at developers.sap.com.

[2019-01-15 14:18] #2923 closed

[2019-01-15 14:19] Lsubatin commented on #2858
No response and no productive feedback we can extract form this. Closing this.

[2019-01-15 14:19] #2858 closed

[2019-01-15 14:21] #2558 closed

[2019-01-15 14:22] #2523 closed

[2019-01-15 14:25] Lsubatin commented on #2469
This was answered in the community, search is OData V4 and xsjs provides OData V2.

[2019-01-15 14:25] #2469 closed

[2019-01-15 14:41] Lsubatin commented on #2397
This should have been fixed in the last update of the rules file, pushing it again just in case.

[2019-01-15 14:41] #2397 closed

[2019-01-15 14:44] Lsubatin commented on #2366
Closing this as Mike resolved this through community channels.

[2019-01-15 14:44] #2366 closed

[2019-01-15 14:45] Lsubatin commented on #2509
I cannot figure out which tutorial this is about, it's probably related to prerequisites for that  tutorial.

[2019-01-15 14:45] #2509 closed

[2019-01-15 14:46] Lsubatin commented on #2534
Hi, Not sure what this tutorial this is about.

The second comment by nimbusgeek refers to the GKE tutorial which sounds like another (out of 16) possible deployments.

[2019-01-15 14:47] Lsubatin commented on #2960
Yes, those prerequisites are correct

[2019-01-15 14:47] amolguptasap commented on #2923
Then it should not be published at developers.sap.com without the accompanying files !!!

[2019-01-15 14:57] JCurrie27 commented on #2835
Just an update that the engineering team is developing an alternative solution for a storage device, since devicemapper was deprecated. This solution is in the testing phase and should available soon. The Docker tutorial will be updated when the workaround is available.

[2019-01-15 14:57] #2835 closed

[2019-01-15 14:59] JCurrie27 commented on #2894
Hi @vinita-k: Was the NAT/bridged information above helpful to you? Are you still experiencing problems?

[2019-01-15 15:08] JCurrie27 commented on #2773
Closing issue due to inactivity.

[2019-01-15 15:08] #2773 closed

[2019-01-15 15:55] ansgar02 opened #2966 "Use JPA in Custom Logic"
Where should those generated JPA classes be found like in
import com.sap.demo.bookshop.jpa.my.bookshop.Orders?

It looks like that even the path com.sap.demo isn't found.
In addition I called my namespace "my.bookstore" instead "my.bookshop" in the entity definition, which may cause additional confusion.

Many thanks
Ansgar

[2019-01-15 16:02] amitavamitra commented on #2922
Thanks Abdel. Yes it was resolved.

[2019-01-15 16:36] ansgar02 commented on #2966
**Problem found:** was same version issue in the POM file for com.sap.cloud.servicesdk.prov as in other JPA issue already reported. By changing 1.17.1 into 1.25.0 everything worked fine!

Sorry for poluting this space here..

Cheers
Ansgar

[2019-01-15 16:58] danmanasoiu opened #2968 "Create OAuth communication system and user"
Hello

Does the comm user need some role? If yes, how do you assign to it (I know for normal business users)

It is said: business catalog SAP_CORE_BC_COM to your user - is this the one who sets the config  (already done, as included in BR SAP_BC_ADMINISTRATOR) or for the comm user?

The issue is that I have configure everything according to the blog adn also to the SAP Help file, but when creatin

[2019-01-16 02:58] JijoRoyJacob commented on #2937
This issue can be closed as it is not reproducible anymore.

[2019-01-16 04:31] lnoenssap commented on #2647
The bug with the long destination names is fixed, by truncating the name. So, this should work now.

[2019-01-16 04:52] lnoenssap commented on #2780
Hi @prm2205 , is this issue still relevant?

[2019-01-16 05:41] git-ashish commented on #2509
@Lsubatin These dependencies can be seen at [Step 6](https://developers.sap.com/india/tutorials/xsa-node-modules.html#9d477cd4-c790-40f5-ad41-cbe765d13855). The prerequisites tutorial doesn't make a reference to these dependencies either.

[2019-01-16 10:01] julieplummer20 commented on #2955
Hi Peter,
Yes, you are right. I have repaired the "rules" file that provides the code for validation. I will submit this for Pull Request right away. It should be available by EOB today.
I apologise, Julie.

[2019-01-16 10:07] julieplummer20 commented on #2955
@thecodester - Hi Daniel, Just a heads-up:  I am going to push these 2 objects to QA, then Pull Request to Prod., asap, to solve Peter's problem. I have not made any other changes. If possible, can you please push them to Production as soon as possible? Thanks a lot.

[2019-01-16 10:09] thecodester commented on #2796
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-16 10:09] #2796 closed

[2019-01-16 10:15] julieplummer20 commented on #2772
Hi Lucas, The TechEd team are restricting access to the TechEd system itself. They had created a copy, which I was working on, but it has now been deleted (!). My manager is trying to set up a new copy system asap.
You should be able to access an internal system, and there you can see whether the relevant objects have been created. However, currently the relevant apps have not been assigned to dev

[2019-01-16 10:34] julieplummer20 commented on #2772
This issue can be closed. I will provide the info to Lucas by email as soon as it is available.

[2019-01-16 10:35] julieplummer20 commented on #2955
This issue can be closed. I have updated the tutorial and rules file and will push them to QA, then Pull Request.

[2019-01-16 10:50] #2955 closed

[2019-01-16 10:55] #2772 closed

[2019-01-16 11:08] #2937 closed

[2019-01-16 12:02] JCurrie27 commented on #2520
Closing issue due to lack of activity.

[2019-01-16 12:02] #2520 closed

[2019-01-16 12:03] danmanasoiu commented on #2936
Hi

Once I setup Local Service Provide to Custom (instead of Default), as per the blog of SAP Help, we cannot loger access the Web   UI URL of the SAP CPI   https://xxxxx-tmn.hci.eu1.hana.ondemand.com/itspaces

We dont want to use a separate corporate IdP, but use the standar SAP IA

So, what's wrong?

Regards
  Dan

[2019-01-16 13:11] Liebherr commented on #2936
Hi Dan,

first of all, please open a ticket to SAP, if your problems persists. We cannot offer support here.

Anyway, before opening the ticket rethink your use case.
Integration with S/4Hana as described in this tutorial does work with OAuth and a corporate IdP only.
Furthermore, is your SAP CPI really a Neo account? Do you really mean the Web UI of the Account or its Web IDE?
In the ticket you m

[2019-01-16 22:32] #2481 closed

[2019-01-16 22:36] KevinMuessig commented on #2803
Hi @AnikaJain,

do you have the link to the tutorial you're trying to go through?

Thanks

[2019-01-16 22:36] KevinMuessig commented on #2908
Hi @mahabaleshwarhnr ,

do you have the tutorial link of the tutorial you're trying to go through? I will look into this.

Thanks,

Kevin

[2019-01-17 06:16] mahabaleshwarhnr commented on #2908
@KevinMuessig   https://developers.sap.com/india/tutorials/fiori-ios-scpms-shared-keystore.html

[2019-01-17 08:57] thecodester commented on #2848
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-17 08:57] #2848 closed

[2019-01-17 13:04] NewFolk opened #2971 "Bind for 127.0.0.1:50070: unexpected error Permission denied"
I catch the error while following setup guide for Data Hub in datahub-docker-v2-setup.md

`#docker run -ti --publish 127.0.0.1:50070:50070 --name hdfs --hostname hdfs --net dev-net datahub run-hdfs
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: driver failed programming external connectivity on endpoint hdfs (7bf60e8a820af7157f693a0da72cd0b6cadb534d0ebb2c3f704

[2019-01-17 13:52] mervey45 commented on #2948
@Liebherr done

[2019-01-17 13:56] mervey45 commented on #2968
Hi @danmanasoiu,

you are creating a inbound communication user here. So therefore you don't assign to your communication user a role. But you need to assign business catalog SAP_CORE_BC_COM to your user before even starting with this tutorial. I think you have another issue. Please open a ticket for your issue.

Best regards,
Merve

[2019-01-17 14:02] thecodester commented on #2948
@Liebherr Can you look at it and if OK close the issue? Thanks.

[2019-01-17 14:07] mervey45 commented on #2945
@Liebherr done

[2019-01-17 16:10] umbertopanico opened #2973 "SAP HANA XS Advanced, Access a classic schema from an HDI container"
When add hdbgrants:

Processing "cfg/plain.hdbgrants"...  Using service "ServiceName_1" of type "sql"Error: Error executing: GRANT "SELECT","SELECT METADATA" ON SCHEMA "PLAIN" TO "DB_1#OO" WITH GRANT OPTION; (nested message: invalid user name: DB_1#OO: line 1 col 55 (at pos 54))grantor service: "ServiceName_1", type: "sql", user: "SYSTEM"file name: /hana/shared/HXE/xs/app_working/hxehost/execution

[2019-01-17 17:38] Lsubatin commented on #2973
Please refer to the community (answers.sap.com) for support.

That error is probably due to having the user-provided service pointing at a different tenant (e.g., systemdb) from where the container is (first tenant, HXE, mapped to the space).

[2019-01-17 17:38] #2973 closed

[2019-01-17 18:18] NewFolk commented on #2971
**Hi Anish**

The problem is not in double hdfs container run.
The problem is in port 50070. Windows does not allow to bind/use it in my Windows build.
On another PC with 1709 everything ok. Another VM with Win10.1809 does not have this issue too.

I am able run SDH with apache on another port 9870.
So i does not have any issue atm, but in some case 50070 port is forbidden by Windows.

[2019-01-17 18:40] anishgupta85 commented on #2971
Hi ,
I actually wanted to double check with you if there is some other version of hdfs is running or not.
Thanks for sharing the information.
Regards,
Anish

[2019-01-18 06:03] Liebherr commented on #2948
Hi Merve,
following updates I still cannot see
2. new image for trust.png
4. unnecessary step to copy data from metadata file still partly in
7. new image for certificate does not need to be that generic, please take the one given by me, it has dummy data already but shows more realistic what it would look like and what the new description of this step tells
Thanks and Regards
Ulrike

[2019-01-18 07:43] NewFolk commented on #2971
[code]

So 50070 give me error and 9870 is ok

[2019-01-18 08:47] NewFolk commented on #2971
[code]

[2019-01-18 08:50] anishgupta85 commented on #2971
Hi,
Now start first the datahub container as mentioned in the tutorial and then start the hdfs with the same command mentioned in the tutorial with the same port.
Please don't use another port if it gives some error.
Send me back the out Comes of the error and also docker ps command.
I will then again send you back the Information.
regards,
Anish

[2019-01-18 08:54] NewFolk commented on #2971
full log
[code]

[2019-01-18 08:56] anishgupta85 commented on #2971
Hi ,
Now run the command
docker rm 3246aa478973c1629d939757d004e48fcbbf5ebc34cfefa2e1528514093e48e5
re-run the same command of hdfs and I hope you would be able to use the same port then.
Just let me after this.
thanks & regards,
Anish

[2019-01-18 09:00] NewFolk commented on #2971
[code]

[2019-01-18 09:01] anishgupta85 commented on #2971
Hi ,
Please run the below command as the container is not yet created and will be created.
docker run -ti --publish 127.0.0.1:50070:50070 --name hdfs --hostname hdfs --net dev-net datahub run-hdfs
Regards,
Anish

[2019-01-18 09:04] NewFolk commented on #2971
[code]

[2019-01-18 09:06] anishgupta85 commented on #2971
Hoi,
Could you run the below command and send me the outcome
netstat -a -n
Regards,
Anish

[2019-01-18 09:07] NewFolk commented on #2971
[code]

[2019-01-18 09:13] anishgupta85 commented on #2971
Hi ,
Could you provide me the output of the following command from windows Powershell:
Get-NetTCPConnection -LocalPort 50070 | Format-List
Regards,
Anish

[2019-01-18 09:18] NewFolk commented on #2971
[code]

[2019-01-18 09:20] anishgupta85 commented on #2971
Hi,
I don't understand russian so may be if you could translate it for me would be good.
Also it would be good to restart yor PC once.
regards,
Anish

[2019-01-18 09:31] NewFolk commented on #2971
Anish,
Get-NetTCPConnection: No MSFT_NetTCPConnection objects were found with the "LocalPort" property set to "50070". Check the properties and try again.

Anyway 50070 does not used by any process at the moment. It just reserved.
I restart Docker and Windows several times, but it does not help.

I open this issue to inform that some times on some PC it is a problem with reserved ports.
To help ot

[2019-01-18 09:33] anishgupta85 commented on #2971
Hi,
Sure understood your background.
Many thanks.
Regards,
Anish

[2019-01-18 13:43] adozgec commented on #1864
Hi,

"Step 16: Validation" does not accept my input.

The message that appears after running the application after the image classification completed is
Process completed!
Target URL: /ml-dest/imageclassification/classification
for me but step 16 does not accept that.

Thanks

[2019-01-18 19:42] adozgec opened #2975 "Image Similarity Scoring with SAPUI5"
Hi,

submit answer button does not accept answer :

"Process completed!
Target URL: /ml-dest/imagefeatureextraction/feature-extraction"

what can the answer be?

Best regards,

[2019-01-18 20:41] KevinMuessig commented on #2908
@mahabaleshwarhnr I will look into this.

[2019-01-18 20:46] KevinMuessig commented on #2908
@mahabaleshwarhnr This tutorial is outdated, there have been changes in the Onboarding Flows with version 3.1 of the SDK. There will be a new release anytime soon with more major changes to the Onboarding. We're currently working on updating all the tutorials to the newest version.
Excuse the inconvenience, but I would like you to wait until we've completed the update process of the tutorials befo

[2019-01-18 20:47] KevinMuessig commented on #2810
Hi @VivekRajKM, is the issue still there?

[2019-01-19 21:08] mahabaleshwarhnr commented on #2908
Thanks for the reply. Please let me know when can i expect this tutorial.

[2019-01-21 08:50] Apfohlmann commented on #2805
Thank you for your help@boghyon.

Have you completed the two previous tasks listed in the tutorial group? https://developers.sap.com/group.cp-apm-full-stack-app.html

[2019-01-21 09:03] boghyon commented on #2805
@Apfohlmann Yes, I did. I was doing the mentioned tutorials sequentially one by one.

[2019-01-21 09:42] boghyon opened #2976 "Create a Business Service Using CDS - update screenshot in Step 1"
Currently, the second screenshot in the [step 1](https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html#4572ff25-693b-4de1-8da1-9eff99cd34fa) looks as follows:

![web-ide-create-template-for-scp-business-application-old](https://user-images.githubusercontent.com/12143247/51465653-9e3b4700-1d68-11e9-9f6e-f0f86eb02b7b.gif)

## Issue
It encourages `my.company` as the _Java Packag

[2019-01-21 11:55] julieplummer20 commented on #2772
Hi Lucas, Sorry, it will take longer to set up the new system. I will let you know when we get the new system.

[2019-01-22 07:44] Apfohlmann commented on #2805
@boghyon can you provide any additional information? Do you get the same error message as mentioned above?

[2019-01-22 08:55] thecodester commented on #2528
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2019-01-22 08:55] #2528 closed

[2019-01-22 14:34] #2526 closed

[2019-01-22 19:50] KevinMuessig commented on #2803
We decided to take it offline for now because it is outdated. I will update the tutorial as soon as possible. Let me give you a solution in the meantime. I will answer you as soon as possible.

[2019-01-23 01:39] xudeli00 opened #2980 "SAP HANA, XS Advanced - Access an external HTTP service"
Could you kindly prove the tutorial of how to access https service also? HTTPS is more and more prevalent today.

[2019-01-23 04:42] teejay-tarun opened #2981 "SAP HANA XS Advanced, explore the basic tools"
Submit button doesn't work.

[2019-01-23 11:12] Apfohlmann commented on #2976
@boghyon thank you for raising this issue. We just fixed it. We also replaced the first picture as it showed an old label for SAP Cloud Platform Business Application.

From my side, this ticket can be closed.

[2019-01-23 12:21] #2976 closed

[2019-01-24 01:20] teejay-tarun commented on #2981
Whenever Done / Submit button was pressed nothing was happening yesterday.
It is working fine now.

[2019-01-24 01:20] #2981 closed

[2019-01-24 22:31] bask-alur-gh opened #2988 "Import your SAP Build project into SAP Web IDE"
Getting an error "ReferenceError: 'TextDecoder' is not defined" when I click 'Finish' at Step7, which prevents the saving of the newly created project.  Unable to proceed to Step8 due to this.  Kindly check, thanks.

[2019-01-25 08:30] michelde opened #2990 "Installing SAP HANA, express edition Server + Apps, with Docker"
Wrong URL at chapter 14:
**https://help.sap.com/viewer/product/SAP_HANA,_EXPRESS_EDITION**

correct:
**https://help.sap.com/viewer/p/SAP_HANA,_EXPRESS_EDITION**

[2019-01-25 08:50] michelde opened #2991 "SAP HANA Docker Upgrade HXE - missing root password"
When trying to upgrade HXE I need to run the `sudo ./hxe_upgrade.sh `script as root. But nowhere I can find a hint to the root password.
I follow the documentation from [SAP HANA EXPRESS HELP](https://help.sap.com/viewer/8c3bbc4a904d42efac77c09da0bccf64/2.0.03/en-US/f14b7cf96be74e1fa9f73be9a8926067.html)

[2019-01-25 13:57] DusanSacha opened #2993 "Create and Expose Core Data Services Based on a Database Table"
Hi,

there is a wrong screenshot in following tutorial:
[Create and Expose Core Data Services Based on a Database Table](https://developers.sap.com/tutorials/abap-environment-create-cds-view.html)

Step 12: Open SAP Fiori elements view
In Step 12.1. we are opening ElementSet Bookings - item - to_Country
In Step 12.4 and Step 12.6 the used screenshots are from some Currency ElementSet

Solution:
Ch

[2019-01-28 00:59] sunilchandra007 opened #2995 "Create a Business Service Using CDS"
Hello,

I am trying to create a business service using the tutorial - https://developers.sap.com/tutorials/cp-apm-01-create-business-service.html

It always fails in step 1.5 once Finish is pressed. This step was working fine 2 weeks back and started giving error in last 4 days.

Regards,
Sunil Chandra

[2019-01-28 07:56] Apfohlmann commented on #2995
Hello @sunilchandra007 ,

I just tried it from my SAP Cloud Platform trail account´s Web IDE. It worked.

Did you check your system for the following:

1. If you have a trail account: Is the account still active (not expired)?
2. Is your builder up to date?
3. Did you maybe run out of memory?
4. Are there any logs inside Web IDE you can provide?

Thank you for your help.

Best regards,
André

[2019-01-28 08:19] mervey45 commented on #2993
Hi @DusanSacha,

thank you for your feedback. I'll change it. My colleague did those changes. I'll change it asap.

Best regards,
Merve

[2019-01-28 10:02] songrui01 commented on #2991
You could the following command to login/set root password.
1. docker exec -it -u root containerName bash
2. passwd

[2019-01-28 13:20] JCurrie27 commented on #2990
@aplata-sap - Please update the URL in step 14 of https://developers.sap.com/tutorials/hxe-ua-install-using-docker-xsa.html. Thanks.

[2019-01-28 15:20] sunilchandra007 commented on #2995
Thanks @Apfohlmann. The clueless issue finally got resolved after reinstalling the builder.

Regards,
Sunil Chandra

[2019-01-28 15:20] #2995 closed

[2019-01-29 12:38] thecodester commented on #2993
https://github.com/SAPDocuments/Tutorials/pull/2977

[2019-01-29 12:38] #2993 closed

[2019-01-29 15:06] Kiemes opened #2999 "Installing SAP HANA HDB Client (Mac)"
Hi colleagues,
I would like to download and install the SAP HANA HDB Client for Mac.
I have a hard time to do that since already in step 1.2 I cannot find the "Image" menu.
Are we talking about some different "Download Managers"?
I got mine from https://support.sap.com/en/my-support/software-downloads.html#section_995042677
Thanks

[2019-01-29 16:26] NewFolk opened #3002 "SAP HANA, express"
https://developers.sap.com/cis/tutorials/hxe-ua-install-using-docker-xsa.html

[2019-01-29 16:26] NewFolk opened #3003 "SAP HANA express Docker + Synology DS918+ 16Gb"
Hello,
I am trying to install hanaexpressxsa to synology DS918+ 16 RAM.
I am follow https://developers.sap.com/cis/tutorials/hxe-ua-install-using-docker-xsa.html
But i am stuck on

[code]

instance does not created after 2 hours and never.

I know that is not perfect hardware.
But could you help me. Where are the logs of apps located, where i could take a look?